<style>
      .cropit-image-preview {
        background-color: #f8f8f8;
        background-size: cover;
        border: 1px solid #ccc;
        border-radius: 3px;
        margin-top: 7px;
  margin-left: 80px;
        width: 250.25px;
        height: 78.25px;
        cursor: move;
      }

      .cropit-image-background {
        opacity: .9;
        cursor: auto;
      }

      .image-size-label {
        margin-top: 10px;
      }

      input {
        display: block;
      }

      .export {
        margin-top: 10px;
      }
    </style>
<?php echo $this->tag->javascriptInclude("themes/customize/js/ckeditor/ckeditor.js"); ?>
<div class="container top_margin" style="margin-top:70px; margin-bottom: 90px;background-color:#fff;border:1px solid #efefef">

  <div class="row">
      <div class="col-md-12 bg-primary container" style="margin-bottom:25px;">
        <h1>Add a Image Cover</h1>
        <p>Please note: This photo will not appear in search results until it has been approved by our moderators.</p>
      </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <?php $this->partial("layouts/elements/profile_widget"); ?> 
    </div>
  <div class="col-md-6 bg-white">
    <div class="container containerBorder col-md-12 top_margin">
      <div class="col-md-12">
        <div class="col-md-12">
        <h2 class="line-height-50 colorBlue"><strong><?php echo Phalcon\Tag::linkTo('business/view/'.$business->id, $business->name); ?></strong><strong class="text-danger"> : Add photo</strong></h2>
<?php  echo Phalcon\Tag::form(array("business/cropit/".$business->id, "method" => "post", "enctype"=>"multipart/form-data", "id" => "croppedImgForm")); ?>

      <div class="image-editor">
        <input type="file" class="cropit-image-input">
        <div class="cropit-image-preview"></div>
        <div class="image-size-label">
          Resize image
        </div>
        <input type="range" class="cropit-image-zoom-input">
        <input type="hidden" name="image-data" class="hidden-image-data" />
        <?php if (isset($review_id)) {
      echo '<input name="review_photo" type="hidden"  value="'.$review_id.'">';
    } else {
      echo '<input name="review_photo" type="hidden"  value="0">';
    }?>
        <div class="image-size-label">
          Caption
        </div>
        
        <textarea type="textarea" rows="2" class="ckeditor" name="caption" ></textarea><br>
        <button class="pull-right btn btn-primary" class="btn btn-primary" type="submit">Submit</button>
      </div>
    </form>
          
        </div>
      
        <div class="col-md-12">
          <div class="container col-md-12 ">
            <div id="result-data">
              
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
  <div class="col-md-3">
    <img id="imgPreview" src="#" alt="your image" class="hidden img-responsive img-rounded img-thumbnail"/>
  </div>
  </div>
  
  
</div>
<?php echo $this->tag->javascriptInclude("js/crop.js"); ?>
<script type="text/javascript">
  $(document).ready(function(){
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#imgPreview').attr('src', e.target.result);
                $('#imgPreview').removeClass('hidden');
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#photo").change(function(){
        readURL(this);
    });

    
    

    $('.image-editor').cropit({height: 313, width: 1001});

        $('form').submit(function() {
          // Move cropped image data to hidden input
          var imageData = $('.image-editor').cropit('export');
          $('.hidden-image-data').val(imageData);

          // Print HTTP request params
          var formValue = $(this).serialize();
          $('#result-data').text(formValue);

          console.log(formValue);
          "<?php $encoded = "+formValue+"; ?>"



        });
  });
</script>
