<?php //echo $this->tag->javascriptInclude("themes/customize/js/ckeditor/ckeditor.js"); ?>
<link rel="stylesheet" href="http://lab.lepture.com/editor/editor.css" />
<script type="text/javascript" src="http://lab.lepture.com/editor/editor.js"></script>
<script type="text/javascript" src="http://lab.lepture.com/editor/marked.js"></script>
<style type="text/css">
	#radioBtn .notActive{
    color: white;
    background-color: #fff;
}

#radioBtn .active{
    color: white;
    background-color: #023283;
}

.help-block{
color: red;
}
</style>
<div class="body-wrapper" style="margin-top:110px;"> <!-- start body wrapper -->
  <div class="container"  style=" background:#fff"> <!-- start body wrapper container-fluid -->
    <div class="row" > <!-- start body wrapper row -->

		<div style="margin-bottom:20px;"><!-- page wrapper body -->


			<!-- start left panel -->
			<div class="col-md-3" style="">
				<?php $this->partial("layouts/elements/profile_widget"); ?>	
			</div>

			<!-- start mid panel -->
			<div class="col-md-6" style="">


				<div class="col-md-12 bottom-hr">
					<div class="col-md-12">
					
					<!-- error panel start-->
					<?php //$this->flash->output(); ?>
					<!--error panel end -->
					<h3 class="text-primary border_bottom"><strong>Complete your review - <?php 
						$counter = 1;
						foreach ($business->BusinessCategoryLists as $key => $businessCategoryList) {
							if ($counter == 1) {
								$mainTitle = $businessCategoryList->businesscategories->main_title;
								$counter++;


							}
						}
						echo $mainTitle;
					?></strong></h3>
					</div>
					<div class="col-md-7">
						<h2 class="line-height-50 colorBlue"><?php echo Phalcon\Tag::linkTo('business/view/'.$business->id, $business->name); ?></h2>
					</div>
					<div class="col-md-5">
						<p class="line-height-80">
						<span class="glyphicon glyphicon-map-marker"></span><?php echo $business->city;?>
						<?php echo $business->country_code_id;?></p>
					</div>
				</div>
				<div class="col-md-12">
					<div class="padding-10 col-md-12">
						<?php  echo Phalcon\Tag::form(array("review/add/".$business->id, "method" => "post",'id' => 'ratingsForm')); ?>					<small style="color:red;font-weight:bold;">Ratings:</small>						
							<div class="stars">
								<input type="radio" value="1" name="rate" class="star-1" id="star-1" />
								<label class="star-1" for="star-1" data-toggle="tooltip" title="Hmmm...I don't think so.">1</label>
								<input type="radio" value="2" name="rate" class="star-2" id="star-2" />
								<label class="star-2" for="star-2" data-toggle="tooltip" title="Not so bad.">2</label>
								<input type="radio" value="3" name="rate" class="star-3" id="star-3" />
								<label class="star-3" for="star-3" data-toggle="tooltip" title="Just fine.">3</label>
								<input type="radio" value="4" name="rate" class="star-4" id="star-4" />
								<label class="star-4" for="star-4" data-toggle="tooltip" title="Cool! I am a fan.">4</label>
								<input type="radio" value="5" name="rate" class="star-5" id="star-5" />
								<label class="star-5" for="star-5" data-toggle="tooltip" title="Perfect! This is exactly what I need.">5</label>
								<span></span>
							</div>
							
							<div class="form-group">
								<input type="hidden" name="mainTitle" id="mainTitle" value="<?php echo $mainTitle; ?>"/>
							</div>
							<div id="reviewContent" class="editor-wrapper">
								<textarea id="editor" name="review" placeholder="your review helps others learn about great local businesses" class="form-control" rows="5"></textarea>
							</div>
							<!--<div class="form-group">
								<label> Write a review for this business</label>
								<textarea name="review" type="textarea" rows="5" class="ckeditor form-control" placeHolder="Your review help others learn about great local businesses"></textarea>
							</div>-->
							<br>
							<?php $this->partial("review/review_options/option_resta"); ?>
							<?php $this->partial("review/review_options/option_auto"); ?>
							<?php $this->partial("review/review_options/option_activelife"); ?>
							<?php $this->partial("review/review_options/option_art"); ?>
							<?php $this->partial("review/review_options/option_local"); ?>
							<?php $this->partial("review/review_options/option_bicycle"); ?>
							<?php $this->partial("review/review_options/option_education"); ?>
							<?php $this->partial("review/review_options/option_public"); ?>
							<?php $this->partial("review/review_options/option_religious"); ?>
							<?php $this->partial("review/review_options/option_massmedia"); ?>
							<?php $this->partial("review/review_options/option_food"); ?>
							<?php $this->partial("review/review_options/option_spa"); ?>
							<?php $this->partial("review/review_options/option_med"); ?>
							<?php $this->partial("review/review_options/option_home"); ?>
							<?php $this->partial("review/review_options/option_localservice"); ?>
							<?php $this->partial("review/review_options/option_pet"); ?>
							<?php $this->partial("review/review_options/option_financial"); ?>
							<?php $this->partial("review/review_options/option_professional"); ?>
							<?php $this->partial("review/review_options/option_event"); ?>
							<?php $this->partial("review/review_options/option_hotel"); ?>
							<?php $this->partial("review/review_options/option_real"); ?>
							<?php $this->partial("review/review_options/option_shop"); ?>

							<?php $this->partial("review/review_options/review_options"); ?>

							<div class="form-group">
							  <div class="">
							  	<?php echo Phalcon\Tag::linkTo(array('business/view2/'.$business->id, 'Cancel', 'class' => 'btn btn-danger width50')); ?>
								<button id="postSubmit" type="submit" class="btn btn-primary width50" disabled>&nbsp;Post&nbsp;</button>
							  </div>
							</div>
						<?php  echo Phalcon\Tag::endForm(); ?>
					</div>
				</div>

			</div>

			<!-- start right panel -->
			<div class="col-md-3" style="">
				<h4 class="text-primary rev_head"><strong>Review for <?php echo $business->name; ?></strong></h4>
			
				<?php foreach ($reviews as $key => $review) { ?>



  <div class="col-sm-6 col-md-12 " style="padding:0px;margin:0px">
    <div class="panel panel-default"><!-- start panel classifieds -->

      <div class="panel-body">


			<div class="media" >
				<div class="pull-left">
				<?php 
					$memberPhotos = MemberPhotos::findFirst(array('member_id="'.$review->member_id.'"', 'primary_pic="Yes"'));
					$profilePic = 'http://placehold.it/250x250&text=NO+PROFILE+PIC';
					if(isset($memberPhotos->filename)) {
						$profilePic = $memberPhotos->file_path.$memberPhotos->filename;
					}
					?>
				<?php echo Phalcon\Tag::image(array($profilePic, 'class' => 'img-responsive', 'style' => 'width:50px')); ?>
				</div>

				<div class="media-body">
					<span class="media-heading">
						<div style="height:47px;text-overflow:ellipsis;text-align:initial;white-space:wrap;color:#000;overflow: hidden;line-height:90%">
							<small><?php echo $review->content; ?></small>
						</div>
					</span>
					  
				<?php
				echo 'sample';
						$rate = $review->rate;
						$tooltipRating = '';
						if ($rate == 1) {
							$tooltipRating = "1 salakot- Hmmm...I don't think so.";
						} else if ($rate == 2) {
							$tooltipRating = "2 salakots- Not so bad.";
						} else if ($rate == 3) {
							$tooltipRating = "3 salakots- Just fine.";
						} else if ($rate == 4) {
							$tooltipRating = "4 salakots- Cool! I am a fan.";
						} else if ($rate == 5) {
							$tooltipRating = "5 salakots- Perfect! This is exactly what I need.";
						}
				?>
				<div class="rating1" style="flmargin:5px 0px; padding:5px 0px">
					<i  class="salakot-img salakot_<?php echo $review->rate;?>_0" data-toggle="tooltip" title="<?php echo $tooltipRating;?>">&nbsp;</i>
				</div>


				</div>


				<strong class="pull-left">
					<?php echo Phalcon\Tag::linkTo('member/page/'.$review->member_id, $review->Members->first_name.' '.substr($review->Members->last_name, 0, 1).'.'); ?>
				</strong>
				<strong class="pull-right">
					<small class="muted"><?php echo date('m/d/Y', strtotime($review->created)); ?></small>
					</strong>

			</div>



      </div>
    </div><!-- end panel classifieds -->
  </div>


				
				<?php } ?>
			</div>

		</div><!-- end page wrapper body -->

	</div><!-- end body wrapper row -->
  </div><!-- end body wrapper container-fluid -->
</div><!-- end body wrapper -->


<script type="text/javascript">
	$(document).ready(function() {
		//$('#reviewContent').hide();

		$('#divCaters').hide();
		$('#divWifi').hide();
		$('#divHastv').hide();
		$('#divPricerange').hide();
		$('#divCreditcard').hide();
		$('#divParking').hide();
		$('#divBikeparking').hide();
		$('#divAttire').hide();
		$('#divGroups').hide();
		$('#divKids').hide();
		$('#divReservations').hide();
		$('#divDelivery').hide();
		$('#divTakeaway').hide();
		$('#divOutdoor').hide();
		$('#divNoise').hide();
		$('#divWaiter').hide();
		$('#divAlcohol').hide();
		$('#divAmbience').hide();

		var mainTitle = $('#mainTitle').val();
		switch(mainTitle) {
	    case 'Restaurants':
	        $('#divCaters').show();
		$('#divWifi').show();
		$('#divHastv').show();
		$('#divPricerange').show();
		$('#divCreditcard').show();
		$('#divParking').show();
		$('#divBikeparking').show();
		$('#divAttire').show();
		$('#divGroups').show();
		$('#divKids').show();
		$('#divReservations').show();
		$('#divDelivery').show();
		$('#divTakeaway').show();
		$('#divOutdoor').show();
		$('#divNoise').show();
		$('#divWaiter').show();
		$('#divAlcohol').show();
		$('#divAmbience').show();
	        break;
	    case 'Shopping':
	        $('#divWifi').show();
	        $('#divPricerange').show();
		$('#divCreditcard').hide();
	        break;
	    case 'Real Estate':
	        $('#divPricerange').show();
		$('#divCreditcard').show();
	        break;
	    case 'Pets':
	        $('#divCreditcard').show();
		$('#divParking').show();
		$('#divBikeparking').show();
	        break;
	    case 'Religious Organizations':
	    	// do nothing
	    	break;
	    case 'Active Life':
	    	$('#divParking').show();
		$('#divBikeparking').show();
		$('#divAttire').show();
		$('#divGroups').show();
		$('#divKids').show();
	    	break;
	    case 'Arts & Entertainment':
		$('#divPricerange').show();
		$('#divCreditcard').show();
	    	//$('#artoptions').show();
	    	break;
	    case 'Automotive':
	    	$('#divHastv').show();
		$('#divPricerange').show();
		$('#divCreditcard').show();
		$('#divParking').show();
		$('#divBikeparking').show();
	    	break;
	    case 'Beauty & Spas':
		$('#divPricerange').show();
	    	//$('#spaoptions').show();
	    	break;
	    case 'Bicycles':
	    	//$('#bicycleoptions').show();
	    	break;
	    case 'Education':
		$('#divPricerange').show();
	    	//$('#educoptions').show();
	    	break;
	    case 'Event Planning & Services':
		$('#divPricerange').show();
		$('#divCreditcard').hide();
	    	//code block
	    	break;
	    case 'Financial Services':
		$('#divPricerange').show();
		$('#divCreditcard').hide();
	    	//code block
	    	break;
	    case 'Food':
		$('#divPricerange').show();
		$('#divCreditcard').hide();
	    	//$('#foodoptions').show();
	    	break;
	    case 'Health & Medical':
	    	$('#divPricerange').show();
		$('#divCreditcard').show();
	    	break;
	    case 'Home Services':
	    	//$('#homeoptions').show();
	    	break;
	    case 'Hotels & Travel':
	    	$('#divCreditcard').show();
		$('#divReservations').show();
		$('#divAmbience').show();
	    	break;
	    case 'Local Flavor':
		$('#divPricerange').show();
	    	//$('#localoptions').show();
	    	break;
	    case 'Local Services':
		$('#divPricerange').show();
	    	//$('#localserviceoptions').show();
	    	break;
	    case 'Mass Media':
	    	//$('#massmediaoptions').show();
	    	break;
	    case 'Nightlife':
		$('#divPricerange').show();
	    	//code block 
	    	break;
	    default:
	        //
	        break;
		}
		$('#radioBtn a').on('click', function(){
		    var sel = $(this).data('title');
		    var tog = $(this).data('toggle');
		    $('#'+tog).prop('value', sel);
		    
		    $('a[data-toggle="'+tog+'"]').not('[data-title="'+sel+'"]').removeClass('active').addClass('notActive');
		    $('a[data-toggle="'+tog+'"][data-title="'+sel+'"]').removeClass('notActive').addClass('active');
		})

		$('.stars > input[type="radio"]').on('click', function() {
			if ($('#editor').val() != '') {
				$('#postSubmit').removeAttr('disabled');
			} else {
				$('#postSubmit').prop('disabled', true);
				$('#reviewContent').show();
			}
		});

		$('#editor').keyup(function() {
			if ($(this).val() != '') {
				$('#postSubmit').removeAttr('disabled');
			} else {
				$('#postSubmit').prop('disabled', true);
			}
 		});


		$('#ratingsForm').bootstrapValidator({
            message: 'This value is not valid',
	        feedbackIcons: {
	            valid: 'glyphicon glyphicon-ok',
	            invalid: 'glyphicon glyphicon-remove',
	            validating: 'glyphicon glyphicon-refresh'
	        },
	        excluded: ':disabled',
	        fields: {
	            rate: {
	                validators: {
	                    notEmpty: {
	                        message: '* Required, you need to rate this business - to rate please double click the salakot.'
	                    }
	                }
	            },
	            review: {
	                validators: {
	                    notEmpty: {
	                        message: '* Required, you need to write a review for this business.'
	                    }
	                }
	            }

            }
        });



		$('[data-toggle="popover"]').popover({
			html:true
		});
		$('.rate').click( function(){
			var rate = $(this).data('rate');
			$('#rate').val(rate);
		});
		
		$('.price').on('mouseenter', function(){
			var rate = $(this).data('rate');
			if(rate == 1){
				$('.price-info-preview').text('$ = Cheap, Under $10');
			}
			if(rate == 2){
				$('.price-info-preview').text('$$ = Moderate, $11 - $30');
			}
			if(rate == 3){
				$('.price-info-preview').text('$$$ = Spendy, $31 - $60');
			}
			if(rate == 4){
				$('.price-info-preview').text('$$$$ = Splurge, Above $61');
			}
		}).on('mouseleave', function(){
			$('.price-info-preview').text('Roll over price, then click to vote');
		}).on('click', function(){
			var rate = $(this).data('rate');
			$('#priceRate').val(rate);
		});

		$('#moreSurveyLink').on('click', function(){
			$('#moreSurveys').toggleClass('hidden');
		});


		$('#resoptions, #autooptions, #activeoptions, #artoptions, #localoptions, #bicycleoptions, #educoptions, #publicoptions,#religiousoptions, #massmediaoptions, #foodoptions, #spaoptions, #medoptions, #homeoptions, #localserviceoptions, #petoptions, #financialoptions, #profoptions, #eventoptions, #hoteloptions, #realoptions, #shopoptions').hide();

		

		$('.cke_top cke_reset_all').hide();
		$('#cke_1_top').hide();
	});
</script>
<script type="text/javascript">
	(function($) {

          var editor = new Editor();
          editor.render();

    })(Zepto);
</script>
