<?php echo $this->tag->stylesheetLink("themes/mybarangay1/css/select2.min.css"); ?>
<?php echo $this->tag->javascriptInclude("themes/mybarangay1/js/select2.min.js"); ?>

<?php echo $this->tag->stylesheetLink("themes/customize/css/bootstrapValidator/bootstrapValidator.min.css"); ?>

<div class="body-wrapper" style="margin-top:110px;"> <!-- start body wrapper -->
  <div class="container"  style=" background:#fff"> <!-- start body wrapper container-fluid -->
    <div class="row" > <!-- start body wrapper row -->

  <div style="margin-bottom:20px;"><!-- page wrapper body -->
  
   <!-- start left panel -->
   <div class="col-md-3" style="">
      <?php if ($userSession['type'] == 'Member') { ?>
        <?php $this->partial("layouts/elements/profile_widget"); ?>
      <?php } else { ?>
        <?php $this->partial("layouts/elements/business_profile_widget"); ?>
      <?php } ?>
   </div>
   <!-- end left panel -->


      <div class="col-md-6" > <!-- start col-md-6 -->
        <!-- error panel start-->
          <?php  
            if ($this->session->has("new_business_validation")) {
                $message = $this->session->get("new_business_validation");

              echo "<script>alert('".$message. "')</script>";
                $this->session->remove("new_business_validation");
            }
          ?>
          <!--error panel end -->
        <?php echo Phalcon\Tag::form(array("review/new_business", "method" => "post", "id" => "newBusiness")); ?>
            <div class="col-md-12">
            <div class="form-group">
            <?php if ($this->session->has("oldInputs")) {
     //          $oldInput = $this->session->get("oldInputs");
     //          $businessName = $oldInput['name'];
     //          $website = $oldInput['website'];
     //          $email  = $oldInput['email'];
     //          $telephone = $oldInput['telephone'];
     //          $street = $oldInput['street'];
     //          $city = $oldInput['city'];
			  // $state = $oldInput['state'];
			  // $postal_code = $oldInput['postal_code'];
     //          $countryId = $oldInput['country_id'];
     //          $rate = $oldInput['rate'];
     //          $review = $oldInput['review'];
     //          $opened = $oldInput['opened'];
     //          $this->session->remove("oldInputs");
            }?>
              <label>Business Name</label>
            <?php if (isset($businessName)): ?>
              <input name="name" type="text" class="form-control" value="<?= $businessName ?>" placeholder="Business Name" >    
            <?php else:?>
              <input name="name" type="text" class="form-control" placeholder="Business Name" > 
            <?php endif;?>
            </div>
            <div class="form-group">
              <label>Website Address</label>
            <?php if (isset($website)): ?>
              <input name="website" type="text" class="form-control" value="<?= $website ?>" placeholder="http://example.ca">
            <?php else: ?>
              <input name="website" type="text" class="form-control" placeholder="http://example.ca">
            <?php endif; ?>
            </div>
            <div class="form-group">
              <label>Email Address</label>
            <?php if (isset($email)): ?>
              <input name="email" type="text" class="form-control" value="<?= $email ?>" placeholder="juan.delacruz@example.ca">
            <?php else: ?>
              <input name="email" type="text" class="form-control" placeholder="juan.delacruz@example.ca">
            <?php endif; ?>
            </div>
            <div class="form-group">
              <label>Telephone</label>
            <?php if (isset($telephone)): ?>
              <input name="telephone" type="text" class="form-control" value="<?= $telephone ?>" placeholder="(222) 222-2222">
            <?php else: ?>
              <input name="telephone" type="text" class="form-control" placeholder="(222) 222-2222">
            <?php endif; ?>
            </div>
			<div class="form-group">
              <label>Apt No.</label>
              <input name="apt_no" type="text" class="form-control" placeholder="Apartment/Building/Room No.,">
            </div>
            <div class="form-group">
              <label>Street</label>
            <?php if (isset($street)): ?>
              <input name="street" type="text" class="form-control" value="<?= $street ?>" placeholder="Street/Block No.,">
            <?php else: ?>
              <input name="street" type="text" class="form-control" placeholder="Street/Block No.,">
            <?php endif; ?>
            </div>

            <div class="form-group">
              <label>Country</label>
              <select id="country_code" name="country_id"  type="select" class="form-control">
                  <option value="">Select Country</option>
                <?php $countryCodes = CountryCodes::find();
                      foreach ($countryCodes as $country_code) { ?>
                        <option value="<?php echo $country_code->id; ?>"><?php echo $country_code->country_name; ?></option>
                <?php } ?>
              </select>
            </div>

            <div class="form-group">
              <label>State or Province</label>
              <select id="state" name="state"  type="select" class="form-control">
              </select>
            </div>

            <div class="form-group">
              <label>City</label>
              <select id="city" name="city"  type="select" class="form-control">
              </select>
            </div>

            <div class="form-group">
              <label>Postal Code / Zip Code</label>
            <?php if (isset($postal_code)): ?>
              <input name="postal_code" type="text" class="form-control" value="<?= $postal_code ?>" placeholder="Postal Code">
            <?php else: ?>
              <input name="postal_code" type="text" class="form-control"  placeholder="Postal Code">
            <?php endif; ?>
            </div>

            
            <div class="form-group">
              <label>Category</label>
              <small>Select up to 3 categories. The more specific the better.</small>
              <div id="selectedCategories">
              </div>
              <input type="hidden" name="business_category_ids" id="businessCategoryIds">
              <select name="business_category_id"  type="select" class="form-control js-data-example-ajax" id="businessCategories" placeholder="Select categories">
                
              </select>
            </div>
            <!-- <div class="form-group">
              <label>Sub-category</label>
              <select name="business_sub_category_id"  type="select" class="form-control" id="businessSubCategories">
                  <option value="">Select sub-category</option>
                
              </select>
            </div>
            <div class="form-group">
              <label>Sub-category A </label>
              <select name="business_asub_category_id"  type="select" class="form-control" id="businessSubCategoriesA">
                  <option value="">Select sub-category a</option>
                
              </select>
            </div> -->
            <div class="form-group">
              <div class="checkbox">
                    <label>
                      <input type="checkbox" name="opened"> This business recently opened or is opening soon
                    </label>
                  </div>
            </div>
            
            <?php if($userSession['type'] != "Business"): ?>
            <div class="form-group" id="reviewBox2">
              <div class="checkbox">
                    <label>
                      <input type="checkbox" id="checkToReview" checked> Write a review for this business
                    </label>
                  </div>
            </div>
            <div class="" id="reviewBox">
              <!-- <div class="form-group">
                <span class="fa fa-star btn btn-success btn-xs rate" data-rate="1"></span>&nbsp;<span class="fa fa-star btn btn-success btn-xs rate" data-rate="2"></span>&nbsp;<span class="fa fa-star btn btn-danger btn-xs rate" data-rate="3"></span>&nbsp;<span class="fa fa-star btn btn-danger btn-xs rate" data-rate="4"></span>&nbsp;<span class="fa fa-star btn btn-warning btn-xs rate" data-rate="5"></span>
                <input name="rate" type="text" class="hidden" id="rate">
              </div>
               -->
              
                <div class="form-group">
                 <div class="stars">
                <input type="radio" name="rate" class="star-1" id="star-1" />
                <label class="star-1" for="star-1">1</label>
                <input type="radio" name="rate" class="star-2" id="star-2" />
                <label class="star-2" for="star-2">2</label>
                <input type="radio" name="rate" class="star-3" id="star-3" />
                <label class="star-3" for="star-3">3</label>
                <input type="radio" name="rate" class="star-4" id="star-4" />
                <label class="star-4" for="star-4">4</label>
                <input type="radio" name="rate" class="star-5" id="star-5" />
                <label class="star-5" for="star-5">5</label>

                <span></span>
                </div>  
              </div>
              <div class="form-group">
                <label> Write a review for this business</label>
                <textarea name="review" type="textarea" class="form-control" placeHolder="Start your review..."></textarea> 
              </div>
            </div>
          <?php endif; ?>
            <div class="form-group">
              <div class="text-center">
              <button type="submit" class="btn btn-primary width100">Add Business</button>
              </div>
            </div>
            <br/>

            </div>
        <?php echo Phalcon\Tag::endForm(); ?>
        <br>
      </div> <!-- end col-md-6 -->


   <!-- start right panel -->
      <div class="col-md-3" >
        <h1 class="text-danger"><strong>Negosyo</strong></h1>
        <h3>Get your business listed in <span class="text-primary"><strong>MyBarangay</strong></span>.</h3>
        <div class="col-md-10 col-md-offset-1">
        <?php echo Phalcon\Tag::image(array("themes/mybarangay1/img/biz/new_biz.jpg", 'class' => 'img-responsive img-rounded img-block')); ?>
        </div>
    </div>
   <!-- end right panel -->

  </div><!-- end page wrapper body -->

 </div><!-- end body wrapper row -->
  </div><!-- end body wrapper container-fluid -->
</div><!-- end body wrapper -->


<?php echo $this->tag->javascriptInclude("themes/customize/js/bootstrapValidator/bootstrapValidator.min.js"); ?>

<script type="text/javascript">
  $(document).ready(function() {
	$('#reviewBox2').hide();
	$('#reviewBox').hide();
    //$('#state').append('<option value="1">adsf</option>');
    $('#newBusiness').bootstrapValidator({
            message: 'This value is not valid',
          feedbackIcons: {
              valid: 'glyphicon glyphicon-ok',
              invalid: 'glyphicon glyphicon-remove',
              validating: 'glyphicon glyphicon-refresh'
          },
          fields: {
              name: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },
              street: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },
              city: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },
              // country_id: {
              //     validators: {
              //         notEmpty: {
              //             message: '* Required'
              //         }
              //     }
              // },
              state: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              }


              // ,
              // rate: {
              //     validators: {
              //         notEmpty: {
              //             message: '* Required'
              //         }
              //     }
              // },
              // review: {
              //     validators: {
              //         notEmpty: {
              //             message: '* Required'
              //         }
              //     }
              // }

            }
        });
    // country change
    $('#country_code').change(function() {
        var action = '<?= $this->url->getBaseUri() . "review/" ?>getStates/'; 
        var param  = $('#country_code').val();
        var link = action.concat(param);
         $.ajax({
            url: link,
            type: 'GET',
            dataType: 'json',
            success: function(data){
              var selectstate = '<option value="">Select State</option>';
                $.each(data, function(i, item) {
                  selectstate += '<option value="'+data[i].id+'">'+data[i].name+'</option>';
                });
                $('#state').html('');
                $('#city').html('');
                $('#state').append(selectstate);
                // $.each(data, function(i, item) {
                //   alert(item.name);
                // });

              $('#state').change(function() {
                  var action = '<?= $this->url->getBaseUri() . "review/" ?>getCities/'; 
                  var param  = $('#state').val();
                  var link = action.concat(param);
                   $.ajax({
                      url: link,
                      type: 'GET',
                      dataType: 'json',
                      success: function(data){
                        var selectcity = '<option value="">Select City</option>';
                          $.each(data, function(i, item) {
                            selectcity += '<option value="'+data[i].id+'">'+data[i].name+'</option>';
                          });
                          $('#city').html('');
                          $('#city').append(selectcity);
                          // $.each(data, function(i, item) {
                          //   alert(item.name);
                          // });

                      },
                      error: function(){
                          alertify.alert("sorry for the inconvenience. fetching data from our server failed. please refresh and try again");
                      }
                 });
              }); 
            },
            error: function(){
                alertify.alert("sorry for the incovenience, fetching data from our server failed. please refresh and try again");
            }
       });
    }); 



    $('[data-toggle="tooltip"]').tooltip();

    // $('.rate').on('click', function(){
    //  var rate = $(this).data('rate');
    //  $('#rate').val(rate);
    // });
    // $('#checkToReview').on('click', function(){
    //  var bootstrapValidator = $('#newBusiness').data('bootstrapValidator');
    //  if($('#checkToReview').is(":checked")) {
    //    bootstrapValidator.enableFieldValidators('rate', true);
    //    bootstrapValidator.enableFieldValidators('review', true);
    //  } else {
    //    bootstrapValidator.enableFieldValidators('rate', false);
    //    bootstrapValidator.enableFieldValidators('review', false);
    //  }
    //  $('#reviewBox').toggleClass('hidden');
    // });

    $('#businessCategories').on('change', function(){
      var id = $(this).attr('id');
      var div = $('div.category_item #'+id);
      
      if(div.length){
        div.remove();
        $('#businessCategories option[value=' + id + ']').remove();
      }
      if($('#businessCategories option').length < 4) {
        $('#selectedCategories').html($(this).text());
        var values = $.map($('#businessCategories option'), function(e) { return e.value; });
        values.join(',');
        $('#businessCategoryIds').val(values);
      } else {
        alert('3 categories only');
      }
    });

    $(document).on('click', '.remove', function(){
      var div = $(this).closest('div.category_item');
      var id = div.attr('id');
      div.remove();
      $('#businessCategories option[value=' + id + ']').remove();
      var values = $.map($('#businessCategories option'), function(e) { return e.value; });
      values.join(',');
      $('#businessCategoryIds').val(values);
    });

    function formatRepo (category) {
      var markup = '';
        if (category.loading) return category.text;

        markup = 
        '<div class="category_item" id="'+category.id+'">' + category.main_title + ' <i class="fa fa-caret-right"></i> ' + category.title + ' <i class="fa fa-caret-right"></i> ' + category.sub_title +'</div>';
        category.text = '<div class="category_item" id="'+category.id+'"><small class="text-danger remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times btn btn-xs"></i></small> <small class="text-info">' + category.main_title + ' <i class="fa fa-caret-right"></i> ' + category.title + ' <i class="fa fa-caret-right"></i> ' + category.sub_title +'</small></div>' ;

        if (!category.sub_title) {
          markup = 
          '<div class="category_item" id="'+category.id+'">' + category.main_title + ' <i class="fa fa-caret-right"></i> ' + category.title + '</div>' ;
          category.text = '<div class="category_item" id="'+category.id+'"><small class="text-danger remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times btn btn-xs"></i></small> <small class="text-info">' + category.main_title + ' <i class="fa fa-caret-right"></i> ' + category.title + '</small></div>' ;
        }
        
        return markup;
      }

      function formatRepoSelection (category) {
      return '';
      }



		$(".js-data-example-ajax").select2({
		  ajax: {
		    url: "<?=$this->url->getBaseUri().'business_category/list'?>",
		    dataType: 'json',
		    delay: 250,
		    data: function (params) {
		      return {
		        q: params.term, // search term
		        page: params.page
		      };
		    },
		    processResults: function (data, page) {
		      // parse the results into the format expected by Select2.
		      // since we are using custom formatting functions we do not need to
		      // alter the remote JSON data
		      return {
		        results: data.items
		      };
		    }
		  },
		  escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
		  minimumInputLength: 3,
		  templateResult: formatRepo, // omitted for brevity, see the source of this page
		  templateSelection: formatRepoSelection // omitted for brevity, see the source of this page
		});


    // $(".js-data-example-ajax").select2({

    //   ajax: {
    //     url: "<?=$this->url->getBaseUri().'business_category/list'?>",
    //     dataType: 'json',
    //     delay: 250,
    //     data: function (params) {
    //       return {
    //         q: params.term, // search term
    //         page: params.page
    //       };
    //     },
    //     processResults: function (data, page) {
    //       // parse the results into the format expected by Select2.
    //       // since we are using custom formatting functions we do not need to
    //       // alter the remote JSON data
    //       return {
    //         results: data.items
    //       };
    //     },
    //     cache: true
    //   },
    //   escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
    //   minimumInputLength: 3,
    //   templateResult: formatRepo, // omitted for brevity, see the source of this page
    //   templateSelection: formatRepoSelection // omitted for brevity, see the source of this page
    // });
    // $('#businessCategories').on('change', function(){ 
    //  var bCategoryId = $(this).val();
    //  $.getJSON("/mybarangay/business_sub_category/list/"+bCategoryId, function(data) {
    //      $("#businessSubCategories option").remove();
    //      $("#businessSubCategories").append('<option value=""> Select sub-category</option>');
    //      $.each(data, function(){
    //          $("#businessSubCategories").append('<option value="'+ this.id +'">'+ this.name +'</option>')
    //      });
    //  });
    // });

    // $('#businessCategories').on('change', function(){ 
    //  var bCategoryId = $(this).val();
    //  $.getJSON("/mybarangay/business_sub_category/list/"+bCategoryId, function(data) {
    //      $("#businessSubCategories option").remove();
    //      $("#businessSubCategories").append('<option value=""> Select sub-category</option>');
    //      $.each(data, function(){
    //          $("#businessSubCategories").append('<option value="'+ this.id +'">'+ this.name +'</option>')
    //      });
    //  });
    // });

    // $('#businessSubCategories').on('change', function(){ 
    //  var bSubCategoryId = $(this).val();
    //  $.getJSON("/mybarangay/business_asub_category/list/"+bSubCategoryId, function(data) {
    //      $("#businessSubCategoriesA option").remove();
    //      $("#businessSubCategoriesA").append('<option value=""> Select sub-category</option>');
    //      $.each(data, function(){
    //          $("#businessSubCategoriesA").append('<option value="'+ this.id +'">'+ this.name +'</option>')
    //      });
    //  });
    // });
    
  });
</script>
