
<?php //echo $this->tag->stylesheetLink('themes3/css/select.css'); ?>
<?php echo $this->tag->stylesheetLink("themes/mybarangay1/css/select2.min.css"); ?>
<?php echo $this->tag->javascriptInclude("themes/mybarangay1/js/select2.min.js"); ?>
<?php use Helpers\ZoidHelpers; ?>
<style type="text/css">
	.positioningDiv {
    position:relative;
}

.front{
	transform:perspective(600px) rotateY(0deg);
	backface-visibility:hidden;
	transition: transform .5s linear 0s;
}
.back{
    position:absolute;
    top:0;
    width:100%;
    height:100%;
	transform:perspective(600px) rotateY(180deg);
	backface-visibility:hidden;
	transition: transform .5s linear 0s;
	/*border:1px solid #000;*/
}
/*.flip3d:hover .front{
	transform:perspective(600px) rotateY(-180deg);
}
.flip3d:hover .back{
	transform:perspective(600px) rotateY(0deg);
}*/
.caption span{
	font-size:large;
}
</style>
<div class="body-wrapper" style="margin-top:110px;"> <!-- start body wrapper -->
  <div class="container" > <!-- start body wrapper container-fluid -->
    <div class="row" > <!-- start body wrapper row -->

		<div style="margin-bottom:20px;"><!-- page wrapper body -->


    <div class="col-md-12 "  >
        <div class="col-md-12 col-xs-12"  >
            <ul class="breadcrumb pull-left" style="padding:0px 0px; margin:0px">
                <li><span class="glyphicon glyphicon-home"></span> MyBarangay</li>
                <li class="active">Write a review</li>
            </ul>
        </div>
    </div>


			<!-- start left panel -->
			<div class="col-md-3" style="z-index:1">
				<div class="col-md-12 col-sm-12 boxiy" style="padding:0px;margin:0px;">

						<hr>
						<h4 class="text-center">Find a business to review</h4>
						
						<hr>
			
		

								<?php echo Phalcon\Tag::form(array("review/search_business", "method" => "post")); ?>
								<div class="form-group col-md-12 col-sm-6">
								    <label >Business Name</label>
								    <input name="name" type="text" value="<?=$name?>" class="form-control">
								</div>

								<div class="form-group col-md-12 col-sm-6">
									<label >Business Category</label>
									<input type="hidden" name="business_category_id" id="businessCategoryId">
									<select name="business_category"  type="select" class=" form-control js-data-example-ajax" id="businessCategories" placeholder="Select categories">
									</select>
								</div>

								
								<div class="form-group col-md-12 col-sm-6">

							    	<label >Location</label>
						                <div class="input_container" id="review">
						                <input type="text" id="autocity" value="<?=$ecity?>" class="city_list form-control" autocomplete="off" name="city" 
						                  placeholder="city" >
						                <input type="hidden" id="autocitycode" name="city_code" value="<?=$ecity_code?>" class="city_id">
						                <ul id="autocitylistid" class="show_city"></ul>
					                </div>

								</div> 
			
								<div class="form-group col-md-12 col-sm-6">
									<button name="searchBtn" type="submit" class="btn btn-sm  btn-primary" >Search</button>
								</div>

								<?php echo Phalcon\Tag::endForm(); ?>
				

								<hr>
								<div class="clearfix"></div>
								<div class="form-group col-md-12">
								<h4>Not here? Tell us what we're missing.</h4>
								<p class="text-info"><strong>If the business you're looking for is not here, add it!</strong></p>
								<!-- <p class="text-info"><strong>Selling Car?</strong></p> -->
								<a class="btn btn-sm btn-primary" href="<?=$this->url->getBaseUri()?>review/new_business">Add A Business now</a>
								</div>
								<div class="clearfix"></div>

				</div>


<?php $this->partial("partials/ads"); ?>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:inline-block;width:255px;height:213px;"
     data-ad-client="ca-pub-2827353860802948"
     data-ad-slot="6306061710"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<ins class="adsbygoogle"
     style="display:inline-block;width:255px;height:213px;"
     data-ad-client="ca-pub-2827353860802948"
     data-ad-slot="6306061710"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

				
			</div>
			<!-- end left panel -->


		    <div class="col-md-9 boxiy" > <!-- start col-md-9 -->

			
						<!--<div class="panel panel-default">
	
							<div class="panel-heading">

								<div class="row">
									<div class="col-md-3  pull-left">
										<select name="" id="" class="form-control input-xs">
											<option value="">highest rating</option>
											<option value=""></option>
										</select>
									</div>

									<div class="col-md-3 pull-right">
										<select name="" id="" class="form-control input-xs">
											<option value="">pages</option>
											<option value="">10</option>
											<option value="">20</option>
										</select>
									</div>
								</div>

							</div>
						</div>-->
					
				<!-- 	<hr> -->

			<div class="row"><!-- start col-md-9 row[2] -->



			</div><!-- end col-md-9 row[2] -->
          <div class="btn-group pull-right" style="padding:5px 0px">
       
          </div>


			<div class="row item-match"><!-- start col-md-9 row[1] -->

				<?php
				
				$searchResults = ($business->total_pages <= 0 ? 1 : 0);
				if ($searchResults == 1) {
					echo "<h4 class='text-primary text-center' style='padding-top:10px;'>NO RESULTS FOUND</h4>";
				}
					if(isset($business)){ 
						$i = 1;
						//foreach business  start foreach[0]					
						foreach ($business->items as $key => $biz) { 
								
						$category= '';
						$tempMain = array();
						$tempTitle = array();
						$tempSubTitle = array();

						//foreach BusinessCategoryLists  start foreach[1]		
						foreach ($biz->BusinessCategoryLists as $key => $businessCategoryList) {
						$mainY = 0;

						if(!in_array($businessCategoryList->BusinessCategories->main_title, $tempMain)) {
							$mainY = 1;
							$tempMain[] = $businessCategoryList->BusinessCategories->main_title;
							$category .= $businessCategoryList->BusinessCategories->main_title;
						} 
						$titleY = 0;
						if($businessCategoryList->BusinessCategories->title){
							if(!in_array($businessCategoryList->BusinessCategories->title, $tempTitle)) {
								$titleY = 1;
								$tempTitle[] = $businessCategoryList->BusinessCategories->title;
								if($mainY == 1){
									$category .= ' <i class="fa fa-caret-right"></i> '.$businessCategoryList->BusinessCategories->title;
								} else {
									$category .= $businessCategoryList->BusinessCategories->title;
								}
							}									
						}
						if($businessCategoryList->BusinessCategories->sub_title){
							if(!in_array($businessCategoryList->BusinessCategories->sub_title, $tempSubTitle)) {
								$tempSubTitle[] = $businessCategoryList->BusinessCategories->sub_title;
								if($titleY == 0){
									$category .= ' <i class="fa fa-caret-right"></i> '.$businessCategoryList->BusinessCategories->sub_title;
								} else {
									$category .= $businessCategoryList->BusinessCategories->sub_title;
								}
							}
						}
				 		$category .= ', ';
				 	} //foreach BusinessCategoryLists  end foreach[1]	

					$category = substr($category, 0, -2);
				?>

         <!-- 1st item automotive-->
          <div class="col-md-4 col-sm-6 matcher flip3d" style="padding:5px 10px;">
          <div class="positioningDiv">
              <div class="panel panel-default item-box shadow paperts">

				<a href="<?php echo $this->url->getBaseUri().'business/view2/'. $biz->id; ?>">
                <div class="panel-thumbnail custom-thumbnail">
				<?php 
					//$img = 'themes/mybarangay1/img/biz/mybarangay.jpg';

					$img = 'img/nophoto.jpg'; 
					$countbusinessPrimaryPic = BusinessImages::count(array('business_id="'.$biz->id.'" and primary_pic="Yes"'));

					if ($countbusinessPrimaryPic > 0) {
						$businessPrimaryPic = BusinessImages::findFirst(array('business_id="'.$biz->id.'" and primary_pic="Yes"'));

						$img = $businessPrimaryPic->file_path.$businessPrimaryPic->filename;
					} else {
						$countBusinessPrimaryPic = BusinessImages::count(array('business_id="'.$biz->id.'"'));
						if ($countBusinessPrimaryPic > 0) {
							$businessPrimaryPic = BusinessImages::findFirst(array('business_id="'.$biz->id.'"'));

							$img = $businessPrimaryPic->file_path.$businessPrimaryPic->filename;		
						}
					}
					
                    
                      
                     

					// foreach ($biz->BusinessImages as $key => $bizImage) {
					//  	$img = $bizImage->file_path.$bizImage->filename;
					// }
					echo Phalcon\Tag::image(array($img, 'class' => 'img-responsive ', 'style' => 'cursor:pointer'));
				 ?>
                </div>

                <div class="panel-body"><!-- start panel box -->
                  <p class="lead ellipsis2" data-toggle="tooltip" title="<?php echo $biz->name;?> ">      
                  <?php 
          			if (isset($userSession['type'])) {
          				if ($userSession['type'] == 'Member') {
          					echo Phalcon\Tag::linkTo(array('business/view2/'.$biz->id,
                             '<span class=""></span>'.$biz->name, 'class' => ' restricted')); 
          				}  
          			} else {
                  		echo $biz->name;              			
              		}
		           ?>
                  </p>

	    		<p class="ellipsis2"><span class="glyphicon glyphicon-bookmark"></span>&nbsp;&nbsp;<?php echo $category; ?></p>
				<p><span class="fa fa-map-marker"> </span><?php echo ' '.$biz->city.", ".$biz->CountryCodes->country_name; ?></p>
					<div class="rating1">
					    <?php
			              $ctr = 0; 
			              while($ctr<$biz->average_rate) {
			                  $ctr++;
			              }$aveRate = Reviews::average(array(
				          "column"     => "rate",
				          "conditions" => "business_id ={$biz->id}"
				      	));
					$floatedAverage = (float)$aveRate;
			              $arrayRate = explode('.', $floatedAverage);
			              //$arrayRate = explode('.', $biz->average_rate);
			              	if(isset($arrayRate[1])){
			                  if($arrayRate[1] > 5) { 
			                  	$arrayRate[0]++; $arrayRate[1] = 0; 
			                  }
			                  if($arrayRate[1] < 5 && $arrayRate[1] > 0) { 
			                  	 $arrayRate[1] = 5; 
			                  }
			                } else {
			                	$arrayRate[1] = 0;
			                }
			              //use variable $rate for your css class salakot  possible result are 0.0, 0.5, 1, 1.5, 2, 2.5, 3, and so on... 									
			              
			              if(!$arrayRate[0]){
			              	$arrayRate[0] = 0;
			              }
			              $rate = $arrayRate[0].'.'.$arrayRate[1];
			              $class_rate = $arrayRate[0].'_'.$arrayRate[1]; 
			    		?>
					    <i class="salakot-img salakot_<?php echo $class_rate;?>" data-toggle="tooltip" title="<?php echo $rate;?> salakot rating">&nbsp;</i>
					</div>

                    <div class="clearfix" style="margin-top:5px;border-top:1px solid #dddddd"></div>
	
			        <?php 
			        // start reviewer
			        $preview = Reviews::findFirstByBusinessId($biz->id); 
			        if ($preview){

			          $memberPhotos = MemberPhotos::findFirst(array('member_id="'.$preview->member_id.'"', 'primary_pic="Yes"'));
			          $profilePic = 'http://placehold.it/50x50&text=NO+PROFILE+PIC';
			          if(isset($memberPhotos->filename)) {
			            $profilePic = $memberPhotos->file_path.$memberPhotos->filename;
			          }
					?>
			        
			        <div class="media" style="border-bottom:1px solid #ddd;">
			          <div class="pull-left">
					<?php

			          echo Phalcon\Tag::image(array($profilePic, 'class' => 'img-thumbnail pull-left', 'style' => 'margin-right:5px;width:50px; height: 50px;margin-bottom:5px;'));
					?>
			            </div>
			            <div class="media-body">
			            	<span class="media-heading ellipsis4"><?php echo  $preview->content . 'unknown'; ?></span>

			            </div>
			        </div>

					<?php
					}else{
						echo '<div class="media" style="border-bottom:1px solid #ddd;">
						<div class="pull-left">';
						echo '<img src="http://1.gravatar.com/avatar/173407badd2fd8beba911e4888bc73e9?s=1024&d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D1024&r=G" class="img-thumbnail pull-left" 
						style="margin-right:5px;margin-bottom:5px;" width="50px" height="50px">';
						echo '</div>';
						echo ' <div class="media-body">';
						echo '<span class="media-heading ellipsis4">Be the first to review</span>';
						echo '</div>';
						echo '</div>';
					}
					// end reviewer
					?>


                </div>
                <!-- end panel box -->
				</a>

				<!-- start footer panel -->
                <div class="panel-footer text-center text-primary">
                  <a style="cursor:pointer" class="restricted" href="<?php echo $this->url->getBaseUri() . 'review/add/' . $biz->id; ?>"><!--<span class="glyphicon glyphicon-pencil"> </span>-->
                  <i style="font-family: Helvetica; font-weight: bold;"> Write a Review</i></a>
                </div>
				<!-- end footer panel -->

              </div>
             
          </div>    
          </div>
          <!-- 1st item review-->

			<?php
			 }//foreach business  end foreach[0]  
			} //end of business issey
		?>
		</div><!-- end col-md-9 row[1] -->


				<div class="col-md-4">
				<p class="pagination pull-left">
				<?php
					if ($searchResults == 0) {
						echo "You are in page ", $business->current, " of ", $business->total_pages ."</p>";
					}
					unset($searchResults);
				?>
				</div>

				<div class="col-md-8">
				<?php

				$link = $this->url->getBaseUri().'review/search_business';
				echo ZoidHelpers::paginate($business->current,$business->total_pages, $counter, $link);
				?>
				</div>



			</div> <!-- end col-md-9 -->





		</div><!-- end page wrapper body -->
	</div><!-- end body wrapper row -->
  </div><!-- end body wrapper container-fluid -->
</div><!-- end body wrapper -->


<script type="text/javascript">
	$(document).ready(function(){
		$('.media').on('click', function(){
			window.location.href = $(this).data('url');
		});

		$('[data-toggle="tooltip"]').tooltip();

		$('#businessCategories').on('change', function(){
			var id = $(this).val();
			$('#businessCategoryId').val(id);
		});

		function formatRepo (category) {
			var markup = '';
		    if (category.loading) return category.text;

		    markup = 
		    '<div class="category_item" id="'+category.id+'">' + category.main_title + ' <i class="fa fa-caret-right"></i> ' + category.title + ' <i class="fa fa-caret-right"></i> ' + category.sub_title +'</div>';

		    if (!category.sub_title) {
		    	markup = 
			    '<div class="category_item" id="'+category.id+'">' + category.main_title + ' <i class="fa fa-caret-right"></i> ' + category.title + '</div>' ;
		    }
		    return markup;
		  }

		  function formatRepoSelection (category) {
		  	var markup = 
		    '<div class="category_item" id="'+category.id+'">' + category.main_title + ' <i class="fa fa-caret-right"></i> ' + category.title + ' <i class="fa fa-caret-right"></i> ' + category.sub_title +'</div>';
		  	if (!category.sub_title) {
		    	markup = 
			    '<div class="category_item" id="'+category.id+'">' + category.main_title + ' <i class="fa fa-caret-right"></i> ' + category.title + '</div>' ;
		    }
			return markup;
		  }


		$(".js-data-example-ajax").select2({
		  ajax: {
		    url: "<?=$this->url->getBaseUri().'business_category/list'?>",
		    dataType: 'json',
		    delay: 250,
		    data: function (params) {
		      return {
		        q: params.term, // search term
		        page: params.page
		      };
		    },
		    processResults: function (data, page) {
		      // parse the results into the format expected by Select2.
		      // since we are using custom formatting functions we do not need to
		      // alter the remote JSON data
		      return {
		        results: data.items
		      };
		    }
		  },
		  escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
		  minimumInputLength: 3,
		  templateResult: formatRepo, // omitted for brevity, see the source of this page
		  templateSelection: formatRepoSelection // omitted for brevity, see the source of this page
		});

	});
</script>
