<?php 
echo $this->tag->stylesheetLink("themes3/css/member.css");
echo $this->tag->stylesheetLink('themes3/themes/summernote/summernote.css');
echo $this->tag->javascriptInclude('themes3/themes/summernote2/summernote.js');
?>
<script type="text/javascript">
$(function(){
    $("#summernote").summernote({
			height: 120,
			codemirror: {
			mode: 'text/html',
			htmlMode: true,
			lineNumbers: true,
			theme: 'default'
		}
   });
   $('.uncheckRadioBtn').click(function() {
        $(this).parents('tr.reviews-td').find('td > label > input[type="radio"]').removeAttr('checked');
   });
});

</script>

<style type="text/css">
.update-review {
	padding: 10px;
}
.update-review .panel.panel-default{
	background: #F5F5F5;
	border: 3px solid #FFF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2), 0px -1px 0px 0px rgba(0, 0, 0, 0.2), 1px 0px 0px 0px rgba(0, 0, 0, 0.2), -1px 0px 0px 0px rgba(0, 0, 0, 0.2);
}
.update-review .panel .panel-body{
	padding: 5px;

}
.update-review textarea{
	width: 100%;
	background: #fff;
	border: 1px solid #d4d4d4;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

/* COMMENTS */
.comments {
  float: left;
  width: 100%;
  padding: 0px;
  margin: 0px;
  background: #f5f5f5;
}
.comments .comment-item {
  float: left;
  width: 100%;
  padding: 10px 10px 8px;
  line-height: 15px;
  border-bottom: 1px solid #c3c3c3;
}
.comments .comment-item img {
  width: 30px;
  height: 30px;
  margin: 0px 10px 20px 0px;
  border: 3px solid #FFF;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  float: left;
}
.comments .comment-item p {
  margin-bottom: 0px;
  line-height: 13px;
  margin-bottom: 5px;
  font-size: 11px;
}
.comments .comment-item p.comment-head {
  font-size: 12px;
}
.comments .comment-item p.comment-head a {
  font-size: 12px;
  font-weight: 600;
  color: #333;
}
.comments .comment-item small {
  line-height: 10px;
}
.comments .comment-item:first-child {
  border-top: 1px solid #f4f4f4;
}
.comments .comment-write {
  float: left;
  width: 100%;
  padding: 5px;
}
.comments .comment-write .form-control {
  border-color: #d0e8ff;
}


.radio-inline + .radio-inline{
        margin-left:0px;
}
.radio-inline{
    padding: 15px;
    text-transform: capitalize;
}
tr.reviews-td > td:nth-child(2){
    padding-left:15px;
}
tr.reviews-td > td:nth-child(1){
    background: #e3e3e3;
    text-align: right;
}
tr.reviews-td > td:nth-child(1) label{
    padding: 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: right;
}
</style>

<div class="body-wrapper" style="margin-top:110px;"> <!-- start body wrapper -->
	<div class="container" > <!-- start body wrapper container -->
		<div class="row" > <!-- start body wrapper row -->


		    <div class="col-md-12 "  >
		        <div class="col-md-12 col-xs-12"  >
		            <ul class="breadcrumb pull-left" style="padding:5px 0px; margin:0px">
		                <li><i class="fa fa-home"></i> MyBarangay</li>
		                <li class="active">Profile</li>
		            </ul>
		        </div>
		    </div>

			<!-- start left panel -->
			<div class="col-md-3 col-xs-12 " >
			<?php $this->partial("partials/member_profile") ?>
			</div>

			<!-- start col-md-6 -->
			<div class="col-md-6 col-sm-12 boxiy" style="min-height:500px;"> 
				<?php  echo Phalcon\Tag::form(array("review/updateu/".$business->id."/".$reviewUpdate->id, "method" => "post",'id' => 'ratingsForm')); ?>
				<div class="update-review">
					<legend>Update your review</legend>				
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2 ><?php echo Phalcon\Tag::linkTo('business/view/'.$business->id, $business->name); ?></h2>	
							<div class="rate-medium-cnt">
								<div id="1" class="rate-btn-1 rate-btn"></div>
								<div id="2" class="rate-btn-2 rate-btn"></div>
								<div id="3" class="rate-btn-3 rate-btn"></div>
								<div id="4" class="rate-btn-4 rate-btn"></div>
								<div id="5" class="rate-btn-5 rate-btn"></div>
								<input type="hidden"  name="rate" id="rateValue" value="<?php echo $reviewUpdate->rate; ?>" />
							</div>
						</div>
						<div class="panel-body">
							<textarea id="summernote" name="review" type="textarea" rows="3" class="commentRedactor form-control"><?php echo $reviewUpdate->content; ?></textarea>
						</div>
						<div class="panel-footer">
							<input type="submit" value="Update" name="btn-update" class="btn btn-primary btn-sm" >
						</div>
					</div>
				</div>
				<?php  echo Phalcon\Tag::endForm(); ?>
				<div class="clearfix"></div>

                <?php 
                $mainCat 	= 'all';    
                $maintitle 	= array();
                $mainCatx	= array();
                if($buscatlist){
	                foreach ($buscatlist as  $value) {
	                    $maintitle[] = $value->businessCategories->main_title;
	                } $mainCatx = array_unique($maintitle);
                }

                if($revopt){
                	$datafor = $revopt->id;
                }else{
                	$datafor = '';
                }
                
                ?>

                <?php echo Phalcon\Tag::form(array("review/update_reviews", "method" => "post")); ?>
						<input type="hidden" name="businessid" value="<?php echo $business->id; ?>">
						<input type="hidden" name="revoptions" value="<?php echo $datafor; ?>">
						<input type="hidden" name="revid" 		value="<?php echo $reviewUpdate->id; ?>">
                    <div class="panel panel-default">
                        <div class="panel-heading ui-draggable-handle">
                            <h2 class="panel-title"><i class="fa fa-book"></i> Business features</h2>
                        </div>
                        <div class="panel-body">
                            <table class="table table-striped">
                                <!-- REsta Review Options-->
                                    <?php 
                                    if(array_intersect($mainCatx , ['Food','Restaurants', 'all'] )){
                                    ?>
                                        <tr class="reviews-td" >
                                            <td><label><i class="fa fa-cutlery"></i>  Caters </label></td>
                                            <td >
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->caters == 'yes')?  'checked'  : '' ; } ?>  name="reviews_caters"  value="yes"  > yes
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->caters == 'no')?  'checked'  : '' ; } ?> name="reviews_caters"  value="no"  > no
                                                </label>
                                                <!-- <label class="radio-inline">
                                                  <input type="radio" <?php //if($revopt){ echo ($revopt->caters == 'not sure')?  'checked'  : '' ; } ?> name="reviews_caters"  value="not sure"  > not sure
                                                </label> -->
                                            </td>
                                            <td>
                                                <label class="radio-inline">
                                                    <a href="javascript:void(0);" class="uncheckRadioBtn">Uncheck</a>
                                                </label>
                                            </td>
                                        </tr>
                                    <?php } ?>
                                    <?php 
                                    if(array_intersect($mainCatx , ['Automotive','Education', 'Public Services & Government',
                                        'Food', 'Restaurants', 'Nightlife', 'Beauty & Spas', 'Health & Medical', 'Pets', 'Financial Services',
                                        'Professional Services', 'Hotels & Travel', 'Shopping', 'all'
                                        ] )){
                                    ?>
                                        <tr class="reviews-td" >
                                            <td><label><i class="fa fa-wifi"></i>  Wi-Fi  </label></td>
                                            <td>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->wifi == 'yes')?  'checked'  : '' ; } ?> name="reviews_wifi"  value="yes"> yes
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->wifi == 'no')?  'checked'  : '' ; } ?> name="reviews_wifi"  value="no"> no
                                                </label>
                                                <!-- <label class="radio-inline">
                                                  <input type="radio" <?php //if($revopt){ echo ($revopt->wifi == 'not sure')?  'checked'  : '' ; } ?> name="reviews_wifi"  value="not sure"> not sure
                                                </label> -->
                                            </td>
                                            <td>
                                                <label class="radio-inline">
                                                    <a href="javascript:void(0);" class="uncheckRadioBtn">Uncheck</a>
                                                </label>
                                            </td>
                                        </tr>
                                    <?php } ?>

                                    <?php 
                                    if(array_intersect($mainCatx , ['Automotive','Food', 'Restaurants',
                                        'Nightlife', 'Beauty & Spas', 'Health & Medical', 'Home Services', 'Local Services', 'Pets', 'Pets',
                                        'Hotels & Travel', 'all'
                                        ] )){
                                    ?>
                                        <tr class="reviews-td" >
                                            <td><label><i class="fa fa-television"></i> Has TV  </label></td>
                                            <td>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->hastv == 'yes')?  'checked'  : '' ; } ?> name="reviews_hastv"  value="yes"> yes
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->hastv == 'no')?  'checked'  : '' ; } ?> name="reviews_hastv"  value="no"> no
                                                </label>
                                                <!-- <label class="radio-inline">
                                                  <input type="radio" <?php //if($revopt){ echo ($revopt->hastv == 'not sure')?  'checked'  : '' ; } ?> name="reviews_hastv"  value="not sure"> not sure
                                                </label> -->
                                            </td>
                                            <td>
                                                <label class="radio-inline">
                                                    <a href="javascript:void(0);" class="uncheckRadioBtn">Uncheck</a>
                                                </label>
                                            </td>
                                        </tr>
                                    <?php } ?>

                                    <?php
                                    if(array_intersect($mainCatx , ['Active Life','Bicycles', 'Food',
                                        'Restaurants', 'Nightlife', 'Beauty & Spas', 'Home Services', 'Local Services', 'Pets', 'Pets',
                                        'Hotels & Travel', 'Shopping', 'all'
                                        ] )){
                                    ?>
                                        <tr class="reviews-td" >
                                            <td>
                                                <label><i class="fa fa-money"></i> Price Range </label>
                                            </td>
                                            <td style=" padding-top: 10px;">
                                                <div class="form-group form-group-sm">
                                                    <select name="reviews_pricerange" style="width: 220px;" class="form-control">
                                                    <?php
                                                        $option = array('inexpensive','moderate','pricey','ultra high-end');
                                                        foreach ($option as $value) {
                                                            echo '<option value="">select price range</option>';
                                                            echo '<option value="'.$value.'"';
                                                            if($revopt){ echo ($value == $revopt->pricerange)?  ' selected'  : '' ; }
                                                            echo '>'. $value . '</option>';

                                                        }
                                                    ?>
                                                    </select>
                                                </div>
                                            </td>
                                            <td></td>
                                        </tr>
                                    <?php } ?>

                                    <?php 
                                    if(array_intersect($mainCatx , ['Automotive','Active Life', 'Arts & Entertainment',
                                        'Local Flavor', 'Public Services & Government', 'Religious Organizations', 'Restaurants', 'Nightlife', 'Beauty & Spas', 'Health & Medical',
                                        'Home Services', 'Local Services', 'Pets', 'Financial Services', 'Professional Services', 'Event Planning & Services',
                                        'Hotels & Travel', 'Financial Services', 'Shopping', 'Real Estate', 'all'
                                        ] )){
                                    ?>
                                        <tr class="reviews-td" >
                                            <td><label><i class="fa fa-credit-card"></i> Accepts Credit Cards   </label></td>
                                            <td>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->creditcard == 'yes')?  'checked'  : '' ; } ?> name="reviews_creditcard"  value="yes"> yes
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->creditcard == 'no')?  'checked'  : '' ; } ?> name="reviews_creditcard"  value="no"> no
                                                </label>
                                                <!-- <label class="radio-inline">
                                                  <input type="radio" <?php //if($revopt){ echo ($revopt->creditcard == 'not sure')?  'checked'  : '' ; } ?> name="reviews_creditcard"  value="not sure"> not sure
                                                </label> -->
                                            </td>
                                            <td>
                                                <label class="radio-inline">
                                                    <a href="javascript:void(0);" class="uncheckRadioBtn">Uncheck</a>
                                                </label>
                                            </td>
                                        </tr>
                                    <?php } ?>

                                    <?php 
                                    if(array_intersect($mainCatx , ['Active Life', 'Arts & Entertainment',
                                        'Local Flavor', 'Bicycles', 'Education', 'Public Services & Government', 'Religious Organizations', 'Mass Media', 'Food',
                                        'Restaurants', 'Nightlife', 'Beauty & Spas', 'Health & Medical',
                                        'Local Services', 'Pets', 'Financial Services', 'Professional Services', 'Event Planning & Services',
                                        'Hotels & Travel', 'Shopping', 'Real Estate', 'all'
                                        ] )){
                                    ?>
                                        <tr class="reviews-td" >
                                            <td><label><i class="fa fa-car"></i> Parking    </label></td>
                                            <td>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->parking == 'yes')?  'checked'  : '' ; } ?> name="reviews_parking"  value="yes"> yes
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->parking == 'no')?  'checked'  : '' ; } ?> name="reviews_parking"  value="no"> no
                                                </label>
                                                <!-- <label class="radio-inline">
                                                  <input type="radio" <?php //if($revopt){ echo ($revopt->parking == 'not sure')?  'checked'  : '' ; } ?> name="reviews_parking"  value="not sure"> not sure
                                                </label> -->
                                            </td>
                                            <td>
                                                <label class="radio-inline">
                                                    <a href="javascript:void(0);" class="uncheckRadioBtn">Uncheck</a>
                                                </label>
                                            </td>
                                        </tr>
                                    <?php } ?>

                                    <?php 
                                    if(array_intersect($mainCatx , ['Active Life', 'Arts & Entertainment',
                                        'Local Flavor', 'Bicycles', 'Education', 'Public Services & Government', 'Religious Organizations', 'Mass Media', 'Food',
                                        'Restaurants', 'Nightlife', 'Beauty & Spas', 'Health & Medical',
                                        'Local Services', 'Pets', 'Financial Services', 'Professional Services', 'Event Planning & Services',
                                        'Hotels & Travel', 'Shopping', 'Real Estate', 'all'
                                        ] )){
                                    ?>
                                        <tr class="reviews-td" >
                                            <td><label><i class="fa fa-motorcycle"></i> Bike Parking    </label></td>
                                            <td>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->bike_parking == 'yes')?  'checked'  : '' ; } ?> name="reviews_bike_parking"  value="yes"> yes
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->bike_parking == 'no')?  'checked'  : '' ; } ?> name="reviews_bike_parking"  value="no"> no
                                                </label>
                                                <!-- <label class="radio-inline">
                                                  <input type="radio" <?php //if($revopt){ echo ($revopt->bike_parking == 'not sure')?  'checked'  : '' ; } ?> name="reviews_bike_parking"  value="not sure"> not sure
                                                </label> -->
                                            </td>
                                            <td>
                                                <label class="radio-inline">
                                                    <a href="javascript:void(0);" class="uncheckRadioBtn">Uncheck</a>
                                                </label>
                                            </td>
                                        </tr>
                                    <?php } ?>


                                    <?php 
                                    if(array_intersect($mainCatx , ['Food', 'Restaurants', 'Nightlife','all'
                                        ] )){
                                    ?>
                                        <tr class="reviews-td" >
                                            <td><label><i class="fa fa-black-tie"></i>  Attire     </label></td>
                                            <td>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->attire == 'casual')?  'checked'  : '' ; } ?>  name="reviews_attire"  value="casual"> casual
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->attire == 'dressy')?  'checked'  : '' ; } ?>  name="reviews_attire"  value="dressy"> dressy
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->attire == 'format (jacket require)')?  'checked'  : '' ; } ?>  name="reviews_attire"  value="format (jacket require)"> formal (jacket required)
                                                </label>
                                                <!-- <label class="radio-inline">
                                                  <input type="radio" <?php //if($revopt){ echo ($revopt->attire == 'not sure')?  'checked'  : '' ; } ?>  name="reviews_attire" id="inlineRadio4" value="not sure"> not sure
                                                </label> -->
                                            </td>
                                            <td>
                                                <label class="radio-inline">
                                                    <a href="javascript:void(0);" class="uncheckRadioBtn">Uncheck</a>
                                                </label>
                                            </td>
                                        </tr>
                                    <?php } ?>


                                    <?php //********************** PENDING
                                    if(array_intersect($mainCatx , ['Nightlifexxx'] )){
                                    ?>
                                        <tr class="reviews-td" >
                                            <td><label>Good for Dancing    </label></td>
                                            <td>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->attire == 'not sure')?  'checked'  : '' ; } ?> name="good_for_dance"  value="yes"> yes
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->attire == 'not sure')?  'checked'  : '' ; } ?> name="good_for_dance"  value="no"> no
                                                </label>
                                                <!-- <label class="radio-inline">
                                                  <input type="radio" <?php //if($revopt){ echo ($revopt->attire == 'not sure')?  'checked'  : '' ; } ?> name="good_for_dance"  value="not sure"> not sure
                                                </label> -->
                                            </td>
                                            <td>
                                                <label class="radio-inline">
                                                    <a href="javascript:void(0);" class="uncheckRadioBtn">Uncheck</a>
                                                </label>
                                            </td>
                                        </tr>
                                    <?php } //********************** ?>

                                    <?php 

                                    if(array_intersect($mainCatx , ['Food', 'Restaurants', 'Nightlife', 'Hotels & Travel', 'all'
                                        ] )){
                                    ?>
                                        <tr class="reviews-td" >
                                            <td><label><i class="fa fa-users"></i> Good for Groups    </label></td>
                                            <td>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->groups == 'yes')?  'checked'  : '' ; } ?> name="reviews_groups"  value="yes"> yes
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->groups == 'no')?  'checked'  : '' ; } ?> name="reviews_groups"  value="no"> no
                                                </label>
                                                <!-- <label class="radio-inline">
                                                  <input type="radio" <?php //if($revopt){ echo ($revopt->groups == 'not sure')?  'checked'  : '' ; } ?> name="reviews_groups"  value="not sure"> not sure
                                                </label> -->
                                            </td>
                                            <td>
                                                <label class="radio-inline">
                                                    <a href="javascript:void(0);" class="uncheckRadioBtn">Uncheck</a>
                                                </label>
                                            </td>
                                        </tr>
                                    <?php } ?>

                                    <?php 
                                    if(array_intersect($mainCatx , ['Active Life', 'Arts & Entertainment', 'Local Flavor',
                                     'Education', 'Food', 'Restaurants', 'Beauty & Spas', 'Hotels & Travel', 'all'
                                        ] )){
                                    ?>
                                        <tr class="reviews-td" >
                                            <td><label><i class="fa fa-child"></i> Good for Kids    </label></td>
                                            <td>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->kids == 'yes')?  'checked'  : '' ; } ?>  name="reviews_kids"  value="yes"> yes
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->kids == 'no')?  'checked'  : '' ; } ?>  name="reviews_kids"  value="no"> no
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->kids == 'not sure')?  'checked'  : '' ; } ?>  name="reviews_kids"  value="not sure"> not sure
                                                </label>
                                            </td>
                                            <td>
                                                <label class="radio-inline">
                                                    <a href="javascript:void(0);" class="uncheckRadioBtn">Uncheck</a>
                                                </label>
                                            </td>
                                        </tr>
                                    <?php } ?>

                                    <?php 
                                    if(array_intersect($mainCatx , ['Food', 'Restaurants', 'Nightlife',  'all' ] )){
                                    ?>
                                        <tr class="reviews-td" >
                                            <td><label><i class="fa fa-street-view"></i> Takes Reservations   </label></td>
                                            <td>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->reservations == 'yes')?  'checked'  : '' ; } ?> name="reviews_reservations"  value="yes"> yes
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->reservations == 'no')?  'checked'  : '' ; } ?> name="reviews_reservations"  value="no"> no
                                                </label>
                                                <!-- <label class="radio-inline">
                                                  <input type="radio" <?php //if($revopt){ echo ($revopt->reservations == 'not sure')?  'checked'  : '' ; } ?> name="reviews_reservations"  value="not sure"> not sure
                                                </label> -->
                                            </td>
                                            <td>
                                                <label class="radio-inline">
                                                    <a href="javascript:void(0);" class="uncheckRadioBtn">Uncheck</a>
                                                </label>
                                            </td>
                                        </tr>
                                    <?php } ?>
                                    <?php

                                    if(array_intersect($mainCatx , ['Food', 'Restaurants',  'all' ] )){
                                    ?>
                                        <tr class="reviews-td" >
                                            <td><label><i class="fa fa-truck"></i>  Delivery    </label></td>
                                            <td>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->delivery == 'yes')?  'checked'  : '' ; } ?> name="reviews_delivery"  value="yes"> yes
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->delivery == 'no')?  'checked'  : '' ; } ?> name="reviews_delivery"  value="no"> no
                                                </label>
                                                <!-- <label class="radio-inline">
                                                  <input type="radio" <?php //if($revopt){ echo ($revopt->delivery == 'not sure')?  'checked'  : '' ; } ?> name="reviews_delivery"  value="not sure"> not sure
                                                </label> -->
                                            </td>
                                            <td>
                                                <label class="radio-inline">
                                                    <a href="javascript:void(0);" class="uncheckRadioBtn">Uncheck</a>
                                                </label>
                                            </td>
                                        </tr>
                                    <?php } ?>
                                    <?php 
                                    if(array_intersect($mainCatx , ['Food', 'Restaurants',  'all' ] )){
                                    ?>
                                        <tr class="reviews-td" >
                                            <td><label><i class="fa fa-hand-o-right"></i> Take Away    </label></td>
                                            <td>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->takeaway == 'yes')?  'checked'  : '' ; } ?> name="reviews_takeaway"  value="yes"> yes
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->takeaway == 'no')?  'checked'  : '' ; } ?> name="reviews_takeaway"  value="no"> no
                                                </label>
                                                <!-- <label class="radio-inline">
                                                  <input type="radio" <?php //if($revopt){ echo ($revopt->takeaway == 'not sure')?  'checked'  : '' ; } ?> name="reviews_takeaway"  value="not sure"> not sure
                                                </label> -->
                                            </td>
                                            <td>
                                                <label class="radio-inline">
                                                    <a href="javascript:void(0);" class="uncheckRadioBtn">Uncheck</a>
                                                </label>
                                            </td>
                                        </tr>
                                    <?php } ?>
                                    <?php 
                                    if(array_intersect($mainCatx , ['Food', 'Restaurants',  'all' ] )){
                                    ?>
                                        <tr class="reviews-td" >
                                            <td><label><i class="fa fa-user"></i>  Waiter Service   </label></td>
                                            <td>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->waiter == 'yes')?  'checked'  : '' ; } ?> name="reviews_waiter"  value="yes"> yes
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->waiter == 'no')?  'checked'  : '' ; } ?> name="reviews_waiter"  value="no"> no
                                                </label>
                                                <!-- <label class="radio-inline">
                                                  <input type="radio" <?php //if($revopt){ echo ($revopt->waiter == 'not sure')?  'checked'  : '' ; } ?> name="reviews_waiter"  value="not sure"> not sure
                                                </label> -->
                                            </td>
                                            <td>
                                                <label class="radio-inline">
                                                    <a href="javascript:void(0);" class="uncheckRadioBtn">Uncheck</a>
                                                </label>
                                            </td>
                                        </tr>
                                    <?php } ?>
                                    <?php 
                                    if(array_intersect($mainCatx , ['Food', 'Restaurants',  'all' ] )){
                                        ?>
                                        <tr class="reviews-td" >
                                            <td><label><i class="fa fa-hand-o-right"></i> Outdoor Seating   </label></td>
                                            <td>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->outdoor == 'yes')?  'checked'  : '' ; } ?> name="reviews_outdoor"  value="yes"> yes
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->outdoor == 'no')?  'checked'  : '' ; } ?> name="reviews_outdoor"  value="no"> no
                                                </label>
                                                <!-- <label class="radio-inline">
                                                  <input type="radio" <?php //if($revopt){ echo ($revopt->outdoor == 'not sure')?  'checked'  : '' ; } ?> name="reviews_outdoor"  value="not sure"> not sure
                                                </label> -->
                                            </td>
                                            <td>
                                                <label class="radio-inline">
                                                    <a href="javascript:void(0);" class="uncheckRadioBtn">Uncheck</a>
                                                </label>
                                            </td>
                                        </tr>
                                    <?php } ?>
                                    <?php 
                                    if(array_intersect($mainCatx , ['Food', 'Restaurants',  'all' ] )){
                                    ?>
                                        <tr class="reviews-td" >
                                            <td><label><i class="fa fa-hand-o-right"></i> Good for    </label></td>
                                            <td>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->goodfor == 'breakfast')?  'checked'  : '' ; } ?> name="reviews_goodfor"  value="breakfast"> breakfast
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->goodfor == 'brunch')?  'checked'  : '' ; } ?> name="reviews_goodfor"  value="brunch"> brunch
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->goodfor == 'lunch')?  'checked'  : '' ; } ?> name="reviews_goodfor"  value="lunch"> lunch
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->goodfor == 'dinner')?  'checked'  : '' ; } ?> name="reviews_goodfor"  value="dinner"> dinner
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->goodfor == 'late_night')?  'checked'  : '' ; } ?> name="reviews_goodfor"  value="late_night"> late-night
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->goodfor == 'dessert')?  'checked'  : '' ; } ?> name="reviews_goodfor"  value="dessert"> dessert
                                                </label>
                                            </td>
                                            <td>
                                                <label class="radio-inline">
                                                    <a href="javascript:void(0);" class="uncheckRadioBtn">Uncheck</a>
                                                </label>
                                            </td>
                                        </tr>
                                    <?php } ?>
                                    <?php 
                                    if(array_intersect($mainCatx , ['Food', 'Restaurants',  'all' ] )){
                                    ?>
                                        <tr class="reviews-td" >
                                            <td><label><i class="fa fa-hand-o-right"></i> Alcohol   </label></td>
                                            <td>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->alcohol == 'beer n\' wine only')?  'checked'  : '' ; } ?> name="reviews_alcohol"  value="beer n' wine only"> beer & wine only 
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->alcohol == 'full bar')?  'checked'  : '' ; } ?> name="reviews_alcohol"  value="full bar"> full bar
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->alcohol == 'no')?  'checked'  : '' ; } ?> name="reviews_alcohol"  value="no"> no
                                                </label>
                                                <!-- <label class="radio-inline">
                                                  <input type="radio" <?php //if($revopt){ echo ($revopt->alcohol == 'not sure')?  'checked'  : '' ; } ?> name="reviews_alcohol"  value="not sure"> not sure
                                                </label> -->
                                            </td>
                                            <td>
                                                <label class="radio-inline">
                                                    <a href="javascript:void(0);" class="uncheckRadioBtn">Uncheck</a>
                                                </label>
                                            </td>
                                        </tr>
                                    <?php } ?>
                                    <?php 
                                    if(array_intersect($mainCatx , ['Food', 'Restaurants', 'Nightlife', 'Beauty & Spas',  'all' ] )){
                                    ?>
                                        <tr class="reviews-td" >
                                            <td><label><i class="fa fa-hand-o-right"></i>  Noise Level  </label></td>
                                            <td>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->noise == 'quiet')?  'checked'  : '' ; } ?> name="reviews_noise"  value="quiet"> quiet 
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->noise == 'average')?  'checked'  : '' ; } ?> name="reviews_noise"  value="average"> average
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->noise == 'loud')?  'checked'  : '' ; } ?> name="reviews_noise"  value="loud"> loud
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->noise == 'very loud')?  'checked'  : '' ; } ?> name="reviews_noise"  value="very loud"> very loud
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->noise == 'no')?  'checked'  : '' ; } ?> name="reviews_noise"  value="no"> no
                                                </label>
                                            </td>
                                            <td>
                                                <label class="radio-inline">
                                                    <a href="javascript:void(0);" class="uncheckRadioBtn">Uncheck</a>
                                                </label>
                                            </td>
                                        </tr>
                                    <?php } ?>
                                    <?php 
                                    if(array_intersect($mainCatx , ['Food', 'Restaurants', 'Nightlife', 'all' ] )){
                                    ?>
                                        <tr class="reviews-td" >
                                            <td><label><i class="fa fa-hand-o-right"></i> Ambience   </label></td>
                                            <td>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->ambience == 'hipster')?  'checked'  : '' ; } ?> name="reviews_ambience"  value="hipster"> hipster 
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->ambience == 'casual')?  'checked'  : '' ; } ?> name="reviews_ambience"  value="casual"> casual
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->ambience == 'touristy')?  'checked'  : '' ; } ?> name="reviews_ambience"  value="touristy"> touristy
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->ambience == 'trendy')?  'checked'  : '' ; } ?> name="reviews_ambience"  value="trendy"> trendy
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->ambience == 'intimate')?  'checked'  : '' ; } ?> name="reviews_ambience"  value="intimate"> intimate
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->ambience == 'romantic')?  'checked'  : '' ; } ?> name="reviews_ambience"  value="romantic"> romantic
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->ambience == 'classy')?  'checked'  : '' ; } ?> name="reviews_ambience"  value="classy"> classy
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->ambience == 'upscale')?  'checked'  : '' ; } ?> name="reviews_ambience"  value="upscale"> upscale
                                                </label>
                                            </td>
                                            <td>
                                                <label class="radio-inline">
                                                    <a href="javascript:void(0);" class="uncheckRadioBtn">Uncheck</a>
                                                </label>
                                            </td>
                                        </tr>
                                    <?php } ?>
                            </table>
                        </div>
                        <div class="panel-footer">
                                <input type="submit" name='reviewsOptions' value="Update reviews" class="btn btn-sm btn-primary">
                        </div>
                    </div>
                <?php  echo Phalcon\Tag::endForm(); ?>

			</div>
 			<!-- start col-md-3 -->
			<div class="col-md-3 col-sm-12 " style="min-height:500px;"> 
				<div class="panel">
					<div class="panel-body">
						<?php foreach ($reviews as $key => $review) { ?>
							<div class="timeline-item-content">




								<div class="timeline-body comments">
									<div class="comment-item">
									<?php 
										$memberPhotos = MemberPhotos::findFirst(array('member_id="'.$review->member_id.'"', 'primary_pic="Yes"'));
										$profilePic = 'http://placehold.it/250x250&text=NO+PROFILE+PIC';
										if(isset($memberPhotos->filename)) {
											$profilePic = $memberPhotos->file_path.$memberPhotos->filename;
										}
										?>
										<?php echo Phalcon\Tag::image(array($profilePic)); ?>
										<p class="comment-head">
										<?php echo Phalcon\Tag::linkTo('member/page/'.$review->member_id, $review->Members->first_name.' '.substr($review->Members->last_name, 0, 1).'.'); ?>
										</p>
										<p><?php echo $review->content; ?></p>
									
									</div>                                            
								</div>

								<div class="timeline-footer">
									<small><span class="fa fa-clock-o"></span> <?php echo date('M d, Y h:i A', strtotime($review->created)); ?></small>
									<div class="pull-right">
									</div>
								</div>
							</div>
						<?php } ?>
					</div>
				</div>
			</div>




        </div>
    </div>
</div>

<script>
    // rating script
    $(function(){ 
		var rateValue = $('#rateValue').val();
        for (var i = rateValue; i >= 0; i--) {
            $('.rate-btn-'+i).addClass('rate-btn-hover');
        };
        $('.rate-btn').hover(function(){
            $('.rate-btn').removeClass('rate-btn-hover');
            var therate = $(this).attr('id');
            for (var i = therate; i >= 0; i--) {
                $('.rate-btn-'+i).addClass('rate-btn-hover');
            };
            var value = $(this).attr('id');
            $('#rateValue').val(value);
            console.log(value);
        });
    
    });
</script>