<style>
.userpic {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}
.blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
</style>

<?php
	$countAdCampaigns = Adcampaigns::count("business_id='".$business->id."'");
if ($countAdCampaigns > 0 ) {
		// get ad campaign
	$adCampaign = Adcampaigns::findFirst("business_id='".$business->id."'");
?>
<div class="panel panel-danger">
	<div class="panel-heading" style="background-color:'#CCCCCC'; ">BUSINESS SPECIALTY</div>
	<div class="panel-body">
	
		<div class="row">
			<div class="col-md-2">
				
			 
				<?php 
				echo '<a href="'.$this->url->getBaseUri() . 'index/knowl_center#!/service">'.Phalcon\Tag::image(array($logo,'style'=> 'max-width:100px!important;max-height:100px!important;height:100px;width:100px;', "id" => "test", "tabindex" => '-1', "name"=> 'test', "class"=>'img-responsive userpic')).'</a>';
				

					$aveRate = Reviews::average(array(
	                                  "column"     => "rate",
	                                  "conditions" => "business_id ={$business->id}"
	                                ));
					$floatedAverage = (float)$aveRate;
	                    $arrayRate = explode('.', $floatedAverage);
		                if(isset($arrayRate[1])){
		                      if($arrayRate[1] > 5) { 
		                        $arrayRate[0]++; $arrayRate[1] = 0; 
		                      }
		                      if($arrayRate[1] < 5 && $arrayRate[1] > 0) { 
		                         $arrayRate[1] = 5; 
		                      }
	                    } else {
	                      $arrayRate[1] = 0;
	                    }
	                  //use variable $rate for your css class salakot  possible result are 0.0, 0.5, 1, 1.5, 2, 2.5, 3, and so on...                  
	                                              
	                    if(!$arrayRate[0]){
	                      $arrayRate[0] = 0;
	                    }
	                    $rate = $arrayRate[0].'.'.$arrayRate[1];
	                    $class_rate = $arrayRate[0].'_'.$arrayRate[1]; 

							$tooltipRating = '';
							if ($rate == 1) {
								$tooltipRating = "1 salakot- Hmmm...I don't think so.";
							} else if ($rate == 2) {
								$tooltipRating = "2 salakots- Not so bad.";
							} else if ($rate == 3) {
								$tooltipRating = "3 salakots- Just fine.";
							} else if ($rate == 4) {
								$tooltipRating = "4 salakots- Cool! I am a fan.";
							} else if ($rate == 5) {
								$tooltipRating = "5 salakots- Perfect! This is exactly what I need.";
							}
				?>
			</div>	
			<div class="col-md-10">
			<?='<div class="rating1 img-responsive" style="width:230px" >
	                         <i class="salakot-img salakot_'.$class_rate.'" data-toggle="tooltip" title="'.$tooltipRating.'">&nbsp;</i>
	                        </div><br>'; ?>
				<?=$adCampaign->content?>
			</div>
		</div>
		<div class="row">
			
				<!--<center><img class="img-responsive" src="/img/ad/placeyourad.jpg" alt="logo"></center>-->
			
		</div>
	</div>
</div>	
<?php } 
 // check if there's review
	$countReview = Reviews::count("business_id='".$business->id."'");
	if ($countReview <= 0) {
?>
<h1 class="blink_me" style="color:#B2B2B2;"><center>BE THE FIRST TO REVIEW</center></h1>
<?php } $counter = 1;?>
<?php foreach ( $reviews as $key => $review  ) { // foreach $reviews ?>

	
  		<!-- PANEL  -->

  		<div class="panel panel-primary">
  					<div class="panel-heading" style="background-color:'#CC0000';">
  		
				
				<h3 class="panel-title legend-title"><?php
					$date = new DateTime($review->modified);
	        		echo $date->format('Y-m-d');	
				?></h3>
				<span class="pull-right clickable">
				<?php if ($sessionType == 1) { ?>
					<?php if ($userSession['id'] == $review->member_id) {?>
						<a href="<?php echo $this->url->getBaseUri().'review/update/'.$business->id.'/'.$review->id; ?>" style="color:white;font-family:Verdana,Arial;font-size:10px;">Edit Review</a> | 
						<a href="<?php echo $this->url->getBaseUri().'business/add_photo/'.$business->id.'/'.$review->id;?>" style="color:white;font-family:Verdana,Arial;font-size:10px;">Add Review Photo</a>
					<?php } ?>
				<?php } ?>
				</span>
			</div>
			<div class="panel-body"><!-- -->
				<div class="row">
					<div class="col-md-2">
						<span class="legend-title" style="font-weight:bold;"> <?= $review->Members->first_name . " " .substr($review->Members->last_name, 0, 1). "."?></span><br>
						<!-- IMAGE -->
						<?php
							$profilePic = 'http://placehold.it/150x150&text=NO+PROFILE+PIC';
							$primaryPix = MemberPhotos::findFirst('member_id = "'.$review->member_id.'" and primary_pic="Yes"');
							if ($primaryPix) {
						      $profilePic = 'http://mybarangay.cloudapp.net'.$this->url->getBaseUri() . $primaryPix->file_path . $primaryPix->filename;
						    }
						?>
						
						<?php
							if ($counter == 2) {
								echo Phalcon\Tag::linkTo(array('member/page/'.$review->Members->id, Phalcon\Tag::image(array($profilePic,'style'=> 'max-width:100px!important;max-height:100px!important;height:100px;width:100px;', "id" => "test", "tabindex" => '-1', "name"=> 'test', "class"=>'userpic img-responsive'))));
							} else {
								echo Phalcon\Tag::linkTo(array('member/page/'.$review->Members->id, Phalcon\Tag::image(array($profilePic,'style'=> 'max-width:100px!important;max-height:100px!important;height:100px;width:100px;', "class"=>'userpic img-responsive'))));
							}
							 
						?>
						<!-- /IMAGE -->
						<br>
						<small class="legend-title">Joined: <?php
							$date = new DateTime($review->Members->created);
	        				echo $date->format('Y-m-d');  	
							  ?> 
						</small><br>
						<?php $countReview = Reviews::count(array("member_id=".$review->member_id)); ?>
						<small class="legend-title">Reviews: <?=$countReview?></small><br>
						<?php 
							//31  canada 
							// 132 Philippines
						    // 183 US
							$countFlagIcon = (int) $review->Members->country_id;
							if ($countFlagIcon == 31) {
								echo '<img src="'.$this->url->getBaseUri().'img/ca.png"><small><b> '.$review->Members->city . '</b></small>';
							} else if ($countFlagIcon == 132) {
								echo '<img src="'.$this->url->getBaseUri().'img/ph.png"><small><b> '.$review->Members->city . '</b></small>';
							} else if ($countFlagIcon == 183) {
								echo '<img src="'.$this->url->getBaseUri().'img/us.png"><small><b> '.$review->Members->city . '</b></small>';
							}
							
						;?>
					</div>	
					<?php
						$rate = $review->rate;
						$tooltipRating = '';
						if ($rate == 1) {
							$tooltipRating = "1 salakot- Hmmm...I don't think so.";
						} else if ($rate == 2) {
							$tooltipRating = "2 salakots- Not so bad.";
						} else if ($rate == 3) {
							$tooltipRating = "3 salakots- Just fine.";
						} else if ($rate == 4) {
							$tooltipRating = "4 salakots- Cool! I am a fan.";
						} else if ($rate == 5) {
							$tooltipRating = "5 salakots- Perfect! This is exactly what I need.";
						}
					?>
					<div class="col-md-10" style="font-family: Verdana, Arial;font-size:11px;">
						<?='<div class="rating1 img-responsive" style="width:230px" >
                          <i class="salakot-img salakot_'.$review->rate.'_0" data-toggle="tooltip" title="'.$tooltipRating.'">&nbsp;</i>
                        </div><br>'; ?>
						<?=$review->content?>
						<?php
							$reviewPhotos = BusinessImages::find(array('review_id='.$review->id));
                    		if ($reviewPhotos == true) { 
				       			echo  '<div class="owl-demo2" class="owl-carousel">';
				      
								foreach ($reviewPhotos as $image) {
									echo '<div class="item">';
									 echo '<img src="'.$this->url->getBaseUri() . $image->file_path.$image->filename.'"  alt="image">';
									echo '</div>';
							    } 
						      		echo '</div>';

	                   		}  
				echo "<hr>";
if ($sessionType == 1 && $owner == 1) {
				$reviewRespond = ReviewResponds::findFirstByReviewId($review->id); 
				if ($reviewRespond) {
                 echo "<span style='color:gray;'>replied by </span> <a href='".$business->id."'><span style='color:red;'>".$business->name.": </span></a> ".$reviewRespond->content; 
              } else{
    if (isset($userSession['id'])) {
       $areyoutheowner = ClaimRequests::findFirst("member_id = ". $userSession['id']. " and business_id=".$business->id . " and status='approved'"); 
        if (!empty($areyoutheowner)) {
          echo "<a href=\"/biz/respond/$review->id/$review->business_id\" class=\"funny\"><button type=\"button\" class=\"btn btn-primary btn-xs btn3d\">RESPOND</button></a>";
        }
       
                
               } }
} else {
	$reviewRespond = ReviewResponds::findFirstByReviewId($review->id); 
				if ($reviewRespond) {
                 echo "<span style='color:gray;'>replied by </span> <a href='".$business->id."'><span style='color:red;'>".$business->name.": </span></a> ".$reviewRespond->content; 
              }
}
?>
				

					</div>
				</div>
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-10">
						<div class="pull-left">

							<?php
				             if ($sessionType == 1) {
				                $reviewCompliments = ReviewCompliments::count("member_id = ". $userSession['id']. " and business_id=".$business->id . " and review_id=".$review->id." and reviewer_id=".$review->member_id);
				              	if ($review->member_id != $userSession['id'])  {
				              		// do nothing
				                  	if ($reviewCompliments > 0) {
				                  		// do nothing
				                  	} else {
				                  		echo "<small>How's this review?:</small> <br>";
				                  		echo '<a href="'.$this->url->getBaseUri().'business/compliment/0/'.$business->id.'/'.$review->id.'/'.$review->member_id.'" class="btn btn-outlined btn-primary btn-xs">LIKE</a>';
				                        echo '<a href="'.$this->url->getBaseUri().'business/compliment/1/'.$business->id.'/'.$review->id.'/'.$review->member_id.'" class="btn btn-outlined btn-primary btn-xs">HELPFUL</a>';
				                        echo '<a href="'.$this->url->getBaseUri().'business/compliment/2/'.$business->id.'/'.$review->id.'/'.$review->member_id.'" class="btn btn-outlined btn-primary btn-xs">AWESOME</a>';
				                  	}
				                }  	
				             }
      
				            ?>
						</div>





						<div class="pull-right" style="width:350px">
			
						<span id="flagRemover<?=$counter?>">
	                   	<?php	if ($sessionType == 1) {
	                   			$countFlag = Flags::count("member_id='".$userSession['id']."' and target_id='".$review->member_id."' and review_id='".$review->id."'");
	                   			if ($review->member_id != $userSession['id']) {
	                   				if ($countFlag <= 0) {
	                   				echo '<div style="margin-left:10px;padding-left:10px;"><h3><span id="flagSpan'.$counter.'" class="fa fa-flag" style="float:right;cursor:pointer;color:red;padding-top:5px;padding-left:10px;" data-placement="top" onclick="flag('.$review->member_id.','.$userSession['id'].','.$review->id.','.$counter.')" title="flag if inapporiate" data-toggle="modal" data-target="#flagModal"></span></h3></div>';
	                   				} else {
	                   					echo "<span style='float:right;color:red;padding-top:10px;'>flagged</span>";
	                   				}
	                   			}
                  				//$checkFlag = Flags::find("member_id='".$memberId."' and target_id='".$review->member_id."' and review_id='".$review->id."'");
	                   		}
						?>
						</span>



						<?php if ($sessionType == 1) {
							// count compliments
							$numLikes = ReviewCompliments::count("reviewer_id = ".$review->member_id. " and business_id=".$business->id . " and review_id = " .$review->id ." and rate = '0'");
							$numHelpful = ReviewCompliments::count("reviewer_id = ".$review->member_id. " and business_id=".$business->id . " and review_id = " .$review->id ." and rate = '1'");
							$numAwesome = ReviewCompliments::count("reviewer_id = ".$review->member_id. " and business_id=".$business->id . " and review_id = " .$review->id ." and rate = '2'");

							$hintWord = null;
							if ($numAwesome > 0 ) {
								$hintWord = 1;
							} else if ($numHelpful > 0 AND $numAwesome <= 0){
								$hintWord = 2;
							} else if ($numLikes > 0 AND $numAwesome <= 0 AND $numHelpful <= 0){
								$hintWord = 3;
							}
							

							if ($numLikes > 0) {
								if ($hintWord == 3) {
									echo '<div class="pull-right" style="">people found this review: <img style="width:20px;padding-top:7px"  " src="'.$this->url->getBaseUri(). 'img/Like.png"/> <b>Like</b> '.$numLikes.'</div>';
								} else {
									echo '<div class="pull-right" style=""><img style="width:20px;padding-top:7px"  " src="'.$this->url->getBaseUri(). 'img/Like.png"/> <b>Like</b> '.$numLikes.'</div>';
								}
							}
							if ($numHelpful > 0) {
								if ($hintWord == 2) {
									echo '<div class="pull-right" style="">people found this review: <img style="width:13px;padding-top:7px"  " src="'.$this->url->getBaseUri(). 'img/Helpful.png"/> <b>Helpful</b> '.$numHelpful.'</div>';
								} else {
									echo '<div class="pull-right" style=""><img style="width:13px;padding-top:7px"  " src="'.$this->url->getBaseUri(). 'img/Helpful.png"/> <b>Helpful</b> '.$numHelpful.'</div>';
								}
							}
							if ($numAwesome > 0) {
								if ($hintWord == 1) {
									echo '<div class="pull-right" style="">people found this review: <img style="width:15px;padding-top:7px"  " src="'.$this->url->getBaseUri(). 'img/Rockon.png"/> <b>Awesome</b> '.$numAwesome.'</div>';
								} else {
									echo '<div class="pull-right" style=""><img style="width:15px;padding-top:7px"  " src="'.$this->url->getBaseUri(). 'img/Rockon.png"/> <b>Awesome</b> '.$numAwesome.'</div>';
								}
							}
						}?>
		
						</div>
					</div>
				</div>
			</div><!--/ -->
  		</div><!-- /PANEL -->
 <?php $counter++; ?>
  	<?php } // foreach ?>
