
<script type="text/javascript">
$('#business_address2').hide();
function flag(reviewer, reporter, reviewId, counter) {
  $('#reviewerId').val(reviewer);
  $('#reviewId').val(reviewId);
  $('#flaggerId').val(reporter);
  $('#flagId').val(counter);
}
  $(document).ready(function($) {
    $('#writereviewpanel').hide();
    //$('#gallery-wrapper').hide();
    $('#writereviewbtn').click(function() {
      //$('#writereviewpanel').show(1000);
    });
  function refresh() {
    location.reload();
  }
  $('.refreshy').click(function() {
    location.reload();
  });
  $('#fuckoff').click(function() {
  $('#gallery-wrapper').slideToggle(1000);
  $('#hide-detail').slideToggle(1000);
  });
  jQuery("#gallery").unitegallery();
  jQuery("#gallery2").unitegallery();
  
    

    $('#cancelreview').click(function() {
     $('#writereviewpanel').hide(1000);
    });


      $("#owl-demo").owlCarousel({
 
      autoPlay: 3000, //Set AutoPlay to 3 seconds
 
      items : 4,
      itemsDesktop : [1199,3],
      itemsDesktopSmall : [979,3]
 
    });

	$(".owl-demo2").owlCarousel({
 
      autoPlay: 3000, //Set AutoPlay to 3 seconds
 
      items : 4,
      itemsDesktop : [1199,3],
      itemsDesktopSmall : [979,3]
 
    });

    $('#flagify').click(function() {
      $('#flagModal').modal('hide');
      if ($('#flag_type').val() == "0") {
        alertify.error("you must choose one option");
      } else {
        var flagger = $("#flaggerId").val();
        var review = $('#reviewId').val();
        var reviewer = $('#reviewerId').val();
        var flag_type = $('#flag_type').val();
        var span_counter = $('#flagId').val();
                    $.ajax({
                      url: "<?php echo $this->url->getBaseUri() . 'business/flag'; ?>",
                      type: 'GET',
                      data: {reviewer:reviewer, review:review,flagger:flagger, flag_type:flag_type},
                      dataType: 'json',
                      success: function(result){
                        $('#flagRemover' + span_counter).html('<span style="float:right;color:red;">flagged</span>');
                        alertify.success("Your report has been sent to admin.");
                        console.log(result[0].result);
                      },
                      error: function(){
                        alertify.error("whoops, something went wrong.");
                      }
                 });
        }
        // $.post("<?php echo $this->url->getBaseUri() . 'business/flag'; ?>", {flagger: flagger, review: review, reviewer: reviewer}, function(result){
        //     console.log(result.review + ' - ' + result.reviewer + ' - ' + $result.flagger);
        // }, 'json');
    }); 


  
  });

  //   function initialize() {
  //     var map;
  //     var bounds = new google.maps.LatLngBounds();
  //     var mapOptions = {
  //         mapTypeId: 'roadmap'
  //     };
                     
  //     // Display a map on the page
  //     map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
  //     map.setTilt(45);
          
  //     // Multiple Markers
  //     var markers = [
  //         <?php echo $mapMarkers; ?>
  //     ];
                         
  //     // Info Window Content
  //     var infoWindowContent = [
  //         <?php echo $mapInfoWindow; ?>
  //     ];
          
  //     // Display multiple markers on a map
  //     var infoWindow = new google.maps.InfoWindow(), marker, i;
      
  //     // Loop through our array of markers & place each one on the map  
  //     for( i = 0; i < markers.length; i++ ) {
  //         var position = new google.maps.LatLng(markers[i][1], markers[i][2]);
  //         bounds.extend(position);
  //         marker = new google.maps.Marker({
  //             position: position,
  //             map: map,
  //             title: markers[i][0]
  //         });
          
  //         // Allow each marker to have an info window    
  //         google.maps.event.addListener(marker, 'click', (function(marker, i) {
  //             return function() {
  //                 infoWindow.setContent(infoWindowContent[i][0]);
  //                 infoWindow.open(map, marker);
  //             }
  //         })(marker, i));

  //         // Automatically center the map fitting all markers on the screen
  //         map.fitBounds(bounds);
  //     }

  //     // Override our map zoom level once our fitBounds function runs (Make sure it only runs once)
  //     var boundsListener = google.maps.event.addListener((map), 'bounds_changed', function(event) {
  //         this.setZoom(14);
  //         google.maps.event.removeListener(boundsListener);
  //     });
      
  // }
</script>