<!-- Modal -->
<div class="modal fade" id="flagModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><span style="font-family:Arial;color:red;font-weight:bold;"><span class="glyphicon glyphicon-flag" style="color: red;"></span> Flag Review</span></h4>
      </div>
      <div class="modal-body">
        <p>Please refer to our 'Terms of Use' and 'Privacy Policy' and let us know why you think the content you've reported may violate these guidelines</p>

        <br>

        <p style="font-weight:bold">Why do you want to report this review?</p>
        <form action="">
          <input id="flagId" type="hidden" class="form-control"/>
          <input id="reviewId" type="hidden" class="form-control" />
          <input id="reviewerId" type="hidden" class="form-control" />
          <input id="flaggerId" type="hidden" class="form-control" />
          <select id="flag_type" class="form-control">
            <option value="0">Select and option...</option>
            <?php $flagOptions = FlagTypes::find(); 
              foreach ($flagOptions as $option) {
            ?>
              <option value="<?= $option->id ?>"><?= $option->detail ?></option>
            <?php } ?>
          </select>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="flagify" type="button" class="btn btn-primary">Flag</button>
      </div>
    </div>
  </div>
</div>
<!-- /Modal -->