
  /* PROFILE */
.profile {
  width: 100%;
  float: left;
  padding: 15px 10px;
  position: relative;
  background: #2d3945;
}
.profile .profile-image {
  float: left;
  width: 100%;

  margin: 0px 0px 10px;
  text-align: center;
}
.profile .profile-image img {
  width: 100px;
    height: 100px;
  border: 3px solid #FFF;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.profile .profile-data {
  width: 100%;
  float: left;
  text-align: center;
}
.profile .profile-data .profile-data-name {
  width: 100%;
  float: left;
  font-size: 14px;
  font-weight: 500;
  color: #FFF;
}
.profile .profile-data .profile-data-title {
  width: 100%;
  float: left;
  font-size: 11px;
  font-weight: 400;
  color: #999;
}
.profile .profile-controls a {
  width: 30px;
  height: 30px;
  font-size: 14px;
  color: #DDD;
  border: 2px solid #DDD;
  line-height: 25px;
  position: absolute;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  padding: 0px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.profile .profile-controls a.profile-control-left {
  left: 15px;
  top: 53px;
  text-align: center;
}
.profile .profile-controls a.profile-control-right {
  right: 15px;
  top: 53px;
  text-align: center;
}
.profile .profile-controls a .fa,
.profile .profile-controls a .glyphicon {
  width: auto;
  margin-right: auto;
}
.profile .profile-controls a:hover {
  border-color: #FFF;
  color: #FFF;
}
/* LIST GROUP */
.list-group {
  margin: 0px;
}
.list-group .list-group-item {
  line-height: 20px;
}
.list-group .list-group-item .fa {
  margin-right: 10px;
}
.list-group .list-group-item .btn .fa {
  margin-right: 0px;
}
.list-group .list-group-item .progress {
  margin: 5px 0px;
}
.list-group .list-group-item.active .badge {
  color: #656d78;
}
.list-group .list-group-item:last-child {
 /* border-bottom: 0px;*/
}
.list-group.list-group-simple {
  border: 0px;
  background: transparent;
}
.list-group.list-group-simple .list-group-item {
  border: 0px;
  background: transparent;
  padding: 5px 10px;
}
.list-group.border-bottom .list-group-item:last-child {
  border-bottom: 1px solid #E5E5E5;
}
.list-group.list-group-navigation {
  border: 0px;
  float: left;
  width: 100%;
}
.list-group.list-group-navigation .list-group-item {
  border-left: 0px;
  border-right: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
.padding-0 .list-group {
  border: 0px;
}
.padding-0 .list-group .list-group-item {
  border-width: 1px 0px 0px 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
.padding-0 .list-group .list-group-item:first-child {
  border-top: 0px;
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  background: #33414e;
  border-color: #33414e;
}
.list-group-item {
  border-color: #E5E5E5;
}
a.list-group-item:hover,
a.list-group-item:focus {
  background: #F9F9F9;
}


/***********/
/* PANELS */
.panel {
  float: left;
  width: 100%;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 0px;
  border-top: 2px solid #E5E5E5;
  margin-bottom: 20px;
  position: relative;
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
}
.panel.panel-default {
  border-top-color: #F5F5F5;
  border-top-width: 1px;
}
.panel.panel-primary {
  border-top-color: #33414e;
}
.panel.panel-success {
  border-top-color: #95b75d;
}
.panel.panel-info {
  border-top-color: #3fbae4;
}
.panel.panel-warning {
  border-top-color: #fea223;
}
.panel.panel-danger {
  border-top-color: #b64645;
}
.panel.panel-colorful:before {
  content: "";
  width: 100%;
  height: 2px;
  background: linear-gradient(left, #b64645 0%, #fea223 50%, #95b75d 100%);
  background: -o-linear-gradient(left, #b64645 0%, #fea223 50%, #95b75d 100%);
  background: -moz-linear-gradient(left, #b64645 0%, #fea223 50%, #95b75d 100%);
  background: -webkit-linear-gradient(left, #b64645 0%, #fea223 50%, #95b75d 100%);
  background: -ms-linear-gradient(left, #b64645 0%, #fea223 50%, #95b75d 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #b64645), color-stop(0.5, #fea223), color-stop(1, #95b75d));
  display: block;
  left: 0px;
  top: 0px;
}
.panel .panel-heading {
  padding: 10px;
}
.panel .panel-heading .panel-title-image {
  float: left;
  width: 30px;
  border: 2px solid #D5D5D5;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-right: 5px;
}
.panel .panel-heading .panel-title {
  margin-left: 7px;
}
.panel .panel-heading .panel-title-box {
  float: left;
}
.panel .panel-heading .panel-title-box h3 {
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  color: #434a54;
  padding: 0px;
  margin: 0px;
}
.panel .panel-heading .panel-title-box span {
  font-size: 12px;
  color: #a7adb5;
  font-weight: 400;
  line-height: 12px;
}
.panel .panel-heading,
.panel .panel-footer,
.panel .panel-body {
  float: left;
  width: 100%;
}
.panel .panel-body {
  padding: 15px;
  position: relative;
}
.panel .panel-body.scroll {
  padding-right: 0px;
}
.panel .panel-body.panel-body-map {
  padding: 5px;
}
.panel .panel-body.panel-body-image {
  padding: 0px;
  margin-bottom: 10px;
  position: relative;
}
.panel .panel-body.panel-body-image img {
  -moz-border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
  width: 100%;
}
.panel .panel-body.panel-body-image .panel-body-inform {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: -15px;
  left: 50%;
  background: #3fbae4;
  color: #FFF;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-left: -15px;
  text-align: center;
  line-height: 30px;
  padding-left: 1px;
  padding-top: 1px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.panel .panel-body.panel-body-image .panel-body-inform.inform-primary {
  background: #33414e;
}
.panel .panel-body.panel-body-image .panel-body-inform.inform-success {
  background: #95b75d;
}
.panel .panel-body.panel-body-image .panel-body-inform.inform-warning {
  background: #fea223;
}
.panel .panel-body.panel-body-image .panel-body-inform.inform-danger {
  background: #b64645;
}
.panel .panel-body.panel-body-image .panel-body-inform .fa {
  font-size: 16px;
  color: #FFF;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.panel .panel-body.list-group {
  padding: 0px;
}
.panel .panel-body.profile {
  -moz-border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
}
.panel .panel-body.panel-body-search {
  padding: 5px;
}
.panel .panel-body.panel-body-half .panel-body {
  width: 50%;
  height: 100%;
}
.panel .panel-body.panel-body-half .panel-body:nth-child(2n) {
  padding-left: 25px;
}
.panel .panel-body.panel-body-half .panel-body.panel-body-image {
  margin-bottom: 0px;
}
.panel .panel-body.panel-body-half .panel-body.panel-body-image .panel-body-inform {
  bottom: auto;
  left: auto;
  right: -15px;
  top: 50%;
  margin-left: 0px;
  margin-top: -15px;
}
.panel .panel-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  display: block;
  float: left;
  color: #434a54;
}
.panel .panel-footer {
  background: #F5F5F5;
  border: 0px;
  border-top: 1px solid #E3E3E3;
  line-height: 30px;
  padding: 10px;
}
.panel-default .panel-heading,
.panel-primary .panel-heading,
.panel-success .panel-heading,
.panel-info .panel-heading,
.panel-warning .panel-heading,
.panel-danger .panel-heading {
  background: #F5F5F5;
  border-color: #E5E5E5;
}
.panel-fullscreen-wrap {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: #FFF;
}
.panel-fullscreen-wrap .panel {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  margin: 0px;
}
.panel-fullscreen-wrap .panel .panel-body {
  overflow-y: scroll;
}

/* Gallery */
.gallery {
  float: left;
  width: 100%;
}
.gallery .gallery-item {
  float: left;
  width: 25%;
  padding: 10px 5px 10px 5px;
  text-decoration: none;
}
.gallery .gallery-item .image {
  width: 100%;
  -moz-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.gallery .gallery-item .image a {
  display: block;
}
.gallery .gallery-item .image:after,
.gallery .gallery-item .image:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 3px solid #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  z-index: 1;
}
.gallery .gallery-item .image:before {
  z-index: 2;
  background: rgba(0, 0, 0, 0);
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.gallery .gallery-item .image:hover:before {
  background: rgba(0, 0, 0, 0.3);
}
.gallery .gallery-item .image img {
  width: 100%;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.gallery .gallery-item .image .gallery-item-controls {
  position: absolute;
  right: -60px;
  top: 3px;
  display: block;
  list-style: none;
  padding: 0px;
  z-index: 2;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.gallery .gallery-item .image .gallery-item-controls li {
  float: left;
  list-style: none;
  background: #FFF;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 26px;
}
.gallery .gallery-item .image .gallery-item-controls li .check {
  margin: 4px 0px;
}
.gallery .gallery-item .image .gallery-item-controls li .icheckbox_minimal-grey {
  margin-right: 0px;
}
.gallery .gallery-item .image .gallery-item-controls li a,
.gallery .gallery-item .image .gallery-item-controls li span {
  font-size: 17px;
  color: #BBB;
}
.gallery .gallery-item .image .gallery-item-controls li a:hover,
.gallery .gallery-item .image .gallery-item-controls li span:hover {
  color: #656d78;
}
.gallery .gallery-item .image .gallery-item-controls li:first-child {
  -moz-border-radius: 0px 0px 0px 3px;
  -webkit-border-radius: 0px 0px 0px 3px;
  border-radius: 0px 0px 0px 3px;
}
.gallery .gallery-item .image .gallery-item-controls li:hover {
  background: #F5F5F5;
}
.gallery .gallery-item .meta {
  color: #656d78;
  margin-top: 5px;
  line-height: 16px;
  padding: 0px 5px;
}
.gallery .gallery-item .meta strong {
  display: block;
  font-weight: 600;
  font-size: 13px;
}
.gallery .gallery-item .meta span {
  display: block;
  color: #99a0aa;
}
.gallery .gallery-item:hover .image .gallery-item-controls {
  right: 3px;
}
.gallery .gallery-item.active .image {
  -moz-box-shadow: 0px 0px 6px 0px rgba(51, 65, 78, 0.8);
  -webkit-box-shadow: 0px 0px 6px 0px rgba(51, 65, 78, 0.8);
  box-shadow: 0px 0px 6px 0px rgba(51, 65, 78, 0.8);
}
.gallery .gallery-item.active .image .gallery-item-controls {
  right: 3px;
}
.text-title {

  font-weight: 600;
  border-bottom: 1px solid #F5F5F5;
  padding: 10px 0px 5px 10px;
  font-size: 15px;
}
/* TIMELINE */
.img-text {
  border: 3px solid #FFF;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin: 0px 10px 5px 0px;
  -moz-box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.1);
}

.timeline-item-content {
  float: left;
  background: #F5F5F5;
  border: 3px solid #FFF;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
margin:10px 0px;
width:100%;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2), 0px -1px 0px 0px rgba(0, 0, 0, 0.2), 1px 0px 0px 0px rgba(0, 0, 0, 0.2), -1px 0px 0px 0px rgba(0, 0, 0, 0.2);
}
/* .timeline-item-content:before,
 .timeline-item-content:after {
  left: 95%;
  top: 20px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.timeline-item-content:before {
  border-color: rgba(255, 255, 255, 0);
  border-left-color: #fe7;
  border-width: 3px;
  margin-top: -3px;
}
 .timeline-item-content:after {
  border-color: rgba(255, 255, 255, 0);
  border-left-color: #fe7;
  border-width: 7px;
  margin-top: -7px;
}*/
.timeline-item-content .timeline-heading {
  width: 100%;
  float: left;
  padding: 10px 10px 5px;
  line-height: 30px;
}
.timeline-item-content .timeline-heading img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  border: 2px solid #FFF;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.timeline-item-content .timeline-heading a {
  color: #33414e;
  font-weight: 600;
}
.timeline-item-content .timeline-body {
  width: 100%;
  float: left;
  padding: 10px;
}
.timeline-item-content .timeline-body.comments {
  padding: 0px;
}
.timeline-item-content .timeline-footer {
  width: 100%;
  float: left;
  padding: 5px 10px;
  line-height: 20px;
  background: #FFF;
}
.timeline-item-content .timeline-footer small {
  color: #33414e;
  font-size: 12px;
  margin-right: 10px;
  text-decoration: none;
}
/*.timeline-item-content .timeline-footer a:hover {
  color: #29343f;
}*/
.timeline-item-content .timeline-footer .pull-right > small:last-child {
  margin-right: 0px;
}




/* HELPERS */
.push-down-0 {
  margin-bottom: 0px !important;
}
.push-down-5 {
  margin-bottom: 5px !important;
}
.push-down-10 {
  margin-bottom: 10px !important;
}
.push-down-15 {
  margin-bottom: 15px !important;
}
.push-down-20 {
  margin-bottom: 20px !important;
}
.push-down-25 {
  margin-bottom: 25px !important;
}
.push-down-30 {
  margin-bottom: 30px !important;
}
.push-up-0 {
  margin-top: 0px !important;
}
.push-up-5 {
  margin-top: 5px !important;
}
.push-up-10 {
  margin-top: 10px !important;
}
.push-up-15 {
  margin-top: 15px !important;
}
.push-up-20 {
  margin-top: 20px !important;
}
.push-up-25 {
  margin-top: 25px !important;
}
.push-up-30 {
  margin-top: 30px !important;
}
.padding-0 {
  padding: 0px !important;
}
.padding-bottom-0 {
  padding-bottom: 0px !important;
}
.padding-top-0 {
  padding-top: 0px !important;
}


/* LIST TAGS */
.list-tags {
  float: left;
  width: 100%;
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.list-tags li {
  float: left;
  display: block;
  position: relative;
}
.list-tags li a {
  display: block;
  float: left;
  background: #F5F5F5;
  border: 1px solid #D5D5D5;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  line-height: 23px;
  font-size: 11px;
  margin: 0px 5px 5px 0px;
  padding: 0px 8px;
  color: #656d78;
}
.list-tags li a:hover {
  text-decoration: none;
  background: #F0F0F0;
}
.bold{
  font-weight: bold;
}
