
.inner-box{
  background: #FFF none repeat scroll 0px 0px;
  border-radius: 3px;
  box-shadow: 0px 1px 1px rgba(180, 180, 180, 0.5);
  margin-bottom: 30px;
  padding: 20px 15px;

}

.list-title a, .list-title {
  color: #222;
  font-size: 18px;
}

.list-title {
  border-bottom: 1px solid #ddd;
  display: block;
  margin-bottom: 15px;
  padding: 10px 0;
  position: relative;
  text-transform: uppercase;
}

.list-title:before {
  border-color: #ddd transparent transparent;
  border-style: solid;
  border-width: 7px;
  bottom: -14px;
  box-sizing: border-box;
  content: " ";
  display: block;
  left: 34px;
  position: absolute;
  z-index: 2;
}

.list-title:after {
  border-color: #fff transparent transparent;
  border-style: solid;
  border-width: 6px;
  bottom: -12px;
  box-sizing: border-box;
  content: " ";
  display: block;
  left: 35px;
  position: absolute;
  z-index: 2;
}
.title-2{border-bottom:1px solid #e6e6e6;margin-bottom:20px;}
.title-5{font-family:Roboto,Helvetica,Arial,sans-serif;border-bottom:1px solid #ebebeb;color:#080808;font-size:16px;font-weight:400;margin:0 0 20px;padding:0 0 20px;text-transform:uppercase;}
.uppercase{text-transform:uppercase;}
.relative{position:relative;}
.no-margin{margin:0!important;}
.no-padding{padding:0!important;}
.no-border{border:0;}
.width100,.w100{width:100%;}
.hw100{height:100%;width:100%;}
.dtable{display:table;}
.dtable-cell{display:table-cell;vertical-align:middle;}


/* Price Range */

.form-inline .form-control {
  max-width: 100%;
}

.list li {
  list-style:none;
}


ul.list-link li a, ul.list-link li {
  color: #4e575d;
  font-size: 12px;
  font-style: normal;
  line-height: normal;
  padding: 3px 0;
  transition: all 0.1s ease 0s;
}

ul.list-link li a:hover {
  text-decoration: underline;
  color: #345676;
}

hr.thin {
  margin-bottom: 10px;
  margin-top: 10px;
}
/****/
.adds-wrapper{background:#fff;clear:both;display:block;height:auto;overflow:auto;width:100%;}
.item-list{border-bottom:1px solid #ddd;clear:both;height:auto;width:100%;display:block;position:relative;overflow:hidden;}
.adds-wrapper .item-list:last-child{border-bottom:none;}

.item-list .make-favorite span{width:0;font-size:0;transition:all 0.3s ease;}
.item-list:hover .make-favorite span{width:auto;font-size:11px;}
.price-box{padding:0;}
.adds-wrapper .item-list.make-compact .price-box {
  float: right;
}
@media (max-width:991px) {
  .item-list .make-favorite{
    padding:2px 5px;
  }
}

@media (max-width:767px) {

.price-box{clear:both;display:block;height:auto;padding:10px 15px 0;text-align:left;width:100%;}
.item-list.make-list{text-align:left;}
.item-list .add-details{padding:10px 0 0;}
.item-list.make-compact .make-favorite{float:left;margin-left:10px;}

}

.item-list.make-compact .photobox,.item-list.make-compact .info-row .category{display:none;}
.item-list.make-compact .add-title{float:left;clear:left;height:19px;overflow:hidden;padding-bottom:7px;width:60%;}
.item-list.make-compact .info-row{display:none;float:left;clear:none;font-size:12px;width:40%;}
.item-list.make-compact h2.item-price{/*line-height:20px;*/}

@media (max-width:1199px) {
  .item-list.make-compact .add-title,.item-list.make-compact .info-row{width:100%;}
  .add-details{padding:0;}

}
.item-list.make-compact .item-price{line-height:normal;margin-bottom:0;padding-bottom:5px;}
.item-list.make-compact .make-favorite span{font-size:0;transition:all 0.3s ease 0s;width:0;}
.item-list.make-list,.item-list.make-compact{height:auto!important;}
.item-list.make-grid{width: 33.33333333%;float:left;clear:none;border-right:solid 1px #ddd;}
.adds-wrapper .item-list.make-grid:nth-child(4n+4){/*border-right:none;*/}

.adds-wrapper .item-list.make-grid .add-desc-box{
  min-height: 200px;

  max-height: 400px;
}

.adds-wrapper .item-list.make-grid .add-desc-box{

  padding-bottom: 90px;
}

.adds-wrapper .item-list.make-grid .price-box{
 
  bottom:0;position:absolute;display:block
}



.item-list.make-grid {border:solid 1px #ddd;background:#EEEEEE;}

@media(max-width: 991px) {
  .item-list.make-grid {
  /*  width: 33.33%;*/
     width: 50%;
  }

  .adds-wrapper .item-list.make-grid:nth-child(4n+4) {
   /* border-right: solid 1px #ddd;*/
  }

  .adds-wrapper .item-list.make-grid:nth-child(3n+3) {
   /* border-right: none;*/
  }



}

@media(max-width: 778px) {
  .item-list.make-grid {
    width: 33.33%;
  }
}

@media(max-width: 540px) {
  .item-list.make-grid {
    width: 50%;
 /*   border-right: solid 1px #ddd !important;*/
  }

  .adds-wrapper .item-list.make-grid:nth-child(2n+2) {
/*    border-right: none !important;*/
  }
}

@media(max-width: 360px) {
  .item-list.make-grid {
    width: 100%;
    border-right: none;
  }
}

.item-list.make-grid .photobox, .item-list.make-grid .add-desc-box, .item-list.make-grid .price-box {
  width: 100%;
  clear: both;
}

.item-list.make-grid .add-desc-box {
  padding: 10px 15;
}

.item-list.make-grid .price-box {
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom:10px;
}



/* Ribbons  */
.cornerRibbons {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  left: -8%;
  overflow: hidden;
  position: absolute;
  top: 30%;
  -ms-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  width: 200px;
  z-index: 2;
  transition: all 0.3s ease 0s;
}

.cornerRibbons a {
  color: #fff;
  display: block;
  font-family: Roboto Condensed, Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease 0s;
}

.cornerRibbons.topAds {
  background: #16A085;
}

.cornerRibbons.urgentAds {
  background: #CC3300;
}

.cornerRibbons.featuredAds {
  background: #e5b911;
}

.cornerRibbons.featuredAds a {
  color: #fff;
}

.item-list.make-grid .cornerRibbons {
  left: -22%;
  top: 10%;
}

.item-list.make-compact .cornerRibbons {
  left: -15%;
  text-indent: -99999px;
  top: 18%;
}

@media (max-width:991px) {
  .cornerRibbons {
    left: -10%;
    top: 19%;
    width: 170px;
    z-index: 2;
  }

  .cornerRibbons {
    font-size: 11px;
  }

  .item-list.make-compact .cornerRibbons {
    left: -20%;
  }
}

@media (max-width:767px) {
  .cornerRibbons {
    left: -36px;
    top: 24px;
    width: 160px;
  }

  .item-list.make-grid .cornerRibbons {
    left: -36px;
    top: 24px;
  }

  .cornerRibbons {
    font-size: 11px;
  }

  .item-list.make-compact .cornerRibbons {
    left: -100px;
  }
}