<div class="body-wrapper" style="margin-top:110px;"> <!-- start body wrapper -->
  <div class="container" style=" background:#fff"> <!-- start body wrapper container-fluid -->
    <div class="row" > <!-- start body wrapper row -->

    <div style="margin-bottom:20px"><!-- page wrapper body -->

      <?php //$this->partial('partials/breadcrum'); ?>

  <!-- start left panel -->
      <div class="col-md-3" style="">
        <div class="col-md-12 col-sm-6" style="padding:0px;margin0px;">

            <div class="panel panel-default" >
              <div class="panel-heading" >
               <h4> <span class="glyphicon glyphicon-search"></span> Search Events</h4> 
              </div>

              <div class="panel-body">


              </div>
            </div>        
    
        </div>

        <div class="col-md-12 col-sm-6" style="padding:0px;margin0px;">
          <legend></legend>
            <div class="panel panel-default" >
              <div class="panel-body">
                <h3>Not here? Tell us what we're missing.</h3>
                <p class="text-info"><strong>If the business you're looking for isn't here, add it!</strong></p>
                <form action="" method="">
                  <input type="submit" class="btn btn-primary" value="Add A Business">
                </form>
              </div>
            </div>        
        </div>


      </div>
      <!-- end left panel -->

      </div>
    </div>        
  </div>
</div>


