<div class="col-sm-12 col-md-12 col-lg-12 hidden-xs">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title"><i class="icon-users"></i> Admin List</h3>
		</div>
		<div class="panel-body">
			<table id="admin_table" class="cell-border compact stripe" cellspacing="0" width="100%">
		        <thead>
		            <tr>
		               <th>created</th>
		               <th>email</th>
		               <th>fullname</th>
		               <th>admin_access</th>
		            </tr>
		        </thead>
		        <tbody>
		        <?php
		        	$members = Members::find();
		        	foreach ($members as $member) { 
		        ?>	
		        <tr>
		        	<td><?= $member->created ?></td>
						<?php 
		        			
		        		
		        			echo "<td>".$member->email."</td>";
		        			echo "<td>".$member->first_name. ' ' . $member->last_name."</td>";
		        			echo "<td>";
		        		?>
		        			<input
		        				class="grant"
								type="checkbox" 
								autocomplete="off",
								id="<?=$member->id?>"
								data-member_id="<?=$member->id?>"
								<?php echo $member->admin_access ? 'checked' : ''; ?>
							>
		        		<?php
		        			echo "</td>";
		        		
		        	?>
		        	</tr>
		        <?php 
		        	}
		        ?>
		        </tbody>
		        <tfoot>
		            <tr>
		               <th>created</th>
		               <th>email</th>
		               <th>fullname</th>
		               <th>admin_access</th>
		            </tr>
		        </tfoot>
	    	</table>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function() {
		$('#admin_table').dataTable();

	});
</script>
<script type="text/javascript">
	$('.grant').change(function() {
			var $this = $(this);
			var member_id = $this.data('member_id');

		    $.ajax({
		        url: "grantAdminAccess",
		        type: 'POST',
		        data: {member_id: member_id},
		        dataType: 'json',
		        success: function(result){
					if (result[0].status == "ok") {
						
						if (result[0].how == "0") {
							alertify.error("admin access was removed");
						} else {
							alertify.success("admin access was granted");
						}
					} else if (result[0].status == "failed") {	
						alertify.error("WHOOPS, SOMETHING WENT WRONG, PLEASE TRY AGAIN.");
					}
		        },
		        error: function(){
		            alertify.error("WHOOPS, SOMETHING WENT WRONG, PLEASE TRY AGAIN.");
		        }
		    });

		});
</script>

