<style>
  div[id^="chart"] {
    width: 500px;
    height: 300px;
  }
</style>


<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12 hidden-xs">
  <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"> </i> Visits Summary</h3>
      </div>

      <div class="panel-body">
      <!-- MAP -->
         <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="panel panel-default">
              <div class="panel-heading"><h3 class="panel-title"> Visitor Map</h3></div>
              <div class="panel-body">
                <div id="widgetIframe"><iframe width="100%" height="350" src="http://mybarangay.cloudapp.net/analytics/index.php?module=Widgetize&action=iframe&widget=1&moduleToWidgetize=UserCountryMap&actionToWidgetize=visitorMap&idSite=1&period=month&date=2015-08-27&disableLink=1&widget=1&idSite=1&period=year&date=yesterday&disableLink=1&widget=1&token_auth=bbe67462ecdbeb62ad3c7ac077c9f6dc" scrolling="no" frameborder="0" marginheight="0" marginwidth="0"></iframe></div>
              </div>
            </div>
          </div>
      <!-- END MAP -->
      <!-- VISITS BY SERVER TIME -->
         <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="panel panel-default">
              <div class="panel-heading"><h3 class="panel-title"> Visits by Server Time </h3></div>
              <div class="panel-body">
                <div id="widgetIframe"><iframe width="100%" height="350" src="http://mybarangay.cloudapp.net/analytics/index.php?module=Widgetize&action=iframe&widget=1&moduleToWidgetize=VisitTime&actionToWidgetize=getVisitInformationPerServerTime&idSite=1&period=day&date=yesterday&disableLink=1&widget=1&token_auth=bbe67462ecdbeb62ad3c7ac077c9f6dc" scrolling="no" frameborder="0" marginheight="0" marginwidth="0"></iframe></div>
              </div>
            </div>
          </div>
      <!-- END VISITS BY SERVER TIME -->
      <!-- VISITS BY LOCAL TIME -->
          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="panel panel-default">
              <div class="panel-heading"><h3 class="panel-title"> Visits by Local Time (Your Time)</h3></div>
              <div class="panel-body">
                <div id="widgetIframe"><iframe width="100%" height="350" src="http://mybarangay.cloudapp.net/analytics/index.php?module=Widgetize&action=iframe&widget=1&moduleToWidgetize=VisitTime&actionToWidgetize=getVisitInformationPerLocalTime&idSite=1&period=day&date=yesterday&disableLink=1&widget=1&token_auth=bbe67462ecdbeb62ad3c7ac077c9f6dc" scrolling="no" frameborder="0" marginheight="0" marginwidth="0"></iframe></div>
              </div>
            </div>
          </div>
      <!-- END VISITS BY LOCAL TIME -->
      <!-- VISITS BY DAY OF WEEK  -->
          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="panel panel-default">
              <div class="panel-heading"><h3 class="panel-title">Visits by Day of Week</h3></div>
              <div class="panel-body">
               <div id="widgetIframe"><iframe width="100%" height="350" src="http://mybarangay.cloudapp.net/analytics/index.php?module=Widgetize&action=iframe&widget=1&moduleToWidgetize=VisitTime&actionToWidgetize=getByDayOfWeek&idSite=1&period=month&date=yesterday&disableLink=1&widget=1&token_auth=bbe67462ecdbeb62ad3c7ac077c9f6dc" scrolling="no" frameborder="0" marginheight="0" marginwidth="0"></iframe></div>
              </div>
            </div>
          </div>
      <!-- END VISITS BY DAY OF WEEK  -->
           <!-- VISITS BY OVER TIME   -->
          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="panel panel-default">
              <div class="panel-heading"><h3 class="panel-title">Visits Over Time</h3></div>
              <div class="panel-body">
               <div id="widgetIframe"><iframe width="100%" height="350" src="http://mybarangay.cloudapp.net/analytics/index.php?module=Widgetize&action=iframe&columns[]=nb_visits&widget=1&moduleToWidgetize=VisitsSummary&actionToWidgetize=getEvolutionGraph&idSite=1&period=month&date=yesterday&disableLink=1&widget=1&token_auth=bbe67462ecdbeb62ad3c7ac077c9f6dc" scrolling="no" frameborder="0" marginheight="0" marginwidth="0"></iframe></div>
              </div>
            </div>
          </div>
          <!-- END VISITS OVER  -->

      </div>
  </div> <!-- PAEL -->
  </div> <!-- COL-->
</div> <!-- ROW-->


<div class="row">
<div class="col-xs-12 col-lg-12 col-md-12">
<div class="panel panel-default">
<div class="panel-heading">
  <h3 class="panel-title"><i class="icon-users"></i> Visitors</h3>
</div>
<div class="panel-body">
    <div class="col-sm-12 col-md-6 col-lg-6 hidden-xs">
    <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="icon-users"></i> Device Types</h3>
        </div>

        <div class="panel-body">
          <div id="widgetIframe"><iframe width="100%" height="350" src="http://mybarangay.cloudapp.net/analytics/index.php?module=Widgetize&action=iframe&widget=1&moduleToWidgetize=DevicesDetection&actionToWidgetize=getType&idSite=1&period=month&date=yesterday&disableLink=1&widget=1&token_auth=bbe67462ecdbeb62ad3c7ac077c9f6dc" scrolling="no" frameborder="0" marginheight="0" marginwidth="0"></iframe></div>
        </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-6 hidden-xs">
    <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="icon-users"></i> Visitor Browser</h3>
          
        </div>

        <div class="panel-body" >
         <div id="widgetIframe" style="overflow: hidden;"><iframe width="100%" height="350" src="http://mybarangay.cloudapp.net/analytics/index.php?module=Widgetize&action=iframe&widget=1&moduleToWidgetize=DevicesDetection&actionToWidgetize=getBrowsers&idSite=1&period=month&date=yesterday&disableLink=1&widget=1&token_auth=bbe67462ecdbeb62ad3c7ac077c9f6dc" scrolling="no" frameborder="0" marginheight="0" marginwidth="0"></iframe></div>
        </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-6 hidden-xs">
    <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="icon-users"></i> Language Code</h3>
          
        </div>

        <div class="panel-body">
         <div id="widgetIframe"><iframe width="100%" height="350" src="http://mybarangay.cloudapp.net/analytics/index.php?module=Widgetize&action=iframe&widget=1&moduleToWidgetize=UserLanguage&actionToWidgetize=getLanguageCode&idSite=1&period=month&date=2015-08-27&disableLink=1&widget=1&token_auth=bbe67462ecdbeb62ad3c7ac077c9f6dc" scrolling="no" frameborder="0" marginheight="0" marginwidth="0"></iframe></div>
        </div>
    </div>
  </div>
    <div class="col-sm-12 col-md-6 col-lg-6 hidden-xs">
    <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="icon-users"></i> OS/Browser/Screen Resolution</h3>
          
        </div>

        <div class="panel-body">
         <div id="widgetIframe"><iframe width="100%" height="350" src="http://mybarangay.cloudapp.net/analytics/index.php?module=Widgetize&action=iframe&widget=1&moduleToWidgetize=Resolution&actionToWidgetize=getConfiguration&idSite=1&period=month&date=2015-08-27&disableLink=1&widget=1&token_auth=bbe67462ecdbeb62ad3c7ac077c9f6dc" scrolling="no" frameborder="0" marginheight="0" marginwidth="0"></iframe></div>
        </div>
    </div>
  </div>
    <div class="col-sm-12 col-md-6 col-lg-6 hidden-xs">
    <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="icon-users"></i> Top Site Search Keywords</h3>
          
        </div>

        <div class="panel-body">
         <div id="widgetIframe"><iframe width="100%" height="350" src="http://mybarangay.cloudapp.net/analytics/index.php?module=Widgetize&action=iframe&widget=1&moduleToWidgetize=Actions&actionToWidgetize=getSiteSearchKeywords&idSite=1&period=month&date=yesterday&disableLink=1&widget=1&token_auth=bbe67462ecdbeb62ad3c7ac077c9f6dc" scrolling="no" frameborder="0" marginheight="0" marginwidth="0"></iframe></div>
        </div>
    </div>
  </div>
    <div class="col-sm-12 col-md-6 col-lg-6 hidden-xs">
    <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="icon-users"></i> Visitor Location (Continent)</h3>
          
        </div>

        <div class="panel-body">
         <div id="widgetIframe"><iframe width="100%" height="350" src="http://mybarangay.cloudapp.net/analytics/index.php?module=Widgetize&action=iframe&widget=1&moduleToWidgetize=UserCountry&actionToWidgetize=getContinent&idSite=1&period=month&date=yesterday&disableLink=1&widget=1&token_auth=bbe67462ecdbeb62ad3c7ac077c9f6dc" scrolling="no" frameborder="0" marginheight="0" marginwidth="0"></iframe></div>
        </div>
    </div>
    </div>
</div>
</div>
</div>
</div>

<div class="row">
<div class="col-xs-12 col-lg-12 col-md-12">
<div class="panel panel-default">
<div class="panel-heading">
  <h3 class="panel-title"> Insights</h3>
</div>
<div class="panel-body">
    <div class="col-sm-12 col-md-12 col-lg-12 hidden-xs">
    <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"> Insights Overview</h3>
          
        </div>

        <div class="panel-body">
         <div id="widgetIframe"><iframe width="100%"  height="100%" src="http://mybarangay.cloudapp.net/analytics/index.php?module=Widgetize&action=iframe&widget=1&moduleToWidgetize=Insights&actionToWidgetize=getInsightsOverview&idSite=1&period=month&date=yesterday&disableLink=1&widget=1&token_auth=bbe67462ecdbeb62ad3c7ac077c9f6dc" scrolling="no" frameborder="0" marginheight="0" marginwidth="0"></iframe></div>
        </div>
    </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 hidden-xs">
    <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"> Movers and Shakers </h3>
          
        </div>

        <div class="panel-body">
         <div id="widgetIframe"><iframe width="100%" height="350" src="http://mybarangay.cloudapp.net/analytics/index.php?module=Widgetize&action=iframe&widget=1&moduleToWidgetize=Insights&actionToWidgetize=getOverallMoversAndShakers&idSite=1&period=month&date=yesterday&disableLink=1&widget=1&token_auth=bbe67462ecdbeb62ad3c7ac077c9f6dc" scrolling="no" frameborder="0" marginheight="0" marginwidth="0"></iframe></div>
        </div>
    </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 hidden-xs">
    <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"> Referrer Websites </h3>
          
        </div>

        <div class="panel-body">
         <div id="widgetIframe"><iframe width="100%" height="350" src="http://mybarangay.cloudapp.net/analytics/index.php?module=Widgetize&action=iframe&widget=1&moduleToWidgetize=Referrers&actionToWidgetize=getWebsites&idSite=1&period=month&date=yesterday&disableLink=1&widget=1&token_auth=bbe67462ecdbeb62ad3c7ac077c9f6dc" scrolling="no" frameborder="0" marginheight="0" marginwidth="0"></iframe></div>
        </div>
    </div>
    </div>
</div>
</div>
</div>
</div>


<script>

gapi.analytics.ready(function() {

  /**
   * Authorize the user immediately if the user has already granted access.
   * If no access has been created, render an authorize button inside the
   * element with the ID "embed-api-auth-container".
   */
  gapi.analytics.auth.authorize({
    container: 'embed-api-auth-container',
    clientid: '604787037070-cb8qv6i03j25b87okrf5k2pevpi2he5c.apps.googleusercontent.com'
  });


  /**
   * Create a ViewSelector for the first view to be rendered inside of an
   * element with the id "view-selector-1-container".
   */
  var viewSelector1 = new gapi.analytics.ViewSelector({
    container: 'view-selector-1-container'
  });

  /**
   * Create a ViewSelector for the second view to be rendered inside of an
   * element with the id "view-selector-2-container".
   */
  var viewSelector2 = new gapi.analytics.ViewSelector({
    container: 'view-selector-2-container'
  });

  // Render both view selectors to the page.
  viewSelector1.execute();
  viewSelector2.execute();


  /**
   * Create the first DataChart for top countries over the past 30 days.
   * It will be rendered inside an element with the id "chart-1-container".
   */
  var dataChart1 = new gapi.analytics.googleCharts.DataChart({
    query: {
      metrics: 'ga:sessions',
      dimensions: 'ga:country',
      'start-date': '30daysAgo',
      'end-date': 'yesterday',
      'max-results': 6,
      sort: '-ga:sessions'
    },
    chart: {
      container: 'chart-1-container',
      type: 'PIE',
      options: {
        width: '100%',
        pieHole: 4/9
      }
    }
  });


  /**
   * Create the second DataChart for top countries over the past 30 days.
   * It will be rendered inside an element with the id "chart-2-container".
   */
  var dataChart2 = new gapi.analytics.googleCharts.DataChart({
    query: {
      metrics: 'ga:sessions',
      dimensions: 'ga:country',
      'start-date': '30daysAgo',
      'end-date': 'yesterday',
      'max-results': 6,
      sort: '-ga:sessions'
    },
    chart: {
      container: 'chart-2-container',
      type: 'PIE',
      options: {
        width: '100%',
        pieHole: 4/9
      }
    }
  });

  /**
   * Update the first dataChart when the first view selecter is changed.
   */
  viewSelector1.on('change', function(ids) {
    dataChart1.set({query: {ids: ids}}).execute();
  });

  /**
   * Update the second dataChart when the second view selecter is changed.
   */
  viewSelector2.on('change', function(ids) {
    dataChart2.set({query: {ids: ids}}).execute();
  });

});
</script>