<div class="col-sm-12 col-md-12 col-lg-12 hidden-xs">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title"><i class="icon-tag"></i> Categories</h3>
		</div>
		<div class="panel-body">
			<table id="categorylist_table" class="cell-border compact stripe" cellspacing="0" width="100%">
		        <thead>
		            <tr>
			            <th>Main Title</th>
			            <th>Title</th>
			            <th>Subtitle</th>
			            <th>unique word</th>
			            <th>View Business</th>
			            <th style="text-align:right;">false biz</th>
		            </tr>
		        </thead>
		        <tfoot>
					<tr>
			            <th>Main Title</th>
			            <th>Title</th>
			            <th>Subtitle</th>
			            <th>unique word</th>	
			            <th>View Business</th>
			            <th style="text-align:right;">false biz</th>
					</tr>
				</tfoot>
	    	</table>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$('#categorylist_table').dataTable({
		    "ajax": 'getbizcategories',
		    "scrollY":        "400px",
		    "scrollCollapse": true,
		    "pageLength": 20
		}).columnFilter({
			aoColumns: [ 
					{ type: "text"},
				    { type: "text" },
				    { type: "text" },
				    { type: "text" },
             		null
				]

		});
	});
</script>