<div class="col-sm-12 col-md-12 col-lg-12 hidden-xs">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title"> Business List </h3>
		</div>
		<div class="panel-body">
			<table id="bizlist_table" class="cell-border compact stripe" cellspacing="0" width="100%">
	        <thead>
	            <tr>
	            <th>Created</th>
	            <th>Added By</th>
	            <th>Name</th>
	            <th>Email</th>
	            <th>Telephone</th>
	            <th>Claim</th>
	            <th>Claimed By</th>
	            </tr>
	        </thead>
	        <tbody>
	        	<?php
	        		//print_r($business);
	        		foreach ($business as $biz) {
	        			echo "<tr>";
	        				echo "<td>".$biz->created."</td>";
	        				# check if the creator is existing 
	        				$hasMember = (Members::find("id='".$biz->member_id."'"))? 1 : 0;
	        				if ($hasMember) {
	        					$creator = Members::findFirst("id='".$biz->member_id."'");
	        					echo "<td>".$creator->first_name . ' ' . $creator->last_name ."</td>";
	        				} else {
	        					echo "<td>".$biz->member_id."</td>";
	        				}
	        				echo "<td>".$biz->name."</td>";
	        				echo "<td>".$biz->email."</td>";
	        				echo "<td>".$biz->telephone."</td>";
	        				# check if the business is claimed or has claim request
	        				$hasClaim = (ClaimRequests::findFirst("business_id='".$biz->id."'")) ? 1 : 0;
	        				if ($hasClaim) {
	        					$claimer = ClaimRequests::findFirst("business_id='".$biz->id."'");
	        					if ($claimer->status == 'pending') {
	        						echo "<td>pending</td>";
	        					} else if ($claimer->status == 'approved') {
	        						echo "<td>approved</td>";
	        					} else if ($claimer->status == 'rejected') {
	        						echo "<td>rejected</td>";
	        					}
	        					# check if claimer is existing from members table
	        					$hasClaimer = (Members::findFirst("id='".$claimer->member_id."'")) ? 1 : 0;
	        					if ($hasClaimer) {
	        						echo "<td>".$claimer->members->first_name. ' ' .$claimer->members->last_name."</td>";
	        					} else {
	        						echo "<td>~~~</td>";
	        					}

	        				} else {
	        					echo "<td>not claimed</td>";
	        					echo "<td>~~~</td>";
	        				}	
	        			echo "</tr>";
	        		}
	        	?>
	        </tbody>
	        <tfoot>
				<tr>
					<th>Created</th>
		            <th>added by</th>
		            <th>name</th>
		            <th>email</th>
		            <th>telephone</th>
		            <th>claim status</th>
		            <th>claimed by</th>
				</tr>
			</tfoot>
	    	</table>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$('#bizlist_table').dataTable().columnFilter({
			aoColumns: [ 
					null,
				    { type: "text" },
				    { type: "text" },
				    { type: "select" },
             		{ type: "select" },
             		{ type: "select" },
             		{ type: "select" }
				]

		});
	});
</script>

