
				
				<!-- breadcrumb -->
				<!--<ol class="breadcrumb breadcrumb-main">
					<li><a href="#">Home</a></li>
					<li><a href="#">Main page</a></li>
					<li class="active">Dashboard</li>
				</ol>-->
				<!-- ./ breadcrumb -->
<div class="col-sm-12 col-md-12 col-lg-12 hidden-xs">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title"><i class="icon-users"></i> Business Owner Accounts</h3>
		</div>
		<div class="panel-body">
		<table id="user_table" class="cell-border compact stripe" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>First Name</th>
                <!--<th>Middle Name</th>-->
                <th>Last Name</th>
                <!--<th>Gender</th>
                <th>Birthday</th>-->
                <!--<th >Street</th>

                <th>City</th>
                <th>Country</th>-->
                <th>Email</th>
                <th>Plan</th>
                <th>-Days</th>
                <th>End Date/Time</th>
                <th>Action</th>
            </tr>
        </thead>
    	</table>
		</div>
	</div>
</div>

<!--<div class="col-sm-12 col-md-12 col-lg-12 hidden-xs">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title"><i class="icon-office"></i> Business</h3>
		</div>
		<div class="panel-body">
		hello 
		</div>
	</div>
</div>-->

<script type="text/javascript">
$(document).ready(function(){
$('#user_table').dataTable( {
    "ajax": 'getbizuserdata',
    "scrollY":        "400px",
    "scrollCollapse": true,
    "pageLength": 20
});
	// $('#user_table').DataTable({
		// "scrollY":        "400px",
  //       "scrollCollapse": true,
  //       "paging":         false
	// });
});
</script>