<?php use Phalcon\Mvc\Model\Resultset\Simple as Resultset; ?>
<div class="col-sm-12 col-md-12 col-lg-12 hidden-xs">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title"><i class="icon-users"></i> Biz Owner </h3>
		</div>
		<div class="panel-body">
			<?php $emailLink = $this->url->getBaseUri(). 'admincontrol/emailbizowner/'.$member->id.'/2'; ?>
	<input type="hidden" id="email-info" value="<?= $member->email ?>">
	<input type="hidden" id="firstname" value="<?= $member->first_name ?>">
	<div class="row">
		<!-- start profile panel -->
		<div class="col-sm-8 col-md-4 col-lg-4">
			<div class="panel panel-widget-one panel-default" style="height: 237px;">
				<div class="btn-toolbar">
					<a href="<?= $this->url->getBaseUri() . 'biz/profile/'. $member->id ?>" class="btn btn-sm btn-no-rc btn-inverse">View Profile</a>
				</div>
				<div class="panel-heading">
				<?php
					if ($hasBiz) { 
						$check_claim = ClaimRequests::findFirst("member_id='".$member->id."'");
						if ($check_claim->status == 'approved') {
							$businessName = $check_claim->Business->name;
							$bizStatus = 1;
						} else if ($check_claim->status == 'pending') {
							$businessName = 'BUSINESS CLAIM IS NOT APPROVED YET';
							$bizStatus = 2;
						} else if ($check_claim->status == 'rejected') {
							$businessName = 'BUSINESS CLAIM REJECTED';
							$bizStatus = 3;
						}
						$bizmode = $check_claim->Business;
					} else {
						$businessName = "NO BUSINESS";
						$bizStatus = 4;
					}
				?>
				<h3 class="panel-title" style="color:white;"><?= $businessName ?></h3>
					<div class="panel-heading-img">
						<img src="http://image.naldzgraphics.net/2012/04/4-aircontion.jpg">
					</div>
					<div class="label-wrapper">
						<span class="label label-default"><?= $member->first_name . ' ' . $member->last_name?></span>
					</div>
				</div>
				<div class="panel-body profile">
					<?php
						$primaryPix =  MemberPhotos::findFirst([
                                        'conditions' => 'member_id = :id: AND primary_pic = :type:',
                                        'bind' => array('id' => $member->id, 'type' => 'Yes'),
                                        'order' => 'id desc'
                                ]);
					?>
					<a href="#" class="profile-img">
					<?php
						if ($primaryPix) {
							$profilePic = $this->url->getBaseUri() . $primaryPix->file_path . $primaryPix->filename;
						} else {
							$profilePic = 'http://www.filipiknow.net/wp-content/uploads/2013/08/jose-rizal-is-not-a-hero-300x300.jpg';
						}
					?>
						<img class="img-circle" src="<?= $profilePic ?>">
					</a>
					<ul class="list-inline pull-right">
						
					</ul>
				</div>
			</div>
		</div> <!-- end profile panel --> 
		<!-- start email panel -->
		<div class="col-md-8 col-lg-8">
			<div class="panel panel-default panel-quick-post">
				<div class="panel-heading">
					<h4 class="panel-title">Email Me</h4>
				</div>
				<!--<div class="input-wrapper" >
					<input type="hidden" class="form-control" id="postTitle" placeholder="Title">
				</div>-->
				<textarea id="redactor_content" class="fullRedactor" name="email_content"></textarea>
				<div class="panel-footer">
					<button id="send"  class="btn btn-no-rc btn-primary btn-xs">Send</button>
				</div>
			</div>
		</div>
		<!-- end email panel -->
	</div>

	<div class="row">
		<div class="col-sm-4 col-md-2 col-lg-2">
			<?php if ($hasSubscription) {
				$subscription = MemberSubscriptions::findFirst("member_id='".$member->id."'");
			?>
				<div class="panel panel-widget-one panel-dark panel-warning">
					<div class="panel-heading">
						<i class="icon-banknote"></i>
						<div class="label-wrapper">
							<a href="#" class="btn btn-warning">	
							<?php if ($subscription->subscription == 1) {
									echo "BASIC";
								} else if ($subscription->subscription == 2 ) {
									echo "ENHANCED";
								} else if ($subscription->subscription == 3) {
									echo "PREMIUM";
								} else {
									echo "UNKNOWN";
								}

								$params  = null;
		        				$query = "SELECT `end_date`,DATEDIFF(`end_date`,NOW()) AS diffdays FROM `member_subscriptions` WHERE `member_id`='".$subscription->member_id."'";
		        				$Subscriber = new MemberSubscriptions();
		        				$result_set = new Resultset(null, $Subscriber, $Subscriber->getReadConnection()->query($query, $params)); 

		        				foreach ($result_set as $result) {
		                            $daysRemaining = ($result->diffdays > 0) ? $result->diffdays-1:0;
	                         	}

	                         	if ($daysRemaining < 366 && $daysRemaining > 0) {
	        					$creditDay = $daysRemaining;
	        					$consumedcreditDay = 365 - $daysRemaining;

	        					switch ($subscription->subscription) {
	        						case '1':
	        							$credit = 0.657 * $creditDay;
	        							$consumedCredit = 0.657 * $consumedcreditDay;
	        							break;
	        						case '2':
	        							$credit = $creditDay * 1.314;
	        							$consumedCredit = 1.314 * $consumedcreditDay;
	        							break;
	        						case '3':
	        							$credit = 3.257 * $creditDay;
	        							$consumedCredit = 3.257 * $consumedcreditDay;
	        							break;
	        						default:
	        							$credit = 'undefined';
	        							$consumedCredit = 0;
	        							break;
	        					}

	        						//echo $credit;
	        					} else { 
	        						$credit = "0"; 
	        						$consumedCredit = 0; 
	        					}
							?>
							</a>
						</div>
					</div>
					<div class="panel-body">
						<span class="text-main"><?=$credit?></span>
						<span class="text-secondary">remamining credit(s)</span>
					</div>
				</div>
			<?php } ?>
		</div>
		<div class="col-sm-6 col-md-5 col-lg-5">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">RECENT BUSINESS REVIEW(S)</h3>
				</div>
				<div class="list-group list-group-mp">
					<?php
						if ($hasBiz && $bizStatus < 4 ) {
							if ($bizStatus == 1) {
								$biz = Business::findFirst("id='".$bizmode->id."'");
								$recentReviews = Reviews::find(
								    array(
								        "business_id = {$bizmode->id}",
								        "limit" => 3
								    )
								);
								if ($recentReviews) {
									foreach ($recentReviews as $review) {

										$reviewer = Members::findFirst("id='".$review->member_id."'");
										if ($reviewer) {
											$reviewerName = $reviewer->first_name . ' ' . $reviewer->last_name;
										} else {
											$reviewerName = 'unknown';
										}

									$reviewerPix =  MemberPhotos::findFirst([
                                        'conditions' => 'member_id = :id: AND primary_pic = :type:',
                                        'bind' => array('id' => $reviewer->id, 'type' => 'Yes'),
                                        'order' => 'id desc'
                                	]);

                                	if ($reviewerPix) {
										$compPic = $this->url->getBaseUri() . $reviewerPix->file_path . $reviewerPix->filename;
									} else {
										$compPic = 'http://www.filipiknow.net/wp-content/uploads/2013/08/jose-rizal-is-not-a-hero-300x300.jpg';
									}
					?>
								<a href="#" class="list-group-item">
									<img class="img-thumbnail pull-left" src="<?= $compPic ?>">
									<i class="indicator available icon-radio-checked pull-right"></i>
									<h4 class="list-group-item-heading"><?= $reviewerName ?></h4>
									<p class="list-group-item-text"><?= $review->rate . ' salakots' ?></p>
								</a>
					<?php
									} // foreach recentreviews
								} // if recentreviews
							} // if bizStatus = 1
						} // if 
					?>
					
					
				</div>
			</div>
		</div>
		<!--<div class="col-sm-6 col-md-5 col-lg-5">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">RESPONSE RESPONSE(S)</h3>
				</div>
				<div class="list-group list-group-mp">
					<a href="#" class="list-group-item">
						<img class="img-thumbnail pull-left" src="sample-images/jeun-th-04.jpg">
						<i class="indicator available icon-radio-checked pull-right"></i>
						<p class="list-group-item-text">Kuta - Bali,Indonesiaasdfasdfasdfasdfasfasdfasdfasdfasdfasdfsfdfdfdasdffdakao</p>
						<p class="list-group-item-text">Indonesiaasdfasdfasdfasdfasfasdfasdfasdfasdfasdfsfdfdfdasdffdakassdfsdfsdf</p>
					</a>
					
					<a href="#" class="list-group-item">
						<img class="img-thumbnail pull-left" src="sample-images/jeun-th-02.jpg">
						<i class="indicator busy icon-radio-checked pull-right"></i>
						<h4 class="list-group-item-heading">Calista</h4>
						<p class="list-group-item-text">Surabaya - East Java, Indonesia</p>
					</a>
					
					<a href="#" class="list-group-item">
						<img class="img-thumbnail pull-left" src="sample-images/jeun-th-01.jpg">
						<i class="indicator idle icon-radio-checked pull-right"></i>
						<h4 class="list-group-item-heading">Aurelia</h4>
						<p class="list-group-item-text">Medan - North Sumatra, Indonesia</p>
					</a>
				</div>
			</div>
		</div>-->
	</div>

		</div>
	</div>
</div>

<script type="text/javascript">
	
	$(document).ready(function(){
		$('#car_table').dataTable();
		$('#realty_table').dataTable();
		$('#job_table').dataTable();
		$('#thing_table').dataTable();
		$('#events_table').dataTable();
		$('#whatsup_table').dataTable();



	});
</script>
<script type="text/javascript">
		$('#send').click(function() {
		var content = $('#redactor_content').val();
		var email = $('#email-info').val();
		var fname = $('#firstname').val();
		$(this).prop('disabled');
		// alertify.success($('#email-info').val());
		// alertify.success(fname);
		$.ajax({
		        url: "<?= $this->url->getBaseUri() ?>admincontrol/ajaxpostemailbizowner",
		        type: 'GET',
		        data: {"email-content": content, "biz-email": email, "fullname": fname },
		        dataType: 'json',
		        success: function(result){
					if (result[0].status == "ok") {
							alertify.success("email was sent");
							$(this).removeProp('disabled');
					} else if (result[0].status == "failed") {	
						alertify.error("WHOOPS, SOMETHING WENT WRONG, PLEASE TRY AGAIN.");
					}
		        },
		        error: function(){
		            alertify.error("WHOOPS, SOMETHING WENT WRONG, PLEASE TRY AGAIN.");
		        }
		    });

	});
</script>