<div class="row">
<?php
	$requests = ClaimRequests::find();
	if ($this->session->has('claimadminaction')) {
		if ($this->session->get('claimadminaction') == 1) {
			echo "<script>alertify.alert('one business claim request was approved successfully'); </script>";
		}
		$this->session->remove('claimadminaction');
	}

?>
					<div class="col-sm-12 col-md-12 col-lg-12 hidden-xs">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Claim Business Requests</h3>
							</div>
							<div class="panel-body">
								<table id="request" class="stripe hover cell-border" cellspacing="0" width="100%">
							        <thead>
							            <tr>
							                <th>Member Name</th>
							                <th>Business Name</th>
							                <th>Email</th>
							                <th>Telephone</th>
							               
							                <th>Status</th>
							                <th>Action</th>
							            </tr>
							        </thead>
							 
							        <tfoot>
							            <tr>
							                <th>Member Name</th>
							                <th>Business Name</th>
							                <th>Email</th>
							                <th>Telephone</th>
							                
							                <th>Status</th>
							                <th>Action</th>
							            </tr>
							        </tfoot> 
        							<tbody>
        							<?php foreach ($requests as $request) { 
        								if ($request->members) {
        									echo "<tr>";
        									$businessId = $request->business->id;
        									$firstname = $request->members->first_name;
        									$lastname  = $request->members->last_name;
        									$memberName = $request->members->first_name . ' ' . $request->members->last_name;
        									$email = $request->members->email;
        									echo '<td>'. $memberName . '</td>';
        									echo '<td>'. $request->business->name .'</td>';
        									echo '<td>'. $email .'</td>';
        									echo '<td>'. $request->business->telephone .'</td>';
        									echo '<td>';
        									if ($request->status == 'approved') {
        										echo 'approved';
        									} else if ($request->status == 'pending') {
        										echo 'pending';
        									} else if ($request->status == 'rejected') {
        										echo 'rejected';
        									}
        									echo '</td>';
        									echo '<td>';
        									if ($request->status == 'approved') {
        										echo '<a href="/index/admin_cancel_request/'.$request->id.'"><button class="btn btn-warning btn-xs">Revert</button></a>';
        									} else if ($request->status == 'pending') {
        										echo '<a href="/business/admin_approve_biz_claim/'.$request->id.'/'.$businessId.'/'.$email.'/'.$firstname.'/'.$lastname.'"><button class="btn btn-primary btn-xs">Approve</button></a>';
        										echo'<a href="/index/admin_reject_request/'.$request->id.'"><button class="btn btn-danger btn-xs">Reject</button>';
        									} else {
        										echo '<a href="/index/admin_cancel_request/'.$request->id.'"><button class="btn btn-warning btn-xs">Revert</button></a>';
        									}
        									
        									//echo'<button class="btn btn-danger btn-xs">Reject</button><button class="btn btn-success btn-xs">Email</button>';
        									echo '</td>';
        									echo "</tr>";
        								}
        							}?>
        							</tbody>
   								 </table>
							</div>
						</div>
						
					
						
				
					</div>
</div>
<script type="text/javascript">
$(document).ready(function(){
	$('#request').dataTable();
	// $('#request').DataTable({
	// 	"scrollY":        "400px",
 //        "scrollCollapse": true,
 //        "paging":         false
	// });
	//var request_table = $('#request').dataTable();
	// $('#request').dataTable( {
	//     "ajax": 'getclaimrequest',
	//     "scrollY":"400px",
	//     "scrollCollapse": true,
	//     "pageLength": 20
	// });


});
</script>