<!-- page heading -->

				<!-- ./ page heading -->
				
				<!-- breadcrumb -->
				<!--<ol class="breadcrumb breadcrumb-main">
					<li><a href="#">Home</a></li>
					<li><a href="#">Main page</a></li>
					<li class="active">Dashboard</li>
				</ol>-->
				<!-- ./ breadcrumb -->
<?php
	if ($this->session->has('deleteClassifiedErr')) {
		echo '<script>';
			echo "alertify.error('".$this->session->get('deleteClassifiedErr')."');";
		echo '</script>';
		$this->session->remove('deleteClassifiedErr');
	}

	if ($this->session->has('deleteClassifiedSuccess')) {
		echo '<script>';
			echo "alertify.success('".$this->session->get('deleteClassifiedSuccess')."');";
		echo '</script>';
		$this->session->remove('deleteClassifiedSuccess');
	}
?>
<div class="col-sm-12 col-md-12 col-lg-12 hidden-xs">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title"> Cars and Trucks</h3>
			<span class="panel-title" style="float:right;"></span>
		</div>
		<div class="panel-body">
			<table id="autos" class="cell-border compact stripe" cellspacing="0" width="100%">
		        <thead>
		            <tr>
		                <th>name</th>
		                <th>member_id</th>
		                <th>brand</th>
		                <th>year model</th>
		                <th>price</th>
		                <th>contact no</th>
		                <th>action</th>
		            </tr>
		        </thead>
		        <tbody>
		        <?php foreach ($autos as $auto ):?>
		        	<tr>
		        		<td><?= $auto->name?></td>
		        		<td><?= $auto->member_id?></td>
		        		<td><?= $auto->brand?></td>
		        		<td><?= $auto->year_model?></td>
		        		<td><?= $auto->price?></td>
		        		<td><?= $auto->contact_no?></td>
		        		<td><button class="btn btn-xs btn-danger">delete</button></td>
		        	</tr>
		        <?php endforeach; ?>
		        </tbody>
	    	</table>
		</div>
	</div>
</div>

<div class="col-sm-12 col-md-12 col-lg-12 hidden-xs">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title"> Jobs</h3>
			<span class="panel-title" style="float:right;"></span>
		</div>
		<div class="panel-body">
		<table id="jobs" class="cell-border compact stripe" cellspacing="0" width="100%">
		        <thead>
		            <tr>
		                <th>position</th>
		                <th>member_id</th>
		                <th>company</th>
		                <th>website</th>
		                <th>email</th>
		                <th>telephone</th>
		                <th>action</th>
		            </tr>
		        </thead>
		        <tbody>
		        <?php foreach ($jobs as $job): ?>
		        <tr>
		        	<td><?= $job->position?></td>
		        	<td><?= $job->member_id?></td>
		        	<td><?= $job->company?></td>
		        	<td><?= $job->website?></td>
		        	<td><?= $job->email?></td>
		        	<td><?= $job->telephone?></td>
		        	<td><button class="btn btn-xs btn-danger">delete</button></td>
		        </tr>
		        <?php endforeach; ?>
		        </tbody>
	    	</table>
		</div>
	</div>
</div>

<div class="col-sm-12 col-md-12 col-lg-12 hidden-xs">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title"></i> Real Estate</h3>
			<span class="panel-title" style="float:right;"></span>
		</div>
		<div class="panel-body">
		<table id="realties" class="cell-border compact stripe" cellspacing="0" width="100%">
		        <thead>
		            <tr>
		            	<th>member_id</th>
		                <th>name</th>
		                <th>street</th>
		                <th>city</th>
		                <th>price</th>
		                <th>action</th>
		            </tr>
		        </thead>
		        <tbody>
		        <?php foreach ($realties as $realty): ?>
		        	<tr>
		        		<td><?= $realty->member_id?></td>
		        		<td><?= $realty->name ?></td>
		        		<td><?= $realty->street ?></td>
		        		<td><?= $realty->city ?></td>
		        		<td><?= $realty->price?></td>
		        		<td><button class="btn btn-xs btn-danger">delete</button></td>
		        	</tr>
		        <?php endforeach; ?>
		        </tbody>
	    	</table>
		</div>
	</div>
</div>

<div class="col-sm-12 col-md-12 col-lg-12 hidden-xs">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title"></i> Things</h3>
			<span class="panel-title" style="float:right;"></span>
		</div>
		<div class="panel-body">
		<table id="things" class="cell-border compact stripe" cellspacing="0" width="100%">
		        <thead>
		            <tr>
		                <th>member_id</th>
		                <th>name</th>
		                <th>price</th>
		                <th>email</th>
		                <th>action</th>
		            </tr>
		        </thead>
		        <tbody>
		        <?php foreach ($things as $thing):?>
		        	<tr>
		        		<td><?= $thing->member_id ?></td>
		        		<td><?= $thing->name ?></td>
		        		<td><?= $thing->price ?></td>
		        		<td><?= $thing->email ?></td>
		        		<td><?php echo Phalcon\Tag::linkTo('admincontrol/delete_classified/'.$thing->id.'/4', '<button class="btn btn-xs btn-danger">delete</button>'); ?>
						</td>
		        	</tr>
		        <?php endforeach; ?>
		        </tbody>
	    	</table>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$('#autos').dataTable();
		$('#jobs').dataTable();
		$('#realties').dataTable();
		$('#things').dataTable();
	});
</script>