<div class="col-sm-12 col-md-12 col-lg-12 hidden-xs">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title"><i class="icon-mail-2"></i> Email </h3>
		</div>
		<div class="panel-body">
		<span>To: <?= $biz->first_name .  ' ' . $biz->last_name ?></span>

		<div id="email-form">
			<form action="<?='http://mybarangay.com'.$this->url->getBaseUri()?>admincontrol/postemailbizowner" method="post">
				<div classs="row">
					<div class="col-md-12">
						<input type="hidden" name="biz-id" value="<?=$biz->id?>"/>
						<input type="hidden" name="biz-email" value="<?=$biz->email?>"/>
						<input type="hidden" name="fullname" value="<?=$biz->first_name .' '. $biz->last_name?>"/>
						<input type="hidden" name="type-id" value="<?=$type?>"/>
						<textarea id="content" name="email-content" rows="5" style="width: 500px;">
						
						</textarea><br><br>
						<button type="submit" class="btn btn-danger" >Send</button>
						<a href="<?= $referer ?>"><button type="button" class="btn btn-danger">Cancel</button></a>
					</div>
				</div>
			</form>
		</div>

		</div>
	</div>
</div>
