<!-- page heading -->
				<div class="page-heading">				
					<h2 class="page-title">
						<i class="icon-home"></i> MyBarangay Admin
					</h2>					
					<div class="page-info hidden-xs">
						<ul class="stats">
							<li>
							<?php $num_users = isset($numMember) ? $numMember : '0'; ?>
								<span class="large text-warning"><?=$num_users?></span>
								<span class="mini">users</span>
							</li>
							<li>
							<?php $num_reviews = isset($numReview) ? $numReview : '0'; ?>
								<span class="large text-info"><?=$num_reviews?></span>
								<span class="mini">reviews</span>
							</li>
							<li>
							<?php $num_business = isset($numBiz) ? $numBiz : '0'; ?>
								<span class="large text-success"><?=$num_business?></span>
								<span class="mini">business</span>
							</li>
							<li>
							<?php $num_flags = isset($numFlag) ? $numFlag : '0'; ?>
								<span class="large text-danger"><?=$num_flags?></span>
								<span class="mini">flags</span>
							</li>
						</ul>
					</div>
				</div>
				<!-- ./ page heading -->
				
				<!-- breadcrumb -->
				<!--<ol class="breadcrumb breadcrumb-main">
					<li><a href="#">Home</a></li>
					<li><a href="#">Main page</a></li>
					<li class="active">Dashboard</li>
				</ol>-->
				<!-- ./ breadcrumb -->
<div class="col-sm-12 col-md-12 col-lg-12 hidden-xs">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title"><i class="icon-users"></i> DASHBOARD</h3>
		</div>
		<div class="panel-body">
					<div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
					<?php
						$countClaim = ClaimRequests::count("status='pending'");
						if ($countClaim > 0) {
							$claim_color = 'success';
						} else {
							$claim_color = 'danger';
						}
					?>
						<div class="panel panel-widget-one panel-<?=$claim_color?>">
							<div class="panel-heading">
								<i class="icon-feed"></i>
								<div class="label-wrapper">
									<a href="<?= $this->url->getBaseUri() . 'admincontrol/claimbizreq'?>" class="btn btn-<?=$claim_color?>">Business Claim</a>
								</div>
							</div>
							<div class="panel-body">
								<span class="text-main">
									<?= $countClaim ?>
								</span>
							</div>
						</div>
					</div>

					<div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
						<?php
							$countReview = Flags::count("location='business' AND status='0'");
							if ($countReview > 0) {
								$review_color = 'success';
							} else {
								$review_color = 'danger';
							}
						?>
						<div class="panel panel-widget-one panel-<?=$review_color?>">
							<div class="panel-heading">
								<i class="icon-star-2"></i>
								<div class="label-wrapper">
									<a href="<?= $this->url->getBaseUri() . 'admincontrol/reviewflag'?>" class="btn btn-<?=$review_color?>">Review Flags</a>
								</div>
							</div>
							<div class="panel-body">
								<span class="text-main">
									<?=$countReview?>
								</span>
							</div>
						</div>
					</div>

					<div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
						<?php
							$countJob = Flags::count("location='things' AND status='0'");
							$job_color = ($countJob > 0) ? 'success' : 'danger';
						?>
						<div class="panel panel-widget-one panel-<?=$job_color?>">
							<div class="panel-heading">
								<i class="icon-briefcase"></i>
								<div class="label-wrapper">
									<a href="<?= $this->url->getBaseUri() . 'admincontrol/jobflag'?>" class="btn btn-<?=$job_color?>">Job Flags</a>
								</div>
							</div>
							<div class="panel-body">
								<span class="text-main">
									<?= $countJob ?>
								</span>
							</div>
						</div>
					</div>


					<div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
					
						<div class="panel panel-widget-one panel-danger">
							<div class="panel-heading">
								<i class="icon-home-2"></i>
								<div class="label-wrapper">
									<a href="#" class="btn btn-danger">Real-Estate Flags</a>
								</div>
							</div>
							<div class="panel-body">
								<span class="text-main">0</span>
							</div>
						</div>
					</div>

					<div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
						<?php
							$countThing = Flags::count("location='things' AND status='0'");
							$thing_color = ($countThing > 0) ? 'success' : 'danger';
						?>
						<div class="panel panel-widget-one panel-<?=$thing_color?>">
							<div class="panel-heading">
								<i class="icon-cube"></i>
								<div class="label-wrapper">
									<a href="<?= $this->url->getBaseUri() . 'admincontrol/thingflag'?>" class="btn btn-<?=$thing_color?>">Thing Flags</a>
								</div>
							</div>
							<div class="panel-body">
								<span class="text-main">
								<?= $countThing ?>
								</span>
							</div>
						</div>
					</div>

					<div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
						<?php
							$countCars = Flags::count("location='classifieds' AND status='0'");
							$car_color = ($countCars > 0) ? 'success' : 'danger';
						?>
						<div class="panel panel-widget-one panel-<?=$car_color?>">
							<div class="panel-heading">
								<i class="icon-road"></i>
								<div class="label-wrapper">
									<a href="<?= $this->url->getBaseUri() . 'admincontrol/classifiedflag'?>" class="btn btn-<?=$car_color?>">Cars And Trucks</a>
								</div>
							</div>
							<div class="panel-body">
								<span class="text-main">
									<?= $countCars ?>
								</span>
							</div>
						</div>
					</div>

		</div>
	</div>


</div>

