

<div class="row">
<div class="col-md-12">
    <div class="col-md-3">
        <div class="form-group">
            
        </div>  
    </div>
</div>
</div>
<div class="row">
					<div class="col-sm-12 col-md-12 col-lg-12 hidden-xs">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Job Post Flags</h3>
                                
							</div>
							<div class="panel-body">
							<?php
								$count_pending = Flags::count("status='0'");
								$count_approved = Flags::count("status='1'");
								$count_rejected = Flags::count("status='2'");
							?>
								<!-- another table -->
	<?php $flags = Flags::find("location='jobs'"); ?>
	<table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Status</th>
                <th>Flag Type</th>
                <th>Reported By</th>
                <th>Full Name</th>
                <th>Name</th>
                <th>Location</th>
				<th>Action</th>
            </tr>
        </thead>
 
        <tfoot>
            <tr>
                <th>Status</th>
                <th>Flag Type</th>
                <th>Reported By</th>
                <th>Full Name</th>
                <th>Name</th>
                <th>Location</th>
				<th>Action</th>
            </tr>
        </tfoot>
 
        <tbody>
		<?php
		
		foreach ($flags as $flag) {?>
			
			<?php
            if ($getThing = Things::findFirst("id='".$flag->review_id."'")) { 
			// #FF3300
				
					if ($flag->status == 0) {
						echo '<tr id="row'.$flag->id.'" style="background-color:white;">'; 
                        echo "<td id='statusCol".$flag->id."' data-order='".$flag->FlagTypes->id."' data-filter='pending'>";
                        echo "pending";
                    } else if ($flag->status == 1) {
						echo '<tr id="row'.$flag->id.'" style="background-color:#66FF33;">'; 
						echo "<td id='statusCol".$flag->id."' data-order='".$flag->FlagTypes->id."' data-filter='approved'>";
                        echo "approved";
                    } else if ($flag->status == 2) {
						echo '<tr id="row'.$flag->id.'" style="background-color:#FF99CC;">'; 
                        echo "<td id='statusCol".$flag->id."' data-order='".$flag->FlagTypes->id."' data-filter='rejected'>";
                        echo "rejected";
                    }
                    echo "</td>";
					$getFlagType = FlagTypes::findFirst("id='".$flag->flag_type_id."'");
                        echo "<td>".$getFlagType->detail."</td>";
                        echo "<td>".$flag->Members->first_name." ".$flag->Members->last_name."</td>";
                        $target = Members::findFirst("id='".$flag->target_id."'");
                        $getThing = Things::findFirst("id='".$flag->review_id."'");
                        //$getBusiness = Business::findFirst("id='".$getReview->business_id."'");
                        echo "<td>".$target->first_name." ".$target->last_name."</td>";
                        echo "<td>".$getThing->name."</td>";
                        echo "<td><a href='".$flag->page."' target='_blank'>LINK</a></td>";
						if ($flag->status == 0) {
							echo '<td id="actionCol'.$flag->id.'"><span class="btn btn-square btn-success btn-xs" onclick="approve('.$flag->review_id.','.$flag->id.')"><i class="icon-checkmark-2"></i></span> | <a href="#" onclick="reject('.$flag->review_id.','.$flag->id.')" class="btn btn-square btn-danger btn-xs"><i class="icon-close"></i>
						                	</a>';
						} else if ($flag->status == 1) {
							echo '<td id="actionCol'.$flag->id.'"><span class="btn btn-square btn-success btn-xs" onclick="approve('.$flag->review_id.','.$flag->id.')"><i class="icon-checkmark-2"></i></span> | <a href="#" onclick="reject('.$flag->review_id.','.$flag->id.')" class="btn btn-square btn-danger btn-xs"><i class="icon-close"></i>
						                	</a>';
						} else if ($flag->status == 2) {
							echo '<td id="actionCol'.$flag->id.'"><span class="btn btn-square btn-success btn-xs" onclick="cancel('.$flag->review_id.','.$flag->id.')"><i class="icon-close"></i></span>';
						}

						//echo '<td id="actionCol'.$flag->id.'"><span class="btn btn-square btn-success btn-xs" onclick="approve('.$flag->review_id.','.$flag->id.')"><i class="icon-checkmark-2"></i></span> | <a href="#" onclick="reject('.$flag->review_id.','.$flag->id.')" class="btn btn-square btn-danger btn-xs"><i class="icon-close"></i>
						                	//</a>';
						//echo '<td id="actionCol'.$flag->id.'"><span class="btn btn-square btn-success btn-xs" onclick="cancel('.$flag->review_id.','.$flag->id.')"><i class="icon-close"></i></span>';
						echo '</td>';
				echo "</tr>";
			?>
		<?php }
                } ?>
        </tbody>
    </table>
								<!-- /another table -->
							</div>
						</div>
						
						
					</div>
</div>
<script type="text/javascript">
function cancel(id, flag_id) {
	$.ajax({
        url: "<?php echo $this->url->getBaseUri() . 'admincontrol/canceljobflag'; ?>",
        type: 'GET',
        data: {review_id : id, flag_id : flag_id},
        dataType: 'json',
        success: function(result){
			$('#pieChart').html(result[0].chart);
			alertify.success("CHANGE FLAG REQUEST INTO PENDING SUCCESS");
			console.log("review_status: " + result[0].result + " flag_status: " + result[0].result2);
			$('#statusCol'+flag_id).html('pending');
			$('#actionCol'+flag_id).html(result[0].actionbtn);
			$('#row'+flag_id).css('background-color','white');
			//alert(result[0].result);
        },
        error: function(){
            alertify.error("WHOOPS, SOMETHING WENT WRONG, PLEASE TRY AGAIN.");
        }
    });
}
function approve(id, flag_id) {
	$.ajax({
        url: "<?php echo $this->url->getBaseUri() . 'admincontrol/approvejobflag'; ?>",
        type: 'GET',
        data: {review_id : id, flag_id : flag_id},
        dataType: 'json',
        success: function(result){
			$('#pieChart').html(result[0].chart);
			alertify.success("APPROVE FLAG REQUEST SUCCESS");
			console.log("review_status: " + result[0].result + " flag_status: " + result[0].result2);
			$('#statusCol'+flag_id).html('approved');
			$('#actionCol'+flag_id).html(result[0].actionbtn);
			$('#row'+flag_id).css('background-color','#66FF33');
			//alert(result[0].result);
        },
        error: function(){
            alertify.error("WHOOPS, SOMETHING WENT WRONG, PLEASE TRY AGAIN.");
        }
    });
}

function reject(id, flag_id) {
	$.ajax({
        url: "<?php echo $this->url->getBaseUri() . 'admincontrol/rejectjobflag'; ?>",
        type: 'GET',
        data: {review_id : id, flag_id : flag_id},
        dataType: 'json',
        success: function(result){
			$('#pieChart').html(result[0].chart);
			alertify.success("REJECT FLAG REQUEST SUCCESS");
			console.log("review_status: " + result[0].result + " flag_status: " + result[0].result2);
			$('#statusCol'+flag_id).html('rejected');
			$('#actionCol'+flag_id).html(result[0].actionbtn);
			$('#row'+flag_id).css('background-color','#FF99CC');
			//alert(result[0].result);
        },
        error: function(){
            alertify.error("WHOOPS, SOMETHING WENT WRONG, PLEASE TRY AGAIN.");
        }
    });
}

// function filterGlobal () {
//     $('#example').DataTable().search(
//         $('#global_filter').val(),
//         $('#global_regex').prop('checked'),
//         $('#global_smart').prop('checked')
//     ).draw();
// }
 
// function filterColumn ( i ) {
//     $('#example').DataTable().column( i ).search(
//         $('#col'+i+'_filter').val(),
//         $('#col'+i+'_regex').prop('checked'),
//         $('#col'+i+'_smart').prop('checked')
//     ).draw();
// }

$(document).ready( function () {
  $('#example').dataTable().columnFilter({
            aoColumns: [ 
                    { type: "text" },
                    { type: "select" },
                    { type: "text" },
                    { type: "text" },
                    { type: "text" },
                    null,
                    null
                ]

        });
  // $('input.global_filter').on( 'keyup click', function () {
  //       filterGlobal();
  //   } );
 
  //   $('input.column_filter').on( 'keyup click', function () {
  //       filterColumn( $(this).parents('tr').attr('data-column') );
  //   } );
	
	
	
 //  var table = $('#flags').DataTable({
 //    "order": [[ 1, "desc" ]],
	// 	"oLanguage": {
	// 		"sInfo": "Showing _START_ to _END_ of _TOTAL_ items."
	// 	},
	// "autoWidth": true,
	//  "aoColumnDefs": [
 //      { "bSearchable": false, "aTargets": [ 4 ] }
 //    ]
	// });

 //    $("#flags tfoot th").each( function ( i ) {
		
	// 	if ($(this).text() !== '') {
	//         var isStatusColumn = (($(this).text() == 'Status') ? true : false);
	// 		var select = $('<select><option value=""></option></select>')
	//             .appendTo( $(this).empty() )
	//             .on( 'change', function () {
	//                 var val = $(this).val();
					
	//                 table.column( i )
	//                     .search( val ? '^'+$(this).val()+'$' : val, true, false )
	//                     .draw();
	//             } );
	 		
	// 		// Get the Status values a specific way since the status is a anchor/image
	// 		if (isStatusColumn) {
	// 			var statusItems = [];
				
 //                /* ### IS THERE A BETTER/SIMPLER WAY TO GET A UNIQUE ARRAY OF <TD> data-filter ATTRIBUTES? ### */
	// 			table.column( i ).nodes().to$().each( function(d, j){
	// 				var thisStatus = $(j).attr("data-filter");
	// 				if($.inArray(thisStatus, statusItems) === -1) statusItems.push(thisStatus);
	// 			} );
				
	// 			statusItems.sort();
								
	// 			$.each( statusItems, function(i, item){
	// 			    select.append( '<option value="'+item+'">'+item+'</option>' );
	// 			});

	// 		}
 //            // All other non-Status columns (like the example)
	// 		else {
	// 			table.column( i ).data().unique().sort().each( function ( d, j ) {  
	// 				select.append( '<option value="'+d+'">'+d+'</option>' );
	// 	        } );	
	// 		}
	        
	// 	}
 //    } );
  
  
  
  
} );
</script>