<div class="col-sm-12 col-md-12 col-lg-12 hidden-xs">
<?php
	if ($this->session->has('oldInputEmail')) {
		$EmailInput = $this->session->get('oldInputEmail');
		$this->session->remove('oldInputEmail');
	} else {
		$EmailInput = '';
	}

	// if ($this->session->has('errorMessage')) {
	// 	echo '<script> alert("'.$this->session->get('errorMessage').'"); </script>'; 
	// 	$this->session->remove('errorMessage');
	// }
?>
<br><br>
		<?php
			if ($this->session->has('errorMessage')) {
				echo '<h3>' .$this->session->get('errorMessage'). '</h3>';
				$this->session->remove('errorMessage');
			}
		?>
	<div class="col-md-4 col-md-offset-4">
		<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title"><i class="icon-users"></i> Please Login</h3>
		</div>
		
		<div class="panel-body">
			<form action="login" method="POST">
			  <div class="form-group">
			    <label for="exampleInputEmail1">Email address</label>
			    <input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Email" value="<?= $EmailInput ?>">
			  </div>
			  <div class="form-group">
			    <label for="exampleInputPassword1">Password</label>
			    <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
			  </div>
			  <button type="submit" class="btn btn-default">Submit</button>
			</form>	
		</div>
		</div>
	</div>
</div>