<div class="col-sm-12 col-md-12 col-lg-12 hidden-xs">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title"><i class="icon-users"></i> Member </h3>
		</div>
		<div class="panel-body">
			<?php $emailLink = $this->url->getBaseUri(). 'admincontrol/emailbizowner/'.$member->id.'/2'; ?>
	<input type="hidden" id="email-info" value="<?= $member->email ?>">
	<input type="hidden" id="firstname" value="<?= $member->first_name ?>">;
	<div class="row">
		<!-- start profile panel -->
		<div class="col-sm-8 col-md-4 col-lg-4">
			<div class="panel panel-widget-one panel-default" style="height: 237px;">
				<div class="btn-toolbar">
					<a href="<?= $this->url->getBaseUri() . 'member/pageu/'. $member->id ?>" class="btn btn-sm btn-no-rc btn-inverse">View Profile</a>
				</div>
				<div class="panel-heading">
					<div class="panel-heading-img">
						<img src="http://image.naldzgraphics.net/2012/04/4-aircontion.jpg">
					</div>
					<div class="label-wrapper">
						<span class="label label-default"><?= $member->first_name . ' ' . $member->last_name?></span>
					</div>
				</div>
				<div class="panel-body profile">
					<?php
						$primaryPix =  MemberPhotos::findFirst([
                                        'conditions' => 'member_id = :id: AND primary_pic = :type:',
                                        'bind' => array('id' => $member->id, 'type' => 'Yes'),
                                        'order' => 'id desc'
                                ]);
					?>
					<a href="#" class="profile-img">
					<?php
						if ($primaryPix) {
							$profilePic = $this->url->getBaseUri() . $primaryPix->file_path . $primaryPix->filename;
						} else {
							$profilePic = 'http://www.filipiknow.net/wp-content/uploads/2013/08/jose-rizal-is-not-a-hero-300x300.jpg';
						}
					?>
						<img class="img-circle" src="<?= $profilePic ?>">
					</a>
					<ul class="list-inline pull-right">
						<li>
							<span class="text-main" style="text-align:center">
								<?php
									$reviewCount = Reviews::count("member_id='".$member->id."'");
									echo $reviewCount;
								?>
							</span>
							<span class="text-secondary">Reviews</span>
						</li>
						<li>
							<span class="text-main" style="text-align:center">
							<?php
								$likes = ReviewCompliments::count("reviewer_id='".$member->id."' AND rate='0'");
								echo $likes;
							?>
							</span>
							<span class="text-secondary">Like</span>
						</li>
						<li>
							<span class="text-main" style="text-align:center">
							<?php
								$helpful = ReviewCompliments::count("reviewer_id='".$member->id."' AND rate='1'");
								echo $helpful;
							?>
							</span>
							<span class="text-secondary">Helpful</span>
						</li>
						<li>
							<span class="text-main" style="text-align:center">
							<?php
								$awesome = ReviewCompliments::count("reviewer_id='".$member->id."' AND rate='2'");
								echo $awesome;
							?>
							</span>
							<span class="text-secondary">Awesome</span>
						</li>
					</ul>
				</div>
			</div>
		</div> <!-- end profile panel --> 
		<!-- start email panel -->
		<div class="col-md-8 col-lg-8">
			<div class="panel panel-default panel-quick-post">
				<div class="panel-heading">
					<h4 class="panel-title">Email Me</h4>
				</div>
				<!--<div class="input-wrapper" >
					<input type="hidden" class="form-control" id="postTitle" placeholder="Title">
				</div>-->
				<textarea id="redactor_content" class="fullRedactor" name="email_content"></textarea>
				<div class="panel-footer">
					<button id="send"  class="btn btn-no-rc btn-primary btn-xs">Send</button>
				</div>
			</div>
		</div>
		<!-- end email panel -->
	</div>

	<div class="row">
	<!-- start recent compliments -->
		<div class="col-sm-6 col-md-4 col-lg-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Recent Review Compliments</h3>
				</div>
				<div class="list-group list-group-mp">
				<?php
					$countReviewCompliments = ReviewCompliments::count("reviewer_id='".$member->id."'");

					if ($countReviewCompliments) {
						$reviewCompliments = ReviewCompliments::find(
							array("reviewer_id = {$member->id}",
								"order" => "created DESC",
								"limit" => 3
							)
						);
						
						foreach ($reviewCompliments as $reviewCompliment) { 
					?>
					
						<?php
							$checkComplimentor = Members::count("id='".$reviewCompliment->member_id."'");
							if ($checkComplimentor > 0) {
								$getComplimentor = Members::findFirst("id='".$reviewCompliment->member_id."'");
								$complimentor = $getComplimentor->first_name . ' ' . $getComplimentor->last_name;

								$complimentorPix =  MemberPhotos::findFirst([
                                        'conditions' => 'member_id = :id: AND primary_pic = :type:',
                                        'bind' => array('id' => $getComplimentor->id, 'type' => 'Yes'),
                                        'order' => 'id desc'
                                ]);

                                if ($complimentorPix) {
									$compPic = $this->url->getBaseUri() . $complimentorPix->file_path . $complimentorPix->filename;
								} else {
									$compPic = 'http://www.filipiknow.net/wp-content/uploads/2013/08/jose-rizal-is-not-a-hero-300x300.jpg';
								}

							} else {
								$complimentor = "anonymous";
								$compPic = 'http://www.filipiknow.net/wp-content/uploads/2013/08/jose-rizal-is-not-a-hero-300x300.jpg';
							}
							$complimentName = null;
							switch ($reviewCompliment->rate) {
								case '0':
									$complimentName = "LIKE";
									break;
								case '1':
									$complimentName = "HELPFUL";
									break;
								case '2':
									$complimentName = "AWESOME";
									break;	
								default:
									$complimentName = "UNKNOWN";
									break;
							}
						?>
					<a href="<?= $this->url->getBaseUri() . 'admincontrol/memberpage/' . $getComplimentor->id?>" class="list-group-item">
						<img class="img-thumbnail pull-left" src="<?=$compPic?>">
						<i class="indicator available icon-radio-checked pull-right"></i>
						<h4 class="list-group-item-heading"><?= $reviewCompliment->Business->name?></h4>
						<p class="list-group-item-text"><?= $complimentor . ' - ' . $complimentName ?></p>
					</a>
					<?php
						}
					}
				?>
				</div>
			</div>
		</div> 
		<!-- end recent compliments -->
		<!-- start recent reviews -->
		<div class="col-sm-6 col-md-4 col-lg-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Recent Reviews</h3>
				</div>
				<div class="list-group list-group-mp">
					<?php
						$recentReviews = Reviews::find(
						    array(
						        "member_id = {$member->id}",
						        "order" => "created DESC",
						        "limit" => 3
						    )
						);

						if ($recentReviews) 
						{ 	

							foreach ($recentReviews as $review) 
							{
								$trueBiz = Business::count("id='".$review->business_id."'");
								
								if ($trueBiz > 0 ) {
									$biz = Business::findFirst("id='".$review->business_id."'");	
								}
					?>
						<a target="_blank" href="<?= $this->url->getBaseUri() . 'business/view2/' . $review->business_id ?>" class="list-group-item">
					<?php
						$bizImageCount = BusinessImages::count("business_id='".$review->business_id."'");
						if ($bizImageCount > 0) {
							$getBizImage = BusinessImages::findFirst("business_id='".$review->business_id."'");
							$bizImage = $this->url->getBaseUri() . $getBizImage->file_path. $getBizImage->filename; 
							if ($bizImage == false) {
								$bizImage = 'http://www.filipiknow.net/wp-content/uploads/2013/08/jose-rizal-is-not-a-hero-300x300.jpg';
							}
						} else {
							$bizImage = 'http://www.filipiknow.net/wp-content/uploads/2013/08/jose-rizal-is-not-a-hero-300x300.jpg';
						}
					?>
							<img class="img-thumbnail pull-left" src="<?=$bizImage?>">
							
							<h4 class="list-group-item-heading"><?= $biz->name ?></h4>
							<p class="list-group-item-text"><?= $review->rate ?> salakots</p>
						</a>
					<?php
							}
						}

					?>

				</div>
			</div>
		</div> 
		<!-- end recent reviews -->	
		<!-- start badges -->
		<div class="col-sm-6 col-md-4 col-lg-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Responded Reviews</h3>
				</div>
				
			</div>
		</div> 
		<!-- end badges -->	
	</div>
	
	<!-- CARS AND TRUCKS -->
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">CARS AND TRUCKS LIST</h3>
		</div>
		<br>
			<table id="car_table" class="cell-border compact stripe" cellspacing="0" width="100%">
	        <thead>
	            <tr>
	               <th>Created</th>
	               <th>Name</th>
	               <th>Price</th>
	               <th>Model</th>
	               <th>Contact</th>
	               <th>Email</th>
	               <th>Action</th>
	            </tr>
	        </thead>
	        <tbody>
	        	<?php
	        		if ($hasAuto) {
	        			$autos = Automotives::find("member_id='".$member->id."'");
	        			foreach ($autos as $auto) { ?>
	        			<tr>
	        			<td><?= $auto->created ?></td>
	        			<td><?= $auto->name ?></td>
	        			<td><?= $auto->price ?></td>
	        			<td><?= $auto->model ?></td>
	        			<td><?= $auto->contact_no ?></td>
	        			<td><?= $auto->email ?></td>
	        			<td><?= "<a href='".$this->url->getBaseUri() . "car_and_truck/view2/".$auto->id."'><button class='btn btn-xs btn-danger'>View</button></a><button class='btn btn-xs btn-danger'>Delete</button>" ?></td>
	        			</tr>
	        	<?php	} // foreach $autos
	        		} // if hasAuto
	        	?>
	        </tbody>
	    	</table>
	</div>
	<!-- /CARS AND TRUCKS -->

	<!-- REAL-ESTATE -->
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">REAL-ESTATE LIST</h3>
		</div>
		<br>
		<table id="realty_table" class="cell-border compact stripe" cellspacing="0" width="100%">
        <thead>
            <tr>
               <th>Created</th>
               <th>Name</th>
               <th>Price</th>
               <th>Currency Type</th>
               <th>Country</th>
               <th>Type</th>
               <th>Action</th>
            </tr>
        </thead>
        <tbody>
        	<?php
        		if ($hasRealty) {
        			$realties = Realties::find("member_id='".$member->id."'");
        			foreach ($realties as $realty) { ?>
        			<tr>
        			<td><?= $realty->created ?></td>
        			<td><?= $realty->name ?></td>
        			<td><?= $realty->price ?></td>
        			<td>
        			<?php 
        				if ($realty->currency_type == 1) {
        					echo "USD";
        				} else if ($realty->currency_type == 2) {
        					echo "PHP";
        				} else if ($realty->currency_type == 3) {
        					echo "CAD";
        				} else {
        					echo "undefined";
        				}
        			?>
        			</td>
        			<td><?= $realty->country_code_id ?></td>
        			<td><?= $realty->realtytypes->name ?></td>
        			<td><?= "<a href='".$this->url->getBaseUri() . "real_estate/view2/".$realty->id."'><button class='btn btn-xs btn-danger'>View</button></a><button class='btn btn-xs btn-danger'>Delete</button>" ?></td>
        			</tr>
        	<?php	} // foreach $autos
        		} // if hasAuto
        	?>
        </tbody>
    	</table>
	</div>
	<!-- /REAL-ESTATE -->

	<!-- JOB LIST -->
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">JOB LIST</h3>
		</div>
		<br>
		<table id="job_table" class="cell-border compact stripe" cellspacing="0" width="100%">
        <thead>
            <tr>
               <th>Created</th>
               <th>Position</th>
               <th>Job Category</th>
               <th>Company</th>
               <th>Email</th>
               <th>Website</th>
               <th>Action</th>
            </tr>
        </thead>
        <tbody>
        	<?php
        		if ($hasJob) {
        			$jobs = Jobs::find("member_id='".$member->id."'");
        			foreach ($jobs as $job) { ?>
        			<tr>
        			<td><?= $job->created ?></td>
        			<td><?= $job->position ?></td>
        			<td><?= $job->jobcategories->name ?></td>
        			<td><?= $job->company ?></td>
        			<td><?= $job->email ?></td>
        			<td><?= $job->website ?></td>
        			<td><?= "<a href='".$this->url->getBaseUri() . "thing/view2/".$job->id."'><button class='btn btn-xs btn-danger'>View</button></a><button class='btn btn-xs btn-danger'>Delete</button>" ?></td>
        			</tr>
        	<?php	} // foreach $autos
        		} // if hasAuto
        	?>
        </tbody>
    	</table>
	</div>
	<!-- /JOB LIST -->

	<!-- ITEM LIST -->
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">ITEM LIST</h3>
		</div>
		<br>
		<table id="thing_table" class="cell-border compact stripe" cellspacing="0" width="100%">
        <thead>
            <tr>
               <th>Created</th>
               <th>Name</th>
               <th>Price</th>
               <th>Category</th>
               <th>Condition</th>
               <th>Contact No</th>
               <th>Action</th>
            </tr>
        </thead>
        <tbody>
        	<?php
        		if ($hasThing) {
        			$things = Things::find("member_id='".$member->id."'");
        			foreach ($things as $thing) { ?>
        			<tr>
        			<td><?= $thing->created ?></td>
        			<td><?= $thing->name ?></td>
        			<td><?= $thing->price ?></td>
        			<td><?= $thing->thingcategories->name ?></td>
        			<td><?= $thing->thingconditions->name ?></td>
        			<td><?= $thing->contact_no ?></td>
        			<td><?= "<a href='".$this->url->getBaseUri() . "thing/view2/".$thing->id."'><button class='btn btn-xs btn-danger'>View</button></a><button class='btn btn-xs btn-danger'>Delete</button>" ?></td>
        			</tr>
        	<?php	} // foreach $autos
        		} // if hasAuto
        	?>
        </tbody>
    	</table>
	</div>
	<!-- /ITEM LIST -->

	<!-- EVENTS -->
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">EVENTS LIST</h3>
		</div>
		<br>
	<table id="events_table" class="cell-border compact stripe" cellspacing="0" width="100%">
        <thead>
            <tr>
               <th>Created</th>
               <th>Name</th>
               <th>Event Date</th>
               <th>Action</th>
            </tr>
        </thead>
        <tbody>
        	<?php
        		if ($hasEvents) {
        			$events = Events::find("member_id='".$member->id."'");
        			foreach ($events as $event) { ?>
        			<tr>
        			<td><?= $event->created ?></td>
        			<td><?= $event->name ?></td>
        			<td>
        			<?php
        				$hasWhen = EventDatetimes::count("event_id='".$event->id."'") ? 1 : 0;
        				if ($hasWhen) { 
        					$when = EventDatetimes::findFirst("event_id='".$event->id."'");
        					echo $when->date;
        				} else {
        					echo "undefined";
        				}
        			?>
					</td>
        			<td><?= "<a href='".$this->url->getBaseUri() . "event/view/".$event->id."'><button class='btn btn-xs btn-danger'>View</button></a><button class='btn btn-xs btn-danger'>Delete</button>" ?></td>
        			</tr>
        	<?php	} // foreach $autos
        		} // if hasAuto
        	?>
        </tbody>
    	</table>
	</div>
	<!-- /EVENTS -->

	<!-- WHATSUP -->
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">WHATSUP LIST</h3>
		</div>
		<br>
		<table id="whatsup_table" class="cell-border compact stripe" cellspacing="0" width="100%">
        <thead>
            <tr>
               <th>Created</th>
               <th>Subject</th>
               <th>Category</th>
               <th>Action</th>
            </tr>
        </thead>
        <tbody>
        	<?php
        		if ($hasTopics) {
        			$topics = WhatsupTopics::find("member_id='".$member->id."'");
        			foreach ($topics as $topic) { ?>
        			<tr>
        			<td><?= $topic->created_at ?></td>
        			<td><?= $topic->subject ?></td>
        			<td>
        			<?php
        				$category = WhatsupCategories::findFirst("id='".$topic->whatsup_category_id."'");
        			 	echo $category->name;
        			?>
        			</td>
        			<td><?= "<a href='".$this->url->getBaseUri() . "forum/view/".$topic->id."'><button class='btn btn-xs btn-danger'>View</button></a><button class='btn btn-xs btn-danger'>Delete</button>" ?></td>
        			</tr>
        	<?php	} // foreach $autos
        		} // if hasAuto
        	?>
        </tbody>
    	</table>
	</div>
	<!-- /WHATSUP -->

		</div>
	</div>
</div>

<script type="text/javascript">
	
	$(document).ready(function(){
		$('#car_table').dataTable();
		$('#realty_table').dataTable();
		$('#job_table').dataTable();
		$('#thing_table').dataTable();
		$('#events_table').dataTable();
		$('#whatsup_table').dataTable();



	});
</script>
<script type="text/javascript">
		$('#send').click(function() {
		var content = $('#redactor_content').val();
		var email = $('#email-info').val();
		var fname = $('#firstname').val();
		$(this).prop('disabled');
		// alertify.success($('#email-info').val());
		// alertify.success(fname);
		$.ajax({
		        url: "<?= $this->url->getBaseUri() ?>admincontrol/ajaxpostemailbizowner",
		        type: 'GET',
		        data: {"email-content": content, "biz-email": email, "fullname": fname },
		        dataType: 'json',
		        success: function(result){
					if (result[0].status == "ok") {
							alertify.success("email was sent");
							$(this).removeProp('disabled');
					} else if (result[0].status == "failed") {	
						alertify.error("WHOOPS, SOMETHING WENT WRONG, PLEASE TRY AGAIN.");
					}
		        },
		        error: function(){
		            alertify.error("WHOOPS, SOMETHING WENT WRONG, PLEASE TRY AGAIN.");
		        }
		    });

	});
</script>