<!-- page heading -->
				<div class="page-heading">				
					<h2 class="page-title">
						<i class="icon-home"></i> MyBarangay Admin
					</h2>					
					<div class="page-info hidden-xs">
						<ul class="stats">
							<li>
							<?php $num_users = isset($numMember) ? $numMember : '0'; ?>
								<span class="large text-warning"><?=$num_users?></span>
								<span class="mini">users</span>
							</li>
							<li>
							<?php $num_reviews = isset($numReview) ? $numReview : '0'; ?>
								<span class="large text-info"><?=$num_reviews?></span>
								<span class="mini">reviews</span>
							</li>
							<li>
							<?php $num_business = isset($numBiz) ? $numBiz : '0'; ?>
								<span class="large text-success"><?=$num_business?></span>
								<span class="mini">business</span>
							</li>
							<li>
							<?php $num_flags = isset($numFlag) ? $numFlag : '0'; ?>
								<span class="large text-danger"><?=$num_flags?></span>
								<span class="mini">flags</span>
							</li>
						</ul>
					</div>
				</div>
				<!-- ./ page heading -->
				
				<!-- breadcrumb -->
				<!--<ol class="breadcrumb breadcrumb-main">
					<li><a href="#">Home</a></li>
					<li><a href="#">Main page</a></li>
					<li class="active">Dashboard</li>
				</ol>-->
				<!-- ./ breadcrumb -->
<div class="col-sm-12 col-md-12 col-lg-12 hidden-xs">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title"><i class="icon-users"></i> Users</h3>
		</div>
		<div class="panel-body">
		<table id="user_table" class="cell-border compact stripe" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th style="width:30%;">First Name</th>
                <th style="width:30%;">Last Name</th>
                <th style="width:5%">Street</th>

                <th style="width:5%;">City</th>
                <th style="width:5%;">Country</th>
                <th style="width:5%;">Email</th>
                <th style="width:20%">Action</th>
            </tr>
        </thead>
    	</table>
		</div>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function(){
$('#user_table').dataTable( {
    "ajax": 'getuserdata',
    "scrollY":        "400px",
    "scrollCollapse": true,
    "pageLength": 20
});
	// $('#user_table').DataTable({
		// "scrollY":        "400px",
  //       "scrollCollapse": true,
  //       "paging":         false
	// });
});
</script>