<div class="col-sm-12 col-md-12 col-lg-12 hidden-xs">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title"><i class="icon-banknote"></i> Payment Logs</h3>
		</div>
		<div class="panel-body">
			
			<table id="payment_logs" class="cell-border compact stripe" cellspacing="0" width="100%">
		        <thead>
		            <tr>
		            	<th>created</th>
		            	<th>stripe_customer_id</th>
		                <th>name</th>
		                <th>email</th>
		                <th>entered-email</th>
		                <th>plan</th>
		                <th>gst</th>
		                <th>actual-amount</th>
		                <th>total-amount</th>
		            </tr>
		        </thead>
		        <tbody>
		        	<?php foreach ($paymentLogs as $log) { ?>
		        	<tr>
		        		<td>
		        		<?php
		        			$date = new DateTime($log->created );
	        				echo $date->format('Y-m-d'); 
		        		?>
		        		</td>
		        		<td><?= $log->stripe_customer_id?></td>
		        		<td>
		        		<?php
		        			$member = Members::findFirst("id='".$log->member_id."'");
		        			if ($member == true) {
		        				$memberName = $member->first_name . ' ' . $member->last_name;
		        			} else {
		        				$memberName = 'unknown';
		        			}
		        			echo $memberName;
		        		?>
		        		</td>
		        		<td><?= $log->member_email ?></td>
		        		<td><?= $log->entered_email ?></td>
		        		<td>
		        		<?php
		        			$plan = $log->plan_type;

		        			if ($plan == 1) {
		        				echo "Basic";
		        			} else if ($plan == 2) {
		        				echo "Enhanced";
		        			} else if ($plan == 3) {
		        				echo "Premium";
		        			} else {
		        				echo "undefined";
		        			}
		        		?>
		        		</td>
		        		<td>
		        			<?php 
		        				echo "5%";
		        			?>
		        		</td>
		        		<td style="text-align:right;"><?= '$'. $log->amount ?></td>
		        		<td style="text-align:right;"><?= '$'. $log->total_amount ?></td>
		        	</tr>
		        	<?php } ?>
		        </tbody>
	    	</table>

		</div>
	</div>
</div>
<!--
<div class="col-sm-12 col-md-12 col-lg-12 hidden-xs">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title"><i class="icon-user"></i> Customer </h3>
		</div>
		<div class="panel-body">

		</div>
	</div>
</div>-->
<script type="text/javascript">
	$('#payment_logs').dataTable();
</script>

