

<div class="row">
<div class="col-md-12">
    <div class="col-md-3">
        <div class="form-group">
            
        </div>  
    </div>
</div>
</div>
<div class="row">
					<div class="col-sm-12 col-md-12 col-lg-12 hidden-xs">
						<div class="panel panel-default">
							<div class="panel-heading">
                            <?php
                                $count_pending = Flags::count("location='business' AND status='0'");
                                $count_approved = Flags::count("location='business' AND status='1'");
                                $count_rejected = Flags::count("location='business' AND status='2'");
                            ?>
								<h3 class="panel-title">BUSINESS REVIEWS [pending: <?=$count_pending?> approved: <?=$count_approved?> rejected: <?=$count_rejected?>]</h3>
                                
							</div>
							<div class="panel-body">

								<!-- another table -->
	<?php $flags = Flags::find("location='business'"); ?>
	<!--<table cellpadding="3" cellspacing="0" border="0" style="width: 67%; margin: 0 auto 2em auto;">
        <thead>
            <tr>
                <th>Target</th>
                <th>Search text</th>
            </tr>
        </thead>
 
        <tbody>
            <tr id="filter_global">
                <td>Global search</td>
                <td align="center"><input type="text" class="global_filter" id="global_filter"></td>
				
                <td align="center"><input type="checkbox" class="global_filter" id="global_regex"></td>
                <td align="center"><input type="checkbox" class="global_filter" id="global_smart" checked="checked"></td>
            </tr>
            <tr id="filter_col1" data-column="0">
                <td>Column - Status</td>
                <td align="center"><input type="text" class="column_filter" id="col0_filter"></td>
                <td align="center"><input type="checkbox" class="column_filter" id="col0_regex"></td>
                <td align="center"><input type="checkbox" class="column_filter" id="col0_smart" checked="checked"></td>
            </tr>
            <tr id="filter_col2" data-column="1">
                <td>Column - Flag Type</td>
                <td align="center"><input type="text" class="column_filter" id="col1_filter"></td>
                <td align="center"><input type="checkbox" class="column_filter" id="col1_regex"></td>
                <td align="center"><input type="checkbox" class="column_filter" id="col1_smart" checked="checked"></td>
            </tr>
            <tr id="filter_col3" data-column="2">
                <td>Column - Reported By</td>
                <td align="center"><input type="text" class="column_filter" id="col2_filter"></td>
                <td align="center"><input type="checkbox" class="column_filter" id="col2_regex"></td>
                <td align="center"><input type="checkbox" class="column_filter" id="col2_smart" checked="checked"></td>
            </tr>
            <tr id="filter_col4" data-column="3">
                <td>Column - FullName</td>
                <td align="center"><input type="text" class="column_filter" id="col3_filter"></td>
                <td align="center"><input type="checkbox" class="column_filter" id="col3_regex"></td>
                <td align="center"><input type="checkbox" class="column_filter" id="col3_smart" checked="checked"></td>
            </tr>
            <tr id="filter_col5" data-column="4">
                <td>Column - Business Name</td>
                <td align="center"><input type="text" class="column_filter" id="col4_filter"></td>
                <td align="center"><input type="checkbox" class="column_filter" id="col4_regex"></td>
                <td align="center"><input type="checkbox" class="column_filter" id="col4_smart" checked="checked"></td>
            </tr>
            <tr id="filter_col6" data-column="5">
                <td>Column - Location</td>
                <td align="center"><input type="text" class="column_filter" id="col5_filter"></td>
                <td align="center"><input type="checkbox" class="column_filter" id="col5_regex"></td>
                <td align="center"><input type="checkbox" class="column_filter" id="col5_smart" checked="checked"></td>
            </tr>
        </tbody>
    </table>-->
    <table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Status</th>
                <th>Flag Type</th>
                <th>Reported By</th>
                <th>Full Name</th>
                <th>Business Name</th>
                <th>Location</th>
				<th>Action</th>
            </tr>
        </thead>
        
        <tfoot>
            <tr>
                <th>Status</th>
                <th>Flag Type</th>
                <th>Reported By</th>
                <th>Full Name</th>
                <th>Business Name</th>
                <th>Location</th>
                <th>Action</th>
            </tr>
        </tfoot>
        
 
        <tbody>
		<?php
		
		foreach ($flags as $flag) {
            if ($flag->review_id) {
                $checkReview = Reviews::count("id='".$flag->review_id."'");
            if ($checkReview > 0) {    
                $getReview = Reviews::findFirst("id='".$flag->review_id."'");
                $checkBusiness = Business::count("id='".$getReview->business_id."'");

            if ($checkBusiness > 0) {
        ?>
			
			<?php
			// #FF3300
				
					if ($flag->status == 0) {
						echo '<tr id="row'.$flag->id.'" style="background-color:white;">'; 
                        echo "<td id='statusCol".$flag->id."' data-order='".$flag->FlagTypes->id."' data-filter='pending'>";
                        echo "pending";
                    } else if ($flag->status == 1) {
						echo '<tr id="row'.$flag->id.'" style="background-color:#66FF33;">'; 
						echo "<td id='statusCol".$flag->id."' data-order='".$flag->FlagTypes->id."' data-filter='approved'>";
                        echo "approved";
                    } else if ($flag->status == 2) {
						echo '<tr id="row'.$flag->id.'" style="background-color:#FF99CC;">'; 
                        echo "<td id='statusCol".$flag->id."' data-order='".$flag->FlagTypes->id."' data-filter='rejected'>";
                        echo "rejected";
                    }
                    echo "</td>";
					$getFlagType = FlagTypes::findFirst("id='".$flag->flag_type_id."'");
                        echo "<td>".$getFlagType->detail."</td>";
                        echo "<td>".$flag->Members->first_name." ".$flag->Members->last_name."</td>";
                        $target = Members::findFirst("id='".$flag->target_id."'");
                        $getReview = Reviews::findFirst("id='".$flag->review_id."'");
                        $getBusiness = Business::findFirst("id='".$getReview->business_id."'");
                        echo "<td>".$target->first_name." ".$target->last_name."</td>";
                        echo "<td>".$getBusiness->name."</td>";
                        echo "<td><a href='".$flag->page."' target='_blank'>LINK</a></td>";
						if ($flag->status == 0) {
							echo '<td id="actionCol'.$flag->id.'"><span class="btn btn-square btn-success btn-xs" onclick="approve('.$flag->review_id.','.$flag->id.')"><i class="icon-checkmark-2"></i></span> | <a href="#" onclick="reject('.$flag->review_id.','.$flag->id.')" class="btn btn-square btn-danger btn-xs"><i class="icon-close"></i>
						                	</a>';
						} else if ($flag->status == 1) {
							echo '<td id="actionCol'.$flag->id.'"><span class="btn btn-square btn-success btn-xs" onclick="approve('.$flag->review_id.','.$flag->id.')"><i class="icon-checkmark-2"></i></span> | <a href="#" onclick="reject('.$flag->review_id.','.$flag->id.')" class="btn btn-square btn-danger btn-xs"><i class="icon-close"></i>
						                	</a>';
						} else if ($flag->status == 2) {
							echo '<td id="actionCol'.$flag->id.'"><span class="btn btn-square btn-success btn-xs" onclick="cancel('.$flag->review_id.','.$flag->id.')"><i class="icon-close"></i></span>';
						}
						//echo '<td id="actionCol'.$flag->id.'"><span class="btn btn-square btn-success btn-xs" onclick="approve('.$flag->review_id.','.$flag->id.')"><i class="icon-checkmark-2"></i></span> | <a href="#" onclick="reject('.$flag->review_id.','.$flag->id.')" class="btn btn-square btn-danger btn-xs"><i class="icon-close"></i>
						                	//</a>';
						//echo '<td id="actionCol'.$flag->id.'"><span class="btn btn-square btn-success btn-xs" onclick="cancel('.$flag->review_id.','.$flag->id.')"><i class="icon-close"></i></span>';
						echo '</td>';
				echo "</tr>";
			?>
		<?php }
                }
                }
                } ?>
        </tbody>
        
    </table>
								<!-- /another table -->
							</div>
						</div>
						
						
					</div>
</div>
<script type="text/javascript">
function cancel(id, flag_id) {
	$.ajax({
        url: "<?php echo $this->url->getBaseUri() . 'admincontrol/cancelflag'; ?>",
        type: 'GET',
        data: {review_id : id, flag_id : flag_id},
        dataType: 'json',
        success: function(result){
			$('#pieChart').html(result[0].chart);
			alertify.success("CHANGE FLAG REQUEST INTO PENDING SUCCESS");
			console.log("review_status: " + result[0].result + " flag_status: " + result[0].result2);
			$('#statusCol'+flag_id).html('pending');
			$('#actionCol'+flag_id).html(result[0].actionbtn);
			$('#row'+flag_id).css('background-color','white');
			//alert(result[0].result);
        },
        error: function(){
            alertify.error("WHOOPS, SOMETHING WENT WRONG, PLEASE TRY AGAIN.");
        }
    });
}
function approve(id, flag_id) {
	$.ajax({
        url: "<?php echo $this->url->getBaseUri() . 'admincontrol/approveflag'; ?>",
        type: 'GET',
        data: {review_id : id, flag_id : flag_id},
        dataType: 'json',
        success: function(result){
			$('#pieChart').html(result[0].chart);
			alertify.success("APPROVE FLAG REQUEST SUCCESS");
			console.log("review_status: " + result[0].result + " flag_status: " + result[0].result2);
			$('#statusCol'+flag_id).html('approved');
			$('#actionCol'+flag_id).html(result[0].actionbtn);
			$('#row'+flag_id).css('background-color','#66FF33');
			//alert(result[0].result);
        },
        error: function(){
            alertify.error("WHOOPS, SOMETHING WENT WRONG, PLEASE TRY AGAIN.");
        }
    });
}

function reject(id, flag_id) {
	$.ajax({
        url: "<?php echo $this->url->getBaseUri() . 'admincontrol/rejectflag'; ?>",
        type: 'GET',
        data: {review_id : id, flag_id : flag_id},
        dataType: 'json',
        success: function(result){
			$('#pieChart').html(result[0].chart);
			alertify.success("REJECT FLAG REQUEST SUCCESS");
			console.log("review_status: " + result[0].result + " flag_status: " + result[0].result2);
			$('#statusCol'+flag_id).html('rejected');
			$('#actionCol'+flag_id).html(result[0].actionbtn);
			$('#row'+flag_id).css('background-color','#FF99CC');
			//alert(result[0].result);
        },
        error: function(){
            alertify.error("WHOOPS, SOMETHING WENT WRONG, PLEASE TRY AGAIN.");
        }
    });
}

/*
function filterGlobal () {
    $('#example').DataTable().search(
        $('#global_filter').val(),
        $('#global_regex').prop('checked'),
        $('#global_smart').prop('checked')
    ).draw();
}
 
function filterColumn ( i ) {
    $('#example').DataTable().column( i ).search(
        $('#col'+i+'_filter').val(),
        $('#col'+i+'_regex').prop('checked'),
        $('#col'+i+'_smart').prop('checked')
    ).draw();
}
*/
$(document).ready( function () {
  $('#example').dataTable().columnFilter({
            aoColumns: [ 
                    { type: "text" },
                    { type: "select" },
                    { type: "text" },
                    { type: "text" },
                    { type: "text" },
                    null,
                    null
                ]

        });
  $('input.global_filter').on( 'keyup click', function () {
        filterGlobal();
    } );
 
    $('input.column_filter').on( 'keyup click', function () {
        filterColumn( $(this).parents('tr').attr('data-column') );
    } );
	
	
	
  var table = $('#flags').DataTable({
    "order": [[ 1, "desc" ]],
		"oLanguage": {
			"sInfo": "Showing _START_ to _END_ of _TOTAL_ items."
		},
	"autoWidth": true,
	 "aoColumnDefs": [
      { "bSearchable": false, "aTargets": [ 4 ] }
    ]
	});

    $("#flags tfoot th").each( function ( i ) {
		
		if ($(this).text() !== '') {
	        var isStatusColumn = (($(this).text() == 'Status') ? true : false);
			var select = $('<select><option value=""></option></select>')
	            .appendTo( $(this).empty() )
	            .on( 'change', function () {
	                var val = $(this).val();
					
	                table.column( i )
	                    .search( val ? '^'+$(this).val()+'$' : val, true, false )
	                    .draw();
	            } );
	 		
			// Get the Status values a specific way since the status is a anchor/image
			if (isStatusColumn) {
				var statusItems = [];
				
                /* ### IS THERE A BETTER/SIMPLER WAY TO GET A UNIQUE ARRAY OF <TD> data-filter ATTRIBUTES? ### */
				table.column( i ).nodes().to$().each( function(d, j){
					var thisStatus = $(j).attr("data-filter");
					if($.inArray(thisStatus, statusItems) === -1) statusItems.push(thisStatus);
				} );
				
				statusItems.sort();
								
				$.each( statusItems, function(i, item){
				    select.append( '<option value="'+item+'">'+item+'</option>' );
				});

			}
            // All other non-Status columns (like the example)
			else {
				table.column( i ).data().unique().sort().each( function ( d, j ) {  
					select.append( '<option value="'+d+'">'+d+'</option>' );
		        } );	
			}
	        
		}
    } );
  
  
  
  
} );
</script>