<?php use Phalcon\Mvc\Model\Resultset\Simple as Resultset; ?>
<div class="col-sm-12 col-md-12 col-lg-12 hidden-xs">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title"><i class="icon-office"></i> Subscribers</h3>
		</div>
		<div class="panel-body">
			<table id="subscriber_table" class="cell-border compact stripe" cellspacing="0" width="100%">
	        <thead>
	            <tr>
	               <th>created</th>
	               <th>name</th>
	               <th>plan</th>
	               <th>started</th>
	               <th>expiration</th>
	               <th>remaining(days)</th>
	               <th>remaining credit</th>
	               <th>consumed credit</th>
	               <th>for_renew</th>
	            </tr>
	        </thead>
	        <tbody>
	        	<?php foreach ($subscribers as $subscriber): ?>
	        	<tr>
	        		<td>
		        		<?php 
		        			$date = new DateTime($subscriber->created);
							echo $date->format('Y-m-d');
		        		?>
	        		</td>
	        		<td><?= $subscriber->members->first_name . ' ' . $subscriber->members->last_name ?></td>
	        		<td>
		        		<?php
		        			switch ($subscriber->subscription) {
		        				case '1':
		        					echo "Basic";
		        					break;
		        				case '2':
		        					echo "Enhanced";
		        					break;
		        				case '3':
		        					echo "Premium";
		        					break;
		        				default:
		        					echo "Undefined";
		        					break;
		        			}
		        		?>
	        		</td>
	        		<td><?= $subscriber->start_date ?></td>
	        		<td><?= $subscriber->end_date ?></td>
	        		<td style="text-align:right;">
	        			<?php
	        				$params  = null;
	        				$query = "SELECT `end_date`,DATEDIFF(`end_date`,NOW()) AS diffdays FROM `member_subscriptions` WHERE `member_id`='".$subscriber->member_id."'";
	        				$Subscriber = new MemberSubscriptions();
	        				$result_set = new Resultset(null, $Subscriber, $Subscriber->getReadConnection()->query($query, $params)); 

	        				foreach ($result_set as $result) {
	                            $daysRemaining = ($result->diffdays > 0) ? $result->diffdays-1:0;
                         	}

                         	echo $daysRemaining;
	        			?>
	        		</td>
	        		<td style="text-align:right;">
	        			<?php
	        			$creditDay = $daysRemaining;
	        			$consumedcreditDay = 365 - $daysRemaining;

	        				if ($daysRemaining <= 365 && $daysRemaining > 0) {
	        					$creditDay = $daysRemaining;
	        					//$consumedcreditDay = 365 - $daysRemaining;

	        					switch ($subscriber->subscription) {
	        						case '1':
	        							$credit = ($creditDay == 365) ? 0.657 * 365 : 0.657 * $creditDay;
	        							$consumedCredit = 0.657 * $consumedcreditDay;
	        							break;
	        						case '2':
	        							//$credit = $creditDay * 1.314;
	        							$credit = ($creditDay == 365) ? 1.314 * 365 : $creditDay * 1.314;
	        							$consumedCredit = 1.314 * $consumedcreditDay;
	        							break;
	        						case '3':
	        							//$credit = 3.257 * $creditDay;
	        							$credit = ($creditDay == 365) ? 3.257 * 365 : 3.257 * $creditDay;
	        							$consumedCredit = 3.257 * $consumedcreditDay;
	        							break;
	        						default:
	        							$credit = 'undefined';
	        							$consumedCredit = 0;
	        							break;
	        					}

	        					echo $credit;
	        				} else if ($daysRemaining == 365) {
	        					switch ($subscriber->subscription) {
                        		case '1':
                        			$credit =  0.657 * 365;
	        						$consumedCredit = 0.657 * $consumedcreditDay;
                        			break;
                        		case '2':
                        			$credit = 1.314 * 365;
	        						$consumedCredit = 1.314 * $consumedcreditDay;
                        			break;
                        		case '3':
                        			$credit = 3.257 * 365;
	        						$consumedCredit = 3.257 * $consumedcreditDay;
                        			break;
                        		default:
                        			# code...
                        			break;
                        		}
                        		echo $credit;
	        				}else { echo "0"; $consumedCredit = 0; }
	        			?>
	        		</td>
	        		<td style="text-align:right;"><?= $consumedCredit ?></td>
	        		<td style="text-align:right;"><?= $subscriber->for_renew ?></td>
	        	</tr>
	        	<?php endforeach; ?>
	        </tbody>
	        <tfoot>
	            <tr>
	               <th>created</th>
	               <th>name</th>
	               <th>plan</th>
	               <th>started</th>
	               <th>expiration</th>
	               <th>remaining(days)</th>
	               <th>remaining credit</th>
	               <th>consumed credit</th>
	               <th>for_renew</th>
	            </tr>
	        </tfoot>
	    	</table>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function() {
		$('#subscriber_table').dataTable().columnFilter({
			aoColumns: [ 
					null,
				    { type: "select" },
				    { type: "select" },
				    null,
             		null,
             		null,
             		null,
             		null,
             		null
				]

		});
	});
</script>