<nav class="navbar navbar navbar-fixed-top col-md-12" style="border-bottom:1px solid #003082;background-color:#f5f5f5!important;height:100px;">
      <div class="container-fluid col-md-12">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        <div class="container">
            <div class="col-md-4">
	    <?php if(isset($userSession['type'])) { ?>
		    <?php if ($userSession['type'] != 'Business') { ?>
		      <a class="navbar-brand" href="<?php echo $this->url->getBaseUri(); ?>">
		    <?php 
	echo Phalcon\Tag::image(array("themes/customize/img/logo1.png",'alt' => 'Logo','class' =>'logo-head'));?>
		      </a>
		    <?php } else { ?>
			 <a class="navbar-brand" href="<?php echo $this->url->getBaseUri() . 'biz/page/' . $userSession['id']; ?>">
		        <?php 
	echo Phalcon\Tag::image(array("themes/customize/img/logo1.png",'alt' => 'Logo','class' =>'logo-head'));?>
		      </a>
		    <?php } ?>	
	    <?php } else { ?>
			<a class="navbar-brand" href="<?php echo $this->url->getBaseUri(); ?>">
		    <?php 
	echo Phalcon\Tag::image(array("themes/customize/img/logo1.png",'alt' => 'Logo','class' =>'logo-head'));?>
		      </a>
            <?php } ?>
	    
            </div>
            <div class="col-md-6" style="padding: 0; margin-top: 5px;" >
              <div class="row" style="height: 49px;padding:0 4px 0 0;width: 100%;">
                <div class="col-md-12" style="height: 49px;padding: 0 0 0 4px;width: 100%;">
                     
                  <!-- <form class="form-inline" style="border:2px solid #003082;margin-top:5px;margin-bottom:3px;background-color:#003082;max-width:625px;">
                    <div class="form-group col-md-5" style="border:3px solid #003082; padding: 0;">
                      <label class="sr-only" for="exampleInputEmail3">Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail3" style="width:100%;" placeholder="Find?">
                    </div>
                    <div class="form-group col-md-6" style="border:3px solid #003082;padding: 0;">
                      <label class="sr-only" for="exampleInputPassword3">Password</label>
                      <input type="text" class="form-control" id="exampleInputPassword3" style="width:100%;" placeholder="Near?">
                    </div>
                    <button type="submit" class="btn btn-danger col-md-1" style="margin:0!important;">
                      <span class="glyphicon glyphicon-search" style="font-size:20px;" aria-hidden="true"></span>
                    </button>
                  </form> -->
		  <?php if (isset($userSession['type'])) { ?>
			 <?php if ($userSession['type'] != 'Business') { ?>
		          <?php echo Phalcon\Tag::form(array("search", "method" => "get", "style" => "border:2px solid #003082;margin-top:5px;margin-bottom:3px;background-color:#003082;max-width:625px;")); ?>
		            <div class="form-group col-md-5" style="border:3px solid #003082 ;padding: 0;width:46%!important;">
		              <input type="text" name="find" class="form-control" id="exampleInputEmail3" style="width:100%;" placeholder="Find">
		            </div>
		            <div class="form-group col-md-5" style="border:3px solid #003082;margin-left:-5px!important ;padding: 0;width:46%!important;">
		              <input type="text" name="near" class="form-control" id="exampleInputPassword3" style="width:100%;" placeholder="Near?">
		            </div>
		            <button type="submit" class="btn btn-danger u_search_btn" >
		              <span class="glyphicon glyphicon-search" style="font-size:20px;" aria-hidden="true"></span>
		            </button>
		          <?php echo Phalcon\Tag::endForm(); ?>
		      	  <?php } ?>
		  <?php } ?>
		 
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-pills menu_home">
                      <?php if (isset($userSession['type'])) { ?>
			<?php if ($userSession['type'] != 'Business') { ?>
				<li class="navHeader"><?php echo Phalcon\Tag::linkTo(array('', '<strong>Home</strong>')); ?></li>
			<?php } else if ($userSession['type'] == 'Business') { ?>
				  <li class="navHeader"><?php echo Phalcon\Tag::linkTo(array('biz/page/'. $userSession['id'], '<strong>Home</strong>')); ?></li>
				  <li class="navHeader"><?php echo Phalcon\Tag::linkTo(array('biz/biz_claimsearch', '<strong>Find A Business</strong>')); ?></li>
				  <li class="navHeader"><?php echo Phalcon\Tag::linkTo(array('biz/manage_ad/'.$userSession['id'], '<strong>Manage My Ad</strong>')); ?></li>
			<?php } ?>
			<?php } ?>		

		    <?php if (isset($userSession['type'])) { ?>
			<?php if ($userSession['type'] != 'Business') {?>
<li class="navHeader"><?php echo Phalcon\Tag::linkTo(array('review/search_business', '<strong>Write a review</strong>')); ?></li>
                      <!--<li class="navHeader"><a href="#"><strong>Find Friends</strong></a></li>
                      <li class="navHeader"><a href="#"><strong>Chatter</strong></a></li>-->
                      <li class="navHeader"><?php echo Phalcon\Tag::linkTo(['event/index', '<strong>Events</strong>'])?></li>
                      <!-- <li class="navHeader"><a href="#"><strong>Classifieds :</strong></a></li> -->
                      <li class="navHeader dropdown">
						  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><strong>Classifieds</strong><span class="caret"></span></a>
						  <ul class="dropdown-menu" role="menu">
						  	<li><?php echo Phalcon\Tag::linkTo(['car_and_truck/index', 'Cars and Trucks']); ?></li>
						  	<li><?php echo Phalcon\Tag::linkTo(array('job/index', 'Jobs')); ?></li>
							  <li><?php echo Phalcon\Tag::linkTo(array('real_estate/index', 'Real Estate')); ?></li>
							  <li><?php echo Phalcon\Tag::linkTo(['thing/index', 'Things']); ?></li>
						  </ul>
						</li>
		   <?php } 
   		}?>
		      
			
		      
		   
                      
						
                      <!-- <li class="navHeader">
                        <select name="nav_search" class="form-control" style="margin-top:5px;">
                          <option value="Business">Not Applicable</option>
                          <option value="">All</option>
                          <option value="Real Estate">Real Estate</option>
                          <option value="Automotive">Automotive</option>
                          <option value="Things">Things</option>
                          <option value="Jobs">Jobs</option>
                          <option value="Events">Events</option>
                        </select>
                      </li> -->
                    </ul>
                </div>
              </div>
                
            </div>
            <div class="col-md-2">
            <?php if( empty($userSession) ) { ?>
                <div class="row">
                  <div class="col-md-12" style="margin-top:10px;">
                    <center>
                      <span class="hidden-xs" style=""><strong style="color:#003082">Tuloy Po Kayo</strong></span> <br/>
                      <span class="hidden-xs" style=""><strong style="color:#003082">Welcome Home</strong></span>
                    </center>
                    
                  </div>
                </div>
                 <div class="row">
                  <div class="col-md-12" style="margin-top:10px;">
                  <center>

                    <a href="" class="btn btn-sm btn-danger"  data-target="#login" data-toggle="modal"><strong>Login</strong></a>&nbsp;&nbsp;
                
                    <a href="" class="btn btn-sm btn-danger"  data-target="#register" data-toggle="modal"><strong>Sign Up</strong></a>
                    </center>
                  </div>
                </div>
            <?php } ?>
            <?php if( !empty($userSession) ) { ?>
              <div class="row">
                  <div class="col-md-12 ">
                    <?php //echo Phalcon\Tag::linkTo('logout', '<h4><strong>Logout</strong></h4>'); 
                      ##echo Phalcon\Tag::linkTo('logout', '
                        //<h4><strong>Tuloy po kayo</strong></h4>
                        //<h4 style="margin-top:-10px;"><strong>Welcome home</strong></h4>
                        //<img src="http://placehold.it/65x45" class="img-square" style="margin:-10px 0px 0px 33px;">
                        //');

                    ?>
                    <div class="navbar-custom-menu"><!-- avatar -->
                        <ul class="nav navbar-nav">
                        
                         <?php 
                            	if(isset($userSession['primary_pic']) && !empty($userSession['primary_pic'])){
                            		$profilePic = $userSession['primary_pic'];
                            		$avatar = $userSession['primary_pic'];
                            	} else {
                            		$profilePic = 'http://placehold.it/160x160';
                            		$avatar = 'http://placehold.it/55x55';
                            	} 
                          ?>
                      
                          <!-- User Account Menu -->
                          <li class="dropdown user user-menu" style="height:90px;margin-top:10px;">
                            <!-- Menu Toggle Button -->
                             <span class="hidden-xs" style=""><strong style="color:#003082">Tuloy Po Kayo</strong></span> <br/>
                              <span class="hidden-xs" style=""><strong style="color:#003082">Welcome Home</strong></span>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                              <!-- The user image in the navbar-->
                              <center>
                                  <?php echo Phalcon\Tag::image(array($avatar, 'class' => 'user-image img-circle avatar_circle', 'alt' => 'Profile pic')); ?>
                              </center>
                              
                              <!-- hidden-xs hides the username on small devices so only the image appears. -->
                              
                            </a>
                            <ul class="dropdown-menu">
                              <!-- The user image in the menu -->
                              <li class="user-header" style="background-color: #003082;">
                                
                                <?php echo Phalcon\Tag::image(array($profilePic, 'class' => 'img-circle', 'alt' => 'Profile pic')); ?>
                                <p>
                                 <?php echo $userSession['first_name'].' '.substr($userSession['last_name'], 0,1).'.'; ?>
                                  <small style="font-size:10px">Member since <?php echo date('M Y', strtotime($userSession['created'])); ?></small>
                                </p>
                              </li>
                              <!-- Menu Body -->
			  	<?php if ($userSession['type'] != 'Business') { ?>
                              <li class="navHeader" style="padding:15px;margin-bottom:5px;">
                                <div class="col-xs-4 text-center">
                                  <a href="#"> <i class="fa fa-photo"></i>&nbsp;Photos(12)</a>
                                </div>
                                <div class="col-xs-4 text-center">
                                  <a href="#"><i class="fa fa-comments"></i>&nbsp;Reviews(10)</a>
                                </div>
                                <div class="col-xs-4 text-center">
                                  <a href="#"><i class="fa fa-users"></i>&nbsp;Friends(22)</a>
                                </div>
                              </li>
				<?php } ?>
				
                              <!-- Menu Footer-->
                              <li class="user-footer">
                                <div class="pull-left">
				<?php if ($userSession['type'] != 'Business') {?>
                                  <?php echo Phalcon\Tag::linkTo(array('member/page/'.$userSession['id'], 'About me', 'class' => 'btn btn-default btn-flat')); ?>		<?php } else { ?>
				  <?php echo Phalcon\Tag::linkTo(array('biz/page/'.$userSession['id'], 'About me', 'class' => 'btn btn-default btn-flat')); ?>		
				<?php } ?>
                                </div>
                                <div class="pull-right">
                                  <?php echo Phalcon\Tag::linkTo(array('logout', 'Logout', 'class' => 'btn btn-default btn-flat')); ?>
                                </div>
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </div><!-- avatar -->
                  </div>
              </div>
            <?php } ?>
               
            </div>
        </div>
        
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

     <!-- registration modal -->
<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width:500px!important">
    <div class="modal-content">
      <div class="modal-header btn-primary">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel" style="color:#fff!important;font-weight:bold;">Sign Up for MyBarangay</h4>
      </div>
      <div class="modal-body">
        
       
            <small>Come join our vision of a global Filipino community that shares, supports and empowers its members.</small><br><br>
            <div class="form-group">
            <?php echo $this->tag->linkTo(array('member/loginWithFacebook', '<i class="fa fa-facebook-official fa-lg"></i>  &nbsp;<span id="fbText">Sign up with FACEBOOK</span>', 'class' => 'btn btn-primary btn-block')) ?>
            </div>
            <div class="form-group">
              <span id="signinButton">
              asd
                  <span
                  class="g-signin btn btn-danger btn-block"
                  data-callback="googleAuth"
                  data-redirecturi="postmessage"
                  data-clientid="155579594624-3c5g7n9sf7baegg498ol4a5j48v7gojf.apps.googleusercontent.com"
                  data-cookiepolicy="http://mybarangay.cloudapp.net"
                  data-scope="profile email">
                    <i class="fa fa-google-plus-square fa-lg"></i>  &nbsp;<span id="GText">Sign up with GOOGLE</span>
                  </span>
              </span>
            </div>
            <small>Don't worry, we never post without your permission.</small>
            <hr>
              <?php echo Phalcon\Tag::form(array("member/signup", "method" => "post", "id" => "signUpForm")); ?>
                  <fieldset>
                  <div class="form-group">
                    <input name="first_name" type="text" class="form-control" placeholder="First Name">
                  </div>
                  <div class="form-group">
                    
                    <input name="last_name" type="text" class="form-control" placeholder="Last Name">
                  </div>
                  <div class="form-group">
                    <input name="email" type="email" class="form-control" id="inputEmail" placeholder="Email">
                  </div>
                  
                  <div class="form-group">
                    <input name="password" type="password" class="form-control" id="inputPassword" placeholder="Password">
                  </div>
                  <div class="form-group">
                    <input name="confirm_password" type="password" class="form-control" id="inputConfirmPassword" placeholder="Confirm Password">
                  </div>
                  <div class="checkbox">
                    <label>
                    <input type="checkbox"> I agree to the terms
                    </label>
                  </div>
          
                  <div class="form-group">
                    <div class="col-lg-12 text-center">
                    <button type="button" class="btn btn-danger"  data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                  </div>
                  </fieldset>
                </form>

             

             <!--    <form action="member/forgotPassword" method="post" class="hidden" id="resetPasswordForm">
                  <fieldset>
                  <div class="form-group">
                    <input name="email" type="email" class="form-control" id="inputEmail" placeholder="Email">
                  </div>          
                  <div class="form-group">
                    <div class="col-lg-12 text-center">
                    <button type="button" class="btn btn-info cancel">Cancel</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                  </div>
                  </fieldset>
                </form> -->
                <br>
        
      </div>
      <!-- <div class="modal-footer">
       
     
      </div>
 -->
    </div>
  </div>
</div>
   <!-- registration modal -->


   <!-- login modal -->

<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width:500px!important">
    <div class="modal-content">
      <div class="modal-header btn-primary">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel" style="color:#fff!important;font-weight:bold;">Login for MyBarangay</h4>
      </div>
      <div class="modal-body">
               <small>Come join our vision of a global Filipino community that shares, supports and empowers its members.</small><br><br>
            <div class="form-group">
            <?php echo $this->tag->linkTo(array('member/loginWithFacebook', '<i class="fa fa-facebook-official fa-lg"></i>  &nbsp;<span id="fbText">Sign up with FACEBOOK</span>', 'class' => 'btn btn-primary btn-block')) ?>
            </div>
            <div class="form-group">
              <span id="signinButton">
                  <span
                  class="g-signin btn btn-danger btn-block"
                  data-callback="googleAuth"
                  data-redirecturi="postmessage"
                  data-clientid="155579594624-3c5g7n9sf7baegg498ol4a5j48v7gojf.apps.googleusercontent.com"
                  data-cookiepolicy="http://mybarangay.cloudapp.net"
                  data-scope="profile email">
                    <i class="fa fa-google-plus-square fa-lg"></i>  &nbsp;<span id="GText">Sign up with GOOGLE</span>
                  </span>
              </span>
            </div>
             <small>Don't worry, we never post without your permission.</small>
            <hr>
             <?php echo Phalcon\Tag::form(array("member/login", "method" => "post", "id" => "loginForm")); ?>
                  <fieldset>
                  <div class="form-group">
                    <input name="email" type="email" class="form-control" id="inputEmail" placeholder="Email">
                  </div>
                  
                  <div class="form-group">
                    <input name="password" type="password" class="form-control" id="inputPassword" placeholder="Password">
                  </div>
                  <div class="form-group">
                    <div class="col-lg-12 text-center">
                      <small><a href="javascript:void(0);" id="forgotPassword" class="text-primary">Forgot password</a></small>
                      <br><br>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-lg-12 text-center">
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                      <button type="Submit" class="btn btn-primary">Submit</button>
                    </div>
                  </div>

                  </fieldset>
                </form>


      </div>
      <!-- <div class="modal-footer">
       
     
      </div>
 -->
    </div>
  </div>
</div>


   <!-- login modal -->
   <script type="text/javascript">
$(document).ready(function(){
   $('#signinButton').on('click', function() { 
        });
   function googleAuth(authResult) {
        var gData = authResult;
        var y = false;
      $('#signinButton').on('click', function() { 
       
         y = true;
         var authResult = gData;
                  
        if (authResult['code'] && y == true) {
            // Hide the sign-in button now that the user is authorized, for example:
            $('#signinButton').attr('style', 'display: none');
            //console.log(authResult);
            // Send the code to the server
            $.ajax({
              type: 'POST',
              url: 'member/loginWithGoogle/',
              data: {code : authResult['code'], access_token : authResult['access_token']},
              //processData: true
              //contentType: 'application/octet-stream; charset=utf-8',
              success: function(result) {
                var obj = jQuery.parseJSON( result );
                // Handle or verify the server response if necessary.

                // Prints the list of people that the user has allowed the app to know
                // to the console.
                //console.log(result['status']);
                if(obj['status'] == 'OK') {
                  window.location.href = "/mybarangay/";
                }
               
              }
              
            });
        } else if (authResult['error']) {
            // There was an error.
            // Possible error codes:
            //   "access_denied" - User denied access to your app
            //   "immediate_failed" - Could not automatially log in the user
            console.log('There was an error: ' + authResult['error']);
        }
      }); 
    }
   }); 

   </script>
  
