<div class=""><!-- profile column -->
    <div class="">
              <div class="row" style="margin: 0 15px 5px 5px;">
                <div>
                  <div class="grid">
                    <figure class="effect-lexi img_link" data-id="<?php echo $userSession['id']; ?>">
                      <?php
                      $profilePic = 'http://placehold.it/250x250&text=NO+PROFILE+PIC';
			$primaryPix = MemberPhotos::findFirst('member_id = "'.$userSession['id'].'" and primary_pic="Yes"');
		      if ($primaryPix) {
			$profilePic = 'http://mybarangay.cloudapp.net'.$this->url->getBaseUri() . $primaryPix->file_path . $primaryPix->filename;
		      }
                     // if(isset($userSession['primary_pic']) && !empty($userSession['primary_pic'])) {
                        //$profilePic = $userSession['primary_pic'];
                      //}
                      ?>

                       <?php 
                       // not working in phalcon 2
                       //echo Phalcon\Tag::linkTo(array('member/gallery/'.$userSession['id'],'id' => 'img_l', Phalcon\Tag::image(array($profilePic, 'class' => 'img-responsive img-thumbnail')))); ?>
                       <a href="<?php echo $this->url->getBaseUri() . 'member/gallery/' . $userSession['id']; ?>"><img src="<?php echo $profilePic; ?>"></a>
                      <figcaption>
                        <p><?php echo Phalcon\Tag::linkTo(array('member/gallery/'.$userSession['id'], '<i class="glyphicon glyphicon-camera" style="color: #fff;font-size:25px;"></i>')); ?></p>
                      </figcaption>     
                    </figure>
                  </div>
                 <?php //echo Phalcon\Tag::image(array($profilePic, 'class' => 'img-responsive img-thumbnail')); ?>
                </div>
              </div>
              <!--<div class="row" style="margin-top:20px;">
                  <div class="col-md-4">
                    <img src="http://placehold.it/60x60" alt="..." class="img-thumbnail"  style="margin-left:20px;">    
                  </div>
                  <div class="col-md-4">
                    <img src="http://placehold.it/60x60" alt="..." class="img img-thumbnail">    
                  </div>
                  <div class="col-md-4">
                    <img src="http://placehold.it/60x60" alt="..." class="img-thumbnail" style="margin-left:-20px;">    
                  </div>
              </div>-->
              <div class="row">
                  <div class="col-md-12 text-center">
                    
                    <h3><?php echo Phalcon\Tag::linkTo('member/page/'.$userSession['id'] .'/'.$userSession['first_name'] .'+'.$userSession['last_name'] , strtoupper($userSession['first_name'] .' '.substr($userSession['last_name'], 0, 1).'.' )); ?> <?php echo Phalcon\Tag::linkTo(array('member/update/'.$userSession['id'].'/'.$userSession['first_name'].'+'.$userSession['last_name'], '<span class="glyphicon glyphicon-pencil"></span>', 'class' => 'pull-right', 'data-toggle' => 'tooltip', 'title' => 'Update profile')); ?></h3>
                </div>
              </div>
              <div class="">
                <div class="" style="padding:0px;margin:0px;">
                <section class="sidebar">
                  <ul class="list-group sidebar-menu">
                    <li class="list-group-item treeview">
                     <a href="<?php echo $this->url->getBaseUri() . 'member/gallery/'. $userSession['id'];?>">
                       <span class="badge pull-right"><?php 
				$countPhotos = MemberPhotos::find(array('member_id = "'.$userSession['id'].'"', 'order' => 'id DESC'));		echo count($countPhotos);	
			?></span>
                        <i class="fa fa-photo text-info"></i>&nbsp;&nbsp;<b style="font-family: Myriad;">PHOTOS</b>
                      </a>
                    </li>
                    <!--<li class="list-group-item treeview">
                      <a href="">
                        <span class="badge pull-right">4</span>
                        <i class="fa fa-users text-success"></i>&nbsp;&nbsp;FRIENDS
                      </a>
                    </li>-->
		    	
                    <li class="list-group-item treeview">
                      <!--<a href="#" class="clickMe fa fa-chevron-right viola">-->
			<a href="<?php echo $this->url->getBaseUri() . 'member/page/'. $userSession['id']; ?>">
                        <i class="fa fa-comments text-danger"></i>&nbsp;&nbsp;<b style="font-family: Myriad;">REVIEWS</b>
                        <span class="badge pull-right" style="font-family: Myriad;"><?php
				$countReviews = Reviews::find(array('member_id = ' . $userSession['id']));
				echo count($countReviews);
			?></span>
                      </a>

                      <!--<ul class="list-group treeview-menu">
                        <li class="list-group-item treeview"><a href="#"><i class="fa fa-car"></i>Automotive</a></li>
                        <li class="list-group-item treeview"><a href="#"><i class="fa fa-users"></i>Community</a></li>
                        <li class="list-group-item treeview"><a href="#"><i class="fa fa-cutlery"></i>Food</a></li>
                        <li class="list-group-item treeview"><a href="#"><i class="fa fa-circle-o"></i>Health & Beauty</a></li>
                        <li class="list-group-item treeview"><a href="#"><i class="fa fa-bed"></i>Home & Services</a></li>
                        <li class="list-group-item treeview"><a href="#"><i class="fa fa-credit-card"></i>Financial</a></li>
                        <li class="list-group-item treeview"><a href="#"><i class="fa fa-plane"></i>Hotels & Travel</a></li>
                        <li class="list-group-item treeview"><a href="#"><i class="fa fa-building-o"></i>Real Estate</a></li>
                        <li class="list-group-item treeview"><a href="#"><i class="fa fa-shopping-cart"></i>Shopping</a></li>
                      </ul>-->
                    </li>
                   <li class="list-group-item treeview">
                     <a href="">

                        <i class="fa fa-photo text-info"></i><b style="font-family: Myriad;font-size: 7px;"><img style="width: 13px;" src="<?php echo $this->url->getBaseUri() . 'img/Like.png'; ?>"/> LIKE <span class="badge" style="font-size: 10px;"><?php 
		$likeComp = ReviewCompliments::find("reviewer_id=". $userSession['id']. " and rate=0");		
				echo count($likeComp);	
			?></span></b>
                      </a>
                      <a href="">
                        <i class="fa fa-photo text-info"></i>&nbsp;&nbsp;<b style="font-family: Myriad;font-size: 7px;"><img style="width: 9px;" src="<?php echo $this->url->getBaseUri() . 'img/Helpful.png'; ?>"/> HELPFUL <span class="badge" style="font-size: 10px;"><?php 
		$helpfulComp = ReviewCompliments::find("reviewer_id=". $userSession['id']. " and rate=1");		
				echo count($helpfulComp);	
			?></span></b>
                      </a>
                      <a href="">
                        <i class="fa fa-photo text-info"></i>&nbsp;&nbsp;<b style="font-family: Myriad; font-size: 7px;"><img style="width: 10px;" src="<?php echo $this->url->getBaseUri() . 'img/Rockon.png'; ?>"/> AWESOME <span class="badge" style="font-size: 10px;"><?php 
		$awesomeComp = ReviewCompliments::find("reviewer_id=". $userSession['id']. " and rate=2");		
				echo count($awesomeComp);	
			?></span></b>
                      </a>
                    </li>
		   
                  </ul>
                  </section>
                </div>
              </div>
              <br/>


            </div>

            <div style="height:300px;border:1px solid #efefef;margin:10px;background-color:#ccc">
              	   <?php
			// dito muna ako magki-query sa view [temporary]
			$query = "select * from ImageAds where type=1 order by rand() limit 4 ";
			$randomAds = $this->modelsManager->executeQuery($query);
			
			foreach ($randomAds as $ad)
		 	{
			 // echo '<img src="'.$this->url->getBaseUri().$ad->file_path.$ad->file_name.'" >';
			}
			
		    ?>
            </div>
          </div><!-- profile column -->

    
  
<script type="text/javascript">
    
    $(document).ready(function(){

      $('.img_link').on('click',function(){

        $('#img_l')[0].click();

      });

    });
  $("a.clickMe").click(function() {
    console.log ( 'clicked!' );
    $(this).toggleClass("fa-chevron-down fa-chevron-right");
  });


</script>
