 <!-- HEALTH & BEAUTY -->
              <div class="tab-pane fade" id="hb">
                <div class="container" style="padding:10px;">
                  <div class="row" style="margin:5px ">
                    <div class="col-md-12">
                      
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-9">
                    <?php if(count($HBeautyBizList)>0){ ?>
                     


                     
                     <div class="width100">
                        <?php foreach ($HBeautyBizList as $key => $biz) { ?>
                          <?php //if($key > 3) { ?>
                          <div class="col-md-4 smallPadding">
                            <div class="item_holder">
                              <?php $businessLastImg = 'http://placehold.it/200x200'; ?>
                              <?php foreach ($biz->BusinessImages as $key => $bizImages) { 
                                  $businessLastImg = $bizImages->file_path.$bizImages->filename;
                               } ?>
                              <?php echo Phalcon\Tag::image(array($businessLastImg, 'class' => 'img-responsive img-rounded item_img')); ?>
                              <div class="item_desc">
                                <h4 class="align-center"><?php echo Phalcon\Tag::linkTo(array('business/view/'.$biz->id, '<span class=""></span>'.$biz->name, 'class' => 'text-primary')); ?></h4>
                                <p style="font-size:12px;"><i class="fa fa-home"></i>&nbsp;&nbsp;<?php echo (isset($biz->street) || ($biz->street = '') ? $biz->street : 'No Street Info'); ?></p>
                                
                                <div class="rating1" >
                                    <?php
                                      $arrayRate = explode('.', $biz->average_rate);
                                      if(isset($arrayRate[1])){
                                        if($arrayRate[1] > 5) { 
                                          $arrayRate[0]++; $arrayRate[1] = 0; 
                                        }
                                        if($arrayRate[1] < 5 && $arrayRate[1] > 0) { 
                                           $arrayRate[1] = 5; 
                                        }
                                      } else {
                                        $arrayRate[1] = 0;
                                      }
                                      $rate = $arrayRate[0].'.'.$arrayRate[1];
                                      $class_rate = $arrayRate[0].'_'.$arrayRate[1]; 
                                    ?>
                                    <i class="salakot-img salakot_<?php echo $class_rate;?>" data-toggle="tooltip" title="<?php echo $biz->average_rate;?> salakot rating">&nbsp;</i>
                                </div>
                              </div>
                            </div>
                          </div>
                          <?php //} ?> 
                        <?php } ?> 
                      </div>
                      <span class="pull-right"><strong><a href="" style="color:red!important">.</a></strong></span>
			<div class="col-md-2 col-md-offset-10">
				 <a href="<?php echo $this->url->getBaseUri(); ?>business/filtered_seemore/healthnbeauty"><h4 style="color:#cc2222" ><strong>See more...</strong></h4></a>
			</div>
                      <?php } ?>
                    </div>
                    <div class="col-md-3">
                      <div class="topDealsContainer">
                          <h4 style="color:#cc2222"><i class="fa fa-bullhorn text-danger"></i><strong> Featured Classifieds</strong></h4>


                          <div style="background-color:#fff;">
                              
                            <div class="row topDealsName">
                                <div class="media">
                                  <div class="media-left">
                                    
                                  </div>
                                  <div class="media-body btn-primary">
                                    <h4 class="media-heading">Ad Space</h4>
                                    <p style="font-size:9px;">#1</p>
                                  </div>
                                </div>
                            </div>
                            <div class="row topDealsName">
                                <div class="media">
                                  <div class="media-left">
                                 
                                  </div>
                                  <div class="media-body btn-primary">
                                    <h4 class="media-heading">Ad Space</h4>
                                    <p style="font-size:9px;">#2</p>
                                  </div>
                                </div>
                            </div>
                            <div class="row topDealsName">
                                <div class="media">
                                  <div class="media-left">
                                    
                                  </div>
                                  <div class="media-body btn-primary">
                                    <h4 class="media-heading">Ad Space</h4>
                                    <p style="font-size:9px;">#3</p>
                                  </div>
                                </div>
                            </div>
                            <div class="row topDealsName">
                                <div class="media">
                                  <div class="media-left">
                                    
                                  </div>
                                  <div class="media-body btn-primary">
                                    <h4 class="media-heading">Ad Space</h4>
                                    <p style="font-size:9px;">#4</p>
                                  </div>
                                </div>
                            </div>
<div class="row topDealsName">
                                <div class="media">
                                  <div class="media-left">

                                  </div>
                                  <div class="media-body btn-primary">
                                    <h4 class="media-heading">Ad Space</h4>
                                    <p style="font-size:9px;">#5</p>
                                  </div>
                                </div>
                            </div>
<div class="row topDealsName">
                                <div class="media">
                                  <div class="media-left">
                                    
                                  </div>
                                  <div class="media-body btn-primary">
                                    <h4 class="media-heading">Ad Space</h4>
                                    <p style="font-size:9px;">#6</p>
                                  </div>
                                </div>
                            </div>

                          </div>
                      </div>

                      <div class="latestListContainer">
                          <h4 style="color:#cc2222"><i class="fa fa-users text-danger"></i><strong> Events</strong></h4>

                          <div style="background-color:#fff;">
                              
                            <div class="row latestListName" style="">
                                <div class="media">
                                  <div class="media-left">
                                    <a href="#">
                                      <img class="media-object" src="http://placehold.it/50x50" alt="...">
                                    </a>
                                  </div>
                                  <div class="media-body btn-primary">
                                    <h4 class="media-heading">Deal Name</h4>
                                    <p style="font-size:9px;">details,details,details,details,details,details,</p>
                                  </div>
                                </div>
                            </div>
                            <div class="row latestListName">
                                <div class="media">
                                  <div class="media-left">
                                    <a href="#">
                                      <img class="media-object" src="http://placehold.it/50x50" alt="...">
                                    </a>
                                  </div>
                                  <div class="media-body btn-primary">
                                    <h4 class="media-heading">Deal Name</h4>
                                    <p style="font-size:9px;">details,details,details,details,details,details,</p>
                                  </div>
                                </div>
                            </div>
                            <div class="row latestListName">
                                <div class="media">
                                  <div class="media-left">
                                    <a href="#">
                                      <img class="media-object" src="http://placehold.it/50x50" alt="...">
                                    </a>
                                  </div>
                                  <div class="media-body btn-primary">
                                    <h4 class="media-heading">Deal Name</h4>
                                    <p style="font-size:9px;">details,details,details,details,details,details,</p>
                                  </div>
                                </div>
                            </div>


                          </div>

                      </div>

                      <!--<div class="todayInTalkContainer">
                          <h4 style="color:#cc2222"><i class="fa fa-comments text-danger"></i><strong> Today in Chatter</strong></h4>

                          <div style="background-color:#fff;">
                              

                            <div class="row todayInTalkName">
                                <div class="media">
                                  <div class="media-left">
                                    <a href="#">
                                      <img class="media-object" src="http://placehold.it/50x50" alt="...">
                                    </a>
                                  </div>
                                  <div class="media-body btn-primary">
                                    <h4 class="media-heading">Deal Name</h4>
                                    <p style="font-size:9px;">details,details,details,details,details,details,</p>
                                  </div>
                                </div>
                            </div>
                            <div class="row todayInTalkName">
                                <div class="media">
                                  <div class="media-left">
                                    <a href="#">
                                      <img class="media-object" src="http://placehold.it/50x50" alt="...">
                                    </a>
                                  </div>
                                  <div class="media-body btn-primary">
                                    <h4 class="media-heading">Deal Name</h4>
                                    <p style="font-size:9px;">details,details,details,details,details,details,</p>
                                  </div>
                                </div>
                            </div>
                            <div class="row todayInTalkName">
                                <div class="media">
                                  <div class="media-left">
                                    <a href="#">
                                      <img class="media-object" src="http://placehold.it/50x50" alt="...">
                                    </a>
                                  </div>
                                  <div class="media-body btn-primary">
                                    <h4 class="media-heading">Deal Name</h4>
                                    <p style="font-size:9px;">details,details,details,details,details,details,</p>
                                  </div>
                                </div>
                            </div>

                          </div>
                      </div>-->
                    </div>
                  </div>
                  
                </div>
              </div>
