<?php 
echo $this->tag->stylesheetLink('themes3/css/forum.css');
  //echo $this->tag->javascriptInclude('themes3/themes/seeMore/seemore.js');
// echo $this->tag->stylesheetLink('themes3/themes/bootstrapSelect/css/bootstrap-select.css');
// echo $this->tag->javascriptInclude('themes3/themes/bootstrapSelect/js/bootstrap-select.js');
echo $this->tag->javascriptInclude('themes3/js/time.ago.js');
// echo $this->tag->javascriptInclude('themes3/js/forum.zoid.js');
 ?>


<?php use Helpers\ZoidHelpers; ?>



<script type="text/javascript">
  
$(function() {


  /* HEADER MENU*/
  $('.menu_x').on('click',function(event){
    var zlinker = $(this).attr('id');
    ajaxSpinner(zlinker);
    console.log(zlinker);
    $("html, body").animate({ scrollTop: 150 }, 600);   
  });
  /* HEADER MENU*/


  /* CATEGORIES */
  $('.menu_category').on('click',function(event){
      ajaxSpinner('z_all');
      $category = $(this).attr('data-cat');
      localStorage.setItem('_catg', $category);
      localStorage.setItem('_trigger', '1x1');
    // event.preventDefault();
  });
  /* CATEGORIES */

});

/* LOAD AND UPDATE PERSISTENT */
function ajaxSpinner(persist){
   var link = $('#z_perst').val();
   $.post("<?php echo $this->url->getBaseUri().'forum/persistent'; ?>" ,{perst:persist},
    function(perst){  
      console.log('dave');
    }, 'json');
}
/* LOAD AND UPDATE PERSISTENT */

</script>



<!-- start body wrapper -->
<div class="body-wrapper" style="margin-top:88px;"> 

  <!-- start body wrapper container-fluid -->
  <div class="container-fluid" id="forum-image"  style=" height:150px"> 
  </div>


  <!-- start body wrapper container-fluid -->

  <div class="container-fluid"  style=" background:#fff;"> 
    <div class="row">
        <div class="container" style="padding-top:0px;margin-top:0px;margin-bottom:0px;padding-bottom:0px">

            <div class="row">
                <nav role="custom-dropdown">
                    <input type="checkbox" id="button">
                    <label for="button" onclick>menu</label>
                    <ul>
                      <li><a href="<?php echo $this->url->getBaseUri().'forum/'; ?>" class="menu_xx" id="z_all">All</a></li>
                        <li><a href="<?php echo $this->url->getBaseUri().'forum/'; ?>" class="menu_x" id="z_lat">Latest</a></li>
                        <li><a href="<?php echo $this->url->getBaseUri().'forum/'; ?>" class="menu_x" id="z_pop">Popular</a></li>
                        <?php if (isset($userSession['id'])) { ?>
                        <li><a href="<?php echo $this->url->getBaseUri().'forum/list_topic'; ?>" class="menu_xx" id="z_myt">My Topics</a></li>
                        <li><a href="<?php echo $this->url->getBaseUri().'forum/add'; ?>" class="menu_xx" id="z_adt">Start New Topic</a></li>
                        <?php } ?>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
  </div>

<!-- ************************************************************ -->
<div class="container"><!-- start container -->

    <div class="row" style="margin-top:20px">
        <div class="col-lg-8 col-md-8"><!-- start col-lg-8 col-md-8 -->
    







               <!-- load more loader -->
              <div id="loader" style="text-align:center;display:none">
                <?php echo Phalcon\Tag::image(array('img/finalgiffer6.gif','alt' => 'logo')); ?>
              </div>

 

       </div><!-- end col-lg-8 col-md-8 -->

       <div class="col-lg-4 col-md-4"><!-- start col-lg-4 col-md-4 -->

            <!-- -->
            <div class="sidebarblock">
                <h3>Categories</h3>
                <div class="divline"></div>
                <div class="blocktxt">
                    <ul class="cats">
                    <li><a class="menu_category" data-cat="" href="<?=$this->url->getBaseUri()?>forum/test">All<span class="badge pull-right"><?php echo WhatsupTopics::count();?></span></a></li>
                    <?php
                        foreach ($forum_category as $value) {
                            $res = WhatsupTopics::find("whatsup_category_id = '$value->id' ");
                            $count = count($res);
                            echo '<li><a class="menu_category" data-cat="'.$value->id.'" href="'.$this->url->getBaseUri().'forum/index">'.$value->name.'<span class="badge pull-right">'.$count.'</span></a></li>';
                        }
                    ?>
                    </ul>
                </div>
            </div>

          <div class="sidebarblock">
        <h3>Badges</h3>
        <div class="divline"></div>
        <div class="blocktxt">
        <a href="#">Empty right now</a>
        </div>
        </div>


          <div class="sidebarblock">
        <h3>My Active Threads</h3>
        <div class="divline"></div>
        <div class="blocktxt">
        <a href="#">Empty right now</a>
        </div>
        </div>


        </div><!-- end col-lg-4 col-md-4 -->

    </div>
                
</div><!-- end container -->


<!-- ************************************************************ -->

</div><!-- end body wrapper -->


<script>
    function compliment(rate,topicId,counter) {
     //alert(rate + ' ' + topicId + ' ' + memberId);
        $.ajax({
                url: "<?php echo $this->url->getBaseUri() . 'forum/compliment'; ?>",
                type: 'GET',
                data: {rate:rate, topicId:topicId, counter:counter},
                dataType: 'json',
                success: function(result){
                    //alertify.success(result[0].rate + ' ' + result[0].topicId + ' ' + result[0].counter);
                    var r = result[0].rate;
                    if (r == '0') {
                       $('#lykCount'+counter).html(result[0].count);
                    } else if (r == '1') {
                       $('#helpCount'+counter).html(result[0].count);
                    } else if (r == '2') {
                       $('#aweCount'+counter).html(result[0].count);
                    }
                    $('#forum-compliment'+counter).html('');
                },
                error: function(){
                    alertify.error("whoops, something went wrong.");
                }
        });
    }
</script>
<script type="text/javascript">



$(document).ready(function(event){


    var asd = "<?php echo $this->url->getBaseUri() . 'forum/load_ajax'; ?>";



      $('#flagify').click(function() {
        $('#flagModal').modal('hide');
        if ($('#flag_type').val() == "0") {
          alertify.error("you must choose one option");
        } else {
          var flagger = $("#flaggerId").val();
          var review = $('#reviewId').val();
          var reviewer = $('#reviewerId').val();
          var flag_type = $('#flag_type').val();
          var span_counter = $('#flagId').val();
              $.ajax({
                url: "<?php echo $this->url->getBaseUri() . 'thing/flag'; ?>",
                type: 'GET',
                data: {reviewer:reviewer, review:review,flagger:flagger, flag_type:flag_type},
                dataType: 'json',
                success: function(result){
                  $('#flagRemover' + span_counter).html('<span style="float:right;color:red;">reported</span>');
                  alertify.success("Your report has been sent to admins.");
                  //console.log(result.items);
                },
                error: function(){
                  alertify.error("whoops, something went wrong.");
                }
           });
          }
      }); 



     });


    function flagAll(reviewer, reporter, reviewId, counter) {
      $('#reviewerId').val(reviewer);
      $('#reviewId').val(reviewId);
      $('#flaggerId').val(reporter);
      $('#flagId').val(counter);
    }
</script>

<!-- Modal -->
<div class="modal fade" id="flagModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><span style="font-family:Arial;color:red;font-weight:bold;"><span class="glyphicon glyphicon-flag" style="color: red;"></span> Flag </span></h4>
      </div>
      <div class="modal-body">
        <p>Please refer to our 'Terms of Use' and 'Privacy Policy' and let us know why you think the content you've reported may violate these guidelines</p>

        <br>

        <p style="font-weight:bold">Why do you want to report this review?</p>
        <form action="">
          <input id="flagId" type="hidden" class="form-control"/>
          <input id="reviewId" type="hidden" class="form-control" />
          <input id="reviewerId" type="hidden" class="form-control" />
          <input id="flaggerId" type="hidden" class="form-control" />
          <select id="flag_type" class="form-control">
            <option value="0">Select and option...</option>
            <?php $flagOptions = FlagTypes::find(); 
              foreach ($flagOptions as $option) {
            ?>
              <option value="<?= $option->id ?>"><?= $option->detail ?></option>
            <?php } ?>
          </select>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="flagify" type="button" class="btn btn-primary">Flag car</button>
      </div>
    </div>
  </div>
</div>
