<?php echo $this->tag->javascriptInclude("themes3/themes/ckeditor/ckeditor.js"); ?>
<style>
    td.cke_dialog_ui_hbox_first {
        width: 0% !important;
    }
    td.cke_dialog_ui_hbox_last {
        width: 100% !important;
    }
    
</style>
<div class="body-wrapper" style="margin-top:110px;"> <!-- start body wrapper -->
  <div class="container"  style=" background:#fff"> <!-- start body wrapper container-fluid -->
    <div class="row" > <!-- start body wrapper row -->

  <div style="margin-bottom:20px;"><!-- page wrapper body -->
  
   <!-- start left panel -->
   <div class="col-md-3" style="">
   
   </div>
   <!-- end left panel -->


    <div class="col-md-6" > <!-- start col-md-6 -->
        <?php echo Phalcon\Tag::form(array("forum/update_topic", "method" => "post", "id" => "addTopic", "class" => "form newtopic")); ?>
        <h3>Update Topic</h3>
        <br>
        <div>
            <input name="topic_id" type="hidden" value="<?=$topic->id?>"/>
            <input name="subject" placeholder="Enter Topic Title" class="form-control" type="text" value="<?=$topic->subject?>">
        </div>
        <br>
        <div>
                                            <select name="whatsup_category_id" id="whatsup_category_id" class="form-control">
                                                <option value="" disabled="" selected="">Select Category</option>
                                                <?php
                                                foreach ($whatsupCategories as $category) {
                                                    if ($topic->whatsup_category_id == $category->id) {
                                                         echo ' <option value="'.$category->id.'" selected>'.$category->name.'</option>';
                                                    } else {
                                                        echo ' <option value="'.$category->id.'">'.$category->name.'</option>';
                                                    }
                                                }
                                                ?>
                                            </select>
                                        </div>
        <br>
        <div class="editor-wrapper">
                                     <textarea  name="content" placeholder="Content here ...." class="ckeditor form-control"><?=$topic->content?></textarea>
                                   </div>
        <br>
                    <div class="pull-right"><button type="submit" class="btn btn-success">Update</button>
        <?php echo Phalcon\Tag::endForm(); ?>
        <br>
    </div> <!-- end col-md-6 -->


   <!-- start right panel -->
      <div class="col-md-3" >

   </div> 
   <!-- end right panel -->

  </div><!-- end page wrapper body -->

 </div><!-- end body wrapper row -->
  </div><!-- end body wrapper container-fluid -->
</div><!-- end body wrapper -->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/zepto/1.0/zepto.min.js"></script>
<script>
     CKEDITOR.on('dialogDefinition', function (ev) {
            // Take the dialog name and its definition from the event data.
            var dialogName = ev.data.name;
            var dialogDefinition = ev.data.definition;

            // Check if the definition is from the dialog we're
            // interested in (the 'link' dialog).
            if (dialogName == 'link') {
                // Remove the 'Advanced' tabs from the 'Link' dialog.        
                dialogDefinition.removeContents('advanced');

                dialogDefinition.removeContents('target');

                // Get a reference to the 'Link Info' tab.
                //var infoTab = dialogDefinition.getContents('info');

                // Remove unnecessary widgets from the 'Link Info' tab.         
                //infoTab.remove('linkType');
                //infoTab.remove('protocol');
                //infoTab.remove('browse');

              
            }
            
            var infoTab = dialogDefinition.getContents( 'info' );
             infoTab.get( 'linkType' ).style = 'display: none';
             infoTab.get( 'protocol' ).style = 'display: none;width:0%';
             $('.cke_dialog_ui_hbox_first').hide().css('width','0%');
                $('.cke_dialog_ui_hbox_last').css('width','100%'); 
             //$('#cke_dialog_ui_hbox_first').addClass("zero");
             //$('#cke_dialog_ui_hbox_last').addClass("hyaku");
             //var element = new CKEDITOR.dom.element(document.getElementById( 'cke_dialog_ui_hbox_first' ));
               // element.addClass( 'zero'); // <div class="classA">
            //var element2 = new CKEDITOR.dom.element(document.getElementById( 'cke_dialog_ui_hbox_last' ));
              //  element2.addClass( 'hyaku');
             //$('#cke_36_select').hide();
        });

        CKEDITOR.on('instanceReady', function (ck) { ck.editor.removeMenuItem('Link'); });
        
(function($) {

          var editor = new Editor();
          editor.render();

    })(Zepto);
</script>

<script>
    $(document).ready(function() {
        $('.cke_dialog_ui_hbox_first').hide().css('width','0%');
        $('.cke_dialog_ui_hbox_last').css('width','100%'); 
        //$('#cke_33_select').hide();
        //$('#cke_36_select').hide();
        //$('#cke_37_label').hide();
        //$('#cke_35_uiElement').hide();
        //$('#cke_dialog_ui_hbox_first').hide().css('width','0%');
        //$('#cke_dialog_ui_hbox_last').css('width','100%');    
    });
</script>