z<?php 
echo $this->tag->stylesheetLink('themes3/css/forum.css');
echo $this->tag->stylesheetLink('themes3/themes/summernote/summernote.css');
  //echo $this->tag->javascriptInclude('themes3/themes/seeMore/seemore.js');
// echo $this->tag->stylesheetLink('themes3/themes/bootstrapSelect/css/bootstrap-select.css');
// echo $this->tag->javascriptInclude('themes3/themes/bootstrapSelect/js/bootstrap-select.js');
echo $this->tag->javascriptInclude('themes3/js/time.ago.js');
echo $this->tag->javascriptInclude('themes3/themes/summernote/summernote.js');
// echo $this->tag->javascriptInclude('themes3/js/forum.zoid.js');
 ?>

<?php use Helpers\ZoidHelpers; ?>
<script type="text/javascript">
    
$(function() {



    $("html, body").animate({ scrollTop: 150 }, 600);   
    /* Extended summernote editor */
      $("#summernote").summernote({
        height: 120,
           codemirror: {
              mode: 'text/html',
              htmlMode: true,
              lineNumbers: true,
              theme: 'default'
            }
      });
    /* END Extended summernote editor */

    /* Lite summernote editor */
      if($(".summernote_lite").length > 0){
          $(".summernote_lite").on("focus",function(){
              $(".summernote_lite").summernote({
                height: 100, focus: true,
                toolbar: [
                    ["style", ["bold", "italic", "underline", "clear"]],
                    ["insert",["link","picture","video"]]                                                          
                ]
               });
          });                
      }
    /* END Lite summernote editor */
        
    /* Email summernote editor */
    if($(".summernote_email").length > 0){
        $(".summernote_email").summernote(
          {height: 400, focus: true,
            toolbar: [
                ['style', ['bold', 'italic', 'underline', 'clear']],
                ['font', ['strikethrough']],
                ['fontsize', ['fontsize']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['height', ['height']]                                                          
            ]
          });
    }
    /* END Email summernote editor */


    $('#searchTopics').on('submit', function(){
      var key = $('#subjectKey').val();
      console.log(key);
      localStorage.setItem('_word', key);
      localStorage.setItem('_key', '1x1');
     window.location.replace('http://www.mybarangay.com/forum/index/');
    return false;
    });


  /* HEADER MENU*/
  $('.menu_x').on('click',function(event){
    var zlinker = $(this).attr('id');
    ajaxSpinner(zlinker);
    console.log(zlinker);
    $("html, body").animate({ scrollTop: 150 }, 600);   
  });
  /* HEADER MENU*/

  /* CATEGORIES */
  $('.menu_category').on('click',function(event){
      ajaxSpinner('z_all');
      $category = $(this).attr('data-cat');
      localStorage.setItem('_catg', $category);
      localStorage.setItem('_trigger', '1x1');
    // event.preventDefault();
  });
  /* CATEGORIES */


});


/* LOAD AND UPDATE PERSISTENT */
function ajaxSpinner(persist){
   var link = $('#z_perst').val();
   $.post("<?php echo $this->url->getBaseUri().'forum/persistent'; ?>" ,{perst:persist},
    function(perst){  
      console.log('dave');
    }, 'json');
}
/* LOAD AND UPDATE PERSISTENT */

</script>




<!-- start body wrapper -->
<div class="body-wrapper" style="margin-top:88px;"> 

  <!-- start body wrapper container-fluid -->
  <div class="container-fluid" id="forum-image"  style=" height:150px"> 
  </div>

  <!-- start body wrapper container-fluid -->
  <div class="container-fluid"  style=" background:#fff;"> 
    <div class="row">
        <div class="container" style="padding-top:0px;margin-top:0px;margin-bottom:0px;padding-bottom:0px">
            <div class="row">
        
                <div class="col-md-8 col-sm-8" style="padding:5px 5px 5px 0px">




<nav class="navbar forum navbar-default" role="navigation" style="background:#fff;height:auto; max-height:300px">

  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
                      <li><a href="<?php echo $this->url->getBaseUri().'forum/'; ?>" class="menu_xx" id="z_all">All</a></li>
                        <li><a href="<?php echo $this->url->getBaseUri().'forum/'; ?>" class="menu_x" id="z_lat">Latest</a></li>
                        <li><a href="<?php echo $this->url->getBaseUri().'forum/'; ?>" class="menu_x" id="z_pop">Popular</a></li>
                        <?php if (isset($userSession['id'])) { ?>
                        <li><a href="<?php echo $this->url->getBaseUri().'forum/list_topic'; ?>" class="menu_xx" id="z_myt">My Topics</a></li>
                        <li><a href="<?php echo $this->url->getBaseUri().'forum/add'; ?>" class="menu_xx" id="z_adt">Start New Topic</a></li>
                        <?php } ?>
        </ul>


  </div><!-- /.navbar-collapse -->
</nav>

                </div>

                <div class="col-md-4 col-sm-4 " style="padding:5px">
            
                  <form method="post" id="searchTopics">
                    <div class="input-group" style="margin:0px;padding:0px 15px;">
                    <div class="input-group-btn" style="">
                      <button type="submit" id="sumbit_search" class="btn btn-primary">Search</button>
                    </div>
                    <input type="text" class="form-control" id="subjectKey" name="subject" placeholder="search">
                  </div>
                  </form>
           

                </div>

            </div>

        </div>
    </div>
  </div>

<!-- ************************************************************ -->
<div class="container"><!-- start container -->

    <div class="row" style="margin-top:20px">
        <div class="col-lg-8 col-md-8"><!-- start col-lg-8 col-md-8 -->


  <?php echo Phalcon\Tag::form(array("forum/view_edit/".$whatsupTopics->id, "method" => 'post', "id" => 'updateTopic', "class" => 'newtopic form' )); ?>

        <div class="messages"></div>
        <div class="post"> <!-- //start of post -->
            <div class="topwrap"><!-- //start of topwrap -->

                <!-- //***********************************************************- -->
                <div class="userinfo pull-left"><!-- //start of userinfo -->

                    <!-- //***********************************************************- -->
                    <div class="avatar"><!-- //start of avatar -->
                       <?php  $profilePic = 'http://placehold.it/50x50&text=NO+PROFILE+PIC';
                        if( !empty($userSession) ) { 
                            $avatar = MemberPhotos::findFirst('member_id = "'.$userSession['id'].'" and primary_pic="Yes"');
                            if ($avatar) {
                                $profilePic =  'http://mybarangay.com'.$this->url->getBaseUri() . $avatar->file_path . $avatar->filename;
                            }
                        }
                        ?>
                        <a class="restricted" href="<?=$this->url->getBaseUri()?>member/page/<?=$userSession['id']?>">
                            <?php echo Phalcon\Tag::image(array($profilePic,  'style' => 'width:50px;height:50px')); ?>
                        </a>
                        <div class="status red">&nbsp;</div>
                    </div><!-- //end of avatar -->
                    <!-- //***********************************************************- -->

                    <!-- //***********************************************************- -->
                    <div class="icons"><!-- //start of icons -->
                       <!--  <img src="images/icon3.jpg" alt=""><img src="images/icon4.jpg" alt=""><img src="images/icon5.jpg" alt=""><img src="images/icon6.jpg" alt=""> -->
                    </div><!-- //end of icons -->
                    <!-- //***********************************************************- -->

                </div><!-- //end of userinfo -->
                <!-- //***********************************************************- -->

                <!-- //***********************************************************- -->
                <div class="posttext pull-left"><!-- //start of posttext -->
                  
                        <input name="subject" id="subject" value="<?php echo $whatsupTopics->subject; ?>" placeholder="Enter Topic Title" class="form-control" type="text">


                    <div class="row"><!-- //start of row -->
                        <div class="col-lg-12 col-md-12"><!-- //start of row col-lg-12 col-md-12 -->
                        <select name="whatsup_category_id" id="whatsup_category_id" class="form-control">
                            <option value="" disabled="" selected="">Select Category</option>
                            <?php
                                $categories = WhatsupCategories::find();
                                  foreach ($categories as $categ) {
                                 if ($categ->id == $whatsupTopics->whatsup_category_id) {
                                    echo '<option value="'.$categ->id.'" selected>'.$categ->name.'</option>';
                                  } else {
                                    echo '<option value="'.$categ->id.'">'.$categ->name.'</option>';
                                }
                               }
                              ?>
                        </select>
                        </div><!-- //end of row col-lg-12 col-md-12 -->
                    </div><!-- //end of row -->

                    <div class="editor-wrapper"><!-- //start of editor-wrapper -->
                        <textarea  name="content" id="summernote" ><?php echo $whatsupTopics->content; ?></textarea>
                    </div><!-- //end of editor-wrapper -->
                </div><!-- //end of posttext -->
                <!-- //***********************************************************- -->

                <div class="clearfix"></div>

            </div><!-- //end of topwrap -->  

            <!-- //***********************************************************- -->
            <div class="postinfobot"><!-- //start of postinfobot  -->
                <div class="pull-right postreply"><!-- //start of postreply  -->
                    <div class="pull-left"><button type="submit " style="margin-right:5px" class="btn btn-grey btn-sm">Update</button></div>
                    <div class="clearfix"></div>
                </div><!-- //end of postreply  -->
            <div class="clearfix"></div>
            </div><!-- //end of postinfobot -->  
            <!-- //***********************************************************- -->
        </div><!-- // end of post -->
     <?php echo Phalcon\Tag::endForm(); ?>

       </div><!-- end col-lg-8 col-md-8 -->

       <div class="col-lg-4 col-md-4"><!-- start col-lg-4 col-md-4 -->

            <!-- -->
            <div class="sidebarblock">
                <h3>Categories</h3>
                <div class="divline"></div>
                <div class="blocktxt">
                    <ul class="cats">
                    <li><a class="menu_category" data-cat="" href="<?=$this->url->getBaseUri()?>forum/index">All<span class="badge pull-right"><?php echo WhatsupTopics::count();?></span></a></li>
                    <?php
                        foreach ($forum_category as $value) {
                            $res = WhatsupTopics::find("whatsup_category_id = '$value->id' ");
                            $count = count($res);
                            echo '<li><a class="menu_category" data-cat="'.$value->id.'" href="'.$this->url->getBaseUri().'forum/index">'.$value->name.'<span class="badge pull-right">'.$count.'</span></a></li>';
                        }
                    ?>
                    </ul>
                </div>
            </div>

          <div class="sidebarblock">
        <h3>Badges</h3>
        <div class="divline"></div>
        <div class="blocktxt">
        <a href="#">Empty right now</a>
        </div>
        </div>


          <div class="sidebarblock">
        <h3>My Active Threads</h3>
        <div class="divline"></div>
        <div class="blocktxt">
        <a href="#">Empty right now</a>
        </div>
        </div>
<?php $this->partial('partials/ads2'); ?>
        </div><!-- end col-lg-4 col-md-4 -->

    </div>
                
</div><!-- end container -->


<!-- ************************************************************ -->

</div><!-- end body wrapper -->


<script>
    function compliment(rate,topicId,counter) {
     //alert(rate + ' ' + topicId + ' ' + memberId);
        $.ajax({
                url: "<?php echo $this->url->getBaseUri() . 'forum/compliment'; ?>",
                type: 'GET',
                data: {rate:rate, topicId:topicId, counter:counter},
                dataType: 'json',
                success: function(result){
                    //alertify.success(result[0].rate + ' ' + result[0].topicId + ' ' + result[0].counter);
                    var r = result[0].rate;
                    if (r == '0') {
                       $('#lykCount'+counter).html(result[0].count);
                    } else if (r == '1') {
                       $('#helpCount'+counter).html(result[0].count);
                    } else if (r == '2') {
                       $('#aweCount'+counter).html(result[0].count);
                    }
                    $('#forum-compliment'+counter).html('');
                },
                error: function(){
                    alertify.error("whoops, something went wrong.");
                }
        });
    }
</script>
<script type="text/javascript">



$(document).ready(function(event){




      $('#flagify').click(function() {
        $('#flagModal').modal('hide');
        if ($('#flag_type').val() == "0") {
          alertify.error("you must choose one option");
        } else {
          var flagger = $("#flaggerId").val();
          var review = $('#reviewId').val();
          var reviewer = $('#reviewerId').val();
          var flag_type = $('#flag_type').val();
          var span_counter = $('#flagId').val();
              $.ajax({
                url: "<?php echo $this->url->getBaseUri() . 'thing/flag'; ?>",
                type: 'GET',
                data: {reviewer:reviewer, review:review,flagger:flagger, flag_type:flag_type},
                dataType: 'json',
                success: function(result){
                  $('#flagRemover' + span_counter).html('<span style="float:right;color:red;">reported</span>');
                  alertify.success("Your report has been sent to admins.");
                  //console.log(result.items);
                },
                error: function(){
                  alertify.error("whoops, something went wrong.");
                }
           });
          }
      }); 


     });


    function flagAll(reviewer, reporter, reviewId, counter) {
      $('#reviewerId').val(reviewer);
      $('#reviewId').val(reviewId);
      $('#flaggerId').val(reporter);
      $('#flagId').val(counter);
    }
</script>

<!-- Modal -->
<div class="modal fade" id="flagModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><span style="font-family:Arial;color:red;font-weight:bold;"><span class="glyphicon glyphicon-flag" style="color: red;"></span> Flag </span></h4>
      </div>
      <div class="modal-body">
        <p>Please refer to our 'Terms of Use' and 'Privacy Policy' and let us know why you think the content you've reported may violate these guidelines</p>

        <br>

        <p style="font-weight:bold">Why do you want to report this review?</p>
        <form action="">
          <input id="flagId" type="hidden" class="form-control"/>
          <input id="reviewId" type="hidden" class="form-control" />
          <input id="reviewerId" type="hidden" class="form-control" />
          <input id="flaggerId" type="hidden" class="form-control" />
          <select id="flag_type" class="form-control">
            <option value="0">Select and option...</option>
            <?php $flagOptions = FlagTypes::find(); 
              foreach ($flagOptions as $option) {
            ?>
              <option value="<?= $option->id ?>"><?= $option->detail ?></option>
            <?php } ?>
          </select>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="flagify" type="button" class="btn btn-primary">Flag car</button>
      </div>
    </div>
  </div>
</div>
