 <?php foreach ($autoBizList as $key => $biz) { ?>
	        <!-- 1st item Health-->
         <a href="<?php echo $this->url->getBaseUri().'business/view2/'. $biz->id; ?>">
          <div class="col-md-4 col-sm-6 matcher">
              <div class="panel panel-default item-box shadow">
                <div class="panel-thumbnail custom-thumbnail">
                  <?php 
                    $businessLastImg = 'http://placehold.it/300X160/bbb/fff"'; 
                    foreach ($biz->BusinessImages as $key => $bizImages) { 
                    $businessLastImg = $bizImages->file_path.$bizImages->filename;
                    } 
                    echo Phalcon\Tag::image(array($businessLastImg, 'class' => ''));
                  ?>
                </div>
                <div class="panel-body"><!-- start panel body -->
                  <p class="lead ellipsis2" data-toggle="tooltip" title="<?php echo $biz->name;?> ">		  	
                  <?php 
              			if (isset($userSession['type'])) {
              				if ($userSession['type'] == 'Member') {
              					echo Phalcon\Tag::linkTo(array('business/view2/'.$biz->id,
                                 '<span class=""></span>'.$biz->name, 'class' => 'text-primary')); 
              				}  
              			} else {
              				echo $biz->name;
              			}
              		?>

                  </p>

                  <p class="ellipsis">
                  <span class="glyphicon glyphicon-home" aria-hidden="true"> </span>
                  <?php echo (isset($biz->street) || ($biz->street != '') ? $biz->street.',
                   '.$biz->city.', '.$biz->Countries->country : 'No Address Info'); ?>

                    </p>
                      <!-- <span class="glyphicon glyphicon-star-empty"></span>
                      <span class="glyphicon glyphicon-star-empty"></span>
                      <span class="glyphicon glyphicon-star-empty"></span>
                      <span class="glyphicon glyphicon-star-empty"></span>

                      <span class="glyphicon glyphicon-star-empty"></span> -->
                      
                      <!--start of rating -->
                      <div class="rating1" style="padding:4px 0px">
                      <?php
                      $arrayRate = explode('.', $biz->average_rate);

                      if(isset($arrayRate[1])){

                        if($arrayRate[1] > 5) { 
                          $arrayRate[0]++; $arrayRate[1] = 0; 
                        }

                        if($arrayRate[1] < 5 && $arrayRate[1] > 0) { 
                          $arrayRate[1] = 5; 
                        }
                      } else {
                        $arrayRate[1] = 0;
                      }

                      $rate = $arrayRate[0].'.'.$arrayRate[1];
                      $class_rate = $arrayRate[0].'_'.$arrayRate[1]; 

                      ?>
                      <i class="salakot-img salakot_<?php echo $class_rate;?>" data-toggle="tooltip" title="<?php echo $rate;?> salakot rating">&nbsp;</i>
                      </div>
                      <!--end of rating -->

                      
                       <div class="clearfix" style="margin:5px 0px;border-top:1px solid #dddddd"></div>


                      <?php 
                      // start reviewer
                      $preview = Reviews::findFirstByBusinessId($biz->id); 
                      if ($preview){

                        $memberPhotos = MemberPhotos::findFirst(array('member_id="'.$preview->member_id.'"', 'primary_pic="Yes"'));
                        $profilePic = 'http://placehold.it/50x50&text=NO+PROFILE+PIC';
                        if(isset($memberPhotos->filename)) {
                          $profilePic = $memberPhotos->file_path.$memberPhotos->filename;
                        }
                      ?>
                          
                          <div class="media" style="border-bottom:1px solid #ddd;">
                            <div class="pull-left">
                      <?php


                            echo Phalcon\Tag::image(array($profilePic, 'class' => 'img-thumbnail pull-left', 'style' => 'margin-right:5px;width:50px; height: 50px;margin-bottom:5px;'));
                      ?>
                              </div>
                              <div class="media-body">
                              <span class="media-heading ellipsis4"><?php echo  $preview->content; ?></span>
                            </div>
                          </div>

                      <?php
                      }else{
                        echo '<div class="media" style="border-bottom:1px solid #ddd;">
                        <div class="pull-left">';
                        echo '<img src="'.$avatar.'" class="img-thumbnail pull-left" 
                        style="margin-right:5px;margin-bottom:5px;" width="50px" height="50px">';
                        echo '</div>';
                        echo ' <div class="media-body">';
                        echo '<span class="media-heading ellipsis4">Be the first to review</span>';
                        echo '</div>';
                        echo '</div>';
                      }
                      // end reviewer
                      ?>

                  </div> <!-- end panel body -->
              </div>
          </div>
         </a>
          <!-- 1st item Automotive-->
<?php } ?> 
