<tbody>
	<tr>
		<td style="padding:40px 0  0 0;">
<br>
<img style="width: 240px; margin-top: -30px;" src="http://mybarangay.cloudapp.net/themes/customize/img/logo1.png"/>
			<p style="color:#000;font-size: 16px;line-height:24px;font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:normal;">

				<h2 style="font-size: 14px;font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Arial,sans-serif;">MyBarangay for Business Owners</h2>
				<p style="font-size: 13px;line-height:24px;font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Arial,sans-serif;"><p>Dear <?php echo $fullName . ","; ?></p><br>
<p>Congratulations on claiming your MyBarangay Business Page! Here are a few of the features you can start using now:</p> <br>

<p>- Respond to customers who have reviewed your business - privately or publicly</p>
<p>- Track the number of people viewing your business on MyBarangay</p>
<p>- Add photos and update business information</p>
<p>- Personalize your ad which will appear in relevant search pages</p>

<br>

You can access your business account at your<a href="<?php echo 'http://www.mybarangay.com'. $this->url->getBaseUri() . $confirmUrl; ?>"> business mini-webpage</a>

<br>

A few important things to keep in mind:

<br>

<p>- If you decide to respond to a review, whether good or bad, always be courteous</p>
<p>- Don't ask your customers to review your business. Just say "Find us on MyBarangay"'</p>

<p>We're excited to have you participating on MyBarangay. If you have any feedback or suggestions. Contact us.</p>

				<br>
				<br>
					-MyBarangay Team

				<br>
				<br>
				Isang mundo. Isang wika. Isang barangay. 
				<br>
			</p>
		</td>
	</tr>
</tbody>
