<tbody>
	<tr>
		<td style="padding:40px 0  0 0;">
<br>
<img style="width: 240px; margin-top: -30px;" src="http://mybarangay.com/themes/customize/img/logo1.png"/>
			<p style="color:#000;font-size: 16px;line-height:24px;font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:normal;">

				<h2 style="font-size: 14px;font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Arial,sans-serif;">MyBarangay for Business Owners</h2>
				<p style="font-size: 13px;line-height:24px;font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Arial,sans-serif;"><p>Hi MyBarangay Staff,</p><br>
<p><?php echo $first_name . " " . $last_name; ?> with email address <?php echo $email; ?> is claiming ownership of <?php echo $business_name; ?> with address <?php echo $address; ?> and telephone <?php echo $telephone; ?></p>
<p>Contact this person to confirm ownership of the business and to solicit advertising as follows: </p>

<p>Benefits of a business owner:</p> <br>

<p>- Increase presence in MyBarangay with a webpage dedicated to your business</p>
<p>- Get involved with the community by replying to the public in real time</p>
<p>- Targeted advertising of your business to active searches in MyBarangay</p>
<p>- Track your advertising impact with business analytics</p>

<br>
<p>Annual Subscription plans:</p> <br>

<p>- <b>Basic</b> - $29.99+ GST per month, first 3 months free Includes all the above benefits</p>
<p>- <b>Enhanced</b> - $39.99 + GST per month, first 3 months free. Includes all the above Basic subscription benefits plus website banner ad in inner page sidebars (300px X 100px) and mobile banner ad (300px X 100px)</p>
<p>- <b>Premium</b> - $99.99 + GST per month, first 3 months free. Includes all the above Enhanced subscription benefits plus website leaderboard ad in homepage (720px X 150px)</p>

<br>

If confirmed, please notify by email Jopper Bardilas at jopper_jan@hawks-fan.jp to activate ownership of the business and on the subscription plan.

Thanks.

<br>


		</td>
	</tr>
</tbody>
