<tbody>
	<tr>
		<td style="padding:40px 0  0 0;">
<br>
<img style="width: 240px; margin-top: -30px;" src="http://mybarangay.cloudapp.net/themes/customize/img/logo1.png"/>
			<p style="color:#000;font-size: 16px;line-height:24px;font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:normal;">

				<h2 style="font-size: 14px;font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Arial,sans-serif;">MyBarangay for Business Owners</h2>
				<p style="font-size: 13px;line-height:24px;font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Arial,sans-serif;"><p>Dear <?php echo $fullName . ","; ?></p>

					<?php echo '<p>' . $emailContent . '</p>'; ?>
<br>

					-MyBarangay Team

				<br>
				<br>
				Isang mundo. Isang wika. Isang barangay. 
				<br>
			</p>
		</td>
	</tr>
</tbody>
