<tbody>
	<tr>
		<td style="padding:40px 0  0 0;">
			<p style="color:#000;font-size: 16px;line-height:24px;font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:normal;">

				<h2 style="font-size: 14px;font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Arial,sans-serif;">Reset Password</h2>
				<p style="font-size: 13px;line-height:24px;font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Arial,sans-serif;">To initiate the password reset process for your MyBarangay account, click the button below.

				<br>
				<br>
				<a style="background:#C91F37;color:#fff;padding:10px" href="http://mybarangay.com/<?php echo $resetUrl; ?>">Reset</a>

				<br>
				<br>
				Sincerely,<br>
				MyBarangay Team<br><br>
				Isang mundo. Isang wika. Isang barangay.
				<br>
			</p>
		</td>
	</tr>
</tbody>
