


<h1>Ticket Order</h1>

<h2>Event: <span style="color:#C13627"><?php echo strtoupper($eventname); ?></span></h2>
<table class="table" cellpadding="0" width="50%" style="border:1px solid #c4c4c4">
    <tr>
        <th colspan="2" style="background:#f4f4f4;height:30px;">DETAILS</th>
    </tr>
    <tr>
        <td style="padding:10px 15px;">NAME</td>
        <td style="padding:10px 15px;"><?php echo $fullname; ?></td>
    </tr>
    <tr>
        <td style="padding:10px 15px;">CONTACT</td>
        <td style="padding:10px 15px;"><?php echo $contact; ?></td>
    </tr>
    <tr>
        <td style="padding:10px 15px;">EMAIL</td>
        <td style="padding:10px 15px;"><?php echo $email; ?></td>
    </tr>
</table>
<br>
<br>


<table class="table" cellpadding="0" width="100%" style="border:1px solid #c4c4c4">
    <thead>
        <tr style="background:#f4f4f4;">
            <th style="padding:10px 15px;">Ticket Type</th>
            <th style="padding:10px 15px;">Quantity</th>
            <th style="padding:10px 15px;">Price</th>
        </tr>
    </thead>
    <tbody>
        <?php
        if(!empty($ticket_id)){
            foreach ($ticket_id as $ticket) {
                $request = EventEmailRequests::findFirst($ticket);
                if($request){
                    $eventticket = EventTickets::findFirst($request->event_ticket_id);
                ?>
                <tr style="height:50px;">
                    <td style="text-align:center;border:1px solid #c4c4c4">
                    <?php  if($eventticket){ echo $eventticket->name; }else{ echo 'Ops went something sorry - event name can\'t identify'; } ?>
                     </td>
                    <td style="text-align:center;border:1px solid #c4c4c4"><?php echo $request->ticket_request; ?></td>
                    <td style="text-align:center;border:1px solid #c4c4c4"><?php  if($eventticket){ echo $eventticket->price; }else{ echo 'Ops went something sorry - event price can\'t identify'; } ?></td>
                </tr>
        <?php
                }
            }
        }
        ?>
    </tbody>
</table>

