
      <!-- ******************* start Whatsup *********************** -->
        <div class="col-md-12 " style="padding:0px;margin:10px 0px 0px 0px">
           <div class="panel panel-default"><!-- start panel Events -->


            <div class="panel-heading" >
              <h4 style="padding:0px 5px;margin:0px;"><i class="fa fa-list-alt"></i> Featured Biz </h4>
            </div>

            <div class="panel-body"><!-- panel body -->

                <?php
                    $adcamp = ImageAds::find([
                        'conditions' => 'type = :type:' ,
                        'bind' => array('type' => 1),
                        'limit' => 3
                    ]);

                    if($adcamp){
                        foreach ($adcamp as $ads) { ?>
                        <a href="<?php echo $this->url->getBaseUri().'business/view2/'.$ads->business_id; ?>" >
                        <?php echo Phalcon\Tag::image([ $ads->file_path.$ads->file_name, 'class' => 'img-responsive', 'style' => 'height:100px;margin-bottom:5px;border:1px solid #ccc;width:100%']); ?>
                        </a>
                    <?php }
                    }

                    $count = count($adcamp);
                    if($count == 1){
                    ?>

                    <a href="https://www.mybarangay.com/index/knowl_center#!/service" ><div class="" style="background:#db0201;padding:30px 10px;font-weight:bold;text-align:center;margin-bottom:5px;height:100px;color:#fff;">
                    <span class="" >Advertise in MyBarangay for as low as 32 cents per day!</span>
                    </div></a>

                    <a href="https://www.mybarangay.com/index/knowl_center#!/service"><div class="" style="background:#4DA9C0;padding:0px 10px;font-weight:bold;text-align:center;line-height:100px;margin-bottom:5px;height:100px;color:#fff">
                    <span class="">Place your ad here</span>
                    </div></a>

                    <?php
                    }elseif($count == 2){ ?>
                        <a href="https://www.mybarangay.com/index/knowl_center#!/service" ><div class="" style="background:#db0201;padding:30px 10px;font-weight:bold;text-align:center;margin-bottom:5px;height:100px;color:#fff;">
                        <span class="" >Advertise in MyBarangay for as low as 32 cents per day!</span>
                        </div></a>
                    <?php
                    }else{ }  ?>

            </div>
          </div><!-- end panel events -->
        </div>
      <!-- ******************* end Whatsup *********************** -->


