
<style type="text/css">
/* end message box */
.object-fit_cover {
  -o-object-fit: cover;
     object-fit: cover;
}
</style>
      

    <div class="panel panel-default">
        <div class="panel-body profile ">
            <div class="profile-image">
                   <ul>
                        <li class=" dropdown">
                            <?php if($seschecker){ ?> 
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> 
                            <?php } ?>
                            <?php
                                $primaryPix =  MemberPhotos::findFirst([
                                        'conditions' => 'member_id = :id: AND primary_pic = :type:',
                                        'bind' => array('id' => $ids, 'type' => 'Yes'),
                                        'order' => 'id desc'
                                ]);
                                if ($primaryPix) {
                                    $profilePic = $this->url->getBaseUri() . $primaryPix->file_path . $primaryPix->filename;
                                    echo '<img src="/img/userFiles/1/gallery/e7e31baa71150814093747YES.png">';
                                }else{
                                    echo Phalcon\Tag::image(array('/img/profilepic.jpg', 'alt' => 'Profile')); 
                                }    
                            ?>
                            <?php if($seschecker){ ?> 
                            </a>
                             <?php } ?>
                            <ul style="min-width:90px;margin:-40px 0px 0px 20px;" class="dropdown-menu" >
                                <li >
                                    <a href="<?php echo $this->url->getBaseUri().'member/update_photo/'.$ids; ?>">
                                        <i class="fa fa-edit"></i>
                                        Edit
                                    </a>
                                </li>
                            </ul>
                           
                        </li>
                    </ul>


            </div>
            
            <?php
                $name = '';
                $user = Members::findFirst('id = "'.$ids.'"');
                if($user){
                  $name = $user->first_name;
                }
                
            ?>
            <div class="profile-data">
                <div class="profile-data-name"><?=$name?></div>
            </div>
    
        </div>


        <div class="panel-body list-group" style="margin-bottom:50px">

            <a href="<?php echo $this->url->getBaseUri() . 'member/profileu/'.$ids; ?>" class="list-group-item"><span class="fa fa-user"></span> Profile</a>
            <a href="<?php echo $this->url->getBaseUri() . 'biz/pageu/'.$ids; ?>" class="list-group-item"><span class="fa fa-home"></span> Business</a>

            <a href="<?php echo $this->url->getBaseUri() . 'biz/manage_adu/'.$ids; ?>" class="list-group-item"><span class="fa fa-star"></span>     Manage my Ad</a>

            <a href="<?php echo $this->url->getBaseUri() . 'biz/paypal/'.$ids; ?>" class="list-group-item"><span class="fa fa-star"></span>  Plan</a>
            <a href="<?php echo $this->url->getBaseUri() . 'biz/statistic/'.$ids; ?>" class="list-group-item"><span class="fa fa-star"></span>  Statistics</a>

            <?php 
            if(isset($userSession)){
                if($userSession['id'] == $ids){
                    echo '<a href="'.$this->url->getBaseUri() . 'biz/setting/'.$ids.'" class="list-group-item"><span class="fa fa-cog"></span> Settings</a>';
                    //echo '<a href="#" class="list-group-item"><span class="fa fa-bar-chart-o"></span> Activity</a>';
                }
            }
            ?>

        </div>           




    </div>
