<?php echo $this->tag->stylesheetLink('themes3/businessTemplate/Headstyle.css'); ?>
<div id="navigation-bar">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand"  href="<?php echo $this->url->getBaseUri(); ?>">
            <?php echo Phalcon\Tag::image(array("themes3/img/logo/logo1.png",'alt' => 'Hi KBG','class' =>'img-responsive logo1', )); ?>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <?php
                $nav1 = '';
                $nav2 = '';
                $nav3 = '';
                $nav4 = '';       
                $nav5 = '';
                    if(isset($navact)){
                         switch ($navact) {
                             case 'profile':
                                 $nav1 = 'active';
                                 break;
                            case 'business':
                                 $nav2 = 'active';
                                 break;
                            case 'subscript':
                                 $nav5 = 'active';
                                 break;
                            case 'ads':
                                 $nav3 = 'active';
                                 break;
                            case 'statistic':
                                 $nav4 = 'active';
                                 break;
                         }
                    }
                ?>
                <li class="<?php echo $nav1; ?>" ><a href="<?php echo $this->url->getBaseUri().'biz/profile/'.$userSession['id']; ?>">My Profile</a></li> 
                <li class="<?php echo $nav2; ?>"><a href="<?php echo $this->url->getBaseUri().'biz/pageu/'.$userSession['id']; ?>">My Business</a></li>

<!--                 <li class="<?php //echo $nav2; ?>"><a href="<?php //echo $this->url->getBaseUri().'biz/subscript/'.$userSession['id']; ?>">My Subscription</a></li> -->




                <li class="<?php echo $nav3; ?>"><a href="<?php echo $this->url->getBaseUri().'biz/manage_adu/'.$userSession['id']; ?>">My AD</a></li>
                <li class="<?php echo $nav4; ?>"><a href="<?php echo $this->url->getBaseUri().'biz/statistic/'.$userSession['id']; ?>">My Statistics</a></li>

                <!-- <li><a href="#">My Subscription</a></li> -->

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account 
                        
                    <?php
                    $profilePic = 'https://placehold.it/25x25&text=NO+PROFILE+PIC';
                        if( !empty($userSession) ) { 
                        $primaryPix = MemberPhotos::findFirst('member_id = "'.$userSession['id'].'" and primary_pic="Yes"');
                        if ($primaryPix) {
                            $profilePic = 'https://mybarangay.com'.$this->url->getBaseUri() . $primaryPix->file_path . $primaryPix->filename;
                        }
                    }
                    ?>
                        <img class="profile-img-circle" style="width:25px" src="<?php echo $profilePic; ?>">
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Profile</a></li>
                        <li><a href="<?php echo $this->url->getBaseUri().'biz/logout'; ?>">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</div>