
<?php
      echo $this->tag->stylesheetLink('themes3/themes/bxslider/bxslider.css'); 

?>

<style>
    
.slide-pane {
    background:#344A5E;
    color:#FFF;
}
.text-pane {
    background:#344A5E;
    color:#FFF;
    padding:20px 0 0 20px !important;
}
h1 {
    font-size:22px;
    color: #2ecc71;
    font-weight: bold
}
p {
    font-size:13px;
}

</style>
asdasdas
<ul class="bxslider" style="width:100%;margin-top:90px;position:relative;border:1px solid #fe7">
  <li><img src="http://placehold.it/850x250/5E7074/FFFFFF&text=Slide-One" /></li>
  <li><img src="http://placehold.it/850x250/5E7074/FFFFFF&text=Slide-One" /></li>
  <li><img src="http://placehold.it/850x250/5E7074/FFFFFF&text=Slide-One" /></li>
  <li><img src="http://placehold.it/850x250/5E7074/FFFFFF&text=Slide-One" /></li>
</ul>

<?php
      echo $this->tag->javascriptInclude('themes3/themes/bxslider/jquery.bxslider.js'); 
?>
<script type="text/javascript">
    $(document).ready(function(){
          $('.bxslider').bxSlider({
 slideWidth: 300


          });
    });
</script>


<!-- 

<div class="bxslider" style="width:100%;margin-top: 80px;">
    <div class="row collapse slide-pane" style="padding:20px">
        <div class="small-6 medium-6 large-6 columns">  
            <img src="http://placehold.it/350x250/5E7074/FFFFFF&text=Slide-One" />
        </div>
        <div class="small-6 medium-6 large-6 columns text-pane">
        <h1>Are you ready for the truth?</h1>
            <p>And I will strike down upon thee with great vengeance and furious anger those who would attempt to poison and destroy My brothers. And you will know My name is the Lord when I lay My vengeance upon thee.</p>
        </div>
    </div>
    <div class="row collapse slide-pane" style="padding:20px">
        <div class="small-6 medium-6 large-6 columns">
            <img src="http://placehold.it/350x250/5E7074/FFFFFF&text=Slide-Two" />
        </div>
        <div class="small-6 medium-6 large-6 columns text-pane">
        <h1>Are you ready for the truth? asd</h1>
            <p>And I will strike down upon thee with great vengeance and furious anger those who would attempt to poison and destroy My brothers. And you will know My name is the Lord when I lay My vengeance upon thee.</p>
        </div>
    </div>
    <div class="row collapse slide-pane" style="padding:20px">
        <div class="small-6 medium-6 large-6 columns">
            <img src="http://placehold.it/350x250/5E7074/FFFFFF&text=Slide-Three" />
        </div>
        <div class="small-6 medium-6 large-6 columns text-pane">
            <h1>Are you ready for the truth?</h1>
            <p>And I will strike down upon thee with great vengeance and furious anger those who would attempt to poison and destroy My brothers. And you will know My name is the Lord when I lay My vengeance upon thee.</p>
        </div>
    </div>
</div> -->
