



<!--           <ul class="nav nav-stacked">
                <li class="nav-header"> <a href="#" data-toggle="collapse" data-target="#userMenu">Settings <i class="glyphicon glyphicon-chevron-down"></i></a>
                    <ul class="nav nav-stacked collapse in" id="userMenu">
                        <li class="active"> <a href="#"><i class="glyphicon glyphicon-home"></i> Home</a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-envelope"></i> Messages <span class="badge badge-info">4</span></a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-cog"></i> Options</a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-comment"></i> Shoutbox</a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-user"></i> Staff List</a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-flag"></i> Transactions</a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-exclamation-sign"></i> Rules</a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-off"></i> Logout</a></li>
                    </ul>
                </li>
                <li class="nav-header"> <a href="#" data-toggle="collapse" data-target="#menu2"> Reports <i class="glyphicon glyphicon-chevron-right"></i></a>

                    <ul class="nav nav-stacked collapse" id="menu2">
                        <li><a href="#">Information &amp; Stats</a>
                        </li>
                        <li><a href="#">Views</a>
                        </li>
                        <li><a href="#">Requests</a>
                        </li>
                        <li><a href="#">Timetable</a>
                        </li>
                        <li><a href="#">Alerts</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-header">
                    <a href="#" data-toggle="collapse" data-target="#menu3"> Social Media <i class="glyphicon glyphicon-chevron-right"></i></a>
                    <ul class="nav nav-stacked collapse" id="menu3">
                        <li><a href=""><i class="glyphicon glyphicon-circle"></i> Facebook</a></li>
                        <li><a href=""><i class="glyphicon glyphicon-circle"></i> Twitter</a></li>
                    </ul>
                </li>
            </ul> -->


<div class="" style="text-align:center;padding-top:20px" >
<strong><i class="glyphicon glyphicon-link"></i> CLASSIFIEDS</strong>
</div>
<hr>


<style>

#navb li ul li  {
	
position: relative;
display: block;
padding:0px 15px ;

}
#navb li ul li a  {
	

padding-left:5px;
}
#navb li ul li a:hover  {
	
text-decoration: underline;

}



</style>
<ul class="nav nav-pills nav-stacked" id="navb" style="">
    <li class="nav-header"></li>
    <li><a href="<?=$this->url->getBaseUri()?>car_and_truck/index"><strong><i class="fa fa-car"></i> Car and Trucks</strong></a>

		<ul >
			<li><a href="<?=$this->url->getBaseUri()?>car_and_truck/new"><i class="fa fa-plus-square"></i> add</a></li>
		</ul>

    </li>
    <li><a href="<?=$this->url->getBaseUri()?>job/index"><strong><i class="glyphicon glyphicon-briefcase"></i> Jobs </strong></a>

		<ul >
			<li><a href="<?=$this->url->getBaseUri()?>job/new"><i class="fa fa-plus-square"></i> add</a></li>
		</ul>

    </li>
    <li><a href="<?=$this->url->getBaseUri()?>real_estate/index"><strong><i class="fa fa-building"></i> Real Estate</strong></a>

		<ul >
			<li><a href="<?=$this->url->getBaseUri()?>real_estate/new"><i class="fa fa-plus-square"></i> add</a></li>
		</ul>

    </li>
    <li><a href="<?=$this->url->getBaseUri()?>thing/index"><strong><i class="glyphicon glyphicon-list-alt"></i> Thing</strong></a>
		<ul >
			<li><a href="<?=$this->url->getBaseUri()?>thing/new"><i class="fa fa-plus-square"></i> add</a></li>
		</ul>


    </li>
</ul>
<hr>

<div class="" style="text-align:center" >
<a href="<?=$this->url->getBaseUri()?>car_and_truck/list" >
<strong><i class="fa fa-cog"></i> Classifieds</strong></a>
</div>
<hr>