<header class="navbar navbar-default navbar-fixed-top" role="banner"  id="main-header"> <!-- start navbar header -->
  <div class="container" > <!-- start container header -->
    <div class="row"> <!-- start row header -->
  

      <!-- start logo --> 
      <div class="col-md-4 col-sm-5 col-xs-12  " style="width:300px;text-align:center;"> 
        <div class="navbar-brand">
        <a href="<?php echo $this->url->getBaseUri(); ?>">
        <?php
        echo Phalcon\Tag::image(array("themes/customize/img/logo1.png",'alt' => 'Logo','class' =>'img-responsive img-barangay',
          'style' => 'cursor:pointer'));
        ?>
        </a>

        </div>
      </div> <!-- start logo -->

     <div class="col-md-2 col-sm-3 text-center hidden-sm hidden-xs login-mesg pull-right" style="padding-top:10px;"> 
           
            
                  <p style="font-weight:bold;padding:0px;margin:0px;">Tuloy po kayo</p>
                  <!--<button  class="btn btn-primary btn-sm" data-toggle="modal" data-target="#login-modal">
                    Signup
                  </button>
                  <button  class="btn btn-primary btn-sm" data-toggle="modal" data-target="#register-modal">
                    Login
                  </button>-->  
           
    </div>  


    </div>  <!-- end row header -->
  </div> <!-- end container header -->
</header> <!-- end navbar header -->

<!-- start cd-lateral-nav-->
<nav id="cd-lateral-nav" >

  <!-- start cd-navigation -->
  <ul class="cd-navigation">

    <!-- item home -->
    <li class="item-has-children">
      <a href="#0">Home</a>
    </li> 

    <!-- item Write a review -->
    <li class="item-has-children">
      <a href="#0">Write a review</a>
    </li>

    <!-- item Events -->
    <li class="item-has-children">
      <a href="#0">Events</a>
    </li>

    <!-- item Classifieds -->
    <li class="item-has-children">
      <a href="#0">Classifieds</a>
      <ul class="sub-menu">
        <li><a href="#0">London</a></li>
        <li><a href="#0">New York</a></li>
        <li><a href="#0">Milan</a></li>
        <li><a href="#0">Paris</a></li>
      </ul>
    </li>

  </ul> <!-- end cd-navigation -->

  <ul class="cd-navigation cd-single-item-wrapper">
    <li><a href="#0">Tour</a></li>
    <li><a href="#0">Login</a></li>
    <li><a href="#0">Register</a></li>
    <li><a href="#0">Pricing</a></li>
    <li><a href="#0">Support</a></li>
  </ul> <!-- cd-single-item-wrapper -->


  <ul class="cd-navigation cd-single-item-wrapper">
    <li><a class="current" href="#0">Journal</a></li>
    <li><a href="#0">FAQ</a></li>
    <li><a href="#0">Terms &amp; Conditions</a></li>
    <li><a href="#0">Careers</a></li>
    <li><a href="#0">Students</a></li>
  </ul> <!-- cd-single-item-wrapper -->

  <!--     <div class="cd-navigation socials">
  <a class="cd-twitter cd-img-replace" href="#0">Twitter</a>
  <a class="cd-github cd-img-replace" href="#0">Git Hub</a>
  <a class="cd-facebook cd-img-replace" href="#0">Facebook</a>
  <a class="cd-google cd-img-replace" href="#0">Google Plus</a>
  </div> --> <!-- socials -->
</nav> <!-- end cd-lateral-nav-->


<!-- ************************* start Login Modal **************************** -->

<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header login_modal_header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel" style="color:#fff;padding-top:0px;margin-bottom:0px">Signup for MyBarangay</h4>
          </div>
          <div class="modal-body login-modal">
            <p>
            MyBarangay for Business

           </p>
            <br/>
            <div class="clearfix"></div>
            <div id='social-icons-conatainer'>
              <div class='modal-body-left'>

             <?php echo Phalcon\Tag::form(array("biz/signup", "method" => "post", "id" => "signUpForm")); ?>
                  <fieldset>
                  <div class="form-group">
                    <input name="first_name" type="text" class="form-control" placeholder="First Name">
                  </div>
                  <div class="form-group">
                    
                    <input name="last_name" type="text" class="form-control" placeholder="Last Name">
                  </div>
                  <div class="form-group">
                    <input name="email" type="email" class="form-control" id="inputEmail" placeholder="Email">
                  </div>
                  
                  <div class="form-group">
                    <input name="password" type="password" class="form-control" id="inputPassword" placeholder="Password">
                  </div>
                  <div class="form-group">
                    <input name="confirm_password" type="password" class="form-control" id="inputConfirmPassword" placeholder="Confirm Password">
                  </div>
                  <!--<div class="checkbox">
                    <label>
                    <input type="checkbox"> I agree to the terms
                    </label>
                  </div>-->
                  <span>already have a business owner account? </span>
    <?php echo Phalcon\Tag::linkTo(array('biz/login', 'Login')); ?>
                  <div class="form-group">
                    <div class="col-lg-12 text-center">
                  <button type="submit" class="btn btn-sm btn-primary">Signup</button>
                    <button type="button" class="btn btn-sm btn-primary"  data-dismiss="modal">Cancel</button>
  
                    </div>
                  </div>
                  </fieldset>
                </form>
                
              </div>
            
              <div class='modal-body-right'>
                <div class="modal-social-icons">
                  <a href='#' class="btn facebook"> <i class="fa fa-facebook modal-icons"></i> Sign In with Facebook </a>
                  <a href='#' class="btn twitter"> <i class="fa fa-twitter modal-icons"></i> Sign In with Twitter </a>
                  <a href='#' class="btn google"> <i class="fa fa-google-plus modal-icons"></i> Sign In with Google </a>
                  <a href='#' class="btn linkedin"> <i class="fa fa-linkedin modal-icons"></i> Sign In with Linkedin </a>
                </div> 
              </div>  
              <div id='center-line'> OR </div>
            </div>                                                        
            <div class="clearfix"></div>
            
          </div>
          <div class="clearfix"></div>
          <div class="modal-footer login_modal_footer">
          </div>
      </div>
    </div>
</div>

<!-- ************************* end Login Modal **************************** -->
<!-- ************************* start Register ****************************** -->

<div class="modal fade" id="register-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header login_modal_header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel" style="color:#fff;padding-top:0px;margin-bottom:0px">Login for MyBarangay Business</h4>
          </div>
          <div class="modal-body login-modal">
            <p>
            login

           </p>
            <br/>
            <div class="clearfix"></div>
            <div id='social-icons-conatainer'>
              <div class='modal-body-left'>


            <?php echo Phalcon\Tag::form(array("member/signup", "method" => "post", "id" => "signUpForm")); ?>
                  <fieldset>
                  <div class="form-group">
                    <input name="first_name" type="text" class="form-control" placeholder="First Name">
                  </div>
                  <div class="form-group">
                    
                    <input name="last_name" type="text" class="form-control" placeholder="Last Name">
                  </div>
                  <div class="form-group">
                    <input name="email" type="email" class="form-control" id="inputEmail" placeholder="Email">
                  </div>
                  
                  <div class="form-group">
                    <input name="password" type="password" class="form-control" id="inputPassword" placeholder="Password">
                  </div>
                  <div class="form-group">
                    <input name="confirm_password" type="password" class="form-control" id="inputConfirmPassword" placeholder="Confirm Password">
                  </div>
                  <div class="form-group">
                  <div class="checkbox">
                    <label>
                    <input type="checkbox"> I agree to the terms
                    </label>
                  </div>     
                  </div>

                  <div class="form-group">
                    <div class="col-lg-12 text-center">
                    <button type="button" class="btn btn-danger"  data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                  </div>

                  </fieldset>
                </form>
              </div>
            
              <div class='modal-body-right'>
                <div class="modal-social-icons">
                  <a href='#' class="btn facebook"> <i class="fa fa-facebook modal-icons"></i> Sign In with Facebook </a>
                  <a href='#' class="btn twitter"> <i class="fa fa-twitter modal-icons"></i> Sign In with Twitter </a>
                    <span id="signinButton">
                        <span
                        class="g-signin btn google btn-block"
                        data-callback="googleAuth"
                        data-redirecturi="postmessage"
                        data-clientid="155579594624-3c5g7n9sf7baegg498ol4a5j48v7gojf.apps.googleusercontent.com"
                        data-cookiepolicy="http://mybarangay.cloudapp.net"
                        data-scope="profile email">
                          <i class="fa fa-google-plus-square fa-lg"></i>  &nbsp;<span id="GText">Sign up with GOOGLE</span>
                        </span>
                    </span>
                  <a href='#' class="btn linkedin"> <i class="fa fa-linkedin modal-icons"></i> Sign In with Linkedin </a>
                </div> 
              </div>  
              <div id='center-line'> OR </div>
            </div>                                                        
            <div class="clearfix"></div>
          </div>
          <div class="clearfix"></div>
          <div class="modal-footer login_modal_footer">
          </div>
      </div>
    </div>
</div>

<!-- ************************* end Register ****************************** -->
    <?php $this->partial("partials/responsivemenu") ?>
    <?php $this->partial("partials/modal") ?>
