

<!-- ************************* start Login Modal **************************** -->

<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header login_modal_header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel" style="color:#fff;padding-top:0px;margin-bottom:0px">Login for MyBarangay</h4>
          </div>
          <div class="modal-body login-modal">
            <p>
            Come join our vision of a global Filipino community that shares, 
            supports and empowers its members.

           </p>
            <br/>
            <div class="clearfix"></div>
            <div id='social-icons-conatainer'>
              <div class='modal-body-left'>

             <?php echo Phalcon\Tag::form(array("member/login", "method" => "post", "id" => "loginForm")); ?>
                  <fieldset>
                  <div class="form-group">
                    <input name="email" type="email" class="form-control" id="inputEmail" placeholder="Email">
                  </div>
                  
                  <div class="form-group">
                    <input name="password" type="password" class="form-control" id="inputPassword" placeholder="Password">
                  </div>
                  <div class="form-group">
                    <div class="col-lg-12 text-center">
                      <small><a href="javascript:void(0);" id="forgotPassword" class="text-primary">Forgot password</a></small>
                      <br><br>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-lg-12 text-center">
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                      <button type="Submit" class="btn btn-primary">Submit</button>
                    </div>
                  </div>

                  </fieldset>
                </form>
                
              </div>
            
              <div class='modal-body-right'>
                <div class="modal-social-icons">
                  <a href='#' class="btn facebook"> <i class="fa fa-facebook modal-icons"></i> Sign In with Facebook </a>
                  <a href='#' class="btn twitter"> <i class="fa fa-twitter modal-icons"></i> Sign In with Twitter </a>
                  <a href='#' class="btn google"> <i class="fa fa-google-plus modal-icons"></i> Sign In with Google </a>
                  <a href='#' class="btn linkedin"> <i class="fa fa-linkedin modal-icons"></i> Sign In with Linkedin </a>
                </div> 
              </div>  
              <div id='center-line'> OR </div>
            </div>                                                        
            <div class="clearfix"></div>
            
          </div>
          <div class="clearfix"></div>
          <div class="modal-footer login_modal_footer">
          </div>
      </div>
    </div>
</div>


<!-- ************************* end Login Modal **************************** -->


<!-- ************************* start Register ****************************** -->

<div class="modal fade" id="register-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header login_modal_header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel" style="color:#fff;padding-top:0px;margin-bottom:0px">Register for MyBarangay</h4>
          </div>
          <div class="modal-body login-modal">
            <p>
            Come join our vision of a global Filipino community that shares,
             supports and empowers its members.

           </p>
            <br/>
            <div class="clearfix"></div>
            <div id='social-icons-conatainer'>
              <div class='modal-body-left'>


            <?php echo Phalcon\Tag::form(array("member/signup", "method" => "post", "id" => "signUpForm")); ?>
                  <fieldset>
                  <div class="form-group">
                    <input name="first_name" type="text" class="form-control" placeholder="First Name">
                  </div>
                  <div class="form-group">
                    
                    <input name="last_name" type="text" class="form-control" placeholder="Last Name">
                  </div>
                  <div class="form-group">
                    <input name="email" type="email" class="form-control" id="inputEmail" placeholder="Email">
                  </div>
                  
                  <div class="form-group">
                    <input name="password" type="password" class="form-control" id="inputPassword" placeholder="Password">
                  </div>
                  <div class="form-group">
                    <input name="confirm_password" type="password" class="form-control" id="inputConfirmPassword" placeholder="Confirm Password">
                  </div>
                  <div class="form-group">
                  <div class="checkbox">
                    <label>
                    <input type="checkbox"> I agree to the terms
                    </label>
                  </div>     
                  </div>

                  <div class="form-group">
                    <div class="col-lg-12 text-center">
                    <button type="button" class="btn btn-danger"  data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                  </div>

                  </fieldset>
                </form>
              </div>
            
              <div class='modal-body-right'>
                <div class="modal-social-icons">
                  <a href='#' class="btn facebook"> <i class="fa fa-facebook modal-icons"></i> Sign In with Facebook </a>
                  <a href='#' class="btn twitter"> <i class="fa fa-twitter modal-icons"></i> Sign In with Twitter </a>
                    <span id="signinButton">
                        <span
                        class="g-signin btn google btn-block"
                        data-callback="googleAuth"
                        data-redirecturi="postmessage"
                        data-clientid="155579594624-3c5g7n9sf7baegg498ol4a5j48v7gojf.apps.googleusercontent.com"
                        data-cookiepolicy="http://mybarangay.cloudapp.net"
                        data-scope="profile email">
                          <i class="fa fa-google-plus-square fa-lg"></i>  &nbsp;<span id="GText">Sign up with GOOGLE</span>
                        </span>
                    </span>
                  <a href='#' class="btn linkedin"> <i class="fa fa-linkedin modal-icons"></i> Sign In with Linkedin </a>
                </div> 
              </div>  
              <div id='center-line'> OR </div>
            </div>                                                        
            <div class="clearfix"></div>
          </div>
          <div class="clearfix"></div>
          <div class="modal-footer login_modal_footer">
          </div>
      </div>
    </div>
</div>

<!-- ************************* end Register ****************************** -->
