<?php
// FORGOT PASSWORD
if ($this->session->has("forgotPassword")) {
     $msg = $this->session->get("forgotPassword");
     $this->session->remove("forgotPassword");  
  //    echo "<script>
  // $.notify({
  // // options
  // message: '".$msg."'
  //   },{
  // // settings
  //   type: 'danger',
  //   placement: {
  //     from: 'bottom',
  //     align: 'right'
  //   }
  // });
  // </script>";
     echo "<script>alert('".$msg."')</script>";
  unset($msg);
 }

// RESET PASSWORD
if ($this->session->has("resetPassword")) {
     $msg = $this->session->get("resetPassword");
     $this->session->remove("resetPassword"); 
  //    echo "<script>
  // $.notify({
  // // options
  // message: '".$msg."'
  //   },{
  // // settings
  //   type: 'danger',
  //   placement: {
  //     from: 'bottom',
  //     align: 'right'
  //   }
  // });
  // </script>";
     echo "<script>alert('".$msg."')</script>";
  unset($msg);
 }

// SIGNUP BUSINESS
// RESET PASSWORD
if ($this->session->has("signup-biz")) {
     $msg = $this->session->get("signup-biz");
     $this->session->remove("signup-biz"); 
  //    echo "<script>
  // $.notify({
  // // options
  // message: '".$msg."'
  //   },{
  // // settings
  //   type: 'danger',
  //   placement: {
  //     from: 'bottom',
  //     align: 'right'
  //   }
  // });
  // </script>";
     echo "<script>alert('".$msg."')</script>";
  unset($msg);
 }
?>
