
<header class="navbar navbar-default navbar-fixed-top" role="banner"  id="main-header"> <!-- start navbar header -->
  <div class="container" > <!-- start container header -->
    <div class="row"> <!-- start row header -->
  

      <!-- start logo --> 
      <div class="cont" style="width:100%; ">
  
        <a href="<?php echo $this->url->getBaseUri(); ?>">
        <?php
        echo Phalcon\Tag::image(array("themes/customize/img/logo1.png",'alt' => 'Logo','class' =>'img-responsive img-barangay',
          'style' => 'cursor:pointer;margin:0 auto; '));
        ?>
        </a>
      
</div>

      <!-- start menu toggle -->
<!--       <a id="cd-menu-trigger" class="hidden-md hidden-lg" href="#0">
        <span class="cd-menu-text">Menu</span><span class="cd-menu-icon"></span>
      </a>  -->
      <!-- end menu toggle -->


    </div>  <!-- end row header -->
  </div> <!-- end container header -->
</header> <!-- end navbar header -->
