<section id="sliderCarousel" > <!-- start sliderCarousel -->
   <div class="container-fluid" > <!-- start container-fluid [0] -->
      <div class="row"> <!-- start container-fluid row [0] -->

         <!-- start carousel slide -->
         <div id="templatemo-carousel" class="carousel slide" data-ride="carousel">

            <!-- start Indicators -->
            <ol class="carousel-indicators">
               <li data-target="#templatemo-carousel" data-slide-to="0" class="active"></li>
               <li data-target="#templatemo-carousel" data-slide-to="1"></li>
               <li data-target="#templatemo-carousel" data-slide-to="2"></li>
               <li data-target="#templatemo-carousel" data-slide-to="3"></li>
            </ol><!-- end Indicators -->

            <!-- start slider content -->
            <div class="carousel-inner">
               
           

           
               <?php

                  $queryIds = implode(',', $sliderChunk);
                  $ads = "SELECT * FROM ImageAds WHERE id  IN (".$queryIds.") ORDER BY FIELD(id,".$queryIds.")  ";
                  $adcampsx = $this->modelsManager->executeQuery($ads);

                  if($adcampsx){
                    $i = 0;
                    $act = '';
                     foreach ($adcampsx as $ads) {
                        if($i == 0){
                            $act = 'active';
                        }else{
                            $act = '';
                        }
                    ?>
                        <div class="item <?=$act?>" >
                           <div class="container">
                              <div class="carousel-caption" style="">
                                 <?php
                                    echo '<a href="'.$this->url->getBaseUri().'business/view2/'.$ads->business_id.'">';
                                    echo Phalcon\Tag::image(array($ads->file_path.$ads->file_name, 'alt' => 'Place your ad here'));
                                    echo '</a>';
                                 ?>
                              </div>
                           </div>
                        </div>
               <?php
               $i++;
                     }
                  }
               ?>


               <div class="item " >
                  <div class="container">
                     <div class="carousel-caption" style="">
                        <?php
                           echo '<a href="'.$this->url->getBaseUri().'index/knowl_center#!/service">';
                           echo Phalcon\Tag::image(array('img/ad/placeyourad.jpg','alt' => 'logo'));
                           echo '</a>';
                        ?>
                     </div>
                  </div>
               </div>
               <div class="item " >
                  <div class="container">
                     <div class="carousel-caption" style="">
                        <?php
                           echo '<a href="'.$this->url->getBaseUri().'review/search_business">';
                           echo Phalcon\Tag::image(array('img/ad/shareyourad.jpg','alt' => 'logo'));
                           echo '</a>';
                        ?>
                     </div>
                  </div>
               </div>
               <div class="item " >
                  <div class="container">
                     <div class="carousel-caption" style="">
                        <?php
                           echo '<a href="'.$this->url->getBaseUri().'index/knowl_center#!/service">';
                           echo Phalcon\Tag::image(array('img/ad/claimadd.jpg','alt' => 'logo'));
                           echo '</a>';
                        ?>
                     </div>
                  </div>
               </div>

            </div><!-- end slider content -->

             <!-- prev and next -->
             <a class="left carousel-control" href="#templatemo-carousel" data-slide="prev">
               <span class="glyphicon glyphicon-chevron-left"></span>
             </a>

             <a class="right carousel-control" href="#templatemo-carousel" data-slide="next">
               <span class="glyphicon glyphicon-chevron-right"></span>
             </a>

         </div> <!-- end carousel slide -->

      </div> <!-- start container-fluid row [0] -->
   </div> <!-- start container-fluid [0] -->
</section> <!-- start sliderCarousel -->
