<?php echo $this->tag->stylesheetLink("admin-cms/library/css/datatable.css"); ?>
<style type="text/css">
	body 
	  {
	    /*background-image: url('<?=$this->url->getBaseUri() . "images/worldmap_template.jpg"?>');*/
	    background-image: url('http://www.crazyhdwallpapers.com/wp-content/uploads/2015/04/web-Pattern-background.jpg');
	  }
	.item-page {
	    font-family: Arial,Helvetica,sans-serif;
	    font-size: 12px;
	    line-height: 15px;
	    color: #000;
	}

	table {
	    width: 660px !important;
	    border-collapse: collapse !important;
	}
</style>
<div class="" style="margin-top:120px;">
	<div class="container">
		<div class="row">
			<div class="availableLocations">
				<?php $this->partial('partials/remittance/availableLocations'); ?>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
	$('#table').DataTable();
</script>