	

<style type="text/css">
	
body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

		html{background-color:#F3F3F3;color:#585858;background-image:url(assets/images/image_15.png);background-repeat:repeat;background-attachment:fixed;}
		::-moz-selection{background:#111111;color:#F1F1F1;}
		::selection{background:#111111;color:#F1F1F1;}
		#documenter_sidebar #documenter_logo{background-image:url(assets/images/logo.png);}
		a{color:rgb(4,48,129);}
		table td { padding: 10px; }
		hr{border-top:1px solid #E5E5E5;border-bottom:1px solid #F9F9F9; margin-bottom: 40px;}
		#documenter_sidebar, #documenter_sidebar ol a{background-color:#e0e0e0;color:#F1F1F1;background-image:url(assets/images/image_17.gif);background-repeat:repeat-y;}
		#documenter_sidebar ol a{
			;-webkit-text-shadow:1px 1px 0px #fff;-moz-text-shadow:1px 1px 0px #fff;text-shadow:1px 1px 0px #fff;}
		#documenter_sidebar ol{border-top:1px solid #b1b1b1;}
		#documenter_sidebar ol a{border-top:1px solid #fff;border-bottom:1px solid #b1b1b1;color:#2e3192;}
		#documenter_sidebar ol a:hover{background:#2e3192;color:#F1F1F1;border-top:1px solid #2e3192;}
		#documenter_sidebar ol a.current{background:#2e3192;color:#F1F1F1;border-top:1px solid #b1b1b1;}
		#documenter_copyright{display:block !important;visibility:visible !important; color:rgb(4,48,129);}
		
		table { background: #fafafa; border-left: 1px solid #d5d5d5; border-right: 1px solid #d5d5d5; border-bottom: 1px solid #d5d5d5; }
		table th { background: #f5f5f5; font-weight: bold; padding: 10px; white-space: nowrap; } 


		
  #main-header{
/*    overflow: hidden;*/
  color: #333333 !important;
  border: 1px solid #cacaca;
  background-color: white;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, gainsboro));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, gainsboro 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, white 0%, gainsboro 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(top, white 0%, gainsboro 100%);
  /* IE10+ */
  background: -o-linear-gradient(top, white 0%, gainsboro 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, white 0%, gainsboro 100%);
  /* W3C */

  }
section p {
	text-align:justify
}

#company{
	height: 100%;
max-width:900px;
}


#team{
	margin-top:80px;
	height: 100%;
max-width:900px;
}




#partner{
	height: 100%;
max-width:900px;
}


#terms{
	height: 100%;
max-width:900px;
}







</style>



	<div id="documenter_sidebar">
    

       <a href="<?php echo $this->url->getBaseUri(); ?>">
        <?php
        echo Phalcon\Tag::image(array("themes/customize/img/logo1.png",'alt' => 'Logo','class' =>'img-responsive img-barangay' ,
          'style' => 'cursor:pointer', 'style' => 'width:100%'));
        ?>
        </a>


<h1 style="text-align:center;color:rgb(4,48,129);font-size:17px;margin-bottom:20px">Knowledge Center</h1>


		<ol id="documenter_nav">
			<li><a class="current" href="#service">Our Services </a></li>
			<li><a href="#faq">Frequently Asked Questions</a></li>
			<li><a href="#blog">Blog</a></li>
	
		</ol>

	<!-- 	<div class="">
			If you have any questions that are beyond the scope of this help file, 
            please feel free to email via my user page contact form here. Thanks so much!
		</div> -->
		<div id="documenter_copyright">Copyright MyBarangay 2015<br>
		</div>
	</div>


<div id="documenter_content">
    
        <section id="service" >
            <h1>Our Services </h1>

      

<p class="info" ><strong>
Own a business?</strong> MyBarangay has a lot in store for you.
</p>





<ul>
 <strong>Promote</strong> 
<li>Showcase your products and services to Filipinos anywhere in the world</li>
<li>Upload photos and add business information.</li>
<li>Be seen by your customers through targeted advertising solutions offered by MyBarangay.</li>
</ul>


<ul>
 <strong>Connect</strong> 
<li>Connect and engage with your customers through your own mini-webpage.</li>
<li>Respond to reviews about your business and inform your audience of updates and exclusive promos.</li>
<li>Follow MyBarangay users and their reviews. </li>
</ul>






    <ul><strong>MyBarangay for Business is designed to meet the various needs of your business. </strong>
      <ul>
          </br>
        <li><strong>Basic</strong></br>


A set of solutions designed to help you maximize the potential of your MyBarangay Business Page.

            <ul>
             
              <li>
Increase online presence on MyBarangay with your own webpage where you can upload photos, add business information and links to your website and social media accounts.
              </li>
              <li>
Build and get involved in your community by responding to reviews through private message or public comments in real-time.
              </li>
              <li>
Targeted advertising campaign of your business to active searches on MyBarangay
              </li>
              <li>
 <i style="text-decoration:line-through">Only $29.99 + GST per month </i>  Now Only $9.99 + GST per month - limited offer for 6 months.


              </li>
            </ul>
        </li>


        <li><strong>Enhanced</strong>

     </br>
MyBarangay offers you advanced business and advertising solutions to help drive more customers to your business.

            <ul>
              <li>
                Increase online presence on MyBarangay with your own webpage where you can upload photos, add business information and links to
              
             
your website and social media accounts.
              </li>
              <li>
Build and get involved in your community by responding to reviews through private message or public comments in real-time.
              </li>
              <li>
Targeted advertising campaign of your business to active searches on MyBarangay
              </li>
              <li>
Website banner ad on inner pages sidebar (230px X 100px)
              </li>
              <li>
Only $39.99 + GST per month 
              </li>
              <li>
First 3 months FREE
              </li>

            </ul>
        </li>


        <li><strong>Premium</strong>
        </br>
Get the best of the best with all of MyBarangay business and advertising solutions plus exclusive business page features and support.Increase online presence on MyBarangay with your own webpage where you can upload photos, add business information and links to your website and social media accounts.
</br>
            <ul>
              <li>
Increase online presence on MyBarangay with your own webpage where you can upload photos, add business information and links to your website and social media accounts.
              </li>
			<li>
Build and get involved in your community by responding to reviews through private message or public comments in real-time.
              </li>
				<li>
Targeted advertising campaign of your business to active searches on MyBarangay
              </li>

              <li>
Website banner ad on inner pages sidebar (230px X 100px)
              </li>

              <li>
Website leaderboard ad on homepage (720px X 150px)
              </li>

              <li>
Only $99.99 + GST per month 
              </li>

              <li>
First 3 months FREE
              </li>


            </ul>
        </li>


      </ul>
    </ul>









        </section>

        <section id="faq" style="">
            <h1>Frequently Asked Questions </h1>

        <ul>
          <li><p><strong>GENERAL</strong><p>

            <ul><p><strong>What is MyBarangay?</strong><p>
              <li>
MyBarangay is a virtual platform designed to connect Filipinos across the globe. It’s a place where Filipinos can find, review and share Filipino businesses in our local area. To know more about our Mission and Vision, kindly check our ABOUT US page.
              </li>


<p><strong>Is MyBarangay free?</strong><p>
              <li>
Signing up to MyBarangay is absolutely free. But for businesses that want to make the most out of their online visibility on MyBarangay, we offer effective business solutions that are designed to meet your various needs and preferences.
              </li>

<p><strong>How do I sign-up? </strong><p>
              <li>
All you need is an email address and you’re all set. To sign up, go to www.mybarangay.com/signup, add your email address, first and last name and password then click submit. Don’t forget to check the box next to “I agree to the terms and conditions.”
              </li>

            </ul>

          </li>
        </ul>



        </section>

        <section id="blog" style="">
            <h1>Blog</h1>

        <ul><p><strong>Welcome to MyBarangay</strong><p>
          <li>
Want to know the best tasting chicken barbeque? Looking for the most affordable accommodation when going on a holiday?  Look no further. We’ve got you covered!
          </li>
          <li>
Welcome to MyBarangay! We’ll take you on a journey that will inspire you to rediscover the beauty of the Filipino culture and the genuine hospitality and warmth of our people.
          </li>
          <li>
At MyBarangay, our goal is to to help Filipinos across the globe come together as one. To connect and share information, resources and support. Whether it be finding the best restaurants and hotels, or checking out the latest attractions and events,			
Join us as we take you all over the country and across the globe as we follow our hearts, share our thoughts and connect with our fellow Pinoys and truly feel at home.  From North America to Europe, to the Middle East and the Philippines, MyBarangay will bring you the best places, the coolest spots and the hottest promos just for you.
          </li>
          <li>
Isang mundo. Isang wika. Isang barangay.
          </li>

        </ul>

        </section>


</div>