<!-- <link rel="stylesheet" type="text/css" href="http://mybarangay.com/e4f/mybarangay.css"> -->
<style type="text/css">
body 
  {
    /*background-image: url('<?=$this->url->getBaseUri() . "images/worldmap_template.jpg"?>');*/
    background-image: url('https://mybarangay.com/remittance/wallpaper1.jpg');
  }

</style>
<div class="" style="margin-top:120px;">
<!--Login iFrame--> 

<!-- <iframe

src="https://exchange4free.com/index.php?

option=com_exchange4free&view=registerindividual&affiliate_code=mybarangay&affiliate_site=mybarangay.com&af

filiate_http=http&tmpl=iframe " width="1200px" height="1000px">

Your Browser does not support iFrames. Please <a href="https://exchange4free.com/index.php?

option=com_exchange4free&view=registerindividual&affiliate_code=mybarangay&affiliate_site=mybarangay.com&af

filiate_http=http&tmpl=iframe" target="_blank">Click Here</a> to view the site in a new window.</iframe> -->

<script type="text/javascript">
	// $(function(){
	// 	$('iframeID').contents().find('#username').attr("placeholder",‌​"hahaha"‌​);
	// });

</script>
<script type="text/javascript" src="https://exchange4free.com/components/com_exchange4free/JavaScript/token_identification.js"></script>
<div class="container">
	<div class="row boxiy">
		<div class="col-md-12">
			<?php echo Phalcon\Tag::linkTo("index/remitindex", "<button class='button'>Back to Index</button>");?>
			<br>
		</div>
		<div class="col-md-12" >
		<iframe src="https://exchange4free.com/system/index.php?option=com_exchange4free&amp;view=registercorporation&amp;tmpl=iframe&amp;affiliate_code=mybarangay&amp;affiliate_site=mybarangay.com&amp;affiliate_http=https&amp;parent_http=https&amp;parent_url" id="registerIframe" name="registerIframe" frameborder="0" height="1480px" width="100%"></iframe>
		</div>
	</div> 
</div>
<input type="hidden" id="redirected" value="0" />

<!--<a href="javascript: void 0;" onclick="window.open('https://exchange4free.com/CurrencyConverter.html','name','height=300,width=640,resizable=false,location=false,left=20,top=20,directories=false,scrollbars=0');">Currency Converter</a>--?
</div>