<?php echo $this->tag->stylesheetLink('themes3/css/list-type.css'); ?>
<?php echo $this->tag->javascriptInclude('themes3/themes/matchHeight/jquery.matchHeight.js'); ?>

<style>
	
.item-list .cornerRb {
 
box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
left: -4%;
overflow: hidden;
position: absolute;
top: -3%;
transform: rotate(-45deg);
width: 90px;
z-index: 2;
padding: 8px 0px 0px;
transition: all 0.3s ease 0s;


}
.item-list .cornerRb a {
  color: #fff;
  display: block;
  font-family: Roboto Condensed, Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  z-index: 3;
  background: transparent;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease 0s;
}
.item-list .cornerRb.featuredAds a {
  color: #fff;
}
.item-list .cornerRb.featuredAds {
    background: #FB8D17;
}

.item-list.make-grid .cornerRb {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  left: -14%;
  overflow: hidden;
  position: absolute;
  top: -2%;
  -ms-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  width: 100px;
  z-index: 2;
  padding:14px 0px 5px 0px;
  transition: all 0.3s ease 0s;
}
.item-list.make-grid .cornerRb a {
  color: #fff;
  display: block;
  font-family: Roboto Condensed, Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease 0s;
}
.item-list.make-grid  .cornerRb.featuredAds a {
  color: #fff;
}
.item-list.make-grid  .cornerRb.featuredAds {
    background: #FB8D17;
}



</style>
<script type="text/javascript">
	$(document).ready(function(){
		// apply matchHeight to each item container's items
		var byRow = $('body');
		$('.adds-wrapper').each(function() {
			$(this).children('.item-list').matchHeight({
				byRow: byRow
			});
		});

		// different list type
		$('.listahan').click(function(){
			var type = $(this).attr('id');
			$('.item-list').removeClass('make-compact make-grid').addClass(type);
				$('.adds-wrapper').each(function() {
				$(this).children('.item-list').matchHeight({
					byRow: byRow
				});
			});
		});
	});
</script>
<div class="body-wrapper" style="margin-top:110px;"> <!-- start body wrapper -->
	<div class="container" > <!-- start body wrapper container-->
		<div class="row" > <!-- start body wrapper row -->



			<div class="col-sm-12 col-md-3 col-sm-4 page-sidebar" style="z-index:1">
				<aside>
				<div class="inner-box">
						<?php echo Phalcon\Tag::form(array("index/search", "method" => "GET")); ?>
							<div class="categories-list  list-filter">
							<span class="list-title"><a href="#">Find More</a></span>
							<div class="form-group">
								<?php 
									$arrbody = ['1' => 'All', '2' => 'Business', '3' => 'Classifieds'];
									ZoidHelpers::staticDropDown('type', $arrbody, $type, NULL);
								?>
							</div>
							<div class="form-group">
								<input type="text" class="form-control" name="keyword" id="keyword" placeholder="Universal Search" value="<?=$keword?>" >
							</div>

							</div>

							<!--***** location -->
							<div class="locations-list  list-filter" style="margin-bottom:10px">
								<span class="list-title"><a href="#">Location</a></span>

								<div class="input_container" id="auto">
									<input type="text" id="autocity" value="<?=$city?>" class="city_list form-control" autocomplete="off" name="city" 
										placeholder="city" >
									<input type="hidden" id="autocitycode" value="<?=$city_code?>" name="city_code" value="" class="city_id">
									<ul id="autocitylistid" class="show_city"></ul>
								</div>
							</div>
							 
							<input type="submit" value="submit" name="btn_search" class="btn btn-primary btn-sm">
							<a href="<?php echo $this->url->getBaseUri().'index/search'; ?>" class="btn btn-primary btn-sm">reset</a>
						<?php  echo Phalcon\Tag::endForm(); ?>

						<div style="clear:both"></div>
						<style>
						.bux {background:#f4f4f4; border-left:1px solid #c3c3c3; border-right:1px solid #c3c3c3; border-top:1px solid #c3c3c3;
						border-radius:3px;margin-top: 5px;}
						</style>
						<!--***** location -->
						<div class="locations-list  list-filter" style="margin-bottom:10px">
							<span class="list-title"><h4 class="text-center" style="font-weight:bold">What else can you do?</h4></span>
							<div class="row">
			
								<div class="col-md-6" style="padding:5px" >
									<div class="bux">
										<p style="padding:3px;margin:0px">Could not find the business you're looking for?</p>
										<small style="padding:3px;"><b>Add a business now</b></small><br>
										<a href="<?=$this->url->getBaseUri()?>review/new_business" target="_blank" class="btn btn-xs  btn-block btn-primary restricted"><strong><i class="fa fa-list-alt"></i> Business</strong></a>
									</div>
									<div class="bux">
										<p style="padding:3px;margin:0px">Want to sell your car or truck ?</p>
										<small style="padding:3px;"><b>Post it now</b></small><br>
										<a href="<?=$this->url->getBaseUri()?>car_and_truck/new" target="_blank" class="btn btn-xs btn-block btn-primary restricted"><strong><i class="fa fa-car"></i> Automotive</strong></a>
									</div>

									<div class="bux">
									<p style="padding:3px;margin:0px">Do you want to ask or share something with your kabarangays?</p>
									<small style="padding:3px;"><b>Create your topic now</b></small><br>
									<a href="<?=$this->url->getBaseUri()?>forum/add" target="_blank" class="btn btn-xs btn-primary btn-block restricted"><strong><i class="fa fa-comments"></i> Whats's up ?</strong></a>
									</div>

								</div>
	

								<div class="col-md-6" style="padding:5px">
									<div class="bux">
										<p style="padding:3px;margin:0px">Are you looking for an expert or helper?</p>
										<small style="padding:3px;"><b>Post your job ad now</b></small><br>
										<a href="<?=$this->url->getBaseUri()?>job/new" target="_blank"  class="btn btn-xs btn-primary btn-block restricted"><strong><i class="glyphicon glyphicon-briefcase"></i> Jobs </strong></a>
									</div>
									<div class="bux">
										<p style="padding:3px;margin:0px">Are you selling your property?</p>
										<small style="padding:3px;"><b>Post your ad now</b></small><br>
										<a href="<?=$this->url->getBaseUri()?>real_estate/new" target="_blank" class="btn btn-xs btn-block btn-primary restricted"><strong><i class="fa fa-building"></i> Real Estate</strong></a>
									</div>

									<div class="bux">
										<p style="padding:3px;margin:0px">Are you selling something?</p>
										<small style="padding:3px;"><b>Post it now</b></small><br>
										<a href="<?=$this->url->getBaseUri()?>thing/new" target="_blank" class="btn btn-xs btn-primary btn-block restricted"><strong><i class="glyphicon glyphicon-list-alt"></i> Things</strong></a>
									</div>

								</div>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
				</aside>


				<div class="hidden-xs">
					<?php $this->partial("partials/ads"); ?>
					<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
						<ins class="adsbygoogle"
								 style="display:inline-block;width:255px;height:213px;"
								 data-ad-client="ca-pub-2827353860802948"
								 data-ad-slot="6306061710"></ins>
						<script>
						(adsbygoogle = window.adsbygoogle || []).push({});
						</script>
						<ins class="adsbygoogle"
								 style="display:inline-block;width:255px;height:213px;"
								 data-ad-client="ca-pub-2827353860802948"
								 data-ad-slot="6306061710"></ins>
						<script>
						(adsbygoogle = window.adsbygoogle || []).push({});
						</script>
			 	</div>

			</div>
			<!-- end of sidebar -->


<div class="col-sm-12 col-sm-8 col-md-9    boxiy" style="padding-top:20px;padding-bottom:20px"> <!-- start col-md-9 -->
	<div style="padding-bottom:10px">
		<button class="listahan" id="make-compact"><i class="fa fa-bars"></i> list</button>
		<button class="listahan" id=""><i class="fa fa-th-list"></i> preview</button>
		<button class="listahan" id="make-grid"><i class="fa fa-th"></i> grid</button>
	</div>

	<div class="adds-wrapper"><!-- start ads wrapper --> 

	
	<?php if($campaign){

	 foreach ($campaign as $camp) { ?>
			<div class="item-list ">
				<div class="cornerRb featuredAds">
					<a href="#"> AD</a>
				</div>
				<div class="col-sm-2 no-padding photobox">
					<div class="add-image custom-thumbnail" style=""> 
						<?php  
							$img = 'img/nophoto.jpg'; 
							$businessPrimaryPic = BusinessImages::findFirst(array('business_id="'.$camp->business_id.'" and primary_pic="Yes"'));
							if ($businessPrimaryPic) {
								$img = $businessPrimaryPic->file_path.$businessPrimaryPic->filename;
							} 
							echo '<a href="'.$this->url->getBaseUri().'business/view2/'.$camp->business_id.'">';
							echo Phalcon\Tag::image(array($img, 'class' => 'img-responsive ', 'style' => 'cursor:pointer'));
							echo '<a/>';
						?>
					</div>
				</div>

				<div class="col-sm-7 add-desc-box" >
					<div class="add-details">
						<h4 class="add-title" style="font-weight:bold" >
							<?php echo Phalcon\Tag::linkTo(array('business/view2/'.$camp->business_id, $camp->Business->name)); ?>
						</h4>
						<blockquote >
							<span class="info-row">
								<?php 
									$businessCategoryLists = BusinessCategoryLists::findFirst('business_id = "'.$camp->business_id.'" ');
									$bussCat = BusinessCategories::findFirst($businessCategoryLists->business_category_id);
									$catname = '';
									$catname .= '<small class="ellipsis2" ><i class="fa fa-asterisk"></i> ';
									$catname .= ($bussCat->main_title != '') ? $bussCat->main_title : '' ;
									$catname .= ($bussCat->title != '') ? ' <i class="fa fa-caret-right"></i> '.$bussCat->title : '' ;
									$catname .= ($bussCat->sub_title != '') ? ' <i class="fa fa-caret-right"></i> '.$bussCat->sub_title : '' ;
									$catname .= '</small>' ;
									echo $catname;
								?>
							</span> 
								<small class="info-row">
									<span class="fa fa-map-marker"> </span>
									<?php echo ' '.$camp->Business->city.", ".$camp->Business->CountryCodes->country_name; ?>
								</small>
								<span class="info-row">
									<?php
										$cont = strip_tags($camp->content);
										if (strlen($cont) > 93) {
											$stringCut = substr($cont, 0, 93);
											$cont = substr($stringCut, 0, strrpos($stringCut, ' ')).'...'; 
										}
										echo $cont;
									?>
								</span>
						</blockquote>
					</div>
				</div>



				<div class="col-sm-3 text-right  price-box" style="padding-bottom:10px;">
					<?php 
					// start reviewer
					$preview = Reviews::findFirstByBusinessId($camp->business_id); 
					if ($preview){
						$memberPhotos = MemberPhotos::findFirst(array('member_id="'.$preview->member_id.'"', 'primary_pic="Yes"'));
						$profilePic = 'http://placehold.it/50x50&text=NO+PROFILE+PIC';
						if(isset($memberPhotos->filename)) {
							$profilePic = $memberPhotos->file_path.$memberPhotos->filename;
						}
					?>

						<div class="media" style="border-bottom:1px solid #ddd;border-top:1px solid #ddd;margin:5px 0px;padding-top:5px">
							<div class="pull-left">
								<?php  echo Phalcon\Tag::image(array($profilePic, 'class' => 'img-thumbnail pull-left', 'style' => 'margin-right:5px;width:50px; height: 50px;margin-bottom:5px;')); ?>
							</div>
							<div class="media-body">
								<span class="media-heading ellipsis4"><?php echo  $preview->content . 'unknown'; ?></span>
							</div>
						</div>
					<?php
					}else{
						echo '<div class="media" style="border-bottom:1px solid #ddd;border-top:1px solid #ddd;margin:5px 0px;padding-top:5px">';
							echo '<div class="pull-left">';
								echo '<img src="http://1.gravatar.com/avatar/173407badd2fd8beba911e4888bc73e9?s=1024&d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D1024&r=G" class="img-thumbnail pull-left" style="margin-right:5px;margin-bottom:5px;" width="50px" height="50px">';
							echo '</div>';
							echo ' <div class="media-body">';
								echo '<span class="media-heading ellipsis4">Be the first to review</span>';
							echo '</div>';
						echo '</div>';
					}
					// end reviewer
					?>
					<a class="restricted btn btn-primary  btn-sm make-favorite" href="<?php echo $this->url->getBaseUri() . 'review/add/' . $camp->business_id; ?>"> 
						<i class="fa fa-eye"></i> Write a review <span></span> 
					</a> 
				</div>

			</div>
	<?php } } ?>

		<?php
		if(count($campaign) < 3){  $il = abs(count($campaign) - 3);
		for ($i=0; $i < $il; $i++) { 
		?>
		<div class="item-list ">
			<div class="cornerRb featuredAds">
				<a href="#"> AD</a>
			</div>
			<div class="col-sm-2 no-padding photobox">
				<div class="add-image custom-thumbnail" style=""> 
					<?php  
					$img = 'img/nophoto.jpg'; 
					echo Phalcon\Tag::image(array($img, 'class' => 'img-responsive ', 'style' => 'cursor:pointer'));
					?>
				</div>
			</div>

			<div class="col-sm-7 add-desc-box"  >
				<div class="add-details">
					<h4 class="add-title" style="font-weight:bold" >Place your ad here</h4>
					<span class="info-row">
						<blockquote >
						<p>limited offer! PLACE YOUR AD for as low as 32 cents ($CDN) per day!
						Hurry! This won't last long! </p>
						</blockquote>
					</span>
				</div>
			</div>
			<div class="col-sm-3 text-right  price-box" style="padding-bottom:10px;">
				<?php  $profilePic = 'http://placehold.it/50x50&text=NO+PROFILE+PIC'; ?>
				<div class="media" style="border-bottom:1px solid #ddd;border-top:1px solid #ddd;margin:5px 0px;padding-top:5px">
					<div class="media-body">
						<span class="media-heading ellipsis4">For more information you can view our services</span>
					</div>
				</div>
				<a class="btn btn-primary  btn-sm make-favorite" href="<?php echo $this->url->getBaseUri() . 'index/knowl_center#!/service'; ?>"> 
					<i class="fa fa-eye"></i>  <span>Click me</span> 
				</a>
			</div>
		</div>
		<?php }  } ?>

	</div><!-- end ads wrapper --> 
<hr>



<?php
/* messy code ever */
/*********** Business *****************/
if($type == '1' or $type == '2'){
	if(!empty($business)){ ?>

	<blockquote style="background:#f4f4f4">
		<p>Business Search Result/s : <?php echo count($business); ?></p>
		<p>Could not find the business you're looking for? 
		<a class="btn btn-xs   btn-primary restricted " href="<?=$this->url->getBaseUri()?>review/new_business" target="_blank" ><strong><i class="fa fa-list-alt"></i> Add a business now</strong></a>
		</p>
	</blockquote>

	<div class="adds-wrapper"><!-- start ads wrapper --> 
		<?php foreach($business as $bus){ ?>
		<div class="item-list">

			<!-- start thumbnail photo business --> 
			<div class="col-sm-2 no-padding photobox">
				<div class="add-image custom-thumbnail" style=""> 
				<?php  
				$img = 'img/nophoto.jpg'; 
					$countbusinessPrimaryPic = BusinessImages::count(array('business_id="'.$bus->id.'" and primary_pic="Yes"'));

					if ($countbusinessPrimaryPic > 0) {
						$businessPrimaryPic = BusinessImages::findFirst(array('business_id="'.$bus->id.'" and primary_pic="Yes"'));

						$img = $businessPrimaryPic->file_path.$businessPrimaryPic->filename;
					} else {
						$countBusinessPrimaryPic = BusinessImages::count(array('business_id="'.$bus->id.'"'));
						if ($countBusinessPrimaryPic > 0) {
							$businessPrimaryPic = BusinessImages::findFirst(array('business_id="'.$bus->id.'"'));

							$img = $businessPrimaryPic->file_path.$businessPrimaryPic->filename;		
						}
					}
				echo '<a href="'.$this->url->getBaseUri().'business/view2/'.$bus->id.'">';
				echo Phalcon\Tag::image(array($img, 'class' => 'img-responsive ', 'style' => 'cursor:pointer'));
				echo '<a/>';
				?>
				</div>
			</div>
			<!-- end thumbnail photo business --> 

			<!-- start col-sm-7 add-desc-box business --> 
			<div class="col-sm-7 add-desc-box" style="margin-bottom:30px" >
				<!-- start details business --> 
				<div class="add-details">
					<h4 class="add-title" style="font-weight:bold;white-space: nowrap; width: 100%; overflow: hidden;text-overflow: ellipsis;	z-index:10; " data-toggle="tooltip" title="<?php echo $bus->name;?> " > 
					<?php  echo Phalcon\Tag::linkTo(array('business/view2/'.$bus->id, $bus->name, 'class' => '')); ?>
					</h4>
					<div class="clearfix"></div>

					<!-- start sub-details rating business --> 
					<div class="rating1">
						<?php
							$ctr = 0; 
							while($ctr<$bus->average_rate) {
								$ctr++;
							}
							$aveRate = Reviews::average(array(
								"column"     => "rate",
								"conditions" => "business_id ={$bus->id}"
							));
							$floatedAverage = (float)$aveRate;
							$arrayRate = explode('.', $floatedAverage);
					
							if(isset($arrayRate[1])){
								if($arrayRate[1] > 5) { 
									$arrayRate[0]++; $arrayRate[1] = 0; 
								}
								if($arrayRate[1] < 5 && $arrayRate[1] > 0) { 
									$arrayRate[1] = 5; 
								}
							} else {
								$arrayRate[1] = 0;
							}
							if(!$arrayRate[0]){
								$arrayRate[0] = 0;
							}

							$rate = $arrayRate[0].'.'.$arrayRate[1];
							$class_rate = $arrayRate[0].'_'.$arrayRate[1]; 
						?>
						<i class="salakot-img salakot_<?php echo $class_rate;?>" data-toggle="tooltip" title="<?php echo $rate;?> salakot rating">&nbsp;</i>
					</div>
					<!-- end sub-details rating business --> 

					<!-- start sub-details info business --> 
					<blockquote >
						<span class="info-row" style="padding:0;margin:0px">
							<?php 
							$businessCategoryLists = BusinessCategoryLists::findFirst('business_id = "'.$bus->id.'" ');
							$bussCat = BusinessCategories::findFirst($businessCategoryLists->business_category_id);
							$catname = '';
							$catname .= '<small style="padding:0;margin:0px"  class="ellipsis2" ><i class="fa fa-asterisk"></i> ';
							$catname .= ($bussCat->main_title != '') ? $bussCat->main_title : '' ;
							$catname .= ($bussCat->title != '') ? ' <i class="fa fa-caret-right"></i> '.$bussCat->title : '' ;
							$catname .= ($bussCat->sub_title != '') ? ' <i class="fa fa-caret-right"></i> '.$bussCat->sub_title : '' ;
							$catname .= '</small>' ;
							echo $catname;
							?>
						</span> 
						<small class="info-row" style="padding:0;margin:0px">
							<span class="fa fa-map-marker"> </span>
							<?php echo ' '.$bus->city.", ".$bus->CountryCodes->country_name; ?>
						</small>
					</blockquote>
					<!-- end sub-details info business --> 

				</div>
				<!-- end details business --> 
			</div>
			<!-- end col-sm-7 add-desc-box business --> 


			<!-- start col-sm-3 text-right  price-box business --> 
			<div class="col-sm-3 text-right  price-box" style="padding-bottom:10px;">
				<?php 
					$preview = Reviews::findFirstByBusinessId($bus->id); 
					if ($preview){
						$memberPhotos = MemberPhotos::findFirst(array('member_id="'.$preview->member_id.'"', 'primary_pic="Yes"'));
						$profilePic = 'http://placehold.it/50x50&text=NO+PROFILE+PIC';
						if(isset($memberPhotos->filename)) {
							$profilePic = $memberPhotos->file_path.$memberPhotos->filename;
						}
					?>

					<div class="media" style="border-bottom:1px solid #ddd;border-top:1px solid #ddd;margin:5px 0px;padding-top:5px">
						<div class="pull-left">
							<?php echo Phalcon\Tag::image(array($profilePic, 'class' => 'img-thumbnail pull-left', 'style' => 'margin-right:5px;width:50px; height: 50px;margin-bottom:5px;')); ?>
						</div>

						<div class="media-body">
							<span class="media-heading ellipsis4"><?php echo  $preview->content . 'unknown'; ?></span>
						</div>
					</div>
				<?php
				}else{
					echo '<div class="media" style="border-bottom:1px solid #ddd;border-top:1px solid #ddd;margin:5px 0px;padding-top:5px"> <div class="pull-left">';
					echo '<img src="http://1.gravatar.com/avatar/173407badd2fd8beba911e4888bc73e9?s=1024&d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D1024&r=G" class="img-thumbnail pull-left" 
					style="margin-right:5px;margin-bottom:5px;" width="50px" height="50px">';
					echo '</div>';
					echo ' <div class="media-body">';
					echo '<span class="media-heading ellipsis4">Be the first to review</span>';
					echo '</div>';
					echo '</div>';
				}
				?>

				<a class="restricted btn btn-primary  btn-sm make-favorite" href="<?php echo $this->url->getBaseUri() . 'review/add/' . $bus->id; ?>"> 
					<i class="fa fa-eye"></i> Write a review <span></span> 
				</a> 
			</div>
			<!-- end col-sm-3 text-right  price-box business --> 

		</div>
		<!-- end item-list business --> 

		<?php  } ?>
	</div><!-- end ads wrapper --> 
	<?php  } } ?>





<?php
/* messy code ever */
/*********** Automotive *****************/

if($type == '1' or $type == '3'){
	if(count($autos) > 0 ){  ?>

	<blockquote style="background:#f4f4f4">
		<p>Cars and Trucks Search Result/s : <?php echo count($autos); ?></p>
	</blockquote>

	<!-- start ads wrapper --> 
	<div class="adds-wrapper">
	<?php $ccount = 1; $i = 1; foreach($autos as $auto): ?>
	 <div class="item-list ">
			<div class="col-sm-2 no-padding photobox">
				<div class="add-image custom-thumbnail" style=""> <!-- <span class="photo-count"><i class="fa fa-camera"></i> 2 </span> --> 
					<?php                    
						$autoPhoto = 'img/nophoto.jpg'; 
						$rPhotoCount = count($auto->automotivephotos);
						if ($rPhotoCount > 0) {
							$autoPhoto = $auto->automotivephotos[0]->file_path.$auto->automotivephotos[0]->filename;
						}
						echo Phalcon\Tag::image([$autoPhoto, 'class' => 'thumbnail no-margin', 'style' => 'border:none;padding:0px']);
					?>
				</div>
			</div>
						 
			<div class="col-sm-7 add-desc-box" >

				<div class="add-details">
						<h5> <span><i class="fa fa-bookmark"> </i> <?= $auto->brand?></span></h5>
						<h4 class="add-title" style="font-weight:bold"> <a href="<?php echo $this->url->getBaseUri().'car_and_truck/view2/'.$auto->id; ?>"> <?= $auto->name?></a> </h4>
				 
						 <div class="clearfix"></div>

						<span class="info-row">
						 <span class="date">
								<?php 
									$ecity = '';
									$cities = Cities::findFirst($auto->city);
									if($cities){
										echo '<span class="fa fa-map-marker"></span> ';
										$ecity .= $cities->city_name;
										$ecity .= ', '. $cities->state_code_id;
										$ecity .= ', '.$cities->CountryCodes->country_name;
										echo $ecity;
									}
								?>
								</span>  
						 </span> 
						<div class="clearfix"></div>
						<span class="info-row">
						<?php if($auto->automotiveconditions->name != ''){ ?>
						<i class="fa fa-info-circle"></i> <?php echo $auto->automotiveconditions->name; ?> 
						<?php } ?>
						</span> 

						<div class="clearfix"></div>
						<?php $type = AutomotiveFuels::findFirst($auto->fuel_type_id); ?>
						<?php if($type){ ?>
						<span class="info-row"> <i class="fa fa-tint"></i> <?php echo $type->name; ?> </span> 
						<?php } ?>
						 </div>
						</div>
				 
						<div class="col-sm-3 text-right  price-box" >
						<h6 class="item-price"> 
							<span class=" s3d designmoo" style="width:100%;text-align:center"><strong>
								<?php
								$currency = '';
								$na = '';
									switch ($auto->currency_type) {
										case 1:
											$currency = '$';$na = 'US';
											break;
										case 2:
											$currency = '₱';$na = 'PHP';
											break;
										case 3:
											$currency = '$';$na = 'CAD';
											break;
										default:
									}
									echo $currency;
								?>
								<?=$na?>
									<?php echo number_format($auto->price,2); ?>
										<small></small>
										</strong></span>
						</h6>
						<a href="<?php echo $this->url->getBaseUri().'car_and_truck/view2/'.$auto->id; ?>" class="btn btn-primary  btn-sm make-favorite" style=""> 
						<i class="fa fa-eye"></i>
						 <span>view</span> </a> 
 
				 </div>
		</div>
	<?php $ccount++; endforeach; ?>
	</div><!-- end ads wrapper --> 
<?php  } } ?>

<!--********************* -->




<?php
/* messy code ever */
/*********** Jobs *****************/
if($type == '1' or $type == '3'){
	if(count($jobs) > 0 ){  ?>

	<blockquote style="background:#f4f4f4">
		<p>Job Search Result/s : <?php echo count($jobs); ?></p>
	</blockquote>

	<!-- start ads wrapper --> 
	<div class="adds-wrapper">
				<?php $ccount = 1; $i = 1; foreach($jobs as $job): ?>
					<div class="item-list ">
						<div class="col-sm-2 no-padding photobox">
						<div class="add-image custom-thumbnail" style=""> <!-- <span class="photo-count"><i class="fa fa-camera"></i> 2 </span> --> 
								<?php                    
								$jobPhoto = 'img/nophoto.jpg'; 
								$rPhotoCount = count($job->JobLogos);
								if ($rPhotoCount > 0) {
									$jobPhoto = $job->JobLogos[0]->file_path.$job->JobLogos[0]->filename;
								}
									echo Phalcon\Tag::image([$jobPhoto, 'class' => 'thumbnail no-margin', 'style' => 'border:none;padding:0px']);
								?>
						</div>
						</div>
						 
						<div class="col-sm-7 add-desc-box" >
						<div class="add-details">
						<h5> <span><i class="fa fa-bookmark"> </i> 
						<?php 
						echo  $category = $job->JobCategories->name; 
						?>
						</span></h5>
						<h4 class="add-title" style="font-weight:bold"> <a href="<?php echo $this->url->getBaseUri().'job/view2/'.$job->id; ?>"> <?= $job->position?></a> </h4>
						<span class="info-row">
							<?php 
							$ecity = '';
							$cities = Cities::findFirst($job->city);
							if($cities){
								echo '<i class="fa fa-map-marker"></i> ';
								$ecity .= $cities->city_name;
								$ecity .= ', '. $cities->state_code_id;
								$ecity .= ', '.$cities->CountryCodes->country_name;
								echo $ecity;
							}
							?>
						 </span> 
						 </div>
						</div>
						<div class="col-sm-3 text-right  price-box" style="">
						<h6 class="item-price"> 
								<span class=" s3d designmoo" style="width:100%;text-align:center"><strong>
								<?php
								$currency = '';
								$na = '';
									switch ($job->currency_type) {
										case 1:
											$currency = '$';$na = ' US';
											break;
										case 2:
											$currency = '₱';$na = ' PHP';
											break;
										case 3:
											$currency = '$';$na = ' CAD';
											break;
										default:
									}
								 
								?>
						 
									<?php if($job->salary_from == '0.00'){
										echo 'salary not indicated';
									}else{
										 echo $currency;
										echo $na;
										echo number_format($job->salary_from,2);
									}

									 ?>
										<small></small>
										</strong></span>
						</h6>
						<a href="<?php echo $this->url->getBaseUri().'job/view2/'.$job->id; ?>" class="btn btn-primary  btn-sm make-favorite" style=""> 
						<i class="fa fa-eye"></i>
						 <span>view more</span> </a> 


						</div>
					</div>
	<?php $ccount++; endforeach; ?>
	</div>
	<!-- end ads wrapper --> 
	<!--********************* -->
<?php  } } ?>



<?php
/* messy code ever */
/*********** Real Estate *****************/

if($type == '1' or $type == '3'){
	if(count($realties) > 0 ){  ?>
		<blockquote style="background:#f4f4f4">
			<p>Realties Search Result/s : <?php echo count($realties); ?></p>
		</blockquote>

		<!-- start ads wrapper --> 
		<div class="adds-wrapper">
				<?php $ccount = 1; $i = 1; foreach($realties as $realty): ?>
					<div class="item-list ">
						<div class="col-sm-2 no-padding photobox">
						<div class="add-image custom-thumbnail" style=""> <!-- <span class="photo-count"><i class="fa fa-camera"></i> 2 </span> --> 
								<?php                    
								$realtyPhoto = 'img/nophoto.jpg'; 
								$rPhotoCount = count($realty->RealtyPhotos);
								if ($rPhotoCount > 0) {
									$realtyPhoto = $realty->RealtyPhotos[0]->file_path.$realty->RealtyPhotos[0]->filename;
								}
									echo Phalcon\Tag::image([$realtyPhoto, 'class' => 'thumbnail no-margin', 'style' => 'border:none;padding:0px']);
								?>
						</div>
						</div>
						 
						<div class="col-sm-7 add-desc-box" >
						<div class="add-details">
						<h5> <span><i class="fa fa-bookmark"> </i> 
						<?php 
							
						$category = RealtyCategories::findFirst($realty->realty_category_id);
						echo  $category = $category->RealtyTypes->name.' &raquo; '.$category->name; 
	
						?>
						</span></h5>
						<h4 class="add-title" style="font-weight:bold"> <a href="#"> <?= $realty->name?></a> </h4>
						<span class="info-row">
						 <i class="fa fa-info-circle"></i> <?php 

						 echo $realty->RealtyConditions->name; ?> 
						 </span>
						 <div class="clearfix"></div>
						<span class="info-row">
								<?php 
									$ecity = '';
									$cities = Cities::findFirst($realty->city);
									if($cities){
										echo '<i class="fa fa-map-marker"></i> ';
										$ecity .= $cities->city_name;
										$ecity .= ', '. $cities->state_code_id;
										$ecity .= ', '.$cities->CountryCodes->country_name;
													echo $ecity;
									}
								?>
						 </span> 
						<span class="info-row">
							 <br> <i class="fa fa-circle"></i> House Area: <?php echo $realty->house_area; ?>
							 </br> <i class="fa fa-circle"></i> Lot Area: <?php echo $realty->lot_area; ?>
						 </span>

						 </div>

						</div>
				 
						<div class="col-sm-3 text-right  price-box" style="">
						<h6 class="item-price"> 
							<span class=" s3d designmoo"><strong>
								<?php
								$currency = '';
								$na = '';
									switch ($realty->currency_type) {
										case 1:
											$currency = '$';$na = 'US dollar';
											break;
										case 2:
											$currency = '₱';$na = 'Philippine peso';
											break;
										case 3:
											$currency = '$';$na = 'Canadian dollar';
											break;
										default:
									}
									echo $currency;
								?>
									<?php echo number_format($realty->price,2); ?>
										<small><?=$na?></small>
										</strong></span>
						</h6>
						<a href="<?php echo $this->url->getBaseUri().'real_estate/view2/'.$realty->id; ?>" class="btn btn-primary  btn-sm make-favorite" style=""> 
						<i class="fa fa-eye"></i>
						 <span>view more</span> </a> 


						</div>
					</div>
	<?php $ccount++; endforeach; ?>
	</div>
	<!-- end ads wrapper --> 

<?php  } } ?>



<?php 
/* messy code ever */
/*********** Real Estate *****************/
if($type == '1' or $type == '3'){
	if(count($things) > 0 ){  ?>

	<blockquote style="background:#f4f4f4">
		<p>Things Search Result/s : <?php echo count($things); ?></p>
	</blockquote>


	<div class="adds-wrapper"><!-- start ads wrapper --> 
				<?php $ccount = 1; $i = 1; foreach($things as $thing): ?>
					<div class="item-list ">
						<div class="col-sm-2 no-padding photobox">
						<div class="add-image custom-thumbnail" style=""> <!-- <span class="photo-count"><i class="fa fa-camera"></i> 2 </span> --> 
								<?php                    
								$thingPhoto = 'img/nophoto.jpg'; 
								$rPhotoCount = count($thing->thingphotos);
								if ($rPhotoCount > 0) {
									$thingPhoto = $thing->thingphotos[0]->file_path.$thing->thingphotos[0]->filename;
								}
									echo Phalcon\Tag::image([$thingPhoto, 'class' => 'thumbnail no-margin', 'style' => 'border:none;padding:0px']);
								?>
						</div>
						</div>
						 
						<div class="col-sm-7 add-desc-box" >
						<div class="add-details">
						<h5> <span><i class="fa fa-bookmark"> </i> 
						<?php 
						echo  $category = $thing->ThingCategories->name; 
	
						?>
						</span></h5>
						<h4 class="add-title" style="font-weight:bold"> <a href="<?php echo $this->url->getBaseUri().'thing/view2/'.$thing->id; ?>"> <?= $thing->name?></a> </h4>

						 
						<span class="info-row">
								<?php 
									$ecity = '';
									$cities = Cities::findFirst($thing->city);
									if($cities){
										echo '<i class="fa fa-map-marker"></i> ';
										$ecity .= $cities->city_name;
										$ecity .= ', '. $cities->state_code_id;
										$ecity .= ', '.$cities->CountryCodes->country_name;
													echo $ecity;
									}
								?>
						 </span> 

				<div class="clearfix"></div>
						 <span class="info-row">
				<i class="fa fa-info-circle"></i> <?= $thing->ThingConditions->name?>
			</span>

						 </div>
						</div>
				 
						<div class="col-sm-3 text-right  price-box" style="">
						<h6 class="item-price"> 
							<span class=" s3d designmoo" style="width:100%;text-align:center"><strong>
								<?php
								$currency = '';
								$na = '';
									switch ($thing->currency_type) {
										case 1:
											$currency = '$';$na = 'US';
											break;
										case 2:
											$currency = '₱';$na = 'PHP';
											break;
										case 3:
											$currency = '$';$na = 'CAD';
											break;
										default:
									}
									echo $currency;
								?>
								<?=$na?>
									<?php echo number_format($thing->price,2); ?>
							
										</strong></span>
						</h6>
						<a href="<?php echo $this->url->getBaseUri().'thing/view2/'.$thing->id; ?>" class="btn btn-primary  btn-sm make-favorite" style=""> 
						<i class="fa fa-eye"></i>
						 <span>view more</span> </a> 

						</div>
					</div>
	<?php $ccount++; endforeach; ?>
	</div><!-- end ads wrapper --> 
<?php  } } ?>




</div> <!-- end col-md-9 -->






					
		</div><!-- start body wrapper row -->
	</div> <!-- start body wrapper container-->
</div><!-- start body wrapper -->



