

<div class="container">
  
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
  
      <div class="panel panel-default" style="margin-top:120px;">

        <div class="panel-heading">
          <h4 class="modal-title" id="myModalLabel" style="color:#333">PAGE</h4>
        </div>

        <div class="panel-body">
        <div class="well">
            <div style="text-align:center; ">
              <h1 style="font-size:80px;color:rgb(4,48,129);font-family:berlin;font-weight:bold"> 404</h1>
              <h2 style="color:rgb(4,48,129);font-family:berlin;font-weight:bold">PAGE NOT FOUND</h2>
              <p><i>Unfortunately the page you were looking for could not be found.</i></p>
            </div>
        </div>

        </div>

    </div>
  </div>
</div>
