
<?php if(count($FinBizList) > 0){ ?>
      <?php foreach ($FinBizList as $key => $biz) { ?>

         <!-- 1st item Profesional-->
        <a href="<?php echo $this->url->getBaseUri().'business/view2/'. $biz->id; ?>">
          <div class="col-md-4 col-sm-6 matcher">

              <div class="panel panel-default item-box shadow paperts">
                <div class="panel-thumbnail custom-thumbnail">
                  <?php 
                    $businessLastImg = 'img/nophoto.jpg'; 
                    foreach ($biz->BusinessImages as $key => $bizImages) { 
                    $businessLastImg = $bizImages->file_path.$bizImages->filename;
                    } 
                    echo Phalcon\Tag::image(array($businessLastImg, 'class' => 'img-responsive'));
                  ?>
                </div>
                <div class="panel-body">
                  <p class="lead ellipsis2" data-toggle="tooltip" title="<?php echo $biz->name;?> ">      
                 <?php 
            			if (isset($userSession['type'])) {
            				if ($userSession['type'] == 'Member') {
            					echo Phalcon\Tag::linkTo(array('business/view2/'.$biz->id,
                               '<span class=""></span>'.$biz->name, 'class' => 'text-primary')); 
            				}  
            			} else {
                      echo $biz->name;
            			}
            				
            		  ?>

                  </p>

                  <p class="ellipsis">
                  <span class="glyphicon glyphicon-home" aria-hidden="true"> </span>
                  <?php echo (isset($biz->street) || ($biz->street != '') ? $biz->street.',
                   '.$biz->city.', '.$biz->country_code_id : 'No Address Info'); ?>

                    </p>
                     <!-- <span class="glyphicon glyphicon-star-empty"></span>
                      <span class="glyphicon glyphicon-star-empty"></span>
                      <span class="glyphicon glyphicon-star-empty"></span>
                      <span class="glyphicon glyphicon-star-empty"></span>
                      <span class="glyphicon glyphicon-star-empty"></span> -->
                      
                      <div class="rating1" style="padding:4px 0px">

                      <?php	
			$aveRate = Reviews::average(array(
                          "column"     => "rate",
                          "conditions" => "business_id ={$biz->id}"
                      ));
                      $floatedAverage = (float)$aveRate;
                      $arrayRate = explode('.', $floatedAverage);

                      if(isset($arrayRate[1])){

                        if($arrayRate[1] > 5) { 
                          $arrayRate[0]++; $arrayRate[1] = 0; 
                        }

                        if($arrayRate[1] < 5 && $arrayRate[1] > 0) { 
                          $arrayRate[1] = 5; 
                        }
                      } else {
                        $arrayRate[1] = 0;
                      }

                      $rate = $arrayRate[0].'.'.$arrayRate[1];
                      $class_rate = $arrayRate[0].'_'.$arrayRate[1]; 
			$tooltipRating = '';
			if ($rate == 1 || $rate == 1.5) {
				$tooltipRating = $rate ." salakot- Hmmm...I don't think so.";
			} else if ($rate == 2 || $rate == 2.5) {
				$tooltipRating = $rate ." salakots- Not so bad.";
			} else if ($rate == 3 || $rate == 3.5) {
				$tooltipRating = $rate ." salakots- Just fine.";
			} else if ($rate == 4 || $rate == 4.5) {
				$tooltipRating = $rate ." salakots- Cool! I am a fan.";
			} else if ($rate == 5 || $rate == 5.0) {
				$tooltipRating = $rate ." salakots- Perfect! This is exactly what I need.";
			}
                      ?>
                      <i class="salakot-img salakot_<?php echo $class_rate;?>" data-toggle="tooltip" title="<?php echo $tooltipRating;?>">&nbsp;</i>
                      </div>


                       <div class="clearfix" style="margin:5px 0px;border-top:1px solid #dddddd"></div>


                      <?php 
                      // start reviewer
                      $preview = Reviews::findFirstByBusinessId($biz->id); 
                      if ($preview){

                        $memberPhotos = MemberPhotos::findFirst(array('member_id="'.$preview->member_id.'"', 'primary_pic="Yes"'));
                        $profilePic = 'http://placehold.it/50x50&text=NO+PROFILE+PIC';
                        if(isset($memberPhotos->filename)) {
                          $profilePic = $memberPhotos->file_path.$memberPhotos->filename;
                        }
                      ?>
                          
                          <div class="media" style="border-bottom:1px solid #ddd;">
                            <div class="pull-left">
                      <?php

                            echo Phalcon\Tag::image(array($profilePic, 'class' => 'img-thumbnail pull-left', 'style' => 'margin-right:5px;width:50px; height: 50px;margin-bottom:5px;'));
                      ?>
                              </div>
                              <div class="media-body">
                              <span class="media-heading ellipsis4"><?php echo  $preview->content; ?></span>
                            </div>
                          </div>

                      <?php
                      }else{
                        echo '<div class="media" style="border-bottom:1px solid #ddd;">
                        <div class="pull-left">';
                        echo '<img src="'.$avatar.'" class="img-thumbnail pull-left" 
                        style="margin-right:5px;margin-bottom:5px;" width="50px" height="50px">';
                        echo '</div>';
                        echo ' <div class="media-body">';
                        echo '<span class="media-heading ellipsis4">Be the first to review</span>';
                        echo '</div>';
                        echo '</div>';
                      }
                      // end reviewer
                      ?>






                  </div><!-- end of panel body -->


              </div>
          </div>
        </a>
          <!-- 1st item Profesional-->

  <?php } ?> 
<?php } ?> 
