<?php 
  use FunctionFactory as Funky; 
  use Stripe as Stripe; 
  // live
  $stripe = array(
          "secret_key"      => "sk_live_Zm3Ah1g1Wgo9rN8oXhEyZzzp",
          "publishable_key" => "pk_live_hNyk11iujBQG9EK0pJtPUA1C"
        );

  // $stripe = array(
  //   "secret_key"      => "sk_test_C8DoeYam87t4Gc2aUmAzlHzb",
  //   "publishable_key" => "pk_test_e1QBeWj2msAUESZujcNOcfdR"
  // );

  //real account
      // $stripe = array(
      //   "secret_key" => "sk_test_W0k5VjizCE25YvBalADSGO3L",
      //   "publishable_key" => "pk_test_SbYkRC5spTTsfmAR7lF3zubz" 
      // );


// the true account 
   // $stripe = array(
   //      "secret_key" => "sk_live_Zm3AhlglWgo9rN8oXhEyZzzp",
   //      "publishable_key" => "pk_live_hNyKl1iujBQG9EK0pJtPUAlC" 
   //    );
Stripe\Stripe::setApiKey($stripe['secret_key']);

if ($this->session->has('paymentError')) {
  echo '<script>'.$this->session->get('paymentError').'</script>';
  $this->session->remove('paymentError');
}
?>
<style type="text/css">
.button-el span {
  display: block;
    position: relative;
    padding: 0 12px;
    height: 30px;
    line-height: 30px;
    background: #1275ff;
    background-image: -webkit-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
    background-image: -moz-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
    background-image: -ms-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
    background-image: -o-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
    background-image: -webkit-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
    background-image: -moz-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
    background-image: -ms-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
    background-image: -o-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
    background-image: linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
    -ms-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
    -o-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}
  .button-el{overflow:hidden;display:inline-block;visibility:visible !important;background-image:-webkit-linear-gradient(#28a0e5,#015e94);background-image:-moz-linear-gradient(#28a0e5,#015e94);background-image:-ms-linear-gradient(#28a0e5,#015e94);background-image:-o-linear-gradient(#28a0e5,#015e94);background-image:-webkit-linear-gradient(#28a0e5,#015e94);background-image:-moz-linear-gradient(#28a0e5,#015e94);background-image:-ms-linear-gradient(#28a0e5,#015e94);background-image:-o-linear-gradient(#28a0e5,#015e94);background-image:linear-gradient(#28a0e5,#015e94);-webkit-font-smoothing:antialiased;border:0;padding:1px;text-decoration:none;-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;border-radius:5px;-webkit-box-shadow:0 1px 0 rgba(0,0,0,0.2);-moz-box-shadow:0 1px 0 rgba(0,0,0,0.2);-ms-box-shadow:0 1px 0 rgba(0,0,0,0.2);-o-box-shadow:0 1px 0 rgba(0,0,0,0.2);box-shadow:0 1px 0 rgba(0,0,0,0.2);-webkit-touch-callout:none;-webkit-tap-highlight-color:transparent;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;cursor:pointer}.stripe-button-el::-moz-focus-inner{border:0;padding:0}.stripe-button-el span{display:block;position:relative;padding:0 12px;height:30px;line-height:30px;background:#1275ff;background-image:-webkit-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);background-image:-moz-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);background-image:-ms-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);background-image:-o-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);background-image:-webkit-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);background-image:-moz-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);background-image:-ms-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);background-image:-o-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);background-image:linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);font-size:14px;color:#fff;font-weight:bold;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;text-shadow:0 -1px 0 rgba(0,0,0,0.25);-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.25);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.25);-ms-box-shadow:inset 0 1px 0 rgba(255,255,255,0.25);-o-box-shadow:inset 0 1px 0 rgba(255,255,255,0.25);box-shadow:inset 0 1px 0 rgba(255,255,255,0.25);-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;border-radius:4px}.stripe-button-el:not(:disabled):active,.stripe-button-el.active{background:#005d93}.stripe-button-el:not(:disabled):active span,.stripe-button-el.active span{color:#eee;background:#008cdd;background-image:-webkit-linear-gradient(#008cdd,#008cdd 85%,#239adf);background-image:-moz-linear-gradient(#008cdd,#008cdd 85%,#239adf);background-image:-ms-linear-gradient(#008cdd,#008cdd 85%,#239adf);background-image:-o-linear-gradient(#008cdd,#008cdd 85%,#239adf);background-image:-webkit-linear-gradient(#008cdd,#008cdd 85%,#239adf);background-image:-moz-linear-gradient(#008cdd,#008cdd 85%,#239adf);background-image:-ms-linear-gradient(#008cdd,#008cdd 85%,#239adf);background-image:-o-linear-gradient(#008cdd,#008cdd 85%,#239adf);background-image:linear-gradient(#008cdd,#008cdd 85%,#239adf);-webkit-box-shadow:inset 0 1px 0 rgba(0,0,0,0.1);-moz-box-shadow:inset 0 1px 0 rgba(0,0,0,0.1);-ms-box-shadow:inset 0 1px 0 rgba(0,0,0,0.1);-o-box-shadow:inset 0 1px 0 rgba(0,0,0,0.1);box-shadow:inset 0 1px 0 rgba(0,0,0,0.1)}.stripe-button-el:disabled,.stripe-button-el.disabled{background:rgba(0,0,0,0.2);-webkit-box-shadow:none;-moz-box-shadow:none;-ms-box-shadow:none;-o-box-shadow:none;box-shadow:none}.stripe-button-el:disabled span,.stripe-button-el.disabled span{color:#999;background:#f8f9fa;text-shadow:0 1px 0 rgba(255,255,255,0.5)}
}
</style>
<?php
  if ($this->session->has('payment_status')) {
    // if ($this->session->get('payment_status') == '1') {
    //   echo "<script>alertify.alert('payment status: success');</script>";
    // }
    $this->session->remove('payment_status');
  } 

  // if ($this->session->has('subscription')) {

  // if ($this->session->get('subscription') == '1') {
  //   echo "<script>alert('you have already subscribed.'); </script>";
  // } else if ($this->session->get('subscription') == '2') {
  //   echo "<script>alert('your session is not a business owner'); </script>";
  // } else if ($this->session->get('subscription') == '3') {
  //   echo "<script>alert('you are not logged-in'); </script>";
  // } else {
  //   echo "<script>alert('session has been set'); </script>";
  // }
  // $this->session->remove('subscription');
  
  //}

?>
<script src="https://checkout.stripe.com/checkout.js"></script>
<div class="container" style="margin-top:100px;">
  <div class="row">

        
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        
          <!-- PRICE ITEM -->
          <div class="panel price panel-blue">
            <div class="panel-heading arrow_box text-center" style="background-color:#02A5DE;">
            <h3 style="color:#FFF;">Enhanced Plan</h3>
            </div>
            <div class="panel-body text-center">
              <p class="lead" style="font-size:40px"><strong>$<?=$amount / 100?><sup>*</sup></strong></p>
            </div>
            <ul class="list-group list-group-flush text-center">
              <li class="list-group-item"><i class="icon-ok text-info"></i> Campaign ad for business</li>
              <li class="list-group-item"><i class="icon-ok text-info"></i> Side banner ad (230px X 100px)</li>
              <li class="list-group-item"><i class="icon-ok text-info"></i> First 3 months FREE</li>
              <li class="list-group-item" style="height:40.5px;"><i class="icon-ok text-info"></i> </li>
            </ul>
            <div class="panel-footer" style="height: 52.5px;">
                <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
                  <div id="enhanced-plan-duration" >
                    <div class="col-md-8 col-xs-6 col-sm-6 col-lg-8">
                      <select id="enhanced-select-timer" class="form-control">
                        <option value="1">1 month</option>
                        <option value="6">6 months</option>
                        <option value="12">1 year</option>
                      </select>
                    </div>
                    <div class="col-md-4 col-xs-6 col-sm-6 col-lg-4">
                      <button id="enhanced-plan-duration-btn" type="button" class="button-el" style="visibility: visible;"><span style="display: block; min-height: 30px;">Proceed</span></button>
                    </div>
                  </div>
                </div>

                <div id="enhanced-process">
                <center>
                  <form action="<?php echo 'https://mybarangay.com' . $this->url->getBaseUri() . 'payment/upgradee'; ?>" method="POST">
                    <script
                      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                      data-key="pk_live_hNyk11iujBQG9EK0pJtPUA1C"
                      data-image="/images/mb128x128.png"
                      data-name="MyBarangay"
                      data-description="Enhanced Plan"
                      data-amount="<?=$amount?>"
                      data-allow-remember-me=false>
                    </script>
                    <input type="hidden" name="memberId" value="<?=$member_id?>">
                    <input type="hidden" name="planType" value="2">
                    <input type="hidden" name="this_amount" value="<?=$amount?>">
                    <input type="hidden" name="credit" value="<?=$credit?>">
                    <input type="hidden" name="truecredit" value="<?=$truecredit?>">
                    <input id="enhanced-timer" type="hidden" name="timer" value="1">
                    <button id="enhanced-cancel" type="button" class="button-el" style="visibility: visible;"><span style="display: block; min-height: 30px;">Cancel</span></button>
                  </form>
                </center>
              </div>
             
            </div>
          </div>
          <!-- /PRICE ITEM -->
          
          
        </div>
        

  </div>
  <div class="row">
  	*12-month contract; balance at standard monthly rate; plus Goods and Services Tax
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {

    //$('#premium').data('amount', '9090');
    $('#premium-select-timer').hide();
    $('#enhanced-select-timer').hide();
    $('#basic-select-timer').hide();
    $('#basic-process').hide();
     $('#basic-plan-duration-btn').click(function() {
      $("#basic-process").show(500);
      $('#basic-plan-duration').hide(500);
    });

     $('#basic-cancel').click(function() {
      $("#basic-process").hide(500);
      $('#basic-plan-duration').show(500);
    });

    $("#enhanced-process").hide();


    $('#enhanced-plan-duration-btn').click(function() {
      $("#enhanced-process").show(500);
      $('#enhanced-plan-duration').hide(500);
    });

    $('#enhanced-cancel').click(function() {
      $("#enhanced-process").hide(500);
      $('#enhanced-plan-duration').show(500);
    });

    $('#enhanced-select-timer').on('change', function() {
      $('#enhanced-timer').val($(this).val());
    });

    $("#premium-process").hide();

    $('#premium-plan-duration-btn').click(function() {
      $("#premium-process").show(500);
      $('#premium-plan-duration').hide(500);
    });

    $('#premium-cancel').click(function() {
      $("#premium-process").hide(500);
      $('#premium-plan-duration').show(500);
    });

    $('#premium-select-timer').on('change', function() {
      $('#premium-timer').val($(this).val());
    });

  });
</script>
