<header class="navbar navbar-default navbar-fixed-top" role="banner"  id="main-header"> <!-- start navbar header -->
  <div class="container" > <!-- start container header -->
    <div class="row"> <!-- start row header -->
  

    <!-- start col-md-10 col-md-offset-1 [main] -->
<!--     <div class="col-md-10 col-md-offset-1"> -->
  
      <!-- start logo --> 
      <div class="col-md-4 col-sm-5 col-xs-12  " style="width:300px;text-align:center;"> 
        <div class="navbar-brand">
          <img src="/barangay1/public/img/logo/logo1.png" class="img-responsive img-barangay"  style="padding:0px;margin:0px;"alt="Responsive image">
        </div>
      </div> <!-- start logo -->

      <!-- start Navigation -->
      <div class="col-md-6 col-sm-6  hidden-xs head-navbar" style="" > 
          <!-- start header search bar -->
          <div class="collapse navbar-collapse" style="padding-top:10px;">
              <ul class="nav navbar-nav navbar-left">
                <li > <input text="text" class="form-control input-sm wd" placeholder="sample" style="border:1px solid #bcbcbc;width:200px"></li>
                <li > <input text="text" class="form-control input-sm wd" placeholder="sample" style="border:1px solid #bcbcbc;width:200px"></li> <li >
                <button type="submit" class="btn btn-primary btn-sm" ><i class="glyphicon glyphicon-search"></i></button></li>
              </ul>
          </div>
          <!-- end header search bar -->


          <!-- start header navigation -->
        <div class="hidden-sm">
          

          <div class="collapse navbar-collapse ">

            <ul class="nav navbar-nav navbar-left">
              <li class="active"><a href="index.html">Home</a></li>
              <li><a href="about-us.html">Write a review</a></li>
              <li><a href="services.html">Events</a></li>
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Classifieds <i class="icon-angle-down"></i></a>
                  <ul class="dropdown-menu">
                      <li><a href="#">Cars & Trucks</a></li>
                      <li><a href="#">Jobs</a></li>
                      <li><a href="#">Real Estate</a></li>
                      <li><a href="#">Things</a></li>
                  </ul>
              </li>
            </ul>
          </div>
         </div>
          <!-- end header navigation -->

      </div>  <!-- end Navigation -->

      <!-- start login -->
          
          <div class="col-md-2 col-sm-3 text-center hidden-sm hidden-xs login-mesg" style="padding-top:10px;"> 
              <div class="caption" style="">
                <!-- <p style="font-weight:bold;padding:0px;margin:0px;">Tuloy po kayo <br> Welcome Home</p> -->
    <!--             <form action="">
                  <input type="submit" name="login" class="btn btn-primary btn-sm " value="Login">
                  <input type="submit" name="signup" class="btn btn-primary btn-sm " value="Signup">
                </form> -->
              <h4 style="padding:0px;margin:0px"> Welcome Home</h4>
                 <img  id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />

              </div>
          </div> <!-- end login -->

     <!--  </div>  -->   <!-- end col-md-10 col-md-offset-1 [main] -->

      <!-- start menu toggle -->
      <a id="cd-menu-trigger" class="hidden-md hidden-lg" href="#0">
        <span class="cd-menu-text">Menu</span><span class="cd-menu-icon"></span>
      </a> 
      <!-- end menu toggle -->



    </div>  <!-- end row header -->
  </div> <!-- end container header -->
</header> <!-- end navbar header -->

<!-- start cd-lateral-nav-->
<nav id="cd-lateral-nav" >

  <!-- start cd-navigation -->
  <ul class="cd-navigation">

    <!-- item home -->
    <li class="item-has-children">
      <a href="#0">Home</a>
    </li> 

    <!-- item Write a review -->
    <li class="item-has-children">
      <a href="#0">Write a review</a>
    </li>

    <!-- item Events -->
    <li class="item-has-children">
      <a href="#0">Events</a>
    </li>

    <!-- item Classifieds -->
    <li class="item-has-children">
      <a href="#0">Classifieds</a>
      <ul class="sub-menu">
        <li><a href="#0">London</a></li>
        <li><a href="#0">New York</a></li>
        <li><a href="#0">Milan</a></li>
        <li><a href="#0">Paris</a></li>
      </ul>
    </li>

  </ul> <!-- end cd-navigation -->

  <ul class="cd-navigation cd-single-item-wrapper">
    <li><a href="#0">Tour</a></li>
    <li><a href="#0">Login</a></li>
    <li><a href="#0">Register</a></li>
    <li><a href="#0">Pricing</a></li>
    <li><a href="#0">Support</a></li>
  </ul> <!-- cd-single-item-wrapper -->


  <ul class="cd-navigation cd-single-item-wrapper">
    <li><a class="current" href="#0">Journal</a></li>
    <li><a href="#0">FAQ</a></li>
    <li><a href="#0">Terms &amp; Conditions</a></li>
    <li><a href="#0">Careers</a></li>
    <li><a href="#0">Students</a></li>
  </ul> <!-- cd-single-item-wrapper -->

  <!--     <div class="cd-navigation socials">
  <a class="cd-twitter cd-img-replace" href="#0">Twitter</a>
  <a class="cd-github cd-img-replace" href="#0">Git Hub</a>
  <a class="cd-facebook cd-img-replace" href="#0">Facebook</a>
  <a class="cd-google cd-img-replace" href="#0">Google Plus</a>
  </div> --> <!-- socials -->
</nav> <!-- end cd-lateral-nav-->