

<?php echo $this->tag->stylesheetLink("themes3/themes/bootstrapDatetimepicker/css/bootstrap-datetimepicker.min.css"); ?>
<?php echo $this->tag->javascriptInclude("themes3/themes/bootstrapDatetimepicker/js/bootstrap-datetimepicker.js"); ?>




 <script type="text/javascript">
$(document).ready(function() {
  $('.form_date').datetimepicker({
    weekStart: 1,
    todayBtn:  1,
    autoclose: 1,
    todayHighlight: 1,
    startView: 2,
    minView: 2,
    forceParse: 0
    });

  $('.form_time').datetimepicker({
    weekStart: 1,
    todayBtn:  1,
    autoclose: 1,
    todayHighlight: 1,
    startView: 1,
    minView: 0,
    maxView: 1,
    forceParse: 0
    });
  <?php 
  $error = '';
  //Check if the variable is defined
  if ($this->session->has("errorMessasge")) {
      //Retrieve its value
      $error = $this->session->get("errorMessasge");
     ?>
     var error = "<?=$error?>";
     alertify.error(error);
  <?php $this->session->remove("errorMessasge"); } ?>
  <?php 
  $success = '';
  //Check if the variable is defined
  if ($this->session->has("successMessasge")) {
      //Retrieve its value
      $success = $this->session->get("successMessasge");
     ?>
     var success = "<?=$success?>";
     alertify.error(success);
  <?php $this->session->remove("successMessasge"); } ?>
 });
  </script>





<style type="text/css">

/* Inline CSS pansamantala */

fieldset.sched-border{
  border:1px groove #ddd !important;
  padding:0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  -webkit-box-shadow: 0px 0px 0px 0px #000;
      box-shadow: 0px 0px 0px 0px #000;
}
legend.sched-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width:auto;
    padding:0px 10px;
    border-bottom: none;
}

#file{
    color:green;
    padding:5px; border:1px dashed #123456;
    background-color: #f9ffe5;
}

.abcd{
    text-align: left;

}

.abcd img{
    height:150px;
    padding: 5px;
    border: 1px solid rgb(232, 222, 189);
}

.help-block{
  position: absolute;
/*  visibility: hidden;*/
  right:20px;
}

.form-control-feedback {
  text-align: left;
}

select.form-control-feedback {
  text-align: left;
  color: #fe7;
}




</style>


<div class="body-wrapper" style="margin-top:110px;"> <!-- start body wrapper -->
    <div class="container" > <!-- start body wrapper container-fluid -->
        <div class="row" > <!-- start body wrapper row -->

            <div style="margin-bottom:20px"><!-- page wrapper body -->

                <div class="col-md-12 "  >
                    <ul class="breadcrumb pull-left" style="padding:5px 0px; margin:0px; text-index:1">
                        <li><i class="fa fa-home"></i> MyBarangay</li>
                        <li> Event</li>
                        <li class="active">Preview</li>
                    </ul>
                    <div class="clearfix"></div>
                </div>



                <div class="col-md-12 col-sm-12 boxiy" > <!-- start col-md-9 -->
                <hr>
                        <?php 
                        $success = '';
                        if ($this->session->has("successMess")) {
                        $success = $this->session->get("successMess");
                        ?>
                        <div class="alert alert-success fade in">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                        <strong>Success!</strong> <?=$success?>
                        </div>
                        <?php $this->session->remove("successMess"); } ?>
                        <?php 
                        $error = '';
                        if ($this->session->has("errorMess")) {
                        $error = $this->session->get("errorMess");
                        ?>
                        <div class="alert alert-danger fade in">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                        <strong>Error! </strong> <?=$error?>
                        </div>


                        <?php $this->session->remove("errorMess"); } ?>
                <!-- ******************************************************************** -->
                <?php echo Phalcon\Tag::form(array("event/add_schedule/".$event->id.'/'.$event->name, "method" => "post", "id" => "eventNew","enctype"=>"multipart/form-data")); ?>

                    <fieldset class="sched-border">
                        <legend class="sched-border"> Schedule</legend>
                        <input type="hidden" id="ids" name="ids" value="<?php echo $event->id; ?>">
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="dtp_input2" class="control-label">(*) Event Date</label>
                                <div class="input-group date form_date " data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                    <input class="form-control" type="text" name="date[]"  value="" readonly>
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                </div>
                                <input type="hidden" id="dtp_input2" value="" /><br/>
                            </div>

                            <div class="form-group col-md-4">
                                <label for="dtp_input3" class=" control-label">(*) time start</label>
                                <div class="input-group date form_time " data-date="" data-date-format="hh:ii" data-link-field="dtp_input3" data-link-format="hh:ii">
                                    <input class="form-control" name="event_start[]" type="text" value="" readonly>
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                                </div>
                                <input type="hidden" id="dtp_input3" value="" /><br/>
                            </div>

                            <div class="form-group col-md-4">
                                <label for="dtp_input3" class=" control-label">(*) time end</label>
                                <div class="input-group date form_time" data-date="" data-date-format="hh:ii" data-link-field="dtp_input3" data-link-format="hh:ii">
                                    <input class="form-control" name="event_end[]" type="text" value="" readonly>
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                                </div>
                                <input type="hidden" id="dtp_input3" value="" /><br/>
                            </div>
                        </div>

                        <div id="fuckDate"></div>
                        <button type="button" id="addDates" class="add-field">Add more schedule</button> 
                        <button type="button" id="buttonremove" class="remove-field">remove</button> 
                    </fieldset>

                    
                    <?php echo Phalcon\Tag::endForm(); ?>
                    <!-- ******************************************************************** -->
                </div><!-- end col-md-9 -->

            </div><!-- end wrapper body -->
        </div> <!-- start body wrapper row -->     
    </div> <!-- start body wrapper container-fluid -->
</div><!-- start body wrapper -->


<script type="text/javascript">
$(document).ready(function(){
    $counter = 0;
    $('#addDates').click(function() {
      $counter++;
        var $dom = '';
        $dom += '<div class="row">';
        $dom += '<div class="textMox">';
        $dom += '<div class="form-group col-md-4">';
        $dom += '<label for="dtp_input2" class="control-label">(*) Event Date</label>';
        $dom += '<div class="input-group date form_date " data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">';
        $dom += '<input class="form-control" type="text" name="date[]"  value="" readonly>';
        $dom += '<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>';
        $dom += '<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>';
        $dom += '</div>';
        $dom += '<input type="hidden" id="dtp_input2" value="" /><br/>';
        $dom += '</div>';
        $dom += '<div class="form-group col-md-4">';
        $dom += '<label for="dtp_input3" class=" control-label">(*) time start</label>';
        $dom += '<div class="input-group date form_time " data-date="" data-date-format="hh:ii" data-link-field="dtp_input3" data-link-format="hh:ii">';
        $dom += '<input class="form-control" name="event_start[]" type="text" value="" readonly>';
        $dom += '<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>';
        $dom += '<span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>';
        $dom += '</div>';
        $dom += '<input type="hidden" id="dtp_input3" value="" /><br/>';
        $dom += '</div>';
        $dom += '<div class="form-group col-md-4">';
        $dom += '<label for="dtp_input3" class=" control-label">(*) time end</label>';
        $dom += '<div class="input-group date form_time" data-date="" data-date-format="hh:ii" data-link-field="dtp_input3" data-link-format="hh:ii">';
        $dom += '<input class="form-control" name="event_end[]" type="text" value="" readonly>';
        $dom += '<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>';
        $dom += '<span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>';
        $dom += '</div>';
        $dom += '<input type="hidden" id="dtp_input3" value="" /><br/>';
        $dom += '</div>';
        $dom += '</div>';
        $dom += '</div>';

        $('#fuckDate').append($dom);
        $('.form_date').datetimepicker({
            language:  'en',
            weekStart: 1,
            todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });
        $('.form_time').datetimepicker({
              weekStart: 1,
              todayBtn:  1,
              autoclose: 1,
              todayHighlight: 1,
              startView: 1,
              minView: 0,
              maxView: 1,
              forceParse: 0
          });
      });

        $('#buttonremove').click(function(){
            if ($counter){
                $counter--;
                $('#fuckDate .textMox:last').parent().remove(); 
            }else{
                alert('No More textbox to remove');
            }
        });


});
</script>
