<?php use Helpers\ZoidHelpers; ?>

<?php echo $this->tag->stylesheetLink('themes3/css/list-type.css'); ?>
<?php echo $this->tag->javascriptInclude('themes3/themes/matchHeight/jquery.matchHeight.js'); ?>
<script type="text/javascript">
	$(document).ready(function(){

    // apply matchHeight to each item container's items
		var byRow = $('body');
		$('.adds-wrapper').each(function() {
			$(this).children('.item-list').matchHeight({
				byRow: byRow
			});
		});

    // different list type
		$('.listahan').click(function(){
			var type = $(this).attr('id');
			$('.item-list').removeClass('make-compact make-grid').addClass(type);
				$('.adds-wrapper').each(function() {
				$(this).children('.item-list').matchHeight({
					byRow: byRow
				});
			});
		});

    // date static by now


	});
</script>


<script type="text/javascript">
$(document).ready(function(){
	$(document).on('click','.show_more',function(){
		var ids = $(this).attr('id');
		console.log(ids);
		$('.show_more').hide();
		$('.loding').show();
		$.ajax({
            url: "<?php echo $this->url->getBaseUri() . 'event/load_ajax'; ?>",
            type:'GET',
			data: {id:ids},
			success:function(html){
				$('#show_more_main'+ids).remove();
				$('.tutorial_list').append(html);
			}
		});
	});

});
</script>

<div class="body-wrapper" style="margin-top:110px;"> <!-- start body wrapper -->
  <div class="container" > <!-- start body wrapper container-fluid -->
    <div class="row" > <!-- start body wrapper row -->

		<div style="margin-bottom:20px"><!-- page wrapper body -->

    <div class="col-md-12 "  >
        <div class="col-md-12 col-xs-12"  >
            <ul class="breadcrumb pull-left" style="padding:5px 0px; margin:0px">
                <li><span class="glyphicon glyphicon-home"></span> MyBarangay</li>
                <li class="active">Events</li>
            </ul>
        </div>
    </div>






<div class="col-sm-12 col-md-3 col-sm-4 page-sidebar" style="z-index:1">
  <aside>
  <div class="inner-box">


	<?php echo Phalcon\Tag::form(array("event/index", "method" => "post")); ?>		
	  <div class="event-list  list-filter">
	  <span class="list-title"><a href="#">Find Events</a></span>
			<div class="form-group ">

				<input type="text" class="form-control" name="name" value="<?=$ename?>" placeholder="Event Title" >
			</div>


<!-- 			<div class="form-group ">
				<select name="category" id="category" class="form-control">
				<option value="">Select Category</option>
				</select>
			</div> -->

			<div class="form-group ">
				<select name="event_type" id="event_type" class="form-control">

					<option value=""   >Display all events</option>
					<option value="2" <?php echo  ($event_type == 2)? 'selected' : '' ; ?>  >Display free events only</option>
					<option value="3" <?php echo  ($event_type == 3)? 'selected' : '' ; ?> >Display premium events</option>
				</select>
			</div>




			<div class="form-group">
	            <div class="input_container" id="auto">
	            <input type="text" id="autocity" value="<?=$ecity?>" class="city_list form-control" autocomplete="off" name="city" 
	              placeholder="city" >
	            <input type="hidden" id="autocitycode" name="city_code" value="<?=$ecity_code?>" class="city_id">
	            <ul id="autocitylistid" class="show_city"></ul>
	            </div>
			</div>

			<div class="form-group ">
			 	<input type="submit" value="Search" name="btn_search" class="btn btn-primary btn-sm">
			</div>






		</div>
	<?php Phalcon\Tag::endForm(); ?>





  <!--***** create a new post car and truck -->
  <div class="square" style="padding:5px;border:1px solid #c4c4c4;margin-top:30px;background:#f4f4f4;border-radius:2px ">
    <div class="locations-list  list-filter">
      <span class="list-title" style="color:#fff;padding:0px 2px 2px 2px;"><a href="#">Posting Event?</a></span>
      <a class="restricted btn btn-sm btn-primary" href="<?php echo $this->url->getBaseUri().'event/new2'; ?>" >Post your event now?</a>
    </div>
  </div>

  <div style="clear:both"></div>


  </div>
   
  </aside>
  <div class="hidden-xs">
  <?php $this->partial("partials/ads"); ?>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle"
         style="display:inline-block;width:255px;height:213px;"
         data-ad-client="ca-pub-2827353860802948"
         data-ad-slot="6306061710"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    <ins class="adsbygoogle"
         style="display:inline-block;width:255px;height:213px;"
         data-ad-client="ca-pub-2827353860802948"
         data-ad-slot="6306061710"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
 </div>


</div>
<!-- end of sidebar -->



<div class="col-sm-12 col-sm-8 col-md-9    boxiy" style="padding-top:20px;padding-bottom:20px"> <!-- start col-md-9 -->
	<div class="row item-match tutorial_list">
			<?php 
				$i = 1;

				if($events){
				echo '<div class="adds-wrapper"><!-- start ads wrapper -->';
					foreach ($events as $event) {

						if($event_type == '2'){

							if(!empty($event->EventTickets[0])){
									if($event->EventTickets[0]->price == 'F'){
						?>


						<div class="item-list make-grid">
							<div class="col-sm-2 no-padding photobox">
								<div class="add-image custom-thumbnail" style=""> <!-- <span class="photo-count"><i class="fa fa-camera"></i> 2 </span> --> 
								<?php                    
								$eventPhoto = 'img/nophoto.jpg'; 
								$rPhotoCount = count($event->EventPhotos);
								if ($rPhotoCount > 0) {
								$eventPhoto = $event->eventphotos[0]->file_path.$event->eventphotos[0]->filename;
								}
								echo Phalcon\Tag::image([$eventPhoto, 'class' => 'thumbnail no-margin', 'style' => 'border:none;padding:0px']);
								?>
								</div>
							</div>

							<div class="col-sm-7 add-desc-box" >
								<div class="add-details">
				                   <h4 class="add-title" style="font-weight:bold;white-space: nowrap; width: 100%; overflow: hidden;text-overflow: ellipsis; z-index:10; " data-toggle="tooltip" title="<?php echo $event->name;?> " > 
				                        <?php echo Phalcon\Tag::linkTo(array('event/view2/'.$event->id, $event->name, 'class' => ''));  ?>
				                    </h4>

                    <blockquote >
                        <span class="info-row">
            			<?php
							$category = EventsCategories::findFirst($event->event_category_id);
							echo '<i class="fa fa-bookmark-o"></i> '.$category->name;
							echo '<div class="clearfix"></div>';
							echo '<i class="fa fa-phone"></i> '.$event->telephone;
							echo '<div class="clearfix"></div>';
							$cdate = count($event->EventDatetimes);
							if($cdate){
								if($event->EventDatetimes[0]->date == '0000-00-00'){
									echo 'undefined date';
								}else{
									echo '<i class="fa fa-calendar"></i> '. date('jS \of M Y ', strtotime($event->EventDatetimes[0]->date)); 
								}
								// echo '<i class="fa fa-calendar"></i> '. date('l jS \of M Y ', strtotime($event->EventDatetimes[0]->date)); 
								// echo '<div class="clearfix"></div>'
								// if($cdate > 1){ echo $cdate.'event dates'; }
							}
                        ?>
						
                        </span> 
                    </blockquote>


								</div>
							</div>

            <div class="col-sm-3 text-right  price-box" style="padding-bottom:10px;">
                <!-- start of media -->
                <div class="media" style="border-bottom:1px solid #ddd;border-top:1px solid #ddd;margin:5px 0px;padding-top:5px">
                    <div class="media-body">
                        <div class="media-heading">
                        <small class="info-row">
                            <span class="fa fa-map-marker"> </span>
								<?php 
									$ecity = '';
									$cities = Cities::findFirst($event->city);
									if($cities){
										$ecity .= $cities->city_name;
										$ecity .= ', '. $cities->state_code_id;
										$ecity .= ', '.$cities->CountryCodes->country_name;
							            echo $ecity;
									}else{
										echo 'no address';
									}
								?>
                        </small>
                        </div>
                    </div>
                </div><!-- end of media -->
  <b>FREE TICKET</b>
            </div><!-- end price-box -->

						</div>





						<?php
							}

						}


							if(empty($event->EventTickets[0])){
?>

						<div class="item-list make-grid">
							<div class="col-sm-2 no-padding photobox">
								<div class="add-image custom-thumbnail" style=""> <!-- <span class="photo-count"><i class="fa fa-camera"></i> 2 </span> --> 
								<?php                    
								$eventPhoto = 'img/nophoto.jpg'; 
								$rPhotoCount = count($event->EventPhotos);
								if ($rPhotoCount > 0) {
								$eventPhoto = $event->eventphotos[0]->file_path.$event->eventphotos[0]->filename;
								}
								echo Phalcon\Tag::image([$eventPhoto, 'class' => 'thumbnail no-margin', 'style' => 'border:none;padding:0px']);
								?>
								</div>
							</div>

							<div class="col-sm-7 add-desc-box" >
								<div class="add-details">
				                   <h4 class="add-title" style="font-weight:bold;white-space: nowrap; width: 100%; overflow: hidden;text-overflow: ellipsis; z-index:10; " data-toggle="tooltip" title="<?php echo $event->name;?> " > 
				                        <?php echo Phalcon\Tag::linkTo(array('event/view2/'.$event->id, $event->name, 'class' => ''));  ?>
				                    </h4>

                    <blockquote >
                        <span class="info-row">
            			<?php
							$category = EventsCategories::findFirst($event->event_category_id);
							echo '<i class="fa fa-bookmark-o"></i> '.$category->name;
							echo '<div class="clearfix"></div>';
							echo '<i class="fa fa-phone"></i> '.$event->telephone;
							echo '<div class="clearfix"></div>';
							$cdate = count($event->EventDatetimes);
							if($cdate){
								if($event->EventDatetimes[0]->date == '0000-00-00'){
									echo 'undefined date';
								}else{
									echo '<i class="fa fa-calendar"></i> '. date('jS \of M Y ', strtotime($event->EventDatetimes[0]->date)); 
								}
								// echo '<i class="fa fa-calendar"></i> '. date('l jS \of M Y ', strtotime($event->EventDatetimes[0]->date)); 
								// echo '<div class="clearfix"></div>'
								// if($cdate > 1){ echo $cdate.'event dates'; }
							}
                        ?>
						
                        </span> 
                    </blockquote>


								</div>
							</div>

            <div class="col-sm-3 text-right  price-box" style="padding-bottom:10px;">
                <!-- start of media -->
                <div class="media" style="border-bottom:1px solid #ddd;border-top:1px solid #ddd;margin:5px 0px;padding-top:5px">
                    <div class="media-body">
                        <div class="media-heading">
                        <small class="info-row">
                            <span class="fa fa-map-marker"> </span>
								<?php 
									$ecity = '';
									$cities = Cities::findFirst($event->city);
									if($cities){
										$ecity .= $cities->city_name;
										$ecity .= ', '. $cities->state_code_id;
										$ecity .= ', '.$cities->CountryCodes->country_name;
							            echo $ecity;
									}else{
										echo 'no address';
									}
								?>
                        </small>
                        </div>
                    </div>
                </div><!-- end of media -->
<!--                 <a class="btn btn-primary  btn-sm make-favorite" href="<?php echo $this->url->getBaseUri() . 'event/view2/'.$event->id; ?>"> 
                    <i class="fa fa-star"></i> <span></span> View
                </a> -->

            </div><!-- end price-box -->

						</div>






<?php
							}
					}elseif($event_type == '3'){
							if(!empty($event->EventTickets[0])){
									if($event->EventTickets[0]->price != 'F'){
?>



						<div class="item-list make-grid">
							<div class="col-sm-2 no-padding photobox">
								<div class="add-image custom-thumbnail" style=""> <!-- <span class="photo-count"><i class="fa fa-camera"></i> 2 </span> --> 
								<?php                    
								$eventPhoto = 'img/nophoto.jpg'; 
								$rPhotoCount = count($event->EventPhotos);
								if ($rPhotoCount > 0) {
								$eventPhoto = $event->eventphotos[0]->file_path.$event->eventphotos[0]->filename;
								}
								echo Phalcon\Tag::image([$eventPhoto, 'class' => 'thumbnail no-margin', 'style' => 'border:none;padding:0px']);
								?>
								</div>
							</div>

							<div class="col-sm-7 add-desc-box" >
								<div class="add-details">
				                   <h4 class="add-title" style="font-weight:bold;white-space: nowrap; width: 100%; overflow: hidden;text-overflow: ellipsis; z-index:10; " data-toggle="tooltip" title="<?php echo $event->name;?> " > 
				                        <?php echo Phalcon\Tag::linkTo(array('event/view2/'.$event->id, $event->name, 'class' => ''));  ?>
				                    </h4>

                    <blockquote >
                        <span class="info-row">
            			<?php
							$category = EventsCategories::findFirst($event->event_category_id);
							echo '<i class="fa fa-bookmark-o"></i> '.$category->name;
							echo '<div class="clearfix"></div>';
							echo '<i class="fa fa-phone"></i> '.$event->telephone;
							echo '<div class="clearfix"></div>';
							$cdate = count($event->EventDatetimes);
							if($cdate){
								if($event->EventDatetimes[0]->date == '0000-00-00'){
									echo 'undefined date';
								}else{
									echo '<i class="fa fa-calendar"></i> '. date('jS \of M Y ', strtotime($event->EventDatetimes[0]->date)); 
								}
								// echo '<i class="fa fa-calendar"></i> '. date('l jS \of M Y ', strtotime($event->EventDatetimes[0]->date)); 
								// echo '<div class="clearfix"></div>'
								// if($cdate > 1){ echo $cdate.'event dates'; }
							}
                        ?>
						
                        </span> 
                    </blockquote>


								</div>
							</div>

            <div class="col-sm-3 text-right  price-box" style="padding-bottom:10px;">
                <!-- start of media -->
                <div class="media" style="border-bottom:1px solid #ddd;border-top:1px solid #ddd;margin:5px 0px;padding-top:5px">
                    <div class="media-body">
                        <div class="media-heading">
                        <small class="info-row">
                            <span class="fa fa-map-marker"> </span>
								<?php 
									$ecity = '';
									$cities = Cities::findFirst($event->city);
									if($cities){
										$ecity .= $cities->city_name;
										$ecity .= ', '. $cities->state_code_id;
										$ecity .= ', '.$cities->CountryCodes->country_name;
							            echo $ecity;
									}else{
										echo 'no address';
									}
								?>
                        </small>
                        </div>
                    </div>
                </div><!-- end of media -->
<b>PREMIUM EVENT - Buy ticket now</b>
            </div><!-- end price-box -->

						</div>







<?php

							}
						}


						}else{
						?>


						<div class="item-list make-grid">
							<div class="col-sm-2 no-padding photobox">
								<div class="add-image custom-thumbnail" style=""> <!-- <span class="photo-count"><i class="fa fa-camera"></i> 2 </span> --> 
								<?php                    
								$eventPhoto = 'img/nophoto.jpg'; 
								$rPhotoCount = count($event->EventPhotos);
								if ($rPhotoCount > 0) {
								$eventPhoto = $event->eventphotos[0]->file_path.$event->eventphotos[0]->filename;
								}
								echo Phalcon\Tag::image([$eventPhoto, 'class' => 'thumbnail no-margin', 'style' => 'border:none;padding:0px']);
								?>
								</div>
							</div>

							<div class="col-sm-7 add-desc-box" >
								<div class="add-details">
				                   <h4 class="add-title" style="font-weight:bold;white-space: nowrap; width: 100%; overflow: hidden;text-overflow: ellipsis; z-index:10; " data-toggle="tooltip" title="<?php echo $event->name;?> " > 
				                        <?php echo Phalcon\Tag::linkTo(array('event/view2/'.$event->id, $event->name, 'class' => ''));  ?>
				                    </h4>

                    <blockquote >
                        <span class="info-row">
            			<?php
							$category = EventsCategories::findFirst($event->event_category_id);
							echo '<i class="fa fa-bookmark-o"></i> '.$category->name;
							echo '<div class="clearfix"></div>';
							echo '<i class="fa fa-phone"></i> '.$event->telephone;
							echo '<div class="clearfix"></div>';
							$cdate = count($event->EventDatetimes);
							if($cdate){
								if($event->EventDatetimes[0]->date == '0000-00-00'){
									echo 'undefined date';
								}else{
									echo '<i class="fa fa-calendar"></i> '. date('jS \of M Y ', strtotime($event->EventDatetimes[0]->date)); 
								}
								// echo '<i class="fa fa-calendar"></i> '. date('l jS \of M Y ', strtotime($event->EventDatetimes[0]->date)); 
								// echo '<div class="clearfix"></div>'
								// if($cdate > 1){ echo $cdate.'event dates'; }
							}
                        ?>
						
                        </span> 
                    </blockquote>


								</div>
							</div>

            <div class="col-sm-3 text-right  price-box" style="padding-bottom:10px;">
                <!-- start of media -->
                <div class="media" style="border-bottom:1px solid #ddd;border-top:1px solid #ddd;margin:5px 0px;padding-top:5px">
                    <div class="media-body">
                        <div class="media-heading">
                        <small class="info-row">
                            <span class="fa fa-map-marker"> </span>
								<?php 
									$ecity = '';
									$cities = Cities::findFirst($event->city);
									if($cities){
										$ecity .= $cities->city_name;
										$ecity .= ', '. $cities->state_code_id;
										$ecity .= ', '.$cities->CountryCodes->country_name;
							            echo $ecity;
									}else{
										echo 'no address';
									}
								?>
                        </small>
                        </div>
                    </div>
                </div><!-- end of media -->
<?php
if(!empty($event->EventTickets[0])){
	if($event->EventTickets[0]->price != 'F'){
		echo '<b>PREMIUM EVENT - Buy ticket now</b>';
	}else{
		echo '<b>FREE TICKET</b> ';
	}
}
  



?>

            </div><!-- end price-box -->

						</div>




			<?php
						}
			?>



			<?php
					}
					echo '</div>';
				}
			?>

			</div>




		<?php  if($trigger != 1){ ?>
			<div class="row" style="display:none">
				<div class="col-md-4 col-md-offset-4">
					<div class="form-group">
			            <div class="show_more_main" id="show_more_main<?php echo $event->id; ?>">
			                <span id="<?php echo $event->id; ?>" class="btn btn-primary show_more btn-block" title="Load more posts">Show more</span>
			                <span class="loding" style="display: none;"><span class="loding_txt">Loading...</span></span>
			            </div>
					</div>
				</div>
			</div>
		<?php } ?>

		<?php if(!$counter){?>
			<h3 class="text-center text-primary">No Search Result Found</h3>
		<?php }?>
			</div> <!-- end col-md-9 -->


		</div><!-- end page wrapper body -->

	</div><!-- end body wrapper row -->
  </div><!-- end body wrapper container-fluid -->
</div><!-- end body wrapper -->
