

<?php echo $this->tag->stylesheetLink("themes3/themes/bootstrapDatetimepicker/css/bootstrap-datetimepicker.min.css"); ?>


<script>
    function currency(dom) {
      $dave = dom.getAttribute("href");
      $('.currency').hide().text($dave).fadeIn();
      var val = '';
      switch ($dave) {
        case '$ USD':
            val = 1
            break;
        case '₱ PHP':
            val = 2;
            break;
        case '$ CAD':
            val = 3;
            break;
      } 
      console.log(val);
      $('#currency_type').val(val)
    }
</script>

<style type="text/css">

/* Inline CSS pansamantala */

fieldset.sched-border{
  border:1px groove #ddd !important;
  padding:0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  -webkit-box-shadow: 0px 0px 0px 0px #000;
      box-shadow: 0px 0px 0px 0px #000;
}
legend.sched-border {
    font-size: 23px !important;
    font-weight: 300px;
    text-align: left !important;
    width:auto;
    padding:0px 10px;
    border-bottom: none;
}

label{
        font-size: 16px !important;
    font-weight: 300px;
}

#file{
    color:green;
    padding:5px; border:1px dashed #123456;
    background-color: #f9ffe5;
}

.abcd{
    text-align: left;

}

.abcd img{
    height:150px;
    padding: 5px;
    border: 1px solid rgb(232, 222, 189);
}

.help-block{
  position: absolute;
/*  visibility: hidden;*/
  right:20px;
}

.form-control-feedback {
  text-align: left;
}

select.form-control-feedback {
  text-align: left;
  color: #fe7;
}


#maps {
    margin-top: 10px;
height: 200px;
position: relative;
width: 100%;
background-color: #CCC;
}

.apperance thead{
    background: #f4f4f4;
    padding: 5px 15px;
    font-size: 17px;
}

.input{
    height:40px;
}

.form-control[readonly]{
    background: none;
}
</style>

 
<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script> 
<div class="body-wrapper" style="margin-top:110px;"> <!-- start body wrapper -->
    <div class="container" > <!-- start body wrapper container-fluid -->
        <div class="row" > <!-- start body wrapper row -->

            <div style="margin-bottom:20px"><!-- page wrapper body -->


                <div class="col-md-10 col-md-offset-1 "  >
                    <ul class="breadcrumb pull-left" style="padding:5px 0px; margin:0px; text-index:1">
                        <li><i class="fa fa-home"></i> MyBarangay</li>
                        <li> Event</li>
                        <li class="active">Create</li>
                    </ul>
                    <div class="clearfix"></div>
                </div>


                <div class="col-md-10 col-md-offset-1 col-sm-12 boxiy" > <!-- start col-md-9 -->




                <hr>
                        <?php 
                        $success = '';
                        if ($this->session->has("successMess")) {
                        $success = $this->session->get("successMess");
                        ?>
                        <div class="alert alert-success fade in">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                        <strong>Success!</strong> <?=$success?>
                        </div>
                        <?php $this->session->remove("successMess"); } ?>
                        <?php 
                        $error = '';
                        if ($this->session->has("errorMess")) {
                        $error = $this->session->get("errorMess");
                        ?>
                        <div class="alert alert-danger fade in">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                        <strong>Error! </strong> <?=$error?>
                        </div>


                        <?php $this->session->remove("errorMess"); } ?>
                <!-- ******************************************************************** -->
                <?php echo Phalcon\Tag::form(array("event/new2", "method" => "post", "id" => "eventNew","enctype"=>"multipart/form-data")); ?>


                    <fieldset class="sched-border">
                        <legend class="sched-border"> EVENT DETAILS</legend>
                        <h4 class="pull-right" >( * ) required field</h4>

                        <div class="row">
                            <div class="col-md-12">
                                <legend class="pull-left" >
                                <label style="background:#ECF0F1;padding:10px 15px;margin:0px;">DETAILS</label>
                                </legend>
                            </div>
                            <div class="col-md-12 col-sm-12">
                                
                                <div class="form-group col-md-6">
                                    <label>(*) Event Name </label>
                                    <input name="name" type="text" class="form-control input"  placeholder="Name" >
                                </div>

                                <input id="lat" name="lat" type="hidden" class="form-control" >
                                <input id="lng" name="lng" type="hidden" class="form-control" >
                                <input id="street" name="street" type="hidden" class="form-control" value="extra" >


                                <div class="form-group col-md-6">
                                    <label>Website</label>
                                    <input name="website" type="text" class="form-control input" placeholder="Website">
                                </div>
                            
                                <div class="form-group col-md-6">
                                    <label>(*)  Contact No </label>
                                    <!-- <input id="phone" type="tel" name="telephone" class="form-control input"  > -->
                                    <input name="telephone" type="text" class="form-control"  placeholder="Contact No " >
                                    <span id="valid-msg" class="hide">? Valid</span>
                                    <span id="error-msg" class="hide">Invalid number</span>
                                </div>

                                <div class="form-group col-md-6">
                                    <label>(*) Event Category </label>
                                    <select name="category" class="form-control input">
                                    <option value="">Select a category</option>

                                    <?php foreach ($categories as $category) {?>
                                    <option value="<?php echo $category->id; ?>"><?php echo $category->name; ?></option>
                                    <?php } ?>
                                    </select>
                                </div>


                                <!-- <div class="form-group col-md-4">
                                    <label>(*) Event Topic </label>
                                    <select name="category" class="form-control input">
                                    <option value="">Select a topic</option>
                                    <?php //foreach ($topics as $topic) {?>
                                    <option value="<?php //echo $topic->id; ?>"><?php //echo $topic->name; ?></option>
                                    <?php //} ?>
                                    </select>
                                </div> -->

                                <div class="clearfix"></div>
                                <div class="form-group col-md-8  col-sm-12">
                                    <label>(*) Event Details </label>
                                    <textarea name="event_info" class="ckeditor form-control "  placeholder="Details"></textarea>
                                </div>
                            </div>

                          
                            <div class="col-md-12">
                                  <legend class="pull-left" >
                                      <label style="background:#ECF0F1;padding:10px 15px;margin:0px;">SCHEDULE</label>
                                  </legend>

                        <div class="form-group col-md-12" >
                                  <button type="button" id="addDates" class="add-field btn btn-primary btn-sm">Add more schedule</button> 
                                    <button type="button" id="buttonremove" class="remove-field btn btn-primary btn-sm" style="display:none" >remove</button> 
                        </div>




                            </div>
                            <div class="col-md-12 col-sm-12">
    
                                <div class="form-group col-md-4">
                                    <label for="dtp_input2" class="control-label">(*) Event Date</label>
                                    <div class="input-group date form_date " data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd" data-date-end-date="0d">
                                        <input class="form-control " type="text" name="date[]"  value="" readonly>
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                    <input type="hidden" id="dtp_input2" value="" /><br/>
                                </div>

                                <div class="form-group col-md-4">
                                    <label for="dtp_input3" class=" control-label">(*) time start</label>
                                    <div class="input-group date form_time " data-date="" data-date-format="hh:ii" data-link-field="dtp_inpu3" data-link-format="hh:ii">
                                        <input class="form-control" name="event_start[]" type="text" value="" readonly>
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                                    </div>
                                    <input type="hidden" id="dtp_input3" value="" /><br/>
                                </div>

                                <div class="form-group col-md-4">
                                    <label for="dtp_input3" class=" control-label">(*) time end</label>
                                    <div class="input-group date form_time" data-date="" data-date-format="hh:ii" data-link-field="dtp_input3" data-link-format="hh:ii">
                                        <input class="form-control" name="event_end[]" type="text" value="" readonly>
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                                    </div>
                                    <input type="hidden" id="dtp_input3" value="" /><br/>
                                </div>


                    <div class="col-md-12">
                        <div id="appendDAte"></div>
                    </div>



                            </div>

                            <div class="col-md-12">
                                  <legend class="pull-left" >
                                      <label style="background:#ECF0F1;padding:10px 15px;margin:0px;">ORGANIZER</label>
                                  </legend>
                            </div>
                            <div class="col-md-8 col-sm-12">

                                <div class="form-group col-md-12">
                                    <label> Organizer name <small>(optional)</small></label>
                                    <input name="organizer_name" type="text" class="form-control input" placeholder="Who's organizing this event?">
                                </div>
                                <div class="form-group col-md-12  col-sm-12">
                                    <label> Organizer description <small>(optional)</small></label>
                                    <textarea name="organizer_desc" class="ckeditor form-control"  placeholder=""></textarea>
                                </div>

                            </div>



                        </div>

                    </fieldset>





<!--                     <fieldset class="sched-border">
                        <legend class="sched-border">Event Location </legend>
    
                        <div class="row">
                            <div class="col-md-8 col-sm-12">
                                <div class="form-group col-md-12 " >
                                    <label>(*) Location </label>
                                    <input id="pac-input" class="form-control controls input" id="location" name="location" type="text"  placeholder="Enter a location">
                                </div>
                                <div class="form-group col-md-12" >
                                <div id="maps"></div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
 -->
 <fieldset class="sched-border">
      <legend class="sched-border">Event Location </legend>
        <div class="row">
              <div class="form-group col-md-8">
                  <label>Address </label>
                  <input name="street" type="text" class="form-control" placeholder="street">
              </div>

            <div class="form-group col-md-4">
              <label>(*) Country</label>
              <select id="country_code" name="country_code"  type="select" class="form-control">
                  <option value="">Select Country</option>
                <?php $countryCodes = CountryCodes::find();
                      foreach ($countryCodes as $country_code) { ?>
                        <option value="<?php echo $country_code->id; ?>"><?php echo $country_code->country_name; ?></option>
                <?php } ?>
              </select>
            </div>

           <div class="form-group col-md-4">
              <label>(*) State or Province </label>
              <select id="state" name="state"  type="select" class="form-control">
         
              </select>
            </div>

           <div class="form-group col-md-4">
              <label>(*) City </label>
              <select id="city" name="city"  type="select" class="form-control">
              </select>
            </div>

        </div>
      </fieldset>



                    <!-- ******************************************************************** -->

                    <fieldset class="sched-border">
                        <legend class="sched-border">Create Tickets  </legend>
                        <legend class="pull-left" style="text-align:left">What type of ticket would you like to start with? </legend>
                        <div class="row">
                        <div class="form-group col-md-12" >
                                <button class="btn  btn-primary text-center ticket-b" data="free"><i class="fa fa-plus"></i> FREE TICKET</button>
                                <button class="btn  btn-primary text-center ticket-b" data="paid"><i class="fa fa-plus"></i> PAID TICKET</button>
                        </div>

                        <div class="form-group col-md-12" >
                               <table class="table table-striped apperance">
                                    <thead>
                                        <tr>
                                            <td>Ticket type*</td>
                                            <td>Quantity available*</td>
                                            <td>Price</td>
                                            <td>Settings</td>
                                        </tr>
                                    </thead>  
                                    <tbody id="tr-ticket">
                       
               
                                    </tbody>   
                             </table>
                        </div>


                        </div>
                    </fieldset>

                    <div class="row">
                        <div class="col-md-3">
                            <input type="submit" value="Create Event" class="btn btn-sm btn-primary">
                        </div>
                    </div>

                    
                    <?php echo Phalcon\Tag::endForm(); ?>
                    <!-- ******************************************************************** -->
                </div><!-- end col-md-9 -->

            </div><!-- end wrapper body -->
        </div> <!-- start body wrapper row -->     
    </div> <!-- start body wrapper container-fluid -->
</div><!-- start body wrapper -->


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBKS-zREGD6arvO2FYRuHiV3--E6KBLmc&libraries=places&sensor=false"></script> 
<?php echo $this->tag->javascriptInclude("themes3/themes/ckeditor/ckeditor.js"); ?>
<?php echo $this->tag->javascriptInclude("themes3/themes/bootstrapDatetimepicker/js/bootstrap-datetimepicker.js"); ?>
<?php //echo $this->tag->stylesheetLink("themes3/css/intlTelInput.css"); ?>
<?php //echo $this->tag->javascriptInclude("themes3/js/intlTelInput.min.js"); ?>

<script type="text/javascript">
    $(document).ready(function(){


      $('.form_date').datetimepicker({
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
        });

      $('.form_time').datetimepicker({
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 1,
        minView: 0,
        maxView: 1,
        forceParse: 0
        });

        $counter = 0;
        $('#addDates').click(function() {
          $counter++;
            $('.remove-field').css('display','inline');
            var $dom = '';
                $dom += '<div class="row">';
                $dom += '<div class="textMox">';

                    $dom += '<div class="form-group col-md-4">';
                        $dom += '<label for="dtp_input2" class="control-label">(*) Event Date</label>';
                        $dom += '<div class="input-group date form_date " data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">';
                            $dom += '<input class="form-control" type="text" name="date[]"  value="" readonly>';
                            $dom += '<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>';
                            $dom += '<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>';
                        $dom += '</div>';
                        $dom += '<input type="hidden" id="dtp_input2" value="" /><br/>';
                    $dom += '</div>';

                    $dom += '<div class="form-group col-md-4">';
                        $dom += '<label for="dtp_input3" class=" control-label">(*) time start</label>';
                        $dom += '<div class="input-group date form_time " data-date="" data-date-format="hh:ii" data-link-field="dtp_input3" data-link-format="hh:ii">';
                            $dom += '<input class="form-control" name="event_start[]" type="text" value="" readonly>';
                            $dom += '<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>';
                            $dom += '<span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>';
                        $dom += '</div>';
                        $dom += '<input type="hidden" id="dtp_input3" value="" /><br/>';
                    $dom += '</div>';

                    $dom += '<div class="form-group col-md-4">';
                        $dom += '<label for="dtp_input3" class=" control-label">(*) time end</label>';
                        $dom += '<div class="input-group date form_time" data-date="" data-date-format="hh:ii" data-link-field="dtp_input3" data-link-format="hh:ii">';
                            $dom += '<input class="form-control" name="event_end[]" type="text" value="" readonly>';
                            $dom += '<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>';
                            $dom += '<span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>';
                        $dom += '</div>';
                        $dom += '<input type="hidden" id="dtp_input3" value="" /><br/>';
                    $dom += '</div>';
                $dom += '</div>';
                $dom += '</div>';
      
            $('#appendDAte').append($dom);
            $('.form_date').datetimepicker({
                language:  'en',
                weekStart: 1,
                todayBtn:  1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                minView: 2,
                forceParse: 0
            });
            $('.form_time').datetimepicker({
                  weekStart: 1,
                  todayBtn:  1,
                  autoclose: 1,
                  todayHighlight: 1,
                  startView: 1,
                  minView: 0,
                  maxView: 1,
                  forceParse: 0
              });
          });

            $('#buttonremove').click(function(){
                if ($counter){
                    $counter--;
                    $('#appendDAte .textMox:last').parent().remove(); 
                }else{
                    $('.remove-field').css('display','none');
                    alert('No More textbox to remove');
                }
            });

            //******************************************************************

            var i = 0;
            $('.ticket-b').on('click',function(){
                i++;
                var _setting    = '';
                var html        = '';
                var _ticketType = $(this).attr('data');

                // _setting += '<tr class="togglesetting-' + i + ' ">';
                //     _setting += '<td colspan="4">';
                //         _setting += '<div class="row">';
                //             _setting += '<table class="table">';
                        
                //                 _setting += '<tbody>';
                //                     _setting += '<tr>';
                //                         _setting += '<td>';
                //                             _setting += '<legend>Settings</legend>';
                //                             _setting += '<div class="form-group col-md-5">';
                //                             _setting += '<textarea class="form-control" name="tktdescription" placeholder="ticket description"></textarea>';
                //                             _setting += '<input type="checkbox" name="tktcheck" style="margin-right:10px"><label>Show ticket description on event page  </label>';
                //                             _setting += '<div>';
                //                         _setting += '</td>';
                //                     _setting += '</tr>';
                //                     _setting += '<tr>';
                //                         _setting += '<td>';
                                      

                //                             _setting += '<div class="form-group col-md-8">';
                //                             _setting += '<h4>Ticket visibility </h4>';
                //                             _setting += '<input type="checkbox" name="tktcheck" style="margin-right:10px"><label> Hide this ticket type </label>';
                //                             _setting += '<label>Tickets allowed per order</label> ';
                //                             _setting += '<div class="clearfix"></div>';



                       
                //                              _setting += '<h4>Tickets allowed per order  </h4>';
                                 
                //                             _setting += '<div class="form-group col-md-3" style="padding-left:0px;">';
                //                             _setting += '<label>Minimum</label> ';
                //                             _setting += '<input type="text" class="form-control input" name="minimum[]" value="1" >';
                //                             _setting += '</div>';

                //                             _setting += '<div class="form-group col-md-3">';
                //                             _setting += '<label>Maximum</label> ';
                //                             _setting += '<input type="text" class="form-control input" name="maximum[]" placeholder="10">';
                //                             _setting += '</div>';

                //                             _setting += '</div>';


                //                         _setting += '</td>';
                //                     _setting += '</tr>';
                //                 _setting += '</tbody>';
                //             _setting += '</table>';

                             

                        _setting += '</div>';
                    _setting += '</td>';
                _setting += '</tr>';


                html += '<tr class="freeJav-' + i + '">';  //start of tr
                    // if ticket type is equal FREE diplay this form
                    if( (_ticketType == 'free') ){
                        html += '<input type="hidden" name="ticketType[]" value="free" >';
                        html += '<td><input id="tktname-' + i + '" name="tktname[]" class="form-control input" placeholder="ticket name, Early Bird, RSVP etc"></td>';
                        html += '<td><input type="text" id="qtyname-' + i + '" name="qtyname[]" class="form-control input" style="width:120px;" placeholder="90"></td>';
                        html += '<td>FREE<input type="hidden" id="tktprice-' + i + '" name="tktprice[]" value="F"><input type="hidden" name="currency_type[]" id="currency_type" value="F"></td>';
                        html += '<td><span class="btn btn-sm btn-primary btn-delete" id="brn" data="' + i + '"><i class="fa fa-trash"></i></span></td>';
                        html += _setting;

                    // if ticket type is equal PAID diplay this form
                    }else if( (_ticketType == 'paid') ){
                        html += '<input type="hidden" name="ticketType[]" value="paid" >';
                        html += '<td><input id="tktname-' + i + '" name="tktname[]" class="form-control input" placeholder="ticket name, Early Bird, RSVP etc"></td>';
                        html += '<td><input type="text" id="qtyname-' + i + '" name="qtyname[]" class="form-control input" style="width:120px;" placeholder="90"></td>';
                        html += '<td>';
                  html += '<div class="input-group">';
                     html += '<span class="input-group-addon"><div class="currency">$ USD</div></span>';
                     html += '<input type="hidden" name="currency_type[]" id="currency_type" value="1">';
                      html += '<input name="tktprice[]" id="tktprice-' + i + '" type="text" class="form-control"   placeholder="Ticket Price" >';
                         html += '<span  style="cursor:pointer" class="input-group-addon dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">';
                         html += '<span class=" caret" ></span>';
                         html += '</span>';
                           html += '<ul class="dropdown-menu dropdown-menu-right">';
                             html += '<li><a href="$ USD" onClick="currency(this);return false;">$ USD - US Dollar </a></li>';
                             html += '<li><a href="₱ PHP" onClick="currency(this);return false;">₱ PHP - Philippines Peso</a></li>';
                             html += '<li><a href="$ CAD" onClick="currency(this);return false;">$ CAD - Canadian Dollar</a></li>';
                           html += '</ul>';
                   html += '</div>';

                        html += '</td>';
                        html += '<td><span class="btn btn-sm btn-primary btn-delete" id="brn" data="' + i + '"><i class="fa fa-trash"></i></span></td>';
                        html += _setting;

                    // something went wrong <span class="btn btn-sm btn-primary btn-settings" data="' + i + '"><i class="fa fa-play"></i></span><span class="btn btn-sm btn-primary btn-settings" data="' + i + '"><i class="fa fa-play"></i></span >
                    }else{
                        var html = '<tr>Oops! Something went wrong.. Please try again or refresh your page</tr>';
                    }

//********************













                html += '</tr>'; //end of tr
                // append the form
                $(html).hide().appendTo("#tr-ticket").fadeIn(1000);
                $('.togglesetting-'+i).toggle();
                // $('#tr-ticket').append(html).hide().fadeIn();
                return false;
            });

            $('#tr-ticket').on('click', '.btn-delete', function(e){
                e.preventDefault();
                var _data = $(this).attr('data');
                $(this).parent().parent().fadeOut("slow",function(){ $(this).remove(); });
                $('.togglesetting-'+ _data).fadeOut("slow",function(){ $(this).remove(); });
            });

            $('#tr-ticket').on('click', '.btn-settings', function(e){
                e.preventDefault();
                var _data = $(this).attr('data');
                console.log(' data ' + _data );
                $('.togglesetting-'+ _data).toggle();
            });

            //******************************************************************
   $('#eventNew').bootstrapValidator({

          message: 'This value is not valid',
          feedbackIcons: {
              valid: 'glyphicon glyphicon-ok',
              invalid: 'glyphicon glyphicon-remove',
              validating: 'glyphicon glyphicon-refresh'
          },
          fields: {
              name: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },
              telephone: {
                  validators: {
                      numeric: {
                          message: '* The telephone must be a number'
                      }

                      
                  }
              },
              event_info: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },
              category: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },
              date: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },
              event_start: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },
              event_end: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }

                  }
              },
              country_id: {
                  validators: {

                  }
              },
              state: {
                  validators: {
 
                  }
              },
              city: {
                  validators: {
 
                  }
              },
              street: {
                  validators: {

                  }
              }
            }
        });



    // country change
    $('#country_code').change(function() {
        var action = 'getStates/'; 
        var param  = $('#country_code').val();
        var datastring = "param=" + param;
        console.log(datastring);
         $.ajax({
            url: "<?php echo $this->url->getBaseUri() . 'event/getStates'; ?>",
            type: 'GET',
            data: datastring,
            dataType: 'json',
            success: function(data){

          // $.each(data, function( i, item ) {
          //   selectstate += '<option value="'+data[i].id+'">'+data[i].name+'</option>';
          // });

              var selectstate = '<option value="">Select State</option>';
                $.each(data, function(i, item) {
                  selectstate += '<option value="'+data[i].id+'">'+data[i].name+'</option>';
                });
                $('#state').html('');
                $('#city').html('');
                $('#state').append(selectstate);

                // $.each(data, function(i, item) {
                //   alert(item.name);
                // });

              $('#state').change(function() {
                  var action = 'getCities/'; 
                  var param1  = $('#state').val();
                  var datastring1 = "param1=" + param1;
                   console.log(datastring1);
                   $.ajax({
                      url: "<?php echo $this->url->getBaseUri() . 'event/getCities'; ?>",
                      type: 'GET',
                      data: datastring1,
                      dataType: 'json',
                      success: function(success){
                        var selectcity = '<option value="">Select City</option>';
                          $.each(success, function(i, item) {
                            selectcity += '<option value="'+success[i].id+'">'+success[i].name+'</option>';
                          });
                          $('#city').html('');
                          $('#city').append(selectcity);
                          // $.each(success, function(i, item) {
                          //   console.log(success.name);
                          // });
                      },
                      error: function(){
                          alert("Select country error1");
                      }
                 });
              }); 
            },
        error: function (xhr, ajaxOptions, thrownError) {
            alert(xhr.status);
            alert(thrownError);
          }
       });
    }); 



    });



</script>

<script>
// var telInput = $("#phone"),
// errorMsg = $("#error-msg"),
// validMsg = $("#valid-msg");

// // on blur: validate
// telInput.blur(function() {
//   if ($.trim(telInput.val())) {
//     if (telInput.intlTelInput("isValidNumber")) {
//       validMsg.removeClass("hide");
//     } else {
//       telInput.addClass("error");
//       errorMsg.removeClass("hide");
//       validMsg.addClass("hide");
//     }
//   }
// });
// // on keydown: reset
// telInput.keydown(function() {
//   telInput.removeClass("error");
//   errorMsg.addClass("hide");
//   validMsg.addClass("hide");
// });
// $("#phone").intlTelInput({
//     //allowExtensions: true,
//     // autoFormat: false,
//     //autoHideDialCode: false,
//     // autoPlaceholder: true,
//     defaultCountry: "auto",
//     geoIpLookup: function(callback) {
//     $.get('http://ipinfo.io', function() {}, "jsonp").always(function(resp) {
//     var countryCode = (resp && resp.country) ? resp.country : "";
//     callback(countryCode);
//     });
//     },
//     //nationalMode: false,
//     // numberType: "MOBILE",
//     //onlyCountries: ['us', 'gb', 'ch', 'ca', 'do'],
//     //preferredCountries: ['cn', 'jp'],
//     utilsScript: "<?php //echo $this->url->getBaseUri().'themes3/themes/libphonenumber/build/utils.js'; ?>"
// });
</script>


