
    
<?php echo $this->tag->stylesheetLink("themes3/themes/bootstrapDatetimepicker/css/bootstrap-datetimepicker.min.css"); ?>
<?php echo $this->tag->javascriptInclude("themes3/themes/bootstrapDatetimepicker/js/bootstrap-datetimepicker.js"); ?>
<?php echo $this->tag->javascriptInclude("themes3/themes/ckeditor/ckeditor.js"); ?>
<?php echo $this->tag->stylesheetLink("themes3/themes/cropper/cropper.css"); ?>
<?php echo $this->tag->javascriptInclude("themes3/themes/cropper/cropper.min.js"); ?>

<script>
    function currency(dom) {
      $dave = dom.getAttribute("href");
      $('.currency').hide().text($dave).fadeIn();
      var val = '';
      switch ($dave) {
        case '$ USD':
            val = 1
            break;
        case '₱ PHP':
            val = 2;
            break;
        case '$ CAD':
            val = 3;
            break;
      } 
      console.log(val);
      $('#currency_type').val(val)
    }
</script>
<script type="text/javascript">
$(document).ready(function(){

  $('.form_date').datetimepicker({
    weekStart: 1,
    todayBtn:  1,
    autoclose: 1,
    todayHighlight: 1,
    startView: 2,
    minView: 2,
    forceParse: 0
    });

  $('.form_time').datetimepicker({
    weekStart: 1,
    todayBtn:  1,
    autoclose: 1,
    todayHighlight: 1,
    startView: 1,
    minView: 0,
    maxView: 1,
    forceParse: 0
    });

    $counter = 0;
    $('#addDates').click(function() {
      $counter++;
        $('.remove-field').css('display','inline');
        var $dom = '';
            $dom += '<div class="row">';
            $dom += '<div class="textMox">';

                $dom += '<div class="form-group col-md-4">';
                    $dom += '<input type="hidden" name="eventdateid[]" value="NEW">'
                    $dom += '<label for="dtp_input2" class="control-label">(*) Event Date</label>';
                    $dom += '<div class="input-group date form_date " data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">';
                        $dom += '<input class="form-control" type="text" name="date[]"  value="" readonly>';
                        $dom += '<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>';
                        $dom += '<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>';
                    $dom += '</div>';
                    $dom += '<input type="hidden" id="dtp_input2" value="" /><br/>';
                $dom += '</div>';

                $dom += '<div class="form-group col-md-4">';
                    $dom += '<label for="dtp_input3" class=" control-label">(*) time start</label>';
                    $dom += '<div class="input-group date form_time " data-date="" data-date-format="hh:ii" data-link-field="dtp_input3" data-link-format="hh:ii">';
                        $dom += '<input class="form-control" name="event_start[]" type="text" value="" readonly>';
                        $dom += '<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>';
                        $dom += '<span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>';
                    $dom += '</div>';
                    $dom += '<input type="hidden" id="dtp_input3" value="" /><br/>';
                $dom += '</div>';

                $dom += '<div class="form-group col-md-4">';
                    $dom += '<label for="dtp_input3" class=" control-label">(*) time end</label>';
                    $dom += '<div class="input-group date form_time" data-date="" data-date-format="hh:ii" data-link-field="dtp_input3" data-link-format="hh:ii">';
                        $dom += '<input class="form-control" name="event_end[]" type="text" value="" readonly>';
                        $dom += '<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>';
                        $dom += '<span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>';
                    $dom += '</div>';
                    $dom += '<input type="hidden" id="dtp_input3" value="" /><br/>';
                $dom += '</div>';
            $dom += '</div>';
            $dom += '</div>';
  
        $('#appendDAte').append($dom);
        $('.form_date').datetimepicker({
            language:  'en',
            weekStart: 1,
            todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });
        $('.form_time').datetimepicker({
              weekStart: 1,
              todayBtn:  1,
              autoclose: 1,
              todayHighlight: 1,
              startView: 1,
              minView: 0,
              maxView: 1,
              forceParse: 0
          });
      });

        $('#buttonremove').click(function(){
            if ($counter){
                $counter--;
                $('#appendDAte .textMox:last').parent().remove(); 
            }else{
                $('.remove-field').css('display','none');
                alert('No More textbox to remove');
            }
        });


});
</script>

<?php //echo $this->tag->javascriptInclude("themes3/themes/ckeditor/ckeditor.js"); ?>
<?php echo $this->tag->stylesheetLink("themes3/css/intlTelInput.css"); ?>
<?php echo $this->tag->javascriptInclude("themes3/js/intlTelInput.min.js"); ?>


<style type="text/css">

/* Inline CSS pansamantala */

fieldset.sched-border{
  border:1px groove #ddd !important;
  padding:0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  -webkit-box-shadow: 0px 0px 0px 0px #000;
      box-shadow: 0px 0px 0px 0px #000;
}
legend.sched-border {
    font-size: 23px !important;
    font-weight: 300px;
    text-align: left !important;
    width:auto;
    padding:0px 10px;
    border-bottom: none;
}

label{
        font-size: 16px !important;
    font-weight: 300px;
}

#file{
    color:green;
    padding:5px; border:1px dashed #123456;
    background-color: #f9ffe5;
}

.abcd{
    text-align: left;

}

.abcd img{
    height:150px;
    padding: 5px;
    border: 1px solid rgb(232, 222, 189);
}

.help-block{
  position: absolute;
/*  visibility: hidden;*/
  right:20px;
}

.form-control-feedback {
  text-align: left;
}

select.form-control-feedback {
  text-align: left;
  color: #fe7;
}


#maps {
height: 200px;
position: relative;
width: 100%;
background-color: #CCC;
}

.apperance thead{
    background: #f4f4f4;
    padding: 5px 15px;
    font-size: 17px;
}

.input{
    height:40px;
}

.form-control[readonly]{
    background: none;
}
/* Image cropper style */
.img-container,
.img-preview {
  overflow: hidden;
  text-align: center;
  width: 100%;
}
.img-preview-sm {
  height: 200px;
  width: 400px;
}
.ibox-content {
  background-color: #ffffff;
  color: inherit;
  padding: 15px 20px 20px 20px;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0px;
}

.aloader {
  display: table;
  border: 3px solid #222222;
  padding: 5px;
  margin: 0 auto;
  position: relative;

  transform: translateY(-50%);
}
.aloader .aloader__item {
  display: block;
  width: 15px;
  height: 15px;
  float: left;
  background-color: #222222;
  zoom: 1;
  filter: alpha(opacity=0);
  opacity: 0;
  animation: _fade 0.5s 2s infinite alternate forwards;
}
.aloader .aloader__item:not(:last-child) {
  margin-right: 5px;
}
.aloader .aloader__item:first-child {
  animation-delay: 0.2s;
}
.aloader .aloader__item:nth-child(2) {
  animation-delay: 0.4s;
}
.aloader .aloader__item:last-child {
  animation-delay: 0.6s;
}
@keyframes _fade {
  from {
    filter: alpha(opacity=0);
    opacity: 0;
  }
  to {
    filter: alpha(opacity=100);
    opacity: 1;
  }
}

</style>


<div class="body-wrapper" style="margin-top:110px;"> <!-- start body wrapper -->
    <div class="container" > <!-- start body wrapper container-fluid -->
        <div class="row" > <!-- start body wrapper row -->

            <div style="margin-bottom:20px"><!-- page wrapper body -->


                <div class="col-md-10 col-md-offset-1"  >
                    <ul class="breadcrumb pull-left" style="padding:5px 0px; margin:0px; text-index:1">
                        <li><i class="fa fa-home"></i> MyBarangay</li>
                        <li> Event</li>
                        <li class="active">Update</li>
                    </ul>
                    <div class="clearfix"></div>
                </div>



                <div class="col-md-10 col-md-offset-1 col-sm-12 boxiy" > <!-- start col-md-9 -->

                        <?php 
                        $success = '';
                        if ($this->session->has("successMess")) {
                        $success = $this->session->get("successMess");
                        ?>
                        <div class="alert alert-success fade in">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                        <strong>Success!</strong> <?=$success?>
                        </div>
                        <?php $this->session->remove("successMess"); } ?>
                        <?php 
                        $error = '';
                        if ($this->session->has("errorMess")) {
                        $error = $this->session->get("errorMess");
                        ?>
                        <div class="alert alert-danger fade in">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                        <strong>Error! </strong> <?=$error?>
                        </div>

                        <?php $this->session->remove("errorMess"); } ?>
<!--                 <hr>
    <button type="button" class="btn btn-primary">Make Online</button>
    <button type="button" class="btn btn-primary">Preview</button>
    <button type="button" class="btn btn-primary">Cancel</button>
               -->
  <hr>

        <?php if (isset($userSession['id'])) {  ?>
          <?php if($userSession['id'] == $event->member_id) { ?>
                            <a href="<?php echo $this->url->getBaseUri().'event/view2/'.$event->id; ?>" class="btn btn-primary btn-xs" ><i class="fa fa-play"></i> PREVIEW</a>
          <?php } ?>
        <?php } ?>
  <hr>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Event Photo</h4>
            </div>
            <div class="modal-body">
            <div class="image-crop">
            <?php
                $eventPhoto = 'img/defaultImage.jpg';
                $eventCount = count($event->eventPhotos);
                if ($eventCount > 0) {
                  $eventPhoto = $event->eventPhotos[0]->file_path.$event->eventPhotos[0]->filename;
                }
                echo Phalcon\Tag::image(array($eventPhoto, 'alt' => 'event image')); 
            ?>
            </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Done</button>
            </div>
        </div>
    </div>
</div>




                <!-- ******************************************************************** -->
                    <fieldset class="sched-border">
                        <legend class="sched-border"><i class="fa fa-photo"></i> EVENT PHOTO</legend>
                        <div class="col-md-12 col-sm-12">
                            <div class="box">


                                   <div class="col-md-6 col-md-offset-3">
                                        <h4>Preview image</h4>
                                        <div class="img-preview img-preview-sm thumbnail"></div>
                                        <div class="btn-group">
                                            <label title="Upload image file" for="inputImage" class="btn btn-primary" style="font-size:13px">
                                                <input type="file" accept="image/*" name="file" id="inputImage" class="hide">
                                                Browse Photo
                                            </label>     
                                        </div>
                                        <button class="btn btn-primary  pull-right" id="download" style="display:none"  > Save </button>
                                            <div class="clearfix"></div>
                                            <div class="cropmessage"></div>
                                            <div class="aloader" style="display:none;">
                                              <span class="aloader__item"></span>
                                              <span class="aloader__item"></span>
                                              <span class="aloader__item"></span>
                                            </div>
                                    </div>




                            </div>
                        </div>
                    </fieldset>



                <?php 
                $name = str_replace(',', '+', $event->name);
                echo Phalcon\Tag::form(array("event/update2/".$event->id.'/'.$name, "method" => "post", "id" => "eventNew","enctype"=>"multipart/form-data")); ?>

                    <fieldset class="sched-border">
                        <legend class="sched-border"> EVENT DETAILS</legend>
                        <h4 class="pull-right" >( * ) required field</h4>

                        <div class="row">
                            <div class="col-md-12">
                                <legend class="pull-left" >
                                <label style="background:#ECF0F1;padding:10px 15px;margin:0px;">DETAILS</label>
                                </legend>
                            </div>
                            <div class="col-md-12 col-sm-12">
                                
                                <div class="form-group col-md-6">
                                    <label>(*) Event Name </label>
                                    <input type="hidden" name="eventid" id="eventid" value="<?php echo $event->id; ?>">
                                    <input name="name" type="text" class="form-control input"  placeholder="Event Name" value="<?php echo $event->name; ?>" >
                                </div>

                                <input id="lat" name="lat" type="hidden" class="form-control" value="<?php echo $event->lat; ?>">
                                <input id="lng" name="lng" type="hidden" class="form-control" value="<?php echo $event->lng; ?>">
                   
                                <div class="form-group col-md-6">
                                    <label>Website</label>
                                    <input name="website" type="text" class="form-control input" placeholder="Website" value="<?php echo $event->website; ?>">
                                </div>
                            
                                <div class="form-group col-md-6">
                                    <label> Contact No </label>
                                    <input id="phone" type="tel" name="telephone" class="form-control input"  value="<?php echo $event->telephone; ?>" >
                                    <!-- <input name="telephone" type="text" class="form-control"  placeholder="Contact No " > -->
                                    <span id="valid-msg" class="hide">? Valid</span>
                                    <span id="error-msg" class="hide">Invalid number</span>
                                </div>

                                <div class="form-group col-md-6">
                                    <label>(*) Event Category </label>
                                    <select name="category"  type="select" class="form-control">
                                        <option value="">Select Event category</option>
                                        <?php $categories = EventsCategories::find(); ?>
                                      <?php foreach ($categories as $category) {?>
                                        <?php if ($category->id == $event->event_category_id){ ?>
                                            <option value="<?php echo $category->id; ?>" selected><?php echo $category->name; ?></option>
                                          <?php } else {?>
                                            <option value="<?php echo $category->id; ?>"><?php echo $category->name; ?></option>
                                          <?php }?>
                                      <?php } ?>
                                    </select>
                                </div>


                                <div class="clearfix"></div>
                                <div class="form-group col-md-8  col-sm-12">
                                    <label>(*) Event Details </label>
                                    <textarea name="event_info" class="ckeditor form-control "  placeholder="Details"><?php echo $event->eventinfo; ?></textarea>
                                </div>
                            </div>

                          
                            <div class="col-md-12">
                                  <legend class="pull-left" >
                                      <label style="background:#ECF0F1;padding:10px 15px;margin:0px;">SCHEDULE</label>
                                  </legend>
                                  <button type="button" id="addDates" class="add-field">Add more schedule</button> 
                                    <button type="button" id="buttonremove" class="remove-field" style="display:none" >remove</button> 

                            </div>
                            <div class="col-md-12 col-sm-12">
    
                            <?php
                            if(!empty($event->EventDatetimes)){
                            foreach ($event->EventDatetimes as $datetime) { ?>
                            <div class="form-group col-md-4">
                            <input type="hidden" name="eventdateid[]" value="<?=$datetime->id?>">
                            <label for="dtp_input2" class="control-label">(*) Event Date</label>
                            <div class="input-group date form_date " data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                            <input class="form-control" type="text" name="date[]"  value="<?php echo $datetime->date; ?>" readonly>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                            <input type="hidden" id="dtp_input2" value="" /><br/>
                            </div>

                            <div class="form-group col-md-4">
                            <label for="dtp_input3" class=" control-label">(*) time start</label>
                            <div class="input-group date form_time " data-date="" data-date-format="hh:ii" data-link-field="dtp_input3" data-link-format="hh:ii">
                            <input class="form-control" name="event_start[]" type="text" value="<?php echo substr($datetime->from_time, 0, 5); ?>" readonly>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                            </div>
                            <input type="hidden" id="dtp_input3" value="" /><br/>
                            </div>

                            <div class="form-group col-md-4">
                            <label for="dtp_input3" class=" control-label">(*) time end</label>
                            <div class="input-group date form_time" data-date="" data-date-format="hh:ii" data-link-field="dtp_input3" data-link-format="hh:ii">
                            <input class="form-control" name="event_end[]" type="text" value="<?php echo substr($datetime->to_time, 0, 5); ?>" readonly>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                            </div>
                            <input type="hidden" id="dtp_input3" value="" /><br/>
                            </div>
                            <?php } }else{ ?>
                            <p style="color:red"> You must create at least one event date.</p>
                             <?php    } ?>


                    <div class="col-md-12">
                        <div id="appendDAte"></div>
                    </div>



                            </div>

                            <div class="col-md-12">
                                  <legend class="pull-left" >
                                      <label style="background:#ECF0F1;padding:10px 15px;margin:0px;">ORGANIZER</label>
                                  </legend>
                            </div>
                            <div class="col-md-8 col-sm-12">

                                <div class="form-group col-md-12">
                                    <label> Organizer name</label>
                                    <input name="organizer" type="text" value="<?php echo $event->organizer_name; ?>" class="form-control input" placeholder="Who's organizing this event?">
                                </div>
                                <div class="form-group col-md-12  col-sm-12">
                                    <label> Organizer description </label>
                                    <textarea name="organizer_desc" class="ckeditor form-control"  placeholder=""><?php echo $event->organize_desc; ?></textarea>
                                </div>

                            </div>



                        </div>

                    </fieldset>



<fieldset class="sched-border">
      <legend class="sched-border">Event Location </legend>
        <div class="row">
              <div class="form-group col-md-8">
                  <label>Address </label>
                  <input name="street" type="text" class="form-control" placeholder="street" value="<?php echo $event->street; ?>">
              </div>

            <div class="form-group col-md-4">
              <label>(*) Country </label>
                <select name="country_code"  id="country_code" type="select" class="form-control">
                        <option value="">Select country</option>


                    <?php foreach ($countries as $country) { ?>
                        <?php if($event->country_code_id == $country->id){ ?>
                            <option value="<?php echo $country->id; ?>" selected><?php echo $country->country_name; ?></option>
                        <?php } else { ?>
                            <option value="<?php echo $country->id; ?>"><?php echo $country->country_name; ?></option>
                        <?php } ?>
                    <?php } ?>
                </select>
            </div>

           <div class="form-group col-md-4">
              <label>(*) State or Province </label>

                <select name="state" id="state" class="form-control">
                    <option value="">Select State</option>

                    <?php foreach ($states as $key => $state) {  ?>
                        <?php if ($event->state == $state->id) { ?>
                            <option value="<?php echo $state->id; ?>" selected><?php echo $state->state_name; ?></option>
                        <?php } else { ?>
                            <option value="<?php echo $state->id; ?>"><?php echo $state->state_name; ?></option>
                        <?php } ?>
                    <?php } ?>
                </select>
            </div>

           <div class="form-group col-md-4">
              <label>(*) City </label>
                <select name="city" id="city"  class="form-control">
                    <option value="">Select City</option>
                    <?php foreach ($cities as $key => $city) {?>
                        <?php if ($event->city == $city->id) { ?>
                            <option value="<?php echo $city->id; ?>" selected><?php echo $city->city_name; ?></option>
                        <?php } else { ?>
                            <option value="<?php echo $city->id; ?>"><?php echo $city->city_name; ?></option>
                        <?php } ?>
                    <?php } ?>
                </select>
            </div>

        </div>
      </fieldset>


                    <!-- ******************************************************************** -->

                    <fieldset class="sched-border">
                        <legend class="sched-border">Create Tickets  </legend>
                        <legend class="pull-left" style="text-align:left">What type of ticket would you like to start with? </legend>
                        <div class="row">
                        <div class="form-group col-md-12" >
                                <button class="btn  btn-primary text-center ticket-b" data="free"><i class="fa fa-plus"></i> FREE TICKET</button>
                                <button class="btn  btn-primary text-center ticket-b" data="paid"><i class="fa fa-plus"></i> PAID TICKET</button>
                        </div>

                        <div class="form-group col-md-12" >
                               <table class="table table-striped apperance">
                                    <thead>
                                        <tr>
                                            <td>Ticket name*</td>
                                            <td>Quantity available*</td>
                                            <td>Price</td>
                                            <td>Settings</td>
                                        </tr>
                                    </thead>  



                                    <tbody id="tr-ticket">
               

                            <?php
                            if(!empty($event->EventTickets)){
                                $x = 0;
                            foreach ($event->EventTickets as $tickets) { ?>
                                <input type="hidden" name="eventticketid[]" value="<?=$tickets->id?>">
                                <tr class="<?php echo 'freeJav-'.$x; ?>">

                                        <td><input  name="tktname[]" class="form-control input" placeholder="ticket name, Early Bird, RSVP etc" value="<?php echo $tickets->name; ?>"></td>
                                        <td><input type="text"  name="qtyname[]" class="form-control input" style="width:120px;" placeholder="90" value="<?php echo $tickets->quantity; ?>"></td>
                                    <?php if($tickets->price == 'F'){ ?>
                                        <input type="hidden" name="ticketType[]" value="free" >
                                        <td>FREE<input type="hidden"  name="tktprice[]" value="F"><input type="hidden" name="currency_type[]" id="currency_type" value="F"></td>
                                    <?php }else{ ?>
                                        <input type="hidden" name="ticketType[]" value="paid" >
                                        <td>
                 

                  <?php
                  $price = '';
                    switch ($tickets->currency_type) {
                      case 1:
                        $price = '$ USD';
                        break;
                      case 2:
                        $price = '₱ PHP';
                        break;
                      case 3:
                        $price = '$ CAD';
                        break;
                      default:
                        $price = '$ USD';
                      break;
                    }
                   ?>
                  <div class="input-group">
                    <span class="input-group-addon"><div class="currency"><?=$price?></div></span>
                  <input type="hidden" name="currency_type[]" id="currency_type" value="<?php echo $tickets->currency_type; ?>">
                  <input name="tktprice[]" type="text" class="form-control input" value="<?php echo $tickets->price; ?>" placeholder="Price" >

                        <span  style="cursor:pointer" class="input-group-addon dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class=" caret" ></span>
                        </span>
                          <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="$ USD" onClick="currency(this);return false;">$ USD - US Dollar </a></li>
                            <li><a href="₱ PHP" onClick="currency(this);return false;">₱ PHP - Philippines Peso</a></li>
                            <li><a href="$ CAD" onClick="currency(this);return false;">$ CAD - Canadian Dollar</a></li>
                          </ul>
                  </div>
                         




                                        </td>
                                    <?php } ?>
                                        <td><span class="btn btn-sm btn-primary btn-delete" id="brn" data="<?php echo $x.'xx'; ?>"><i class="fa fa-trash"></i></span></td>
                                    <tr class="<?php echo 'togglesetting-'.$x; ?>" style="display:none">
                                        <td colspan="4">
                                            <div class="row">
                                                <table class="table">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <legend>Settings</legend>
                                                                <div class="form-group col-md-5">
                                                                <textarea class="form-control" name="ticket_desc[]" placeholder="ticket description"></textarea>
                                                                <input type="checkbox" name="check_desc[]" style="margin-right:10px"><label>Show ticket description on event page  </label>
                                                                <div>
                                                            </td>
                                                        </tr>


                                                        <tr>
                                                            <td>
                                                                <div class="form-group col-md-8">
                                                                <h4>Ticket visibility </h4>
                                                                <input type="checkbox" name="check_ticket_type[]" style="margin-right:10px"><label> Hide this ticket type </label>
                                                                <div class="clearfix"></div>
                                                                <h4>Tickets allowed per order  </h4>
                                                                <div class="form-group col-md-3" style="padding-left:0px;">
                                                                <label>Minimum</label> 
                                                                <input type="text" class="form-control input" name="min[]" value="1" >
                                                                </div>
                                                                <div class="form-group col-md-3">
                                                                <label>Maximum</label>
                                                                <input type="text" class="form-control input" name="max[]" placeholder="10">
                                                                </div>
                                                                </div>

                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                </tr>
                            <?php $x++; } } ?>

                                    </tbody>   
                             </table>
                        </div>


                        </div>
                    </fieldset>

                    <div class="row">
                        <div class="col-md-2 col-md-offset-5">
                            <input type="submit" value="Update Event" class="btn btn-lg btn-primary btn-block">
                        </div>
                    </div>

                    
                    <?php echo Phalcon\Tag::endForm(); ?>
                    <!-- ******************************************************************** -->
                </div><!-- end col-md-9 -->

            </div><!-- end wrapper body -->
        </div> <!-- start body wrapper row -->     
    </div> <!-- start body wrapper container-fluid -->
</div><!-- start body wrapper -->


<script type="text/javascript">
$(document).ready(function() {






        //******************************************************
            $('#eventNew').bootstrapValidator({
          message: 'This value is not valid',
          feedbackIcons: {
              valid: 'glyphicon glyphicon-ok',
              invalid: 'glyphicon glyphicon-remove',
              validating: 'glyphicon glyphicon-refresh'
          },
          fields: {
              name: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },
              telephone: {
                  validators: {
 
                  }
              },
              event_info: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },
              category: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },
              'date[]': {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },
              event_start: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },
              event_end: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },
              location: {
                  validators: {
                    message: '* Required'
                  }
              },
              state: {
                  validators: {
 
                  }
              },
              city: {
                  validators: {
 
                  }
              },
              street: {
                  validators: {
                  }
              }
            }
        });

        //******************************************************
        //

        var $image = $(".image-crop > img")
        $($image).cropper({
            aspectRatio: 2/1,
            preview: ".img-preview",
            done: function(data) {
                console.log(data);
            }
        });

        var $inputImage = $("#inputImage");
        if (window.FileReader) {
            $inputImage.change(function() {
                var fileReader = new FileReader(),
                files = this.files,
                file;
                if (!files.length) {
                    return;
                }
                file = files[0];
                if (/^image\/\w+$/.test(file.type)) {
                    fileReader.readAsDataURL(file);
                    fileReader.onload = function () {
                        $inputImage.val("");
                        $image.cropper("reset", true).cropper("replace", this.result);
                    };
                    $('#myModal').modal('show');
                    $('#download').show();
                } else {
                    showMessage("Please choose an image file.");
                }
            });
        } else {
            $inputImage.addClass("hide");
        }

        $("#download").click(function() {
            
            $('.cropmessage').hide();
            var image = $image.cropper("getDataURL", {width:400, height:200});
            var eid   = $('#eventid').val();
            $.ajax({
                url: "<?php echo $this->url->getBaseUri().'event/downloadImage' ?>",
                type:'POST',
                dataType: 'json',
                data: {imagelinks: 'crop',imagelink: image, eid: eid  },
                beforeSend: function () {
                    $('.aloader').fadeIn();
                    $(this).attr("disabled", true);
                },
                success:function(data){
                    $('.cropmessage').show();
                    if(data.type == 'ok'){
                        $('.cropmessage').html('Image Successfuly Updated');
                        // console.log(data.text);
                    }else{
                        $('.cropmessage').html('Ops! Something went wrong, please try again');
                    }          
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $('.cropmessage').html('Ops! Something went wrong, please try again or refresh your page');
                },
                complete: function () {
                    $('.aloader').fadeOut();
                    $(this).attr("disabled", true);
                    $(this).show();
                }
            });
        });





        //******************************************************
        var i = <?php echo $x; ?>;
        $('.ticket-b').on('click',function(){
            i++;
            var _setting    = '';
            var html        = '';
            var _ticketType = $(this).attr('data');

            // _setting += '<tr class="togglesetting-' + i + ' ">';
            //     _setting += '<td colspan="4">';
            //         _setting += '<div class="row">';
            //             _setting += '<table class="table">';
                    
            //                 _setting += '<tbody>';
            //                     _setting += '<tr>';
            //                         _setting += '<td>';
            //                             _setting += '<legend>Settings</legend>';
            //                             _setting += '<div class="form-group col-md-5">';
            //                             _setting += '<textarea class="form-control" name="tktdescription" placeholder="ticket description"></textarea>';
            //                             _setting += '<input type="checkbox" name="tktcheck" style="margin-right:10px"><label>Show ticket description on event page  </label>';
            //                             _setting += '<div>';
            //                         _setting += '</td>';
            //                     _setting += '</tr>';
            //                     _setting += '<tr>';
            //                         _setting += '<td>';
                                  
            //                             _setting += '<div class="form-group col-md-8">';
            //                             _setting += '<h4>Ticket visibility </h4>';
            //                             _setting += '<input type="checkbox" name="tktcheck" style="margin-right:10px"><label> Hide this ticket type </label>';
            //                             _setting += '<label>Tickets allowed per order</label> ';
            //                             _setting += '<div class="clearfix"></div>';
            //                              _setting += '<h4>Tickets allowed per order  </h4>';
            //                             _setting += '<div class="form-group col-md-3" style="padding-left:0px;">';
            //                             _setting += '<label>Minimum</label> ';
            //                             _setting += '<input type="text" class="form-control input" name="minimum[]" value="1" >';
            //                             _setting += '</div>';
            //                             _setting += '<div class="form-group col-md-3">';
            //                             _setting += '<label>Maximum</label> ';
            //                             _setting += '<input type="text" class="form-control input" name="maximum[]" placeholder="10">';
            //                             _setting += '</div>';
            //                             _setting += '</div>';

            //                         _setting += '</td>';
            //                     _setting += '</tr>';
            //                 _setting += '</tbody>';
            //             _setting += '</table>';

                         
            //         _setting += '</div>';
            //     _setting += '</td>';
            // _setting += '</tr>';


            html += '<tr class="freeJav-' + i + '">';  //start of tr
                html += '<input type="hidden" name="eventticketid[]" value="NEW">';
                // if ticket type is equal FREE diplay this form
                if( (_ticketType == 'free') ){
                    html += '<input type="hidden" name="ticketType[]" value="free" >';
                    html += '<td><input id="tktname-' + i + '" name="tktname[]" class="form-control input" placeholder="ticket name, Early Bird, RSVP etc"></td>';
                    html += '<td><input type="text" id="qtyname-' + i + '" name="qtyname[]" class="form-control input" style="width:120px;" placeholder="90"></td>';
                    html += '<td>FREE<input type="hidden" id="tktprice-' + i + '" name="tktprice[]" value="F"><input type="hidden" name="currency_type[]" id="currency_type" value="F"></td>';
                    html += '<td><span class="btn btn-sm btn-primary btn-delete" id="brn" data="' + i + '"><i class="fa fa-trash"></i></span></td>';
                    html += _setting;

                // if ticket type is equal PAID diplay this form
                }else if( (_ticketType == 'paid') ){
                    html += '<input type="hidden" name="ticketType[]" value="paid" >';
                    html += '<td><input id="tktname-' + i + '" name="tktname[]" class="form-control input" placeholder="ticket name, Early Bird, RSVP etc"></td>';
                    html += '<td><input type="text" id="qtyname-' + i + '" name="qtyname[]" class="form-control input" style="width:120px;" placeholder="90"></td>';
           

                        html += '<td>';
                  html += '<div class="input-group">';
                     html += '<span class="input-group-addon"><div class="currency">$ USD</div></span>';
                     html += '<input type="hidden" name="currency_type[]" id="currency_type" value="1">';
                      html += '<input name="tktprice[]" id="tktprice-' + i + '" type="text" class="form-control"   placeholder="Ticket Price" >';
                         html += '<span  style="cursor:pointer" class="input-group-addon dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">';
                         html += '<span class=" caret" ></span>';
                         html += '</span>';
                           html += '<ul class="dropdown-menu dropdown-menu-right">';
                             html += '<li><a href="$ USD" onClick="currency(this);return false;">$ USD - US Dollar </a></li>';
                             html += '<li><a href="₱ PHP" onClick="currency(this);return false;">₱ PHP - Philippines Peso</a></li>';
                             html += '<li><a href="$ CAD" onClick="currency(this);return false;">$ CAD - Canadian Dollar</a></li>';
                           html += '</ul>';
                   html += '</div>';

                        html += '</td>';



                    html += '<td><span class="btn btn-sm btn-primary btn-delete" id="brn" data="' + i + '"><i class="fa fa-trash"></i></span></td>';
                    html += _setting;

                // something went wrong
                }else{
                    var html = '<tr>Oops! Something went wrong.. Please try again or refresh your page</tr>';
                }
            html += '</tr>'; //end of tr
            // append the form
            $(html).hide().appendTo("#tr-ticket").fadeIn(1000);
            $('.togglesetting-'+i).toggle();
            // $('#tr-ticket').append(html).hide().fadeIn();
            return false;
        });

        $('#tr-ticket').on('click', '.btn-delete', function(e){
            e.preventDefault();

            var _data = $(this).attr('data');
            $(this).parent().parent().fadeOut("slow",function(){ $(this).remove(); });
            $('.togglesetting-'+ _data).fadeOut("slow",function(){ $(this).remove(); });
        });

        $('#tr-ticket').on('click', '.btn-settings', function(e){
            e.preventDefault();
            var _data = $(this).attr('data');
            console.log(' data ' + _data );
            $('.togglesetting-'+ _data).toggle();
        });

        //******************************************************
        // country change
        $('#country_code').change(function() {
            var action = 'getStates/'; 
            var param  = $('#country_code').val();
            var datastring = "param=" + param;
            console.log(datastring);
             $.ajax({
                url: "<?php echo $this->url->getBaseUri() . 'event/getStates'; ?>",
                type: 'GET',
                data: datastring,
                dataType: 'json',
                success: function(data){

              // $.each(data, function( i, item ) {
              //   selectstate += '<option value="'+data[i].id+'">'+data[i].name+'</option>';
              // });

                  var selectstate = '<option value="">Select State</option>';
                    $.each(data, function(i, item) {
                      selectstate += '<option value="'+data[i].id+'">'+data[i].name+'</option>';
                    });
                    $('#state').html('');
                    $('#city').html('');
                    $('#state').append(selectstate);

                    // $.each(data, function(i, item) {
                    //   alert(item.name);
                    // });

                  $('#state').change(function() {
                      var action = 'getCities/'; 
                      var param1  = $('#state').val();
                      var datastring1 = "param1=" + param1;
                       console.log(datastring1);
                       $.ajax({
                          url: "<?php echo $this->url->getBaseUri() . 'event/getCities'; ?>",
                          type: 'GET',
                          data: datastring1,
                          dataType: 'json',
                          success: function(success){
                            var selectcity = '<option value="">Select City</option>';
                              $.each(success, function(i, item) {
                                selectcity += '<option value="'+success[i].id+'">'+success[i].name+'</option>';
                              });
                              $('#city').html('');
                              $('#city').append(selectcity);
                              // $.each(success, function(i, item) {
                              //   console.log(success.name);
                              // });
                          },
                          error: function(){
                              alert("Ops something went wrong please refresh the page");
                          }
                     });
                  }); 
                },
            error: function (xhr, ajaxOptions, thrownError) {
                alert("Ops something went wrong please refresh the page");
              }
           });
        }); 


});








</script>
 

