<?php echo $this->tag->javascriptInclude("themes3/themes/ckeditor/ckeditor.js"); ?>
<?php echo $this->tag->stylesheetLink("themes3/themes/bootstrapDatetimepicker/css/bootstrap-datetimepicker.min.css"); ?>
<?php echo $this->tag->javascriptInclude("themes3/themes/bootstrapDatetimepicker/js/bootstrap-datetimepicker.js"); ?>




 <script type="text/javascript">
$(document).ready(function() {
  $('.form_date').datetimepicker({
    weekStart: 1,
    todayBtn:  1,
    autoclose: 1,
    todayHighlight: 1,
    startView: 2,
    minView: 2,
    forceParse: 0
    });

  $('.form_time').datetimepicker({
    weekStart: 1,
    todayBtn:  1,
    autoclose: 1,
    todayHighlight: 1,
    startView: 1,
    minView: 0,
    maxView: 1,
    forceParse: 0
    });
  <?php 
  $error = '';
  //Check if the variable is defined
  if ($this->session->has("errorMessasge")) {
      //Retrieve its value
      $error = $this->session->get("errorMessasge");
     ?>
     var error = "<?=$error?>";
     alertify.error(error);
  <?php $this->session->remove("errorMessasge"); } ?>
  <?php 
  $success = '';
  //Check if the variable is defined
  if ($this->session->has("successMessasge")) {
      //Retrieve its value
      $success = $this->session->get("successMessasge");
     ?>
     var success = "<?=$success?>";
     alertify.error(success);
  <?php $this->session->remove("successMessasge"); } ?>
 });
  </script>

<style type="text/css">

/* Inline CSS pansamantala */

fieldset.sched-border{
  border:1px groove #ddd !important;
  padding:0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  -webkit-box-shadow: 0px 0px 0px 0px #000;
      box-shadow: 0px 0px 0px 0px #000;
}
legend.sched-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width:auto;
    padding:0px 10px;
    border-bottom: none;
}

#file{
    color:green;
    padding:5px; border:1px dashed #123456;
    background-color: #f9ffe5;
}

.abcd{
    text-align: left;

}

.abcd img{
    height:150px;
    padding: 5px;
    border: 1px solid rgb(232, 222, 189);
}

.help-block{
  position: absolute;
/*  visibility: hidden;*/
  right:20px;
}

.form-control-feedback {
  text-align: left;
}

select.form-control-feedback {
  text-align: left;
  color: #fe7;
}


#navb li ul li  {
  
position: relative;
display: block;
padding:0px 15px;

}
#navb li ul li a  {
  

padding-left:5px;
}
#navb li ul li a:hover  {
  
text-decoration: underline;

}
</style>
<div class="body-wrapper" style="margin-top:110px;"> <!-- start body wrapper -->
  <div class="container" > <!-- start body wrapper container-fluid -->
    <div class="row" > <!-- start body wrapper row -->

    <div style="margin-bottom:20px"><!-- page wrapper body -->
    <div class="col-md-12 "  >
        <div class="col-md-12 col-xs-12"  >
            <ul class="breadcrumb pull-left" style="padding:5px 0px; margin:0px">
                <li>MyBarangay</li>
                <li>Event</li>
                <li class="active">Post Event</li>
            </ul>
        </div>

    </div>
      <?php //$this->partial('partials/breadcrum'); ?>

      <!-- start left panel -->
      <div class="col-md-2 col-sm-4" style="">
        <div class="col-md-12 col-sm-6 boxiy" style="padding:0px;margin0px;">
         
            <ul class="nav nav-pills nav-stacked" id="navb">
                <li class="nav-header"></li>
                <li><a href="<?=$this->url->getBaseUri()?>car_and_truck/index"><strong><i class="glyphicon glyphicon-list-alt"></i> Events</strong></a>
                <ul >
                  <li><a href="<?=$this->url->getBaseUri()?>event/new"> Create event</a></li>
                  <li><a href="<?=$this->url->getBaseUri()?>event/list"> My Event list</a></li>
                </ul>
            </ul>
            <hr>
        </div>
      </div>
      <!-- end left panel -->



    <div class="col-md-10 col-sm-8 boxiy" > <!-- start col-md-9 -->
      <hr>
      <?php echo Phalcon\Tag::form(array("event/update/".$event->id, "method" => "post", "id" => "eventNew","enctype"=>"multipart/form-data")); ?>


<!-- ******************************************************************** -->

      <fieldset class="sched-border">
        <legend class="sched-border"> Schedule</legend>
        <div class="row">



          <?php foreach ($event->EventDatetimes as $datetime): ?>
            <div class="form-group col-md-4">


              <input type="hidden" name="eventdateid[]" value="<?=$datetime->id?>">
              <label for="dtp_input2" class="control-label">(*) Event Date</label>
              <div class="input-group date form_date " data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                  <input class="form-control" type="text" name="date[]"  value="<?php echo $datetime->date; ?>" readonly>
                  <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
              </div>
                <input type="hidden" id="dtp_input2" value="" /><br/>
             </div>

             <div class="form-group col-md-4">
                <label for="dtp_input3" class=" control-label">(*) time start</label>
                <div class="input-group date form_time " data-date="" data-date-format="hh:ii" data-link-field="dtp_input3" data-link-format="hh:ii">
                    <input class="form-control" name="event_start[]" type="text" value="<?php echo substr($datetime->from_time, 0, 5); ?>" readonly>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                </div>
                <input type="hidden" id="dtp_input3" value="" /><br/>
            </div>

              <div class="form-group col-md-4">
                <label for="dtp_input3" class=" control-label">(*) time end</label>
                <div class="input-group date form_time" data-date="" data-date-format="hh:ii" data-link-field="dtp_input3" data-link-format="hh:ii">
                    <input class="form-control" name="event_end[]" type="text" value="<?php echo substr($datetime->to_time, 0, 5); ?>" readonly>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                </div>
                <input type="hidden" id="dtp_input3" value="" /><br/>
            </div>
        <?php endforeach; ?>

<!--             <div class="form-group col-md-4">
              <label for="dtp_input2" class="control-label">(*) Event Date</label>
              <div class="input-group date form_date " data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                  <input class="form-control" type="text" name="date[]"  value="" readonly>
                  <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
              </div>
                <input type="hidden" id="dtp_input2" value="" /><br/>
             </div>

             <div class="form-group col-md-4">
                <label for="dtp_input3" class=" control-label">(*) time start</label>
                <div class="input-group date form_time " data-date="" data-date-format="hh:ii" data-link-field="dtp_input3" data-link-format="hh:ii">
                    <input class="form-control" name="event_start[]" type="text" value="" readonly>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                </div>
                <input type="hidden" id="dtp_input3" value="" /><br/>
            </div>

              <div class="form-group col-md-4">
                <label for="dtp_input3" class=" control-label">(*) time end</label>
                <div class="input-group date form_time" data-date="" data-date-format="hh:ii" data-link-field="dtp_input3" data-link-format="hh:ii">
                    <input class="form-control" name="event_end[]" type="text" value="" readonly>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                </div>
                <input type="hidden" id="dtp_input3" value="" /><br/>
            </div> -->

        </div>
        <div id="fuckDate"></div>
        <button type="button" id="addDates" class="add-field">Add more schedule</button> 
        <button type="button" id="buttonremove" class="remove-field">remove</button> 
      </fieldset>


<!-- ******************************************************************** -->


     <fieldset class="sched-border">
      <legend class="sched-border"> Location </legend>
        <div class="row">
              <div class="form-group col-md-8">
   
<label>Address (optional) </label>
     <input name="street" type="text" class="form-control" placeholder="street" value="<?php echo $event->street; ?>">
              </div>

            <div class="form-group col-md-4">
              <label>(*) Country</label>

            <select id="country_code" name="country_id"  type="select" class="form-control">
                <option value="">Select Country</option>
              <?php $countryCodes = CountryCodes::find(); ?>
              <?php foreach ($countryCodes as $country_code) { ?>
                <?php if ($country_code->id == $event->country_code_id) {?>
                  <option value="<?php echo $country_code->id; ?>" selected><?php echo $country_code->country_name; ?></option>
                <?php } else { ?>
                  <option value="<?php echo $country_code->id; ?>"><?php echo $country_code->country_name; ?></option>
                <?php }?>
              <?php } ?>
            </select>




            </div>

           <div class="form-group col-md-4">
              <label>(*) State or Province (select counrty first)</label>
              <select id="state" name="state"  type="select" class="form-control">
         
              </select>
            </div>

           <div class="form-group col-md-4">
              <label>(*) City (select state or province first)</label>
              <select id="city" name="city"  type="select" class="form-control">
         
              </select>
            </div>

        </div>
      </fieldset>

<!-- ******************************************************************** -->

      <fieldset class="sched-border">
        <legend class="sched-border"> Event information</legend>
        <legend class="pull-right" style="text-align:right">( * ) required field</legend>
        <div class="row">
          <div class="form-group col-md-4">
            <label>(*) Event Name </label>
            <input name="name" type="text" class="form-control " value="<?php echo $event->name; ?>"  placeholder="Name" >
          </div>

      

            <div class="form-group col-md-4">
                <label>(*) Event Category </label>
                <select name="category"  type="select" class="form-control">
                    <option value="">Select Event category</option>
                    <?php $categories = EventsCategories::find(); ?>
                  <?php foreach ($categories as $category) {?>
                    <?php if ($category->id == $event->event_category_id){ ?>
                        <option value="<?php echo $category->id; ?>" selected><?php echo $category->name; ?></option>
                      <?php } else {?>
                        <option value="<?php echo $category->id; ?>"><?php echo $category->name; ?></option>
                      <?php }?>
                  <?php } ?>
                </select>
            </div>


            <div class="form-group col-md-4">
                <label>(*) Website</label>
                <input name="website" type="text" class="form-control" placeholder="Website"  value="<?php echo $event->website; ?>">
            </div>

            <div class="form-group col-md-4">
                <label>(*) Contact No </label>
                <input name="telephone" type="text" class="form-control"  placeholder="Contact No " value="<?php echo $event->telephone; ?>" >
            </div>

            <div class="form-group col-md-4">
              <label>(*) Update Photo ( optional )</label>
              <input name="file1" type="file" id="file"/>
            </div>

            <div class="form-group col-md-12">
                <label>(*) Event Info </label>
                <textarea name="event_info" type="text" class="ckeditor form-control"  placeholder="Event Info">
                  <?php echo $event->eventinfo ?>
                </textarea>
            </div>

        </div>

        <div class="row">
          <div class="col-md-3">
            <input type="submit" value="Update Event" class="btn btn-sm btn-primary">
          </div>
        </div>
      </fieldset>

<!-- ******************************************************************** -->

      <?php echo Phalcon\Tag::endForm(); ?>
    </div><!-- end col-md-9 -->


      </div><!-- end wrapper body -->
    </div> <!-- start body wrapper row -->     
  </div> <!-- start body wrapper container-fluid -->
</div><!-- start body wrapper -->


<script type="text/javascript">
$(document).ready(function(){
    $counter = 0;
    $('#addDates').click(function() {
      $counter++;
        var $dom = '';
        $dom += '<div class="row">';
        $dom += '<div class="textMox">';
        $dom += '<div class="form-group col-md-4">';
        $dom += '<label for="dtp_input2" class="control-label">(*) Event Date</label>';
        $dom += '<div class="input-group date form_date " data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">';
        $dom += '<input class="form-control" type="text" name="date[]"  value="" readonly>';
        $dom += '<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>';
        $dom += '<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>';
        $dom += '</div>';
        $dom += '<input type="hidden" id="dtp_input2" value="" /><br/>';
        $dom += '</div>';
        $dom += '<div class="form-group col-md-4">';
        $dom += '<label for="dtp_input3" class=" control-label">(*) time start</label>';
        $dom += '<div class="input-group date form_time " data-date="" data-date-format="hh:ii" data-link-field="dtp_input3" data-link-format="hh:ii">';
        $dom += '<input class="form-control" name="event_start[]" type="text" value="" readonly>';
        $dom += '<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>';
        $dom += '<span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>';
        $dom += '</div>';
        $dom += '<input type="hidden" id="dtp_input3" value="" /><br/>';
        $dom += '</div>';
        $dom += '<div class="form-group col-md-4">';
        $dom += '<label for="dtp_input3" class=" control-label">(*) time end</label>';
        $dom += '<div class="input-group date form_time" data-date="" data-date-format="hh:ii" data-link-field="dtp_input3" data-link-format="hh:ii">';
        $dom += '<input class="form-control" name="event_end[]" type="text" value="" readonly>';
        $dom += '<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>';
        $dom += '<span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>';
        $dom += '</div>';
        $dom += '<input type="hidden" id="dtp_input3" value="" /><br/>';
        $dom += '</div>';
        $dom += '</div>';
        $dom += '</div>';

        $('#fuckDate').append($dom);
        $('.form_date').datetimepicker({
            language:  'en',
            weekStart: 1,
            todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });
        $('.form_time').datetimepicker({
              weekStart: 1,
              todayBtn:  1,
              autoclose: 1,
              todayHighlight: 1,
              startView: 1,
              minView: 0,
              maxView: 1,
              forceParse: 0
          });
      });

        $('#buttonremove').click(function(){
            if ($counter){
                $counter--;
                $('#fuckDate .textMox:last').parent().remove(); 
            }else{
                alert('No More textbox to remove');
            }
        });


});
</script>


<script type="text/javascript">
  $(document).ready(function() {
  
    $('#eventNew').bootstrapValidator({

          message: 'This value is not valid',
          feedbackIcons: {
              valid: 'glyphicon glyphicon-ok',
              invalid: 'glyphicon glyphicon-remove',
              validating: 'glyphicon glyphicon-refresh'
          },
          fields: {
              name: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },
              telephone: {
                  validators: {
                      numeric: {
                          message: '* The telephone must be a number'
                      }
                  }
              },
              event_info: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },
              category: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },
              date: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },
              event_start: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },
              event_end: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }

                  }
              },
              country_id: {
                  validators: {

                  }
              },
              // email: {
              //     validators: {
              //         emailAddress: {
              //             message: 'not a valid email address'
              //         }
              //     }
              // },
              state: {
                  validators: {
 
                  }
              },
              city: {
                  validators: {
 
                  }
              },
              street: {
                  validators: {

                  }
              },

              file1: {
                  validators: {
                      file: {
                          extension: 'jpeg,jpg,png',
                          type: 'image/jpeg,image/png',
                          maxSize: 2097152,   // 2048 * 1024
                          message: 'The selected file is not valid'
                      }
                  }
              }


            }
        });

  $("#country_code" ).change(function() {
      callAjaxGetCountry();
  });

  $('#state').change(function() {
      callAjaxGetCities();
  });

});
      
  function callAjaxGetCountry() {
   var param  = $('#country_code').val();
   $states = "<?php echo $event->state; ?>";

   console.log("states " + $states);

    var datastring = "param=" + param;
   
     $.ajax({
        url: "<?php echo $this->url->getBaseUri() . 'event/getStates'; ?>",
        type: 'GET',
        data: datastring,
        dataType: 'json',
        success: function(data){
            var selectstate = '<option value="">Select State</option>';
            $.each(data, function(i, item) {

               if(data[i].id == $states){
                selectstate += '<option value="'+data[i].id+'" selected>'+data[i].name+'</option>';
               }else{
                selectstate += '<option value="'+data[i].id+'">'+data[i].name+'</option>';
               }
              //console.log(data[i].id);
            });

            $('#state').html('');
            $('#city').html('');
            $('#state').append(selectstate);

        },
      error: function (xhr, ajaxOptions, thrownError) {
        // alert(xhr.status);
        // alert(thrownError);
      }

      });
  }


  function callAjaxGetCities() {

    var param1  = $('#state').val();
    var state = "<?php echo $event->state; ?>";
    var city = "<?php echo $event->city; ?>";

    if(!param1 || 0 === param1.length){
      param1 = state;
    }
    var datastring1 = "param1=" + param1;
    $.ajax({
      url: "<?php echo $this->url->getBaseUri() . 'event/getCities'; ?>",
      type: 'GET',
      data: datastring1,
      dataType: 'json',
      success: function(success){
          var selectcity = '<option value="">Select City</option>';
          $.each(success, function(i, item) {
  
           if(success[i].id == city){
            selectcity += '<option value="'+success[i].id+'" selected>'+success[i].name+'</option>';
           }else{
            selectcity += '<option value="'+success[i].id+'">'+success[i].name+'</option>';
           }

          });

   
          $('#city').html('').append(selectcity);

          
      },
      error: function (xhr, ajaxOptions, thrownError) {
        // alert(xhr.status);
        // alert(thrownError);
      }
    });
   return false;
  }

  $('body').ready(function(){
     callAjaxGetCountry();
     callAjaxGetCities();
  });


</script>