
   <!--  <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBKS-zREGD6arvO2FYRuHiV3--E6KBLmc&signed_in=true&callback=initMap"
        async defer></script>

 -->
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCBKS-zREGD6arvO2FYRuHiV3--E6KBLmc&libraries=places&sensor=false"></script>



<?php
  $ecity = '';
  $cities = Cities::findFirst($event->city);
  if($cities){
    // echo '<span class="glyphicon glyphicon-map-marker"></span>';
    $ecity .= $cities->city_name;
    $ecity .= ', '. $cities->state_code_id;
    $ecity .= ', '.$cities->CountryCodes->country_name;
    if($event->street != ''){
       $event->street.', ';
    }
    $myaddress =  $cities->city_name.",".$cities->CountryCodes->country_name;
  }

  //  $whereurl = urlencode($myaddress);
  //  $location = file_get_contents("http://maps.googleapis.com/maps/api/geocode/json?address=$whereurl&sensor=true");
  //  $a=json_decode($location);
  //  //print_r($a);
  //  $a1 = $a->results[0]->geometry->location->lat;
  //  $a2 = $a->results[0]->geometry->location->lng;
  // $a3 = $a->results[0]->geometry->location->formatted_address;
?>

<script type="text/javascript">
$(document).ready(function(){

    /**
    * Set your date here  (YEAR, MONTH (0 for January/11 for December), DAY, HOUR, MINUTE, SECOND)
    * according to the GMT+0 Timezone
    **/
    var launch = new Date(2016, 06, 14, 11, 00);
    /**
    * The script
    **/
    var message = $('#message');
    var days = $('#days');
    var hours = $('#hours');
    var minutes = $('#minutes');
    var seconds = $('#seconds');
    
    setDate();
    function setDate(){
        var now = new Date();
        if( launch < now ){
            days.html('<h1>0</H1><p>Day</p>');
            hours.html('<h1>0</h1><p>Hour</p>');
            minutes.html('<h1>0</h1><p>Minute</p>');
            seconds.html('<h1>0</h1><p>Second</p>');

        }
        else{
            var s = -now.getTimezoneOffset()*60 + (launch.getTime() - now.getTime())/1000;
            var d = Math.floor(s/86400);
            days.html('<h1>'+d+'</h1><p>Day'+(d>1?'s':''),'</p>');
            s -= d*86400;

            var h = Math.floor(s/3600);
            hours.html('<h1>'+h+'</h1><p>Hour'+(h>1?'s':''),'</p>');
            s -= h*3600;

            var m = Math.floor(s/60);
            minutes.html('<h1>'+m+'</h1><p>Minute'+(m>1?'s':''),'</p>');

            s = Math.floor(s-m*60);
            seconds.html('<h1>'+s+'</h1><p>Second'+(s>1?'s':''),'</p>');
            setTimeout(setDate, 1000);
        }
    }

});

</script>

<style>
    
.boxtemplate .panel-body{

background:#EEE url("//d85wutc1n854v.cloudfront.net/live/imgs/darkgrain.png") repeat scroll 0% 0%;

}
.boxtemplate .panel-body .event-title{
text-shadow: 2px 2px 0px rgba(0,0,0,0.2);
font-color:#333;

}

.boxtemplate .panel-body .event-title{
font-size:42px;
    }



.boxtemplate .panel-body .event-title{
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.boxtemplate .pads {
  border-bottom: 1px solid #c0392b;
/*  border-bottom: 5px solid rgba(43,96,192, 0.8);*/

}


.boxtemplate .head-something{
    height: 50px;
}


.boxtemplate .panel-footer{

   border-top: 5px solid #dddddd;
      margin-top: 0px;
      padding-top: 0px;

}


.boxtemplate .panel-footer .sidebar{

background:#EEE url("http://mybarangay.com/themes3/img/Rome-Google-Map.jpg") repeat scroll 0 50%;

height:500px;
border-right: 1px solid #dddddd;
border-bottom: 1px solid #dddddd;

}
.boxtemplate .panel-footer .contentevent{
    padding: 0px;
    margin: 0px;
}





.list-title a, .list-title {
  color: #222;
  font-size: 18px;
}

.list-title {
  border-bottom: 1px solid #c6c6c6;
  display: block;
  margin-bottom: 15px;
  padding: 10px 0;
  position: relative;
  text-transform: uppercase;
  background: transparent;
}

.list-title:before {
  border-color: #c6c6c6 transparent transparent;
  border-style: solid;
  border-width: 7px;
  bottom: -14px;
  box-sizing: border-box;
  content: " ";
  display: block;
  left: 34px;
  position: absolute;
  z-index: 2;

}

.list-title:after {
  border-color: #efefef transparent transparent;
  border-style: solid;
  border-width: 6px;
  bottom: -12px;
  box-sizing: border-box;
  content: " ";
  display: block;
  left: 35px;
  position: absolute;
  z-index: 2;
}
/* List Border */
.list-border > li {
    color: #333;
  border-top: 1px solid #757575;
    padding-top:5px;
       padding-bottom:5px;
  font-size: 16px;
  position: relative;
}

.list-border > li:first-child {
  border: none;
}

  #map-canvas {
    height: 300px;
    position: relative;
    width: 100%;
    background-color: #CCC;
  }
.eventdetails{
    font-size: 15px;
    color: #333;
}

.eventsDate .panel-heading{
  position: relative;
  border-bottom: 1px solid #ddd;
}

.timer_box{
 
    display: inline-block;
    text-align: center;
    border: 2px solid #b6b6b6;
    padding: 5px 10px;
}
.timer_box h1{
/*    font-size: 48px;*/
    margin-top: 5px;
    margin-bottom: 0px;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #b6b6b6;
}
.timer_box p{ margin-top: 0px;}


/******************************************************************************************************************************
RESPONSIVE
*******************************************************************************************************************************/
@media only screen and (max-width: 520px) {
    .timer_box{ margin: 0 12px 12px 0;}
    .tp-bullets{display: none;}
    #header .container{padding: 20px 0px 20px 0}
    #header-button{ display: none;}
    #appendedInputButtons{
        border-radius: 20px;
        margin-bottom: 25px;
    }
    #slider{display: none;}
    .btn-subscribe{border-radius: 20px;}
    #contact-informations{margin-top: 24px;}
    body {
        background-color: #2c3e50;
    }
}
@media only screen and (max-width: 740px) {
    .timer_box{
        width: 100px;
        padding: 16px 0 0 0;
        margin: 35px 12px;
    }
    #layer{display: none;}
    .timer_box h1{ font-size: 28px;}
    h1{ font-size: 36px;}
}

#timer{
    float: right;

}

fieldset.sched-border{
  border:1px groove #ddd !important;
  padding:0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  -webkit-box-shadow: 0px 0px 0px 0px #000;
      box-shadow: 0px 0px 0px 0px #000;

}


legend.sched-border {
    font-size: 16px !important;
    font-weight: bold !important;
    text-align: left !important;
    width:auto;
    padding:0px 10px;
    border-bottom: none;
    margin-top:15px;
}


#maps {
height: 200px;
position: relative;
width: 100%;
background-color: #CCC;
}

</style>
<div class="body-wrapper" style="margin-top:110px;"> <!-- start body wrapper -->
    <div class="container" > <!-- start body wrapper container-fluid -->
        <div class="row" > <!-- start body wrapper row -->

      <div class="col-md-12 "  >
        <ul class="breadcrumb pull-left" style="padding:5px 0px; margin:0px; text-index:1">
          <li><i class="fa fa-home"></i> MyBarangay</li>
          <li> Event</li>
          <li class="active">Preview</li>
        </ul>
        <div class="clearfix"></div>
      </div>

            <div class="col-md-12">
                <div class="boxtemplate">
                    <div class="panel panel-default">

                        <div class="panel-body pads" >
                            <div class="head-something">
                    
                            <?php
                            if($event->website){
                            ?>
                            <a href="<?php echo $event->website; ?>" class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-globe"></i> Webiste</a>
                            <?php
                            }else{
                            ?>
                            <a href="#" class="btn btn-primary btn-xs" disabled><i class="glyphicon glyphicon-globe"></i> Webiste</a>
                            <?php
                            }
                            ?>
                    <div id="timer" data-animated="FadeIn">
                        <p id="message"></p>
                        <div id="days" class="timer_box"></div>
                        <div id="hours" class="timer_box"></div>
                        <div id="minutes" class="timer_box"></div>
                        <div id="seconds" class="timer_box"></div>
                    </div>
                            </div>
                            <h1 class="event-title list-title">
                                <?php echo '  '.ucfirst($event->name); ?>
                            </h1>
                        </div>

                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-md-3 sidebar" >

  <!--***** location -->
  <div class="locations-list  list-filter">
    <span class="list-title"><i class="fa fa-map-marker"></i> GET DIRECTION</span>

    <div class="form-group">
        <div class="well">
            Location: <?php echo $myaddress; ?>
        </div>
    </div>
   <div class="form-group">
  <input id="pac-input" class="controls form-control" type="text"  placeholder="Enter a location">
   </div>






    <div class="form-group">
    <button name="searchBtn" type="button" id="btn-direction" class="btn btn-sm  btn-primary" ><i class="fa fa-search"></i> Get Direction</button>
    </div>

    <div id="maps"></div>


  </div>
   



                                </div>
                                <div class="col-md-9 contentevent">
                                         <script>
      function calculateRoute(from, to) {
        // Center initialized to Naples, Italy
        var myOptions = {
          zoom: 10,
          center: new google.maps.LatLng(40.84, 14.25),
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        // Draw the map
        var mapObject = new google.maps.Map(document.getElementById("map"), myOptions);

        var directionsService = new google.maps.DirectionsService();
        var directionsRequest = {
          origin: from,
          destination: to,
          travelMode: google.maps.DirectionsTravelMode.DRIVING,
          unitSystem: google.maps.UnitSystem.METRIC
        };
        directionsService.route(
          directionsRequest,
          function(response, status)
          {
            if (status == google.maps.DirectionsStatus.OK)
            {
              new google.maps.DirectionsRenderer({
                map: mapObject,
                directions: response
              });
            }
            else
              $("#error").append("Unable to retrieve your route<br />");
          }
        );
      }

      $(document).ready(function() {
        // If the browser supports the Geolocation API
        if (typeof navigator.geolocation == "undefined") {
          $("#error").text("Your browser doesn't support the Geolocation API");
          return;
        }

        $("#from-link, #to-link").click(function(event) {
          event.preventDefault();
          var addressId = this.id.substring(0, this.id.indexOf("-"));

          navigator.geolocation.getCurrentPosition(function(position) {
            var geocoder = new google.maps.Geocoder();
            geocoder.geocode({
              "location": new google.maps.LatLng(position.coords.latitude, position.coords.longitude)
            },
            function(results, status) {
              if (status == google.maps.GeocoderStatus.OK)
                $("#" + addressId).val(results[0].formatted_address);
              else
                $("#error").append("Unable to retrieve your address<br />");
            });
          },
          function(positionError){
            $("#error").append("Error: " + positionError.message + "<br />");
          },
          {
            enableHighAccuracy: true,
            timeout: 10 * 1000 // 10 seconds
          });
        });

        $("#calculate-route").submit(function(event) {
          event.preventDefault();
          calculateRoute($("#from").val(), $("#to").val());
        });
      });
    </script>  
                  <style type="text/css">
#map {
height: 300px;
position: relative;
width: 100%;
background-color: #CCC;
}

     .controls {
        margin-top: 16px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #pac-input {
        background-color: #fff;
        padding: 0 11px 0 13px;
        width: 400px;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        text-overflow: ellipsis;
      }

      #pac-input:focus {
        border-color: #4d90fe;
        margin-left: -1px;
        padding-left: 14px;  /* Regular padding-left + 1. */
        width: 401px;
      }

      .pac-container {
        font-family: Roboto;
      }

      #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
      }

      #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }








    </style>





    <div id="map"></div>



     <div class="row" style="margin:10px 15px;">
            <fieldset class="sched-border">
            <legend class="sched-border"> Panel Directions</legend>
    <p id="error"></p>
        <div id="right-panel"></div>
            </fieldset>
        </div>
    




<input type="hidden" id="start" value="<?php echo $myaddress;  ?>">
<input type="hidden" id="to" value="">

    <script>
// function initMap() {

//   var directionsDisplay = new google.maps.DirectionsRenderer;
//   var directionsService = new google.maps.DirectionsService;
//   var map = new google.maps.Map(document.getElementById('map'), {
//     zoom: 7,
//     center: {lat: 41.85, lng: -87.65}
//   });
//   directionsDisplay.setMap(map);
//   directionsDisplay.setPanel(document.getElementById('right-panel'));

//   var control = document.getElementById('floating-panel');
//   control.style.display = 'block';
//   map.controls[google.maps.ControlPosition.TOP_CENTER].push(control);

//   var onChangeHandler = function() {
//     calculateAndDisplayRoute(directionsService, directionsDisplay);
//   };
//   document.getElementById('start').addEventListener('change', onChangeHandler);
//   document.getElementById('end').addEventListener('change', onChangeHandler);



//  var markers = [];
//   var map = new google.maps.Map(document.getElementById('maps'), {
//     mapTypeId: google.maps.MapTypeId.ROADMAP
//   });

//   var defaultBounds = new google.maps.LatLngBounds(
//       new google.maps.LatLng(-33.8902, 151.1759),
//       new google.maps.LatLng(-33.8474, 151.2631));
//   map.fitBounds(defaultBounds);

//   // Create the search box and link it to the UI element.
//   var input = /** @type {HTMLInputElement} */(
//       document.getElementById('pac-input'));

//   var searchBox = new google.maps.places.SearchBox(
//     /** @type {HTMLInputElement} */(input));

//   google.maps.event.addListener(searchBox, 'places_changed', function() {
//     var places = searchBox.getPlaces();

//     for (var i = 0, marker; marker = markers[i]; i++) {
//       marker.setMap(null);
//     }


//     // For each place, get the icon, place name, and location.
//     markers = [];
//     var bounds = new google.maps.LatLngBounds();
//     for (var i = 0, place; place = places[i]; i++) {
//       var image = {
//         url: place.icon,
//         size: new google.maps.Size(71, 71),
//         origin: new google.maps.Point(0, 0),
//         anchor: new google.maps.Point(17, 34),
//         scaledSize: new google.maps.Size(25, 25)
//       };

//       // Create a marker for each place.
//       var marker = new google.maps.Marker({
//         map: map,
//         icon: image,
//         title: place.name,
//         position: place.geometry.location
//       });

//       console.log('haha  ' + place.formatted_address);

//       markers.push(marker);

//       bounds.extend(place.geometry.location);
//     }

//     map.fitBounds(bounds);
//   });

//   google.maps.event.addListener(map, 'bounds_changed', function() {
//     var bounds = map.getBounds();
//     searchBox.setBounds(bounds);
//   });


// }



// function calculateAndDisplayRoute(directionsService, directionsDisplay) {
//   var start = document.getElementById('start').value;
//   var end = document.getElementById('end').value;
//   directionsService.route({
//     origin: start,
//     destination: end,
//     travelMode: google.maps.TravelMode.DRIVING
//   }, function(response, status) {
//     if (status === google.maps.DirectionsStatus.OK) {
//       directionsDisplay.setDirections(response);
//     } else {
//       window.alert('Directions request failed due to ' + status);
//     }
//   });
// }

function initMap() {


 var markers = [];
  var map = new google.maps.Map(document.getElementById('maps'), {
    mapTypeId: google.maps.MapTypeId.ROADMAP
  });

  var defaultBounds = new google.maps.LatLngBounds(
      new google.maps.LatLng(-33.8902, 151.1759),
      new google.maps.LatLng(-33.8474, 151.2631));
  map.fitBounds(defaultBounds);

  // Create the search box and link it to the UI element.
  var input = /** @type {HTMLInputElement} */(
      document.getElementById('pac-input'));

  var searchBox = new google.maps.places.SearchBox(
    /** @type {HTMLInputElement} */(input));

  google.maps.event.addListener(searchBox, 'places_changed', function() {
    var places = searchBox.getPlaces();

    for (var i = 0, marker; marker = markers[i]; i++) {
      marker.setMap(null);
    }


    // For each place, get the icon, place name, and location.
    markers = [];
    var bounds = new google.maps.LatLngBounds();
    for (var i = 0, place; place = places[i]; i++) {
      var image = {
        url: place.icon,
        size: new google.maps.Size(71, 71),
        origin: new google.maps.Point(0, 0),
        anchor: new google.maps.Point(17, 34),
        scaledSize: new google.maps.Size(25, 25)
      };

      // Create a marker for each place.
      var marker = new google.maps.Marker({
        map: map,
        icon: image,
        title: place.name,
        position: place.geometry.location
      });


      markers.push(marker);

      bounds.extend(place.geometry.location);

      $('#to').val(place.formatted_address);
    }

    map.fitBounds(bounds);
  });

  google.maps.event.addListener(map, 'bounds_changed', function() {
    var bounds = map.getBounds();
    searchBox.setBounds(bounds);
  });

}

function calculateRoute(to) {


	var from = $('#start').val();

console.log('1: ' + from + '- 2' + to);

        var myOptions = {
          zoom: 10,
          center: new google.maps.LatLng(40.84, 14.25),
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        // Draw the map
        var mapObject = new google.maps.Map(document.getElementById("map"), myOptions);

        var directionsService = new google.maps.DirectionsService();
        var directionsRequest = {
          origin: from,
          destination: to,
          travelMode: google.maps.DirectionsTravelMode.DRIVING,
          unitSystem: google.maps.UnitSystem.METRIC
        };
        directionsService.route(
          directionsRequest,
          function(response, status)
          {
            if (status == google.maps.DirectionsStatus.OK)
            {
              new google.maps.DirectionsRenderer({
                map: mapObject,
                directions: response
              });
                 $("#error").append("yahoo.com");
            }
            else
              $("#error").append("Unable to retrieve your route<br />");
          }
        );
}


$("#btn-direction").click(function() {

  calculateRoute($("#to").val());


});





google.maps.event.addDomListener(window, 'load', initMap);

    </script>




  
                                </div>

                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end body wrapper row -->
    </div><!-- end body wrapper container-fluid -->
</div><!-- end body wrapper -->







