

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script> 
<?php
  $ecity = '';
  $cities = Cities::findFirst($event->city);
  if($cities){
    // echo '<span class="glyphicon glyphicon-map-marker"></span>';
    $ecity .= $cities->city_name;
    $ecity .= ', '. $cities->state_code_id;
    $ecity .= ', '.$cities->CountryCodes->country_name;
    if($event->street != ''){
       $event->street.', ';
    }
    $myaddress =  $cities->city_name.",".$cities->CountryCodes->country_name;
  }

   $whereurl = urlencode($myaddress);
   $location = file_get_contents("https://maps.googleapis.com/maps/api/geocode/json?address=$whereurl&sensor=true");
   $a=json_decode($location);
   //print_r($a);
   $a1 = $a->results[0]->geometry->location->lat;
   $a2 = $a->results[0]->geometry->location->lng;
  // $a3 = $a->results[0]->geometry->location->formatted_address;
?>

<script type="text/javascript">
$(document).ready(function(){

    /**
    * Set your date here  (YEAR, MONTH (0 for January/11 for December), DAY, HOUR, MINUTE, SECOND)
    * according to the GMT+0 Timezone
    **/
    var launch = new Date(2016, 06, 14, 11, 00);
    /**
    * The script
    **/
    var message = $('#message');
    var days = $('#days');
    var hours = $('#hours');
    var minutes = $('#minutes');
    var seconds = $('#seconds');
    
    setDate();
    function setDate(){
        var now = new Date();
        if( launch < now ){
            days.html('<h1>0</H1><p>Day</p>');
            hours.html('<h1>0</h1><p>Hour</p>');
            minutes.html('<h1>0</h1><p>Minute</p>');
            seconds.html('<h1>0</h1><p>Second</p>');

        }
        else{
            var s = -now.getTimezoneOffset()*60 + (launch.getTime() - now.getTime())/1000;
            var d = Math.floor(s/86400);
            days.html('<h1>'+d+'</h1><p>Day'+(d>1?'s':''),'</p>');
            s -= d*86400;

            var h = Math.floor(s/3600);
            hours.html('<h1>'+h+'</h1><p>Hour'+(h>1?'s':''),'</p>');
            s -= h*3600;

            var m = Math.floor(s/60);
            minutes.html('<h1>'+m+'</h1><p>Minute'+(m>1?'s':''),'</p>');

            s = Math.floor(s-m*60);
            seconds.html('<h1>'+s+'</h1><p>Second'+(s>1?'s':''),'</p>');
            setTimeout(setDate, 1000);

        }
    }


	var map;
	var spot = new google.maps.LatLng("<?=$a1?>","<?=$a2?>");
	var mapCenter = new google.maps.LatLng("<?=$a1?>","<?=$a2?>");
	var mapOptions = { center: mapCenter, zoom: 14, mapTypeId: google.maps.MapTypeId.ROADMAP };
	function initialize() {
		map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
		var iconShadow = new google.maps.MarkerImage(
		new google.maps.Size(59,32),
		new google.maps.Point(0,0),
		new google.maps.Point(15,32));

		var marker1 = new google.maps.Marker({
			map: map,
			position: spot,
			shadow: iconShadow
		});
		var infowindow1 = new google.maps.InfoWindow({content:"<?=$myaddress?>"});
		infowindow1.open(map,marker1);
	}
	google.maps.event.addDomListener(window, 'load', initialize);

});

</script>

<style>
    
.boxtemplate .panel-body{

background:#EEE url("//d85wutc1n854v.cloudfront.net/live/imgs/darkgrain.png") repeat scroll 0% 0%;

}
.boxtemplate .panel-body .event-title{
text-shadow: 2px 2px 0px rgba(0,0,0,0.2);
font-color:#333;

}

.boxtemplate .panel-body .event-title{
font-size:42px;
    }



.boxtemplate .panel-body .event-title{
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.boxtemplate .pads {
  border-bottom: 1px solid #c0392b;
/*  border-bottom: 5px solid rgba(43,96,192, 0.8);*/


}


.boxtemplate .head-something{
    height: 50px;
}


.boxtemplate .panel-footer{

   border-top: 5px solid #dddddd;
      margin-top: 0px;
      padding-top: 0px;

}


.boxtemplate .panel-footer .sidebar{
background:#efefef;
height:500px;
border-right: 1px solid #dddddd;
border-bottom: 1px solid #dddddd;

}
.boxtemplate .panel-footer .contentevent{
    padding: 0px;
    margin: 0px;
    border-left:1px solid #c4c4c4;
}





.list-title a, .list-title {
  color: #222;
  font-size: 18px;
}

.list-title {
  border-bottom: 1px solid #c6c6c6;
  display: block;
  margin-bottom: 15px;
  padding: 10px 0;
  position: relative;
  text-transform: uppercase;
  background: transparent;
}

.list-title:before {
  border-color: #c6c6c6 transparent transparent;
  border-style: solid;
  border-width: 7px;
  bottom: -14px;
  box-sizing: border-box;
  content: " ";
  display: block;
  left: 34px;
  position: absolute;
  z-index: 2;

}

.list-title:after {
  border-color: #efefef transparent transparent;
  border-style: solid;
  border-width: 6px;
  bottom: -12px;
  box-sizing: border-box;
  content: " ";
  display: block;
  left: 35px;
  position: absolute;
  z-index: 2;
}





.list-title1 a, .list-title1 {
  color: #222;
  font-size: 18px;
}

.list-title1 {
  border-bottom: 1px solid #c6c6c6;
  display: block;
  margin-bottom: 15px;
  padding: 10px 0;
  position: relative;
  text-transform: uppercase;
  background: transparent;
}

.list-title1:before {
  border-color: #c6c6c6 transparent transparent;
  border-style: solid;
  border-width: 7px;
  bottom: -14px;
  box-sizing: border-box;
  content: " ";
  display: block;
  left: 34px;
  position: absolute;
  z-index: 2;

}

.list-title1:after {
  border-color: #FCFCFC transparent transparent;
  border-style: solid;
  border-width: 6px;
  bottom: -12px;
  box-sizing: border-box;
  content: " ";
  display: block;
  left: 35px;
  position: absolute;
  z-index: 2;
}


/* List Border */
.list-border > li {
    color: #333;
  border-top: 1px solid #757575;
    padding-top:5px;
       padding-bottom:5px;
  font-size: 16px;
  position: relative;
}

.list-border > li:first-child {
  border: none;
}

  #map-canvas {
    height: 300px;
    position: relative;
    width: 100%;
    background-color: #CCC;
  }
.eventdetails{
    font-size: 15px;
    color: #333;
}

.eventsDate .panel-heading{
  position: relative;
  border-bottom: 1px solid #ddd;
}

.timer_box{
 
    display: inline-block;
    text-align: center;
    border: 2px solid #b6b6b6;
    padding: 5px 10px;
}
.timer_box h1{
/*    font-size: 48px;*/
    margin-top: 5px;
    margin-bottom: 0px;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #b6b6b6;
}
.timer_box p{ margin-top: 0px;}


/******************************************************************************************************************************
RESPONSIVE
*******************************************************************************************************************************/
@media only screen and (max-width: 520px) {
    .timer_box{ margin: 0 12px 12px 0;}
    .tp-bullets{display: none;}
    #header .container{padding: 20px 0px 20px 0}
    #header-button{ display: none;}
    #appendedInputButtons{
        border-radius: 20px;
        margin-bottom: 25px;
    }
    #slider{display: none;}
    .btn-subscribe{border-radius: 20px;}
    #contact-informations{margin-top: 24px;}
    body {
        background-color: #2c3e50;
    }
}
@media only screen and (max-width: 740px) {
    .timer_box{
        width: 100px;
        padding: 16px 0 0 0;
        margin: 35px 12px;
    }
    #layer{display: none;}
    .timer_box h1{ font-size: 28px;}
    h1{ font-size: 36px;}
}

#timer{
    float: right;

}
</style>
<div class="body-wrapper" style="margin-top:110px;"> <!-- start body wrapper -->
    <div class="container" > <!-- start body wrapper container-fluid -->
        <div class="row" > <!-- start body wrapper row -->

			<div class="col-md-12 "  >
				<ul class="breadcrumb pull-left" style="padding:5px 0px; margin:0px; text-index:1">
					<li><i class="fa fa-home"></i> MyBarangay</li>
					<li> Event</li>
					<li class="active">Preview</li>
				</ul>
				<div class="clearfix"></div>
			</div>
<style type="text/css">
  /* Variables */
/* Basic stuff */


.object-fit_cover {
  -o-object-fit: cover;
     object-fit: cover;
}
.image {
  float: left;
  width: 100%;
  margin: 0 30px 20px 0;


}
img[class="object-fit_cover"] {
  width: 100%;
}



/* Dmitry Filimonov 2013 */


</style>
            <div class="col-md-12">
                <div class="boxtemplate">
                    <div class="panel panel-default">

                        <div class="panel-body pads" >

    <div class="col-md-4" > 
        <?php
        $eventPhoto = 'img/defaultImage.jpg';
        $eventCount = count($event->eventPhotos);
        if ($eventCount > 0) {
          $eventPhoto = $event->eventPhotos[0]->file_path.$event->eventPhotos[0]->filename;
        }
        ?>
<div class="image">
         
<?php echo Phalcon\Tag::image([$eventPhoto, 'class' => 'img-thumbnail object-fit_cover', 'style' => 'width:400px;height:200px']); ?>
</div>


       

    </div>

      <div class="col-md-8" > 
                  <div class="head-something">
                    

        <?php if (isset($userSession['id'])) {  ?>
          <?php if($userSession['id'] == $event->member_id) { ?>
                            <a href="<?php echo $this->url->getBaseUri().'event/update2/'.$event->id; ?>" class="btn btn-primary btn-xs" ><i class="glyphicon glyphicon-globe"></i> UPDATE</a>

                            <a href="<?php echo $this->url->getBaseUri().'event/delete_event/'.$event->id; ?>" class="btn btn-primary btn-xs" ><i class="fa fa-trash"></i> DELETE</a>


          <?php } ?>
        <?php } ?>



<!--                    <div id="timer" data-animated="FadeIn">
                        <p id="message"></p>
                        <div id="days" class="timer_box"></div>
                        <div id="hours" class="timer_box"></div>
                        <div id="minutes" class="timer_box"></div>
                        <div id="seconds" class="timer_box"></div>
                    </div> -->
                        <?php 
                        $success = '';
                        if ($this->session->has("successMess")) {
                        $success = $this->session->get("successMess");
                        ?>
                        <div class="alert alert-success fade in">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                        <strong>Success!</strong> <?=$success?>
                        </div>
                        <?php $this->session->remove("successMess"); } ?>
                        <?php 
                        $error = '';
                        if ($this->session->has("errorMess")) {
                        $error = $this->session->get("errorMess");
                        ?>
                        <div class="alert alert-danger fade in">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                        <strong>Error! </strong> <?=$error?>
                        </div>

                        <?php $this->session->remove("errorMess"); } ?>

                            </div>

                            <h1 class="event-title list-title">
                                <?php echo '  '.ucfirst($event->name); ?>
                            </h1>



    </div>




          
                        </div>

                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-md-4 " >

									<div class="info-list">
                                        <h4 class="list-title1">Info</h4>
										<ul class="list-border">
											<li><i class=" fa fa-phone"></i> Contact :  <?php echo $event->telephone; ?></li>
											<li><i class=" fa fa-calendar"></i> Date posted :  <?php echo date('M d, Y ', strtotime($event->created)); ?> </li>
                                            <li><i class=" fa fa-globe"></i> Website :  <?php echo ($event->website != '')? $event->website : '' ; ?> </li>
										</ul>
									</div>
                                    <div class="schedule-list">
                                    <h4 class="list-title1">Schedule</h4>
                                        <ul class="list-border">
                                            <?php foreach($event->EventDatetimes as $date){?>
                                            <li >

                                            <i class="fa fa-calendar"></i> <?php 

                                                if($date->date == '0000-00-00'){
                                                    echo 'undefined date';
                                                }else{
                                                    echo date('l jS \of M Y ', strtotime($date->date)) . "<br>"; ; 
                                                }

                                            ?>
                                            <i class="fa fa-clock-o"></i> <?php 
                                                if($date->from_time == '00:00:00'){
                                                    echo 'Null';
                                                }else{
                                                   echo date('h:i A', strtotime($date->from_time));
                                                }
                                                echo ' - ';
                                                if($date->to_time == '00:00:00'){
                                                    echo 'Null';
                                                }else{
                                                   echo date('h:i A', strtotime($date->to_time));
                                                }
                                             ?>
                                            </li>
                                            <?php }  ?>
                                        </ul>
                                    </div>
                                    <div class="organizer-list">
                                    </div>
                                    <div class="ticket-list">
                                        
                                         <?php if(!empty($event->EventTickets[0])){ ?>


                                            <h4 class="list-title1">Ticket</h4>
                                            <ul class="list-border">
                                                <?php foreach ($event->EventTickets as $ticket) { ?>
                                                    <li class="ticket-order">
                                                    <label>Ticket Type :</label>
                                                    <?php echo $ticket->name ?>
                                                    <p><small class="text-muted"><i><?php echo $ticket->ticket_desc; ?></i></small>
                                                    </p>
                                                    <p>
                                                    <label>Price:</label>
<?php
                                        if($ticket->price == 'F'){
                                            echo 'FREE';
                                        }else{
                    $price = '';
                    switch ($ticket->currency_type) {
                      case 1:
                        $price = '$ USD';
                        break;
                      case 2:
                        $price = '₱ PHP';
                        break;
                      case 3:
                        $price = '$ CAD';
                        break;
                      default:
                        $price = 'Currency Undefined';
                      break;
                    }
           
                                            echo $price.' '.number_format($ticket->price);
                                        }
?>

                                                    </p>

                                                    
                                                    </li>
                                                <?php } ?>
                                                 <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">Order Ticket</button>
                                            </ul>
                                        <?php
                                            }
                                        ?>


                                    </div>

                                </div>
                                <div class="col-md-8 contentevent">
									                      
									<div id="map-canvas"></div>
									<?php
										// $eventname = str_replace(" ","+",$event->name);
										// echo $this->tag->linkTo(array('event/view_direction/'.$event->id.'/'.$eventname, 'Get direction Here!', 'class' => 'btn btn-primary'));
									?>

									<div class=" col-md-10 col-md-offset-1">
									    <div class="eventdetails">
									    <h5 class="list-title1"><strong>Details</strong></h5>
									        <?php echo $event->eventinfo; ?>
									    </div>
									</div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end body wrapper row -->
    </div><!-- end body wrapper container-fluid -->
</div><!-- end body wrapper -->




<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Order Ticket</h4>
      </div>

        <?php echo Phalcon\Tag::form(array("event/event_request", "method" => "post", "id" => "eventRequest")); ?>

      <div class="modal-body">
       <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="form-group col-md-12">
                        <label  for="">(*) First Name</label>
                        <input type="hidden" id="eventid" name="eventid" value="<?php echo $event->id; ?>">
                        <input type="hidden" id="eventname" name="eventname" value="<?php echo $event->name; ?>">
                        <input type="text" class="form-control" id="fname" name="first_name" placeholder="first name" value="">
                    </div>
                    <div class="form-group col-md-12">
                        <label  for="">Last Name</label>
                        <input type="text" class="form-control" id="lname" name="last_name" placeholder="last name" value="">
                    </div>
                    <div class="form-group col-md-12">
                        <label  for="">(*) Contact Number</label>
                        <input type="text" class="form-control" id="contact" name="contact_number" placeholder="contact" value="">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="">(*) Email</label>
                        <input type="text" class="form-control" id="email" name="email" placeholder="email" value="">
                    </div>
                    <div class="form-group col-md-12">
                    <label for="">(*) Captcha</label><div class="clearfix"></div>
                        <label class="col-xs-4 control-label" id="captchaOperation"  style="font-size:18px;font-weight:bold"></label>
                        <div class="col-xs-8">
                        <input type="text" class="form-control" name="captcha" />
                        </div>
                    </div>


                </div>

                <?php if(!empty($event->EventTickets)){ ?>
                          <div class="form-group col-md-12">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Ticket Type</th>
                                        <th>Qty</th> 
                                        <th>Price</th> 
                                    </tr>
                                </thead>
                                <tbody>
                                    <?php foreach ($event->EventTickets as $ticket) { ?>
                                    <tr>
                                        <td><?php echo $ticket->name ?></td>
                                        <input type="hidden" name="ticket-name[]" class="ticket-name"  value="<?php echo $ticket->name; ?>" >
                                        <input type="hidden" name="ticket-id[]" value="<?php echo $ticket->id; ?>" >
                                        <td>
                                            <select name="ticket-qty[]" class="ticket-qty">
                                                <?php 
                                                echo '<option value=""></option>';
                                                for ($i=1; $i < 21; $i++) { 
                                                    echo '<option value="'.$i.'">'.$i.'</option>';
                                                }
                                                ?>
                                            </select>
                                        </td>
                                        <td><?php 
                                        if($ticket->price == 'F'){
                                            echo 'FREE';
                                        }else{

                    $price = '';
                    switch ($ticket->currency_type) {
                      case 1:
                        $price = '$ USD';
                        break;
                      case 2:
                        $price = '₱ PHP';
                        break;
                      case 3:
                        $price = '$ CAD';
                        break;
                      default:
                        $price = 'Currency Undefined';
                      break;
                    }
           
                                            echo $price.' '.number_format($ticket->price);
                                        }
                                         ?>
                                        <input type="hidden" name="ticket-price[]" value="<?php echo $ticket->price; ?>" >
                                        </td>
                                    </tr>

                                    <?php } ?>
                                </tbody>
                            </table>
                          </div>
                        <?php } ?>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary " id="sendEmail"><i class="fa fa-envelope"></i> Send</button>
                </div>
            <?php echo Phalcon\Tag::endForm(); ?>
        </div>
    </div>
</div>



<script>
    $(function(){
       //******************************************************************
       //
    function randomNumber(min, max) {
        return Math.floor(Math.random() * (max - min + 1) + min);
    }
    function generateCaptcha() {
        $('#captchaOperation').html([randomNumber(1, 100), '+', randomNumber(1, 200), '='].join(' '));
    }
    generateCaptcha();
   $('#eventRequest').bootstrapValidator({





          message: 'This value is not valid',
          feedbackIcons: {
              valid: 'glyphicon glyphicon-ok',
              invalid: 'glyphicon glyphicon-remove',
              validating: 'glyphicon glyphicon-refresh'
          },
          fields: {
                first_name: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
                },
                last_name: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
                },
                contact_number: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
                },
                email: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      },
                      emailAddress: {
                        message: 'The value is not a valid email address'
                      }                  
                  }
                },
                captcha: {
                    validators: {
                        callback: {
                            message: 'Wrong answer',
                            callback: function (value, validator, $field) {
                                // Determine the numbers which are generated in captchaOperation
                                var items = $('#captchaOperation').html().split(' '),
                                    sum   = parseInt(items[0]) + parseInt(items[2]);
                                return value == sum;
                            }
                        }
                    }
                }

            }
        })
        .on('err.form.fv', function(e) {
            generateCaptcha();
        });



        $('#sendEmailasd').click( function(){
                var ticket_type = $('input[name="ticket-name[]"]').map(function(){ 
                    return this.value; 
                }).get();
                var ticket_id = $('input[name="ticket-id[]"]').map(function(){ 
                    return this.value; 
                }).get();
                var ticket_qty = $('select[name="ticket-qty[]"]').map(function(){ 
                    return this.value; 
                }).get();
                var fname   = $('#fname').val();
                var lname   = $('#lname').val();
                var contact = $('#contact').val();
                var email   = $('#email').val();
                var eventid   = $('#eventid').val();
                var eventname   = $('#eventname').val();

            $.ajax({
                url: "<?php echo $this->url->getBaseUri().'event/eventEmailRequest' ?>",
                type:'POST',
                dataType: 'json',
                data: {eventname:eventname,eventids: eventid,fnames: fname,lnames: lname,contacts: contact,emails: email,'ticket_type[]': ticket_type,'ticket_id[]': ticket_id, 'ticket_qty[]': ticket_qty},
                beforeSend: function () {
                    $('.loadingz').fadeIn();
                },
                success:function(data){
                    if(data.type == 'ok'){
                        console.log(data.text);
                    }else{
                        console.log('SORRY');
                    }          
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Ops! something went wrong, please try again');
                },
                complete: function () {
                    $('.loadingz').fadeOut();
                }
            });

       });


    });



</script>