<?php echo $this->tag->stylesheetLink("themes/mybarangay1/css/select2.min.css"); ?>
<?php echo $this->tag->javascriptInclude("themes/mybarangay1/js/select2.min.js"); ?>



<style>
 fieldset.sched-border{
  border:1px groove #ddd !important;
  padding:0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  -webkit-box-shadow: 0px 0px 0px 0px #000;
      box-shadow: 0px 0px 0px 0px #000;

}

legend.sched-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width:auto;
    padding:0px 10px;
    border-bottom: none;
}
   

</style>
    <div class="col-md-12 "  >
        <div class="col-md-12 col-xs-12"  >
            <ul class="breadcrumb pull-left" style="padding:5px 0px; margin:0px">
                <li><i class="fa fa-home"></i> MyBarangay</li>
                <li> Business</li>
                <li class="active">Add Photos</li>
            </ul>
        </div>
    </div>

<div class="body-wrapper" style="margin-top:110px;"> <!-- start body wrapper -->
    <div class="container" > <!-- start body wrapper container -->
        <div class="row" > <!-- start body wrapper row -->

            <!-- start col-md-12 -->
            <div class="col-md-12 col-sm-12 col-xs-12 boxiy" style="min-height:500px;"> 
                <div class="col-md-9" style="margin-top:10px">
                    <fieldset class="sched-border" >

                        <?php 
                        $success = '';
                        if ($this->session->has("successMess")) {
                        $success = $this->session->get("successMess");
                        ?>
                        <div class="alert alert-success fade in">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                        <strong>Success!</strong> <?=$success?>
                        </div>
                        <?php $this->session->remove("successMess"); } ?>
                        <?php 
                        $error = '';
                        if ($this->session->has("errorMess")) {
                        $error = $this->session->get("errorMess");
                        ?>
                        <div class="alert alert-danger fade in">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                        <strong>Error! </strong> <?=$error?>
                        </div>


                        <?php $this->session->remove("errorMess"); } ?>

                        <legend class="sched-border">Add Business Photos</legend>

                                            <?php
                                                $busname = str_replace(" ","+",$business->name);
                                                echo Phalcon\Tag::linkTo(array("business/update_business/".$business->id.'/'.$busname,
                                                 "Update Business", "class" => "btn btn-sm btn-primary pull-right"));
                                            ?>
                                            <?php
                                                $busname = str_replace(" ","+",$business->name);
                                                echo Phalcon\Tag::linkTo(array("business/add_review_option/".$business->id.'/'.$busname,
                                                 "Add Reviews", "class" => "btn btn-sm btn-primary pull-right"));
                                            ?>

                            <div class="clearfix"></div>
                        <legend class="pull-right" style="text-align:left">
                        <i class="fa fa-star"></i> <b><?php echo $business->name; ?></b> add business photos</legend>

                                <div class="panel panel-default" style="border:none;">
                                    <?php echo Phalcon\Tag::form(array("business/add_business_photo/".$business->id,
                                     "method" => "post", "id" => "imageform", "name" => "imageform",
                                     "enctype"  => "multipart/form-data")); ?>
                                        <div class="panel-heading">
                               
                                            <div class="form-group">
                                                <p>Please Choose Image: </p>
                                                <input class='file' multiple="multiple" type="file" class="form-control" name="images[]" id="images" placeholder="Please choose your image">
                                                <span class="help-block"></span>
                                            </div>
                                            <div id="loader" style="display: none;">
                                                Please wait image uploading to server....
                                            </div>
                                            
                                        </div>
                                        <div class="panel-body">
                                            <div id="uploaded_images" class="uploaded-images">
                                                <div id="error_div">
                                                </div>
                                                <div id="success_div" >
                                                </div>
                                            </div>

                                        </div>
                                        <div class="panel-footer">
                                               <input type="submit" value="Save" name="image_upload" id="image_upload" class="btn btn-sm btn-primary pull-right"/>
                                        </div>
                                    <?php  echo Phalcon\Tag::endForm(); ?>
                                </div>
                    </fieldset>
                </div>


                <div class="col-md-3">
                    <div class="well" style="margin-top:27px;padding-top:0px">
                        <h2 >Negosyo</h2>
                        <legend>Get your business listed in MyBarangay.</legend>
                        <div class="left-image" style="width:200px;margin:0 auto">
                            <img src="<?php echo $this->url->getBaseUri().'themes/mybarangay1/img/biz/new_biz.jpg'; ?>" class="img-responsive img-rounded img-block">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<?php echo $this->tag->javascriptInclude("themes3/themes/formInput/form.input.min.js"); ?>

<input type="hidden" id="base_path" value="<?php echo $this->url->getBaseUri(); ?>">
<script type="text/javascript">
(function() {
    $('#imageform').ajaxForm({
        beforeSubmit: function() {  
            count = 0;
            val = $.trim( $('#images').val() );
            console.log(val);
            
            if( val == '' ){
                count= 1;
                $( "#images" ).next('span').html( "Please select your images" );
            }
            
            if(count == 0){
                for (var i = 0; i < $('#images').get(0).files.length; ++i) {
                    img = $('#images').get(0).files[i].name;
                    var extension = img.split('.').pop().toUpperCase();
                    if(extension!="PNG" && extension!="JPG" && extension!="GIF" && extension!="JPEG"){
                        count= count+ 1
                    }
                }
                if( count> 0) $( "#images" ).next('span').html( "Please select valid images" );
            }
            
            
            if( count> 0){
                return false;
            } else {
                $( "#images" ).next('span').html( "" );
            }
            
        },
        
        beforeSend:function(){
           $('#loader').show();
           $('#image_upload').hide();
        },
        success: function(msg) {
        },
        complete: function(xhr) {
            $('#loader').hide();
            $('#image_upload').show();
            
            $('#images').val('');
            $('#error_div').html('');
            result = xhr.responseText;
            result = $.parseJSON(result);
            base_path = $('#base_path').val();
            $.each(result, function(index, value){
                if( value.success ){
                    name = base_path+'img/business/'+value.success;
                    html = '';
                    html+= '<image src="'+name+'" class="thumbnail" style="width:200px;">';
                    $('#uploaded_images #success_div').append( html );
                    $('#message').append( name + ' successfully added ' );
                } else if( value.error ){
                    error = value.error
                    html = '';
                    html+='<p>'+error+'</p>';
                    $('#uploaded_images #error_div').append( html );
                }
                
            });
            $('#error_div').delay(5000).fadeOut('slow');
            $('#message').delay(5000).fadeOut('slow');

        }
    }); 
    
})();      

</script>

