<?php echo $this->tag->stylesheetLink("themes/mybarangay1/css/select2.min.css"); ?>
<?php echo $this->tag->javascriptInclude("themes/mybarangay1/js/select2.min.js"); ?>
<style>
 fieldset.sched-border{
  border:1px groove #ddd !important;
  padding:0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  -webkit-box-shadow: 0px 0px 0px 0px #000;
      box-shadow: 0px 0px 0px 0px #000;

}


legend.sched-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width:auto;
    padding:0px 10px;
    border-bottom: none;
}
.help-block{
  position: absolute;
/*  visibility: hidden;*/
right:20px;
}


</style>


<div class="body-wrapper" style="margin-top:110px;"> <!-- start body wrapper -->
    <div class="container" > <!-- start body wrapper container -->
        <div class="row" > <!-- start body wrapper row -->

            <div class="col-md-12 "  >
                <div class="col-md-12 col-xs-12"  >
                    <ul class="breadcrumb pull-left" style="padding:5px 0px; margin:0px">
                        <li><i class="fa fa-home"></i> MyBarangay</li>
                        <li> Business</li>
                        <li class="active">Add New Business</li>
                    </ul>
                </div>
            </div>



            <!-- start col-md-12 -->
            <div class="col-md-12 col-sm-12 col-xs-12 boxiy" style="min-height:500px;"> 
                <div class="col-md-9" style="margin-top:10px">
                    <fieldset class="sched-border" >

                        <?php 
                        $success = '';
                        if ($this->session->has("successMess")) {
                        $success = $this->session->get("successMess");
                        ?>
                        <div class="alert alert-success fade in">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                        <strong>Success!</strong> <?=$success?>
                        <a style="text-decoration:underline;font-weight:bold" href="<?php echo $this->url->getBaseUri().'business/view2/'.$business->id; ?>"><i class="fa fa-view"> </i> View <?php echo $business->name; ?> </a>
                        </div>
                        <?php $this->session->remove("successMess"); } ?>
                        <?php 
                        $error = '';
                        if ($this->session->has("errorMess")) {
                        $error = $this->session->get("errorMess");
                        ?>
                        <div class="alert alert-danger fade in">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                        <strong>Error! </strong> <?=$error?>
                        </div>


                        <?php $this->session->remove("errorMess"); } ?>

                        <legend class="sched-border">Add New Business</legend>
                        <legend class="pull-right" style="text-align:left">
                        <i class="fa fa-star"></i> Add business information</legend>

                        <div class="row">
                            <?php echo Phalcon\Tag::form(array("business/add_business/", "method" => "post", "id" => "newBusiness")); ?>
                                <div class="form-group  col-md-4 col-sm-6">
                                    <label>Business Name</label>
                                    <input name="name" type="text" class="form-control" value="">
                                </div>
                                <div class="form-group  col-md-4 col-sm-6">
                                    <label>Website Address</label>
                                    <input name="website" type="text" class="form-control" value="">
                                </div>
                                <div class="form-group  col-md-4 col-sm-6">
                                    <label>Telephone</label>
                                    <input name="telephone" type="text" class="form-control" value="">
                                </div>
                                <div class="form-group  col-md-4 col-sm-6">
                                    <label>Suite/Unit</label>
                                    <input name="apt_no" type="text" class="form-control" value="">
                                </div>
                                <div class="form-group  col-md-4 col-sm-6">
                                    <label>Street</label>
                                    <input name="street" type="text" class="form-control" value="">
                                </div>
                                <div class="form-group  col-md-4 col-sm-6">
                                    <label>Country</label>
                                    <select id="country_code" name="country_code"  type="select" class="form-control">
                                    <option value="">Select Country</option>
                                    <?php $countryCodes = CountryCodes::find();
                                    foreach ($countryCodes as $country_code) { ?>
                                    <option value="<?php echo $country_code->id; ?>"><?php echo $country_code->country_name; ?></option>
                                    <?php } ?>
                                    </select>
                                </div>
                                <div class="form-group  col-md-4 col-sm-6">
                                    <label>Select State/Province</label>
                                    <select id="state" name="state"  type="select" class="form-control">
                                    </select>
                                </div>
                                <div class="form-group  col-md-4 col-sm-6">
                                    <label>City</label>
                                    <select id="city" name="city"  type="select" class="form-control">
                                    </select>

                                </div>
                                <div class="form-group col-md-4 col-sm-6"  >
                                    <label>Postal Code</label>
                                    <input name="postal_code" type="text" class="form-control"  value="">
                                </div>
                                
                                <div class="form-group col-md-4 col-sm-6" >
                                    <label>Category</label>
                                    <small>Select up to 3 categories. The more specific the better.</small>
                                    <div id="selectedCategories">
                                    </div>
                                    <input type="hidden" name="business_category_ids" id="businessCategoryIds">
                                    <select name="business_category_id"  type="select" class="form-control js-data-example-ajax" id="businessCategories" placeholder="Select categories">

                                    </select>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group col-md-4 col-sm-6">
                                    <div class="checkbox">
                                      <label>
                                        <input type="checkbox" name="opened"> This business recently opened or is opening soon
                                      </label>
                                    </div>
                                </div>
                                <div class="clearfix"></div>

                                
                                <div class="col-md-3">
                                    <input type="submit" name='profileupdate' value="add business" class="btn btn-sm btn-primary">
                                </div>
                            <?php  echo Phalcon\Tag::endForm(); ?>
                        </div>
                    </fieldset>
                </div>


                <div class="col-md-3">
                    <div class="well" style="margin-top:27px;padding-top:0px">
                        <h2 >Negosyo</h2>
                        <legend>Get your business listed in MyBarangay.</legend>
                        <div class="left-image" style="width:200px;margin:0 auto">
                            <img src="<?php echo $this->url->getBaseUri().'themes/mybarangay1/img/biz/new_biz.jpg'; ?>" class="img-responsive img-rounded img-block">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<script type="text/javascript">
    


    $('#country_code').change(function() {
        var action = '<?php echo $this->url->getBaseUri() . "review/getStates/"; ?>'; 
        var param  = $('#country_code').val();
        var link = action.concat(param);
        $.ajax({
            url: link,
            type: 'GET',
            dataType: 'json',
            success: function(data){
                var selectstate = '<option value="">Select State/Province</option>';
                $.each(data, function(i, item) {
                    selectstate += '<option value="'+data[i].id+'">'+data[i].name+'</option>';
                });
                $('#state').html('');
                $('#city').html('');
                $('#state').append(selectstate);
            },
            error: function(){
                alert("Failed please try again");
            }
        });
    });
    //**** state nd city code
    $('#state').change(function() {
        var action = '<?php echo $this->url->getBaseUri() . "review/getCities/"; ?>'; 
        var param  = $('#state').val();
        var link = action.concat(param);
        $.ajax({
            url: link,
            type: 'GET',
            dataType: 'json',
            success: function(data){
            var selectcity = '<option value="">Select City</option>';
            $.each(data, function(i, item) {
                selectcity += '<option value="'+data[i].id+'">'+data[i].name+'</option>';
                });
                $('#city').html('');
                $('#city').append(selectcity);
            },
            error: function(){
                alert("Failed please try again");
            }
        });
    });

    $(document).ready(function() {


     $('#newBusiness').bootstrapValidator({
              message: 'This value is not valid',
              feedbackIcons: {
                  valid: 'glyphicon glyphicon-ok',
                  invalid: 'glyphicon glyphicon-remove',
                  validating: 'glyphicon glyphicon-refresh'
              },
              fields: {
                  name: {
                      validators: {
                          notEmpty: {
                              message: '* Required'
                          }
                      }
                  },
                  street: {
                      validators: {
                          notEmpty: {
                              message: '* Required'
                          }
                      }
                  },
                  city: {
                      validators: {
                          notEmpty: {
                              message: '* Required'
                          }
                      }
                  },
                  state: {
                      validators: {
                          notEmpty: {
                              message: '* Required'
                          }
                      }
                  }
                }
        });


        $('[data-toggle="tooltip"]').tooltip();

        $('#businessCategories').on('change', function(){
            var id = $(this).attr('id');
            var div = $('div.category_item #'+id);
            
            if(div.length){
                div.remove();
                $('#businessCategories option[value=' + id + ']').remove();
            }
            if($('#businessCategories option').length < 4) {
                $('#selectedCategories').html($(this).text());
                var values = $.map($('#businessCategories option'), function(e) { return e.value; });
                values.join(',');
                $('#businessCategoryIds').val(values);
            } else {
                alert('3 categories only');
            }
        });

        $(document).on('click', '.remove', function(){
            var div = $(this).closest('div.category_item');
            var id = div.attr('id');
            div.remove();
            $('#businessCategories option[value=' + id + ']').remove();
            var values = $.map($('#businessCategories option'), function(e) { return e.value; });
            values.join(',');
            $('#businessCategoryIds').val(values);
        });

        function formatRepo (category) {
            var markup = '';
            if (category.loading) return category.text;

            markup = 
            '<div class="category_item" id="'+category.id+'">' + category.main_title + ' <i class="fa fa-caret-right"></i> ' + category.title + ' <i class="fa fa-caret-right"></i> ' + category.sub_title +'</div>';
            category.text = '<div class="category_item" id="'+category.id+'"><small class="text-danger remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times btn btn-xs"></i></small> <small class="text-info">' + category.main_title + ' <i class="fa fa-caret-right"></i> ' + category.title + ' <i class="fa fa-caret-right"></i> ' + category.sub_title +'</small></div>' ;

            if (!category.sub_title) {
                markup = 
                '<div class="category_item" id="'+category.id+'">' + category.main_title + ' <i class="fa fa-caret-right"></i> ' + category.title + '</div>' ;
                category.text = '<div class="category_item" id="'+category.id+'"><small class="text-danger remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times btn btn-xs"></i></small> <small class="text-info">' + category.main_title + ' <i class="fa fa-caret-right"></i> ' + category.title + '</small></div>' ;
            }
            
            return markup;
          }

          function formatRepoSelection (category) {
            return '';
          }


        $(".js-data-example-ajax").select2({
          ajax: {
            url: "/business_category/list",
            dataType: 'json',
            delay: 250,
            data: function (params) {
              return {
                q: params.term, // search term
                page: params.page
              };
            },
            processResults: function (data, page) {
              // parse the results into the format expected by Select2.
              // since we are using custom formatting functions we do not need to
              // alter the remote JSON data
              return {
                results: data.items
              };
            },
            cache: true
          },
          escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
          minimumInputLength: 3,
          templateResult: formatRepo, // omitted for brevity, see the source of this page
          templateSelection: formatRepoSelection // omitted for brevity, see the source of this page
        });


        
    });
</script>