
<?php echo $this->tag->javascriptInclude("themes3/js/imagereajs/imagerea/jquery-pack.js"); ?>
<?php echo $this->tag->javascriptInclude("themes3/js/imagereajs/imagerea/jquery.imgareaselect.min.js"); ?>


<div class="body-wrapper" style="margin-top:110px;"> <!-- start body wrapper -->
	<div class="container" style="background:#fff;"> <!-- start body wrapper container- -->
		<div class="row" > <!-- start body wrapper row -->

     <div style="margin-top:20px;">
<!-- start body col-md-4  -->
<div class="col-md-4">

     <div class="col-md-12 col-sm-6">
    	<div class="panel panel-default">
           <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>Profiles</h4></div>
   			<div class="panel-body">
              Check out some of our member profiles..
              <hr>
                   <a class="thumbnail pull-left" href="#">
                        <img class="media-object" src="//placehold.it/250/250" class="img-responsive">
                    </a>
                <div class="media">

      <!--               <div class="media-body">
                        <h4 class="media-heading">John Doe</h4>
                		<p><span class="label label-info">10 photos</span> <span class="label label-primary">89 followers</span></p>
                        <p>
                           <a href="#" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-comment"></span> Message</a>
                           <a href="#" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-heart"></span> Favorite</a>
                        </p>
                    </div> -->
                </div>

<!--                <div class="well well-sm">
               </div> -->
            </div>
         </div> 
    </div>

</div>
<!-- end body col-md-4 -->

<!-- start body col-md-4  -->
<div class="col-md-8" style="padding:0px;margin:0px">

     <div class="col-md-12">
    	<div class="panel panel-default">
           <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>Add Photo</h4></div>
   			<div class="panel-body">
               Description here 
              <hr>

<!-- 				<form action="" enctype="multipart/form-data" >
					<div class="well well-sm">

					<div class="form-group">
						<label for="inputFirstname"><span class="glyphicon glyphicon-asterisk " aria-hidden="true"></span>Photo Caption</label>
						<input type="text" class="form-control "  name="add_firstname" >
					</div>

					<div class="form-group">
						<span class="btn btn-default btn-file">
						    Browse a photo <input type="file">
						</span>
					</div>
					<button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-upload"> </span> Upload</button>

					</div>
				</form> -->




<!-- 			<img id="uploadPreview" style="display:none;"/> -->
			<?php  //echo Phalcon\Tag::form(array("business/add_photo1/12", "method" => "post", "enctype"=>"multipart/form-data")); ?>
<!-- 				<input type="text" name="caption" value="caption">
				<input id="uploadImage" type="file" accept="image/jpeg" name="image" />
				<input type="submit" value="Upload">
				<input type="hidden" id="x" name="x" />
				<input type="hidden" id="y" name="y" />
				<input type="hidden" id="w" name="w" />
				<input type="hidden" id="h" name="h" />
				<input type="submit" name="upload" value="sample"> -->
			<?php  //echo Phalcon\Tag::endForm(); ?>


	<form name="photo" enctype="multipart/form-data" action="business/add_photo1/12" method="post">
	Photo <input type="file" name="image" size="30" /> <input type="submit" name="upload" value="Upload" />
	</form>





            </div>
         </div> 
    </div>

</div>
<!-- end body col-md-4 -->
</div>



		</div><!-- end body wrapper row -->
	</div><!-- end body wrapper container -->
</div><!-- end body wrapper -->