
        <div data-role="page" id="map_page">
            <div data-role="header" data-theme="c">
                <!--<a href="#" style="float:right;padding-right:10px;padding-top:10px;"><i class="icon-undo-2" ></i></a>-->
                <?php echo Phalcon\Tag::image(["themes/customize/img/logo1.png", "style" => "width:180px; text-align:center;"]); ?>
                    <!--<img src="https://mybarangay.com/themes/customize/img/logo1.png" style="width:180px; text-align:center;"/>-->
                <!--<h1><a href="#">MyBarangay Get Directions</h1>-->
            </div>
            
            <div data-role="content"><!-- content box-->
            
                <!-- ui-bar-c start -->
                
                <div class="ui-bar-c ui-corner-all ui-shadow" style="padding:1em;">
                     <?=$business->name?>
                    <div id="map_canvas" style="height:300px;"></div>
                    <div data-role="fieldcontain">
                        <?php
                            $mapAddress='';
                            $mapAddress = substr($mapAddress,0);
                            if ($business->street != "") {
                                $mapAddress .= ",".$business->street;
                            }
                            
                            if ($business->city != "") {
                                $mapAddress .= ",".$business->city;
                            }
                            if ($business->state != "") {
                                $getStateName = States::findFirst("state_name='".$business->state."' and country_code_id='".$business->country_code_id."'");
                                $stateName = $getStateName->id;
                                $mapAddress .= ",".$stateName;
                            }
                            if ($business->country_code_id) {
                                $mapAddress .= ",".$business->countrycodes->country_name;
                            }
                            $realMapAddress = substr($mapAddress, 1);
                        ?>
                        <label for="from">From</label>
                        <input id="lat" type="hidden" value="<?= $business->lat; ?>">
                        <input id="lng" type="hidden" value="<?= $business->lng; ?>">
                        <input type="text" id="from" value="" placeholder="type your start location here"/>
                    </div>
                    <div data-role="fieldcontain">
                        <label for="to">To</label> 
                        <input type="text" id="to" value="<?=$realMapAddress?>" readonly/>
                    </div>
                    <div data-role="fieldcontain">
                        <label for="mode" class="select">Transportation method:</label>
                        <select name="select-choice-0" id="mode">
                            <option value="DRIVING">Driving</option>
                            <option value="WALKING">Walking</option>
                            <option value="BICYCLING">Bicycling</option>
                        </select>
                    </div>
                    <a data-icon="search" data-role="button" href="#" id="submit">Get directions</a>
                </div>
                
                <!-- / ui bar-c end -->
                
                <div id="resulta" class="ui-bar-c ui-corner-all ui-shadow" style="padding:1em;">
                <div id="results" style="display:none;">
                    <div id="directions"></div>
                </div>
                </div>
                
          
            </div><!-- /end content box-->
            
        </div>
