

<?php echo $this->tag->stylesheetLink('css/clockface.css'); ?>
<?php //echo $this->tag->stylesheetLink('css/timepicker.css'); ?>
<!--<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="http://lab.lepture.com/editor/editor.css" />
<link rel="stylesheet" type="text/css" href="http://jdewit.github.io/bootstrap-timepicker/css/bootstrap-timepicker.min.css">
<script type="text/javascript" src="http://jdewit.github.io/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>-->
<?php //echo $this->tag->stylesheetLink("themes3/themes/bootstrapDatetimepicker/css/bootstrap-datetimepicker.min.css"); ?>
<?php //echo $this->tag->javascriptInclude("themes3/themes/bootstrapDatetimepicker/js/bootstrap-datetimepicker.js"); ?>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.8.1/jquery.timepicker.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.8.1/jquery.timepicker.js"></script>
<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>-->
<script type="text/javascript" src="http://lab.lepture.com/editor/editor.js"></script>
<script type="text/javascript" src="http://lab.lepture.com/editor/marked.js"></script>
<?php echo $this->tag->javascriptInclude("js/clockface.js"); ?>
<?php //echo $this->tag->javascriptInclude("js/timepicker.js"); ?>
<style type="text/css">
#radioBtn .notActive{
    color: white;
    background-color: #fff;
}

#radioBtn .active{
    color: white;
    background-color: #023283;
}
.bootstrap-timepicker-widget table td input {
  width: 45px;
  margin: 0;
  text-align: center;
}

[class^="icon-"], [class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("http://netdna.bootstrapcdn.com/bootstrap/2.3.2/img/glyphicons-halflings.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
  margin-top: 1px;
}

.icon-chevron-down {
  background-position: -313px -119px;
}
.icon-chevron-up {
  background-position: -288px -120px;
}
</style>
<div class="body-wrapper" style="margin-top:110px;"> <!-- start body wrapper -->
  <div class="container"  style=" background:#fff"> <!-- start body wrapper container-fluid -->
    <div class="row" > <!-- start body wrapper row -->

  <div style="margin-bottom:20px;"><!-- page wrapper body -->
  
   <!-- start left panel -->
   <div class="col-md-3" style="">
   <?php $this->partial("layouts/elements/profile_widget"); ?>  
   </div>
   <!-- end left panel -->


      <div class="col-md-9" > <!-- start col-md-6 -->
      <h3><span class="glyphicon glyphicon-time"></span> Business Hours</h3>
      <br>
      <br>
      <!--<div class="input-group date form_time " data-date="" data-date-format="hh:ii" data-link-field="dtp_input3" data-link-format="hh:ii">
                    <input class="form-control" name="event_start[]" type="text" value="" readonly>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                </div>-->
        <form class="form-horizontal" action="<?php $this->url->getBaseUri() . 'business/new_biz_hours'; ?>" method="post">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-2">MONDAY</div>
                    <div class="col-md-3"><input id="start1" type="text" name="start1" class="timepicker form-control" placeholder="h:mm AM" data-default-time="false"></div>
                    <div class="col-md-3"><input id="end1" type="text" name="end1" class="timepicker form-control" placeholder="h:mm PM" data-default-time="false"></div>
                    <div class="col-md-4">
                                <div id="radioBtn" class="btn-group">
                                    <a class="btn btn-default btn-sm active" data-toggle="status1" data-title="open">Open</a>
                                    <a class="btn btn-default btn-sm notActive" data-toggle="status1" data-title="closed">Closed</a>
                                </div>
                                <input type="hidden" name="status1" id="status1">
                    </div>
                </div>
            </div>
             
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-2 ">TUESDAY</div>
                    <div class="col-md-3"><input id="start2" type="text" name="start2" class="timepicker form-control" placeholder="h:mm AM" data-default-time="false"></div>
                    <div class="col-md-3"><input id="end2" type="text" name="end2" class="timepicker form-control" placeholder="h:mm PM" data-default-time="false"></div>
                    <div class="col-md-4">
                                <div id="radioBtn" class="btn-group">
                                    <a class="btn btn-default btn-sm active" data-toggle="status2" data-title="open">Open</a>
                                    <a class="btn btn-default btn-sm notActive" data-toggle="status2" data-title="closed">Closed</a>
                                </div>
                                <input type="hidden" name="status2" id="status2">
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-2">WEDNESDAY</div>
                    <div class="col-md-3"><input id="start3" type="text" name="start3" class="timepicker form-control" placeholder="h:mm AM" data-default-time="false"></div>
                    <div class="col-md-3"><input id="end3" type="text" name="end3" class="timepicker form-control" placeholder="h:mm PM" data-default-time="false"></div>
                    <div class="col-md-4">
                                <div id="radioBtn" class="btn-group">
                                    <a class="btn btn-default btn-sm active" data-toggle="status3" data-title="open">Open</a>
                                    <a class="btn btn-default btn-sm notActive" data-toggle="status3" data-title="closed">Closed</a>
                                </div>
                                <input type="hidden" name="status3" id="status3">
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-2">THURSDAY</div>
                    <div class="col-md-3"><input id="start4" type="text" name="start4" class="timepicker form-control" placeholder="h:mm AM" data-default-time="false"></div>
                    <div class="col-md-3"><input id="end4" type="text" name="end4" class="timepicker form-control" placeholder="h:mm PM" data-default-time="false"></div>
                    <div class="col-md-4">
                                <div id="radioBtn" class="btn-group">
                                    <a class="btn btn-default btn-sm active" data-toggle="status4" data-title="open">Open</a>
                                    <a class="btn btn-default btn-sm notActive" data-toggle="status4" data-title="closed">Closed</a>
                                </div>
                                <input type="hidden" name="status4" id="status4">
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-2">FRIDAY</div>
                    <div class="col-md-3"><input id="start5" type="text" name="start5" class="timepicker form-control" placeholder="h:mm AM" data-default-time="false"></div>
                    <div class="col-md-3"><input id="end5" type="text" name="end5" class="timepicker form-control" placeholder="h:mm PM" data-default-time="false"></div>
                    <div class="col-md-4">
                                <div id="radioBtn" class="btn-group">
                                    <a class="btn btn-default btn-sm active" data-toggle="status5" data-title="open">Open</a>
                                    <a class="btn btn-default btn-sm notActive" data-toggle="status5" data-title="closed">Closed</a>
                                </div>
                                <input type="hidden" name="status5" id="status5">
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-2">SATURDAY</div>
                    <div class="col-md-3"><input id="start6" type="text" name="start6" class="timepicker form-control" placeholder="h:mm AM" data-default-time="false"></div>
                    <div class="col-md-3"><input id="end6" type="text" name="end6" class="timepicker form-control" placeholder="h:mm PM" data-default-time="false"></div>
                    <div class="col-md-4">
                                <div id="radioBtn" class="btn-group">
                                    <a class="btn btn-default btn-sm active" data-toggle="status6" data-title="open">Open</a>
                                    <a class="btn btn-default btn-sm notActive" data-toggle="status6" data-title="closed">Closed</a>
                                </div>
                                <input type="hidden" name="status6" id="status6">
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-2">SUNDAY</div>
                    <div class="col-md-3"><input id="start7" type="text" name="start7" class="timepicker form-control" placeholder="h:mm AM" data-default-time="false"></div>
                    <div class="col-md-3"><input id="end7" type="text" name="end7" class="timepicker form-control" placeholder="h:mm PM" data-default-time="false"><input type="hidden" value="<?=$business->id?>" name="business_id"></div>
                    <div class="col-md-4">
                                <div id="radioBtn" class="btn-group">
                                    <a class="btn btn-default btn-sm active" data-toggle="status7" data-title="open">Open</a>
                                    <a class="btn btn-default btn-sm notActive" data-toggle="status7" data-title="closed">Closed</a>
                                </div>
                                <input type="hidden" name="status7" id="status7">
                    </div>
                </div>
            </div>
          <button type="submit" class="btn btn-default pull-right">Submit</button>
        </form>
      </div> <!-- end col-md-6 -->


   <!-- start right panel 
   <div class="col-md-3" >

   </div> 
    end right panel -->

  </div><!-- end page wrapper body -->

 </div><!-- end body wrapper row -->
  </div><!-- end body wrapper container-fluid -->
</div><!-- end body wrapper -->

<script type="text/javascript">
$('#radioBtn a').on('click', function(){
        var sel = $(this).data('title');
        var tog = $(this).data('toggle');
        $('#'+tog).prop('value', sel);
        
        if (tog == 'status1') {
          if ($('#start1').attr('disabled') && $('#end1').attr('disabled')) { 
            $('#start1').removeAttr('disabled');
            $('#end1').removeAttr('disabled');
          } else { 
            $('#start1').prop('disabled', true);
            $('#end1').prop('disabled', true);
          }
        } else if (tog == 'status2') {
          if ($('#start2').attr('disabled') && $('#end2').attr('disabled')) { 
            $('#start2').removeAttr('disabled');
            $('#end2').removeAttr('disabled');
          } else { 
            $('#start2').prop('disabled', true);
            $('#end2').prop('disabled', true);
          }
        } else if (tog == 'status3') {
          if ($('#start3').attr('disabled') && $('#end3').attr('disabled')) { 
            $('#start3').removeAttr('disabled');
            $('#end3').removeAttr('disabled');
          } else { 
            $('#start3').prop('disabled', true);
            $('#end3').prop('disabled', true);
          }
        } else if (tog == 'status4') {
          if ($('#start4').attr('disabled') && $('#end4').attr('disabled')) { 
            $('#start4').removeAttr('disabled');
            $('#end4').removeAttr('disabled');
          } else { 
            $('#start4').prop('disabled', true);
            $('#end4').prop('disabled', true);
          }
        } else if (tog == 'status5') {
          if ($('#start5').attr('disabled') && $('#end5').attr('disabled')) { 
            $('#start5').removeAttr('disabled');
            $('#end5').removeAttr('disabled');
          } else { 
            $('#start5').prop('disabled', true);
            $('#end5').prop('disabled', true);
          }
        } else if (tog == 'status6') {
          if ($('#start6').attr('disabled') && $('#end6').attr('disabled')) { 
            $('#start6').removeAttr('disabled');
            $('#end6').removeAttr('disabled');
          } else { 
            $('#start6').prop('disabled', true);
            $('#end6').prop('disabled', true);
          }
        } else if (tog == 'status7') {
          if ($('#start7').attr('disabled') && $('#end7').attr('disabled')) { 
            $('#start7').removeAttr('disabled');
            $('#end7').removeAttr('disabled');
          } else { 
            $('#start7').prop('disabled', true);
            $('#end7').prop('disabled', true);
          }
        }
        $('a[data-toggle="'+tog+'"]').not('[data-title="'+sel+'"]').removeClass('active').addClass('notActive');
        $('a[data-toggle="'+tog+'"][data-title="'+sel+'"]').removeClass('notActive').addClass('active');
    });


$('.timepicker').timepicker();
$('.bootstrap-timepicker-widget table td input').css("width","45px");
    //$('.t1').prop('disabled', true);
    $(function(){
        $('.t1').clockface();  
        $('#t1').clockface();
    });

    $(function(){
    $('#t2').clockface({
        format: 'HH:mm',
        trigger: 'manual'
    });   
 
    $('#toggle-btn').click(function(e){   
        e.stopPropagation();
        $('#t2').clockface('toggle');
    });
});

    $('.form_time').datetimepicker({
              weekStart: 1,
              todayBtn:  1,
              autoclose: 1,
              todayHighlight: 1,
              startView: 1,
              minView: 0,
              maxView: 1,
              forceParse: 0
          });
</script>
