<style>
  img{
 	margin-bottom: 10px;
   }              
   /*.rangoliPic {  
			width: 200px;   
			height:200px;  
			-webkit-transition: all .3s ease-out;  
			-moz-transition: all .3s ease-out;  
			-o-transition: all .3s ease-out;  
			transition: all .3s ease-out;  
   }  
   .rangoliPic:hover {  
			-moz-transform: scale(2);  
			-webkit-transform: scale(2);  
			-o-transform: scale(2);  
			-ms-transform: scale(2);              
			transform: scale(2);              
   } */  
</style>
<?php
    if ($this->session->has('delete_photo')) {
      $deleteStatus = $this->session->get('delete_photo');
      if ($deleteStatus == 1) {
        echo "<script>alertify.alert('photo was deleted');</script>";
      } else if ($deleteStatus == 0) {
        echo "<script>alertify.alert('unable to delete photo, please try again');</script>";
      }
      $this->session->remove('delete_photo');
    }
?>
<div class="container containerBorder" >  
  <div class="col-md-12 bg-white">
    <div class="row" style="padding-top: 20px;">
      <div class="col-md-12">
        <label><?php echo Phalcon\Tag::linkTo(array('business/view2/'.$business->id, $business->name)); ?> <span class="glyphicon glyphicon-chevron-right"></span> photos</label><br/>
        <strong class="text-primary" style="font-size:25px;"><?php echo count($businessImages->items).' photos for '.$business->name; ?></strong>
        <div class="btn-group pull-right">
          <?php echo Phalcon\Tag::linkTo(array('business/add_image/'.$business->id, '<span class="fa fa-camera"></span> Add photo', 'class' => 'btn btn-primary')); ?>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="javascript:void(0);">
            <button class="btn btn-danger btn-sm" id="previousImgBtn"><span class="glyphicon glyphicon-chevron-left"></span></button> 
              <span id="currentKey">1</span> of <?php echo count($businessImages->items); ?>
            <button  class="btn btn-danger btn-sm" id="nextImgBtn"><span class="glyphicon glyphicon-chevron-right"></span></button>
            </a>
          </li>
        </ul>

        <div id="myTabContent" class="tab-content panel">
            <div class="tab-pane fade active in panel-body" id="main">
              <div class="row">
                <div class="col-md-12">
                  <div class="col-md-9 text-center" style="border-right:1px solid #ccc">
                  <?php echo Phalcon\Tag::image(array($businessFirstImg->file_path.$businessFirstImg->filename, 'class' => 'img-responsive img-rounded center-block img-current', 'data-key' => 0,'style' => 'max-width:675px;max-height:395px;')); ?>
                  </div>
                  <div class="col-md-3 panel-body">
                  	<div class="row" style="padding-bottom: 2px;">

                  		<label><?php echo Phalcon\Tag::linkTo(array('business/view/'.$business->id, $business->name)); ?> <span class="glyphicon glyphicon-chevron-right"></span> photos</label><br/>
				        
				        <div class="btn-group">
				          <?php
						  if (isset($check)) {
							if ($check == 1) {
							  echo Phalcon\Tag::linkTo(array('business/add_image/'.$business->id, '<span class="fa fa-camera"></span> Add photo', 'class' => 'btn btn-primary btn-xs'));
							} 
						  }
						  ?>
				        </div>
                  	</div>
                    <div class="row">
                      <!--<div class="col-md-4">-->
                        <?php //echo Phalcon\Tag::image(array($businessFirstImg->file_path.$businessFirstImg->filename, 'class' => 'img-responsive img-rounded')); ?>
                      <!--</div>-->
                      <div class="col-md-12">
                        <span id="headerName">
                        <?php echo Phalcon\Tag::linkTo(array('member/page/'.$businessFirstImg->Members->id, '<h4 id=""></h4>'.$businessFirstImg->Members->first_name.' '.substr($businessFirstImg->Members->last_name, 0, 1), 'id' => 'memberName')); ?>
						</span>
                        <p><i class="fa fa-users"></i> Friends    <i class="fa fa-comments"></i> Reviews  </p>
                      </div>
                    </div>
                    <div class="row" style="margin-top:25px">
                      <div class="col-md-12">                   
                        <label id="imgCaption"><?php echo $businessFirstImg->caption; ?></label>
                      </div>
                      <div class="col-md-12">                   
                        <label style="color:#ccc;">
                          <small>
                            <?php //echo date('M d, Y',strtotime($businessFirstImg->created)); ?>   
                          </small>
                        </label>
                      </div>    
                    </div>
                    
                  </div>
                </div>
              </div>
              <div class="row" style="margin-top:10px!important;">
                <div class="col-md-12">
                  <div class="row">
                    <?php foreach ($businessImages->items as $key => $businessImage) { ?>
        
                        <div class="col-md-2 itemKevin">
                          <a href="javascript:void(0);">
						  <?php $headerLink = '<a href="'.$this->url->getBaseUri() . 'member/page/'.$businessImage->Members->id.'">'.$businessImage->Members->first_name. ' ' . $businessImage->Members->last_name.'</a>'; ?>
                          <?php if($businessImage->caption){ $caption = substr($businessImage->caption, 0, 100).'...'; } else { $caption = ''; } ?>
                          <?php echo Phalcon\Tag::image(array($businessImage->file_path.$businessImage->filename, 'class' => 'img-responsive img-rounded img-thumbnail img-list rangoliPic', 'data-member' => $businessImage->Members->first_name.' '.$businessImage->Members->last_name, 'data-caption' => $caption, 'data-key' => $key,'style' => 'width:150px;height:150px;', 'data-headername'=>$businessImage->Members->first_name.' '.$businessImage->Members->last_name)); ?>
                          </a>
                          <p>     
							<?php echo Phalcon\Tag::linkTo(array('member/page/'.$businessImage->Members->id, '<small></small>'.$businessImage->Members->first_name.' '.substr($businessImage->Members->last_name, 0, 1))); ?>
                          </p> 
                          
                          <div class="col-md-12">
							<!--<p><small>--><?php //echo $caption; ?><!--</small></p>--> 
                          <div class="pull-right">
                            <?php 
                            if ($userId == $businessImage->member_id) {
                              echo Phalcon\Tag::linkTo(array('business/delete_photo/'.$businessImage->id, '<i class="text-danger fa fa-trash" data-toggle="tooltip" title="Delete photo"></i>')); 
                            }
                              

                            ?>
                            &nbsp;
                            <?php //echo Phalcon\Tag::linkTo(array('business/update_photo_caption/'.$businessImage->id.'/'.$businessImage->business_id, '<i class="text-warning fa fa-pencil" data-toggle="tooltip" title="Update photo caption"></i>')); ?>
                            &nbsp;
                            <?php
							 //if (isset($check)) {
							  //if ($check == 1) {
                            //business/set_primary_photo
								            //echo Phalcon\Tag::linkTo(array('business/add_image2/'.$businessImage->id.'/'.$businessImage->business_id, '<span class="glyphicon glyphicon-picture" data-toggle="tooltip" title="Set primary photo"></span>'));
							  //}
							// }
							?>
                          </div>
                        </div>
                        </div>

                    <?php } ?>
                  </div>
                </div>
              </div>
            
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready( function(){
    var totalImgCount = "<?php echo count($businessImages->items) - 1; ?>";
    $('.img-list').on('click', function(){
      var src = $(this).attr('src');
      var member = $(this).data('member');
	  var headername = $(this).data('headername');
      var caption = $(this).data('caption');
      var key = $(this).data('key');
      $('.img-current').attr('src', src);
      $('#memberName').text(member);
	  $('#headerName').text(headername);
      $('#imgCaption').text(caption);
      $('#currentKey').text(parseInt(key,10)+1);
    });
    $('#previousImgBtn').on('click', function(){
      var key = $('.img-current').data('key');
      if(key > 0){
        var newKey = parseInt(key,10)-1;
        var img = $(".img-list[data-key='" + newKey + "']");
        var src = img.attr('src');
        var member = img.data('member');
		var headername = $(this).data('headername');
        var caption = img.data('caption');
        $('.img-current').attr('src', src);
        $('.img-current').data('key', newKey);
        $('#memberName').text(member);
		$('#headerName').text(headername);
        $('#imgCaption').text(caption);
        $('#currentKey').text(parseInt(newKey,10)+1);
      }
    });

    $('#nextImgBtn').on('click', function(){
      var key = $('.img-current').data('key');
      if(key < totalImgCount){
        var newKey = parseInt(key,10)+1;
        var img = $(".img-list[data-key='" + newKey + "']");
        var src = img.attr('src');
        var member = img.data('member');
		var headername = $(this).data('headername');
        var caption = img.data('caption');
        $('.img-current').attr('src', src);
        $('.img-current').data('key', newKey);
        $('#memberName').text(member);
		$('#headerName').text(headername);
        $('#imgCaption').text(caption);
        $('#currentKey').text(parseInt(newKey,10)+1);
      }
    });
  });

</script>
