
<?php echo $this->tag->javascriptInclude("js/unitegallery.js"); ?>
<?php echo $this->tag->stylesheetLink("css/ug.css"); ?>
<?php echo $this->tag->stylesheetLink("admin-cms/library/css/icomoon.css"); ?>
<?php //echo $this->tag->javascriptInclude("js/ug-tiles.js"); ?>
<?php //echo $this->tag->stylesheetLink("css/button3d.css"); ?>
>
 <style>
   img{
 	margin-bottom: 10px;
   }              
   .rangoliPic {  
			width: 200px;   
			height:200px;  
			-webkit-transition: all .3s ease-out;  
			-moz-transition: all .3s ease-out;  
			-o-transition: all .3s ease-out;  
			transition: all .3s ease-out;  
   }  
   .rangoliPic:hover {  
			-moz-transform: scale(2);  
			-webkit-transform: scale(2);  
			-o-transform: scale(2);  
			-ms-transform: scale(2);              
			transform: scale(2);              
   }   
  .panel-heading span {
  margin-top: -20px;
  font-size: 15px;
  }
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 50%;
      height: auto;
      margin: auto;
  }

  .hoverable {
    margin: 10px 10px 10px 10px;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s; /* Safari */
    }

.hoverable:hover {
  cursor: pointer;
  -webkit-transform: scale(2, 2);
    -ms-transform: scale(2, 2);
    transform: scale(2, 2);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s; /* Safari */
    box-shadow: 10px 10px 5px #888888;
    z-index: 1;
    }

  #owl-demo .item{
    margin: 3px;
    height:250px;
    width: 300px;
  }
  #owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
  }

  .owl-demo2 .item{
  margin: 3px;
  }
  .owl-demo2 .item img{
    display: block;
    width: 100%;
    height: auto;
  }
  .blueInfo {
    color: #023283;
  }

  

  body {
    background-image: url('http://theinteramerican.org/wp-content/uploads/2014/07/white-background-texture.jpg');
  }
  </style>

<?php $this->partial('partials/business_page/get_categories'); // script to get categories and cover image ?>
<?php $this->partial('partials/business_page/flag_modal'); // modal box for flag?>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><i class="icon-map-2"></i> Get Directions</h4>
      </div>
      <div class="modal-body">
        under construction
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- / modal -->
<div class="container-fluid" style="margin-top: 110px; padding-top: 0px;"><!-- container-fluid -->
<?php
  if ($this->session->has("claimingsuccess")) {
    echo "<script>alertify.alert('REQUEST FOR CLAIMING BUSINESS HAS BEEN SENT TO MYBARANGAY ADMIN')</script>";
    $this->session->remove('claimingsuccess');
  }
?>
  <div class="row">
  <div class="col-md-12">
    <?php $this->partial('partials/business_page_detail'); ?>
  </div>
  </div>

  <div class="row" style="padding-top: 30px;">
    <div class="container"><!-- CONTAINER -->
    <div class="col-md-12"><!-- COL-MD-12 -->
      <?php $this->partial('partials/business_page/business_review_boxl'); ?>  
      <!--<div class="panel panel-info">
      <div class="panel-heading" style="background-color:#023283;">
        <h3 class="panel-title">03-11-15, 12:58 PM</h3>
        <span class="pull-right clickable">
          <a href="#" style="color:white;font-family:Verdana,Arial;font-size:10px;">Report</a>
        </span>
      </div>
      <div class="panel-body"><! -->
       <!-- <div class="row">
          <div class="col-md-2">
            <span style="font-weight:bold;"> Jon <?php //echo substr('Snow', 0, 1) , '.'; ?></span><br>
            <img src="http://images6.fanpop.com/image/photos/35700000/jon-jon-snow-35787645-2832-4232.jpg" style="height:150px;width:150px;"><br>
            <small>Joined: date here </small><br>
            <small>Reviews: 0</small><br>
            <img src="<?php //echo $this->url->getBaseUri() . 'img/ca.png'; ?>"><small><b> Vancouver, CA</b></small>
          </div>  
          <div class="col-md-10" style="font-family: Verdana, Arial;font-size:11px;">
            Lorem ipsum dolor sit amet, facilisi laboramus torquatos nec ad, et vix probo alterum, id wisi dicant volumus vix. Ei vel deserunt delicatissimi, ex eos decore nominati. An laudem copiosae erroribus eam, ex sea oblique suscipiantur definitiones, usu eu agam etiam integre. No probo suscipit sadipscing nec, suscipit percipitur an mea. Ius ad unum tota ipsum, vix ut iusto commodo.

            Ne sed sumo diam liber, inani laoreet theophrastus ne usu. In ius inani falli imperdiet, sale utroque vix ex. Pri et quem reque, veniam facete in sit, ex tollit commodo eam. At agam fugit eruditi eos. Sit ipsum appetere ea.

            Ex atqui nominavi duo, meis detraxit praesent ad has. Ad ludus oblique posidonium eos, cetero laoreet repudiandae qui ne. Duo populo forensibus te. Detraxit singulis cotidieque vis cu. An qui viris neglegentur. Labore postulant constituam quo no, ea vim veri recteque.

            Postulant persequeris mel ad, has cu nihil neglegentur definitiones. Mazim soluta efficiantur et vis. Ex equidem senserit cum, fuisset placerat philosophia per te. Est cu vero prima, veri evertitur efficiendi no per.
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 col-md-offset-2">
            <div class="pull-left">
            <?php
              //if ($sessionType == 1) {
//     if (isset($review->id)) {
//                 $reviewCompliments = ReviewCompliments::count("member_id = ". $userSession['id']. " and business_id=".$business->id . " and review_id=".$review->id);
//                 if ($review->member_id != $userSession['id']) {
//                   if ($reviewCompliments > 0) {
//                   echo '<a href="#" class="btn btn-outlined btn-primary btn-xs">LIKE</a>
//                         <a href="#" class="btn btn-outlined btn-primary btn-xs">HELPFUL</a>
//                         <a href="#" class="btn btn-outlined btn-primary btn-xs">AWESOME</a>';
//                   }
//                 }
// }
//               }        
            ?>
            </div>
            <div class="pull-right">
              <span class="btn btn-outlined btn-primary btn-xs">like</span>
            </div>
          </div>
        </div>
      </div><!-->
      </div>
    </div><!-- /COL-MD-12 --> 
    </div><!-- /CONTAINER -->
  </div>
<?php
  if ($this->session->has("abra") && $this->session->has("cadabra")) {
    $updatedReview = $this->session->get("abra");
    $updatedReviewId = $this->session->get("cadabra");

    $updated_review = Reviews::findFirst($updatedReviewId);
    $profilePic = 'http://www.videogameperfection.com/wp-content/uploads/2013/11/okay-guy.jpg';
    $primaryPix = MemberPhotos::findFirst('member_id = "'.$updated_review->member_id.'" and primary_pic="Yes"');
    if ($primaryPix == true) {
      $profilePic = 'http://mybarangay.cloudapp.net'.$this->url->getBaseUri() . $primaryPix->file_path . $primaryPix->filename;
    }
    //echo "<script> alertify.alert('". $this->session->get("abra")."'); </script>";
    echo "<script> alertify.alert('your review has been updated successfully'); </script>";
    echo "<script> alertify.alert('".$this->session->get("abra")."'); </script>";
    $this->session->remove("abra");
    $this->session->remove("cadabra");
  }

  if ($this->session->has('update_business')) {
    echo "<script> alertify('".$this->session->get('update_business')."') </script>";
    $this->session->remove('update_business');
  }
?>

</div><!-- /container-fluid -->
<?php $mapMarkers = "['".$business->name."', ".$business->lat.", ".$business->lng."]"; ?>
<?php $mapInfoWindow = "['<div class=\"info_content line-height-60\"><h3 class=\"text-danger\">".$business->name."</h3><p class=\"text-primary\"><strong></strong></p><p><a href=\"".$business->website."\" target=\"_BLANK\">".$business->website."</a></p><p>".$business->telephone."</p><p>".$business->street.", ".$business->city.", ".$business->CountryCodes->country_name."</p></div>']"; ?>
<?php $this->partial('partials/business_page/business_script'); ?>
