<?php echo $this->tag->stylesheetLink('themes3/css/list-type.css'); ?>
<?php echo $this->tag->javascriptInclude('themes3/themes/matchHeight/jquery.matchHeight.js'); ?>
<script type="text/javascript">
	$(document).ready(function(){

    // apply matchHeight to each item container's items
		var byRow = $('body');
		$('.adds-wrapper').each(function() {
			$(this).children('.item-list').matchHeight({
				byRow: byRow
			});
		});

    // different list type
		$('.listahan').click(function(){
			var type = $(this).attr('id');
			$('.item-list').removeClass('make-compact make-grid').addClass(type);
				$('.adds-wrapper').each(function() {
				$(this).children('.item-list').matchHeight({
					byRow: byRow
				});
			});
		});
    // date static by now

	});
</script>
<style type="text/css">

.adds-wrapper .item-list.make-grid .add-desc-box{
  padding-bottom: 110px;
}

</style>

<div class="body-wrapper" style="margin-top:110px;"> <!-- start body wrapper -->
  <div class="container"  > <!-- start body wrapper container-fluid -->
    <div class="row" > <!-- start body wrapper row -->

		<div style="margin-bottom:20px"><!-- page wrapper body -->


    <div class="col-md-12 "  >
        <div class="col-md-12 col-xs-12"  >
            <ul class="breadcrumb pull-left" style="padding:5px 0px; margin:0px">
                <li><span class="glyphicon glyphicon-home"></span> MyBarangay</li>
                <li class="active">Things</li>
            </ul>
        </div>
    </div>

<div class="col-sm-12 col-md-3 col-sm-4 page-sidebar" style="z-index:1">
  <aside>


  <div class="inner-box">

  <?php echo Phalcon\Tag::form(array("thing/index", "method" => "GET")); ?>
  <div class="categories-list  list-filter">
	  <span class="list-title"><a href="#">Find an item</a></span>
		<div class="row">
		  <div class="form-group col-sm-12">
		    <input type="text" class="form-control" name="name" id="name" placeholder="search" value="<?=$name?>" >
		  </div>
		  <div class="form-group col-sm-12">
			<?php 
			$categories = ThingCategories::find();
			ZoidHelpers::dynamicDropDown($categories, 'thing_category_id', $thing_category_id, 'Select Categories');
			?>
		  </div>
		  <div class="form-group col-sm-12">
			<?php 
			$conditions = ThingConditions::find();
			ZoidHelpers::dynamicDropDown($categories, 'thing_condition_id', $thing_condition_id, 'Select Conditions');
			?>
		  </div>
		</div>
  </div>


  <!--***** location -->
  <div class="locations-list  list-filter">
    <span class="list-title"><a href="#">Location</a></span>
    <div class="input_container" id="auto">
      <input type="text" id="autocity" value="<?=$city?>" class="city_list form-control" autocomplete="off" name="city" 
        placeholder="city" >
      <input type="hidden" id="autocitycode" value="<?=$city_code?>" name="city_code" value="" class="city_id">
      <ul id="autocitylistid" class="show_city"></ul>
    </div>
  </div>
   
  <div class="locations-list  list-filter">
    <span class="list-title"><a href="#">Price range</a></span>
    <div class="form-group col-sm-5 no-padding">

    <input placeholder="$ 2000 " id="minPrice" name="minPrice" value="<?=$minPrice?>" class="form-control" type="text">
    </div>
    <div class="form-group col-sm-2 no-padding text-center"> - </div>
    <div class="form-group col-sm-5 no-padding">
    <input placeholder="$ 3000 " id="maxPrice" name="maxPrice" value="<?=$maxPrice?>" class="form-control" type="text">
    </div>

    <div style="clear:both"></div>
  </div>
   
  <input type="submit" value="submit" name="btn_search" class="btn btn-primary btn-sm">
  <a href="<?php echo $this->url->getBaseUri().'thing/index'; ?>" class="btn btn-primary btn-sm">reset</a>
  <?php  echo Phalcon\Tag::endForm(); ?>


  <div class="square" style="padding:5px;border:1px solid #c4c4c4;margin-top:30px;background:#f4f4f4;border-radius:2px ">
    <div class="locations-list  list-filter">
      <span class="list-title" style="color:#fff;padding:0px 2px 2px 2px"><a href="#">Selling something?</a></span>
      <a class="restricted btn btn-sm btn-primary" href="<?php echo $this->url->getBaseUri().'thing/new'; ?>" >Post your ad now?</a>
    </div>
  </div>

  <div style="clear:both"></div>
  </div>
   
  </aside>
	<?php $this->partial("partials/ads"); ?>
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<ins class="adsbygoogle"
	     style="display:inline-block;width:255px;height:213px;"
	     data-ad-client="ca-pub-2827353860802948"
	     data-ad-slot="6306061710"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
	<ins class="adsbygoogle"
	     style="display:inline-block;width:255px;height:213px;"
	     data-ad-client="ca-pub-2827353860802948"
	     data-ad-slot="6306061710"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>



</div>




<div class="col-sm-12 col-sm-8 col-md-9    boxiy" style="padding-top:20px;padding-bottom:20px"> <!-- start col-md-9 -->
  
  <div style="padding-bottom:10px">
    <button class="listahan" id="make-compact"><i class="fa fa-bars"></i> list</button>
    <button class="listahan" id=""><i class="fa fa-th-list"></i> preview</button>
    <button class="listahan" id="make-grid"><i class="fa fa-th"></i> grid</button>
  </div>


  <?php

  if($btn_search == 'submit'){
    $count = count($things);
    if($count == 0){
      echo '<h4>No search result match.</h4>';
    }else{
    echo '<div style="background-color:#f4f4f4;border:1px solid #ccc;position:relative;margin:0px 0px 10px;padding:5px 10px">';
      echo '<b>Search Result/s : </b>'. count($things);
       

    echo '</div>';  
    }

  }
  ?>

  <div class="adds-wrapper"><!-- start ads wrapper --> 
        <?php $ccount = 1; $i = 1; foreach($things as $thing): ?>
          <div class="item-list make-grid">
            <div class="col-sm-2 no-padding photobox">
            <div class="add-image custom-thumbnail" style=""> <!-- <span class="photo-count"><i class="fa fa-camera"></i> 2 </span> --> 
                <?php                    
                $thingPhoto = 'img/nophoto.jpg'; 
                $rPhotoCount = count($thing->thingphotos);
                if ($rPhotoCount > 0) {
                  $thingPhoto = $thing->thingphotos[0]->file_path.$thing->thingphotos[0]->filename;
                }
                  echo Phalcon\Tag::image([$thingPhoto, 'class' => 'thumbnail no-margin', 'style' => 'border:none;padding:0px']);
                ?>
            </div>
            </div>
             
            <div class="col-sm-7 add-desc-box" >
            <div class="add-details">
            <h5> <span><i class="fa fa-bookmark"> </i> 
            <?php 
            echo  $category = $thing->ThingCategories->name; 
  
            ?>
            </span></h5>
            <h4 class="add-title" style="font-weight:bold"> <a href="<?php echo $this->url->getBaseUri().'thing/view2/'.$thing->id; ?>"> <?= $thing->name?></a> </h4>

             
            <span class="info-row">
                <?php 
                  $ecity = '';
                  $cities = Cities::findFirst($thing->city);
                  if($cities){
                    echo '<i class="fa fa-map-marker"></i> ';
                    $ecity .= $cities->city_name;
                    $ecity .= ', '. $cities->state_code_id;
                    $ecity .= ', '.$cities->CountryCodes->country_name;
                          echo $ecity;
                  }
                ?>
             </span> 

				<div class="clearfix"></div>
             <span class="info-row">
				<i class="fa fa-info-circle"></i> <?= $thing->ThingConditions->name?>
			</span>

             </div>
            </div>
         
            <div class="col-sm-3 text-right  price-box" style="">
            <h6 class="item-price"> 
              <span class=" s3d designmoo" style="width:100%;text-align:center"><strong>
                <?php
                $currency = '';
                $na = '';
                  switch ($thing->currency_type) {
                    case 1:
                      $currency = '$';$na = 'US';
                      break;
                    case 2:
                      $currency = '₱';$na = 'PHP';
                      break;
                    case 3:
                      $currency = '$';$na = 'CAD';
                      break;
                    default:
                  }
                  echo $currency;
                ?>
            		<?=$na?>
                  <?php echo number_format($thing->price,2); ?>
              
                    </strong></span>
            </h6>
            <a href="<?php echo $this->url->getBaseUri().'thing/view2/'.$thing->id; ?>" class="btn btn-primary  btn-sm make-favorite" style=""> 
            <i class="fa fa-eye"></i>
             <span>view more</span> </a> 

                

                      <?php if (isset($userSession['id'])) { ?>
                        <?php if($userSession['id']) { $thing->member_id ?>
                          <span id="flagRemover<?=$ccount?>">
                          <?php
                          $countFlag = Flags::count("member_id='".$userSession['id']."' and target_id='".$thing->member_id."' and review_id='".$thing->id."'");
                          $checkFlag = Flags::find("member_id='".$userSession['id']."' and target_id='".$thing->member_id."' and review_id='".$thing->id."'");
                          ?>
                          <?php 
                          if ($countFlag == 0) { ?> 
                          <a href="#" class="btn btn-primary  btn-sm make-favorite" style=""> 
                          <small id="flagSpan<?=$ccount?>" class="fa fa-flag"  style="cursor:pointer;" data-placement="top" onclick="flagAll(<?php echo $thing->member_id.','.$userSession['id'].','.$thing->id.','.$ccount?>)" title="flag if inapproriate" data-toggle="modal" data-target="#flagModalCar"><i></i></small></a>
                          <?php } else { ?>
                             <small style="color:#fff" class="btn btn-primary  btn-sm make-favorite">flagged</small>
                          <?php } ?>
                          </span>
                        <?php } ?>
                      <?php } ?>
               

            </div>
          </div>
      <?php $ccount++; endforeach; ?>
      </div><!-- end ads wrapper --> 
  </div> <!-- end col-md-9 -->





		</div><!-- end page wrapper body -->

	</div><!-- end body wrapper row -->
  </div><!-- end body wrapper container-fluid -->
</div><!-- end body wrapper -->

<script type="text/javascript">
	jQuery(document).ready(function(){

      $('#flagify').click(function() {
        $('#flagModal').modal('hide');
        if ($('#flag_type').val() == "0") {
          alertify.error("you must choose one option");
        } else {
          var flagger = $("#flaggerId").val();
          var review = $('#reviewId').val();
          var reviewer = $('#reviewerId').val();
          var flag_type = $('#flag_type').val();
          var span_counter = $('#flagId').val();
                      $.ajax({
                        url: "<?php echo $this->url->getBaseUri() . 'thing/flag'; ?>",
                        type: 'GET',
                        data: {reviewer:reviewer, review:review,flagger:flagger, flag_type:flag_type},
                        dataType: 'json',
                        success: function(result){
                          $('#flagRemover' + span_counter).html('<span style="float:right;color:red;">reported</span>');
                          alertify.success("Your report has been sent to admins.");
                          console.log(result.items);
                        
                        },
                        error: function(){
                          alertify.error("whoops, something went wrong.");
                        }
                   });
          }
      }); 

    });

    function flagAll(reviewer, reporter, reviewId, counter) {
      $('#reviewerId').val(reviewer);
      $('#reviewId').val(reviewId);
      $('#flaggerId').val(reporter);
      $('#flagId').val(counter);
    }
</script>


<!-- Modal -->
<div class="modal fade" id="flagModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><span style="font-family:Arial;color:red;font-weight:bold;"><span class="glyphicon glyphicon-flag" style="color: red;"></span> Flag Review</span></h4>
      </div>
      <div class="modal-body">
        <p>Please refer to our 'Terms of Use' and 'Privacy Policy' and let us know why you think the content you've reported may violate these guidelines</p>

        <br>

        <p style="font-weight:bold">Why do you want to report this review?</p>
        <form action="">
          <input id="flagId" type="hidden" class="form-control"/>
          <input id="reviewId" type="hidden" class="form-control" />
          <input id="reviewerId" type="hidden" class="form-control" />
          <input id="flaggerId" type="hidden" class="form-control" />
          <select id="flag_type" class="form-control">
            <option value="0">Select and option...</option>
            <?php $flagOptions = FlagTypes::find(); 
              foreach ($flagOptions as $option) {
            ?>
              <option value="<?= $option->id ?>"><?= $option->detail ?></option>
            <?php } ?>
          </select>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="flagify" type="button" class="btn btn-primary">Flag car</button>
      </div>
    </div>
  </div>
</div>