<?php echo $this->tag->javascriptInclude("themes/customize/js/ckeditor/ckeditor.js"); ?>
<?php echo $this->tag->javascriptInclude("themes3/themes/cropit/js/jquery.cropit.min.js"); ?>



<div class="body-wrapper" style="margin-top:110px;margin-bottom:20px"> <!-- start body wrapper -->
  <div class="container" style=" background:#fff;border:1px solid #ddd"> <!-- start body wrapper container-fluid -->
    <div class="row" > <!-- start body wrapper row -->
      <div style="margin-bottom:20px"><!-- page wrapper body -->




      <div class="col-md-12 "  >
          <div class="col-md-12 col-xs-12"  >
              <ul class="breadcrumb pull-left" style="padding:5px 0px; margin:0px">
                  <li>Home</li>
                  <li>Classifieds</li>
                  <li>things</li>
                  <li class="active">update item</li>
              </ul>
          </div>
      </div>
        <?php //$this->partial('partials/breadcrum'); ?>

  	  <!-- start left panel -->
      <div class="col-md-3" style="">
        <div class="col-md-12 col-sm-6" style="padding:0px;margin0px;">
			<?php $this->partial("layouts/elements/profile_widget"); ?>	
        </div>
      </div>
      <!-- end left panel -->

		    <div class="col-md-9" style="border-left:1px solid #ddd "> <!-- start col-md-9 -->


          <div class="col-md-12">
              <h3  style="border-bottom:1px solid #d3d3d3;padding:3px;font-family:berlin;font-weight:bold;padding-top:0px;margin-top:0px">
              Post Item</h3>
          </div>

          <div class="col-md-12">
            <?php $this->flash->output(); ?>
          </div>
              <?php echo Phalcon\Tag::form(array("thing/new", "method" => "post", "id" => "thingNew", "enctype"=>"multipart/form-data")); ?>

            <div class="col-md-8">
               <div class="col-md-12">
                <div class="image-editor">
                  <input type="file" class="cropit-image-input" >
                  <div class="cropit-image-preview"></div>
                  <label for="InputName" class="image-size-label">Resize image</label>
                  <input type="hidden" name="referer"/>
                  <input type="range" class="cropit-image-zoom-input">
                  <input type="hidden" name="image-data" class="hidden-image-data" />
                </div>
              </div>

                <div class="col-md-12">
                <div class="form-group">
                  <label>Item Name</label>
                  <input name="name" type="text" class="form-control" >
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label>Details</label>
                  <textarea name="details" type="textarea" class="ckeditor form-control" ></textarea>
                </div>
              </div>


                <div class="form-group">
                  <div class="col-lg-12 text-center">
                  <button type="submit" class="btn btn-primary">Add Item</button>
                  </div>
                </div>
            </div>

            <div class="col-md-4">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Price</label>
                  <input name="price" type="text" class="form-control" >
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label>Condition</label>
                  <select name="thing_condition_id"  type="select" class="form-control">
                      <option value="">Select condition</option>
                    <?php foreach ($thingConditions as $key => $thingCondition) { ?>
                      <option value="<?php echo $thingCondition->id; ?>"><?php echo $thingCondition->name; ?></option>
                    <?php } ?>
                  </select>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label>Category</label>
                  <select name="thing_category_id"  type="select" class="form-control" id="thingCategory">
                      <option value="">Select category</option>
                    <?php foreach ($thingCategories as $key => $thingCategory) { ?>
                      <option value="<?php echo $thingCategory->id; ?>" class="category category_<?php echo $thingCategory->id; ?>"><?php echo $thingCategory->name; ?></option>
                    <?php } ?>
                  </select>
                </div>
              </div>
            </div>



        <?php echo Phalcon\Tag::endForm(); ?>



        </div><!-- end col-md-9 -->


      </div><!-- end wrapper body -->
    </div> <!-- start body wrapper row -->     
  </div> <!-- start body wrapper container-fluid -->
</div><!-- start body wrapper -->

<script type="text/javascript">
  $(document).ready(function() {
    
    $('#thingNew').bootstrapValidator({
            message: 'This value is not valid',
          feedbackIcons: {
              valid: 'glyphicon glyphicon-ok',
              invalid: 'glyphicon glyphicon-remove',
              validating: 'glyphicon glyphicon-refresh'
          },
          fields: {
              name: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },
              details: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },
              price: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      },
         numeric: {
                          message: '* The price must be a number'
                      }
                  }
              },
             thing_condition_id: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },
    thing_category_id: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              }
            }
        });
  });


    $('.image-editor').cropit({
      height: 250,
       width: 500,   
       imageBackground: true,
      imageBackgroundBorderWidth: 15 // Width of background border
    });

    $('form').submit(function() {
            // Move cropped image data to hidden input
            var imageData = $('.image-editor').cropit('export');
            $('.hidden-image-data').val(imageData);

            // Print HTTP request params
            var formValue = $(this).serialize();
            //$('#result-data').text(formValue);

            console.log(formValue);
            "<?php $encoded = "+formValue+"; ?>"
   
        });
 

</script>

