<?php echo $this->tag->javascriptInclude("themes/customize/js/ckeditor/ckeditor.js"); ?>
<?php echo $this->tag->javascriptInclude("themes3/themes/cropit/js/jquery.cropit.min.js"); ?>


<style type="text/css">
fieldset.sched-border{
  border:1px groove #ddd !important;
  padding:0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  -webkit-box-shadow: 0px 0px 0px 0px #000;
      box-shadow: 0px 0px 0px 0px #000;

}


legend.sched-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width:auto;
    padding:0px 10px;
    border-bottom: none;
}

</style>
<style type="text/css">
.file{
    color:green;
    padding:5px; border:1px dashed #123456;
    background-color: #f9ffe5;
}
.help-block{
  position: absolute;
/*  visibility: hidden;*/
right:20px;
}

.form-control-feedback {
text-align: left;
  }
select.form-control-feedback {
text-align: left;
color: #fe7;
  }
</style>
<div class="body-wrapper" style="margin-top:110px;margin-bottom:20px"> <!-- start body wrapper -->
  <div class="container" > <!-- start body wrapper container-fluid -->
    <div class="row" > <!-- start body wrapper row -->
      <div style="margin-bottom:20px"><!-- page wrapper body -->

      <div class="col-md-12 "  >
          <div class="col-md-12 col-xs-12"  >
              <ul class="breadcrumb pull-left" style="padding:5px 0px; margin:0px">
                  <li>Home</li>
                  <li>Classifieds</li>
                  <li>things</li>
                  <li class="active">update item</li>
              </ul>
          </div>
      </div>
        <?php //$this->partial('partials/breadcrum'); ?>

      <!-- start left panel -->
      <div class="col-md-2 col-sm-4" style="">
        <div class="boxiy" style="padding:0px;margin:0px;">
      <?php $this->partial("partials/classfied_sidebar"); ?> 
        </div>
      </div>
      <!-- end left panel -->



        <div class="col-md-9 boxiy" style="border-left:1px solid #ddd "> <!-- start col-md-9 -->


<hr>



 <div class="col-md-12">
  <?php 
  $error = '';
  if ($this->session->has("errorMessasge")) {
      $error = $this->session->get("errorMessasge");
      ?>
    <table class="table table-bordered">
    <div class="alert alert-danger fade in">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>Error!</strong> <?=$error?>
    </div>

  <?php $this->session->remove("errorMessasge"); } ?>

  <?php 
  $success = '';
  if ($this->session->has("successMessasge")) {
     $success = $this->session->get("successMessasge");
     ?>
    <div class="alert alert-success fade in">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>Success!</strong> <?=$success?>
    </div>
  <?php $this->session->remove("successMessasge"); } ?>
  </div>





<div class="col-md-12">
  <?php echo Phalcon\Tag::form(array("thing/update/".$thing->id, "method" => "post", "id" => "thingNew", "enctype"=>"multipart/form-data")); ?>


  <fieldset class="sched-border">
    <legend class="sched-border"> Update Information</legend>

      <div class="row">


       

          <div class="form-group col-md-4">
            <label>Item Name</label>
            <input name="id" type="hidden"  value="<?php echo $theID = $thing->id; ?>" >
            <input name="name" type="text" class="form-control" value="<?php echo $thing->name; ?>" >
          </div>


<script>
    function currency(dom) {
      $dave = dom.getAttribute("href");
      $('.currency').hide().text($dave).fadeIn();
      var val = '';
      switch ($dave) {
        case '$ USD':
            val = 1
            break;
        case '₱ PHP':
            val = 2;
            break;
        case '$ CAD':
            val = 3;
            break;
      } 
      console.log(val);
      $('#currency_type').val(val)
    }
</script>
              <div class="form-group col-md-4">
                  <label>(*) Price</label>
 
                  <?php 
                  $price = '';
                    switch ($thing->currency_type) {
                      case 1:
                        $price = '$ USD';
                        break;
                      case 2:
                        $price = '₱ PHP';
                        break;
                      case 3:
                        $price = '$ CAD';
                        break;
                      default:
                        $price = '$ USD';
                      break;
                    }
                   ?>
                  <div class="input-group">
                    <span class="input-group-addon"><div class="currency"><?=$price?></div></span>
                  <input type="hidden" name="currency_type" id="currency_type" value="">
                  <input name="price" type="text" class="form-control" value="<?php echo $thing->price; ?>" placeholder="Price" >

                        <span  style="cursor:pointer" class="input-group-addon dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class=" caret" ></span>
                        </span>
                          <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="$ USD" onClick="currency(this);return false;">$ USD - US Dollar </a></li>
                            <li><a href="₱ PHP" onClick="currency(this);return false;">₱ PHP - Philippines Peso</a></li>
                            <li><a href="$ CAD" onClick="currency(this);return false;">$ CAD - Canadian Dollar</a></li>
                          </ul>
                  </div>
     </div>

          <div class="form-group col-md-4">
              <label>Condition</label>
              <select name="thing_condition_id"  type="select" class="form-control">
                  <option value="">Select condition</option>
                <?php foreach ($thingConditions as $key => $thingCondition) { ?>
                  <?php if ($thingCondition->id == $thing->thing_condition_id) { ?>
                    <option value="<?php echo $thingCondition->id; ?>" selected><?php echo $thingCondition->name; ?></option>
                  <?php } else { ?>
                    <option value="<?php echo $thingCondition->id; ?>" ><?php echo $thingCondition->name; ?></option>
                  <?php } ?>
                <?php } ?>
              </select>
          </div>

          <div class="form-group col-md-4">
              <label>Category</label>
              <select name="thing_category_id"  type="select" class="form-control" id="thingCategory">
                  <option value="">Select category</option>
                <?php foreach ($thingCategories as $key => $thingCategory) { ?>
                  <?php if($thingCategory->id == $thing->thing_category_id){ ?>
                      <option value="<?php echo $thingCategory->id; ?>" class="category category_<?php echo $thingCategory->id; ?>" selected><?php echo $thingCategory->name; ?></option>
                  <?php } else { ?>
                      <option value="<?php echo $thingCategory->id; ?>" class="category category_<?php echo $thingCategory->id; ?>"><?php echo $thingCategory->name; ?></option>
                  <?php } ?>
                <?php } ?>
              </select>
          </div>


          <div class="form-group col-md-4">
            <label>Contact No.</label>
            <input name="contact_no"  type="text" class="form-control"  placeholder="Contact No" value="<?php echo $thing->contact_no; ?>" >
          </div>


          <div class="form-group col-md-4">
            <label>Email</label>
            <input name="email"  type="text" class="form-control" placeholder="Email" value="<?php echo $thing->email; ?>" >
          </div>

          <div class="form-group col-md-4">
            <label>other name</label>
            <input name="other_name"  type="text" class="form-control" placeholder="Other Name" value="<?php echo $thing->other_name; ?>" >
          </div>

          <div class="form-group col-md-12">
            <label>Details</label>
            <textarea name="details" type="textarea" class="ckeditor form-control" ><?php echo $thing->details; ?></textarea>
          </div>




      </div>



      <div class="row">

              <div class="form-group col-md-8">
                  <label>Street (optional)</label>
                  <input name="street" type="text" class="form-control" placeholder="Street" value="<?php echo $thing->street; ?>" >
              </div>

            <div class="form-group col-md-4">
              <label>(*) Country</label>
            <select id="country_code" name="country_id"  type="select" class="form-control">
                <option value="">Select Country</option>
              <?php $countryCodes = CountryCodes::find(); ?>
              <?php foreach ($countryCodes as $country_code) { ?>
                <?php if ($country_code->id == $thing->country_code_id) {?>
                  <option value="<?php echo $country_code->id; ?>" selected><?php echo $country_code->country_name; ?></option>
                <?php } else { ?>
                  <option value="<?php echo $country_code->id; ?>"><?php echo $country_code->country_name; ?></option>
                <?php }?>
              <?php } ?>
            </select>

            </div>

           <div class="form-group col-md-4">
              <label>(*) State or Province (select counrty first)</label>
              <select id="state" name="state"  type="select" class="form-control">
         
              </select>
            </div>

           <div class="form-group col-md-4">
              <label>(*) City (select state or province first)</label>
              <select id="city" name="city"  type="select" class="form-control">
         
              </select>
            </div>

        </div>



        <div class="row">
          <div class="col-md-3">
            <input type="submit" value="Update " class="btn btn-sm btn-success">
          </div>
        </div>
 


  </fieldset>

  <?php echo Phalcon\Tag::endForm(); ?>





<?php $autoP = count($thing->ThingPhotos); ?>
<?php if($autoP != 0){ ?>

   <fieldset class="sched-border">
      <legend class="sched-border">Photo Gallery </legend>
   
    <table class="table">
        <thead>

            <tr>
                <th>no</th>
                <th>Image</th>

                <th>Action</th>
            </tr>

        </thead>

        <tbody>
            <?php $i = 0;
            foreach ($thing->ThingPhotos as $key => $photo) {
            $photos[$key] =  $photo->file_path.$photo->filename;
            $fileId[$key] = $photo->id;
            $i++;
            ?>
             <tr class="active">

                <td><?=$i?></td>

                <td>
                <div class="img-thumbnail">
                <?php echo Phalcon\Tag::image(array($photos[$key] , 'class' => 'img-responsive ', "style" => "height:50px")); ?>
                 </div>
                </td>

                <td><a href="<?php echo $this->url->getBaseUri().'thing/delete_photo/'.$photo->id.'/'.$theID?>" class="btn btn-sm btn-success">Delete</a></td>

            </tr>
            <?php } ?>

        </tbody>
    </table>


      </fieldset>
<?php } ?>




<?php $autoP = count($thing->ThingPhotos); ?>
<?php  if($autoP < 4){ ?>

      <fieldset class="sched-border">
      <legend class="sched-border"> Add Photo </legend>
        <legend class="pull-right" style="text-align:right">( * ) required field</legend>


        <?php echo Phalcon\Tag::form(array("thing/update_photo/". $thing->id, "method" => "post", "id" => "thingUpdate", "class" => "theForm" , "enctype"=>"multipart/form-data")); ?>

        <div class="row">
   
            <?php

             $autoP = count($thing->ThingPhotos);
              $sumP = abs($autoP - 4);
                for ($i=0; $i < $sumP; $i++) { 
             
            ?>

              <div class="form-group col-md-4">
                <label>Photo <?=$i + 1;?> </label>
                <input name="file[]" type="file" class="file"/>
              </div>

            <?php } ?>

        </div>

   
        <div class="row">
          <div class="col-md-3">
            <input type="submit" name='photoAdd' value="Add" class="btn btn-sm btn-success">
          </div>
        </div>
      <?php echo Phalcon\Tag::endForm(); ?>
      </fieldset>


<?php } ?>




</div>




        </div><!-- end col-md-9 -->


      </div><!-- end wrapper body -->
    </div> <!-- start body wrapper row -->     
  </div> <!-- start body wrapper container-fluid -->
</div><!-- start body wrapper -->


<script type="text/javascript">
  $(document).ready(function() {
   $('#thingNew').bootstrapValidator({
            message: 'This value is not valid',
          feedbackIcons: {
              valid: 'glyphicon glyphicon-ok',
              invalid: 'glyphicon glyphicon-remove',
              validating: 'glyphicon glyphicon-refresh'
          },
          fields: {
              name: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },
              details: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },
              price: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      },
              numeric: {
                          message: '* The price must be a number'
                      }
                  }
              },
             thing_condition_id: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },
             contact_no: {
                  validators: {
                    numeric: {
                          message: '* The contact must be a number'
                      }
                  }
              },

             email: {
                  validators: {
                      emailAddress: {
                          message: 'not a valid email address'
                      }
                  }
              },
             location: {
                  validators: {
                      emailAddress: {
                          message: 'not a valid email address'
                      }
                  }
              },
              country_code_id: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },
              state: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      },
                  }
              },
              city: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      },
                  }
              },


          thing_category_id: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },
              file1: {
                  validators: {
                      file1: {
                          extension: 'jpeg,jpg,png',
                          type: 'image/jpeg,image/png',
                          maxSize: 2097152,   // 2048 * 1024
                          message: 'The selected file is not valid'
                      }
                  }
              },
              file2: {
                  validators: {
                      file: {
                          extension: 'jpeg,jpg,png',
                          type: 'image/jpeg,image/png',
                          maxSize: 2097152,   // 2048 * 1024
                          message: 'The selected file is not valid'
                      }
                  }
              },
              file3: {
                  validators: {
                      file: {
                          extension: 'jpeg,jpg,png',
                          type: 'image/jpeg,image/png',
                          maxSize: 2097152,   // 2048 * 1024
                          message: 'The selected file is not valid'
                      }
                  }
              },
              file4: {
                  validators: {
                      file: {
                          extension: 'jpeg,jpg,png',
                          type: 'image/jpeg,image/png',
                          maxSize: 2097152,   // 2048 * 1024
                          message: 'The selected file is not valid'
                      }
                  }
              }


            }
        });


  $('#thingUpdate').bootstrapValidator({
            message: 'This value is not valid',
          feedbackIcons: {
              valid: 'glyphicon glyphicon-ok',
              invalid: 'glyphicon glyphicon-remove',
              validating: 'glyphicon glyphicon-refresh'
          },
          fields: {
              file1: {
                  validators: {
                      file1: {
                          extension: 'jpeg,jpg,png',
                          type: 'image/jpeg,image/png',
                          maxSize: 2097152,   // 2048 * 1024
                          message: 'The selected file is not valid'
                      }
                  }
              },
              file2: {
                  validators: {
                      file: {
                          extension: 'jpeg,jpg,png',
                          type: 'image/jpeg,image/png',
                          maxSize: 2097152,   // 2048 * 1024
                          message: 'The selected file is not valid'
                      }
                  }
              },
              file3: {
                  validators: {
                      file: {
                          extension: 'jpeg,jpg,png',
                          type: 'image/jpeg,image/png',
                          maxSize: 2097152,   // 2048 * 1024
                          message: 'The selected file is not valid'
                      }
                  }
              },
              file4: {
                  validators: {
                      file: {
                          extension: 'jpeg,jpg,png',
                          type: 'image/jpeg,image/png',
                          maxSize: 2097152,   // 2048 * 1024
                          message: 'The selected file is not valid'
                      }
                  }
              }


            }
        });


  $("#country_code" ).change(function() {
      callAjaxGetCountry();
  });

  $('#state').change(function() {
      callAjaxGetCities();
  });


  });

 

  
 function callAjaxGetCountry() {
   var param  = $('#country_code').val();
   $states = "<?php echo $thing->state; ?>";

   console.log("states " + $states);

    var datastring = "param=" + param;
   
     $.ajax({
        url: "<?php echo $this->url->getBaseUri() . 'thing/getStates'; ?>",
        type: 'GET',
        data: datastring,
        dataType: 'json',
        success: function(data){
            var selectstate = '<option value="">Select State</option>';
            $.each(data, function(i, item) {

               if(data[i].id == $states){
                selectstate += '<option value="'+data[i].id+'" selected>'+data[i].name+'</option>';
               }else{
                selectstate += '<option value="'+data[i].id+'">'+data[i].name+'</option>';
               }
              //console.log(data[i].id);
            });

            $('#state').html('');
            $('#city').html('');
            $('#state').append(selectstate);

        },
      error: function (xhr, ajaxOptions, thrownError) {
        alert(xhr.status);
        alert(thrownError);
      }

      });
  }


  function callAjaxGetCities() {

    var param1  = $('#state').val();
    var state = "<?php echo $thing->state; ?>";
    var city = "<?php echo $thing->city; ?>";

    console.log('city' + city);
    if(!param1 || 0 === param1.length){
      param1 = state;
    }
    var datastring1 = "param1=" + param1;
    $.ajax({
      url: "<?php echo $this->url->getBaseUri() . 'thing/getCities'; ?>",
      type: 'GET',
      data: datastring1,
      dataType: 'json',
      success: function(success){
          var selectcity = '<option value="">Select City</option>';
          $.each(success, function(i, item) {
  
           if(success[i].id == city){
            selectcity += '<option value="'+success[i].id+'" selected>'+success[i].name+'</option>';
           }else{
            selectcity += '<option value="'+success[i].id+'">'+success[i].name+'</option>';
           }

          });

          $('#city').html('');
          $('#city').append(selectcity);
      },
      error: function (xhr, ajaxOptions, thrownError) {
        alert(xhr.status);
        alert(thrownError);
      }
    });
   return false;
  }

  $('body').ready(function(){
     callAjaxGetCountry();
     callAjaxGetCities();
  });







</script>
     