<h2>Review Flags</h2>
<table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Review Id</th>
                <th>Reviewer</th>
                <th>Reported By</th>
                <th>Flag Type</th>
                <th>Page</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
        <?php foreach ($flags as $key => $flag) { ?>
            <tr>
                <td><?=$flag->review_id?></td>
                <?php $reviewerName = Members::findFirst("id='".$flag->target_id."'"); ?>
                <td><?=$reviewerName->first_name . ' ' .$reviewerName->last_name?></td>
                <?php $reporterName = Members::findFirst("id='".$flag->member_id."'"); ?>
                <td><?=$reporterName->first_name . ' ' .$reporterName->last_name?></td>
                <td><?=$flag->flag_type_id?></td>
                <td><?=$flag->page?></td>
                <td>Pending</td>
            </tr>
        <?php }?>
        </tbody>
    </table>
    <span style="font-weight:bold;">Flag Types</span>
     <ol>
      <li>It contains false information</li>
      <li>It's a fake</li>
      <li>It doesn't describe a personal consumer experience</li>
      <li>It uses offensive language or contains a personal attack</li>
      <li>It violates MyBarangay's terms of use and privacy policy</li>
      <li>It contains promotional material</li>
      <li>It's for wrong business</li>
    </ol> 

<script type="text/javascript">
	$(document).ready(function() {
		$(document).ready(function() {
		    $('#example').DataTable();
		} );
	});
</script>
