<?php
// notification 
echo $this->tag->javascriptInclude("js/bootstrap-notify.min.js");

?>
<?php $this->partial('partials/slider'); ?>
<!-- start body wrapper -->
<div class="body-wrappers" style="border-top:1px solid #042764;"  > 

<?php
$avatar = 'http://1.gravatar.com/avatar/173407badd2fd8beba911e4888bc73e9?s=1024&d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D1024&r=G';
function mediaReviewer(){
    echo '<div class="media" style="border-bottom:1px solid #ddd;">';
      echo '<div class="pull-left">';
      echo Phalcon\Tag::image(array($profilePic, 'class' => 'img-thumbnail pull-left', 'style' => 'margin-right:5px;width:50px; height: 50px;margin-bottom:5px;'));
        echo '</div>';
        echo '<div class="media-body">';
        echo '<span class="media-heading ellipsis4">$preview->content</span>';
      echo '</div>';
    echo '</div>';
}
?>


<!-- start tab header  asd asd asd asd david heart mercado -->
  <div class="container-fluid" style="background:rgb(0,48,130);"> <!-- start header container-fluid [0]-->
    <div class="row" > <!-- start header row [0] -->
        <div class="container" > <!-- start header container [0] -->
            <div class="row" > <!-- start header row [1] -->
      
              <ul class="nav nav-tabs" id="rowTab" >

              <li class="active"><a href="#Automotive" data-toggle="tab">Automotive</a></li>
              <li><a href="#Lifestyle" data-toggle="tab">Lifestyle</a></li>
              <li><a href="#Food" data-toggle="tab">Food</a></li>
              <li><a href="#Health" data-toggle="tab">Medical ,Health & Beauty</a></li>
              <li><a href="#Profesional" data-toggle="tab">Professional & Financial</a></li>
              <li><a href="#Hotels" data-toggle="tab">Hotels & Travel</a></li>
              <li><a href="#RealEstate" data-toggle="tab">Real Estate</a></li>
              <li><a href="#Shopping" data-toggle="tab">Shopping</a></li>

              </ul> <!-- cd-tabs-navigation -->

          </div><!-- end  header row [1]-->
        </div><!-- end  header container [0]-->
    </div><!-- end  header row [0] -->
  </div><!-- end header container-fluid [0] -->
<!-- end tab header -->

<!-- start tab content -->
<div class="container" style="background:#fff" > <!-- start content container -->
  <div class="row" > <!-- start content row -->



    <div class="col-md-9"> <!-- start tabs content col-md-9 -->



<div class="tab-content">


<!-- **************************************************************************** -->
    <div class="tab-pane active" id="Automotive"><!-- start Automotive tab -->
      <div class="row item-match "><!-- start Automotive row-->

          <?php $this->partial('index/tabs/auto'); ?>




      </div><!-- end Automotive row-->

          <div class="row">
            <a href="<?=$this->url->getBaseUri()?>review/search_business2?cat=automotive&page=1" class="btn btn-sm btn-primary pull-right">See more...</a>
          </div>

    </div><!-- end Automotive tab -->
<!-- **************************************************************************** -->


<!-- **************************************************************************** -->
    <div class="tab-pane" id="Lifestyle"><!-- start Lifestyle tab -->
      <div class="row item-match"><!-- start Lifestyle row-->

          <?php $this->partial('index/tabs/lifestyle'); ?>




      </div><!-- end Lifestyle row-->

          <div class="row">
            <a href="<?=$this->url->getBaseUri()?>review/search_business2?cat=lifestyle&page=1" class="btn btn-sm btn-primary pull-right">See more...</a>
          </div>

    </div><!-- end Lifestyle tab -->
<!-- **************************************************************************** -->


<!-- **************************************************************************** -->
    <div class="tab-pane" id="Food"><!-- start Food tab -->
      <div class="row item-match"><!-- start Food row-->

          <?php $this->partial('index/tabs/food'); ?>

      </div><!-- end Food row-->



          <div class="row">
            <a href="<?=$this->url->getBaseUri()?>review/search_business2?cat=food&page=1" class="btn btn-primary btn-sm pull-right">See more...</a>
          </div>


    </div><!-- end Food tab -->
<!-- **************************************************************************** -->

<!-- **************************************************************************** -->
    <div class="tab-pane" id="Health"><!-- start Health tab -->
      <div class="row item-match"><!-- start Health row-->

          <?php $this->partial('index/tabs/health'); ?>



      </div><!-- end Health row-->

          <div class="row">
            <a href="<?=$this->url->getBaseUri()?>review/search_business2?cat=health&page=1" class="btn btn-primary btn-sm pull-right">See more...</a>
          </div>

    </div><!-- end Health tab -->
<!-- **************************************************************************** -->


<!-- **************************************************************************** -->
    <div class="tab-pane" id="Profesional"><!-- start Profesional tab -->
      <div class="row item-match"><!-- start Profesional row-->

          <?php $this->partial('index/tabs/profesional'); ?>


      </div><!-- end Profesional row-->

          <div class="row">
            <a href="<?=$this->url->getBaseUri()?>review/search_business2/professional?cat=professional&page=1" class="btn btn-sm btn-primary pull-right">See more...</a>
          </div>

    </div><!-- end Profesional tab -->
<!-- **************************************************************************** -->

<!-- **************************************************************************** -->
    <div class="tab-pane" id="Hotels"><!-- start Hotels tab -->
      <div class="row item-match"><!-- start Hotels row-->

          <?php $this->partial('index/tabs/hotels'); ?>


      </div><!-- end Hotels row-->

          <div class="row">
            <a href="<?=$this->url->getBaseUri()?>review/search_business2?cat=hotel&page=1" class="btn btn-sm btn-primary pull-right">See more...</a>
          </div>


    </div><!-- end Hotels tab -->
<!-- **************************************************************************** -->


<!-- **************************************************************************** -->
    <div class="tab-pane" id="RealEstate"><!-- start RealEstate tab -->
      <div class="row item-match"><!-- start RealEstate row-->

          <?php $this->partial('index/tabs/realestate'); ?>


      </div><!-- end RealEstate row-->


          <div class="row">
            <a href="<?=$this->url->getBaseUri()?>review/search_business2?cat=realestate&page=1" class="btn btn-sm btn-primary pull-right">See more...</a>
          </div>

    </div><!-- end RealEstate tab -->
<!-- **************************************************************************** -->


<!-- **************************************************************************** -->
    <div class="tab-pane" id="Shopping"><!-- start Shopping tab -->
      <div class="row item-match"><!-- start Shopping row-->

          <?php $this->partial('index/tabs/shopping'); ?>

      </div><!-- end Shopping row-->
          <div class="row">
            <a href="<?=$this->url->getBaseUri()?>review/search_business2?cat=shopping&page=1" class="btn btn-sm btn-primary pull-right">See more...</a>
          </div>

    </div><!-- end Shopping tab -->
<!-- **************************************************************************** -->



</div>


    </div> <!-- start tabs content col-md-9 -->



<div class="col-md-3"   style="padding-top:10px ;margin-top:10px ;border-left:1px solid #ddd"><!-- start tabs content col-md-3 -->



<!-- ******************* start Classifieds *********************** -->

  <div class="col-sm-6 col-md-12" style="padding:0px;margin:0px">
    <div class="panel panel-default"><!-- start panel classifieds -->
      <div class="panel-heading" >
      <h4 style="padding:0px 5px;margin:0px;">  <i class="glyphicon glyphicon-list-alt"></i> Classifieds </h4>

      </div>

      <div class="panel-body">

        <?php 
          $countAuto = Automotives::count();

          if ($countAuto > 0) {
         $autos = Automotives::find(array('order' => 'id desc', 'limit' => 1));
  
          $limiter = 1;

          foreach ($autos as $auto) {?>

            <div class="media" style="border-bottom:1px solid #ddd;">
              <div class="pull-left" style="margin-bottom:5px;">
              <?php
              $autoPhoto = 'http://placehold.it/50X50/bbb/fff';
                $rPhotoCount = count($auto->automotivephotos);

              if ($rPhotoCount > 0) {
                $autoPhoto = $auto->automotivephotos[0]->file_path.$auto->automotivephotos[0]->filename;
              }
                echo Phalcon\Tag::image([$autoPhoto, 'class' => 'img-responsive', 'style'=>'width: 50px; height: 50px;']);
              ?>
                
                </div>
                <div class="media-body"><!-- start of media body -->
                <span class="media-heading" style="color: #023283;color: #023283; font-weight: bold;">

                  <a href="<?php echo $this->url->getBaseUri() . 'car_and_truck/view2/'. $auto->id;?>">
                    <?php
                    $auton = strip_tags($auto->name);
                    if (strlen($auton) > 25) {
                    // truncate string
                    $stringCut = substr($auton, 0, 25);
                    // make sure it ends in a word so assassinate doesn't become ass...
                    $auton = substr($stringCut, 0, strrpos($stringCut, ' ')).'...'; 
                    }
                    echo $auton;
                    ?>
                  </a>





                </span>

                <br><small class="muted">

                 <?php echo date('M d, Y ', strtotime($auto->created)); ?>
                </small>

              </div><!-- end of media body -->
            </div>
        <?php $limiter++; }}
 $countthing = Things::count();

          if ($countthing > 0) {
         $things = Things::find(array('order' => 'id desc', 'limit' => 1));
  

          foreach ($things as $thing) {?>

            <div class="media" style="border-bottom:1px solid #ddd;">
              <div class="pull-left" style="margin-bottom:5px;">
              <?php
              $autoPhoto = 'http://placehold.it/50X50/bbb/fff';
                $rPhotoCount = count($thing->thingphotos);

              if ($rPhotoCount > 0) {
                $autoPhoto = $thing->thingphotos[0]->file_path.$thing->thingphotos[0]->filename;
              }
                echo Phalcon\Tag::image([$autoPhoto, 'class' => 'img-responsive', 'style'=>'width: 50px; height: 50px;']);
              ?>
                
                </div>
                <div class="media-body"><!-- start of media body -->
                <span class="media-heading" style="color: #023283;color: #023283; font-weight: bold;">

                  <a href="<?php echo $this->url->getBaseUri() . 'thing/view2/'. $thing->id;?>">

                    <?php
                    $thingn = strip_tags($thing->name);
                    if (strlen($thingn) > 25) {
                    // truncate string
                    $stringCut = substr($thingn, 0, 25);
                    // make sure it ends in a word so assassinate doesn't become ass...
                    $thingn = substr($stringCut, 0, strrpos($stringCut, ' ')).'...'; 
                    }
                    echo $thingn;
                    ?>

                  </a>

                </span>

                <br><small class="muted">
                 <?php echo date('M d, Y ', strtotime($thing->created)); ?>

                </small>

              </div><!-- end of media body -->
            </div>
        <?php }}


$countAuto = Jobs::count();

          if ($countAuto > 0) {
         $jobs = Jobs::find(array('limit' => 1));
  
          $limiter = 1;

          foreach ($jobs as $job) {?>

            <div class="media" style="border-bottom:1px solid #ddd;">
              <div class="pull-left" style="margin-bottom:5px;">
              <?php
              $autoPhoto = 'http://placehold.it/50X50/bbb/fff';
                $rPhotoCount = count($job->joblogos);

              if ($rPhotoCount > 0) {
                $autoPhoto = $job->joblogos[0]->file_path.$job->joblogos[0]->filename;
              }
                echo Phalcon\Tag::image([$autoPhoto, 'class' => 'img-responsive', 'style'=>'width: 50px; height: 50px;']);
              ?>
                
                </div>
                <div class="media-body"><!-- start of media body -->
                <span class="media-heading" style="color: #023283;color: #023283; font-weight: bold;">

                  <a href="<?php echo $this->url->getBaseUri() . 'job/view2/'. $job->id;?>">

                    <?php
                    $jobn = strip_tags($job->position);
                    if (strlen($jobn) > 25) {
                    // truncate string
                    $stringCut = substr($jobn, 0, 25);
                    // make sure it ends in a word so assassinate doesn't become ass...
                    $jobn = substr($stringCut, 0, strrpos($stringCut, ' ')).'...'; 
                    }
                    echo $jobn;
                    ?>


                  </a>

                </span>

                <br><small class="muted">
                 <?php echo date('M d, Y ', strtotime($job->created)); ?>
       
                </small>

              </div><!-- end of media body -->
            </div>
        <?php $limiter++; }}

$countAuto = Realties::count();

          if ($countAuto > 0) {
         $realties = Realties::find(array('order' => 'id desc', 'limit' => 1));
  
          $limiter = 1;

          foreach ($realties as $realty) {?>

            <div class="media" style="border-bottom:1px solid #ddd;">
              <div class="pull-left" style="margin-bottom:5px;">
              <?php
              $autoPhoto = 'http://placehold.it/50X50/bbb/fff';
                $rPhotoCount = count($realty->realtyphotos);

              if ($rPhotoCount > 0) {
                $autoPhoto = $realty->realtyphotos[0]->file_path.$realty->realtyphotos[0]->filename;
              }
                echo Phalcon\Tag::image([$autoPhoto, 'class' => 'img-responsive', 'style'=>'width: 50px; height: 50px;']);
              ?>
                
                </div>
                <div class="media-body"><!-- start of media body -->
                <span class="media-heading" style="color: #023283;color: #023283; font-weight: bold;">

                  <a href="<?php echo $this->url->getBaseUri() . 'real_estate/view2/'. $realty->id;?>">

                    <?php
                    $realtyn = strip_tags($realty->position);
                    if (strlen($jobn) > 25) {
                    // truncate string
                    $stringCut = substr($realtyn, 0, 25);
                    // make sure it ends in a word so assassinate doesn't become ass...
                    $realtyn = substr($stringCut, 0, strrpos($stringCut, ' ')).'...'; 
                    }
                    echo $realtyn;
                    ?>

                  <?= $realty->name ?>
                  </a>

                </span>

                <br><small class="muted">
                 <?php echo date('M d, Y ', strtotime($realty->created)); ?>
                </small>

              </div><!-- end of media body -->
            </div>
        <?php $limiter++; }}
         ?>
        
      </div>
    </div><!-- end panel classifieds -->
  </div>
<!-- ******************* end Classifieds *********************** -->

<!-- ******************* start Events *********************** -->
  <div class="col-sm-6 col-md-12 " style="padding:0px;margin:0px">
    <div class="panel panel-default"><!-- start panel Events -->




      <div class="panel-heading" >
        <h4 style="padding:0px 5px;margin:0px;">  <i class="fa fa-calendar"></i> Events </h4>
      </div>

      <div class="panel-body"><!-- panel body -->
          <?php 
            $countEvents = Events::find(); 

            if ($countEvents->count() > 3 ) {
            $events = Events::find(["order" => 'id desc']); ?>
          <?php 

          $limiter = 0;
          while($limiter < 4) {?>
            <div class="media" style="border-bottom:1px solid #ddd;">
              <div class="pull-left " style="margin-bottom:5px;">
          <?php
          $eventPhoto = 'http://placehold.it/50x50&text=no+photo';
            $rPhotoCount = count($events[$limiter]->EventPhotos);
            if ($rPhotoCount > 0) {
            $eventPhoto = $events[$limiter]->eventphotos[0]->file_path.$events[$limiter]->eventphotos[0]->filename;
            }
      
          echo Phalcon\Tag::image([$eventPhoto, 'class' => 'img-responsive', 'style'=> 'width: 50px; height: 50px;']);

          ?>
            </div>
            <div class="media-body">
            <span class="media-heading"><a href="<?php echo $this->url->getBaseUri() . 'event/view/'. $events[$limiter]->id;?>" class="" style="color: #023283; font-weight: bold;">
              <?php
              $string = strip_tags($events[$limiter]->name);
              if (strlen($string) > 45) {
              // truncate string
              $stringCut = substr($string, 0, 40);
              // make sure it ends in a word so assassinate doesn't become ass...
              $string = substr($stringCut, 0, strrpos($stringCut, ' ')).'...'; 
              }
              echo $string;
              ?>

            </a></span>
            <div class="clearfix"></div>
            <p><small class="">
              <?php
                  $datess = ''; 
                  $ccx = count($events[$limiter]->EventDatetimes);
                  if ($ccx > 0) {
                    $datess = $events[$limiter]->EventDatetimes[0]->date; 
                  }
                echo date('M d, Y ', strtotime($datess));

              ?>
            </small></p>
          </div>
    
        </div>
        <?php $limiter++; } }?>
      </div><!-- panel body -->
    </div><!-- end panel events -->
  </div>
<!-- ******************* end Events *********************** -->


<!-- ******************* start Whatsup *********************** -->
  <div class="col-sm-6 col-md-12 " style="padding:0px;margin:0px">
    <div class="panel panel-default"><!-- start panel Events -->

      <div class="panel-heading" >
        <h4 style="padding:0px 5px;margin:0px;">  <i class="fa fa-comment"></i>What's Up </h4>
      </div>

      <div class="panel-body"><!-- panel body -->

<?php $topics = WhatsupTopics::find(["order" => 'id desc', 'limit' => 4]); ?>

<?php
foreach ($topics as $top) { ?>
<!--     echo '<div class="media" style="border-bottom:1px solid #ddd;">';
      echo '<h5 style="padding:0px;margin:0px;color: #023283; font-weight: bold;">'.$top->subject.'</h5>';
      echo date('M d, Y ', strtotime($top->created_at));
    echo '</div>'; -->


           <div class="media" style="border-bottom:1px solid #ddd;">
              <div class="pull-left" style="margin-bottom:5px;">
              <?php
              $profilePic = 'http://placehold.it/50x50&text=NO+PROFILE+PIC';
              $avatar = MemberPhotos::findFirst('member_id = "'.$top->member_id.'" and primary_pic="Yes"');
              if ($avatar) {
              $profilePic =  'http://mybarangay.com'.$this->url->getBaseUri() . $avatar->file_path . $avatar->filename;
             } ?> 
              <a class="restricted" href="<?php echo $this->url->getBaseUri().'member/page/'.$top->member_id; ?>">;
                 <?php echo Phalcon\Tag::image(array($profilePic,  'style' => 'width:50px;height:50px'));  ?>
              </a>

                
                </div>
                <div class="media-body"><!-- start of media body -->
                <span class="media-heading" style="color: #023283;color: #023283; font-weight: bold;">

                  <a href="<?php echo $this->url->getBaseUri() . 'forum/view/'. $top->id;?>">

                    <?php
                    $subject = strip_tags($top->subject);
                    if (strlen($jobn) > 25) {
                    // truncate string
                    $stringCut = substr($subject, 0, 25);
                    // make sure it ends in a word so assassinate doesn't become ass...
                    $subject = substr($stringCut, 0, strrpos($stringCut, ' ')).'...'; 
                    }
                    echo $subject;
                    ?>

                  </a>

                </span>

                <br><small class="muted">
                 <?php echo date('M d, Y ', strtotime($top->created_at)); ?>
                </small>

              </div><!-- end of media body -->
            </div>
<?php } ?>


      </div>
    </div><!-- end panel events -->
  </div>
<!-- ******************* end Whatsup *********************** -->



<?php $this->partial("partials/ads"); ?>

</div><!-- end tabs content col-md-3 -->






  </div><!-- end content row -->
<!-- <div class="row" style="z-index:100">
            <div class="col-md-5 col-sm-6 matcher" style="border:1px dotted #000; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> -->
<!-- Homepage -->
<!-- <ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2827353860802948"
     data-ad-slot="9133920517"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div> -->

    <div class="row">
  
          <div class="col-md-3 col-sm-6 matcher" style="height:213px">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Square 1 -->
  <ins class="adsbygoogle"
     style="display:inline-block;width:255px;height:213px"
     data-ad-client="ca-pub-2827353860802948"
     data-ad-slot="6306061710"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
          </div>
          <div class="col-md-3 col-sm-6 matcher" style=" height:213px">
  <ins class="adsbygoogle"
     style="display:inline-block;width:255px;height:213px"
     data-ad-client="ca-pub-2827353860802948"
     data-ad-slot="6306061710"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
          </div>
          <div class="col-md-3 col-sm-6 matcher" style=" height:213px">
 <ins class="adsbygoogle"
     style="display:inline-block;width:255px;height:213px"
     data-ad-client="ca-pub-2827353860802948"
     data-ad-slot="6306061710"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
          </div>
          <div class="col-md-3 col-sm-6 matcher" style="height:213px">
 <ins class="adsbygoogle"
     style="display:inline-block;width:255px;height:213px"
     data-ad-client="ca-pub-2827353860802948"
     data-ad-slot="6306061710"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
          </div>
    </div>


<!-- 
</div> --><!-- end content container-fluid -->
<!-- end tab content -->




</div><!-- end body wrapper -->


<?php $this->partial('partials/notification'); ?>
<script type="text/javascript">
function rememberTabSelection(tabPaneSelector, useHash) {
    var key = 'selectedTabFor' + tabPaneSelector;

    if(get(key)) 
     var  dave =   $(tabPaneSelector).find('a[href=' + get(key) + ']').tab('show');

    

    $(tabPaneSelector).on("click", 'a[data-toggle]', function(event) {
        set(key, this.getAttribute('href'));
        console.log(this.getAttribute('href'));
    }); 

    function get(key) {
        return useHash ? location.hash: localStorage.getItem(key);
    }

    function set(key, value){
        if(useHash)
            location.hash = value;
        else
            localStorage.setItem(key, value);
    }
}

$(document).ready(function () {
    rememberTabSelection('#rowTab', !localStorage);
});
</script>

<?php

     // echo $this->tag->javascriptInclude('themes3/js/tabs.js'); 
?>
