
<?php $this->partial('partials/header'); ?>

<?php $this->partial('partials/slider'); ?>

<div class="body-wrapper bg-img-1" style="border-top:1px solid #042764"  > <!-- start body wrapper -->
  <div class="container-fluid" > <!-- start body wrapper container-fluid -->
      <div class="row" > <!-- start body wrapper row -->


        <div class="cd-tabs"> <!-- start cd-tabs -->

          <nav style="background:#023181; "> <!-- start cd-tabs-navigation -->

               <div class="row"> <!-- start row -->
               <div class="col-md-10 col-md-offset-1" >
                  <ul class="cd-tabs-navigation" style="">
                  <li><a data-content="Automotive" class="selected" href="#0">Automotive</a></li>
                  <li><a data-content="LifeStyle" href="#0">LifeStyle</a></li>
                  <li><a data-content="Food" href="#0">Food</a></li>
                  <li><a data-content="Health" href="#0">Health & Beauty</a></li>
                  <li><a data-content="Profesional" href="#0">Profesional & Financial</a></li>
                  <li><a data-content="Hotels" href="#0">Hotels & Travel</a></li>
                  <li><a data-content="RealEstate" href="#0">Real Estate</a></li>
                  <li><a data-content="Shopping" href="#0">Shopping</a></li>

                  </ul> <!-- cd-tabs-navigation -->
                </div>
           </div>
          </nav> <!-- end cd-tabs-navigation -->
              
          <div class="container-fluid" > <!-- start container-fluid -->
            <div class="row"> <!-- start row -->

              <div class="col-md-10 col-md-offset-1"  style="border-left:1px solid #bbbbbb;border-right:1px solid #bbbbbb;border-bottom:1px solid #bbbbbb;background:#fff" > <!-- start col-md-10  offset row -->
              
              <div class="row"> <!-- start col-md-10 col-md-offset-1 -->
                
              <div class="col-md-9"> <!-- tabs content row -->

              <ul class="cd-tabs-content"> <!-- start cd-tabs-content-->


  <!-- *************************** Automotive *************************** -->
                <!-- start automotive-->
                <li data-content="Automotive" class="selected">
                  <div class="row"><!-- start automotive row-->

                  <?php foreach ($autoBizList as $key => $biz) { ?>
                    <?php if($key <= 5 && $key != 0) { ?>
                       <!-- 1st item automotive-->
                      <div class="col-md-4 col-sm-4 col-xs-6">
                          <div class="panel panel-default"><!--start panel-default -->
                            <div class="panel-thumbnail"> <!--start panel-thumbnail -->

                              <?php 
                                 $businessLastImg = 'http://placehold.it/220x120';
                                  $latestPicKey = count($biz->BusinessImages) - 1;
                                  if($latestPicKey >= 0){
                                    $businessLastImg = $biz->BusinessImages[$latestPicKey]->file_path.$biz->BusinessImages[$latestPicKey]->filename;
                                  }
                                  echo Phalcon\Tag::image(array($businessLastImg, 'class' => 'img-responsive '));
                               ?>
                              
                            </div> <!--end panel-thumbnail -->

                            <div class="panel-body"> <!--start panel-body-->
                              <p class="lead">
                                <?php echo Phalcon\Tag::linkTo(array('business/view/'.$biz->id, '<span class=""></span>'.$biz->name, 'class' => 'text-primary')); ?>
                              </p>

                              <p>
                                <span class="glyphicon glyphicon-home" aria-hidden="true"> </span>  
                                <?php echo (isset($biz->street) || ($biz->street != '') ? $biz->street.', '.$biz->city.', '.$biz->Countries->country : 'No Address Info'); ?>
                              </p>

                              <p > <a href="#" class="text-info">rasmus lerdorf</a></p>
                               <img src="http://api.randomuser.me/portraits/med/men/4.jpg" class="img-thumbnail pull-left" style="margin-right:5px;" width="50px" height="50px">
                                  <p>Mobile first" is a responsive Web design practice .</p>
                                  </br>
                                  <div class="clearfix" style="margin-top:5px;border-top:1px solid #dddddd"></div>
                     
                               <div class="rating1" >
                                <i class="salakot-img salakot_4_0" data-toggle="tooltip" title="4.0 salakot rating">&nbsp;</i>
                               </div>

                              </div> <!--end panel-body-->

                              <!-- start footer panel -->
                              <div class="panel-footer text-center text-primary" >
                                <a style="cursor:pointer" href=""><i>Write a review</i></a>
                              </div><!-- end footer panel -->

                          </div><!--end panel-default -->
                      </div>
                      <!-- 1st item automotive-->
                    <?php } ?> 
                  <?php } ?> 
                  </div><!-- end automotive row-->
                </li><!-- end of automotive-->

  <!-- *************************** end Automotive *************************** -->



  <!-- *************************** start LifeStyle *************************** -->

                <li data-content="LifeStyle"><!-- start LifeStyle tab -->
                  <div class="row"><!-- start LifeStyle row-->
                  </div><!-- end LifeStyle row-->
                </li><!-- end LifeStyle tab -->

  <!-- *************************** end LifeStyle *************************** -->


  <!-- *************************** start Food *************************** -->

                <li data-content="Food"><!-- start Food tab -->
                  <div class="row"><!-- start Food row-->

                  <?php foreach ($FoodBizList as $key => $biz) { ?>
                    <?php if($key <= 5 && $key != 0) { ?>
                       <!-- 1st item Food-->
                      <div class="col-md-4 col-sm-4 col-xs-6">
                          <div class="panel panel-default"><!--start panel-default -->
                            <div class="panel-thumbnail"> <!--start panel-thumbnail -->

                              <?php 
                                 $businessLastImg = 'http://placehold.it/220x120';
                                  $latestPicKey = count($biz->BusinessImages) - 1;
                                  if($latestPicKey >= 0){
                                    $businessLastImg = $biz->BusinessImages[$latestPicKey]->file_path.$biz->BusinessImages[$latestPicKey]->filename;
                                  }
                                  echo Phalcon\Tag::image(array($businessLastImg, 'class' => 'img-responsive '));
                               ?>
                              
                            </div> <!--end panel-thumbnail -->

                            <div class="panel-body"> <!--start panel-body-->
                              <p class="lead">
                                <?php echo Phalcon\Tag::linkTo(array('business/view/'.$biz->id, '<span class=""></span>'.$biz->name, 'class' => 'text-primary')); ?>
                              </p>

                              <p>
                                <span class="glyphicon glyphicon-home" aria-hidden="true"> </span>  
                                <?php echo (isset($biz->street) || ($biz->street != '') ? $biz->street.', '.$biz->city.', '.$biz->Countries->country : 'No Address Info'); ?>
                              </p>

                              <p > <a href="#" class="text-info">rasmus lerdorf</a></p>
                               <img src="http://api.randomuser.me/portraits/med/men/4.jpg" class="img-thumbnail pull-left" style="margin-right:5px;" width="50px" height="50px">
                                  <p>Mobile first" is a responsive Web design practice .</p>
                                  </br>
                                  <div class="clearfix" style="margin-top:5px;border-top:1px solid #dddddd"></div>
                     
                               <div class="rating1" >
                                <i class="salakot-img salakot_4_0" data-toggle="tooltip" title="4.0 salakot rating">&nbsp;</i>
                               </div>

                              </div> <!--end panel-body-->

                              <!-- start footer panel -->
                              <div class="panel-footer text-center text-primary" >
                                <a style="cursor:pointer" href=""><i>Write a review</i></a>
                              </div><!-- end footer panel -->

                          </div><!--end panel-default -->
                      </div>
                      <!-- 1st item Food-->
                    <?php } ?> 
                  <?php } ?> 

                  </div><!-- end food row-->
                </li><!-- end food tab -->

  <!-- *************************** end Food *************************** -->



  <!-- *************************** start Health *************************** -->
                <li data-content="Health"><!-- start Health tab -->
                  <div class="row"><!-- start Health row-->

                  <?php foreach ($HBeautyBizList as $key => $biz) { ?>
                    <?php if($key <= 5 && $key != 0) { ?>
                       <!-- 1st item Food-->
                      <div class="col-md-4 col-sm-4 col-xs-6">
                          <div class="panel panel-default"><!--start panel-default -->
                            <div class="panel-thumbnail"> <!--start panel-thumbnail -->

                              <?php 
                                 $businessLastImg = 'http://placehold.it/220x120';
                                  $latestPicKey = count($biz->BusinessImages) - 1;
                                  if($latestPicKey >= 0){
                                    $businessLastImg = $biz->BusinessImages[$latestPicKey]->file_path.$biz->BusinessImages[$latestPicKey]->filename;
                                  }
                                  echo Phalcon\Tag::image(array($businessLastImg, 'class' => 'img-responsive '));
                               ?>
                              
                            </div> <!--end panel-thumbnail -->

                            <div class="panel-body"> <!--start panel-body-->
                              <p class="lead">
                                <?php echo Phalcon\Tag::linkTo(array('business/view/'.$biz->id, '<span class=""></span>'.$biz->name, 'class' => 'text-primary')); ?>
                              </p>

                              <p>
                                <span class="glyphicon glyphicon-home" aria-hidden="true"> </span>  
                                <?php echo (isset($biz->street) || ($biz->street != '') ? $biz->street.', '.$biz->city.', '.$biz->Countries->country : 'No Address Info'); ?>
                              </p>

                              <p > <a href="#" class="text-info">rasmus lerdorf</a></p>
                               <img src="http://api.randomuser.me/portraits/med/men/4.jpg" class="img-thumbnail pull-left" style="margin-right:5px;" width="50px" height="50px">
                                  <p>Mobile first" is a responsive Web design practice .</p>
                                  </br>
                                  <div class="clearfix" style="margin-top:5px;border-top:1px solid #dddddd"></div>
                     
                               <div class="rating1" >
                                <i class="salakot-img salakot_4_0" data-toggle="tooltip" title="4.0 salakot rating">&nbsp;</i>
                               </div>

                              </div> <!--end panel-body-->

                              <!-- start footer panel -->
                              <div class="panel-footer text-center text-primary" >
                                <a style="cursor:pointer" href=""><i>Write a review</i></a>
                              </div><!-- end footer panel -->

                          </div><!--end panel-default -->
                      </div>
                      <!-- 1st item Food-->
                    <?php } ?> 
                  <?php } ?> 


                  </div><!-- end Health row-->
                </li><!-- end Health tab -->
  <!-- *************************** end Health *************************** -->




  <!-- *************************** start Profesional *************************** -->
                <li data-content="Profesional"><!-- start Profesional tab -->
                  <div class="row"><!-- start Profesional row-->

                  <?php foreach ($FinBizList as $key => $biz) { ?>
                    <?php if($key <= 5 && $key != 0) { ?>
                       <!-- 1st item Food-->
                      <div class="col-md-4 col-sm-4 col-xs-6">
                          <div class="panel panel-default"><!--start panel-default -->
                            <div class="panel-thumbnail"> <!--start panel-thumbnail -->

                              <?php 
                                 $businessLastImg = 'http://placehold.it/220x120';
                                  $latestPicKey = count($biz->BusinessImages) - 1;
                                  if($latestPicKey >= 0){
                                    $businessLastImg = $biz->BusinessImages[$latestPicKey]->file_path.$biz->BusinessImages[$latestPicKey]->filename;
                                  }
                                  echo Phalcon\Tag::image(array($businessLastImg, 'class' => 'img-responsive '));
                               ?>
                              
                            </div> <!--end panel-thumbnail -->

                            <div class="panel-body"> <!--start panel-body-->
                              <p class="lead">
                                <?php echo Phalcon\Tag::linkTo(array('business/view/'.$biz->id, '<span class=""></span>'.$biz->name, 'class' => 'text-primary')); ?>
                              </p>

                              <p>
                                <span class="glyphicon glyphicon-home" aria-hidden="true"> </span>  
                                <?php echo (isset($biz->street) || ($biz->street != '') ? $biz->street.', '.$biz->city.', '.$biz->Countries->country : 'No Address Info'); ?>
                              </p>

                              <p > <a href="#" class="text-info">rasmus lerdorf</a></p>
                               <img src="http://api.randomuser.me/portraits/med/men/4.jpg" class="img-thumbnail pull-left" style="margin-right:5px;" width="50px" height="50px">
                                  <p>Mobile first" is a responsive Web design practice .</p>
                                  </br>
                                  <div class="clearfix" style="margin-top:5px;border-top:1px solid #dddddd"></div>
                     
                               <div class="rating1" >
                                <i class="salakot-img salakot_4_0" data-toggle="tooltip" title="4.0 salakot rating">&nbsp;</i>
                               </div>

                              </div> <!--end panel-body-->

                              <!-- start footer panel -->
                              <div class="panel-footer text-center text-primary" >
                                <a style="cursor:pointer" href=""><i>Write a review</i></a>
                              </div><!-- end footer panel -->

                          </div><!--end panel-default -->
                      </div>
                      <!-- 1st item Food-->
                    <?php } ?> 
                  <?php } ?> 



                  </div><!-- end Profesional row-->
                </li><!-- end Profesional tab -->
  <!-- *************************** end Profesional *************************** -->



  <!-- *************************** start Hotels *************************** -->
                <li data-content="Hotels"><!-- start Hotels tab -->
                  <div class="row"><!-- start Hotels row-->


                  <?php foreach ($HTravelBizList as $key => $biz) { ?>
                    <?php if($key <= 3 && $key != 0) { ?>
                       <!-- 1st item Food-->
                      <div class="col-md-4 col-sm-4 col-xs-6">
                          <div class="panel panel-default"><!--start panel-default -->
                            <div class="panel-thumbnail"> <!--start panel-thumbnail -->

                              <?php 
                                 $businessLastImg = 'http://placehold.it/220x120';
                                  $latestPicKey = count($biz->BusinessImages) - 1;
                                  if($latestPicKey >= 0){
                                    $businessLastImg = $biz->BusinessImages[$latestPicKey]->file_path.$biz->BusinessImages[$latestPicKey]->filename;
                                  }
                                  echo Phalcon\Tag::image(array($businessLastImg, 'class' => 'img-responsive '));
                               ?>
                              
                            </div> <!--end panel-thumbnail -->

                            <div class="panel-body"> <!--start panel-body-->
                              <p class="lead">
                                <?php echo Phalcon\Tag::linkTo(array('business/view/'.$biz->id, '<span class=""></span>'.$biz->name, 'class' => 'text-primary')); ?>
                              </p>

                              <p>
                                <span class="glyphicon glyphicon-home" aria-hidden="true"> </span>  
                                <?php echo (isset($biz->street) || ($biz->street != '') ? $biz->street.', '.$biz->city.', '.$biz->Countries->country : 'No Address Info'); ?>
                              </p>

                              <p > <a href="#" class="text-info">rasmus lerdorf</a></p>
                               <img src="http://api.randomuser.me/portraits/med/men/4.jpg" class="img-thumbnail pull-left" style="margin-right:5px;" width="50px" height="50px">
                                  <p>Mobile first" is a responsive Web design practice .</p>
                                  </br>
                                  <div class="clearfix" style="margin-top:5px;border-top:1px solid #dddddd"></div>
                     
                               <div class="rating1" >
                                <i class="salakot-img salakot_4_0" data-toggle="tooltip" title="4.0 salakot rating">&nbsp;</i>
                               </div>

                              </div> <!--end panel-body-->

                              <!-- start footer panel -->
                              <div class="panel-footer text-center text-primary" >
                                <a style="cursor:pointer" href=""><i>Write a review</i></a>
                              </div><!-- end footer panel -->

                          </div><!--end panel-default -->
                      </div>
                      <!-- 1st item Food-->
                    <?php } ?> 
                  <?php } ?> 




                  </div><!-- end Hotels row-->
                </li><!-- end Hotels tab -->
  <!-- *************************** start Hotels *************************** -->


  <!-- *************************** start RealEstate *************************** -->
                <li data-content="RealEstate"><!-- start RealEstate tab -->
                  <div class="row"><!-- start RealEstate row-->

                  <?php foreach ($RealtyBizList as $key => $biz) { ?>
                    <?php if($key <= 3 && $key != 0) { ?>
                       <!-- 1st item Food-->
                      <div class="col-md-4 col-sm-4 col-xs-6">
                          <div class="panel panel-default"><!--start panel-default -->
                            <div class="panel-thumbnail"> <!--start panel-thumbnail -->

                              <?php 
                                 $businessLastImg = 'http://placehold.it/220x120';
                                  $latestPicKey = count($biz->BusinessImages) - 1;
                                  if($latestPicKey >= 0){
                                    $businessLastImg = $biz->BusinessImages[$latestPicKey]->file_path.$biz->BusinessImages[$latestPicKey]->filename;
                                  }
                                  echo Phalcon\Tag::image(array($businessLastImg, 'class' => 'img-responsive '));
                               ?>
                              
                            </div> <!--end panel-thumbnail -->

                            <div class="panel-body"> <!--start panel-body-->
                              <p class="lead">
                                <?php echo Phalcon\Tag::linkTo(array('business/view/'.$biz->id, '<span class=""></span>'.$biz->name, 'class' => 'text-primary')); ?>
                              </p>

                              <p>
                                <span class="glyphicon glyphicon-home" aria-hidden="true"> </span>  
                                <?php echo (isset($biz->street) || ($biz->street != '') ? $biz->street.', '.$biz->city.', '.$biz->Countries->country : 'No Address Info'); ?>
                              </p>

                              <p > <a href="#" class="text-info">rasmus lerdorf</a></p>
                               <img src="http://api.randomuser.me/portraits/med/men/4.jpg" class="img-thumbnail pull-left" style="margin-right:5px;" width="50px" height="50px">
                                  <p>Mobile first" is a responsive Web design practice .</p>
                                  </br>
                                  <div class="clearfix" style="margin-top:5px;border-top:1px solid #dddddd"></div>
                     
                               <div class="rating1" >
                                <i class="salakot-img salakot_4_0" data-toggle="tooltip" title="4.0 salakot rating">&nbsp;</i>
                               </div>

                              </div> <!--end panel-body-->

                              <!-- start footer panel -->
                              <div class="panel-footer text-center text-primary" >
                                <a style="cursor:pointer" href=""><i>Write a review</i></a>
                              </div><!-- end footer panel -->

                          </div><!--end panel-default -->
                      </div>
                      <!-- 1st item Food-->
                    <?php } ?> 
                  <?php } ?> 


                  </div><!-- end RealEstate row-->
                </li><!-- end RealEstate tab -->
  <!-- *************************** start RealEstate *************************** -->


  <!-- *************************** start Shopping *************************** -->
                <li data-content="Shopping"><!-- start Shopping tab -->
                  <div class="row"><!-- start Shopping row-->
                  </div><!-- end Shopping row-->
                </li><!-- end Shopping tab -->
  <!-- *************************** start Shopping *************************** -->

                </ul> <!-- cd-tabs-content -->
              </div> <!-- end tabs content row -->



              <div class="cd-side-tabs"> <!-- start cd-side-tabs -->
                  <div class="col-md-3 col-sm-12 col-xs-12" style="padding:10px 0px 0px 0px ;margin:10px 0px 0px;border-left:1px solid #ddd">
                   
                    <div class="bs-component col-xs-12 col-sm-4 col-md-12 col-lg-12" >
                      <ul class="list-group" style="padding:0px;margin:0px;font-size:10px"> 
                        <li class="list-group-item active" style="padding:2px 5px;">
                          <span class="glyphicon glyphicon-list-alt"> </span> Featured Classifieds
                        </li>
                        <li class="list-group-item" >
                          <img src="http://api.randomuser.me/portraits/med/men/4.jpg" class="img-thumbnail pull-left" style="margin-right:5px;" width="50px" height="50px">
                          <p>Mobile first" is a responsive Web design practice .</p>
                        </li>
                        <li class="list-group-item" >
                          <img src="http://api.randomuser.me/portraits/med/men/4.jpg" class="img-thumbnail pull-left" style="margin-right:5px;" width="50px" height="50px">
                          <p>Mobile first" is a responsive Web design practice .</p>
                        </li>

                        <li class="list-group-item" > 
                          <img src="http://api.randomuser.me/portraits/med/men/4.jpg" class="img-thumbnail pull-left" style="margin-right:5px;" width="50px" height="50px">
                          <p>Mobile first" is a responsive Web design practice .</p>
                        </li>
                        <li class="list-group-item" > 
                          <img src="http://api.randomuser.me/portraits/med/men/4.jpg" class="img-thumbnail pull-left" style="margin-right:5px;" width="50px" height="50px">
                          <p>Mobile first" is a responsive Web design practice .</p>
                        </li>
                        <li class="list-group-item" > 
                          <img src="http://api.randomuser.me/portraits/med/men/4.jpg" class="img-thumbnail pull-left" style="margin-right:5px;" width="50px" height="50px">
                          <p>Mobile first" is a responsive Web design practice .</p>
                        </li>
                      </ul>
                    </div>

                    <div class="bs-component col-xs-12 col-sm-4 col-md-12 col-lg-12">
                      <ul class="list-group" style="font-size:10px;padding:0px;margin:0px ">
                        <li class="list-group-item active"  style="padding:2px 5px;">
                          <span class="glyphicon glyphicon-calendar"> </span> EVENTS
                        </li>
                        <li class="list-group-item" > 
                          <img src="http://api.randomuser.me/portraits/med/men/4.jpg" class="img-thumbnail pull-left" style="margin-right:5px;" width="50px" height="50px">
                          <p>Mobile first" is a responsive Web design practice .</p>
                        </li>
                        <li class="list-group-item" > 
                          <img src="http://api.randomuser.me/portraits/med/men/4.jpg" class="img-thumbnail pull-left" style="margin-right:5px;" width="50px" height="50px">
                          <p>Mobile first" is a responsive Web design practice .</p>
                        </li>
                        <li class="list-group-item" > 
                          <img src="http://api.randomuser.me/portraits/med/men/4.jpg" class="img-thumbnail pull-left" style="margin-right:5px;" width="50px" height="50px">
                          <p>Mobile first" is a responsive Web design practice .</p>
                        </li>
                        <li class="list-group-item" > 
                          <img src="http://api.randomuser.me/portraits/med/men/4.jpg" class="img-thumbnail pull-left" style="margin-right:5px;" width="50px" height="50px">
                          <p>Mobile first" is a responsive Web design practice .</p>
                        </li>
      
                      </ul>
                    </div>

                     <div class="bs-component col-xs-12 col-sm-4 col-md-12 col-lg-12" style="border:none;">
                        <ul class="list-group" style="border:none;">

                          <li class="list-group-item  " style="border:none;width:160px; max-height:600px; min-height:500px; margin:0px auto;">
                              <img src="http://cdn7.fedobe.com/wp-content/uploads/2012/12/ShakeOut_BannerAds_GetReady_160x600_v8.gif" class="img-thumbnail pull-left" >
                    
                          </li>


                        </ul>
                      </div>

                  </div><!-- end col-md-4 -->
               </div>

                </div><!-- end col-md-10 col-md-offset-1 row -->
              </div><!-- end col-md-10 col-md-offset-1 -->


            </div><!-- end row -->
          </div><!-- end container-fluid -->

        </div> <!-- cd-tabs -->

      </div><!-- end body wrapper row -->
    </div><!-- end body wrapper container-fluid -->
  </div><!-- end body wrapper -->