<?php echo $this->tag->stylesheetLink("themes/mybarangay1/css/select2.min.css"); ?>
<?php echo $this->tag->javascriptInclude("themes/mybarangay1/js/select2.min.js"); ?>

<div class="body-wrapper" style="margin-top:110px;"> <!-- start body wrapper -->
	<div class="container" > <!-- start body wrapper container-->
		<div class="row" > <!-- start body wrapper row -->




		<!-- start left panel -->
			<div class="col-md-3" style="z-index:1">
				<div class="col-md-12 col-sm-12 boxiy" style="padding:0px;margin:0px 0px 20px 0px;">
					
						<h4 class="text-center" style="font-weight:bold">Find more</h4>
					
							<hr>

							<?php echo Phalcon\Tag::form(array("search", "method" => "get")); ?>	
								<div class="form-group col-md-12 col-sm-6">
								    <input name="find" type="text" class="form-control" value="<?=$ename?>" placeholder="Find">
								</div>
								<div class="form-group col-md-12 col-sm-6">

					                <div class="input_container" id="search">
					                <input type="text" id="autocity" value="<?=$ecity?>" class="city_list form-control" autocomplete="off" name="city" 
					                  placeholder="city" >
					                <input type="hidden" id="autocitycode" name="city_code" value="<?=$ecity_code?>" class="city_id">
					                <ul id="autocitylistid" class="show_city"></ul>
					                </div>

								</div> 
								<div class="form-group col-md-12">
									<button type="submit" class="btn btn-primary  btn-xs" ><span class="fa fa-search"></span> Search</button>
								</div>
								<?php echo Phalcon\Tag::endForm(); ?>
					
				</div>


				<div class="col-md-12 col-sm-12 boxiy" style="padding:0px;margin:0px 0px 20px 0px;">
					
						<h4 class="text-center" style="font-weight:bold">What else can you do?</h4>
				
<div class="form-group col-md-12">			
	<ul class="list-group">
		<li class="list-group-item" >
			<p style="padding:0px;margin:0px">Could not find the business you're looking for?</p>
			<small><b>Add a business now</b></small><br>
		<a href="<?=$this->url->getBaseUri()?>review/new_business" target="_blank" class="btn btn-xs  btn-block btn-primary restricted"><strong><i class="fa fa-list-alt"></i> Business</strong></a>


		</li>
		<li class="list-group-item" >
			<p style="padding:0px;margin:0px">Want to sell your car or truck ?</p>
			<small><b>Post it now</b></small><br>
		<a href="<?=$this->url->getBaseUri()?>car_and_truck/new" target="_blank" class="btn btn-xs btn-block btn-primary restricted"><strong><i class="fa fa-car"></i> Cars and Trucks</strong></a>

		</li>
		<li class="list-group-item">
			<p style="padding:0px;margin:0px">Are you looking for an expert or helper?</p>
			<small><b>Post your job ad now</b></small><br>
		<a href="<?=$this->url->getBaseUri()?>job/new" target="_blank"  class="btn btn-xs btn-primary btn-block restricted"><strong><i class="glyphicon glyphicon-briefcase"></i> Jobs </strong></a>

		</li>
		<li class="list-group-item">
			<p style="padding:0px;margin:0px">Are you selling your property?</p>
			<small><b>Post your ad now</b></small><br>
			<a href="<?=$this->url->getBaseUri()?>real_estate/new" target="_blank" class="btn btn-xs btn-block btn-primary restricted"><strong><i class="fa fa-building"></i> Real Estate</strong></a>

		</li>
		<li class="list-group-item">
			<p style="padding:0px;margin:0px">Are you selling something?</p>
			<small><b>Post it now</b></small><br>
		<a href="<?=$this->url->getBaseUri()?>thing/new" target="_blank" class="btn btn-xs btn-primary btn-block restricted"><strong><i class="glyphicon glyphicon-list-alt"></i> Things</strong></a>

		</li>
		<li class="list-group-item">
					<p style="padding:0px;margin:0px">Do you want to ask or share something with your kabarangays?</p>
					<small ><b>Create your topic now</b></small><br>
		<a href="<?=$this->url->getBaseUri()?>forum/add" target="_blank" class="btn btn-xs btn-primary btn-block restricted"><strong><i class="fa fa-comments"></i> Forum - Whats's up ?</strong></a>

		</li>






	</ul>
</div>
					
				</div>

<?php $this->partial('partials/ads'); ?>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:inline-block;width:255px;height:213px;"
     data-ad-client="ca-pub-2827353860802948"
     data-ad-slot="6306061710"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<ins class="adsbygoogle"
     style="display:inline-block;width:255px;height:213px;"
     data-ad-client="ca-pub-2827353860802948"
     data-ad-slot="6306061710"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>


			</div>
			<!-- end left panel -->




			<!-- start col-md-9 -->
			<div class="col-md-9  boxiy">

				<!-- start col-md-9 of col-md-12 -->
				<div class="col-md-12">




					<hr>
					<?php

						$avatar = 'http://1.gravatar.com/avatar/173407badd2fd8beba911e4888bc73e9?s=1024&d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D1024&r=G';



					 $sc = count($autos) + count($things) + count($jobs); 
					 if($sc == 0): ?>

					<?php else: ?>

					<?php endif; ?>

<!-- 				<label class="redlabel">
				 <span class="glyphicon glyphicon-search"></span> Search Result
				</label>
				<div class="page-line"></div> -->

<!-- ******************************** start Business Search ******************************************* -->
				<div class="row item-match "><!-- start col-md-9 row[1] -->
					<?php 
				if(!empty($business)){
					if (count($business) != 0):?>
						<h4 class="text-danger text-left">Business Result</h4>
					<?php endif;?>

				<?php 
				
					if(isset($business)){ 
						$i = 1;
						//foreach business  start foreach[0]					
						foreach ($business as $key => $biz) { 
								
						$category= '';
						$tempMain = array();
						$tempTitle = array();
						$tempSubTitle = array();

						//foreach BusinessCategoryLists  start foreach[1]		
						foreach ($biz->BusinessCategoryLists as $key => $businessCategoryList) {
						$mainY = 0;

						if(!in_array($businessCategoryList->BusinessCategories->main_title, $tempMain)) {
							$mainY = 1;
							$tempMain[] = $businessCategoryList->BusinessCategories->main_title;
							$category .= $businessCategoryList->BusinessCategories->main_title;
						} 
						$titleY = 0;
						if($businessCategoryList->BusinessCategories->title){
							if(!in_array($businessCategoryList->BusinessCategories->title, $tempTitle)) {
								$titleY = 1;
								$tempTitle[] = $businessCategoryList->BusinessCategories->title;
								if($mainY == 1){
									$category .= ' <i class="fa fa-caret-right"></i> '.$businessCategoryList->BusinessCategories->title;
								} else {
									$category .= $businessCategoryList->BusinessCategories->title;
								}
							}									
						}
						if($businessCategoryList->BusinessCategories->sub_title){
							if(!in_array($businessCategoryList->BusinessCategories->sub_title, $tempSubTitle)) {
								$tempSubTitle[] = $businessCategoryList->BusinessCategories->sub_title;
								if($titleY == 0){
									$category .= ' <i class="fa fa-caret-right"></i> '.$businessCategoryList->BusinessCategories->sub_title;
								} else {
									$category .= $businessCategoryList->BusinessCategories->sub_title;
								}
							}
						}
				 		$category .= ', ';
				 	} //foreach BusinessCategoryLists  end foreach[1]	

					$category = substr($category, 0, -2);
				?>

         <!-- 1st item automotive-->
          <div class="col-md-4 col-sm-6 matcher flip3d " style="padding:5px 10px;">
              <div class="panel panel-default item-box front paperts">
				<a href="<?php echo $this->url->getBaseUri().'business/view2/'. $biz->id; ?>">
                <div class="panel-thumbnail custom-thumbnail">
				<?php 
					//$img = 'themes/mybarangay1/img/biz/mybarangay.jpg';



					$img = 'img/nophoto.jpg'; 
					$businessPrimaryPic = BusinessImages::findFirst(array('business_id="'.$biz->id.'" and primary_pic="Yes"'));

                    if ($businessPrimaryPic) {
                      $img = $businessPrimaryPic->file_path.$businessPrimaryPic->filename;
                    } 

					// foreach ($biz->BusinessImages as $key => $bizImage) {
					//  	$img = $bizImage->file_path.$bizImage->filename;
					// }
					echo Phalcon\Tag::image(array($img, 'class' => 'img-responsive ', 'style' => 'cursor:pointer'));
				 ?>
                </div>

                <div class="panel-body"><!-- start panel box -->
                  <p class="lead ellipsis2" data-toggle="tooltip" title="<?php echo $biz->name;?> ">      
                  <?php 
          			if (isset($userSession['type'])) {
          				if ($userSession['type'] == 'Member') {
          					echo Phalcon\Tag::linkTo(array('business/view2/'.$biz->id,
                             '<span class=""></span>'.$biz->name, 'class' => ' restricted')); 
          				}  
          			} else {
                  		echo $biz->name;              			
              		}
		           ?>
                  </p>

	    		<p class="ellipsis2"><span class="glyphicon glyphicon-bookmark"></span>&nbsp;&nbsp;<?php echo $category; ?></p>
				<p><span class="fa fa-map-marker"> </span><?php echo ' '.$biz->city.", ".$biz->CountryCodes->country_name; ?></p>
	    		

					<div class="rating1">
					    <?php
			              $ctr = 0; 
			              while($ctr<$biz->average_rate) {
			                  $ctr++;
			              }
					$aveRate = Reviews::average(array(
				          "column"     => "rate",
				          "conditions" => "business_id ={$biz->id}"
				      	));
					$floatedAverage = (float)$aveRate;
			              $arrayRate = explode('.', $floatedAverage);
			              	if(isset($arrayRate[1])){
			                  if($arrayRate[1] > 5) { 
			                  	$arrayRate[0]++; $arrayRate[1] = 0; 
			                  }
			                  if($arrayRate[1] < 5 && $arrayRate[1] > 0) { 
			                  	 $arrayRate[1] = 5; 
			                  }
			                } else {
			                	$arrayRate[1] = 0;
			                }
			              //use variable $rate for your css class salakot  possible result are 0.0, 0.5, 1, 1.5, 2, 2.5, 3, and so on... 									
			              
			              if(!$arrayRate[0]){
			              	$arrayRate[0] = 0;
			              }
			              $rate = $arrayRate[0].'.'.$arrayRate[1];
			              $class_rate = $arrayRate[0].'_'.$arrayRate[1]; 
			    		?>
					    <i class="salakot-img salakot_<?php echo $class_rate;?>" data-toggle="tooltip" title="<?php echo $rate;?> salakot rating">&nbsp;</i>
					</div>

                    <div class="clearfix" style="margin-top:5px;border-top:1px solid #dddddd"></div>
	
			        <?php 
			        // start reviewer
			        $preview = Reviews::findFirstByBusinessId($biz->id); 
			        if ($preview){

			          $memberPhotos = MemberPhotos::findFirst(array('member_id="'.$preview->member_id.'"', 'primary_pic="Yes"'));
			          $profilePic = 'http://placehold.it/50x50&text=NO+PROFILE+PIC';
			          if(isset($memberPhotos->filename)) {
			            $profilePic = $memberPhotos->file_path.$memberPhotos->filename;
			          }
					?>
			        
			        <div class="media" style="border-bottom:1px solid #ddd;">
			          <div class="pull-left">
					<?php

			          echo Phalcon\Tag::image(array($profilePic, 'class' => 'img-thumbnail pull-left', 'style' => 'margin-right:5px;width:50px; height: 50px;margin-bottom:5px;'));
					?>
			            </div>
			            <div class="media-body">
			            	<span class="media-heading ellipsis4"><?php echo  $preview->content . 'unknown'; ?></span>

			            </div>
			        </div>

					<?php
					}else{
						echo '<div class="media" style="border-bottom:1px solid #ddd;">
						<div class="pull-left">';
						echo '<img src="'.$avatar.'" class="img-thumbnail pull-left" 
						style="margin-right:5px;margin-bottom:5px;" width="50px" height="50px">';
						echo '</div>';
						echo ' <div class="media-body">';
						echo '<span class="media-heading ellipsis4">Be the first to review</span>';
						echo '</div>';
						echo '</div>';
					}
					// end reviewer
					?>


                </div>
                <!-- end panel box -->
				</a>

				<!-- start footer panel -->
                <div class="panel-footer text-center text-primary">
                  <a style="cursor:pointer" class="restricted" href="<?php echo $this->url->getBaseUri() . 'review/add/' . $biz->id; ?>"><!--<span class="glyphicon glyphicon-pencil"> </span>-->
                  <i style="font-family: Helvetica; font-weight: bold;"> Write a Review</i></a>
                </div>
				<!-- end footer panel -->

              </div>
            
   
          </div>
          <!-- 1st item review-->


			<?php
			 }//foreach business  end foreach[0]  
			} //end of business issey
		}
		?>



					 </div>			
<!-- ******************************** end Business Search ******************************************* -->


<!-- ******************************* start automotive Search **************************************** -->
				<div class="row">
				<?php

		
			if(!empty($autos)){
				if (count($autos) != 0):?>
					<h4 class="text-danger text-left">Cars and Trucks</h4>
				<?php endif;?>
				<?php $i = 1; foreach($autos as $auto): ?>

	          <!-- 1st item automotive-->
			           <a href="<?php echo $this->url->getBaseUri().'car_and_truck/view2/'. $auto->id; ?>" class="boxes">
			          <div class="col-md-4 col-sm-6">
			              <div class="panel panel-default item-box shadow paperts">

			                <div class="panel-thumbnail custom-thumbnail">
								<?php
								$autoPhoto = 'http://placehold.it/320X220/bbb/fff';
								$rPhotoCount = count($auto->automotivephotos);
								if ($rPhotoCount > 0) {
									$autoPhoto = $auto->automotivephotos[0]->file_path.$auto->automotivephotos[0]->filename;
								}
									echo Phalcon\Tag::image([$autoPhoto, 'class' => 'img-responsive']);
								?>
			                </div>
			                <div class="panel-body">
			                	<p class="lead ellipsis2 " style="color:rgb(220,0,0)">
									 <?php
									 	echo $auto->name;
									 ?>
								</p>
							    <span  class="s3d designmoo">
							       P	<?php echo $auto->price; ?>
							       <!--  <span class="icons designmoo"></span>
							 -->    </span>


				
								<br>
								<span class="glyphicon glyphicon-info-sign"></span> <?php echo $auto->automotiveconditions->name; ?>
								<br>
					<!-- 			<div class="ellipsis2">
									<span class="glyphicon glyphicon-map-marker"></span>
								
								</div> -->

			                  </div>
			              </div>
			          </div>
			          </a>
			          <!-- 1st item cars and trucks-->

				<?php endforeach; }?>
				</div>
<!-- ********************************* end automotive Search ***************************************** -->



<!-- ********************************* end things Search **************************************** -->
				<div class="row">

				<?php 
			if(!empty($things)){
				if (count($things) != 0):?>
					<h4 class="text-danger text-left">Things</h4>
				<?php endif;?>

			<?php foreach ($things as $thing): ?>

			        <!-- 1st item things-->
			      			
          
          <div class="col-md-4 col-sm-6 matcher-heightC">
          	<a href="<?php echo $this->url->getBaseUri().'thing/view2/'. $thing->id; ?>">
              <div class="panel panel-default item-box shadow paperts">


                <div class="panel-thumbnail custom-thumbnail">

					<?php
						$thingPhoto = 'img/nophoto.jpg'; 
						$rPhotoCount = count($thing->thingphotos);
						if ($rPhotoCount > 0) {
							$thingPhoto = $thing->thingphotos[0]->file_path.$thing->thingphotos[0]->filename;
						}
					?>

					<?php
						echo Phalcon\Tag::image([$thingPhoto, 'class' => 'img-responsive']);
					?>

                </div>
                <div class="panel-body">
                  <!-- <p class="lead">Phalcon Developer</p> -->

					<p class="lead text-center">
					<?php $strlen = strlen($thing->name); 
						if ($strlen > 21) {
							$title = substr($thing->name, 0, 20) . '...';
						} else {
							$title = $thing->name;
						}
					?>
					<?php echo $title ;?>
					</p>
					<p title="" data-toggle="tooltip" class="text-center  price" data-original-title="Price">


							    <span  class="s3d designmoo">
							    <strong>

								<?php
									switch ($thing->currency_type) {
										case 1:
											$currency = '$';$na = 'US dollar';
											break;
										case 2:
											$currency = '₱';$na = 'Philippine peso';
											break;
										case 3:
											$currency = '$';$na = 'Canadian dollar';
											break;
									}
									echo $currency;
								?>
									
							    <?php echo $thing->price; ?></strong></br>
							     	<small><?=$na?></small>
							       <!--  <span class="icons designmoo"></span>
							 -->    </span>

</p>
					<i class="glyphicon glyphicon-info-sign"></i>&nbsp;&nbsp;<?php echo $thing->thingcategories->name; ?>

		                       			<div class="clearfix" style="margin:5px 0px;border-top:1px solid #dddddd"></div>
					                    <!-- <p> <a href="#" class="text-info">no name</a></p> -->


		         <div class="col-md-12">
		            <?php if (isset($userSession['id'])) { ?>
		              <?php if($userSession['id']) { ?>

		                <span id="flagRemover<?=$ccount?>">
		                <?php
		                $countFlag = Flags::count("member_id='".$userSession['id']."' and target_id='".$thing->id."' and review_id='".$thing->id."'");
		                $checkFlag = Flags::find("member_id='".$userSession['id']."' and target_id='".$thing->id."' and review_id='".$thing->id."'");
		                ?>
		                <?php 
		                if ($countFlag == 0) { ?> 
		                <span id="flagSpan<?=$ccount?>" class="glyphicon glyphicon-flag" style="float:right;cursor:pointer;color:red;" data-placement="top" onclick="flagAll(<?php echo $thing->member_id.','.$thing->id.','.$thing->id.','.$ccount?>)" title="flag if inapproriate" data-toggle="modal" data-target="#flagModal"></span>
		        
		                <?php } else { ?>
		         
		                   <span style="float:right;color:red;">reported</span>
		                <?php } 
		                 ?>

		                </span>
		                

		              <?php } ?>
		            <?php } ?>
		          </div>




                  </div>
              </div>
              </a>
          </div>
          
			          <!-- 1st item things-->


				<?php endforeach;  } ?>
				</div>
<!-- ********************************* end things Search ***************************************** -->





<!-- ********************************* start jobs Search ***************************************** -->

	<div class="row">

	<?php
	if(!empty($jobs)){
	 if (count($jobs) != 0):?>
		<h4 class="text-danger text-left">Jobs</h4>
	<?php endif;?>
	<?php $i = 1; foreach($jobs as $job): ?>

         <!-- 1st item jobs-->
       <div class="col-md-4 col-sm-6 " style="height:320px" >
              <div class="panel panel-default item-box matcher-height paperts">

                <div class="panel-thumbnail custom-thumbnail">
				<?php 
					$jobLogo = 'img/nophoto.jpg'; 
					if(count($job->JobLogos)>0){ 
					$jobLogo = $job->JobLogos[0]->file_path.$job->JobLogos[0]->filename;
					} 
					echo Phalcon\Tag::linkTo(array('job/view2/'. $job->id, Phalcon\Tag::image(array($jobLogo, 'class' => 'img-responsive'))));
				  ?>

                </div>	
                <div class="panel-body">
                  <p class="lead ellipsis2 text-primary">
					<?php 
					echo Phalcon\Tag::linkTo(array('job/view2/'.$job->id.'/'.str_replace(' ', '+', $job->position.'/'.$job->company),  $job->position)); ?>
                  </p>
                  <div class="ellipsis5">
					<span class="glyphicon glyphicon-asterisk"></span>&nbsp;&nbsp;<?php echo $job->JobCategories->name; ?>
					</div>
					<div class="ellipsis5">
					<span class="glyphicon glyphicon-bookmark"></span>&nbsp;&nbsp;<?php echo $job->company; ?>
					</div>
					

					<?php $address = $job->street.', '.$job->city; ?>
					<div class="ellipsis5">
					<span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;<?php echo $address; ?>
					</div>

			    	<small data-toggle="tooltip" title="Last updated"><span class="glyphicon glyphicon-time"></span> 
			    	<?php echo date('M d, Y h:i A', strtotime($job->modified)); ?>
			    	</small>

                   <div class="clearfix" style="margin:5px 0px;border-top:1px solid #dddddd"></div>
			                    <!-- <p> <a href="#" class="text-info">no name</a></p> -->



		         <div class="col-md-12">
		            <?php if (isset($userSession['id'])) { ?>
		              <?php if($userSession['id']) { $job->member_id ?>

		                <span id="flagRemover<?=$ccount?>">
		                <?php
		                $countFlag = Flags::count("member_id='".$userSession['id']."' and target_id='".$job->id."' and review_id='".$job->id."'");
		                $checkFlag = Flags::find("member_id='".$userSession['id']."' and target_id='".$job->id."' and review_id='".$job->id."'");
		                ?>
		                <?php 
		                if ($countFlag == 0) { ?> 
		                <span id="flagSpan<?=$ccount?>" class="glyphicon glyphicon-flag" style="float:right;cursor:pointer;" data-placement="top" onclick="flagAll(<?php echo $job->member_id.','.$job->id.','.$job->id.','.$ccount?>)" title="flag if inapproriate" data-toggle="modal" data-target="#flagModal"></span>
		           
		                <?php } else { ?>
		            
		                   <span style="float:right;">reported</span>
		                <?php } 
		                 ?>

		                </span>
		                

		              <?php } ?>
		            <?php } ?>
           			<?php if( empty($userSession) ) { ?>
						<!-- <a href="#" class="text-align:center"> -->
						<i class="fa fa-eye"></i> please login to view the salary
			    	<!-- <p data-toggle="tooltip" title="Salary range"><span class="fa fa-money"></span> </p> -->
			    	<?php //echo number_format($job->salary_from,2).' - '.number_format($job->salary_to,2); ?>
			    	<?php }else{

			    		if($job->salary_from == '0.00'){
			    			echo '<strong>salary is not indicated</strong> ';
			    		}else{

									switch ($job->currency_type) {
										case 1:
											$currency = '$ ';$na = 'US dollar';
											break;
										case 2:
											$currency = '₱ ';$na = 'Philippine peso';
											break;
										case 3:
											$currency = '$ ';$na = 'Canadian dollar';
											break;
									}
									echo $currency;
							

			    			echo '<strong>'.number_format($job->salary_from,2).'</strong>';
			    			echo '<strong> ('.$na.')</strong>';
			    		}
			    	} ?>


		          </div>




                  </div>

              </div>
          </div>
          <!-- 1st item jobs-->
		<?php endforeach; } ?>
		</div>
<!-- ********************************* end jobs Search ***************************************** -->







<!-- ********************************* start realties Search ***************************************** -->

	<div class="row">
	<?php
	if(!empty($realties)){
	 if (count($realties) != 0):?>
		<h4 class="text-danger text-left">Real Estate</h4>
	<?php endif;?>

		<?php 
			$i = 1;
			foreach ($realties as $key => $realty) { ?>
		          <!-- 1st item automotive-->
		          <div class="col-md-4 col-sm-6" style="height:320px">
		              <div class="panel panel-default item-box paperts">

		                <div class="panel-thumbnail custom-thumbnail">

							<?php 
							$realtyPhoto = 'http://placehold.it/300x300&text=no+photo';
							$rPhotoCount = count($realty->RealtyPhotos);
							if($rPhotoCount >0){ 
							$realtyPhoto = $realty->RealtyPhotos[0]->file_path.$realty->RealtyPhotos[0]->filename;
							} 
							echo Phalcon\Tag::linkTo(array('real_estate/view2/'. $realty->id, Phalcon\Tag::image(array($realtyPhoto, 'class' => 'img-responsive'))));
							 ?>
		                </div>
		                <div class="panel-body">

	                	<p class="lead ellipsis2 " style="color:rgb(220,0,0)"  data-toggle="tooltip" title="<?=$realty->name?> ">
							 <?php
							 	echo $realty->name;
							 ?>
						</p>
					    <span  class="s3d designmoo">
							<?php echo number_format($realty->price,2); ?>							   
						</span>

							<br>
							<span class="glyphicon glyphicon-certificate"></span>&nbsp;&nbsp;<?php echo $realty->RealtyCategories->name; ?><br>
				
							<div data-toggle="tooltip" title="Last updated"><span class="glyphicon glyphicon-calendar"></span>&nbsp;&nbsp;<?php echo date('M d, Y h:i A', strtotime($realty->modified)); ?></div>


	                   			<div class="clearfix" style="margin:5px 0px;border-top:1px solid #dddddd"></div>
			                    <!-- <p> <a href="#" class="text-info">no name</a></p> -->

		                  </div>

		              </div>
		          </div>
		          <!-- 1st item automotive-->
		   <?php  } }  ?>


	</div>
<!-- ********************************* end realties Search ***************************************** -->






				</div>
				<!-- end col-md-9 of col-md-12 -->

			</div>
			<!-- end col-md-9 -->
					
		</div><!-- start body wrapper row -->
	</div> <!-- start body wrapper container-->
</div><!-- start body wrapper -->






<script type="text/javascript">
	$(document).ready(function(){
		$('.media').on('click', function(){
			window.location.href = $(this).data('url');
		});

		$('[data-toggle="tooltip"]').tooltip();

		$('#businessCategories').on('change', function(){
			var id = $(this).val();
			$('#businessCategoryId').val(id);
		});

		function formatRepo (category) {
			var markup = '';
		    if (category.loading) return category.text;

		    markup = 
		    '<div class="category_item" id="'+category.id+'">' + category.main_title + ' <i class="fa fa-caret-right"></i> ' + category.title + ' <i class="fa fa-caret-right"></i> ' + category.sub_title +'</div>';

		    if (!category.sub_title) {
		    	markup = 
			    '<div class="category_item" id="'+category.id+'">' + category.main_title + ' <i class="fa fa-caret-right"></i> ' + category.title + '</div>' ;
		    }
		    return markup;
		  }

		  function formatRepoSelection (category) {
		  	var markup = 
		    '<div class="category_item" id="'+category.id+'">' + category.main_title + ' <i class="fa fa-caret-right"></i> ' + category.title + ' <i class="fa fa-caret-right"></i> ' + category.sub_title +'</div>';
		  	if (!category.sub_title) {
		    	markup = 
			    '<div class="category_item" id="'+category.id+'">' + category.main_title + ' <i class="fa fa-caret-right"></i> ' + category.title + '</div>' ;
		    }
			return markup;
		  }


		$(".js-data-example-ajax").select2({
		  ajax: {
		    url: "/mybarangay/business_category/list",
		    dataType: 'json',
		    delay: 250,
		    data: function (params) {
		      return {
		        q: params.term, // search term
		        page: params.page
		      };
		    },
		    processResults: function (data, page) {
		      // parse the results into the format expected by Select2.
		      // since we are using custom formatting functions we do not need to
		      // alter the remote JSON data
		      return {
		        results: data.items
		      };
		    }
		  },
		  escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
		  minimumInputLength: 3,
		  templateResult: formatRepo, // omitted for brevity, see the source of this page
		  templateSelection: formatRepoSelection // omitted for brevity, see the source of this page
		});

	});
</script>

