<div class="user-menu-content" style="overflow-y:scroll;height:290px;">
                  <legend class="legend-title"> Business Hours  </legend> 
                <?php $this->partial('partials/business_biz_hours'); ?>
        <?php if (isset($userSession['id'])) {
            echo '<a href="'.$this->url->getBaseUri() . 'business/new_biz_hours/'. $business->id.'"><button style="float:right;" type="button" class="btn btn-primary btn-xs">change business hours</button></a>';
        } ?>
        
        
            </div>