        <div class="user-menu-content active" >
              <legend class="legend-title"> Contact Info </legend> 
              
                <ul class="user-menu-list">
                    <?php
                        $mapAddress='';
                            $mapAddress = substr($mapAddress,0);
                            if ($business->apt_no != "") {
                                $mapAddress .= ",".$business->apt_no;
                            }
                            
                            if ($business->street != "") {
                                $mapAddress .= ",".$business->street;
                            }
                            
                            if ($business->city != "") {
                                $mapAddress .= ",".$business->city;
                            }
                            if ($business->state != "") {
                                $getStateName = States::findFirst("state_name='".$business->state."' and country_code_id='".$business->country_code_id."'");
                                $stateName = $getStateName->id;
                                $mapAddress .= ",".$stateName;
                            }
                            if ($business->country_code_id) {
                                $mapAddress .= ",".$business->countrycodes->country_name;
                            }
                            $realMapAddress = substr($mapAddress, 1);
                    ?>
                    <b>Address:</b>  <?= $realMapAddress ?><br>
                    <b>Telephone:</b>  <?= $business->telephone ?><br>
                    <b>Website:</b>  <?= $business->website ?><br>
                </ul>
                <div style="overflow:scroll;height: 180px;">
                <?php
                    $checkAdCampaign = Adcampaigns::count("business_id='".$business->id."'");    
                    if ($checkAdCampaign > 0) {
                        $getAdCampaign = Adcampaigns::findFirst("business_id='".$business->id."'");
                        echo "<blockquote>";
                          echo "<p>".$getAdCampaign->content."</p>";
                        echo "</blockquote>";
                        //echo "<p>".$getAdCampaign->content."</p>";
                    } 
                ?>
                </div>
            </div>