           <div class="user-menu-content">
              <legend class="legend-title" > Location </legend> 
            <a href="<?php echo $this->url->getBaseUri() . 'business/getdirections/'. $business->id; ?>" target="_blank">
                    <button id="getDirections" class="btn btn-info btn-xs"><i class="icon-compass"></i> get directions</button>
                </a>
                <!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCKv177SsmgXIOE5sBi8vnRmR99tmhVkp4"></script>-->
                <script>
                    function toggleBounce() {
                        if (marker.getAnimation() != null) {
                            marker.setAnimation(null);
                        } else {
                            marker.setAnimation(google.maps.Animation.BOUNCE);
                        }
                    }
                    //var MY_MAPTYPE_ID = 'custom_style';
                    var myLatLng = new google.maps.LatLng(<?=$a1?>, <?=$a2?>);
                    //var marker;
                    var map;
                    function initialize() {
                    // var featureOpts = [{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"}]},{"featureType":"administrative.country","elementType":"geometry.fill","stylers":[{"visibility":"off"},{"color":"#f92e2e"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},{"featureType":"landscape.man_made","elementType":"geometry.fill","stylers":[{"visibility":"off"},{"hue":"#ff005c"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#ee3124"},{"weight":"0.75"}]},{"featureType":"road.arterial","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#003767"},{"weight":"0.50"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"road.local","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#abafa6"},{"weight":".5"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#4f8abe"},{"visibility":"on"}]}];

                    var mapCanvas = document.getElementById('map-canvas');
                    var myLatLng = new google.maps.LatLng(<?=$a1?>, <?=$a2?>);
                    var mapOptions = {
                      center: myLatLng,
                      zoom: 12,
                      // mapTypeControlOptions: {
                      //   mapTypeIds: [google.maps.MapTypeId.ROADMAP, MY_MAPTYPE_ID]
                      // },
                      // mapTypeId: MY_MAPTYPE_ID 
                    }
                    var map = new google.maps.Map(mapCanvas, mapOptions);
                    var marker = new google.maps.Marker({
                        position: myLatLng,
                        //draggable: true,
                        map: map,
                        //animation: google.maps.Animation.DROP,
                        //title: 'Hello Kabarangay'
                    });

                    //google.maps.event.addListener(marker, 'click', toggleBounce);

                    // var styledMapOptions = {
                    //     name: 'MB Style'
                    // };

                    // var customMapType = new google.maps.StyledMapType(featureOpts, styledMapOptions);

                    // map.mapTypes.set(MY_MAPTYPE_ID, customMapType);


                  }

                
                  //google.maps.event.addDomListener(window, 'load', initialize);

                </script>
                <script type="text/javascript">

                    //Asynchronously Load the map API 
                   //  var script = document.createElement('script');
                   //  script.src = "http://maps.googleapis.com/maps/api/js?sensor=true&callback=initialize";
                   // document.body.appendChild(script);

                </script>
                <!--<div id="map_wrapper">
                    <div id="map_canvas" class="mapping" style="height: 280px;"></div>
                </div>-->
                <!--<span id="map_here"></span>-->
                <div id="map-canvas"></div>
                

                <script>
                    $("#business_address2").each(function(){
                    var embed ="<iframe width='325' height='250' frameborder='0' scrolling='no' marginheight='0' marginwidth='0' src='https://maps.google.com/maps?&amp;q="+ encodeURIComponent( $(this).text() ) +"&amp;output=embed&amp;key=AIzaSyCKv177SsmgXIOE5sBi8vnRmR99tmhVkp4'></iframe>";
                    $('#map_here').html(embed);
                    });
                </script>
                
                <a href="https://twitter.com/intent/tweet?hashtags=MyBarangay&text=<?=$business->name?>" class="twitter-mention-button"></a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

        <div class="fb-like" data-href="<?=$this->url->getBaseUri() . 'business/view2/'. $business->id?>" data-layout="button_count" data-action="recommend" data-show-faces="true" data-share="true" style="vertical-align:top;"></div>
        <a class="tumblr-share-button" data-color="blue" data-notes="right" href="https://embed.tumblr.com/share"></a>
<script>!function(d,s,id){var js,ajs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://secure.assets.tumblr.com/share-button.js";ajs.parentNode.insertBefore(js,ajs);}}(document, "script", "tumblr-js");</script>

            </div>