                    <div class="user-menu-content" style="overflow-y:scroll;height:290px;">
                    <legend class="legend-title">Rating & Features</legend> 

                    <p style="padding-left:0px;margin-bottom: 2px; padding-bottom:8px; color:black;"><b>Average rating:</b></p> 
                    <p><div class="rating1" style="margin-top:-15px;">
                        <?php
$aveRate = Reviews::average(
    array(
        "column"     => "rate",
        "conditions" => "business_id = ?0",
        "bind"       => array($business->id)
    ));


                    $floatedAverage = (float)$aveRate;
                                                $arrayRate = explode('.', $floatedAverage);
                                                  if(isset($arrayRate[1])){
                                                  if($arrayRate[1] > 5) { 
                                                    $arrayRate[0]++; $arrayRate[1] = 0; 
                                                  }
                                                  if($arrayRate[1] < 5 && $arrayRate[1] > 0) { 
                                                     $arrayRate[1] = 5; 
                                                  }
                                                } else {
                                                  $arrayRate[1] = 0;
                                                }
                                              //use variable $rate for your css class salakot  possible result are 0.0, 0.5, 1, 1.5, 2, 2.5, 3, and so on...                  
                                              
                                                if(!$arrayRate[0]){
                                                  $arrayRate[0] = 0;
                                                }
                                                $rate = $arrayRate[0].'.'.$arrayRate[1];
                                                $class_rate = $arrayRate[0].'_'.$arrayRate[1]; 
                        
                        $tooltipRating = '';
                        if ($rate == 1 || $rate == 1.5) {
                            $tooltipRating = $rate ." salakot- Hmmm...I don't think so.";
                        } else if ($rate == 2 || $rate == 2.5) {
                            $tooltipRating = $rate ." salakots- Not so bad.";
                        } else if ($rate == 3 || $rate == 3.5) {
                            $tooltipRating = $rate ." salakots- Just fine.";
                        } else if ($rate == 4 || $rate == 4.5) {
                            $tooltipRating = $rate ." salakots- Cool! I am a fan.";
                        } else if ($rate == 5 || $rate == 5.0) {
                            $tooltipRating = $rate ." salakots- Perfect! This is exactly what I need.";
                        }
                                              ?>

                                              <i class="salakot-img salakot_<?php echo $class_rate;?>" data-toggle="tooltip" title="<?php echo $tooltipRating;?>">&nbsp;</i> 

                                             
<?php
?></span>
</div>
          </p>



<script type="text/javascript">
$(function(){
    $('tr.reviews-td').find('td > label > input[type="radio"]').attr("disabled",true);
});
</script>
<style type="text/css">
.radio-inline + .radio-inline{
        margin-left:0px;
}
.radio-inline{
    padding: 15px;
    text-transform: capitalize;
}
tr.reviews-td > td:nth-child(2){
    padding-left:15px;
}
tr.reviews-td > td:nth-child(1){
    background: #e3e3e3;
    text-align: right;
}
tr.reviews-td > td:nth-child(1) label{
    padding: 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: right;
}    

</style>
<?php
    $claimRequests = ClaimRequests::findFirst([
        'conditions'  =>  'business_id = :business_id:',
        'bind'        =>  array('business_id' => $business->id),
        'order'       =>  'id DESC'
    ]);
    $revopt = '';
    $maintitle = array();
    if($claimRequests){

        $revopt = ReviewOptions::findFirst([
            'conditions'    =>  'business_id = :busid: AND member_id = :memid:',
            'bind'          =>  array('busid' => $claimRequests->business_id, 'memid' => $claimRequests->member_id )
        ]);

    }else{
        $revopt = ReviewOptions::findFirst([
            'conditions'    =>  'business_id = :busid: AND member_id = :memid:',
            'bind'          =>  array('busid' => $business->id, 'memid' => $business->member_id )
        ]);
    }
    
        foreach ($businessCategoryLists as  $value) {
            $maintitle[] = $value->businessCategories->main_title;
        } $mainCatx = array_unique($maintitle);





?>


                            <table class="table table-striped">
                                <!-- REsta Review Options-->
                                    <?php 
                                    if(array_intersect($mainCatx , ['Food','Restaurants', 'all'] )){
                                    ?>
                                        <tr class="reviews-td" >
                                            <td><label><i class="fa fa-cutlery"></i>  Caters </label></td>
                                            <td >
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->caters == 'yes')?  'checked'  : '' ; } ?>  name="reviews_caters"  value="yes"  > yes
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->caters == 'no')?  'checked'  : '' ; } ?> name="reviews_caters"  value="no"  > no
                                                </label>
                                                <!-- <label class="radio-inline">
                                                  <input type="radio" <?php //if($revopt){ echo ($revopt->caters == 'not sure')?  'checked'  : '' ; } ?> name="reviews_caters"  value="not sure"  > not sure
                                                </label> -->
                                            </td>
                                        </tr>
                                    <?php } ?>
                                    <?php 
                                    if(array_intersect($mainCatx , ['Automotive','Education', 'Public Services & Government',
                                        'Food', 'Restaurants', 'Nightlife', 'Beauty & Spas', 'Health & Medical', 'Pets', 'Financial Services',
                                        'Professional Services', 'Hotels & Travel', 'Shopping', 'all'
                                        ] )){
                                    ?>
                                        <tr class="reviews-td" >
                                            <td><label><i class="fa fa-wifi"></i>  Wi-Fi  </label></td>
                                            <td>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->wifi == 'yes')?  'checked'  : '' ; } ?> name="reviews_wifi"  value="yes"> yes
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->wifi == 'no')?  'checked'  : '' ; } ?> name="reviews_wifi"  value="no"> no
                                                </label>
                                                <!-- <label class="radio-inline">
                                                  <input type="radio" <?php //if($revopt){ echo ($revopt->wifi == 'not sure')?  'checked'  : '' ; } ?> name="reviews_wifi"  value="not sure"> not sure
                                                </label> -->
                                            </td>
                                        </tr>
                                    <?php } ?>

                                    <?php 
                                    if(array_intersect($mainCatx , ['Automotive','Food', 'Restaurants',
                                        'Nightlife', 'Beauty & Spas', 'Health & Medical', 'Home Services', 'Local Services', 'Pets', 'Pets',
                                        'Hotels & Travel', 'all'
                                        ] )){
                                    ?>
                                        <tr class="reviews-td" >
                                            <td><label><i class="fa fa-television"></i> Has TV  </label></td>
                                            <td>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->hastv == 'yes')?  'checked'  : '' ; } ?> name="reviews_hastv"  value="yes"> yes
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->hastv == 'no')?  'checked'  : '' ; } ?> name="reviews_hastv"  value="no"> no
                                                </label>
                                                <!-- <label class="radio-inline">
                                                  <input type="radio" <?php //if($revopt){ echo ($revopt->hastv == 'not sure')?  'checked'  : '' ; } ?> name="reviews_hastv"  value="not sure"> not sure
                                                </label> -->
                                            </td>

                                        </tr>
                                    <?php } ?>

                                    <?php
                                    if(array_intersect($mainCatx , ['Active Life','Bicycles', 'Food',
                                        'Restaurants', 'Nightlife', 'Beauty & Spas', 'Home Services', 'Local Services', 'Pets', 'Pets',
                                        'Hotels & Travel', 'Shopping', 'all'
                                        ] )){
                                    ?>
                                        <tr class="reviews-td" >
                                            <td>
                                                <label><i class="fa fa-money"></i> Price Range </label>
                                            </td>
                                            <td style=" padding-top: 10px;">
                                                <div class="form-group form-group-sm">
                                                    <select disabled="disabled" name="reviews_pricerange" style="width: 220px;" class="form-control">
                                                    <?php
                                                        $option = array('inexpensive','moderate','pricey','ultra high-end');
                                                        foreach ($option as $value) {
                                                            echo '<option value="">select price range</option>';
                                                            echo '<option value="'.$value.'"';
                                                            if($revopt){ echo ($value == $revopt->pricerange)?  ' selected'  : '' ; }
                                                            echo '>'. $value . '</option>';

                                                        }
                                                    ?>
                                                    </select>
                                                </div>
                                            </td>
                                            <td></td>
                                        </tr>
                                    <?php } ?>

                                    <?php 
                                    if(array_intersect($mainCatx , ['Automotive','Active Life', 'Arts & Entertainment',
                                        'Local Flavor', 'Public Services & Government', 'Religious Organizations', 'Restaurants', 'Nightlife', 'Beauty & Spas', 'Health & Medical',
                                        'Home Services', 'Local Services', 'Pets', 'Financial Services', 'Professional Services', 'Event Planning & Services',
                                        'Hotels & Travel', 'Financial Services', 'Shopping', 'Real Estate', 'all'
                                        ] )){
                                    ?>
                                        <tr class="reviews-td" >
                                            <td><label><i class="fa fa-credit-card"></i> Accepts Credit Cards   </label></td>
                                            <td>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->creditcard == 'yes')?  'checked'  : '' ; } ?> name="reviews_creditcard"  value="yes"> yes
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->creditcard == 'no')?  'checked'  : '' ; } ?> name="reviews_creditcard"  value="no"> no
                                                </label>
                                                <!-- <label class="radio-inline">
                                                  <input type="radio" <?php //if($revopt){ echo ($revopt->creditcard == 'not sure')?  'checked'  : '' ; } ?> name="reviews_creditcard"  value="not sure"> not sure
                                                </label> -->
                                            </td>

                                        </tr>
                                    <?php } ?>

                                    <?php 
                                    if(array_intersect($mainCatx , ['Active Life', 'Arts & Entertainment',
                                        'Local Flavor', 'Bicycles', 'Education', 'Public Services & Government', 'Religious Organizations', 'Mass Media', 'Food',
                                        'Restaurants', 'Nightlife', 'Beauty & Spas', 'Health & Medical',
                                        'Local Services', 'Pets', 'Financial Services', 'Professional Services', 'Event Planning & Services',
                                        'Hotels & Travel', 'Shopping', 'Real Estate', 'all'
                                        ] )){
                                    ?>
                                        <tr class="reviews-td" >
                                            <td><label><i class="fa fa-car"></i> Parking    </label></td>
                                            <td>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->parking == 'yes')?  'checked'  : '' ; } ?> name="reviews_parking"  value="yes"> yes
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->parking == 'no')?  'checked'  : '' ; } ?> name="reviews_parking"  value="no"> no
                                                </label>
                                                <!-- <label class="radio-inline">
                                                  <input type="radio" <?php //if($revopt){ echo ($revopt->parking == 'not sure')?  'checked'  : '' ; } ?> name="reviews_parking"  value="not sure"> not sure
                                                </label> -->
                                            </td>

                                        </tr>
                                    <?php } ?>

                                    <?php 
                                    if(array_intersect($mainCatx , ['Active Life', 'Arts & Entertainment',
                                        'Local Flavor', 'Bicycles', 'Education', 'Public Services & Government', 'Religious Organizations', 'Mass Media', 'Food',
                                        'Restaurants', 'Nightlife', 'Beauty & Spas', 'Health & Medical',
                                        'Local Services', 'Pets', 'Financial Services', 'Professional Services', 'Event Planning & Services',
                                        'Hotels & Travel', 'Shopping', 'Real Estate', 'all'
                                        ] )){
                                    ?>
                                        <tr class="reviews-td" >
                                            <td><label><i class="fa fa-motorcycle"></i> Bike Parking    </label></td>
                                            <td>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->bike_parking == 'yes')?  'checked'  : '' ; } ?> name="reviews_bike_parking"  value="yes"> yes
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->bike_parking == 'no')?  'checked'  : '' ; } ?> name="reviews_bike_parking"  value="no"> no
                                                </label>
                                                <!-- <label class="radio-inline">
                                                  <input type="radio" <?php //if($revopt){ echo ($revopt->bike_parking == 'not sure')?  'checked'  : '' ; } ?> name="reviews_bike_parking"  value="not sure"> not sure
                                                </label> -->
                                            </td>

                                        </tr>
                                    <?php } ?>


                                    <?php 
                                    if(array_intersect($mainCatx , ['Food', 'Restaurants', 'Nightlife','all'
                                        ] )){
                                    ?>
                                        <tr class="reviews-td" >
                                            <td><label><i class="fa fa-black-tie"></i>  Attire     </label></td>
                                            <td>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->attire == 'casual')?  'checked'  : '' ; } ?>  name="reviews_attire"  value="casual"> casual
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->attire == 'dressy')?  'checked'  : '' ; } ?>  name="reviews_attire"  value="dressy"> dressy
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->attire == 'format (jacket require)')?  'checked'  : '' ; } ?>  name="reviews_attire"  value="format (jacket require)"> formal (jacket required)
                                                </label>
                                                <!-- <label class="radio-inline">
                                                  <input type="radio" <?php //if($revopt){ echo ($revopt->attire == 'not sure')?  'checked'  : '' ; } ?>  name="reviews_attire" id="inlineRadio4" value="not sure"> not sure
                                                </label> -->
                                            </td>

                                        </tr>
                                    <?php } ?>


                                    <?php //********************** PENDING
                                    if(array_intersect($mainCatx , ['Nightlifexxx'] )){
                                    ?>
                                        <tr class="reviews-td" >
                                            <td><label>Good for Dancing    </label></td>
                                            <td>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->attire == 'not sure')?  'checked'  : '' ; } ?> name="good_for_dance"  value="yes"> yes
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->attire == 'not sure')?  'checked'  : '' ; } ?> name="good_for_dance"  value="no"> no
                                                </label>
                                                <!-- <label class="radio-inline">
                                                  <input type="radio" <?php //if($revopt){ echo ($revopt->attire == 'not sure')?  'checked'  : '' ; } ?> name="good_for_dance"  value="not sure"> not sure
                                                </label> -->
                                            </td>

                                        </tr>
                                    <?php } //********************** ?>

                                    <?php 

                                    if(array_intersect($mainCatx , ['Food', 'Restaurants', 'Nightlife', 'Hotels & Travel', 'all'
                                        ] )){
                                    ?>
                                        <tr class="reviews-td" >
                                            <td><label><i class="fa fa-users"></i> Good for Groups    </label></td>
                                            <td>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->groups == 'yes')?  'checked'  : '' ; } ?> name="reviews_groups"  value="yes"> yes
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->groups == 'no')?  'checked'  : '' ; } ?> name="reviews_groups"  value="no"> no
                                                </label>
                                                <!-- <label class="radio-inline">
                                                  <input type="radio" <?php //if($revopt){ echo ($revopt->groups == 'not sure')?  'checked'  : '' ; } ?> name="reviews_groups"  value="not sure"> not sure
                                                </label> -->
                                            </td>

                                        </tr>
                                    <?php } ?>

                                    <?php 
                                    if(array_intersect($mainCatx , ['Active Life', 'Arts & Entertainment', 'Local Flavor',
                                     'Education', 'Food', 'Restaurants', 'Beauty & Spas', 'Hotels & Travel', 'all'
                                        ] )){
                                    ?>
                                        <tr class="reviews-td" >
                                            <td><label><i class="fa fa-child"></i> Good for Kids    </label></td>
                                            <td>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->kids == 'yes')?  'checked'  : '' ; } ?>  name="reviews_kids"  value="yes"> yes
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->kids == 'no')?  'checked'  : '' ; } ?>  name="reviews_kids"  value="no"> no
                                                </label>
                                                <!-- <label class="radio-inline">
                                                  <input type="radio" <?php //if($revopt){ echo ($revopt->kids == 'not sure')?  'checked'  : '' ; } ?>  name="reviews_kids"  value="not sure"> not sure
                                                </label> -->
                                            </td>

                                        </tr>
                                    <?php } ?>

                                    <?php 
                                    if(array_intersect($mainCatx , ['Food', 'Restaurants', 'Nightlife',  'all' ] )){
                                    ?>
                                        <tr class="reviews-td" >
                                            <td><label><i class="fa fa-street-view"></i> Takes Reservations   </label></td>
                                            <td>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->reservations == 'yes')?  'checked'  : '' ; } ?> name="reviews_reservations"  value="yes"> yes
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->reservations == 'no')?  'checked'  : '' ; } ?> name="reviews_reservations"  value="no"> no
                                                </label>
                                                <!-- <label class="radio-inline">
                                                  <input type="radio" <?php //if($revopt){ echo ($revopt->reservations == 'not sure')?  'checked'  : '' ; } ?> name="reviews_reservations"  value="not sure"> not sure
                                                </label> -->
                                            </td>

                                        </tr>
                                    <?php } ?>
                                    <?php

                                    if(array_intersect($mainCatx , ['Food', 'Restaurants',  'all' ] )){
                                    ?>
                                        <tr class="reviews-td" >
                                            <td><label><i class="fa fa-truck"></i>  Delivery    </label></td>
                                            <td>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->delivery == 'yes')?  'checked'  : '' ; } ?> name="reviews_delivery"  value="yes"> yes
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->delivery == 'no')?  'checked'  : '' ; } ?> name="reviews_delivery"  value="no"> no
                                                </label>
                                                <!-- <label class="radio-inline">
                                                  <input type="radio" <?php //if($revopt){ echo ($revopt->delivery == 'not sure')?  'checked'  : '' ; } ?> name="reviews_delivery"  value="not sure"> not sure
                                                </label> -->
                                            </td>

                                        </tr>
                                    <?php } ?>
                                    <?php 
                                    if(array_intersect($mainCatx , ['Food', 'Restaurants',  'all' ] )){
                                    ?>
                                        <tr class="reviews-td" >
                                            <td><label><i class="fa fa-hand-o-right"></i> Take Away    </label></td>
                                            <td>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->takeaway == 'yes')?  'checked'  : '' ; } ?> name="reviews_takeaway"  value="yes"> yes
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->takeaway == 'no')?  'checked'  : '' ; } ?> name="reviews_takeaway"  value="no"> no
                                                </label>
                                                <!-- <label class="radio-inline">
                                                  <input type="radio" <?php //if($revopt){ echo ($revopt->takeaway == 'not sure')?  'checked'  : '' ; } ?> name="reviews_takeaway"  value="not sure"> not sure
                                                </label> -->
                                            </td>

                                        </tr>
                                    <?php } ?>
                                    <?php 
                                    if(array_intersect($mainCatx , ['Food', 'Restaurants',  'all' ] )){
                                    ?>
                                        <tr class="reviews-td" >
                                            <td><label><i class="fa fa-user"></i>  Waiter Service   </label></td>
                                            <td>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->waiter == 'yes')?  'checked'  : '' ; } ?> name="reviews_waiter"  value="yes"> yes
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->waiter == 'no')?  'checked'  : '' ; } ?> name="reviews_waiter"  value="no"> no
                                                </label>
                                                <!-- <label class="radio-inline">
                                                  <input type="radio" <?php //if($revopt){ echo ($revopt->waiter == 'not sure')?  'checked'  : '' ; } ?> name="reviews_waiter"  value="not sure"> not sure
                                                </label> -->
                                            </td>

                                        </tr>
                                    <?php } ?>
                                    <?php 
                                    if(array_intersect($mainCatx , ['Food', 'Restaurants',  'all' ] )){
                                        ?>
                                        <tr class="reviews-td" >
                                            <td><label><i class="fa fa-hand-o-right"></i> Outdoor Seating   </label></td>
                                            <td>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->outdoor == 'yes')?  'checked'  : '' ; } ?> name="reviews_outdoor"  value="yes"> yes
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->outdoor == 'no')?  'checked'  : '' ; } ?> name="reviews_outdoor"  value="no"> no
                                                </label>
                                                <!-- <label class="radio-inline">
                                                  <input type="radio" <?php //if($revopt){ echo ($revopt->outdoor == 'not sure')?  'checked'  : '' ; } ?> name="reviews_outdoor"  value="not sure"> not sure
                                                </label> -->
                                            </td>

                                        </tr>
                                    <?php } ?>
                                    <?php 
                                    if(array_intersect($mainCatx , ['Food', 'Restaurants',  'all' ] )){
                                    ?>
                                        <tr class="reviews-td" >
                                            <td><label><i class="fa fa-hand-o-right"></i> Good for    </label></td>
                                            <td>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->goodfor == 'breakfast')?  'checked'  : '' ; } ?> name="reviews_goodfor"  value="breakfast"> breakfast
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->goodfor == 'brunch')?  'checked'  : '' ; } ?> name="reviews_goodfor"  value="brunch"> brunch
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->goodfor == 'lunch')?  'checked'  : '' ; } ?> name="reviews_goodfor"  value="lunch"> lunch
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->goodfor == 'dinner')?  'checked'  : '' ; } ?> name="reviews_goodfor"  value="dinner"> dinner
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->goodfor == 'late_night')?  'checked'  : '' ; } ?> name="reviews_goodfor"  value="late_night"> late-night
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->goodfor == 'dessert')?  'checked'  : '' ; } ?> name="reviews_goodfor"  value="dessert"> dessert
                                                </label>
                                            </td>

                                        </tr>
                                    <?php } ?>
                                    <?php 
                                    if(array_intersect($mainCatx , ['Food', 'Restaurants',  'all' ] )){
                                    ?>
                                        <tr class="reviews-td" >
                                            <td><label><i class="fa fa-hand-o-right"></i> Alcohol   </label></td>
                                            <td>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->alcohol == 'beer n\' wine only')?  'checked'  : '' ; } ?> name="reviews_alcohol"  value="beer n' wine only"> beer & wine only 
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->alcohol == 'full bar')?  'checked'  : '' ; } ?> name="reviews_alcohol"  value="full bar"> full bar
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->alcohol == 'no')?  'checked'  : '' ; } ?> name="reviews_alcohol"  value="no"> no
                                                </label>
                                                <!-- <label class="radio-inline">
                                                  <input type="radio" <?php //if($revopt){ echo ($revopt->alcohol == 'not sure')?  'checked'  : '' ; } ?> name="reviews_alcohol"  value="not sure"> not sure
                                                </label> -->
                                            </td>

                                        </tr>
                                    <?php } ?>
                                    <?php 
                                    if(array_intersect($mainCatx , ['Food', 'Restaurants', 'Nightlife', 'Beauty & Spas',  'all' ] )){
                                    ?>
                                        <tr class="reviews-td" >
                                            <td><label><i class="fa fa-hand-o-right"></i>  Noise Level  </label></td>
                                            <td>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->noise == 'quiet')?  'checked'  : '' ; } ?> name="reviews_noise"  value="quiet"> quiet 
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->noise == 'average')?  'checked'  : '' ; } ?> name="reviews_noise"  value="average"> average
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->noise == 'loud')?  'checked'  : '' ; } ?> name="reviews_noise"  value="loud"> loud
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->noise == 'very loud')?  'checked'  : '' ; } ?> name="reviews_noise"  value="very loud"> very loud
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->noise == 'no')?  'checked'  : '' ; } ?> name="reviews_noise"  value="no"> no
                                                </label>
                                            </td>

                                        </tr>
                                    <?php } ?>
                                    <?php 
                                    if(array_intersect($mainCatx , ['Food', 'Restaurants', 'Nightlife', 'all' ] )){
                                    ?>
                                        <tr class="reviews-td" >
                                            <td><label><i class="fa fa-hand-o-right"></i> Ambience   </label></td>
                                            <td>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->ambience == 'hipster')?  'checked'  : '' ; } ?> name="reviews_ambience"  value="hipster"> hipster 
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->ambience == 'casual')?  'checked'  : '' ; } ?> name="reviews_ambience"  value="casual"> casual
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->ambience == 'touristy')?  'checked'  : '' ; } ?> name="reviews_ambience"  value="touristy"> touristy
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->ambience == 'trendy')?  'checked'  : '' ; } ?> name="reviews_ambience"  value="trendy"> trendy
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->ambience == 'intimate')?  'checked'  : '' ; } ?> name="reviews_ambience"  value="intimate"> intimate
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->ambience == 'romantic')?  'checked'  : '' ; } ?> name="reviews_ambience"  value="romantic"> romantic
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->ambience == 'classy')?  'checked'  : '' ; } ?> name="reviews_ambience"  value="classy"> classy
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->ambience == 'upscale')?  'checked'  : '' ; } ?> name="reviews_ambience"  value="upscale"> upscale
                                                </label>
                                            </td>

                                        </tr>
                                    <?php } ?>
                            </table>
            




            </div>

        </div>