<?php echo $this->tag->stylesheetLink('themes3/css/list-type.css'); ?>
<?php echo $this->tag->javascriptInclude('themes3/themes/matchHeight/jquery.matchHeight.js'); ?>
<script type="text/javascript">
  $(document).ready(function(){

    // apply matchHeight to each item container's items
    var byRow = $('body');
    $('.adds-wrapper').each(function() {
      $(this).children('.item-list').matchHeight({
        byRow: byRow
      });
    });

    // different list type
    $('.listahan').click(function(){
      var type = $(this).attr('id');
      $('.item-list').removeClass('make-compact make-grid').addClass(type);
        $('.adds-wrapper').each(function() {
        $(this).children('.item-list').matchHeight({
          byRow: byRow
        });
      });
    });

    // date static by now


  });
</script>

<div class="body-wrapper" style="margin-top:110px;margin-bottom:20px"> <!-- start body wrapper -->
  <div class="container"  > <!-- start body wrapper container-fluid -->
    <div class="row" > <!-- start body wrapper row -->

    <div style="margin-bottom:20px"><!-- page wrapper body -->


<div class="col-sm-12 col-md-3 col-sm-4 page-sidebar" style="z-index:1">

  <aside>
  <div class="inner-box">
  <?php echo Phalcon\Tag::form(array("real_estate/index", "method" => "GET")); ?>


  <div class="categories-list  list-filter">
  <span class="list-title"><a href="#">Find a property</a></span>
<div class="row">
  <div class="form-group col-sm-12">
    <input type="text" class="form-control" name="name" id="name" placeholder="search" value="<?=$name?>" >
  </div>


  <div class="form-group col-sm-12">
    <?php 
      $advert = ['1' => 'For Sale', '2' => 'For Rent'];
    ZoidHelpers::staticDropDown('advertised', $advert, $advertised, 'Select status');
    ?>
  </div>

  <div class="form-group col-sm-12">
    <select name="realty_category_id"  class="form-control" id="realtyCategory">
        <option value="">Select category</option>
      <?php foreach ($realtyCategories as $key => $realtyCategory) { ?>
        <?php $category = $realtyCategory->RealtyTypes->name.' &raquo; '.$realtyCategory->name; ?>
        <option value="<?php echo $realtyCategory->id; ?>"><?php echo $category; ?></option>
      <?php } ?>
    </select>
  </div>

  <div class="form-group col-sm-12">
      <select name="realty_condition_id"  type="select" class=" form-control">
          <option value="">Select condition</option>
        <?php $realtyConditions = RealtyConditions::find();
        foreach ($realtyConditions as $key => $realtyCondition) { ?>
          <option value="<?php echo $realtyCondition->id; ?>"><?php echo $realtyCondition->name; ?></option>
        <?php } ?>
      </select>
  </div>

  <div class="form-group  col-sm-12">
      <select name="realty_type_id"  type="select" class=" form-control" id="realtyType">
          <option value="">Select Type</option>
        <?php $realtyTypes = RealtyTypes::find();
         foreach ($realtyTypes as $key => $realtyType) { ?>
          <option value="<?php echo $realtyType->id; ?>"><?php echo $realtyType->name; ?></option>
        <?php } ?>
      </select>
  </div>



</div>

  </div>
   


  <div class="locations-list  list-filter">
    <span class="list-title"><a href="#">Location</a></span>
    <div class="input_container" id="auto">
    <input type="text" id="autocity" value="<?=$city?>" class="city_list form-control" autocomplete="off" name="city" 
      placeholder="city" >
    <input type="hidden" id="autocitycode" name="city_code" value="<?=$city_code?>" class="city_id">
    <ul id="autocitylistid" class="show_city"></ul>
    </div>
  </div>
   
  <div class="locations-list  list-filter">
    <span class="list-title"><a href="#">Price range</a></span>
    <div class="form-group col-sm-5 no-padding">
    <input placeholder="$ 2000 " id="minPrice" name="minPrice" class="form-control" type="text">
    </div>
    <div class="form-group col-sm-2 no-padding text-center"> - </div>
    <div class="form-group col-sm-5 no-padding">
    <input placeholder="$ 3000 " id="maxPrice" name="maxPrice" class="form-control" type="text">
    </div>

    <div style="clear:both"></div>
  </div>
   
  <input type="submit" value="submit" name="btn_search" class="btn btn-primary btn-sm">
  <a href="<?php echo $this->url->getBaseUri().'real_estate/index'; ?>" class="btn btn-primary btn-sm">reset</a>

  <?php  echo Phalcon\Tag::endForm(); ?>


  <div class="square" style="padding:5px;border:1px solid #c4c4c4;margin-top:30px;background:#f4f4f4;border-radius:2px ">
    <div class="locations-list  list-filter">
      <span class="list-title" style="color:#fff;padding:0px 2px 2px 2px"><a href="#">Renting or selling property?</a></span>

      <a class="restricted btn btn-sm btn-primary" href="<?php echo $this->url->getBaseUri().'real_estate/new'; ?>" >Post your ad now?</a>
    </div>
  </div>

  <div style="clear:both"></div>
  </div>
   
  </aside>




          <?php $this->partial("partials/ads"); ?>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <ins class="adsbygoogle"
             style="display:inline-block;width:255px;height:213px;"
             data-ad-client="ca-pub-2827353860802948"
             data-ad-slot="6306061710"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        <ins class="adsbygoogle"
             style="display:inline-block;width:255px;height:213px;"
             data-ad-client="ca-pub-2827353860802948"
             data-ad-slot="6306061710"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>


</div>




<div class="col-sm-12 col-sm-8 col-md-9    boxiy" style="padding-top:20px;padding-bottom:20px"> <!-- start col-md-9 -->

<div style="padding-bottom:10px">
<button class="listahan" id="make-compact"><i class="fa fa-bars"></i> list</button>
<button class="listahan" id=""><i class="fa fa-th-list"></i> preview</button>
<button class="listahan" id="make-grid"><i class="fa fa-th"></i> grid</button>
</div>

  <?php

  if($btn_search == 'submit'){
    $count = count($realties);
    if($count == 0){
      echo '<h4>No search result match.</h4>';
    }else{
    echo '<div style="background-color:#f4f4f4;border:1px solid #ccc;position:relative;margin:0px 0px 10px;padding:5px 10px">';
      echo '<b>Search Result/s : </b>'. count($realties);
    echo '</div>';  
    }
  }else{
    $count = count($realties);
    if($count == 0){
    echo '<div style="text-align:center; padding:10px 15px; background:#f4f4f4;width:100%;border-left:2px solid #D7230F;border-top:1px solid #c3c3c3;border-bottom:1px solid #c3c3c3;border-right:1px solid #c3c3c3">';
    echo '<h4>Register and Post a Free Classified for Real Estate</h4>';
    echo 'Post your free online classified ads with us. ';
    echo '</div>';

    }
  }
  ?>


<div class="adds-wrapper"><!-- start ads wrapper --> 
        <?php $ccount = 1; $i = 1; foreach($realties as $realty): ?>
          <div class="item-list make-grid">
            <div class="col-sm-2 no-padding photobox">
            <div class="add-image custom-thumbnail" style=""> <!-- <span class="photo-count"><i class="fa fa-camera"></i> 2 </span> --> 
                <?php                    
                $realtyPhoto = 'img/nophoto.jpg'; 
                $rPhotoCount = count($realty->RealtyPhotos);
                if ($rPhotoCount > 0) {
                  $realtyPhoto = $realty->RealtyPhotos[0]->file_path.$realty->RealtyPhotos[0]->filename;
                }
                  echo Phalcon\Tag::image([$realtyPhoto, 'class' => 'thumbnail no-margin', 'style' => 'border:none;padding:0px']);
                ?>
            </div>
            </div>
             
            <div class="col-sm-7 add-desc-box" >
            <div class="add-details">
            <h5> <span><i class="fa fa-bookmark"> </i> 
            <?php 
              
            $category = RealtyCategories::findFirst($realty->realty_category_id);
            echo  $category = $category->RealtyTypes->name.' &raquo; '.$category->name; 
  
            ?>
            </span></h5>
 

            <h4 class="add-title" style="font-weight:bold"> 
            <a href="<?php echo $this->url->getBaseUri().'real_estate/view2/'.$realty->id; ?>">
             <?= $realty->name?></a> 
             </h4>
         



            <span class="info-row">
             <i class="fa fa-info-circle"></i> <?php 

             echo $realty->RealtyConditions->name; ?> 
             </span>
             <div class="clearfix"></div>
            <span class="info-row">
                <?php 
                  $ecity = '';
                  $cities = Cities::findFirst($realty->city);
                  if($cities){
                    echo '<i class="fa fa-map-marker"></i> ';
                    $ecity .= $cities->city_name;
                    $ecity .= ', '. $cities->state_code_id;
                    $ecity .= ', '.$cities->CountryCodes->country_name;
                          echo $ecity;
                  }
                ?>
             </span> 
            <span class="info-row">
               <br> <i class="fa fa-circle"></i> House Area: <?php echo $realty->house_area; ?>
               </br> <i class="fa fa-circle"></i> Lot Area: <?php echo $realty->lot_area; ?>
             </span>



             </div>




            </div>
         
            <div class="col-sm-3 text-right  price-box" style="">
            <h6 class="item-price"> 
              <span class=" s3d designmoo" style="width:100%;text-align:center"><strong>
                <?php
                $currency = '';
                $na = '';
                  switch ($realty->currency_type) {
                    case 1:
                      $currency = '$';$na = 'US';
                      break;
                    case 2:
                      $currency = '₱';$na = 'PHP';
                      break;
                    case 3:
                      $currency = '$';$na = 'CAD';
                      break;
                    default:
                  }
                  echo $currency;
                ?>
                <?=$na?>
                  <?php echo number_format($realty->price,2); ?>
                    <small></small>
                    </strong></span>
            </h6>

            
            <a href="<?php echo $this->url->getBaseUri().'real_estate/view2/'.$realty->id; ?>" class="btn btn-primary  btn-sm make-favorite" style=""> 
            <i class="fa fa-eye"></i>
             <span>view more</span> </a> 



        <span class="pulls-right">
                  <?php if (isset($userSession['id'])) { ?>
                    <?php if($userSession['id']) { $realty->member_id ?>
                      <span id="flagRemover<?=$ccount?>">
                      <?php
                      $countFlag = Flags::count("member_id='".$userSession['id']."' and target_id='".$realty->member_id."' and review_id='".$realty->id."'");
                      $checkFlag = Flags::find("member_id='".$userSession['id']."' and target_id='".$realty->member_id."' and review_id='".$realty->id."'");
                      ?>
                      <?php 
                      if ($countFlag == 0) { ?> 
                      <a href="#" class="btn btn-primary  btn-sm make-favorite" style=""> 
                      <small id="flagSpan<?=$ccount?>" class="fa fa-flag" style="cursor:pointer;" data-placement="top" onclick="flagAll(<?php echo $realty->member_id.','.$userSession['id'].','.$realty->id.','.$ccount?>)" title="flag if inapproriate" data-toggle="modal" data-target="#flagModalCar"></small></a>
                      <?php } else { ?>
                      <a href="#" class="btn btn-primary  btn-sm make-favorite" style=""> 
                         <small style="color:white;">flagged</small></a>
                      <?php } ?>
                      </span>
                    <?php } ?>
                  <?php } ?>
              </span>





            </div>
          </div>
<?php $ccount++; endforeach; ?>
</div><!-- end ads wrapper --> 

      </div> <!-- end col-md-9 -->



    </div><!-- end page wrapper body -->

  </div><!-- end body wrapper row -->
  </div><!-- end body wrapper container-fluid -->
</div><!-- end body wrapper -->




<script type="text/javascript">
  jQuery(document).ready(function(){

      $('#flagifyCar').click(function() {
        $('#flagModalcar').modal('hide');
        if ($('#flag_type').val() == "0") {
          alertify.error("you must choose one option");
        } else {
          var flagger = $("#flaggerId").val();
          var review = $('#reviewId').val();
          var reviewer = $('#reviewerId').val();
          var flag_type = $('#flag_type').val();
          var span_counter = $('#flagId').val();

          //console.log('flagger : ' + flagger + 'review : ' + review + 'reviewer : ' +  reviewer + 'flag_type : ' + flag_type + 'span_counter : ' + span_counter );
          $.ajax({
            url: "<?php echo $this->url->getBaseUri() . 'real_estate/flag'; ?>",
            type: 'GET',
            data: {reviewer:reviewer, review:review,flagger:flagger, flag_type:flag_type},
            dataType: 'json',
            success: function(result){
              $('#flagRemover' + span_counter).html('<span style="float:right;color:red;">reported</span>');
              $('#flagModalCar').modal('hide')
              alertify.success("Your report has been sent to admins.");
              console.log(result.items);
            },
            error: function(){
              alertify.error("whoops, something went wrong.");
            }
          });
        }
      }); 

    });

    function flagAll(reviewer, reporter, reviewId, counter) {
      $('#reviewerId').val(reviewer);
      $('#reviewId').val(reviewId);
      $('#flaggerId').val(reporter);
      $('#flagId').val(counter);
    }
</script>

<!-- Modal -->
<div class="modal fade" id="flagModalCar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><span style="font-family:Arial;font-weight:bold;"><span class="glyphicon glyphicon-flag" style=""></span> Flag</span></h4>
      </div>
      <div class="modal-body">
        <p>Please refer to our 'Terms of Use' and 'Privacy Policy' and let us know why you think the content you've reported may violate these guidelines</p>
        <br>
    <div class="row">
        <p style="font-weight:bold">Why do you want to report this review?</p>
        <form action="">
          <input id="flagId" type="hidden" class="form-control"/>
          <input id="reviewId" type="hidden" class="form-control" />
          <input id="reviewerId" type="hidden" class="form-control" />
          <input id="flaggerId" type="hidden" class="form-control" />
       
          <select class=" form-control  " id="flag_type" >
            <option value="0">Select and option...</option>
            <?php $flagOptions = FlagTypes::find(); 
              foreach ($flagOptions as $option) {
            ?>
              <option value="<?= $option->id ?>"><?= $option->detail ?></option>
            <?php } ?>
          </select>
        </form>
        </div>
      </div>
      <div class="modal-footer">
        <button id="flagifyCar" type="button" class="btn btn-primary">Submit</button>
         <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
