<?php echo $this->tag->javascriptInclude("themes/customize/js/ckeditor/ckeditor.js"); ?>
<?php echo $this->tag->javascriptInclude("themes3/themes/cropit/js/jquery.cropit.min.js"); ?>

       <script type="text/javascript">
            $(document).ready(function() {

                <?php 
                $error = '';
                //Check if the variable is defined
                if ($this->session->has("errorMessasge")) {
                    //Retrieve its value
                    $error = $this->session->get("errorMessasge");
                   ?>
                    
                   var error = "<?=$error?>";
                   alertify.error(error);

                <?php $this->session->remove("errorMessasge"); } ?>

               });

                <?php 
                $success = '';
                //Check if the variable is defined
                if ($this->session->has("successMessasge")) {
                    //Retrieve its value
                    $success = $this->session->get("successMessasge");
                   ?>
                   var success = "<?=$success?>";
                   alertify.error(success);
                <?php $this->session->remove("successMessasge"); } ?>
               });

        </script>

<div class="body-wrapper" style="margin-top:110px;margin-bottom:20px"> <!-- start body wrapper -->
  <div class="container" style=" background:#fff;border:1px solid #ddd"> <!-- start body wrapper container-fluid -->
    <div class="row" > <!-- start body wrapper row -->

      <div style="margin-bottom:20px"><!-- page wrapper body -->


		<!-- start left panel -->
		<div class="col-md-3" style="">

		</div>



		<div class="col-md-9" style="border-left:1px solid #ddd "> <!-- start col-md-9 -->

		</div>






      </div><!-- end wrapper body -->

    </div> <!-- start body wrapper row -->     
  </div> <!-- start body wrapper container-fluid -->
</div><!-- start body wrapper -->


