<!-- start Popular Post -->
              <div class="single_leftbar wow fadeInDown">
                <h2><span>Top 5 Reviewers</span></h2>
                <div class="singleleft_inner">
                  <ul class="catg3_snav ppost_nav wow fadeInDown">
		  <?php
			
			$query = "select count(id) AS words,member_id from Reviews group by member_id order by words DESC limit 5";
			$toppers = $this->modelsManager->executeQuery($query);
			//$toppers = Reviews::count(array('id', 'group'=>'member_id','order'=>''));
			
		  ?>
		  <?php $Count = 1; foreach ($toppers as $topper) {?>
		  <?php
			$topName = Members::findFirst("id ='".$topper->member_id."'");
			$topperName = strtoupper($topName->first_name.' '.substr($topName->last_name, 0, 1).'.');
		  ?>
		    <li>
                      <div class="media">
			<?php
				$topperPic = 'http://www.filipiknow.net/wp-content/uploads/2013/08/jose-rizal-is-not-a-hero.jpg';
					$primaryPix = MemberPhotos::findFirst('member_id = "'.$topper->member_id.'" and primary_pic="Yes"');
				    if ($primaryPix) {
					$topperPic = 'http://mybarangay.cloudapp.net'.$this->url->getBaseUri() . $primaryPix->file_path . $primaryPix->filename;
				     }	
			?>
                        <a href="single_page.html" class="media-left">
                          <?php echo '<img alt="img" src="'.$topperPic.'" style="width:70px;height:70px;" class="userpic">'; ?>
                        </a>
                        <div class="media-body"> 
                          <a href="<?=$this->url->getBaseUri() . 'member/page/' . $topper->member_id?>" class="catg_title" style="color:red;"> <span style="font-weight:bold;"><?=$topperName?></span></a> 
			  <?php 
				if ($Count = 1) {
					$trophyColor = '#FFD700';
					$Count++;
				} else if ($Count == 2) {
					$trophyColor = '#C9C0BB';
					$Count++;
				} else if ($Count == 3) {
					$trophyColor = '#665D1E';
					$Count++;
				} else {
					$Count++;
				}
				if ($Count < 3) {
					echo '<i class="fa fa-star"></i>';
				}
				
				?>
			   <?=$topper->words?> reviews                      
                        </div>
			
                      </div>
                    </li>
		  <?php  $Count++;} ?>
                  </ul>
                </div>
              </div>
               <!-- End Popular Post --> 
