              <div class="single_leftbar wow fadeInDown"> 
                <!-- Nav tabs -->
                <ul class="nav nav-tabs custom-tabs" role="tablist">
                  <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Most Latest</a></li>
                  <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Most Popular</a></li>
                  <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Recent Comments</a></li>
                </ul>             
                <div class="tab-content">
                  <!-- start latest -->
                  <div role="tabpanel" class="tab-pane fade in active" id="home">
                    <ul class="catg3_snav ppost_nav wow fadeInDown">
                    <?php 
                        $whatsupTopics = WhatsupTopics::find(array("limit" => 7, "order"=>"id DESC"));
                        foreach ($whatsupTopics as $wtopic) {
                    ?>
                    <li>
                      <div class="media">
                        <a class="media-left" href="#">
                          <?php 
                              $defaulTopicMakerPix = 'http://lorempixel.com/70/70/';
                              $getTopicMakerPix = MemberPhotos::findFirst('member_id = "'.$wtopic->member_id.'" and primary_pic="Yes"');
                              if ($getTopicMakerPix) {
                                $topicMakerPix = $this->url->getBaseUri() . $getTopicMakerPix->file_path.$getTopicMakerPix->filename;
                              } else {
                                $topicMakerPix = $defaulTopicMakerPix;
                              }

                              echo '<img src="'.$topicMakerPix.'" alt="img" style="width:70px;height:70px;" class="userpic">';
                          ?>
                          
                        </a>
                        <div class="media-body">
                          <a class="catg_title" target="_blank" href="<?=$this->url->getBaseUri() . 'forum/view/' . $wtopic->id?>"> <?=$wtopic->subject?></a>                        
                        </div>
                      </div>
                    </li> 
                    <?php } ?>                                    
                    </ul>
                  </div>
                  <!-- end latest -->
                  <div role="tabpanel" class="tab-pane fade" id="profile">
                     <ul class="catg3_snav ppost_nav wow fadeInDown">
                    <li>
                      <div class="media">
                        <a class="media-left" href="#">
                          <img src="http://lorempixel.com/70/70/" alt="img">
                        </a>
                        <div class="media-body">
                          <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a>                        
                        </div>
                      </div>
                    </li>
                     <li>
                      <div class="media">
                        <a class="media-left" href="#">
                          <img src="http://lorempixel.com/70/70/" alt="img">
                        </a>
                        <div class="media-body">
                          <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a>                                
                        </div>
                      </div>
                    </li>
                      <li>
                      <div class="media">
                        <a class="media-left" href="#">
                          <img src="http://lorempixel.com/70/70/" alt="img">
                        </a>
                        <div class="media-body">
                          <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a>                               
                        </div>
                      </div>
                    </li>
                      <li>
                      <div class="media">
                        <a class="media-left" href="#">
                          <img src="http://lorempixel.com/70/70/" alt="img">
                        </a>
                        <div class="media-body">
                          <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a>                         
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="media">
                        <a class="media-left" href="#">
                          <img src="http://lorempixel.com/70/70/" alt="img">
                        </a>
                        <div class="media-body">
                          <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a>                        
                        </div>
                      </div>
                    </li>                                                   
                  </ul>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="messages">
                    <ul class="catg3_snav ppost_nav wow fadeInDown">
                      <li>
                        <div class="media">
                          <a class="media-left" href="#">
                            <img src="http://lorempixel.com/70/70/" alt="img">
                          </a>
                          <div class="media-body">
                            <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a>                        
                          </div>
                        </div>
                      </li>
                       <li>
                        <div class="media">
                          <a class="media-left" href="#">
                            <img src="http://lorempixel.com/70/70/" alt="img">
                          </a>
                          <div class="media-body">
                            <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a>                                
                          </div>
                        </div>
                      </li>
                        <li>
                        <div class="media">
                          <a class="media-left" href="#">
                            <img src="http://lorempixel.com/70/70/" alt="img">
                          </a>
                          <div class="media-body">
                            <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a>                               
                          </div>
                        </div>
                      </li>
                        <li>
                        <div class="media">
                          <a class="media-left" href="#">
                            <img src="http://lorempixel.com/70/70/" alt="img">
                          </a>
                          <div class="media-body">
                            <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a>                         
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="media">
                          <a class="media-left" href="#">
                            <img src="http://lorempixel.com/70/70/" alt="img">
                          </a>
                          <div class="media-body">
                            <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a>                        
                          </div>
                        </div>
                      </li>
                       <li>
                        <div class="media">
                          <a class="media-left" href="#">
                            <img src="http://lorempixel.com/70/70/" alt="img">
                          </a>
                          <div class="media-body">
                            <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a>                                
                          </div>
                        </div>
                      </li>
                        <li>
                        <div class="media">
                          <a class="media-left" href="#">
                            <img src="http://lorempixel.com/70/70/" alt="img">
                          </a>
                          <div class="media-body">
                            <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a>                               
                          </div>
                        </div>
                      </li>                                      
                    </ul>
                  </div>                  
                </div>
              </div>
