<div class="body-wrapper" style="margin-top:110px;"> <!-- start body wrapper -->
  <div class="container" > <!-- start body wrapper container-fluid -->
    <div class="row" > <!-- start body wrapper row -->

  <div style="margin-bottom:20px;"><!-- page wrapper body -->
  

      <div class="col-md-12 "  >
          <div class="col-md-12 col-xs-12"  >
              <ul class="breadcrumb pull-left" style="padding:5px 0px; margin:0px">
                  <li>Home</li>
                  <li>Classifieds</li>
                  <li>Jobs</li>
                  <li class="active">Preview</li>
              </ul>
          </div>
      </div>



      <!-- start left panel -->
      <div class="col-md-2 col-sm-4" >
        <div class="boxiy" >
        <?php if(isset($userSession['id'])) { 
       $this->partial("partials/classfied_sidebar"); 
        } else { 
          echo "<p style='padding:5px;text-align:center'>Jobs preview</p>";
          }?>
        </div>
      </div>
      <!-- end left panel -->






	    <div class="col-md-7 " ><!-- start col-md-8 -->


			<div class="col-md-12">
				<?php if (isset($userSession['id'])) { ?>
					<?php if($userSession['id'] == $jobs->member_id) { ?>
			
					<?php
						echo Phalcon\Tag::linkTo(array('car_and_truck/delete_list/'.$jobs->id.'/2', '<i class="glyphicon glyphicon-trash"></i>Delete', 'class' => 'btn btn-sm btn-primary pull-right',  'title' => 'delete'));
						echo Phalcon\Tag::linkTo(array('job/update/'.$jobs->id, '<i class="glyphicon glyphicon-pencil"></i>Edit', 'class' => 'btn btn-sm btn-primary pull-right',  'title' => 'update'));
					?>
				
					<?php } ?>
				<?php } ?>
			</div>

	      <div class="boxiy" style="padding:10px 15px;margin-bottom:20px">
	        <h3  style="">
	       		<i class="glyphicon glyphicon-briefcase"></i> <?php echo '  '.ucfirst($jobs->position); ?>
	        </h3>
	   	    <p ><span class="glyphicon glyphicon-globe"></span> <?php echo $jobs->company; ?></p>
	      </div>



     
              <div class="panel panel-default" >
                <div class="panel-heading">
                  Description
                </div>
              <div class="panel-body">

              		<h4>Job Description</h4>
					<p class="text-justify"><?php echo $jobs->job_description; ?></p></br>
					<h4>Requirements</h4>
					<p class="text-justify"><?php echo $jobs->requirements; ?></p></br>
					<h4>Benefits</h4>
					<p class="text-justify"><?php echo $jobs->benefits; ?></p></br>
					<h4>How to Apply</h4>
					<p class="text-justify"><?php echo $jobs->how_to_apply; ?></p>
              </div>
              <div class="panel-footer">Description</div>
              </div>



   </div>

	 <!-- start right panel -->



	    <div class="col-md-3 " >





	      <div class=" boxiy" style="margin-bottom:20px;">
	

     		<div class="media" >
              <div class="pull-left" style="margin-bottom:5px;">

   
              <?php echo Phalcon\Tag::image(array($jobLogo, 'class' => '', 'style' => 'width:100px;padding:5px;text-align:center')); ?>

                </div>
                <div class="media-body" style="padding-top:5px;"><!-- start of media body -->
                <span class="media-heading" style="color: #023283;color: #023283; font-weight: bold;">
					<i class="fa fa-building-o fa-2x"></i> <?php echo $jobs->company; ?>
            
                </span>
              </div><!-- end of media body -->
            </div>

			
	
			</div>


	      <div class="panel panel-default">



	        <div class="panel-heading">
	           Information




	        </div>
	        <ul class="list-group">


	          <li class="list-group-item">
	            <h4 class="list-group-item-heading">Company Name </h4>
	           
	          </li>

	          <li class="list-group-item">
	            <h4 class="list-group-item-heading">Job Category </h4>
	            <p ><i class="fa fa-server"></i> <?php echo $jobs->JobCategories->name; ?></p>
	          </li>
	          <li class="list-group-item">
	            <h4 class="list-group-item-heading">Website</h4>
	            <p ><i class="fa fa-globe"></i> <a href="<?php echo $jobs->website; ?>"></span> <?php echo $jobs->website; ?></a></p>
	          </li>

	          <li class="list-group-item">
	            <h4 class="list-group-item-heading">Address</h4>
	            <p class="list-group-item-text"><i class="fa fa-home"></i>  <?php echo $jobs->street; ?></p>
	          </li>
	          <li class="list-group-item">
	            <h4 class="list-group-item-heading">Contact</h4>
	            <p class="list-group-item-text"><i class="fa fa-phone-square"></i> <?php echo $jobs->telephone; ?></p>
	          </li>
	          <li class="list-group-item">
	            <h4 class="list-group-item-heading">Email</h4>
	           <p class="list-group-item-text"> <i class="fa fa-envelope-square"></i> <?php echo $jobs->email; ?></p>
	          </li>

	        </ul>
	      </div>
	    </div>







  </div><!-- end page wrapper body -->

 </div><!-- end body wrapper row -->
  </div><!-- end body wrapper container-fluid -->
</div><!-- end body wrapper -->
