<style>
      .cropit-image-preview {
        background-color: #f8f8f8;
        background-size: cover;
        border: 1px solid #ccc;
        border-radius: 3px;
        margin-top: 7px;
	margin-left: 80px;
        width: 300px;
        height: 300px;
        cursor: move;
      }

      .cropit-image-background {
        opacity: .9;
        cursor: auto;
      }

      .image-size-label {
        margin-top: 10px;
      }

      input {
        display: block;
      }

      .export {
        margin-top: 10px;
      }
	.cropit-image-preview {
		margin-left: 150px;
	}
    </style>
<?php echo $this->tag->javascriptInclude("themes/customize/js/ckeditor/ckeditor.js"); ?>
<div class="body-wrapper" style="margin-top:110px;" style="background-image: url(https://fluffystrawberry.files.wordpress.com/2013/03/background.png);"> <!-- start body wrapper -->
  <div class="container"  style=" background:#fff"> <!-- start body wrapper container-fluid -->
    <div class="row" > <!-- start body wrapper row -->

  <div style="margin-bottom:20px;"><!-- page wrapper body -->
  
   <!-- start left panel -->
   <div class="col-md-3" style="">
    <?php if(isset($userSession['id'])) { $memberId = $userSession['id']; } else { $memberId = ''; } ?>
    <?php if($memberId == $member->id) { ?>
    <?php $this->partial("layouts/elements/profile_widget") ?>
    <?php } ?>
    <?php if($memberId != $member->id) { ?>
    <?php $this->partial("layouts/elements/member_widget") ?>
    <?php } ?>
   </div>
   <!-- end left panel -->


      	<div class="col-md-6 col-md-offset-1" > <!-- start col-md-6 -->
		<div class="row">
<br>
			<div class="panel panel-default">
			  <div class="panel-body">
			    <span style="font-family:Arial;font-weight:bold;"><center>Resize and Set your Profile Picture</center></span>
			  </div>
			</div>
				<!--<p>Please note: This photo will not appear in search results until it has been approved by our moderators.</p>-->				 

			<?php  echo Phalcon\Tag::form(array("member/add_photo/".$member->id, "method" => "post", "enctype"=>"multipart/form-data", "id" => "croppedImgForm")); ?>

			     <div class="image-editor" style="padding-top: 25px;">
				
				<div class="cropit-image-preview"></div>
				<div class="image-size-label">
				  Resize image
				</div>

				<input type="range" class="cropit-image-zoom-input">
				<input type="file" class="cropit-image-input">
				<input type="hidden" name="image-data" class="hidden-image-data" />
				<div class="image-size-label">
				  Caption
				</div>
				<textarea type="textarea" rows="2" class="ckeditor" name="caption" rows="2"></textarea><br>
				<button class="pull-right btn btn-primary" class="btn btn-primary" type="submit">Submit</button><div class="pull-right"> | </div>
				<a class="pull-right" style="margin-left: 100px;padding-left: 30px;"href="<?php echo $referer; ?>"><button class="pull-right btn btn-danger" class="btn btn-danger" type="button">Cancel</button></a>
		
			      </div>
			    </form>
			</div>
		</div>
		<div class="row">
			<img id="imgPreview" src="#" alt="your image" class="hidden img-responsive img-rounded img-thumbnail"/>
		</div>
   	</div> <!-- end col-md-6 -->



  </div><!-- end page wrapper body -->

 </div><!-- end body wrapper row -->
  </div><!-- end body wrapper container-fluid -->
</div><!-- end body wrapper -->
<?php echo $this->tag->javascriptInclude("js/crop.js"); ?>
<script>
$(document).ready(function(){
		function readURL(input) {
		    if (input.files && input.files[0]) {
		        var reader = new FileReader();
		        reader.onload = function (e) {
		            $('#imgPreview').attr('src', e.target.result);
		            $('#imgPreview').removeClass('hidden');
		        }
		        reader.readAsDataURL(input.files[0]);
		    }
		}

		$("#photo").change(function(){
		    readURL(this);
		});

		$('.image-editor').cropit({height: 300, width: 300, imageState: {
            		src: '<?php echo $this->url->getBaseUri() . $currentPhoto->file_path . $currentPhoto->filename; ?>'
          	}});

	
        $('form').submit(function() {
          // Move cropped image data to hidden input
          var imageData = $('.image-editor').cropit('export');
          $('.hidden-image-data').val(imageData);

          // Print HTTP request params
          var formValue = $(this).serialize();
          //$('#result-data').text(formValue);

          console.log(formValue);
          "<?php $encoded = "+formValue+"; ?>"
          // var datastring = $.param(data);
          // $.ajax({
          //   type:"POST",
          //   url: "/superzoid/indexajax/ajaxNotifyLeave",
          //   data: datastring,
          //   success:function(success){
          //     $("#loaderleave").hide();
          //     $('#notifyleave').fadeIn().html(success);
          //   }
          // });







          // Prevent the form from actually submitting
          //return false;


        });
});
</script>


