<div class="body-wrapper" style="margin-top:110px;"> <!-- start body wrapper -->
  <div class="container"  style=" background:#fff"> <!-- start body wrapper container-fluid -->
    <div class="row" > <!-- start body wrapper row -->

  <div style="margin-bottom:20px;"><!-- page wrapper body -->
  
   <!-- start left panel -->
   <div class="col-md-3" >
   
   </div>
   <!-- end left panel -->


      <div class="col-md-6" > <!-- start col-md-6 -->
		<br>
		<form method="post" action="<?php $this->url->getBaseUri() . 'member/forgotPassword'?>">
		  <div class="form-group">
		    <label for="exampleInputEmail1">Enter your email address</label>
		    <input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
		  </div>
		  <button type="submit" class="btn btn-primary">Submit</button>
		</form>	
		
	
     </div> <!-- end col-md-6 -->


   <!-- start right panel -->
      <div class="col-md-3" >

   </div>
   <!-- end right panel -->

  </div><!-- end page wrapper body -->

 </div><!-- end body wrapper row -->
  </div><!-- end body wrapper container-fluid -->
</div><!-- end body wrapper -->
