<?php echo $this->tag->stylesheetLink("themes3/css/member.css"); ?>
<?php echo $this->tag->stylesheetLink("themes3/themes/dropzone/dropzone.css"); ?>
<?php echo $this->tag->stylesheetLink("themes3/themes/blueimp/blueimp-gallery.min.css"); ?>
<?php echo $this->tag->javascriptInclude("themes3/themes/blueimp/jquery-blueimp.min.js"); ?>
<?php echo $this->tag->javascriptInclude("js/dropzone.js"); ?>

<style type="text/css">
fieldset.sched-border{
  border:1px groove #ddd !important;
  padding:0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  -webkit-box-shadow: 0px 0px 0px 0px #000;
      box-shadow: 0px 0px 0px 0px #000;

}
legend.sched-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width:auto;
    padding:0px 10px;
    border-bottom: none;
}
/* PAGINATION */
.pagination {
  width: 100%;
  margin: 10px 0px;
}
.pagination > li > a,
.pagination > li > span {
  margin-left: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #656d78;
  border-color: #E5E5E5;
}
.pagination > li > a:hover,
.pagination > li > span:hover {
  color: #fff;
}
.pagination > li.active > a,
.pagination > li.active > a:hover {
    color: #FFF;
/*  background: #33414e;
  color: #FFF;
  border-color: #33414e;*/
}
.pagination.pagination-sm {
  margin: 0px;
  width: auto;
}
.pagination.pagination-sm.push-down-20 {
  margin-bottom: 20px;
}
.pagination.pagination-sm.push-up-20 {
  margin-top: 20px;
}
/* END PAGINATION */
</style>
<div class="body-wrapper" style="margin-top:110px;"> <!-- start body wrapper -->
  <div class="container" > <!-- start body wrapper container -->
    <div class="row" > <!-- start body wrapper row -->

  <div style="margin-bottom:20px;"><!-- page wrapper body -->
  

    <div class="col-md-12 "  >
        <div class="col-md-12 col-xs-12"  >
            <ul class="breadcrumb pull-left" style="padding:5px 0px; margin:0px">
                <li><i class="fa fa-home"></i> MyBarangay</li>
                <li class="active">Profile</li>
            </ul>
        </div>
    </div>


     <!-- start left panel -->
     <div class="col-md-3 col-xs-12 " >
    <?php $this->partial("partials/member_profile") ?>

     </div>
     <!-- end left panel -->
<style type="text/css">

img[class] {
/*  width: 100%;*/
}
.object-fit_cover {
  -o-object-fit: cover;
     object-fit: cover;
}


</style>
      <!-- start col-md-9 -->
<div class="col-md-9 col-sm-12 boxiy" style="min-height:500px;"> 

    <div class="row">
        <?php if($seschecker){ ?> 
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3><span class="fa fa-download"></span> Upload Image</h3>
                    <p>Drag and Drop <code>Photos</code> to upload</p>
                    <?php  echo Phalcon\Tag::form(array("member/upload_image/", "method" => "post", "enctype"=>"multipart/form-data", "class" => "dropzone dz-clickable", "action" => $this->url->getBaseUri(). 'member/upload_image')); ?>
                    <div class="dz-default dz-message">
                    <span>Drop files here to upload</span>
                    </div>
                    <?php echo Phalcon\Tag::endForm(); ?>
                </div>
                <div class="panel-footer"><a id="upload-move" href="<?php echo $this->url->getBaseUri().'member/galleryu/'.$userSession['id']; ?>" class="btn btn-primary btn-sm pull-right"> Upload</a></div>
            </div>
        <?php } ?>
      
    </div>


    <!-- BLUEIMP GALLERY -->
    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
        <div class="slides"></div>
        <h3 class="title"></h3>
            <a class="prev">‹</a>
            <a class="next">›</a>
            <a class="close">×</a>
            <a class="play-pause"></a>
        <ol class="indicator"></ol>
    </div>      
    <!-- END BLUEIMP GALLERY -->



<div class="gallery" id="links">

<?php foreach ($photos->items as $key => $photo)  { 
    if(file_exists($photo->file_path . $photo->filename)){
?>
<div id="<?php echo 'gallery_'.$photo->id; ?>">
    <a class="gallery-item" href="<?= $this->url->getBaseUri() . $photo->file_path . $photo->filename ?>" title="Nature Image 1" data-gallery>

        <div class="image">                              
            <img class="object-fit_cover" src="<?= $this->url->getBaseUri() . $photo->file_path . $photo->filename ?>" alt="Nature Image 1" height="200" >    

        <?php if($seschecker){ ?>                          
            <ul class="gallery-item-controls">
        
                <!-- <li><span class="gallery-item-add"></span>set</li> -->
                <li><span class="gallery-item-remove" id="<?php echo 'img_'.$photo->id; ?>" data="<?php echo $photo->id; ?>" ><i class="fa fa-times"></i></span></li>
            </ul>   
        <?php } ?>

        </div>
                               
    </a>
</div>    
<?php } } ?>
</div>





    <!-- row -->
    <div class="row"><!-- start col-md-9 row[2] -->
        <div class="col-md-12">
        <?php
            $prev = $photos->current - 1;  
            $next = $photos->current + 1;       
            $stages = 3;

            $LastPagem1 = $photos->total_pages - 1;
            $paginate = '';

                $paginate .= "<ul class=\"pagination pagination-sm pull-right\">";
                  // PREVIOUS BUTTON
                  if ($photos->current > 1){
                      $paginate.= "<li><a   href=\"?page=$prev\"   aria-label=\"Previous\">&laquo;</a></li>";
                  }else{
                      $paginate.= "<li class=\"disabled\"><a href=\"#\" aria-label=\Previous\"><span aria-hidden=\"true\">&laquo;</span></a></li>";   }
                  // START PAGES
                  if ($photos->total_pages < 7 + ($stages * 2))  // Not enough pages to breaking it up
                  {   
                      for ($counter = 1; $counter <= $photos->total_pages; $counter++)
                      {
                          if ($counter == $photos->current){
                              $paginate.= "<li class=\"active\"><a  href=\"?page=$photos->current\"  >$counter</a></li>";
                          }else{
                              $paginate.= "<li><a  href=\"?page=$counter\"  >$counter</a></li>";
                          }                    
                      }
                  }
              elseif($photos->total_pages > 5 + ($stages * 2))   // pag few page na HIDE
                  {
                      // START only hide later pages
                      if($photos->current < 1 + ($stages * 2))       
                      {
                          for ($counter = 1; $counter < 4 + ($stages * 2); $counter++)
                          {
                              if ($counter == $photos->current){
                                  $paginate.= "<li class=\"active\"><span class=\"current\">$counter</span></li>";
                              }else{
                                  $paginate.= "<li><a href=\"?page=$counter\"  >$counter</a></li>";}                    
                          }
                          $paginate.= "<li><a href=\"\">...</a></li>";
                          $paginate.= "<li><a href=\"?page=$LastPagem1\"  >$LastPagem1</a></li>";
                          $paginate.= "<li><a href=\"?page=$photos->total_pages\"  >$photos->total_pages</a></li>";       
                      }
                      //MIDDLE HIDE  hide ung front and back
                      elseif($photos->total_pages - ($stages * 2) > $photos->current && $photos->current > ($stages * 2))
                      {
                          $paginate.= "<li><a href='javascript:void(0);' OnClick='$x(1)' >1</a></li>";
                          $paginate.= "<li><a href='javascript:void(0);' OnClick='$x(2)' >2</a></li>";
                          $paginate.= "<li><a href=\"#\">...</a></li>";
                          for ($counter = $photos->current - $stages; $counter <= $photos->current + $stages; $counter++)
                          {
                              if ($counter == $photos->current){
                                  $paginate.= "<li class=\"active\"><span class=\"current\">$counter</span></li>";
                              }else{
                                  $paginate.= "<li><a href=\"?page=$counter\"  >$counter</a></li>";}                    
                          }
                          $paginate.= "<li><a href=\"#\">...</a></li>";
                          $paginate.= "<li><a href=\"?page=$LastPagem1\"  >$LastPagem1</a></li>";
                          $paginate.= "<li><a href=\"?page=$photos->total_pages\"  >$photos->total_pages</a></li>";       
                      }
                      // Hide ung mga early pages
                      else
                      {
                          $paginate.= "<li><a href=\"?page=1\" >1</a></li>";
                          $paginate.= "<li><a href=\"?page=2\" >2</a></li>";
                          $paginate.= "<li><a href=\"#\">...</a></li>";
                          for ($counter = $photos->total_pages - (2 + ($stages * 2)); $counter <= $photos->total_pages; $counter++)
                          {
                              if ($counter == $photos->current){
                                  $paginate.= "<li class=\"active\"><span class=\"current\">$counter</span></li>";
                              }else{
                                  $paginate.= "<li><a href=\"?page=$counter\"  >$counter</a></li>";}                    
                          }
                      }
                  }
                  // NEXT BUTTON
                  if ($photos->current < $counter - 1){
                      $paginate.= "<li><a  href=\"?page=$next\" >»</a></li>";
                  }else{
                      $paginate.= "<li><span class=\"disabled\">»</span></li>";
                      }
                  $paginate.= "</ul>";   

                  echo $paginate;
                ?>
            </div>
        </div>




    <hr>
      </div>
      <!-- end col-md-9 -->




    </div><!-- end body wrapper row -->
  </div><!-- end body wrapper container -->
</div><!-- end body wrapper -->


<?php echo $this->tag->javascriptInclude("themes3/themes/noty/jquery.noty.js"); ?>
<?php echo $this->tag->javascriptInclude("themes3/themes/noty/layouts/center.js"); ?>
<?php echo $this->tag->javascriptInclude("themes3/themes/noty/themes/default.js"); ?>

<script type="text/javascript">           


$(function(){

    $(".gallery-item-remove").on("click",function(){
        var idelem      =   $(this).attr('id');
        var data        =   $(this).attr('data');
        notyDelete(data, idelem);

        return false;
    });

    $(".gallery-item-add").on("click",function(){
        var idelem      =   $(this).attr('id');
        var data        =   $(this).attr('data');
        notyDelete(data, idelem);

        return false;
    });

});



    function notyDelete(id, type){

        console.log('record : '+ type );
        noty({
            text: 'Do you want to Delete This Image ?',
            layout: 'center',
            buttons: [
                    {addClass: 'btn btn-primary btn-clean', text: 'Delete', onClick: function($noty) {
                        $noty.close();
                       
                        $.ajax({
                            url: "<?php echo $this->url->getBaseUri().'member/galleryuDel' ?>",
                            dataType: 'json',
                            data:{ids: id, codenae: type},

                            beforeSend: function () {
                                $before = noty({text: 'deleting ...' , layout: 'center', type: 'success' });
                                console.log('loading...');
                            },
                            success: function(response){
                                 $before.close();
                                var message = response.message;
                                var types = 'error';
                                if(response.type == 'ok'){
                                    types = 'success';
                                }

                                $succ = noty({text: message , layout: 'center', type: types });
                          
                                       $('#'+type).parents(".gallery-item").fadeOut(1000,function(){
                                            $(this).remove();
                                            $succ.close();
                                        });
                               
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                noty({text: 'Error Deleting this Image, this error will be send to administrator', layout: 'center', type: 'error'});

                            },
                            complete: function () {

                               console.log('Complete!!!');
                            }

                        });
                    }
                    },
                    {addClass: 'btn btn-default btn-clean', text: 'Cancel', onClick: function($noty) {
                        $noty.close();
                        $('#'+name+'_'+id).fadeIn().show();
                        $('#'+name+'_'+id).attr("disabled", false);
                       // noty({text: 'You clicked "Cancel" button', layout: 'topCenter', type: 'error'});
                        }
                    }
                ]
        });             
                                      
    }


</script>

