<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<style>
  
#social-login-forms.horizontal{
  position:relative;
  list-style:none;
  margin:0px 0 0 0;
  padding:0px 0 0 0;
/*  border-top:1px solid #ccc*/
}

#social-login-forms.horizontal:before{

  position:absolute;
  top:0;
  left:50%;
  margin:-11px 0 0 -7px;
  padding:0 3px;
  background-color:#fff;
  font-weight:bold
}

#social-login-forms.horizontal li{
  float:left;
  margin-right:15px
}

#social-login-forms.horizontal li:last-child{
  margin-right:0
}

#social-login-forms.horizontal button{
  position:relative;
  margin:0;
  padding-left:40px;
  width:123px;
  height:46px;
  text-align:left
}

#social-login-forms.horizontal button:before{
  content:'';
  position:absolute;
  top:10px;
  left:10px;
  display:inline-block;
  margin-right:10px;
  width:24px;
  height:24px;
  background-size:24px
}

#social-login-forms.horizontal button.google-button:before{
  background-image:url('https://d3oaxc4q5k2d6q.cloudfront.net/m/b58a07d70ae0/img/icons/svg/google.svg?96adc01ccb9f')
}

#social-login-forms.horizontal button.facebook-button:before{
  background-image:url('https://d3oaxc4q5k2d6q.cloudfront.net/m/b58a07d70ae0/img/icons/svg/facebook.svg?a2a431424720')
}

#social-login-forms.horizontal button.twitter-button:before{
  background-image:url('https://d3oaxc4q5k2d6q.cloudfront.net/m/b58a07d70ae0/img/icons/svg/twitter.svg?27ea0e52dab8')
}

#social-login-forms.horizontal button.github-button:before{
  background-image:url('https://d3oaxc4q5k2d6q.cloudfront.net/m/b58a07d70ae0/img/icons/svg/github.svg?ac848048c5e3')
}

.login-box.reset header+p{
  margin-top:-12px
}



</style>



<div class="container">
<?php
  if ($this->session->has('confirmedEmail')) {
    echo "<script>alertify.success('".$this->session->get('confirmedEmail')."')</script>";
    $this->session->remove('confirmedEmail');
  }
 //echo "<script>alertify.alert('tsetest')</script>";
?>
  <div class="row">
    
    <div class="col-md-8 col-md-offset-2">
  
      <div class="panel panel-default" style="margin-top:110px;">

        <div class="panel-heading">
          <h4 class="modal-title" id="myModalLabel">MyBarangay Login page.</h4>
        </div>


        <div class="panel-body">
           <div class="row">
              <div class="col-xs-12 col-md-5">
                <div class="well">
               
              <?php echo Phalcon\Tag::form(array("member/login", "method" => "post", "id" => "loginForm")); ?>

                    <div class="form-group"  style="margin-bottom:25px">   
                    <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input type="text" class="form-control" id="email" name="email" value="<?php echo $email; ?>" required=""  placeholder="Email Address">
                    </div> 
                    </div>


                    <div class="form-group" >                
                    <div class="input-group" >
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="password" class="form-control" id="password" name="password" value="" required="" title="Please enter your password" placeholder="Password">   
                    <span class="help-block"></span>
                    </div>
                    </div>


                <?php 
                $error = '';
                //Check if the variable is defined
                if ($this->session->has("errorMessasge")) {
                    
                    $error = $this->session->get("errorMessasge");
                    ?>
                    <div class="col-lg-12 text-center">
                    <div id="loginErrorMsg" class="text-primary">Wrong username or password</div>
                    </div>
                  <?php
                    $this->session->remove("errorMessasge"); 
                  } 

                ?>




                   

                    <div class="form-group" style="padding-top:10px">
                      <div class="col-lg-12 text-center">
                        <small><a href="<?php echo $this->url->getBaseUri() . 'member/forgotPassword'; ?>" id="forgotPassword" class="text-info" style="text-decoration:underline">Forgot password</a></small>
                        <br><br>
                      </div>
                    </div>


                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                    <!-- <a href="/forgot/" class="btn btn-default btn-sm">Help to login</a> -->
                  <?php echo Phalcon\Tag::endForm(); ?>
              </div>
             </div>
            <div class="col-xs-12 col-md-7">
                <p class="lead">Be part of MyBarangay <span class="text-success">Register now</span> </p>
                <ul class="list-unstyled" style="line-height: 2">


<li>Be part of a global Filipino community that shares, supports and empowers its members. Let us show our children and the world the resilience, will and beauty of the Filipino. </li>
<li>Together we can. Isang mundo. Isang wika. Isang barangay.</li>

<!--                     <li><span class="fa fa-check text-success"></span> See all your orders</li>
                    <li><span class="fa fa-check text-success"></span> Fast re-order</li>
                    <li><span class="fa fa-check text-success"></span> Save your favorites</li>
                    <li><span class="fa fa-check text-success"></span> Fast checkout</li>
                    <li><span class="fa fa-check text-success"></span> Get a gift <small>(only new customers)</small></li> -->
                    <!-- <li><a href="/read-more/"><u>Read more</u></a></li> -->
                </ul>
                <p>

                <?= $this->tag->linkTo(array('member/signup', 'Yes please, register now!', 'class' => 'btn btn-success')) ?>

                </p>
            </div>
    </div>
  </div>

  <div class="panel-footer">
    
      <ul id="social-login-forms" class="clearfix horizontal">
            
        <!--<li>

          <form class="connect-button" >
            <button type="button" class="aui-button google-button disabled " >
              Google
            </button>
          </form>
        </li>-->
        <li>
        <form class="connect-button">
        <a href="https://mybarangay.com/fbConnect" class="btn btn-block btn-social btn-md btn-facebook" ><i class="fa fa-facebook"></i>Sign in with Facebook</a>
        </form>
        </li>
        <li>

<!--       <form class="connect-button" name="login" data-modules="registration/connect-account-button" method="POST" action="">
        <input name="csrfmiddlewaretoken" value="XL2LNFzXDHyNdXG75212emgvAiQCXHN1" type="hidden">
        <input name="next" value="/account/team_check/?next=/" type="hidden">
        <button type="submit" class="aui-button twitter-button">
          Twitter
        </button>
      </form>
      </li>
        <li>

      <form class="connect-button" name="login" data-modules="registration/connect-account-button" method="POST" action="">
        <input name="csrfmiddlewaretoken" value="XL2LNFzXDHyNdXG75212emgvAiQCXHN1" type="hidden">
        <input name="next" value="/account/team_check/?next=/" type="hidden">
        <button type="submit" class="aui-button github-button">
          GitHub
        </button>
      </form> -->

      <!-- <a href="https://mybarangay.com/fbConnect" class="btn btn-block btn-social btn-md btn-facebook" ><i class="fa fa-facebook"></i>Sign in with Facebook</a> -->

      </li>
      </ul>

        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function() {


   $('#loginForm').bootstrapValidator({

          message: 'This value is not valid',
          feedbackIcons: {
              valid: 'glyphicon glyphicon-ok',
              invalid: 'glyphicon glyphicon-remove',
              validating: 'glyphicon glyphicon-refresh'
          },
          fields: {
              email: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      },
                      emailAddress: {
                          message: 'not a valid email address'
                      }
                  }
              },
              password: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              }
          
            }
        });

});


</script>



    <!-- default footer -->
    <?=$this->partial('partials/footer'); ?>
