<?php echo $this->tag->stylesheetLink('themes3/css/list-type.css'); ?>
<?php echo $this->tag->stylesheetLink("themes3/css/member.css"); ?>



<style type="text/css">
       

/* PAGINATION */
.pagination {
  width: 100%;
  margin: 10px 0px;
  padding-bottom:10px;
}
.pagination > li > a,
.pagination > li > span {
  margin-left: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #656d78;
  border-color: #E5E5E5;
}
.pagination > li > a:hover,
.pagination > li > span:hover {
  color: #fff;
}
.pagination > li.active > a,
.pagination > li.active > a:hover {
    color: #FFF;
/*  background: #33414e;
  color: #FFF;
  border-color: #33414e;*/
}
.pagination.pagination-sm {
  margin: 0px;
  width: auto;
}
.pagination.pagination-sm.push-down-20 {
  margin-bottom: 20px;
}
.pagination.pagination-sm.push-up-20 {
  margin-top: 20px;
}


.lef-img img{
height: 200px;
box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.1);
cursor: pointer;
position: relative;
overflow: hidden;
float: left;

}
.object-fit_cover {
    object-fit: cover;
}



/* END PAGINATION */
</style>
<div class="body-wrapper" style="margin-top:110px;"> <!-- start body wrapper -->
    <div class="container" > <!-- start body wrapper container -->
        <div class="row" > <!-- start body wrapper row -->

            <div style="margin-bottom:20px;"><!-- page wrapper body -->
  
                <div class="col-md-12 "  >
                    <div class="col-md-12 col-xs-12"  >
                        <ul class="breadcrumb pull-left" style="padding:5px 0px; margin:0px">
                            <li><i class="fa fa-home"></i> MyBarangay</li>
                            <li class="active">Profile</li>
                        </ul>
                    </div>
                </div>


                <!-- start left panel -->
                <div class="col-md-3 col-xs-12 " style="z-index:1">
                    <?php echo $this->partial("partials/member_profile"); ?>


        <div class="panel panel-default"><!-- start panel Events -->

           <span class="list-title text-center" style="padding-top:3px;padding-bottom:3px;" > Events</span>



            <div class="panel-body"><!-- panel body -->

            <?php 

                    $event = Events::find([
                        'conditions'    => 'member_id = :memid:',
                        'bind'         => array('memid' => $ids),
                        'order'         => 'id desc',
                        'limit'         => 4
                        ]);
                     if ($event) {

                     foreach ($event as $events) {
                          # code...
                     ?>

                    <div class="media" style="border-bottom:1px solid #ddd;">
                        <div class="pull-left " style="margin-bottom:5px;">
                        <div class="round" style="width:50px;height:50px;">
                            <?php
                                $eventPhoto = 'https://placehold.it/50x50&text=no+photo';
                                $rPhotoCount = count($events->EventPhotos);
                                if ($rPhotoCount > 0) {
                                    $eventPhoto = $events->eventphotos[0]->file_path.$events->eventphotos[0]->filename;
                                }
                                echo Phalcon\Tag::image([$eventPhoto, 'class' => 'img-responsive', 'style'=> 'width: 50px; height: 50px;']);
                            ?>
                        </div>
                        </div>

                        <div class="media-body">
                            <span class="media-heading">
                                <a href="<?php echo $this->url->getBaseUri() . 'event/view2/'. $events->id;?>" class="" style="color: #333; font-weight: bold;">
                                    <?php
                                        $string = strip_tags($events->name);
                                        if (strlen($string) > 45) {
                                        $stringCut = substr($string, 0, 40);
                                            $string = substr($stringCut, 0, strrpos($stringCut, ' ')).'...'; 
                                        }
                                        echo $string;
                                    ?>
                                </a>
                            </span>
                            <p><small class="">
                                <?php
                                    $datess = ''; 
                                    $ccx = count($events->EventDatetimes);
                                    if ($ccx > 0) {
                                        $datess = $events->EventDatetimes[0]->date; 
                                    }
                                    echo date('M d, Y ', strtotime($datess));
                                ?>
                                </small>
                            </p>
                        </div>
                    </div>
            <?php }  }else{

                echo '<h3>Posting Event?</h3>';
                } ?>
          </div><!-- panel body -->
          <div class="panel-footer text-center ">
              <?php echo '<a  class="btn btn-primary btn-xs text-center " href="'.$this->url->getBaseUri().'real_estate/new">Create Event</a>'; ?>
          </div>
        </div><!-- end panel events -->
    <!-- ******************* end Events *********************** -->











                </div>
                <!-- end left panel -->


                <!-- start col-md-6 -->
                <div class="col-md-6 col-sm-12 boxiy" style="min-height:500px;"> 


                    <?php if(count($reviews->items) > 0) { ?>
                    <!-- ********************************************* -->
                        <?php
                        foreach ($reviews->items as $review) {
                            $reviewsCount = count(Reviews::find('business_id = "'.$review->business_id.'" '));
                            $business = Business::findFirst($review->business_id);
                            $businessCategoryLists = BusinessCategoryLists::find($review->business_id);
                            $catname = '';
                        ?>

                        <div class="timeline-item-content">
                            <div class="timeline-heading padding-bottom-0">
                            <!-- <img src="assets/images/users/user2.jpg">  -->
                            <!--<a href="#">John Doe</a> posted article <a href="#">How to...?</a> -->
                            </div> 

                            <div class="timeline-body">                                                                                        
                            <!-- <img src="assets/images/gallery/nature-6.jpg" class="img-text" width="150" align="left"> --> 

                                <?php 
                                    $img = 'http://placehold.it/150x150&text=Image';
                                    foreach ($review->Business->BusinessImages as $bizImage) {
                                        $img = $bizImage->file_path.$bizImage->filename;
                                    }
                                    echo Phalcon\Tag::image(array($img, 'class' => 'img-text',  'width' => '150',  'align' => 'left'));
                                ?>
                                <!-- 
                                <div class="fbphotobox">
                                <a><img class="photo" id="photo1" fbphotobox-src="<?php //echo $this->url->getBaseUri().$img; ?>" alt="Dummmy Image<br>Very Coool!" src="<?php //echo $this->url->getBaseUri().$img ?>"/></a>
                                </div>
                                -->
                                <?php if($seschecker){ ?> 
                                    <a href="<?php echo $this->url->getBaseUri().'review/updateu/'.$review->Business->id.'/'.$review->id; ?>">
                                        <i class="fa fa-edit"></i> Edit
                                    </a>
                                <?php } ?>

                                <h4 class="bold"><?php echo Phalcon\Tag::linkTo('business/view2/'.$review->Business->id.'/'.str_replace(' ', '+', $review->Business->name), $review->Business->name); ?></h4>
                                <div class="rate-small-cnt" style="border:none;width:auto">
                                    <div id="1" class="rate-btn-1 rate-btn-nonhover <?php echo ($review->rate >= 1) ? 'rate-btn-active' : '' ;  ?>"></div>
                                    <div id="2" class="rate-btn-2 rate-btn-nonhover <?php echo ($review->rate >= 2) ? 'rate-btn-active' : '' ;  ?>"></div>
                                    <div id="3" class="rate-btn-3 rate-btn-nonhover <?php echo ($review->rate >= 3) ? 'rate-btn-active' : '' ;  ?>"></div>
                                    <div id="4" class="rate-btn-4 rate-btn-nonhover <?php echo ($review->rate >= 4) ? 'rate-btn-active' : '' ;  ?>"></div>
                                    <div id="5" class="rate-btn-5 rate-btn-nonhover <?php echo ($review->rate >= 5) ? 'rate-btn-active' : '' ;  ?>"></div>
                                </div>

                                <small>
                                    <span class="fa fa-map-marker"></span> 
                                    <?php echo $review->Business->street; ?>,
                                    <?php echo $review->Business->city; ?>, 
                                    <?php echo $review->Business->country_code_id; ?>
                                </small>

                                <p > <?php echo $review->content; ?></p> 

                                <ul class="list-tags push-up-10">         
                                    <?php 
                                    foreach ($businessCategoryLists as $buslist) {
                                        $bussCat = BusinessCategories::findFirst($buslist->business_category_id);
                                        $catname .= '<li><a href="#" ><i class="fa fa-asterisk"></i> ';
                                        $catname .= ($bussCat->main_title != '') ? $bussCat->main_title : '' ;
                                        $catname .= ($bussCat->title != '') ? ' <i class="fa fa-caret-right"></i> '.$bussCat->title : '' ;
                                        $catname .= ($bussCat->sub_title != '') ? ' <i class="fa fa-caret-right"></i> '.$bussCat->sub_title : '' ;
                                        $catname .= '</a></li>' ;
                                        echo $catname;
                                    } ?>
                                </ul>

                            </div>   

                            <div class="timeline-footer">
                                <small><span class="fa fa-clock-o"></span> <?php echo date('M d, Y h:i A', strtotime($review->modified)); ?></small>
                                <div class="pull-right">
                                    <a href="#"><span class="fa fa-comments"></span> <?=$reviewsCount?></a> 
                                    <!-- <a href="#"><span class="fa fa-eye"></span> 1,432</a> -->
                                </div>
                            </div>
                        </div>
                    <?php } ?>
                    <!-- ********************************************* -->

                    <?php }else{ ?>
                            <?php if($seschecker){ ?>
                            <p class="text-center" style="padding-top:40px"><i class="fa fa-user"></i> You Haven't created any reviews yet. Why not write some?<br> Come on Write a review </p>
                            <div class="text-center"><button class="btn btn-primary ">Write a review</button></div>
                            <?php } else {?>
                            <p class="text-center" style="padding-top:40px"><i class="fa fa-user"></i> No reviews yet.</p>
                            <?php } ?>
                    <?php } ?>


                    <!-- ********************************************* -->
                    <!-- row -->
                    <div class="row"><!-- start col-md-9 row[2] -->
                        <div class="col-md-12">
                        <?php
                            $prev = $reviews->current - 1;  
                            $next = $reviews->current + 1;       
                            $stages = 3;

                            $LastPagem1 = $reviews->total_pages - 1;
                            $paginate = '';

                                $paginate .= "<ul class=\"pagination pagination-sm pull-right\">";
                                  // PREVIOUS BUTTON
                                  if ($reviews->current > 1){
                                      $paginate.= "<li><a   href=\"?page=$prev\"   aria-label=\"Previous\">&laquo;</a></li>";
                                  }else{
                                      $paginate.= "<li class=\"disabled\"><a href=\"#\" aria-label=\"Previous\"><span aria-hidden=\"true\">&laquo;</span></a></li>";   }
                                  // START PAGES
                                  if ($reviews->total_pages < 7 + ($stages * 2))  // Not enough pages to breaking it up
                                  {   
                                      for ($counter = 1; $counter <= $reviews->total_pages; $counter++)
                                      {
                                          if ($counter == $reviews->current){
                                              $paginate.= "<li class=\"active\"><a  href=\"?page=$reviews->current\"  >$counter</a></li>";
                                          }else{
                                              $paginate.= "<li><a  href=\"?page=$counter\"  >$counter</a></li>";
                                          }                    
                                      }
                                  }
                              elseif($reviews->total_pages > 5 + ($stages * 2))   // pag few page na HIDE
                                  {
                                      // START only hide later pages
                                      if($reviews->current < 1 + ($stages * 2))       
                                      {
                                          for ($counter = 1; $counter < 4 + ($stages * 2); $counter++)
                                          {
                                              if ($counter == $reviews->current){
                                                  $paginate.= "<li class=\"active\"><span class=\"current\">$counter</span></li>";
                                              }else{
                                                  $paginate.= "<li><a href=\"?page=$counter\"  >$counter</a></li>";}                    
                                          }
                                          $paginate.= "<li><a href=\"\">...</a></li>";
                                          $paginate.= "<li><a href=\"?page=$LastPagem1\"  >$LastPagem1</a></li>";
                                          $paginate.= "<li><a href=\"?page=$reviews->total_pages\"  >$reviews->total_pages</a></li>";       
                                      }
                                      //MIDDLE HIDE  hide ung front and back
                                      elseif($reviews->total_pages - ($stages * 2) > $reviews->current && $reviews->current > ($stages * 2))
                                      {
                                          $paginate.= "<li><a href='javascript:void(0);' OnClick='$x(1)' >1</a></li>";
                                          $paginate.= "<li><a href='javascript:void(0);' OnClick='$x(2)' >2</a></li>";
                                          $paginate.= "<li><a href=\"#\">...</a></li>";
                                          for ($counter = $reviews->current - $stages; $counter <= $reviews->current + $stages; $counter++)
                                          {
                                              if ($counter == $reviews->current){
                                                  $paginate.= "<li class=\"active\"><span class=\"current\">$counter</span></li>";
                                              }else{
                                                  $paginate.= "<li><a href=\"?page=$counter\"  >$counter</a></li>";}                    
                                          }
                                          $paginate.= "<li><a href=\"#\">...</a></li>";
                                          $paginate.= "<li><a href=\"?page=$LastPagem1\"  >$LastPagem1</a></li>";
                                          $paginate.= "<li><a href=\"?page=$reviews->total_pages\"  >$reviews->total_pages</a></li>";       
                                      }
                                      // Hide ung mga early pages
                                      else
                                      {
                                          $paginate.= "<li><a href=\"?page=1\" >1</a></li>";
                                          $paginate.= "<li><a href=\"?page=2\" >2</a></li>";
                                          $paginate.= "<li><a href=\"#\">...</a></li>";
                                          for ($counter = $reviews->total_pages - (2 + ($stages * 2)); $counter <= $reviews->total_pages; $counter++)
                                          {
                                              if ($counter == $reviews->current){
                                                  $paginate.= "<li class=\"active\"><span class=\"current\">$counter</span></li>";
                                              }else{
                                                  $paginate.= "<li><a href=\"?page=$counter\"  >$counter</a></li>";}                    
                                          }
                                      }
                                  }
                                  // NEXT BUTTON
                                  if ($reviews->current < $counter - 1){
                                      $paginate.= "<li><a  href=\"?page=$next\" >»</a></li>";
                                  }else{
                                      $paginate.= "<li><span class=\"disabled\">»</span></li>";
                                      }
                                  $paginate.= "</ul>";   

                                  echo $paginate;
                                ?>
                            </div>
                        </div>
                        <!-- ********************************************* -->
                </div>
                <!-- end col-md-6 -->


                <!-- start right panel -->
                <div class="col-md-3 "  >


        <div class="panel panel-default"><!-- start panel classifieds -->
      
          
          <span class="list-title text-center" style="padding-top:3px;padding-bottom:3px;" >Classifieds</span>


            <div class="panel-body">
            <?php 
    
                    $auto = Automotives::findFirst([
                        'conditions'    => 'member_id = :memid:',
                        'bind'         => array('memid' => $ids),
                        'order'         => 'id desc',
                        ]);
                     if ($auto) { ?>

                        <div class="media" style="border-bottom:1px solid #ddd;">
                            <div class="pull-left" style="margin-bottom:5px;">
                            <div class="round" style="width:50px;height:50px;">
                                <?php
                                    $autoPhoto = 'https://placehold.it/50X50/bbb/fff';
                                    $rPhotoCount = count($auto->automotivephotos);
                                    if ($rPhotoCount > 0) {
                                        $autoPhoto = $auto->automotivephotos[0]->file_path.$auto->automotivephotos[0]->filename;
                                    }
                                    echo Phalcon\Tag::image([$autoPhoto, 'class' => 'img-responsive', 'style'=>'width: 50px; height: 50px;']);
                                ?>
                            </div>
                            </div>

                            <div class="media-body"><!-- start of media body -->
                                <div class="media-heading" >
                                    <a href="<?php echo $this->url->getBaseUri() . 'car_and_truck/view2/'. $auto->id;?>" style="color: #333; font-weight: bold;">
                                        <?php
                                            $auton = strip_tags($auto->name);
                                            if (strlen($auton) > 25) {
                                            $stringCut = substr($auton, 0, 25);
                                                $auton = substr($stringCut, 0, strrpos($stringCut, ' ')).'...'; 
                                            }
                                            echo $auton;
                                        ?>
                                    </a>
                                </div>
                                <p><small class=""><?php echo date('M d, Y ', strtotime($auto->created)); ?></small></p>
                            </div><!-- end of media body -->
                        </div>
            <?php 
                }else{
                        echo '<div class="media" style="border-bottom:1px solid #ddd;">';
                        echo '<h4>Empty Cars and Trucks</h4> <a  class="btn btn-primary btn-xs " href="'.$this->url->getBaseUri().'car_and_truck/new">Post your Ad now.</a>';
                        echo '</div>';
                }
            ?>
            <?php


                    $thing = Things::findFirst([
                        'conditions'    => 'member_id = :memid:',
                        'bind'         => array('memid' => $ids),
                        'order'         => 'id desc',
                        ]);

                    if ($thing) { ?>

                        <div class="media" style="border-bottom:1px solid #ddd;">

                            <div class="pull-left" style="margin-bottom:5px;">
                            <div class="round" style="width:50px;height:50px;">
                                <?php
                                    $autoPhoto = 'https://placehold.it/50X50/bbb/fff';
                                    $rPhotoCount = count($thing->thingphotos);
                                    if ($rPhotoCount > 0) {
                                        $autoPhoto = $thing->thingphotos[0]->file_path.$thing->thingphotos[0]->filename;
                                    }
                                    echo Phalcon\Tag::image([$autoPhoto, 'class' => 'img-responsive', 'style'=>'width: 50px; height: 50px;']);
                                ?>
                                </div>
                            </div>

                            <div class="media-body"><!-- start of media body -->
                                <div class="media-heading" >
                                    <a href="<?php echo $this->url->getBaseUri() . 'thing/view2/'. $thing->id;?>" style="color: #333; font-weight: bold;">
                                    <?php
                                        $thingn = strip_tags($thing->name);
                                        if (strlen($thingn) > 25) {
                                            $stringCut = substr($thingn, 0, 25);
                                            $thingn = substr($stringCut, 0, strrpos($stringCut, ' ')).'...'; 
                                        }
                                        echo $thingn;
                                    ?>
                                    </a>
                                </div>
                                <p><small class=""><?php echo date('M d, Y ', strtotime($thing->created)); ?></small></p>
                            </div><!-- end of media body -->
                        </div>
            <?php 
                }else{
                        echo '<div class="media" style="border-bottom:1px solid #ddd;">';
                        echo '<h4>Empty Things</h4> <a  class="btn btn-primary btn-xs " href="'.$this->url->getBaseUri().'thing/new">Post your Ad now.</a>';
                        echo '</div>';

                }
            ?>
            <?php

                    $job = Jobs::findFirst([
                        'conditions'    => 'member_id = :memid:',
                        'bind'         => array('memid' => $ids),
                        'order'         => 'id desc',
                        ]);

                    if ($job) { ?>

                        <div class="media" style="border-bottom:1px solid #ddd;">
                            <div class="pull-left" style="margin-bottom:5px;">
                            <div class="round" style="width:50px;height:50px;">
                                <?php
                                    $autoPhoto = 'https://placehold.it/50X50/bbb/fff';
                                    $rPhotoCount = count($job->joblogos);
                                    if ($rPhotoCount > 0) {
                                        $autoPhoto = $job->joblogos[0]->file_path.$job->joblogos[0]->filename;
                                    }
                                    echo Phalcon\Tag::image([$autoPhoto, 'class' => 'img-responsive', 'style'=>'width: 50px; height: 50px;']);
                                ?>
                                </div>
                            </div>

                            <div class="media-body"><!-- start of media body -->
                                <div class="media-heading" >
                                    <a href="<?php echo $this->url->getBaseUri() . 'job/view2/'. $job->id;?>" style="color: #333; font-weight: bold;">
                                        <?php
                                            $jobn = strip_tags($job->position);
                                            if (strlen($jobn) > 25) {
                                            $stringCut = substr($jobn, 0, 25);
                                                $jobn = substr($stringCut, 0, strrpos($stringCut, ' ')).'...'; 
                                            }
                                            echo $jobn;
                                        ?>
                                    </a>
                                </div>
                                <p><small class=""><?php echo date('M d, Y ', strtotime($job->created)); ?></small></p>

                            </div><!-- end of media body -->
                        </div>
            <?php 
                }else{
                        echo '<div class="media" style="border-bottom:1px solid #ddd;">';
                        echo '<h4>Empty Job</h4> <a  class="btn btn-primary btn-xs " href="'.$this->url->getBaseUri().'job/new">Post job Ad now.</a>';
                        echo '</div>';
                }
            ?>
            <?php
     

                    $realty = Realties::findFirst([
                        'conditions'    => 'member_id = :memid:',
                        'bind'         => array('memid' => $ids),
                        'order'         => 'id desc',
                        ]);
                    if ($realty) {?>
                        <div class="media" style="border-bottom:1px solid #ddd;">

                            <div class="pull-left" style="margin-bottom:5px;">
                            <div class="round" style="width:50px;height:50px;">
                                <?php
                                    $autoPhoto = 'https://placehold.it/50X50/bbb/fff';
                                    $rPhotoCount = count($realty->realtyphotos);
                                    if ($rPhotoCount > 0) {
                                        $autoPhoto = $realty->realtyphotos[0]->file_path.$realty->realtyphotos[0]->filename;
                                    }
                                    echo Phalcon\Tag::image([$autoPhoto, 'class' => 'img-responsive', 'style'=>'width: 50px; height: 50px;']);
                                ?>
                                </div>
                            </div>

                            <div class="media-body"><!-- start of media body -->
                                <span class="media-heading" >
                                    <a href="<?php echo $this->url->getBaseUri() . 'real_estate/view2/'. $realty->id;?>" style="color: #333; font-weight: bold;">
                                        <?php
                                            $realtyn = strip_tags($realty->name);
                                            if (strlen($realtyn) > 25) {
                                            $stringCut = substr($realtyn, 0, 25);
                                                $realtyn = substr($stringCut, 0, strrpos($stringCut, ' ')).'...'; 
                                            }
                                            echo $realtyn;
                                        ?>
                                    </a>
                                </span>
                                <p><small class=""><?php echo date('M d, Y ', strtotime($realty->created)); ?></small></p>


                            </div><!-- end of media body -->
                        </div>
            <?php 
                }else{
                    echo '<div class="media" style="border-bottom:1px solid #ddd;">';
                        echo '<h4>Empty Real Esate</h4> <a  class="btn btn-primary btn-xs " href="'.$this->url->getBaseUri().'real_estate/new">Post your Ad now.</a>';
                    echo '</div>';
                }
            ?>
          </div>
        </div><!-- end panel classifieds -->




        <div class="panel panel-default"><!-- start panel Events -->

           <span class="list-title text-center" style="padding-top:3px;padding-bottom:3px;" >What's Up</span>



            <div class="panel-body"><!-- panel body -->

            <?php 

                    $topics = WhatsupTopics::find([
                        'conditions'    => 'member_id = :memid:',
                        'bind'         => array('memid' => $ids),
                        'order'         => 'id desc',
                        'limit'         => 4
                        ]);

                if($topics) { 
                    foreach ($topics as  $topic) {
                    ?>
                    <div class="media" style="border-bottom:1px solid #ddd;">

                        <div class="media-body">
                            <span class="media-heading">
                                <a href="<?php echo $this->url->getBaseUri() .'';?>" class="" style="color: #333; font-weight: bold;">
                                    <?php

                                     $string = $topic->subject;    
                                    if(strlen($string) <= 20){
                                        echo $string;   
                                    }else{
                                           // is $break present between $limit and the end of the string?    
                                        if(false !== ($breakpoint = strpos($string, '...', 20))) {  
                                            if($breakpoint < strlen($string) - 1) {   
                                                $string = substr($string, 0, $breakpoint) . '.';   
                                            }   
                                        }  
                                        echo $string;
                                    }

                                    ?>
                                </a>
                            </span>
                            <p><small class="">
                                <?php
                                    echo date('M d, Y ', strtotime($topic->created_at));
                                ?>
                                </small>
                            </p>
                        </div>
                    </div>
            <?php 
     
            }

                }else{
                        echo '<h4>Do you want to ask or share something with your kabarangays?';
                }

            ?>
          </div><!-- panel body -->
          <div class="panel-footer text-center ">
              <?php echo '<a  class="btn btn-primary btn-xs text-center " href="'.$this->url->getBaseUri().'real_estate/new">Create your topic</a>'; ?>
          </div>
        </div><!-- end panel events -->












      </div>
    <!-- ******************* end Classifieds *********************** -->




              </div><!-- end right panel -->
        </div><!-- end body wrapper row -->
    </div><!-- end body wrapper container -->
</div><!-- end body wrapper -->

