
<div class="body-wrapper" style="margin-top:110px;"> <!-- start body wrapper -->
  <div class="container"  style=" background:#fff"> <!-- start body wrapper container-fluid -->
    <div class="row" > <!-- start body wrapper row -->

  <div style="margin-bottom:20px;"><!-- page wrapper body -->
  
   <!-- start left panel -->
   <div class="col-md-3" style="">
   
   </div>
   <!-- end left panel -->


      <div class="col-md-6" > <!-- start col-md-6 -->
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h4 class="head-title" style="color: white; font-family: Berlin;">Change password</h4>
		</div>
		<div class="panel-body">
			<?php  echo Phalcon\Tag::form(array($referer, 'method' => 'post', 'id' =>'resetPasswordForm')); ?>
			  <fieldset>
				<div class="form-group">
					<input name="new_password" type="password" class="form-control" id="inputEmail" placeholder="New password">
				</div>
				<div class="form-group">
					<input name="confirm_password" type="password" class="form-control" id="inputConfirmEmail" placeholder="Confirm password">
				</div>					
				<div class="form-group">
				  <div class="col-lg-12 text-center">
					<button type="button" class="btn btn-info cancel">Cancel</button>
					<button type="submit" class="btn btn-primary">Submit</button>
				  </div>
				</div>
			  </fieldset>
			<?php  echo Phalcon\Tag::endForm(); ?>
		</div>
	</div>
      </div> <!-- end col-md-6 -->


   <!-- start right panel -->
      <div class="col-md-3" >

   </div>
   <!-- end right panel -->

  </div><!-- end page wrapper body -->

 </div><!-- end body wrapper row -->
  </div><!-- end body wrapper container-fluid -->
</div><!-- end body wrapper -->
