<?php echo $this->tag->stylesheetLink("css/dropzone.css"); ?>
<?php echo $this->tag->stylesheetLink("css/blueimp-remote.css"); ?>
<?php echo $this->tag->stylesheetLink("css/blueimp-img-gallery.css"); ?>
<?php echo $this->tag->javascriptInclude("js/dropzone.js"); ?>

<div class="body-wrapper" style="margin-top:110px;"> <!-- start body wrapper -->
  <div class="container"  style=" background:#fff"> <!-- start body wrapper container-fluid -->
    <div class="row" > <!-- start body wrapper row -->

  <div style="margin-bottom:20px;"><!-- page wrapper body -->
  
   <!-- start left panel -->
   <div class="col-md-3" style="">
    <?php if(isset($userSession['id'])) { $memberId = $userSession['id']; } else { $memberId = ''; } ?>
    <?php if($memberId == $member->id) { ?>
    <?php $this->partial("layouts/elements/profile_widget") ?>
    <?php } ?>
    <?php if($memberId != $member->id) { ?>
    <?php $this->partial("layouts/elements/member_widget") ?>
    <?php } ?>
   </div>
   <!-- end left panel -->


      <div class="col-md-6" > <!-- start col-md-6 -->
	<br>
	<a href="<?= $this->url->getBaseUri() . 'member/gallery/'. $memberId;?>">
	<button type="button" class="btn btn-primary btn-md">
	  <span class="glyphicon glyphicon-image" aria-hidden="true"></span> Go to your Gallery
	</button>
	</a>
	<br><br>
<?php  echo Phalcon\Tag::form(array("member/upload_image/", "method" => "post", "enctype"=>"multipart/form-data", "id" => "dropzone" , "class" => "dropzone", "action" => $this->url->getBaseUri(). 'member/upload_image')); ?>
	</form>
      </div> <!-- end col-md-6 -->


   <!-- start right panel -->
      <div class="col-md-3" >
			<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
		<div id="blueimp-gallery" class="blueimp-gallery">
		    <!-- The container for the modal slides -->
		    <div class="slides"></div>
		    <!-- Controls for the borderless lightbox -->
		    <h3 class="title"></h3>
		    <a class="prev">‹</a>
		    <a class="next">›</a>
		    <a class="close">×</a>
		    <a class="play-pause"></a>
		    <ol class="indicator"></ol>
		    <!-- The modal dialog, which will be used to wrap the lightbox content -->
		    <div class="modal fade">
			<div class="modal-dialog">
			    <div class="modal-content">
				<div class="modal-header">
				    <button type="button" class="close" aria-hidden="true">&times;</button>
				    <h4 class="modal-title"></h4>
				</div>
				<div class="modal-body next"></div>
				<div class="modal-footer">
				    <button type="button" class="btn btn-default pull-left prev">
				        <i class="glyphicon glyphicon-chevron-left"></i>
				        Previous
				    </button>
				    <button type="button" class="btn btn-primary next">
				        Next
				        <i class="glyphicon glyphicon-chevron-right"></i>
				    </button>
				</div>
			    </div>
			</div>
		    </div>
		</div>
		<br>
		<div class="panel panel-primary">
		  <div class="panel-heading"><span style="font-weight:bold;font-family:Berlin;"><span class="glyphicon glyphicon-picture"></span> <span style="font-family: Arial; ">Your Recent Image(s)</span> </span></div>
		  <div class="panel-body" style="padding-left: 23px;">
		    <div id="links">
			<?php foreach ($photos as $key => $photo)  {?>
				<a href="<?= $this->url->getBaseUri() . $photo->file_path . $photo->filename ?>" title="<?= $photo->caption ?>" data-gallery>
      					<img style="width: 70px; height: 70px;" src="<?= $this->url->getBaseUri() . $photo->file_path . $photo->filename ?>" alt="<?= $photo->caption ?>">
        			</a>
			<?php } ?>
    </div>
		  </div>
		</div>

		
      </div>
   <!-- end right panel -->

  </div><!-- end page wrapper body -->

 </div><!-- end body wrapper row -->
  </div><!-- end body wrapper container-fluid -->
</div><!-- end body wrapper -->
<?php echo $this->tag->javascriptInclude("js/blueimp-remote.js"); ?>
<?php echo $this->tag->javascriptInclude("js/blueimp-img-gallery.js"); ?>
<script>
Dropzone.options.dropzone = {
    maxFilesize: 10,
    acceptedFiles: "image/*",
    init: function() {
        this.on("uploadprogress", function(file, progress) {
            console.log("File progress", progress);
        });
    }
  }
</script>
