<?php echo $this->tag->stylesheetLink("themes3/css/member.css"); ?>
<?php echo $this->tag->stylesheetLink("themes3/css/list-type.css"); ?>
<style type="text/css">
  


</style>
<script type="text/javascript">
    $(document).ready(function(){

    // apply matchHeight to each item container's items
        var byRow = $('body');
        $('.adds-wrapper').each(function() {
            $(this).children('.item-list').matchHeight({
                byRow: byRow
            });
        });

    // different list type
        $('.listahan').click(function(){
            var type = $(this).attr('id');
            $('.item-list').removeClass('make-compact make-grid').addClass(type);
                $('.adds-wrapper').each(function() {
                $(this).children('.item-list').matchHeight({
                    byRow: byRow
                });
            });
        });

    // date static by now


    });
</script>
<style type="text/css">
 
/*************** TAB BOX ***************/

.tab-box {
  background: #f8f8f8;
  position: relative;
}

.nav-tabs.add-tabs > li:hover > a {
  background: #EDEDED;
}

.nav-tabs.add-tabs > li > a, .nav-tabs.add-tabs > li.active > a, .nav-tabs.add-tabs > li.active > a:hover, .nav-tabs.add-tabs > li.active > a:focus {
  border-radius: 0;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-right: 0;
  color:#333;
}

.nav-tabs.add-tabs > li.active > a {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-top: 1px solid #e6e6e6;
}

@media (max-width:991px) {
  .nav-tabs.add-tabs > li > a {
    padding-left: 10px;
    padding-right: 10px;
  }

  .nav-tabs .badge {
    font-size: 11px;
  }
}

@media (max-width:767px) {
  .nav-tabs.add-tabs > li > a {
    font-size: 12px;
    padding-left: 7px;
    padding-right: 7px;
  }

  .nav-tabs .badge {
    display: none;
  }

  .select-short-by .selecter-options {
    font-size: 11px !important;
  }
}

.nav-tabs.add-tabs > li:first-child > a {
  border-left: 1px solid transparent;
}
/* tab filter */

.tab-filter {
  position: absolute;
  right: 0;
  top: 0;
}

.listing-filter {
  border-bottom: solid 1px #ddd;
  padding: 15px 0;
}

.breadcrumb-list {
  color: #888;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 0;
}

.breadcrumb-list a.current {
  color: #000;
  font-weight: bold;
  margin-right: 5px;
}

.dropdown-menu-modal {
  width: 100%;
  max-width: 400px;
}

.listing-view-action span {
  color: #888;
  cursor: pointer;
}

.listing-view-action span.active {
  color: #000;
}
/* Customize bootstrap-select plugin */

.tab-filter .select-short-by {
  margin-right: 15px;
  margin-top: 10px;
  min-width: 150px !important;
}

.tab-filter .selecter.bottom .selecter-options {
  bottom: auto !important;
  top: auto;
}

.select-short-by .selecter-selected {
  font-size: 12px;
  padding: 4.5px 15px;
}

.tab-filter .selecter-item {
  padding: 8px 15px;
  font-size: 12px;
}


fieldset.sched-border{
  border:1px groove #ddd !important;
  padding:0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  -webkit-box-shadow: 0px 0px 0px 0px #000;
      box-shadow: 0px 0px 0px 0px #000;

}

legend.sched-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width:auto;
    padding:0px 10px;
    border-bottom: none;
}


    a[disabled="disabled"] {
        pointer-events: none;
    }


</style>



<div class="body-wrapper" style="margin-top:110px;"> <!-- start body wrapper -->
  <div class="container" > <!-- start body wrapper container -->
    <div class="row" > <!-- start body wrapper row -->

  <div style="margin-bottom:20px;"><!-- page wrapper body -->
  

    <div class="col-md-12 "  >
        <div class="col-md-12 col-xs-12"  >
            <ul class="breadcrumb pull-left" style="padding:5px 0px; margin:0px">
                <li><i class="fa fa-home"></i> MyBarangay</li>
                <li class="active">Profile</li>
            </ul>
        </div>
    </div>


     <!-- start left panel -->
     <div class="col-md-3 col-xs-12 " style="z-index:1">
    <?php $this->partial("partials/member_profile") ?>

     </div>
     <!-- end left panel -->

      <!-- start col-md-9 -->
      <div class="col-md-9 col-sm-12 boxiy" style="min-height:500px;padding:0px"> 

<div class="page-content col-thin-left">
    <div class="category-list">

        <div class="tab-box ">
            <ul class="nav nav-tabs add-tabs" id="ajaxTabs" role="tablist">
                <li class="active">
                    <a href="#car-and-trucks" role="tab" data-toggle="tab">
                        Cars and Trucks <span class="badge"><?php echo count($autos); ?></span>
                    </a>
                </li>
                <li>
                    <a href="#jobs"  role="tab" data-toggle="tab">
                        Jobs <span class="badge"><?php echo count($jobs); ?></span>
                    </a>
                </li>
                <li>
                    <a href="#realty"role="tab" data-toggle="tab">
                        Real Estate <span class="badge"><?php echo count($realty); ?></span>
                    </a>
                </li>
                <li>
                    <a href="#things"  role="tab" data-toggle="tab">
                        Things <span class="badge"><?php echo count($things); ?></span>
                    </a>
                </li>
               
                <?php
                if($seschecker){
                    echo '<li>';
                        echo '<a href="#archived"  role="tab" data-toggle="tab">';
                            echo 'Archived <span class="badge"></span>';
                        echo '</a>';
                    echo '</li>';
                }
                ?>


            </ul>

        </div>

<div class="listing-filter">
    <div class="pull-right col-xs-6listing-view-action"> 
        <div style="padding:5px">
            <!-- <button class="listahan" id="make-compact"><i class="fa fa-bars"></i> list</button> -->
            <button class="listahan" id=""><i class="fa fa-th-list"></i> preview</button>
            <button class="listahan" id="make-grid"><i class="fa fa-th"></i> grid</button>
        </div>
    </div>



    <div style="clear:both"></div>
</div>

<div class="adds-wrapper"><!-- start of adds-wrapper -->
    <div class="tab-content"><!-- start of tab-content -->

        <!-- start of auto tab-->
        <div class="tab-pane active" id="car-and-trucks"> 
            <div class="row">
<!--             <div class="col-md-12">
                <div class="pull-left "> 
                    <div style="padding:0px 0px  0px 0px">
                        <a class="btn btn-primary btn-sm" href="<?php //echo $this->url->getBaseUri().'car_and_truck/index' ?>">page</a>
                        <a class="restricted btn btn-primary btn-sm" href="<?php //echo $this->url->getBaseUri().'car_and_truck/new' ?>"  id="make-compact"> Post your ad now?</a>
                    </div>
                </div>
            </div> -->
              <div class="clearix"></div>

         
        <?php
        if(count($autos) > 0){
            foreach ($autos as $auto) {
        ?>
            <div class="item-list make-grid" id="<?php echo '1auto_'.$auto->id; ?>" >
                <div class="col-sm-2 no-padding photobox">
                    <div class="add-image custom-thumbnail" style=""> <!-- <span class="photo-count"><i class="fa fa-camera"></i> 2 </span> --> 
                    <?php                    
                        $autoPhoto = 'img/nophoto.jpg'; 
                        $rPhotoCount = count($auto->automotivephotos);
                        if ($rPhotoCount > 0) {
                            $autoPhoto = $auto->automotivephotos[0]->file_path.$auto->automotivephotos[0]->filename;
                        }
                        echo Phalcon\Tag::image([$autoPhoto, 'class' => 'thumbnail no-margin', 'style' => 'border:none;padding:0px']);
                    ?>
                    </div>
                </div>

                <div class="col-sm-7 add-desc-box" >
                    <div class="add-details">
                        <h5><span><i class="fa fa-bookmark"> </i> <?= $auto->brand?></span></h5>
                        <h4 class="add-title" style="font-weight:bold"> 
                            <a href="<?php echo $this->url->getBaseUri().'car_and_truck/view2/'.$auto->id; ?>">
                                <?= $auto->name?>
                            </a> 
                        </h4>
                        <div class="clearfix"></div>
                        <span class="info-row">
                            <span class="date">
                                <?php 
                                    $ecity = '';
                                    $cities = Cities::findFirst($auto->city);
                                    if($cities){
                                        echo '<span class="fa fa-map-marker"></span> ';
                                        $ecity .= $cities->city_name;
                                        $ecity .= ', '. $cities->state_code_id;
                                        $ecity .= ', '.$cities->CountryCodes->country_name;
                                        echo $ecity;
                                    }
                                ?>
                            </span>  
                        </span> 
                        <div class="clearfix"></div>
                        <span class="info-row">
                            <?php if($auto->automotiveconditions->name != ''){ ?>
                                <i class="fa fa-info-circle"></i> <?php echo $auto->automotiveconditions->name; ?> 
                            <?php } ?>
                        </span> 
                        <div class="clearfix"></div>

                        <?php $type = AutomotiveFuels::findFirst($auto->fuel_type_id); ?>
                        <?php if($type){ ?>
                            <span class="info-row"> <i class="fa fa-tint"></i> <?php echo $type->name; ?> </span> 
                        <?php } ?>
                    </div>
                </div>

                <div class="col-sm-3 text-right  price-box"  >
                    <h6 class="item-price"> 
                        <span class=" s3d designmoo" style="width:100%;text-align:center">
                            <strong>
                            <?php
                                $currency = '';
                                $na = '';
                                switch ($auto->currency_type) {
                                case 1: $currency = '$';$na = 'US';
                                break;
                                case 2:$currency = '₱';$na = 'PHP';
                                break;
                                case 3: $currency = '$';$na = 'CAD';
                                break;
                                default:
                                }
                                echo $currency;
                                echo $na;
                                echo number_format($auto->price,2); 
                            ?>
                            </strong>
                        </span>
                    </h6>
<!--                         <a href="<?php //echo $this->url->getBaseUri().'car_and_truck/view2/'.$auto->id; ?>" class="btn btn-primary  btn-sm make-favorite" style=""> 
                        view
                        </a>  -->


                    <?php if($seschecker){ ?>
                        <a href="<?php echo $this->url->getBaseUri().'car_and_truck/update/'.$auto->id; ?>" class="btn btn-primary  btn-sm make-favorite" style="margin:3px;"> 
                            edit
                        </a> 

                        <a href="javascript:;" id="<?php echo 'arc_auto_'.$auto->id; ?>" onclick="notyArchived(<?php echo $auto->id;?>, 'auto');" class=" btn btn-primary  btn-sm make-favorite" style="margin:3px;"> 
                            Archived
                        </a>         
                        <a href="javascript:;" id="<?php echo 'auto_'.$auto->id; ?>" onclick="notyDelete(<?php echo $auto->id;?>, 'auto');" class=" btn btn-primary  btn-sm make-favorite" style="margin:3px;"> 
                            Delete
                        </a> 
                    <?php } ?>
                </div>
            </div>
        <?php
            }
        }else{

            echo '<div class="col-md-12">';
                echo '<div style="text-align:center; padding:10px 15px; background:#f4f4f4;width:100%;border-left:2px solid #D7230F;border-top:1px solid #c3c3c3;border-bottom:1px solid #c3c3c3;border-right:1px solid #c3c3c3">';
                echo '<h4>Post a Free Classified for Cars and Trucks</h4>';
                echo 'Post your free online classified ads with us. ';
                echo '</div>';
            echo '</div>';

        }
        ?>
           </div>
        </div><!-- end of auto tab-->

        <!-- start of jobs tab-->
        <div class="tab-pane" id="jobs">
            <div class="row">
<!--                 <div class="pull-left "> 
                    <div style="padding:15px">
                        <a class="btn btn-primary btn-sm" href="<?php //echo $this->url->getBaseUri().'job/index' ?>">page</a>
                        <a class="restricted btn btn-primary btn-sm" href="<?php //echo $this->url->getBaseUri().'job/new' ?>"> Post your job now?</a>
                    </div>
                </div> -->


        <?php
        if(count($jobs) > 0){
            foreach ($jobs as $job) {
        ?>
                <div class="item-list make-grid" id="<?php echo '1job_'.$job->id; ?>" >

                    <div class="col-sm-2 no-padding photobox">
                        <div class="add-image custom-thumbnail" style=""> <!-- <span class="photo-count"><i class="fa fa-camera"></i> 2 </span> --> 
                            <?php                    
                                $jobPhoto = 'img/nophoto.jpg'; 
                                $rPhotoCount = count($job->JobLogos);
                                if ($rPhotoCount > 0) {
                                    $jobPhoto = $job->JobLogos[0]->file_path.$job->JobLogos[0]->filename;
                                }
                                echo Phalcon\Tag::image([$jobPhoto, 'class' => 'thumbnail no-margin', 'style' => 'border:none;padding:0px']);
                            ?>
                        </div>
                    </div>
             
                    <div class="col-sm-7 add-desc-box" >
                        <div class="add-details">
                            <h5> 
                                <span><i class="fa fa-bookmark"> </i> 
                                <?php  echo  $category = $job->JobCategories->name;  ?>
                                </span>
                            </h5>
                            <h4 class="add-title" style="font-weight:bold"> 
                                <a href="<?php echo $this->url->getBaseUri().'job/view2/'.$job->id; ?>"> 
                                    <?= $job->position?>
                                </a> 
                            </h4>
                            <span class="info-row">
                                <?php 
                                    $ecity = '';
                                    $cities = Cities::findFirst($job->city);
                                    if($cities){
                                        echo '<i class="fa fa-map-marker"></i> ';
                                        $ecity .= $cities->city_name;
                                        $ecity .= ', '. $cities->state_code_id;
                                        $ecity .= ', '.$cities->CountryCodes->country_name;
                                        echo $ecity;
                                    }
                                ?>
                            </span> 
                        </div>
                    </div>
                    <div class="col-sm-3 text-right  price-box" style="">
                        <h6 class="item-price"> 
                            <span class=" s3d designmoo" style="width:100%;text-align:center">
                                <strong>
                                <?php
                                    $currency = '';
                                    $na = '';
                                    switch ($job->currency_type) {
                                        case 1: $currency = '$';$na = ' US';
                                        break;
                                        case 2: $currency = '₱';$na = ' PHP';
                                        break;
                                        case 3: $currency = '$';$na = ' CAD';
                                        break;
                                        default:
                                    }
                                    if($job->salary_from == '0.00'){
                                        echo 'salary not indicated';
                                    }else{
                                        echo $currency;
                                        echo $na;
                                        echo number_format($job->salary_from,2);
                                    }
                                ?>
                                </strong>
                            </span>
                        </h6>
                        <!--<a href="<?php //echo $this->url->getBaseUri().'job/view2/'.$job->id; ?>" class="btn btn-primary  btn-sm make-favorite" style=""> 
                        view
                        </a>  -->

                        <?php if($seschecker){ ?>
                            <a href="<?php echo $this->url->getBaseUri().'job/update/'.$job->id; ?>" class="btn btn-primary  btn-sm make-favorite" style="margin:3px;"> 
                                edit
                            </a> 
                            <a href="javascript:;" id="<?php echo 'arc_job_'.$job->id; ?>" onclick="notyArchived(<?php echo $job->id;?>, 'job');" class=" btn btn-primary  btn-sm make-favorite" style="margin:3px;"> 
                               Archived
                            </a> 

                            <a href="javascript:;" id="<?php echo 'job_'.$job->id; ?>" onclick="notyDelete(<?php echo $job->id;?>, 'job');" class=" btn btn-primary  btn-sm make-favorite" style="margin:3px;"> 
                               Delete
                            </a> 
                        <?php } ?>




                    </div>
                </div>
        <?php
            }
        }else{

            echo '<div class="col-md-12">';
                echo '<div style="text-align:center; padding:10px 15px; background:#f4f4f4;width:100%;border-left:2px solid #D7230F;border-top:1px solid #c3c3c3;border-bottom:1px solid #c3c3c3;border-right:1px solid #c3c3c3">';
                echo '<h4>Post a Free Classified for Jobs</h4>';
                echo 'Post your free online classified ads with us. ';
                echo '</div>';
            echo '</div>';

        }
        ?>
            </div>

        </div><!-- end of jobs tab-->


        <!-- start of realty tab-->
        <div class="tab-pane" id="realty">
            <div class="row">
<!--                 <div class="pull-left "> 
                    <div style="padding:15px">
                        <a class="btn btn-primary btn-sm" href="<?php //echo $this->url->getBaseUri().'real_estate/index' ?>">page</a>
                        <a class="restricted btn btn-primary btn-sm" href="<?php //echo $this->url->getBaseUri().'real_estate/new' ?>"> Post your ad now?</a>
                    </div>
                </div> -->



        <?php
        if(count($realty) > 0){
            foreach ($realty as $realty) {
        ?>
            <div class="item-list make-grid" id="<?php echo '1realty_'.$realty->id; ?>" >
                <div class="col-sm-2 no-padding photobox">
                    <div class="add-image custom-thumbnail" style=""> <!-- <span class="photo-count"><i class="fa fa-camera"></i> 2 </span> --> 
                        <?php                    
                        $realtyPhoto = 'img/nophoto.jpg'; 
                        $rPhotoCount = count($realty->RealtyPhotos);
                        if ($rPhotoCount > 0) {
                          $realtyPhoto = $realty->RealtyPhotos[0]->file_path.$realty->RealtyPhotos[0]->filename;
                        }
                          echo Phalcon\Tag::image([$realtyPhoto, 'class' => 'thumbnail no-margin', 'style' => 'border:none;padding:0px']);
                        ?>
                    </div>
                </div>
                 
                <div class="col-sm-7 add-desc-box" >
                    <div class="add-details">
                        <h5>
                            <span>
                                <?php 
                                    echo '<i class="fa fa-bookmark"> </i> ';
                                    $category = RealtyCategories::findFirst($realty->realty_category_id);
                                    echo  $category = $category->RealtyTypes->name.' &raquo; '.$category->name; 
                                ?>
                            </span>
                        </h5>
                        <h4 class="add-title" style="font-weight:bold"> <a href="#"> <?= $realty->name?></a> </h4>
                        <span class="info-row">
                            <i class="fa fa-info-circle"></i> 
                            <?php echo $realty->RealtyConditions->name; ?> 
                        </span>
                        <div class="clearfix"></div>
                        <span class="info-row">
                            <?php 
                                $ecity = '';
                                $cities = Cities::findFirst($realty->city);
                                if($cities){
                                    echo '<i class="fa fa-map-marker"></i> ';
                                    $ecity .= $cities->city_name;
                                    $ecity .= ', '. $cities->state_code_id;
                                    $ecity .= ', '.$cities->CountryCodes->country_name;
                                    echo $ecity;
                                }
                            ?>
                        </span> 
                        <span class="info-row">
                            <div class="clearfix"></div>
                            <i class="fa fa-circle"></i> House Area: <?php echo $realty->house_area; ?>
                            <div class="clearfix"></div>
                            <i class="fa fa-circle"></i> Lot Area: <?php echo $realty->lot_area; ?>
                        </span>
                    </div>
                </div>

                <div class="col-sm-3 text-right  price-box" style="">
                    <h6 class="item-price"> 
                        <span class=" s3d designmoo">
                            <strong>
                            <?php
                                $currency = '';
                                $na = '';
                                switch ($realty->currency_type) {
                                    case 1: $currency = '$';$na = ' US';
                                    break;
                                    case 2: $currency = '₱';$na = ' PHP';
                                    break;
                                    case 3: $currency = '$';$na = ' CAD';
                                    break;
                                    default:
                                }
                                if($realty->price == '0.00'){
                                    echo 'salary not indicated';
                                }else{
                                    echo $currency;
                                    echo $na;
                                    echo number_format($realty->price,2);
                                }
                            ?>
                            </strong>
                        </span>
                    </h6>
                    <!--<a href="<?php //echo $this->url->getBaseUri().'real_estate/view2/'.$realty->id; ?>" class="btn btn-primary  btn-sm make-favorite" style=""> 
                    view</span> </a>  -->

                    <?php if($seschecker){ ?>
                        <a href="<?php echo $this->url->getBaseUri().'real_estate/update/'.$realty->id; ?>" class="btn btn-primary  btn-sm make-favorite" style="margin:3px;"> 
                            edit
                        </a> 
                        <a href="javascript:;" id="<?php echo 'arc_realty_'.$realty->id; ?>" onclick="notyArchived(<?php echo $realty->id;?>, 'realty');" class=" btn btn-primary  btn-sm make-favorite" style="margin:3px;"> 
                           Archived
                        </a> 
                        <a href="javascript:;" id="<?php echo 'realty_'.$realty->id; ?>" onclick="notyDelete(<?php echo $realty->id;?>, 'realty');" class=" btn btn-primary  btn-sm make-favorite" style="margin:3px;"> 
                           Delete
                        </a> 
                    <?php } ?>



                </div>
            </div>
        <?php
            }
        }else{
        
            echo '<div class="col-md-12">';
                echo '<div style="text-align:center; padding:10px 15px; background:#f4f4f4;width:100%;border-left:2px solid #D7230F;border-top:1px solid #c3c3c3;border-bottom:1px solid #c3c3c3;border-right:1px solid #c3c3c3">';
                echo '<h4>Post a Free Classified for Real Esate</h4>';
                echo 'Post your free online classified ads with us. ';
                echo '</div>';
            echo '</div>';
      

        }
        ?>

            </div>
        </div> <!-- start of realty tab-->


        <!-- start of things tab-->
        <div class="tab-pane" id="things">
            <div class="row">
   <!--              <div class="pull-left "> 
                    <div style="padding:15px">
                        <a class="btn btn-primary btn-sm" href="<?php //echo $this->url->getBaseUri().'thing/index' ?>">page</a>
                        <a class="restricted btn btn-primary btn-sm" href="<?php //echo $this->url->getBaseUri().'thing/new' ?>"> Post your ad now?</a>
                    </div>
                </div> -->

        <?php
        if(count($things) > 0){
            foreach ($things as $thing) {
        ?>
            <div class="item-list make-grid" id="<?php echo '1thing_'.$thing->id; ?>" >

                <div class="col-sm-2 no-padding photobox">
                    <div class="add-image custom-thumbnail" style=""> <!-- <span class="photo-count"><i class="fa fa-camera"></i> 2 </span> --> 
                        <?php                    
                        $thingPhoto = 'img/nophoto.jpg'; 
                        $rPhotoCount = count($thing->thingphotos);
                        if ($rPhotoCount > 0) {
                            $thingPhoto = $thing->thingphotos[0]->file_path.$thing->thingphotos[0]->filename;
                        }
                        echo Phalcon\Tag::image([$thingPhoto, 'class' => 'thumbnail no-margin', 'style' => 'border:none;padding:0px']);
                        ?>
                    </div>
                </div>
             
                <div class="col-sm-7 add-desc-box" >
                    <div class="add-details">
                        <h5> 
                            <span>
                                <i class="fa fa-bookmark"> </i> 
                                <?php echo  $category = $thing->ThingCategories->name; ?>
                            </span>
                        </h5>
                        <h4 class="add-title" style="font-weight:bold"> <a href="<?php echo $this->url->getBaseUri().'thing/view2/'.$thing->id; ?>"> <?= $thing->name?></a> </h4>

                        <span class="info-row">
                            <?php 
                                $ecity = '';
                                $cities = Cities::findFirst($thing->city);
                                if($cities){
                                    echo '<i class="fa fa-map-marker"></i> ';
                                    $ecity .= $cities->city_name;
                                    $ecity .= ', '. $cities->state_code_id;
                                    $ecity .= ', '.$cities->CountryCodes->country_name;
                                    echo $ecity;
                                }
                            ?>
                        </span> 

                        <div class="clearfix"></div>
                        <span class="info-row">
                            <i class="fa fa-info-circle"></i> <?= $thing->ThingConditions->name?>
                        </span>
                    </div>
                </div>
         
                <div class="col-sm-3 text-right  price-box" style="">
                    <h6 class="item-price"> 
                    <span class=" s3d designmoo" style="width:100%;text-align:center">
                        <strong>
                        <?php
                            $currency = '';
                            $na = '';
                            switch ($thing->currency_type) {
                                case 1:$currency = '$';$na = 'US';
                                break;
                                case 2:$currency = '₱';$na = 'PHP';
                                break;
                                case 3:$currency = '$';$na = 'CAD';
                                break;
                                default:
                            }
                            echo $currency;
                            echo $na;
                            echo number_format($thing->price,2); 
                        ?>
                        </strong>
                    </span>
                    </h6>
                    <!--<a href="<?php //echo $this->url->getBaseUri().'thing/view2/'.$thing->id; ?>" class="btn btn-primary  btn-sm make-favorite" style=""> 
                    view</span> </a>  -->

                    <?php if($seschecker){ ?>
                        <a href="<?php echo $this->url->getBaseUri().'thing/update/'.$thing->id; ?>" class="btn btn-primary  btn-sm make-favorite" style="margin:3px;"> 
                            edit
                        </a> 

                        <a href="javascript:;" id="<?php echo 'arc_thing_'.$thing->id; ?>" onclick="notyArchived(<?php echo $thing->id;?>, 'thing');" class=" btn btn-primary  btn-sm make-favorite" style="margin:3px;"> 
                           Archived
                        </a> 

                        <a href="javascript:;" id="<?php echo 'thing_'.$thing->id; ?>" onclick="notyDelete(<?php echo $thing->id;?>, 'thing');" class=" btn btn-primary  btn-sm make-favorite" style="margin:3px;"> 
                           Delete
                        </a> 
                    <?php } ?>



                </div>
            </div>
        <?php
            }
        }else{

    
            echo '<div class="col-md-12">';
                echo '<div style="text-align:center; padding:10px 15px; background:#f4f4f4;width:100%;border-left:2px solid #D7230F;border-top:1px solid #c3c3c3;border-bottom:1px solid #c3c3c3;border-right:1px solid #c3c3c3">';
                echo '<h4>Post a Free Classified for Things</h4>';
                echo 'Post your free online classified ads with us. ';
                echo '</div>';
            echo '</div>';
   

        }
        ?>
            </div>
        </div> <!-- start of things tab-->





        <?php if($seschecker){ ?>
        <div class="tab-pane" id="archived">
            <div class="row">
    

            </div>
        </div> <!-- start of things tab-->
        <?php }  ?>



    </div><!-- end of tab-content -->
</div><!-- end of adds-wrapper -->
   

  </div>


<!--   <div class="pagination-bar text-center">
  <ul class="pagination">
  <li class="active"><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><a href="#"> ...</a></li>
  <li><a class="pagination-btn" href="#">Next »</a></li>
  </ul>
  </div> -->

   
</div>

<?php


    // $thingid = 55;
    // $countries = ThingPhotos::find(" thing_id = '$thingid' ")->filter(function($query){
    //         if(!empty($query->file_path) OR !empty($query->filename)) { // optional
    //             if($query->id == 78){
    //                 echo $pathtodel = $query->file_path.$query->filename;
    //                 if($query->delete()){
    //                     if (file_exists($pathtodel)) {
    //                         unlink($pathtodel);
    //                     }
    //                     echo 'Deleted';
    //                 }
    //             }
    //         }
    // });

?>



      </div>
      <!-- end col-md-9 -->






    </div><!-- end body wrapper row -->
  </div><!-- end body wrapper container -->
</div><!-- end body wrapper -->


<?php echo $this->tag->javascriptInclude("themes3/themes/noty/jquery.noty.js"); ?>
<?php echo $this->tag->javascriptInclude("themes3/themes/noty/layouts/center.js"); ?>
<?php echo $this->tag->javascriptInclude("themes3/themes/noty/themes/default.js"); ?>

<script type="text/javascript">                                            
    function notyDelete(id, name){
        $('#'+name+'_'+id).attr("disabled", true);
        console.log('record : '+ name+'_'+id);
        noty({
            text: 'Do you want to Delete This Record ?',
            layout: 'center',
            buttons: [
                    {addClass: 'btn btn-primary btn-clean', text: 'Delete', onClick: function($noty) {
                        $noty.close();
                       
                        $.ajax({
                            url: "<?php echo $this->url->getBaseUri().'member/classfiedDel' ?>",
                            dataType: 'json',
                            data:{ids: id, codenae: name},

                            beforeSend: function () {
                                $before = noty({text: 'deleting ...' , layout: 'center', type: 'success' });
                                console.log('loading...');
                            },
                            success: function(response){
                                 $before.close();
                                var message = response.message;
                                var types = 'error';
                                if(response.type == 'ok'){
                                    types = 'success';
                                }

                                $succ = noty({text: message , layout: 'center', type: types });
                                setInterval(function() {
                                       $('#1'+name+'_'+id).fadeOut();
                                       $succ.close();
                                }, 2000);

                               
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                noty({text: 'Error Deleting the record, this error will be send to administrator', layout: 'center', type: 'error'});

                            },
                            complete: function () {

                               console.log('Complete!!!');
                            }

                        });
                    }
                    },
                    {addClass: 'btn btn-default btn-clean', text: 'Cancel', onClick: function($noty) {
                        $noty.close();
                        $('#'+name+'_'+id).fadeIn().show();
                        $('#'+name+'_'+id).attr("disabled", false);
                       // noty({text: 'You clicked "Cancel" button', layout: 'topCenter', type: 'error'});
                        }
                    }
                ]
        })                                                    
    }

    function notyArchived(id, name){
     $('#arc_'+name+'_'+id).attr("disabled", true);
        console.log('record : #arc_'+ name+'_'+id);
        noty({
            text: 'Do you want to Archived This Record ?',
            layout: 'center',
            buttons: [
                    {addClass: 'btn btn-primary btn-clean', text: 'Archived', onClick: function($noty) {
                        $noty.close();
                       
                        $.ajax({
                            url: "<?php echo $this->url->getBaseUri().'member/classfiedArc' ?>",
                            dataType: 'json',
                            data:{ids: id, codenae: name},

                            beforeSend: function () {
                                $before = noty({text: 'removing to archived ...' , layout: 'center', type: 'success' });
                                console.log('removing...');
                            },
                            success: function(response){
                                 $before.close();
                                var message = response.message;
                                var types = 'error';
                                if(response.type == 'ok'){
                                    types = 'success';
                                }

                                $succ = noty({text: message , layout: 'center', type: types });
                                setInterval(function() {
                                       $('#1'+name+'_'+id).fadeOut();
                                       $succ.close();
                                }, 2000);

                               
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                noty({text: 'Error removing to archived, this error will be send to administrator', layout: 'center', type: 'error'});

                            },
                            complete: function () {
                               console.log('Complete!!!');
                            }

                        });
                    }
                    },
                    {addClass: 'btn btn-default btn-clean', text: 'Cancel', onClick: function($noty) {
                        $noty.close();
                        $('#arc_'+name+'_'+id).fadeIn().show();
                        $('#arc_'+name+'_'+id).attr("disabled", false);
                       // noty({text: 'You clicked "Cancel" button', layout: 'topCenter', type: 'error'});
                        }
                    }
                ]
        })       

    }
</script>

