<table id="table" class="cell-border stripe" cellspacing="0" width="100%" >
<tbody>
<tr>
	<th rowspan="2" style="text-align:center;">Country</th>
	<th rowspan="2" style="text-align:center;" >Payout Currency</th>
	<th colspan="3" style="text-align:center;">Payout Solutions</th>
</tr>
<tr>
	<th>EFT</th>
	<th>Cash</th>
	<th>Mobile</th>
</tr>
<tr>
<td class="country">Abkhazia</td>
<td class="currency">United States Dollars</td>
<td class="payouts" width="50">x</td>
<td class="payouts grey" width="50">✓</td>
<td class="payouts" width="50">x</td>
</tr>
<tr>
<td class="country">Angola</td>
<td class="currency">Angolan Kwanza</td>
<td class="payouts">x</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Angola</td>
<td class="currency">United States Dollars</td>
<td class="payouts grey">✓</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Argentina</td>
<td class="currency">Argentina Pesos</td>
<td class="payouts  grey">✓</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Armenia</td>
<td class="currency">United States Dollars</td>
<td class="payouts">x</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Australia</td>
<td class="currency">Australia Dollars</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Austria</td>
<td class="currency">Euro</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Azerbaijan</td>
<td class="currency">United States Dollars</td>
<td class="payouts">x</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Bahrain</td>
<td class="currency">Bahrain Dinars</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Bangladesh</td>
<td class="currency">Bangladesh Taka</td>
<td class="payouts grey">✓</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Belarus</td>
<td class="currency">United States Dollars</td>
<td class="payouts">x</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Belgium</td>
<td class="currency">Euro</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Bolivia</td>
<td class="currency">Bolivia Bolivianos</td>
<td class="payouts grey">✓</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Botswana</td>
<td class="currency">Botswana Pulas</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Brazil</td>
<td class="currency">Brazil Real</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Bulgaria</td>
<td class="currency">Euro</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Burkina Faso</td>
<td class="currency">CFA Franc (XOF)</td>
<td class="payouts grey">✓</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Cameroon</td>
<td class="currency">Central African Franc (XAF)</td>
<td class="payouts grey">✓</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Canada</td>
<td class="currency">Canadian Dollars</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Chile</td>
<td class="currency">Chile Pesos</td>
<td class="payouts grey">✓</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Chile</td>
<td class="currency">United States Dollars</td>
<td class="payouts">x</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">China</td>
<td class="currency">China Yuan Renminbi</td>
<td class="payouts grey">✓</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">China</td>
<td class="currency">United States Dollars</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Colombia</td>
<td class="currency">Colombia Pesos</td>
<td class="payouts grey">✓</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Costa Rica</td>
<td class="currency">Costa Rica Colones</td>
<td class="payouts grey">✓</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Costa Rica</td>
<td class="currency">United States Dollars</td>
<td class="payouts grey">✓</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Croatia</td>
<td class="currency">Croatia Kuna</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Cyprus</td>
<td class="currency">Euro</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Czech Republic</td>
<td class="currency">Czech Republic Koruny</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Denmark</td>
<td class="currency">Denmark Kroner</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Dominican Republic</td>
<td class="currency">Dominican Republic Pesos</td>
<td class="payouts grey">✓</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Dominican Republic</td>
<td class="currency">United States Dollars</td>
<td class="payouts grey">✓</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">DRC</td>
<td class="currency">United States Dollars</td>
<td class="payouts grey">✓</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Ecuador</td>
<td class="currency">United States Dollars</td>
<td class="payouts grey">✓</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Egypt</td>
<td class="currency">Egyptian Pound</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Egypt</td>
<td class="currency">United States Dollars</td>
<td class="payouts grey">✓</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Egypt</td>
<td class="currency">Euro</td>
<td class="payouts grey">✓</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">El Salvador</td>
<td class="currency">United States Dollars</td>
<td class="payouts grey">✓</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Estonia</td>
<td class="currency">Euro</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Estonia</td>
<td class="currency">United States Dollars</td>
<td class="payouts grey">✓</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Ethiopia</td>
<td class="currency">Ethiopian Birr</td>
<td class="payouts grey">✓</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Finland</td>
<td class="currency">Euro</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">France</td>
<td class="currency">Euro</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Gambia</td>
<td class="currency">Gambian Dalasi</td>
<td class="payouts grey">✓</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Georgia</td>
<td class="currency">United States Dollars</td>
<td class="payouts">x</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Germany</td>
<td class="currency">Euro</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Ghana</td>
<td class="currency">Ghana Cedis</td>
<td class="payouts grey">✓</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Greece</td>
<td class="currency">Euro</td>
<td class="payouts grey">✓</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Guatemala</td>
<td class="currency">Guatemala Quetzales</td>
<td class="payouts">x</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Guatemala</td>
<td class="currency">United States Dollars</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Guernsey</td>
<td class="currency">United Kingdom Pounds</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Guinea</td>
<td class="currency">Guinea Francs</td>
<td class="payouts grey">✓</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Honduras</td>
<td class="currency">Honduras Lempiras</td>
<td class="payouts grey">✓</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Hungary</td>
<td class="currency">Hungary Forint</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">India</td>
<td class="currency">Indian Rupee</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Indonesia</td>
<td class="currency">Indonesian Ringitt</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Ireland</td>
<td class="currency">Euro</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Isle of Man</td>
<td class="currency">United Kingdom Pounds</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Israel</td>
<td class="currency">Israel New Shekels</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Israel</td>
<td class="currency">United States Dollars</td>
<td class="payouts grey">✓</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Italy</td>
<td class="currency">Euro</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Ivory Coast</td>
<td class="currency">CFA ranc (XOF)</td>
<td class="payouts grey">✓</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Jersey</td>
<td class="currency">United Kingdom Pounds</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Kazakhstan</td>
<td class="currency">United States Dollars</td>
<td class="payouts">x</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Kenya</td>
<td class="currency">Kenya Shillings</td>
<td class="payouts grey">✓</td>
<td class="payouts grey">✓</td>
<td class="payouts grey">✓</td>
</tr>
<tr>
<td class="country">Kyrgyzstan</td>
<td class="currency">United States Dollars</td>
<td class="payouts">x</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Latvia</td>
<td class="currency">United States Dollars</td>
<td class="payouts">x</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Lesotho</td>
<td class="currency">South Africa Rand</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Lithuania</td>
<td class="currency">Lithuania Litai</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Lithuania</td>
<td class="currency">United States Dollars</td>
<td class="payouts">x</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Luxembourg</td>
<td class="currency">Euro</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Madagascar</td>
<td class="currency">Madagascar Ariary</td>
<td class="payouts grey">✓</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Malawi</td>
<td class="currency">Malawi Kwacha</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Malaysia</td>
<td class="currency">Malaysia Ringgits</td>
<td class="payouts grey">✓</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Mali</td>
<td class="currency">CFA Franc (XOF)</td>
<td class="payouts grey">✓</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Malta</td>
<td class="currency">Euro</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Mauritius</td>
<td class="currency">Mauritius Rupees</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Mexico</td>
<td class="currency">Mexico Peso</td>
<td class="payouts grey">✓</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Moldova</td>
<td class="currency">Euro</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Moldova</td>
<td class="currency">United States Dollars</td>
<td class="payouts">x</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Monaco</td>
<td class="currency">Euro</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Mongolia</td>
<td class="currency">United States Dollars</td>
<td class="payouts">x</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Morocco</td>
<td class="currency">Moroccan Dirham</td>
<td class="payouts grey">✓</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Mozambique</td>
<td class="currency">Mozambique Meticais</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Mozambique</td>
<td class="currency">United States Dollars</td>
<td class="payouts grey">✓</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Namibia</td>
<td class="currency">Namibia Dollars</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Nepal</td>
<td class="currency">Nepal Rupees</td>
<td class="payouts grey">✓</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Netherlands</td>
<td class="currency">Euro</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">New Zealand</td>
<td class="currency">New Zealand Dollars</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Niger</td>
<td class="currency">CFA Franc (XOF)</td>
<td class="payouts grey">✓</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Nigeria</td>
<td class="currency">Nigeria Nairas</td>
<td class="payouts grey">✓</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Norway</td>
<td class="currency">Norway Kroner</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Pakistan</td>
<td class="currency">Pakistan Rupees</td>
<td class="payouts">x</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Panama</td>
<td class="currency">United States Dollars</td>
<td class="payouts grey">✓</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Paraguay</td>
<td class="currency">Paraguay Guarani</td>
<td class="payouts grey">✓</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Peru</td>
<td class="currency">United States Dollars</td>
<td class="payouts grey">✓</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Philippines</td>
<td class="currency">Philippines Pesos</td>
<td class="payouts grey">✓</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Poland</td>
<td class="currency">Poland Zlotych</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Portugal</td>
<td class="currency">Euro</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Romania</td>
<td class="currency">Euro</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Russian Federation</td>
<td class="currency">Russian Rubles</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Russian Federation</td>
<td class="currency">United States Dollars</td>
<td class="payouts grey">✓</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Rwanda</td>
<td class="currency">Rwanda Francs</td>
<td class="payouts grey">✓</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Senegal</td>
<td class="currency">CFA Franc (XOF)</td>
<td class="payouts grey">✓</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Serbia</td>
<td class="currency">Euro</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Sierra Leone</td>
<td class="currency">Sierra Leonean Leone</td>
<td class="payouts">x</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Slovakia</td>
<td class="currency">Euro</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Slovenia</td>
<td class="currency">Euro</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">South Africa</td>
<td class="currency">South African Rand</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Spain</td>
<td class="currency">Euro</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Sri Lanka</td>
<td class="currency">Sri Lanka Rupees</td>
<td class="payouts">x</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Swaziland</td>
<td class="currency">South Africa Rand</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Sweden</td>
<td class="currency">Sweden Kronor</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Switzerland</td>
<td class="currency">Switzerland Francs</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Tajikistan</td>
<td class="currency">United States Dollars</td>
<td class="payouts">x</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Thailand</td>
<td class="currency">Thai Baht</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Turkmenistan</td>
<td class="currency">United States Dollars</td>
<td class="payouts">x</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Uganda</td>
<td class="currency">Uganda Shilling</td>
<td class="payouts grey">✓</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Ukraine</td>
<td class="currency">United States Dollars</td>
<td class="payouts">x</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">United Arab Emirates</td>
<td class="currency">United Arab Emirates Dirhams</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">United Kingdom</td>
<td class="currency">British Pound</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Uruguay</td>
<td class="currency">United States Dollars</td>
<td class="payouts grey">✓</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Uruguay</td>
<td class="currency">Uruguay Pesos</td>
<td class="payouts grey">✓</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Uzbekistan</td>
<td class="currency">United States Dollars</td>
<td class="payouts">x</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Venezuela</td>
<td class="currency">Venezuela Bolivares</td>
<td class="payouts">x</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Zambia</td>
<td class="currency">Zambia Kwacha</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Zambia</td>
<td class="currency">United States Dollars</td>
<td class="payouts grey">✓</td>
<td class="payouts grey">✓</td>
<td class="payouts">x</td>
</tr>
<tr>
<td class="country">Zimbabwe</td>
<td class="currency">United States Dollars</td>
<td class="payouts grey">✓</td>
<td class="payouts grey">✓</td>
<td class="payouts grey">✓</td>
</tr>
</tbody>
</table>