

form.wpcf7-form h3 {
  margin-bottom: 10px;
  color: #faa3b3;
}
form.wpcf7-form h4 {
  margin-bottom: 2px;
}
form.wpcf7-form label {
  display: inline-block;
  margin-bottom: 4px;
}
form.wpcf7-form input,
span.wpcf7-form-control-wrap.your-country {
  padding: 10px 15px;
  width: 100%;
  border: 0;
  color: #000;
  background: #fff;
}

select::-ms-expand {
    display: none;
}

span.wpcf7-form-control-wrap.your-country {
  display: block;
  padding: 0;
  position: relative;
}

span.wpcf7-form-control-wrap.your-country:after {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  background-color: #24ce7b;
  font-family: 'FontAwesome';
  content: '\f107';
  font-size: 45px;
  text-align: center;
  color: #fff;
}



form.wpcf7-form select {
  position: relative;
  padding: 10px 15px;
  z-index: 2;
  width: 100%;
  background: none;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
}

form.wpcf7-form select:focus {
  outline: none;
}

form.wpcf7-form span:after,
form.wpcf7-form span:before {
  display: none;
  content: '';
}
form.wpcf7-form p {
  margin: 0 auto 15px;
}

form.wpcf7-form input[type="submit"] {
  padding-left: 0;
  background: none;
  font-size: 40px;
  color: #c0c3da;
  text-align: left;
}

body span.wpcf7-not-valid-tip {
  display: none !important;
}

@media (min-width: 768px) {
  form.wpcf7-form input {
    margin-bottom: 5px;
    padding: 15px;
  }
  form.wpcf7-form p:nth-of-type(2) {
    float: left;
    margin-right: 2%;
    width: 48%;
  }
  form.wpcf7-form p:nth-of-type(3) {
    float: left;
    margin-left: 2%;
    width: 48%;
  }
  form.wpcf7-form p:nth-of-type(4) {
    float: left;
    margin-right: 4%;
    width: 16%;
  }
  form.wpcf7-form p:nth-of-type(5) {
    float: left;
    margin-right: 2%;
    width: 38%;
  }
  form.wpcf7-form p:nth-of-type(6) {
    float: left;
    margin-left: 2%;
    width: 38%;
  }
  form.wpcf7-form p:nth-of-type(7) {
    float: left;
    margin-right: 2%;
    width: 38%;
  }
  form.wpcf7-form p:nth-of-type(8) {
    float: left;
    margin-left: 2%;
    width: 38%;
  }
  form.wpcf7-form p:nth-of-type(9) {
    float: left;
    margin-left: 4%;
    width: 16%;
  }
  form.wpcf7-form select {
    padding: 15px;
  }

  span.wpcf7-form-control-wrap.your-country {
    width: 38%;
  }
}

@media (min-width: 992px) {
  form.wpcf7-form input[type="submit"] {
    font-size: 60px;
  }
}
/*# sourceMappingURL=main.css.map */
