// font-family: 'Oswald', sans-serif;
// 	font-family: Rockwell, 'Courier Bold', Courier, Georgia, Times, 'Times New Roman', serif;


@mixin rw() {
	font-family: Rockwell, 'Courier Bold', Courier, Georgia, Times, 'Times New Roman', serif;
}

@font-face {
    font-family: O_r;
    src: url(../fonts/Oswald-Regular.ttf);
}

@font-face {
    font-family: O_b;
    src: url(../fonts/Oswald-Bold.ttf);
}


html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: O_r;
	line-height: normal;
}


a:hover,
a:focus,
button:hover,
button:focus,
input[type="submit"]:focus,
input[type="submit"]:hover {
	outline: none;
	text-decoration: none;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	transition: all .2s;
}

img {
	max-width: 100%;
	height: auto;
}


h1 { font-size: 30px; }
h2 { font-size: 26px; }
h3 { font-size: 20px; }
h4 { font-size: 16px; }

h1,h2,h3,h4,h5 {
	font-weight: 700;
}

// .dropdown.open:after,
// .dropdown > a:after {
// 	display: block;
// 	font-family: 'FontAwesome';
// 	float: right;
// }

// .dropdown > a:after {
// 	content: '\f0fe';
// }

// .dropdown.open > a:after {
// 	content: '\f146';
// }

.header {
	margin-bottom: 20px;

	::-webkit-input-placeholder {color: #fff; }
	:-moz-placeholder { /* Firefox 18- */color: #fff;   }
	::-moz-placeholder {  /* Firefox 19+ */color: #fff;   }
	:-ms-input-placeholder {  color: #fff;   }
}

.head-divider {
	margin: 20px auto;
	.flag-banner {
		background: url(../img/flags2.png) repeat-x center center;
		min-height: 15px;
	}
}


.navbar-inverse {
	margin-bottom: 0;
	@include rw;

	.caret {
		display: none;
	}

	.navbar-header {
		padding-top: 10px;
		padding-bottom: 10px;

		& + form {
			display: none;
			margin-bottom: 10px;
			padding: 10px;
			background: #0f2750;
			color: #fff;
			border: 1px solid #576885;

			input,
			button {
				&:focus {
					outline: none;
				}
			}

			input {
				float: right;
				width: 85%;
				border: 0;
				background-color: transparent;
			}

			button {
				float: left;
				width: 15%;
				text-align: left;
				border: 0;
				background: none;
			}
		}
	}

	.navbar-blog {
		display: none;
	}

	.navbar-nav {
		margin-top: 0;
		margin-bottom: 0;

		> li {
			> a {
				color: #fff;
				border-bottom: 1px solid rgba(255,255,255,0.1);

				&:hover,
				&:focus {
					background-color: #000;
				}
			}
		}

		> li.active {
			a {
				background-color: #000;
			}
		}

		& + form {
			display: none;
		}

	}

	.navbar-collapse {
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		border-top: 0;

		.container {
			padding: 0;
		}
	}

	.navbar-search {
		position: absolute;
		top: 17px;
		right: 70px;
		padding: 5px 10px;
		background: none;
		border: 0;
		border-radius: 4px;
		font-size: 18px;
		color: #fff;

		&:focus {
			background-color: #333;
		}
	}
}

.navbar-toggle {
	margin-bottom: 0;
	border: 0;
}

.navbar-brand {
	padding-top: 0;
	padding-bottom: 0;
	height: auto;

	img {
		width: 140px;
	}
}

.page-content {
	margin-bottom: 50px;

	> hr {
		margin: 40px auto;
		border: 1px solid #959595;
		width: 70%;
	}

	.head-divider {
		margin: 50px auto 30px;
	}
		
	article {
		@include rw;
		
		h1 {
			margin-top: 0;
		}

		.post-info {
			display: block;
			margin-bottom: 10px;

			.comment-count {
			  position: relative;
			   display: inline-block;
			   margin-left: 10px;
			   padding: 0 10px;
			   line-height: 24px;
			   font-size: 10px;
			   color: #fff;
			   background-color: #000;
			   min-height: 22px;
			   min-width: 65px;

			   &:before {
			   	display: block;
			   	position: absolute;
			   	top: 6px;
			   	left: -5px;
			   	content: '';
			   	width: 0; 
			    height: 0; 
			    border-top: 5px solid transparent;
				border-bottom: 5px solid transparent; 
				border-right:5px solid #000;
			   }

			}
		}

		.post-info,
		h1,h2,h3,h4,h5 {
			font-family: O_r;
		}

		address {
			display: inline;

			a {
				color: #333;
			}
		}

		> a {
			display: block;
			margin-top: 20px;
			font-size: 16px;
			font-family: O_b;
			color: #cd402e;
			text-decoration: underline;
		}

		.cat-post {
			display: block;
			margin-bottom: 5px;
			font-weight: bold;
			text-transform: uppercase;

			& + img {
				display: block;
				margin-bottom: 20px;
			}

			a {
				color: #555555;

				&:hover,
				&:active {
					color: #cd402e;
				}
			}
		}

	}
}

.sidebar {

	> div {
		padding: 30px 25px;

		> img {
			display: block;
			margin: 0 auto 25px;
		}
	}

	hr {
		margin: 40px auto;
		border: 1px solid #959595;
		width: 60%;
	}

	.side-about {
		background-color: #000;
		color: #e9e6e0;	

		h3 {
			margin: 0 auto 5px;
			text-align: center;
			@include rw;
			font-weight: bold;

			&:first-of-type {
				color: #edd839;
			}

			&:nth-of-type(2) {
				color: #76add9;
			}

			&:nth-of-type(3) {
				margin-bottom: 30px;
				color: #cd402e;
			}

		}
	}

	.side-post {
		@include rw;

		.cat-post {
			color: #555555;
			font-weight: bold;
			text-transform: uppercase;

			a {
				color: #555;
				font-size: 14px;
				text-decoration: none;
				@include rw;

				&:hover,
				&:active {
					color: #cd402e;
				}
			}
		}

		h3 {
			margin-top: 0;
			font-family: O_b;
		}

		img {
			margin-bottom: 15px;
			width: 100%;
		}

		a {
			font-family: O_b;
			font-size: 16px;
			font-weight: bold;
			text-decoration: underline;
			color: #000;

			&:hover,
			&:active {
				color: #cd402e;
			}
		}
	}

	.side-popular {
		background-color: #e9e6e0;
	}

	.side-facebook	{
		background-color: #f5f1ea;
	}

	.site-ad {
		background-color: #e9e6e0;
	}

	.side-contact {
		background-color: #000;
		color: #e9e6e0;


		> div {
			margin-bottom: 20px;
			font-size: 16px;

			span {
				display: block;
				font-size: 14px;
			}

			a {
				color: #e9e6e0;

				&:hover,
				&:active {
					color: #cd402e;
				}
			}
		}

		> a {
			display: block;
			margin-top: 20px;
			color: #edd839;
			font-size: 16px;
			font-weight: bold;
			text-decoration: underline;

				&:hover,
				&:active {
					color: #cd402e;
				}
		}
	}
}

.navigation {
	text-align: center;
}

.wp-paginate {
	display: inline-block;
	background-color: #fff;
	
	.current,
	a {
		display: inline-block;
		margin: auto 5px !important;
		padding: 0 !important;
		width: 30px;
		height: 30px;
		line-height: 30px;
		border-radius: 100% !important;
		border: 0 !important;
		font-size: 12px;

		&:hover,
		&:active {
			background-color: #000 !important;
			color: #fff !important;
		}
	}

	.current {
		background-color: #000 !important;
	}

	.title {
		display: none;
	}
}

.footer {
	margin-top: 50px;
	@include rw;
	text-align: center;

	.caret {
		display: none;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	> div {
		padding: 20px 0;
	}

	.footer-a {
		background-color: #1e1e1e;

		a {
			display: block;
			padding: 2px 5px;
			color: #e9e6e0;

			&:hover,
			&:active {
				color: #cd402e
			}
		}
	}

	.footer-b {
		background-color: #edd839;

		a {
			display: block;
			padding: 2px 5px;
			color: #000;

			&:hover,
			&:active {
				color: #cd402e;
			}
		}

		.footer-social {
			margin-top: 10px;

			li {
				display: inline-block;
				font-size: 20px;
			}
		}
	}

	.footer-c  {
		background-color: #f5f1ea;

		small {
			display: block;
			margin-top: 10px;
			color: #003078;
		}
	}
}

form.wpcf7-form {
	input,
	textarea {
		padding: 10px;
		width: 100%; 
	}

	span.wpcf7-not-valid-tip {
		display: none;
	}

	input[type="submit"] {
		padding-top: 15px;
		padding-bottom: 15px;
		background-color: #000;
		color: #fff;
		border: 0;
		font-size: 18px;
	}
}

div.wpcf7 img.ajax-loader {
	display: block;
	margin: 10px auto 0 !important;
}

@media (max-width: 767px) { 

	div.simplesocialbutton {
	margin-right: 10px;

		> div {
			width: 60px;
		}
	}
}


@media (min-width: 480px) { 
}


@media (min-width:768px) { 

/* 
.dropdown > a:after,
.dropdown.open > a:after {
	content: '';
}
 */
.head-divider {
	margin: 10px auto;
}

.navbar-inverse {
	background: none;
	border: 0;
	border-radius: 0;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	
	.navbar-header {
		margin-top: 50px;
	}
	
	.navbar-nav {
		> li {
			> a {
				padding-left: 0;
				border-bottom: 0;
				font-size: 12px;

				&:focus,
				&:hover {
					background: none !important;
					color: #edd839;
				}
			}
		}

		> li.active {
			a {
				background: none !important;
				color: #edd839 !important;
			}
		}
	}

	.navbar-search {
		display: none;
	}

	.navbar-blog {
		display: block;
		margin-top: 50px;
		float: right;
		width: 55%;

		li {
			display: inline-block;

			a {
				color: #000;
				font-weight: bold;

				&:hover,
				&:active {
					color: #cd402e;
				}
			}
		}

		.sec-top {
			margin-top: 30px;
			border-bottom: 2px solid #000;

			&:after {
				display: block;
				content: '';
				clear: both;
			}

			h1 {
				margin: 0;
				float: left;
				font-family: O_b;
				color: #cd402e;
			}

			.fa {
				font-size: 18px;
			}



			ul {
				float: right;

				li {

					a {
						display: block;
						padding-right: 10px;		
					}

					&:last-child {
						a {
							padding: 9px 12px;
							background: #000;
							color: #76add9;

							&:hover,
							&:active {
								color: #edd839;
							}
						}
					}
				}
			}
		}

		.sec-bottom {
			a {
				display: block;
				padding: 5px 20px 0 0;
				text-transform: uppercase;
			}
		}
	}

	.navbar-collapse {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		background-color: #1e1e1e;
		overflow: hidden !important;

		form {
			display: block;
			margin-right: 15px;
			float: right;
			padding: 17px 10px;
			width: 175px;
			background: #0f2750;
			color: #fff;
			border: 1px solid #576885;
			border-top: 0;
			border-bottom: 0;
			font-size: 12px;

			&:after {
				display: block;
				content: '';
				clear: both
			}

			input,
			button {
				&:focus {
					outline: none;
				}
			}

			input {
				float: right;
				width: 85%;
				border: 0;
				background-color: transparent;
			}

			button {
				float: left;
				width: 15%;
				text-align: left;
				border: 0;
				background: none;
			}
		}
	}

}

.navbar-brand {
	img {
		width: 300px;
	}
}

.navigation {
	background: url(../img/flags2.png) repeat-x center center;
}

.wp-paginate {
	padding-left: 10px !important;
	padding-right: 10px !important;
}

.footer {
	
	.footer-a {

		a {
			font-weight: bold;
		}

		ul {
			float: left;
		}

		li {
			display: inline-block;
			text-transform: uppercase;
		}

		ul + a {
			display: block;
			float: right;
			text-align: right;
		}
	}

	.footer-b {
		.footer-nav {
			float: left;

			li {
				display: inline-block;
			}
		}

		.footer-social {
			margin-top: 0;
			float: right;
		}
	}

	.footer-c {
		img {
			float: left;
			width: 400px;
		}

		small {
			margin: 20px auto 0;
			float: right;
		}
	}
}


}


@media (min-width: 992px) { 


h1 { font-size: 36px; }
h2 { font-size: 30px; }
h3 { font-size: 24px; }
h4 { font-size: 18px; }

.head-divider {
	margin-top: 20px;
}

.navbar-brand {
	img {
		width: 400px;
	}
}

.navbar-inverse {

	.navbar-nav {
		> li {
			> a {
				padding-right: 25px;
				font-size: 14px;
			}
		}
	}

	.navbar-blog {

		.sec-top {
			margin-top: 50px;

			h1 {
				position: relative;
				bottom: 10px;
			}

			.fa {
				font-size: 20px;
			}

			ul {
				position: relative;
				top: 5px;
			}
		}

		.sec-bottom {
			a {
				padding-right: 25px;
				font-size: 18px;
			}
		}
	}

	.navbar-collapse {
		.container {
			padding-left: 15px;
			padding-right: 15px;
		}

		form {
			margin-right: 0;
			width: 200px;
			font-size: 14px;
		}
	}
}

.page-content {
	> hr {
		margin-top: 60px;
		margin-bottom: 60px;
		width: 80%;
	}

	article {
		> a {
			font-size: 20px;

			&:hover,
			&:active {
				color: #333;
			}
		}
	}
}

.sidebar {
	.side-contact {
		> a {
			font-size: 18px;
		}
	}
}

form.wpcf7-form {
	width: 70%;
}


.footer {
	.footer-a {
		padding: 30px 0;
		a {
			padding: 0 30px 0 0;
			font-size: 20px;
		}

		ul + a {
			padding: 0;
		}
	}

	.footer-b {
		padding: 10px 0;

		.footer-nav {
			a {
				padding: 0 15px 0 0;
			}
		}

		.footer-social {
			a {
				padding: 0 0 0 15px;
			}
		}
	}

	.footer-c {
		padding: 40px 0;

		img {
			width: 600px;
		}

		small {
			margin-top: 30px;
			font-size: 16px;
		}
	}
}
 
}


@media (min-width: 1200px) {

.container {
	width: 960px;
} 

}
















