@font-face {
  font-family: O_r;
  src: url(../fonts/Oswald-Regular.ttf);
}
@font-face {
  font-family: O_b;
  src: url(../fonts/Oswald-Bold.ttf);
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: O_r;
  line-height: normal;
}

a:hover,
a:focus,
button:hover,
button:focus,
input[type="submit"]:focus,
input[type="submit"]:hover {
  outline: none;
  text-decoration: none;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

h1, h2, h3, h4, h5 {
  font-weight: 700;
}

.header {
  margin-bottom: 20px;
}
.header ::-webkit-input-placeholder {
  color: #fff;
}
.header :-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}
.header ::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}
.header :-ms-input-placeholder {
  color: #fff;
}

.head-divider {
  margin: 20px auto;
}
.head-divider .flag-banner {
  background: url(../img/flags2.png) repeat-x center center;
  min-height: 15px;
}

.navbar-inverse {
  margin-bottom: 0;
  font-family: Rockwell, 'Courier Bold', Courier, Georgia, Times, 'Times New Roman', serif;
}
.navbar-inverse .caret {
  display: none;
}
.navbar-inverse .navbar-header {
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar-inverse .navbar-header + form {
  display: none;
  margin-bottom: 10px;
  padding: 10px;
  background: #0f2750;
  color: #fff;
  border: 1px solid #576885;
}
.navbar-inverse .navbar-header + form input:focus,
.navbar-inverse .navbar-header + form button:focus {
  outline: none;
}
.navbar-inverse .navbar-header + form input {
  float: right;
  width: 85%;
  border: 0;
  background-color: transparent;
}
.navbar-inverse .navbar-header + form button {
  float: left;
  width: 15%;
  text-align: left;
  border: 0;
  background: none;
}
.navbar-inverse .navbar-blog {
  display: none;
}
.navbar-inverse .navbar-nav {
  margin-top: 0;
  margin-bottom: 0;
}
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  background-color: #000;
}
.navbar-inverse .navbar-nav > li.active a {
  background-color: #000;
}
.navbar-inverse .navbar-nav + form {
  display: none;
}
.navbar-inverse .navbar-collapse {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-top: 0;
}
.navbar-inverse .navbar-collapse .container {
  padding: 0;
}
.navbar-inverse .navbar-search {
  position: absolute;
  top: 17px;
  right: 70px;
  padding: 5px 10px;
  background: none;
  border: 0;
  border-radius: 4px;
  font-size: 18px;
  color: #fff;
}
.navbar-inverse .navbar-search:focus {
  background-color: #333;
}

.navbar-toggle {
  margin-bottom: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
  height: auto;
}
.navbar-brand img {
  width: 140px;
}

.page-content {
  margin-bottom: 50px;
}
.page-content > hr {
  margin: 40px auto;
  border: 1px solid #959595;
  width: 70%;
}
.page-content .head-divider {
  margin: 50px auto 30px;
}
.page-content article {
  font-family: Rockwell, 'Courier Bold', Courier, Georgia, Times, 'Times New Roman', serif;
}
.page-content article h1 {
  margin-top: 0;
}
.page-content article .post-info {
  display: block;
  margin-bottom: 10px;
}
.page-content article .post-info .comment-count {
  position: relative;
  display: inline-block;
  margin-left: 10px;
  padding: 0 10px;
  line-height: 24px;
  font-size: 10px;
  color: #fff;
  background-color: #000;
  min-height: 22px;
  min-width: 65px;
}
.page-content article .post-info .comment-count:before {
  display: block;
  position: absolute;
  top: 6px;
  left: -5px;
  content: '';
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #000;
}
.page-content article .post-info,
.page-content article h1, .page-content article h2, .page-content article h3, .page-content article h4, .page-content article h5 {
  font-family: O_r;
}
.page-content article address {
  display: inline;
}
.page-content article address a {
  color: #333;
}
.page-content article > a {
  display: block;
  margin-top: 20px;
  font-size: 16px;
  font-family: O_b;
  color: #cd402e;
  text-decoration: underline;
}
.page-content article .cat-post {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  text-transform: uppercase;
}
.page-content article .cat-post + img {
  display: block;
  margin-bottom: 20px;
}
.page-content article .cat-post a {
  color: #555555;
}
.page-content article .cat-post a:hover, .page-content article .cat-post a:active {
  color: #cd402e;
}

.sidebar > div {
  padding: 30px 25px;
}
.sidebar > div > img {
  display: block;
  margin: 0 auto 25px;
}
.sidebar hr {
  margin: 40px auto;
  border: 1px solid #959595;
  width: 60%;
}
.sidebar .side-about {
  background-color: #000;
  color: #e9e6e0;
}
.sidebar .side-about h3 {
  margin: 0 auto 5px;
  text-align: center;
  font-family: Rockwell, 'Courier Bold', Courier, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}
.sidebar .side-about h3:first-of-type {
  color: #edd839;
}
.sidebar .side-about h3:nth-of-type(2) {
  color: #76add9;
}
.sidebar .side-about h3:nth-of-type(3) {
  margin-bottom: 30px;
  color: #cd402e;
}
.sidebar .side-post {
  font-family: Rockwell, 'Courier Bold', Courier, Georgia, Times, 'Times New Roman', serif;
}
.sidebar .side-post .cat-post {
  color: #555555;
  font-weight: bold;
  text-transform: uppercase;
}
.sidebar .side-post .cat-post a {
  color: #555;
  font-size: 14px;
  text-decoration: none;
  font-family: Rockwell, 'Courier Bold', Courier, Georgia, Times, 'Times New Roman', serif;
}
.sidebar .side-post .cat-post a:hover, .sidebar .side-post .cat-post a:active {
  color: #cd402e;
}
.sidebar .side-post h3 {
  margin-top: 0;
  font-family: O_b;
}
.sidebar .side-post img {
  margin-bottom: 15px;
  width: 100%;
}
.sidebar .side-post a {
  font-family: O_b;
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
  color: #000;
}
.sidebar .side-post a:hover, .sidebar .side-post a:active {
  color: #cd402e;
}
.sidebar .side-popular {
  background-color: #e9e6e0;
}
.sidebar .side-facebook {
  background-color: #f5f1ea;
}
.sidebar .site-ad {
  background-color: #e9e6e0;
}
.sidebar .side-contact {
  background-color: #000;
  color: #e9e6e0;
}
.sidebar .side-contact > div {
  margin-bottom: 20px;
  font-size: 16px;
}
.sidebar .side-contact > div span {
  display: block;
  font-size: 14px;
}
.sidebar .side-contact > div a {
  color: #e9e6e0;
}
.sidebar .side-contact > div a:hover, .sidebar .side-contact > div a:active {
  color: #cd402e;
}
.sidebar .side-contact > a {
  display: block;
  margin-top: 20px;
  color: #edd839;
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
}
.sidebar .side-contact > a:hover, .sidebar .side-contact > a:active {
  color: #cd402e;
}

.navigation {
  text-align: center;
}

.wp-paginate {
  display: inline-block;
  background-color: #fff;
}
.wp-paginate .current,
.wp-paginate a {
  display: inline-block;
  margin: auto 5px !important;
  padding: 0 !important;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 100% !important;
  border: 0 !important;
  font-size: 12px;
}
.wp-paginate .current:hover, .wp-paginate .current:active,
.wp-paginate a:hover,
.wp-paginate a:active {
  background-color: #000 !important;
  color: #fff !important;
}
.wp-paginate .current {
  background-color: #000 !important;
}
.wp-paginate .title {
  display: none;
}

.footer {
  margin-top: 50px;
  font-family: Rockwell, 'Courier Bold', Courier, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
}
.footer .caret {
  display: none;
}
.footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer > div {
  padding: 20px 0;
}
.footer .footer-a {
  background-color: #1e1e1e;
}
.footer .footer-a a {
  display: block;
  padding: 2px 5px;
  color: #e9e6e0;
}
.footer .footer-a a:hover, .footer .footer-a a:active {
  color: #cd402e;
}
.footer .footer-b {
  background-color: #edd839;
}
.footer .footer-b a {
  display: block;
  padding: 2px 5px;
  color: #000;
}
.footer .footer-b a:hover, .footer .footer-b a:active {
  color: #cd402e;
}
.footer .footer-b .footer-social {
  margin-top: 10px;
}
.footer .footer-b .footer-social li {
  display: inline-block;
  font-size: 20px;
}
.footer .footer-c {
  background-color: #f5f1ea;
}
.footer .footer-c small {
  display: block;
  margin-top: 10px;
  color: #003078;
}

form.wpcf7-form input,
form.wpcf7-form textarea {
  padding: 10px;
  width: 100%;
}
form.wpcf7-form span.wpcf7-not-valid-tip {
  display: none;
}
form.wpcf7-form input[type="submit"] {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #000;
  color: #fff;
  border: 0;
  font-size: 18px;
}

div.wpcf7 img.ajax-loader {
  display: block;
  margin: 10px auto 0 !important;
}

@media (max-width: 767px) {
  div.simplesocialbutton {
    margin-right: 10px;
  }
  div.simplesocialbutton > div {
    width: 60px;
  }
}
@media (min-width: 768px) {
  /* 
  .dropdown > a:after,
  .dropdown.open > a:after {
  	content: '';
  }
   */
  .head-divider {
    margin: 10px auto;
  }

  .navbar-inverse {
    background: none;
    border: 0;
    border-radius: 0;
  }
  .navbar-inverse ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .navbar-inverse .navbar-header {
    margin-top: 50px;
  }
  .navbar-inverse .navbar-nav > li > a {
    padding-left: 0;
    border-bottom: 0;
    font-size: 12px;
  }
  .navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
    background: none !important;
    color: #edd839;
  }
  .navbar-inverse .navbar-nav > li.active a {
    background: none !important;
    color: #edd839 !important;
  }
  .navbar-inverse .navbar-search {
    display: none;
  }
  .navbar-inverse .navbar-blog {
    display: block;
    margin-top: 50px;
    float: right;
    width: 55%;
  }
  .navbar-inverse .navbar-blog li {
    display: inline-block;
  }
  .navbar-inverse .navbar-blog li a {
    color: #000;
    font-weight: bold;
  }
  .navbar-inverse .navbar-blog li a:hover, .navbar-inverse .navbar-blog li a:active {
    color: #cd402e;
  }
  .navbar-inverse .navbar-blog .sec-top {
    margin-top: 30px;
    border-bottom: 2px solid #000;
  }
  .navbar-inverse .navbar-blog .sec-top:after {
    display: block;
    content: '';
    clear: both;
  }
  .navbar-inverse .navbar-blog .sec-top h1 {
    margin: 0;
    float: left;
    font-family: O_b;
    color: #cd402e;
  }
  .navbar-inverse .navbar-blog .sec-top .fa {
    font-size: 18px;
  }
  .navbar-inverse .navbar-blog .sec-top ul {
    float: right;
  }
  .navbar-inverse .navbar-blog .sec-top ul li a {
    display: block;
    padding-right: 10px;
  }
  .navbar-inverse .navbar-blog .sec-top ul li:last-child a {
    padding: 9px 12px;
    background: #000;
    color: #76add9;
  }
  .navbar-inverse .navbar-blog .sec-top ul li:last-child a:hover, .navbar-inverse .navbar-blog .sec-top ul li:last-child a:active {
    color: #edd839;
  }
  .navbar-inverse .navbar-blog .sec-bottom a {
    display: block;
    padding: 5px 20px 0 0;
    text-transform: uppercase;
  }
  .navbar-inverse .navbar-collapse {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1e1e1e;
    overflow: hidden !important;
  }
  .navbar-inverse .navbar-collapse form {
    display: block;
    margin-right: 15px;
    float: right;
    padding: 17px 10px;
    width: 175px;
    background: #0f2750;
    color: #fff;
    border: 1px solid #576885;
    border-top: 0;
    border-bottom: 0;
    font-size: 12px;
  }
  .navbar-inverse .navbar-collapse form:after {
    display: block;
    content: '';
    clear: both;
  }
  .navbar-inverse .navbar-collapse form input:focus,
  .navbar-inverse .navbar-collapse form button:focus {
    outline: none;
  }
  .navbar-inverse .navbar-collapse form input {
    float: right;
    width: 85%;
    border: 0;
    background-color: transparent;
  }
  .navbar-inverse .navbar-collapse form button {
    float: left;
    width: 15%;
    text-align: left;
    border: 0;
    background: none;
  }

  .navbar-brand img {
    width: 300px;
  }

  .navigation {
    background: url(../img/flags2.png) repeat-x center center;
  }

  .wp-paginate {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .footer .footer-a a {
    font-weight: bold;
  }
  .footer .footer-a ul {
    float: left;
  }
  .footer .footer-a li {
    display: inline-block;
    text-transform: uppercase;
  }
  .footer .footer-a ul + a {
    display: block;
    float: right;
    text-align: right;
  }
  .footer .footer-b .footer-nav {
    float: left;
  }
  .footer .footer-b .footer-nav li {
    display: inline-block;
  }
  .footer .footer-b .footer-social {
    margin-top: 0;
    float: right;
  }
  .footer .footer-c img {
    float: left;
    width: 400px;
  }
  .footer .footer-c small {
    margin: 20px auto 0;
    float: right;
  }
}
@media (min-width: 992px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 18px;
  }

  .head-divider {
    margin-top: 20px;
  }

  .navbar-brand img {
    width: 400px;
  }

  .navbar-inverse .navbar-nav > li > a {
    padding-right: 25px;
    font-size: 14px;
  }
  .navbar-inverse .navbar-blog .sec-top {
    margin-top: 50px;
  }
  .navbar-inverse .navbar-blog .sec-top h1 {
    position: relative;
    bottom: 10px;
  }
  .navbar-inverse .navbar-blog .sec-top .fa {
    font-size: 20px;
  }
  .navbar-inverse .navbar-blog .sec-top ul {
    position: relative;
    top: 5px;
  }
  .navbar-inverse .navbar-blog .sec-bottom a {
    padding-right: 25px;
    font-size: 18px;
  }
  .navbar-inverse .navbar-collapse .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .navbar-inverse .navbar-collapse form {
    margin-right: 0;
    width: 200px;
    font-size: 14px;
  }

  .page-content > hr {
    margin-top: 60px;
    margin-bottom: 60px;
    width: 80%;
  }
  .page-content article > a {
    font-size: 20px;
  }
  .page-content article > a:hover, .page-content article > a:active {
    color: #333;
  }

  .sidebar .side-contact > a {
    font-size: 18px;
  }

  form.wpcf7-form {
    width: 70%;
  }

  .footer .footer-a {
    padding: 30px 0;
  }
  .footer .footer-a a {
    padding: 0 30px 0 0;
    font-size: 20px;
  }
  .footer .footer-a ul + a {
    padding: 0;
  }
  .footer .footer-b {
    padding: 10px 0;
  }
  .footer .footer-b .footer-nav a {
    padding: 0 15px 0 0;
  }
  .footer .footer-b .footer-social a {
    padding: 0 0 0 15px;
  }
  .footer .footer-c {
    padding: 40px 0;
  }
  .footer .footer-c img {
    width: 600px;
  }
  .footer .footer-c small {
    margin-top: 30px;
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 960px;
  }
}

/*# sourceMappingURL=main.css.map */
