<?php
  echo $this->tag->stylesheetLink('themes3/themes/summernote2/summernote.css');
  echo $this->tag->stylesheetLink('themes3/css/list-type.css'); 
  echo $this->tag->javascriptInclude('themes3/themes/summernote2/summernote.js');
  // echo $this->tag->javascriptInclude('themes3/themes/matchHeight/jquery.matchHeight.js'); 
?>
<script type="text/javascript">
    $(function(){
        $(".summernote").summernote({
                height: 120,
                codemirror: {
                mode: 'text/html',
                htmlMode: true,
                lineNumbers: true,
                theme: 'default'
            }
       });
        $('.note-editable').keyup(function(){
            $("#content").code();
          $('#target').html($(this).val());
        });
    });
</script>


    <div class="col-md-12 " >
        <ul class="breadcrumb pull-left" style="padding:5px 0px; margin:0px">
            <li><i class="fa fa-home"></i> MyBarangay</li>
            <li> Business</li>
            <li> Manage my Ad</li>
            <li class="active">AD Campaign</li>
        </ul>
    </div>
    <div class="clearfix"></div>

    <div class="col-md-12 boxiy" > <!-- start col-md-6 -->
 
        <div class="col-md-6">
            <div class="panel">

                <div class="panel-body">
                    <?php echo Phalcon\Tag::form(array("method" => "POST")); ?>
                        <h4 for="business">Choose Business:</h4>
                        <?php  
                        $getBizDetail = Business::findFirst($claimRequests->business_id);
                            $busname = 'Business Name';
                          if($getBizDetail){
                            $busname = $getBizDetail->name;
                                echo '<select name="business" class="form-control">';
                                    echo "<option value='".$getBizDetail->id."'>".$getBizDetail->name."</option>";
                                echo '</select>';
                            }
                        ?>
                        <small>
                        our ad should tell users what makes your business unique. This text will also display in the ' 
                        <i class="fa fa-credit-card"></i> ' tab on your page.
                        </small>

                        <label for="content">Describe your Business's Specialties</label>
                        <textarea id="content" name="content" rows="4" class=" summernote">
                        <?php if (isset($postContent)) { echo $postContent; }?>
                        </textarea>
                       
                    <?php echo Phalcon\Tag::endForm(); ?>
                </div>

                <div class="panel-footer">
                     <button id="preview" class="btn btn-sm btn-grave">Preview</button>
                
                     <button type="button" class="btn btn-sm btn-grave pull-right" onclick="submitAd(<?=$claimRequests->member_id .','. $claimRequests->business_id?>)">SUBMIT</button>
                    <div class="clearfix"></div>
                    <div class="message"></div>
                </div>
            </div>

        </div>

        <div class="col-md-6">
 
            <div class="panel preview" style="display:none">
                <div class="panel-body">
                    
                    <div class="item-list make-grid" style="width:250px">
                        <div class="cornerRibbons featuredAds">
                            <a href="#"> AD</a>
                        </div>
                        <div class="col-sm-2 no-padding photobox">
                            <div class="add-image custom-thumbnail" > 
                                <?php  
                                    $img = 'img/nophoto.jpg'; 
                                    $businessPrimaryPic = BusinessImages::findFirst(array('business_id="'.$getClaimedBusiness->business_id.'" and primary_pic="Yes"'));
                                    if ($businessPrimaryPic) {
                                        $img = $businessPrimaryPic->file_path.$businessPrimaryPic->filename;
                                    } 
                                    echo '<a href="'.$this->url->getBaseUri().'business/view2/'.$getClaimedBusiness->business_id.'">';
                                    echo Phalcon\Tag::image(array($img, 'class' => 'img-responsive ', 'style' => 'cursor:pointer'));
                                    echo '<a/>';
                                ?>

                            </div>
                        </div>
                        <div class="col-sm-7 add-desc-box"  >
                            <div class="add-details">
                                <h4 class="add-title" style="font-weight:bold" ><?php echo $busname; ?></h4>
                                <span class="info-row">
                                    <blockquote >
                     
                                    <div id="target"></div>
                                    </blockquote>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-3 text-right  price-box" style="padding-bottom:10px;">
                            <?php  $profilePic = 'http://placehold.it/50x50&text=NO+PROFILE+PIC'; ?>
                            <div class="media" style="border-bottom:1px solid #ddd;border-top:1px solid #ddd;margin:5px 0px;padding-top:5px">
                                <div class="media-body">
                                    <span class="media-heading ellipsis4">For more information you can view our services</span>
                                </div>
                            </div>
                            <a class="btn btn-primary  btn-sm make-favorite" href="#"> 
                                <i class="fa fa-eye"></i>  <span>Click me</span> 
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<div class="clearfix"></div>

<?php

     $check_biz_ad = Adcampaigns::findFirst("business_id='".$claimRequests->business_id."'");
     if($check_biz_ad){
?>

            <div class="panel " >
                <div class="panel-body">
                    
                    <div class="item-list make-grid" style="width:250px">
                        <div class="cornerRibbons featuredAds">
                            <a href="#"> AD</a>
                        </div>
                        <div class="col-sm-2 no-padding photobox">
                            <div class="add-image custom-thumbnail" > 
                                <?php  
                                    $img = 'img/nophoto.jpg'; 
                                    $businessPrimaryPic = BusinessImages::findFirst(array('business_id="'.$getClaimedBusiness->business_id.'" and primary_pic="Yes"'));
                                    if ($businessPrimaryPic) {
                                        $img = $businessPrimaryPic->file_path.$businessPrimaryPic->filename;
                                    } 
                                    echo '<a href="'.$this->url->getBaseUri().'business/view2/'.$getClaimedBusiness->business_id.'">';
                                    echo Phalcon\Tag::image(array($img, 'class' => 'img-responsive ', 'style' => 'cursor:pointer'));
                                    echo '<a/>';
                                ?>

                            </div>
                        </div>
                        <div class="col-sm-7 add-desc-box"  >
                            <div class="add-details">
                                <h4 class="add-title" style="font-weight:bold" ><?php echo $busname; ?></h4>
                                <span class="info-row">
                                    <blockquote >
                                        <?php  echo $check_biz_ad->content; ?>
                                           
                                    </blockquote>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-3 text-right  price-box" style="padding-bottom:10px;">
                            <?php  $profilePic = 'http://placehold.it/50x50&text=NO+PROFILE+PIC'; ?>
                            <div class="media" style="border-bottom:1px solid #ddd;border-top:1px solid #ddd;margin:5px 0px;padding-top:5px">
                                <div class="media-body">
                                    <span class="media-heading ellipsis4">For more information you can view our services</span>
                                </div>
                            </div>
                            <a class="btn btn-primary  btn-sm make-favorite" href="#"> 
                                <i class="fa fa-eye"></i>  <span>Click me</span> 
                            </a>
                        </div>
                    </div>
                </div>
            </div>
<?php
    }
?>






    </div> <!-- end col-md-6 -->



            </div><!-- end page wrapper body -->
        </div><!-- end body wrapper row -->
    </div><!-- end body wrapper container-fluid -->
</div><!-- end body wrapper -->
<script type="text/javascript">
    function submitAd (member_id, business_id) {
        console.log(member_id + ' ' + business_id);
        var textareaValue = $("#content").code();
      if(textareaValue.length <= 62){
        $('.message').text('Content should have atleast 10 characters long..');
      }else{
        $('.message').remove();
          $.ajax({
            url: "<?php echo $this->url->getBaseUri() . 'biz/setcampaignadu'; ?>",
            type: 'GET',
            data: {member_id : member_id, business_id : business_id, content : textareaValue},
            dataType: 'json',
            success: function(result){
              alertify.alert(result.message);
            },
            error: function(){
                alertify.error("WHOOPS, SOMETHING WENT WRONG, PLEASE TRY AGAIN.");
            }
          });
        }
    } 

    $(function(){
        $('#preview').click(function(){
            var textareaValue = $("#content").code();
            if(textareaValue.length <= 62){
                $('.message').text('Content should have atleast 10 characters long..');
            }else{
                $('.message').remove();
                $('#target').html(textareaValue);
                $('.preview').fadeIn();
            }
        });
    });


</script>