<div class="body-wrapper" style="margin-top:110px;"> <!-- start body wrapper -->
  <div class="container"  style=" background:#fff"> <!-- start body wrapper container-fluid -->
    <div class="row" > <!-- start body wrapper row -->

  <div style="margin-bottom:20px;"><!-- page wrapper body -->
  
   <!-- start left panel -->
   <div class="col-md-3" style="">
   	<?php if(isset($userSession['id'])) { $memberId = $userSession['id']; } else { $memberId = ''; } ?>
	<?php if($memberId == $member->id) { ?>
	<?php $this->partial("layouts/elements/business_profile_widget") ?>
	<?php } ?>
	<?php if($memberId != $member->id) { ?>
	<?php $this->partial("layouts/elements/business_widget") ?>
	<?php } ?>
   </div>
   <!-- end left panel -->


      <div class="col-md-6" > <!-- start col-md-6 -->
	<div class="container containerBorder col-md-12">
			<div class="col-md-12">
				<div class="col-md-12">
					<h2 class="line-height-50 colorBlue"><strong><?php echo Phalcon\Tag::linkTo('member/page/'.$member->id, $member->first_name.' '.substr($member->last_name, 0, 1).'.'); ?></strong><strong class="text-danger"> : Add photo</strong></h2>
				</div>
				<div class="col-md-12">
					<div class="container col-md-12 ">
						<?php  echo Phalcon\Tag::form(array("biz/add_photo/".$member->id, "method" => "post", "enctype"=>"multipart/form-data")); ?>
						<div class="form-group">
							<input name="photo" type="file" class="form-control file" id="photo" >
						</div>
						<div class="form-group">
							<label> Caption</label>
							<textarea name="caption" type="textarea" rows="5" class="form-control" placeHolder=""></textarea>
						</div>
						<div class="form-group">
							<div class="pull-right text-center">
								<?php echo Phalcon\Tag::linkTo(array('biz/page/'.$member->id, 'Cancel', 'class' => 'btn btn-danger'));?>
								<button type="submit" class="btn btn-primary">&nbsp;Add&nbsp;</button>
							</div>
						</div>
						<?php  echo Phalcon\Tag::endForm(); ?>
					</div>
					<br>
					<br>
					<br>
				</div>
			</div>
		</div>
   	</div> <!-- end col-md-6 -->


   <!-- start right panel -->
      <div class="col-md-3" >
<div class="panel containerBorder" style="height:310px;">
			<img id="imgPreview" src="#" alt="your image" class="hidden img-responsive img-rounded img-thumbnail"/>
		</div>
   </div>
   <!-- end right panel -->
<div class="col-md-9">
		<br>
		<div class="panel containerBorder">
			<div class="panel-body">
			<?php foreach ($photos as $key => $photo) { ?>
				<div class="col-md-3">
					<?php echo Phalcon\Tag::image(array($photo->file_path.$photo->filename, 'class' => 'img-responsive img-rounded img-thumbnail')); ?>
					<div class="col-md-12">
						<div class="pull-right">
							<?php //echo Phalcon\Tag::linkTo(array('biz/delete_photo/'.$photo->id, '<i class="text-danger fa fa-trash" data-toggle="tooltip" title="Delete photo"></i>')); ?>
							&nbsp;
							<?php //echo Phalcon\Tag::linkTo(array('biz/update_photo_caption/'.$photo->id, '<i class="text-warning  glyphicon glyphicon-pencil" data-toggle="tooltip" title="Update photo caption"></i>')); ?>
							&nbsp;
							<?php echo Phalcon\Tag::linkTo(array('biz/set_primary_photo/'.$photo->id, '<i class="text-primary fa fa-picture-o" data-toggle="tooltip" title="Set primary photo"></i>')); ?>
						</div>
					</div>
					<blockquote>
						<p><?php echo $photo->caption; ?></p>
					</blockquote>
				</div>
			<?php } ?>
			</div>
		</div>
	</div>
  </div><!-- end page wrapper body -->

 </div><!-- end body wrapper row -->
  </div><!-- end body wrapper container-fluid -->
</div><!-- end body wrapper -->

<script type="text/javascript">
	$(document).ready(function(){
		function readURL(input) {
		    if (input.files && input.files[0]) {
		        var reader = new FileReader();
		        reader.onload = function (e) {
		            $('#imgPreview').attr('src', e.target.result);
		            $('#imgPreview').removeClass('hidden');
		        }
		        reader.readAsDataURL(input.files[0]);
		    }
		}

		$("#photo").change(function(){
		    readURL(this);
		});
	});
</script>
