    


    <div class="col-md-12 "  >
      <ul class="breadcrumb pull-left" style="padding:5px 0px; margin:0px; text-index:1">
          <li><i class="fa fa-home"></i> MyBarangay</li>
          <li> Business</li>
          <li class="active">profile</li>
      </ul>
    </div>
    <div class="clearfix"></div>

    <!-- start col-md-9 -->
    <div class="col-md-12 boxiy" > 


        <div role="tabpanel">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#home" aria-controls="home" role="tab" data-toggle="tab">home</a>
                </li>
                <li role="presentation">
                    <a href="#tab" aria-controls="tab" role="tab" data-toggle="tab">tab</a>
                </li>
            </ul>
        
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home">...</div>
                <div role="tabpanel" class="tab-pane" id="tab">...</div>
            </div>
        </div>





    </div>