<div style="background-image: url('<?=$this->url->getBaseUri() . "images/worldmap_template.jpg"?>');
  backdround-color: #cccccc; height: 500px;">

<div class="container" style="padding: 30px 0 0 0;">
<div class="col-md-12" style="margin-top: 70px;">

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Search Business Page(s) <?php echo "you're in page ".$business->current. " of ". $business->total_pages; ?></h3>
  </div>
  <div class="panel-body"></div>

  <table class="table" style="width: 100%;">
<?php if (isset($business)) { ?>
<?php foreach ($business->items as $biz) { ?>
    <tr>
	  <td style="width: 10%;"> 
		<?php
			$bizPhoto = 'http://placehold.it/150x80';
			$rPhotoCount = count($biz->BusinessImages);
			if($rPhotoCount >0){ 
                          $bizPhoto = $biz->BusinessImages[0]->file_path.$biz->BusinessImages[0]->filename;
                        } 
			echo Phalcon\Tag::image(array($bizPhoto, 'style' => 'width: 150px; height: 80px;'));
		?>		
		<!--<img src="http://placehold.it/150x80">-->
	  </td>
	  <td style="width: 40%;"><a href="<?php echo $this->url->getBaseUri() . 'business/view2/' . $biz->id; ?>"><?php echo $biz->name; ?></a> <?= "<br>". $biz->street . " " .$biz->city?> </td>
	  <td style="width: 40%; ">
		 <div class="rating1" style="margin-top:-15px;margin-left:40px;padding-top: 30px;">
                                        <?php
                                                $ctr = 0; 
                                                while($ctr<$biz->average_rate) {
                                                    $ctr++;
                                                }
                                                $arrayRate = explode('.', $biz->average_rate);
                                                  if(isset($arrayRate[1])){
                                                  if($arrayRate[1] > 5) { 
                                                    $arrayRate[0]++; $arrayRate[1] = 0; 
                                                  }
                                                  if($arrayRate[1] < 5 && $arrayRate[1] > 0) { 
                                                     $arrayRate[1] = 5; 
                                                  }
                                                } else {
                                                  $arrayRate[1] = 0;
                                                }
                                              //use variable $rate for your css class salakot  possible result are 0.0, 0.5, 1, 1.5, 2, 2.5, 3, and so on...                  
                                              
                                                if(!$arrayRate[0]){
                                                  $arrayRate[0] = 0;
                                                }
                                                $rate = $arrayRate[0].'.'.$arrayRate[1];
                                                $class_rate = $arrayRate[0].'_'.$arrayRate[1]; 
                                              ?>
                                              <i class="salakot-img salakot_<?php echo $class_rate;?>" data-toggle="tooltip" title="<?php echo $rate;?> salakot rating">&nbsp;</i>
                                    </div>
	 </td>
      <?php if (isset($userSession['type'])) {
              if ($userSession['type'] == '' || $userSession['type'] == 'Member') {
                  $link = 'biz/claim/' . $biz->id;
              } else {
                  $link = 'biz/claim/' . $biz->id;
              }
        } else {
            $link = 'biz/claim/' . $biz->id;
        }?>
        <?php 
        $checkClaimBiz = ClaimRequests::count("business_id='".$biz->id."' AND status='approved'");

        if ($checkClaimBiz <= 0) {
          echo '<td style="width: 10%; ">';
          echo Phalcon\Tag::linkTo(array($link, '<span class="glyphicon glyphicon-asterisk"></span> Claim this Business', 'class' => 'btn btn-primary'));
          echo '</td>';
        } else {
          echo '<td></td>';
        }
	     
    ?> 


	    </tr>
<?php } // foreach ?>
<?php }  // if isset ?>
  </table>
</div>

</div><!-- col -md 12 -->
</div><!-- container -->

</div>
