<?php echo $this->tag->javascriptInclude('js/typed.js'); ?>

<script type="text/javascript">

    $(function(){

        $("#typed").typed({
            strings: ["Please note that you can only have one business page for each Business Owner Account.", " One email address for each Account", "If this is your first time claiming a business, please search for your business first", "and 'claim' before you register for a business owner account", 'How to claim a Business Page <a href="howtoclaim"><b>click here</b></a>'],
            typeSpeed: 30,
            backDelay: 1000,
            loop: false,
            contentType: 'html', // or text
            // defaults to false for infinite loop
            loopCount: false,
            callback: function(){ foo(); },
            resetCallback: function() { newTyped(); }
        });

        $(".reset").click(function(){
            $("#typed").typed('reset');
        });

    });

    function newTyped(){ /* A new typed object */ }

    function foo(){ console.log("Callback"); }

    </script>

<div class="bckgrnd-img" style="background-image: url('<?=$this->url->getBaseUri() . "images/worldmap_template.jpg"?>');
  backdround-color: #cccccc; height: 500px;margin-top:90px">
  <div class="container">
  <div class="row">
     <div class="col-md-4 col-md-offset-4">
         <!--<span><h2 style="font-family: Berlin; color: #FFFF00; text-shadow: 1px 1px 0px #000, 0px -2px 1px #000;">MyBarangay for Business</h2></span>-->
     </div>
  </div>
  <div class="row">
  <div class="col-md-12" style="height: 60px;padding: 60px 0 0 4px;width: 100%;">
    <div class="col-md-7 col-md-offset-3" style="height: 60px;">
	<h4 style="color: #003082; padding-left: 110px;"><b><span>Find and Claim your MyBarangay Business Page - <a href="http://mybarangay.com/biz/howtoclaim"><button class="btn btn-xs btn-danger">Watch the Video</button></a></span></b></h4>
      <form method="POST" class="form-inline" style="border:2px solid #003082;margin-top:5px;margin-bottom:3px;background-color:#003082;max-width:625px;">
      
        <div class="form-group" style="border:3px solid #003082 ;padding: 0;width:46%!important;">
          <input type="text" name="name" class="form-control" id="name" placeholder="find your business name" style="width: 100%;">
        </div>
        <div class="form-group" style="border:3px solid #003082 ;padding: 0;width:46%!important;">
          <input type="text" name="location" class="form-control" id="location" placeholder="find your business location" style="width: 100%;">
        </div>
        <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-search" style="font-size:16px;" aria-hidden="true"></span></button>
     
          <span style="color:white;margin-left:20px;">Do You Already have a business page?  Do you already have a Business Owner Account? -> </span>
          <a href="https://mybarangay.com/biz/login" class="btn btn-primary btn-sm">Login</a><br>

       
      </form>
      <!--<span style="color:gray;"><small>* Please note that you can only have one business page for each Business Owner Account. One email address for each Account.</small></span><br>
         <span style="color:gray;"><small>** If this is your first time claiming a business, please search for your business first, and "claim" before you register for a business owner account</small></span><br>
         <span style="color:gray;"><small>*** How to claim a Business Page <a href="howtoclaim"><b>click here</b></a></small></span><br>-->
         <div class="type-wrap">
             <span style="font-size: 17px;font-weight:bold;color:red;">Please note that you can only have 1 business page for each Business Owner Account and 1 email address for each Account. If this is your first time claiming a business, you need to search for your business first and claim it before you register for a Business Owner Account.</span>
            <!--<span id="typed" style="white-space:pre;"></span>-->
        </div>
    </div>

   </div> 
   <div class="col-md-12">
     
   </div>
  </div>
  </div>
</div>

