<?php echo $this->tag->stylesheetLink("themes3/themes/cropper/cropper.css"); ?>
   


<style type="text/css">
    .help-block{
        position: absolute;
        right:20px;
    }
    .form-control-feedback {
        text-align: left;
    }

/* Image cropper style */
.img-container,
.img-preview {
  overflow: hidden;
/*  text-align: center;*/
  width: 100%;
}
.ibox-content {
  background-color: #ffffff;
  color: inherit;

  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0px;
}
.img-preview-sm {

    height: 100px;
    width: 100px;
} 

#image-crop-box{
    background: #f4f4f4;
}
.cover-box{
    display: none;
background: #fff;
position: absolute;
height: 100%;
width: 100%;
z-index: 5;
left: 0;
opacity: 0.9;
}

.img-loader{
    display: none;
    position: absolute;
    height: 80px;
    width: 70px;
    margin: 0 auto;
    left: 43%;
    z-index: 6;
    top:40px;
}

</style>

    <div class="col-md-12 "  >
      <ul class="breadcrumb pull-left" style="padding:5px 0px; margin:0px; text-index:1">
          <li><i class="fa fa-home"></i> MyBarangay</li>
          <li> Business</li>
          <li class="active">profile</li>
      </ul>
    </div>
    <div class="clearfix"></div>

    <!-- start col-md-9 -->                

    <div class="col-md-12 boxiy" > 
        
        <div class="row">
            <div class="col-md-7">
                <?php
                    if($businessImages->items){

                    }else{

                    }
                ?>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="timeline-item-content">
                    <div class="details-tab" style="margin-top:50px;">
                        <input type="hidden" id="totalImgCount" value="<?php echo count($businessImages->items) - 1; ?>">
                        <div class="panel panel-default tabs">
                            <ul class="nav nav-tabs ">
                                <li class="active">
                                <a href="#tab1" data-toggle="tab">
                                <button class="btn btn-default btn-sm" id="previousImgBtn"><span class="glyphicon glyphicon-chevron-left"></span></button> 
                                  <span id="currentKey">1</span> of <?php echo count($businessImages->items); ?>
                                <button  class="btn btn-default btn-sm" id="nextImgBtn"><span class="glyphicon glyphicon-chevron-right"></span></button>
                                </a>
                                </li>
                            </ul>
                            <div class="panel-body tab-content">
                                <div class="tab-pane active" id="tab1">

                                    <div class="col-md-5 text-center" style="background:#f4f4f4;padding:10px 0px">
                                    <legend><?php echo $busImage->business->name; ?></legend>
                                    <?php echo Phalcon\Tag::image(array($busImage->file_path.$busImage->filename, 'class' => 'img-responsive img-rounded center-block img-current', 'data-key' => 0)); ?>
                                    </div>
                                    <div class="col-md-7 col-sm-12">
                                        <?php foreach ($businessImages->items as $key => $businessImage) { ?>
                                            <div class="col-md-4 col-sm-8 col-xs-8 gallery-thumbnail">
                                                <a href="javascript:void(0);">
                                                    <?php $headerLink = '<a href="'.$this->url->getBaseUri() . 'member/page/'.$businessImage->Members->id.'">'.$businessImage->Members->first_name. ' ' . $businessImage->Members->last_name.'</a>'; ?>
                                                    <?php if($businessImage->caption){ $caption = substr($businessImage->caption, 0, 100).'...'; } else { $caption = ''; } ?>
                                                    <?php echo Phalcon\Tag::image(array($businessImage->file_path.$businessImage->filename, 'class' => 'img-responsive img-rounded img-thumbnail img-list rangoliPic', 'data-member' => $businessImage->Members->first_name.' '.$businessImage->Members->last_name, 'data-caption' => $caption, 'data-key' => $key,'style' => 'width:150px;height:150px;', 'data-headername'=>$businessImage->Members->first_name.' '.$businessImage->Members->last_name)); ?>
                                                </a>
                                                <p><?php echo Phalcon\Tag::linkTo(array('#', '<i class="fa fa-user"></i> '.$businessImage->Members->first_name.' '.substr($businessImage->Members->last_name, 0, 1))); ?></p> 
                                                <div class="col-md-12">
                                                    <div class="pull-right">
                                                    <button id="<?php echo 'delete-'.$businessImage->id; ?>" class="deleteGal btn btn-primary btn-sm " data-toggle="tooltip" title="Delete photo" ><i class="fa fa-trash" ></i></button>
                                                    <!-- <button data-id="<?php //echo $businessImage->id; ?>" data-bus="<?php //echo $businessImage->business_id; ?>" class="setPrime btn btn-default btn-sm " data-toggle="tooltip" title="Set primary photo" ><i class="glyphicon glyphicon-picture" ></i></button> -->
                                                    <!-- <button  data-target="#myModal" class="setPrime btn btn-default btn-sm " data="<?php //echo $businessImage->id; ?>" data-toggle="modal" title="Set primary photo"><i class="glyphicon glyphicon-picture" ></i></button> -->
													<a class="setPrime btn btn-default btn-sm "  href="<?php echo $this->url->getBaseUri().'biz/business_profile_photo/'.$claimRequests->member_id.'/'.$businessImage->id; ?>"><i class="glyphicon glyphicon-picture" ></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        <?php } ?>
                                    </div>
                                </div>
                            </div>
                        </div>                                         
                    </div> 
                </div>
            </div>

        </div>
        <div class="clearfix"></div>
    </div>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Set Primary Photo for <strong><?php echo $busImage->business->name; ?></strong></h4>
            </div>
            <div class="modal-body">
                <?php 
                $link = 'themes3/img/finalgiffer6.gif';
                echo '<div class="img-loader" style="background:url('.$this->url->getBaseUri().$link.') 
             center center; background-size:cover;"></div>';
             ?>
                <div class="cover-box"></div>
                <div class="ibox-content">
                    <div class="row">
               
                        <div class="col-md-6 col-sm-6">
             
                            <div class="image-crop">

                            <?php
                            // if ($primaryPix) {
                            //     $profilePic = $this->url->getBaseUri() . $primaryPix->file_path . $primaryPix->filename;
                            //     echo '<img class="object-fit_cover" src="'.$profilePic.'" alt="profile">';
                            // }else{
                            //     echo Phalcon\Tag::image(array('img/default_large.png')); 
                            // } 
                            // echo Phalcon\Tag::image(array('img/default_large.png', 'id' => 'prev-img')); 
                            ?>
                            <div class="asd"></div>
								
                           
                            </div>
                        </div>
      
                        <div class="col-md-6 col-sm-6">
                            <div class="img-preview img-preview-sm thumbnail"></div>
                            <div class="btn-group">
                                <button id="cropdownload" data=""  class="download btn btn-primary btn-sm">
                                Crop
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
<!--                <div class="btn-group pull-left">
                    <label title="Upload image file" for="inputImage" class="btn btn-primary btn-sm">
                        <input type="file" accept="image/*" name="file" id="inputImage" class="hide">
                        Upload new image
                    </label>
                </div> -->
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<!-- NOTIFIFICATION  -->
<?php echo $this->tag->javascriptInclude("themes3/themes/noty/jquery.noty.js"); ?>
<?php echo $this->tag->javascriptInclude("themes3/themes/noty/layouts/center.js"); ?>
<?php echo $this->tag->javascriptInclude("themes3/themes/noty/themes/default.js"); ?>
<?php echo $this->tag->javascriptInclude("themes3/themes/cropper/cropper.min.js"); ?>
<?php echo $this->tag->javascriptInclude("themes3/js/plugin.js"); ?>
<?php echo $this->tag->javascriptInclude("themes3/js/action.js"); ?>


<script type="text/javascript">
    $(function(){

 
        $("#myModal").on("show.bs.modal", function(e) {
            console.log('yahoo');
            var link = $(e.relatedTarget);
            // $(this).find(".modal-body").load(link.attr("data"));
            var $datax = link.attr('data');
            console.log('dave ' + $datax);
            $('#prev-img').removeAttr('src');
            $.ajax({
		        url: "https://mybarangay.com/biz/getPrimaryPhoto",
            	method: 'GET',
            	dataType: 'json',
            	data: {busImage: $datax},

            	success:function(response){
					if(response.type == 'ok'){
						console.log('hi ho');
						console.log(response.html);
						// $('#prev-img').removeAttr('src')
						// $('#prev-img').attr('src', response.html);
						
						$('.image-crop > .asd').html('');
						$('.image-crop > .asd').append(response.html);
				       	var $image = $("#prev-img");

				        $($image).cropper({
				            aspectRatio: 1,
				            preview: ".img-preview",
				            done: function(data) {
				                console.log(data);
				            }
				        });

				        var $inputImage = $("#inputImage");
				        if (window.FileReader) {
				            $inputImage.change(function() {
				                var fileReader = new FileReader(),
				                files = this.files,
				                file;
				                if (!files.length) {
				                    return;
				                }
				                file = files[0];
				                if (/^image\/\w+$/.test(file.type)) {
				                    fileReader.readAsDataURL(file);
				                    fileReader.onload = function () {
				                        $inputImage.val("");
				                        $image.cropper("reset", true).cropper("replace", this.result);
				                    };
				                } else {
				                    showMessage("Please choose an image file.");
				                }
				            });
				        } else {
				            $inputImage.addClass("hide");
				        }

				        $("#cropdownload").click(function() {
				            var xerid = $(this).attr('data');
				            var image = $image.cropper("getDataURL", {width:200, height:200});
				            $.ajax({
				                url: "https://mybarangay.com/biz/setPrimaryPhoto",
				                type:'POST',
				                dataType: 'json',
				                data: {imagelinks: 'crop',imagelink: image, userid: $datax },
				                beforeSend: function () {
				                    $('.cover-box').fadeIn();
				                    $('.img-loader').fadeIn();
				                    $('.download').attr('disabled', true);
				                },
				                success:function(data){
				                    if(data.type == 'ok'){
				                        console.log(data.text);
				               
				                    }else{
				                        console.log('sorry ' + data.text);
				                    }     
				                    $('.download').attr('disabled', false);
				                    $('#myModal').modal('hide');
				                     $('.img-loader').fadeOut();
				                },

				                error: function (xhr, ajaxOptions, thrownError) {
				                    // $('.loader').fadeOut();
				                    // $('.show-success').text('Error').css('color','red').fadeIn();
				                },
				                complete: function () {
				                    console.log('hi dave');
				                    $('.cover-box').fadeOut();
				                    $('.img-loader').fadeOut();
				                    $('.download').attr('disabled', false);
				                }
				            });
				        });
						$image.cropper("reset");


					}
            	},
            });
   
        });


    });

</script>