<!-- start col-md-6 -->
<?php echo $this->tag->stylesheetLink("themes3/themes/cropper/cropper.css"); ?>
<?php echo $this->tag->javascriptInclude("themes3/themes/cropper/cropper.min.js"); ?>

<style type="text/css">
    .help-block{
        position: absolute;
        right:20px;
    }
    .form-control-feedback {
        text-align: left;
    }

/* Image cropper style */
.img-container,
.img-preview {
  overflow: hidden;
/*  text-align: center;*/
  width: 100%;
}
.ibox-content {
  background-color: #ffffff;
  color: inherit;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0px;
}
.img-preview-sm {

    height: 200px;
    width: 200px;
} 

#image-crop-box{
    background: #f4f4f4;
}
.cover-box{
    display: none;
background: #fff;
position: absolute;
height: 100%;
width: 100%;
z-index: 5;
left: 0;
opacity: 0.9;
}

.img-loader{
    display: none;
    position: absolute;
    height: 80px;
    width: 70px;
    margin: 0 auto;
    left: 43%;
    z-index: 6;
    top:40px;
}
.messageTxt{
	padding: 10px;
	font-size: 15px;
}

</style>
<div class="col-md-12 "  >
  <ul class="breadcrumb pull-left" style="padding:5px 0px; margin:0px; text-index:1">
      <li><i class="fa fa-home"></i> MyBarangay</li>
      <li> Business</li>
      <li class="active">Primary photo</li>
  </ul>
</div>


<div class="col-md-9 col-md-offset-2 col-sm-12 boxiy" s> 
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title  back-change">
           <div class="messageTxt"></div>
             <h3><span class="fa fa-download"></span> update business primary photo</h3>
            
  
             <p> <code>Crop</code> image size (300x300)  </p>
             <a href="<?php echo $this->request->getHTTPReferer();  ?>" class="btn btn-primary btn-sm pull-right">back</a>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-5">

                          <input type="hidden" id="buxx"    value="<?=$claimRequests->business_id?>">
                          <input type="hidden" id="memid"   value="<?=$claimRequests->member_id?>">
                          <input type="hidden" id="xxxx"    value="<?=$getPhoto->id?>">
                            <div class="image-crop">

                            <?php
                            if ($getPhoto) {
                                $busProfile = $this->url->getBaseUri() . $getPhoto->file_path . $getPhoto->filename;
                                echo '<img class="object-fit_cover" src="'.$busProfile.'" alt="profile">';
                            }else{
                                echo Phalcon\Tag::image(array('img/default_large.png')); 
                            } 
                            ?>

                            </div>
                                <?php //echo Phalcon\Tag::image(array('/img/profilepic.jpg', 'class' => '')); ?>
                                <button title="Donload image" id="cropdownload" class="download btn btn-primary btn-sm" style="margin:10px 0px 10px 0px;">Update</button>
                            
                        </div>
                        <div class="col-md-6">
                            <h4>Preview image</h4>
                            <div class="img-preview img-preview-sm thumbnail"></div>
                            <h5>if you want to upload new image - click upload new image</h5>
                            <div class="btn-group">
                                <label title="Upload image file" for="inputImage" class="btn btn-primary btn-sm">
                                    <input type="file" accept="image/*" name="file" id="inputImage" class="hide">
                                    Upload new image
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function(){

        var $image = $(".image-crop > img")
        $($image).cropper({
            aspectRatio: 1,
            preview: ".img-preview",
            done: function(data) {
                console.log(data);
            }
        });

        var $inputImage = $("#inputImage");
        if (window.FileReader) {
            $inputImage.change(function() {
                var fileReader = new FileReader(),
                files = this.files,
                file;
                if (!files.length) {
                    return;
                }
                file = files[0];
                if (/^image\/\w+$/.test(file.type)) {
                    fileReader.readAsDataURL(file);
                    fileReader.onload = function () {
                        $inputImage.val("");
                        $image.cropper("reset", true).cropper("replace", this.result);
                    };
                } else {
                    showMessage("Please choose an image file.");
                }
            });
        } else {
            $inputImage.addClass("hide");
        }





        $("#cropdownload").click(function() {
            var buxx    = $('#buxx').val();
            var xxxx    = $('#xxxx').val();
            var memid   = $('#memid').val();
            var image   = $image.cropper("getDataURL", {width:200, height:200});
         
            $.ajax({
                url: "https://mybarangay.com/biz/setPrimaryPhoto",
                type:'POST',
                dataType: 'json',
                data: {imagelinks: 'crop',imagelink: image, xxx: xxxx, bux: buxx, userid: memid },
                beforeSend: function () {
                    $('.cover-box').fadeIn();
                    $('.img-loader').fadeIn();
                    $('.download').attr('disabled', true);
                },
                success:function(data){
         
                    if(data.type == 'ok'){
                        window.location.href = data.redirect;
                    }else{
                        $('.messageTxt').html(data.text);
                    }     

                    $('.download').attr('disabled', false);
                    $('.img-loader').fadeOut();
                },

                error: function (xhr, ajaxOptions, thrownError) {
                    // $('.loader').fadeOut();
                    // $('.show-success').text('Error').css('color','red').fadeIn();
                },
                complete: function () {
                    console.log('hi dave');
                    $('.cover-box').fadeOut();
                    $('.img-loader').fadeOut();
                    $('.download').attr('disabled', false);
                }
            });
        });












        // $("#download").click(function() {
        //     var image = $image.cropper("getDataURL", {width:300, height:300});
        //     var businessId = $('#business_id').val();
        //     $.ajax({
        //         url: "https://mybarangay.com/biz/setPrimaryPhoto",
        //         type:'POST',
        //         dataType: 'json',
        //         data: {imagelinks: 'crop',imagelink: image, businessId: businessId},

        //         // beforeSend: function () {
        //         //     $('.loadingz').fadeIn();
        //         // }
        //         //,
        //         success:function(data){
        //             if(data.status){
        //                 //console.log(data.text);
        //                 console.log(data.status);
        //                 alertify.alert(data.status);
        //                 window.location.replace('http://mybarangay.com/business/view2/'+businessId);
        //             }else{
        //                 console.log('whoops something went wrong, please try again');
        //             }          
        //             imageload();
        //         },
        //         error: function (xhr, ajaxOptions, thrownError) {
        //             alert(xhr.status);
        //             //alert(thrownError);
        //         },
        //         complete: function () {
        //             $('.loadingz').fadeOut();
        //         }
        //     });
        // });

        // $("#setDrag").click(function() {
        //     $image.cropper("setDragMode", "crop");
        // });



    }); 


// function imageload(){
//     $.ajax({
//         url: "<?php echo $this->url->getBaseUri().'member/update_photo' ?>",
//         type: 'POST',
//         dataType: 'json',
//         data: {sample:'redHorse'},
//         success:function(data){
//             $('.pro-imgc').hide().html(data.html).fadeIn();
//         }
//     });
// }


</script>
