<div class="container" style="margin-top: 111px;">
<div class="row">
  <div class="col-md-8">
<?php echo Phalcon\Tag::image(array("img/vector_building.jpg",'alt' => 'Logo'));?>
    



<!--     <ul>
      <li><b>Basic</b> - $29.99+ GST per month, first 3 months free Includes all the above benefits</li>
      <li><b>Enhanced</b> - $39.99 + GST per month, first 3 months free. Includes all the above Basic subscription benefits plus website banner ad in inner page sidebars (300px X 100px) and mobile banner ad (300px X 100px)</li>
      <li><b>Premium</b> - $99.99 + GST per month, first 3 months free. Includes all the above Enhanced subscription benefits plus website leaderboard ad in homepage (720px X 150px)</li>
    </ul>
 -->
<?php
  if ($this->session->has("failedtoconfirm")) {
    echo "<script>alertify.alert('claiming business failed please specify your contact number')</script>";
    $this->session->remove('failedtoconfirm');
  }
?>
<hr>
  <h4>If you do not hear us within 48 hours, please call us at 778-889-INFO(4636)</h4>
     <h3><u>Benefits of a business owner</u>: </h3>
  <div class="col-md-12">

    <ul  style="list-style-type: disc;">
      <li>Increase presence in MyBarangay with a webpage dedicated to your business</li>
      <li>Get involced with the community by replying to the public in real time</li>
      <li>Targeted advertising of your business to active searches in MyBarangay</li>   
    </ul> 

</div>


      <h3><u>Annual subscription plans</u>: </h3>
<div class="col-md-12">
  





    <h4 ><b>Basic</b></h4>
    <ul  style="list-style-type: disc;">
    
      <li><strike>$29.99 + GST per month</strike> Now Only $9.99 + GST per month - limited offer for 6 months</li>

      <li>First 3 months free </li>

      <li>Includes all the above benefits</li>

    </ul>



    <h4><b>Enhanced</b></h4>
    <ul  style="list-style-type: disc;">
    
      <li>$39.99 + GST per month </li>

      <li>First 3 months free</li>

      <li>Includes all the above Basic subscription benefits </li>

      <li>Website banner ad in inner page sidebars (300px X 100px)  </li>

      <li>Mobile banner ad (300px X 100px)  </li>

    </ul>

    <h4><b>Premium</b></h4>
    <ul  style="list-style-type: disc;">
    
      <li>$99.99 + GST per month</li>

      <li>First 3 months free</li>

      <li>Includes all the above Enhanced subscription benefits  </li>
      
      <li>Website leaderboard ad in homepage (720px X 150px) </li>

    </ul>

</div>
  </div>
  <div class="col-md-4">  
    <h2 style="font-family: Berlin; font-weight: bold; color: #204D74;">To protect you and your business, we need to confirm this Claim by calling your establishment within normal business hours.
    <br>We would also like to explain how we may help your business.</h2>
    <br>
    
    <h3>
    <form method="post" action="<?php echo $this->url->getBaseUri() . 'biz/checkclaim'; ?>">
     <input type="hidden" name="user_id" value="<?=$userId?>">
     <input type="hidden" name="biz_id" value="<?=$businessId?>">
    <?php if ($business->telephone == '') { ?>
     
      We will call you at:
      <input type="hidden" name="biz_num" value="">
    <?php } else { ?>
      We will call you at: <?=$business->telephone?>
      <input type="hidden" name="biz_num" value="<?=$business->telephone?>">
    <?php } ?> 
    </h3>
    <h3 style="color:red;">Please input an alternate telephone number if the above is incorrect or empty</h3>
    
      <input type="text" name="alt_num" class="form-control">
      <button type="submit" class="btn btn-primary btn-md">OKAY, you may call me</button>
    </form>
    
    
  </div>
</div>
</div>
