<div class="bckgrnd-img" style="background-image: url('<?=$this->url->getBaseUri() . "images/worldmap_template.jpg"?>');
  backdround-color: #cccccc; height: 500px;margin-top:90px">
  <div class="container">
  <div class="row">
     <div class="col-md-4 col-md-offset-4">
         <!--<span><h2 style="font-family: Berlin; color: #FFFF00; text-shadow: 1px 1px 0px #000, 0px -2px 1px #000;">MyBarangay for Business</h2></span>-->
     </div>
  </div>
  <div class="row">
  <div class="col-md-12" style="height: 60px;padding: 60px 0 0 4px;width: 100%;">
    <div class="col-md-7 col-md-offset-3" style="height: 60px;">
    <h4 style="color: #003082; padding-left: 110px;"><b>How to claim A Business Page in MyBarangay</b></h4>
	    <iframe width="560" height="315" src="https://www.youtube.com/embed/aq4O7fnbBlY" frameborder="0" allowfullscreen></iframe>
    </div>
   </div> 
   <div class="col-md-12">
     
   </div>
  </div>
  </div>
</div>

