
<?php echo $this->tag->stylesheetLink("themes3/themes/cropper/cropper.css"); ?>
<style type="text/css">
/* Image cropper style */
.img-container,
.img-preview {
  overflow: hidden;
  text-align: center;
  width: 100%;
}
.ibox-content {
  background-color: #ffffff;
  color: inherit;
  padding: 15px 20px 20px 20px;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0px;
}
.img-preview-sm {
    border:1px solid #c3c3c3;
  height: <?php echo ($preview == 1)? '150px' : '100px' ; ?>;
  width: <?php echo ($preview == 1)? '720px' : '230px' ; ?>;
} 

#image-crop-box{
    background: #f4f4f4;
}
.show-success{
    display: none;
    float: right;
    text-align: center;
    width: 100px;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: bold;
}
.loader {
    display: none;
    float: right;
    text-align: center;
    width: 100px;

}
.loader .ball {
  width: 1em;
  height: 1em;
  margin: 0 auto;
  border-radius: 1em;
  background: #e93c2a;
  -webkit-animation: load 2000ms linear infinite;
  -moz-animation: load 2000ms linear infinite;
  animation: load 2000ms linear infinite;
}
.loader span {
    padding: 5px 10px;
font-size: 12px;
line-height: 1.5;
  display: block;

  color: #e93c2a;
  text-transform: uppercase;
  font-family: 'Roboto';
  -webkit-animation: pulse 2000ms linear infinite;
  -moz-animation: pulse 2000ms linear infinite;
  animation: pulse 2000ms linear infinite;
}

@-webkit-keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
}
@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
}
@-webkit-keyframes load {
  0%, 100% {
    -webkit-transform: scale(1) translateX(0);
    transform: scale(1) translateX(0);
  }
  25% {
    -webkit-transform: scale(0.25) translateX(-6.5em);
    transform: scale(0.25) translateX(-6.5em);
  }
  50% {
    -webkit-transform: scale(0.15) translateX(0);
    transform: scale(0.15) translateX(0);
  }
  75% {
    -webkit-transform: scale(0.25) translateX(6.5em);
    transform: scale(0.25) translateX(6.5em);
  }
}
@keyframes load {
  0%, 100% {
    -webkit-transform: scale(1) translateX(0);
    transform: scale(1) translateX(0);
  }
  25% {
    -webkit-transform: scale(0.25) translateX(-6.5em);
    transform: scale(0.25) translateX(-6.5em);
  }
  50% {
    -webkit-transform: scale(0.15) translateX(0);
    transform: scale(0.15) translateX(0);
  }
  75% {
    -webkit-transform: scale(0.25) translateX(6.5em);
    transform: scale(0.25) translateX(6.5em);
  }
}
</style>


        <div class="col-md-12 " >
            <ul class="breadcrumb pull-left" style="padding:5px 0px; margin:0px">
                <li><i class="fa fa-home"></i> MyBarangay</li>
                <li> Business</li>
                <li> Manage my Ad</li>
                <li class="active">Crop</li>
            </ul>
        </div>


        <!-- start col-md-12 -->
        <div class="col-md-12  boxiy" > 

            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title  back-change" style="">
                            
                            <span class="dropdown pull-right">

                                <a href="#" class="btn btn-primary btn-sm ">back</a>
                                <a href="#" class=" btn btn-primary btn-sm dropdown-toggle " data-toggle="dropdown">ADS <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="<?php echo $this->url->getBaseUri(). 'biz/manage_ad_crop/1' ?>">LEADERBOARD AD</a></li>
                                    <li class="divider"></li>
                                    <li><a href="<?php echo $this->url->getBaseUri(). 'biz/manage_ad_crop/2' ?>">SIDEBAR AD</a></li>
                                    <li class="divider"></li>
                                    <li><a href="<?php echo $this->url->getBaseUri(). 'biz/adcampaignu/'.$claimRequests->member_id.'/'.$claimRequests->business_id ?>">Campaign AD</a></li>
                                </ul>
                            </span>

                            <?php $getBizDetail = Business::findFirst("id=". $claimRequests->business_id); ?>
                            <h2><?php echo $getBizDetail->name; ?></h2>
                            <h3><span class="fa fa-download"></span> <?php echo ($preview == 1)? 'AD LEADERBOARD' : 'AD SIDEBAR' ; ?> </h3>
                            <p> <code>Crop</code> <?php echo ($preview == 1)? 'LEADERBOARD (720x150 - px)' : 'SIDEBAR (230x100 - px)' ; ?></p>



                        </div>


                        <div class="ibox-content">
                            <div class="row">


                                <div class="col-md-5">
                                    <div class="btn-group">
                                        <label title="Upload image file" for="inputImage" class="btn btn-primary btn-sm">
                                            <input type="file" accept="image/*" name="file" id="inputImage" class="hide">
                                            Upload new image
                                        </label>
                                    </div>
                                    <div class="image-crop">
                                    <?php
                                    if($preview == 1){
                                        echo Phalcon\Tag::image(array('img/ad/shareyourad.jpg', 'alt' => 'Profile')); 
                                    }else{
                                        echo Phalcon\Tag::image(array('themes3/img/logo/logo1.png', 'alt' => 'Profile')); 
                                    }
                                    ?>
                                    </div>
                                </div>
                                

                                    <?php
                                        if($preview == 1){
                                    ?>
                                            <div class="clearfix"></div>
                                            <div class="col-md-12">

                                                <h4>Preview image <code> Size  <?php echo ($preview == 1)? '(720x150 - px)' : '(230x100 - px)' ; ?></code> </h4>
                                                <div class="btn-group">
                                                    <button id="adbanner"  class="download btn btn-primary btn-sm">
                                                    Crop/ Download
                                                    </button>

                                            <div class="loader">
                                                  <div class="ball"></div><span>Loading</span>
                                            </div>
                                            <div class="show-success"></div>
                                                </div>   
                         

                                                <div id="banig">
                                                    <div class="banig-container">
                                                        <div class="img-preview img-preview-sm thumbnail"></div>
                                                    </div>
                                                </div>
                                                     
                                            </div>

                                    <?php
                                        }else{
                                    ?>
                                            <div class="col-md-5">

                                               <!--  <h4>Preview image <code> Size  <?php //echo ($preview == 1)? '(720x150 - px)' : '(230x100 - px)' ; ?></code> </h4>
 -->
                                                <div class="img-preview img-preview-sm thumbnail"></div>
                                                <div class="btn-group">
                                                    <button id="adside"  class="download btn btn-primary btn-sm">
                                                    Crop/ Download
                                                    </button>
                                                    <div class="loader">
                                                          <div class="ball"></div><span>Loading</span>
                                                    </div>
                                                    <div class="show-success"></div>

                                                </div>
                                    
                                            </div>
                                    <?php
                                        }
                                    ?>

                                    <input type="hidden" id="aspect" value="<?php echo ($preview == '1')? 1 : 2 ; ?>">
                                    <input type="hidden" id="croptype" value="<?php echo ($preview == '1')? '3' : '1' ; ?>">
                                    <input type="hidden" id="busid" value="<?php echo $claimRequests->business_id; ?>">
                                

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- end col-md-9 -->


<?php echo $this->tag->javascriptInclude("themes3/themes/cropper/cropper.min.js"); ?>


<script type="text/javascript">
    $(function(){

        var $image = $(".image-crop > img");
        var $aspect = $('#aspect').val();

            if($aspect == 1){
                $ratio = 16/ 3;
            }else{
                $ratio = 58/25;
            }
        $($image).cropper({

            aspectRatio: $ratio,
            preview: ".img-preview",
            done: function(data) {
                console.log(data);
            }
        });

        var $inputImage = $("#inputImage");
        if (window.FileReader) {
            $inputImage.change(function() {
                var fileReader = new FileReader(),
                files = this.files,
                file;
                if (!files.length) {
                    return;
                }
                file = files[0];
                if (/^image\/\w+$/.test(file.type)) {
                    fileReader.readAsDataURL(file);
                    fileReader.onload = function () {
                        $inputImage.val("");
                        $image.cropper("reset", true).cropper("replace", this.result);
                    };
                } else {
                    showMessage("Please choose an image file.");
                }
            });
        } else {
            $inputImage.addClass("hide");
        }

        $(".download").click(function() {
            var croptype = $('#croptype').val();
            var busid   = $('#busid').val();
            if($aspect == 1){
                var widthx = 720;
                var heightx = 150;
            }else{
                var widthx = 230;
                var heightx = 100; 
            }


            console.log('width ' + widthx);
            console.log('height ' + heightx); 
            var image = $image.cropper("getDataURL", {width:widthx, height:heightx});
            $.ajax({
                url: "<?php echo $this->url->getBaseUri().'biz/downloadManageCrop' ?>",
                type:'POST',
                dataType: 'json',
                data: {imagelinks: 'crop',imagelink: image, type: croptype, busids: busid  },
                beforeSend: function () {
                    $('.loader').fadeIn();
                    $('.download').attr('disabled', true);
                    $('#inputImage').attr('disabled', true);
                },
                success:function(data){
                    if(data.type == 'ok'){
                        console.log(data.text);
                    }else{
                        console.log('SORRY');
                    }     
                    $('.download').attr('disabled', false);
                    $('#inputImage').attr('disabled', false);
                    window.location = "https://mybarangay.com/biz/manage_adu";
                },

                error: function (xhr, ajaxOptions, thrownError) {
                    $('.loader').fadeOut();
                    $('.show-success').text('Error').css('color','red').fadeIn();
                },
                complete: function () {
                    $('.loader').fadeOut();
                    $('.show-success').text('DONE').css('color','green').fadeIn();
                }
            });
        });

        $("#setDrag").click(function() {
            $image.cropper("setDragMode", "crop");
        });

    }); 

</script>





