<?php use Phalcon\Mvc\Model\Resultset\Simple as Resultset; ?> 
<?php echo $this->tag->stylesheetLink("themes3/themes/datatables/jquery.dataTables.min.css"); ?>
<?php echo $this->tag->javascriptInclude("themes3/themes/datatables/jquery.dataTables.min1.js"); ?>

<style>

</style>
<script type="text/javascript">
  $(document).ready(function(){
          $('#example').DataTable();
  });

</script>
<?php
	if ($this->session->has('delete_leaderboard_failed')) {
		echo "<script>alertify.alert('whoops, something went wrong, deleting image ad failed'); </script>";
		$this->session->remove('delete_leaderboard_failed');
	}
	if ($this->session->has('delete_leaderboard_success')) {
		echo "<script>alertify.alert('image ad was deleted successfully.'); </script>";
		$this->session->remove('delete_leaderboard_success');
	}
	if ($this->session->has('upload_ad')) {
		echo "<script>alertify.alert('image ad was added successfully'); </script>";
		$this->session->remove('upload_ad');
	}
	// if stripe payment process is success
	if ($this->session->has('subscribe-success')) {
		echo "<script>alertify.alert('congratulation, you are now a subscriber'); </script>";
		$this->session->remove('subscribe-success');
	}
	// if has an error from stripe payment
	if ($this->session->has('subscribe-error')) {
		echo "<script>alertify.alert('".$this->session->get('subscribe-error')."'); </script>";
		$this->session->remove('subscribe-error');
	}
	// redirected from payment/charge if the user has a subscription already 
	if ($this->session->has('subscription')) {
		echo "<script>alertify.alert('whoops, you already have subscription'); </script>";
		$this->session->remove('subscription');
	}
?>

      <div class="col-md-12 "  >
          <ul class="breadcrumb pull-left" style="padding:5px 0px; margin:0px; text-index:1">
              <li><i class="fa fa-home"></i> MyBarangay</li>
              <li> Business</li>
              <li class="active">My AD</li>
          </ul>
      </div>
      <div class="clearfix"></div>

      <!-- start col-md-12 -->
      <div class="col-md-12 boxiy"  style="min-height:200px"> 

<?php if(isset($userSession['admin_access'])){
        if($userSession['admin_access'] == 1){
?>
    <div class="alert alert-warning fade in" style="margin-top:20px;">
    <strong>Welcome ADMIN ! </strong> 
        <p>page : business owner manage ad page </p>
    </div>
<?php } } ?>


		<?php if ($subscription == 1 ) {?>
		<?php if($seschecker){ ?>
			<div class="panel panel-default" style="margin-top:10px">
			    <div class="panel-body">
			    	<?php
			    		$params = null;
			    		$query = "SELECT `subscription`,`end_date`,DATEDIFF(`end_date`,NOW()) AS diffdays FROM `member_subscriptions` WHERE `member_id`='".$member->id."'";
			    		$Subscriber = new MemberSubscriptions();
	        				$result_set = new Resultset(null, $Subscriber, $Subscriber->getReadConnection()->query($query, $params)); 

	        			foreach ($result_set as $result) {
	                            $daysRemaining = ($result->diffdays > 0) ? $result->diffdays-1:0;
	                            $planType = $result->subscription;
                         	}
                         	$consumedcreditDay = 365 - $daysRemaining;
                        if ($daysRemaining <= 365 && $daysRemaining > 0) {
                        	

                        	switch ($planType) {
                        		case '1':
                        			$credit = ($daysRemaining == 365) ? 0.657 * 365 : 0.657 * $daysRemaining;
	        						$consumedCredit = 0.657 * $consumedcreditDay;
                        			break;
                        		case '2':
                        			$credit = ($daysRemaining == 365) ? 1.314 * 365 : $daysRemaining * 1.314;
	        						$consumedCredit = 1.314 * $consumedcreditDay;
                        			break;
                        		case '3':
                        			$credit = ($daysRemaining == 365) ? 3.257 * 365 : 3.257 * $daysRemaining;
	        						$consumedCredit = 3.257 * $consumedcreditDay;
                        			break;
                        		default:
                        			# code...
                        			break;
                        	}
                        } else if ($daysRemaining == 365) {
                        	switch ($planType) {
                        		case '1':
                        			$credit =  0.657 * 365;
	        						$consumedCredit = 0.657 * $consumedcreditDay;
                        			break;
                        		case '2':
                        			$credit = 1.314 * 365;
	        						$consumedCredit = 1.314 * $consumedcreditDay;
                        			break;
                        		case '3':
                        			$credit = 3.257 * 365;
	        						$consumedCredit = 3.257 * $consumedcreditDay;
                        			break;
                        		default:
                        			# code...
                        			break;
                        	}
                        } else if ($daysRemaining == 0) {
                        		$credit = 0;
                        		
                        }

			    	?>
					<div class="row">
						<div class="col-md-6">
							<?='<b>Remaining Credit: </b>' . $credit?>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
						<?php
							if ($planType == '1') {
								$premiumCredit = '1188.88' - $credit;
								$enhancedCredit = '479.88' - $credit;
								//$premium_gst_amount = number_format(($premiumCredit + $credit) * '1.05', 2, '.', '');
								$premium_gst = '1259.87' - number_format($credit, 2, '.', '');
								$enhanced_gst = '503.87' - number_format($credit, 2, '.', '');
								$premium_cent_amount = str_replace('.', '', $premium_gst);
								$enhanced_cent_amount = str_replace('.', '', $enhanced_gst);
								$remainingPremium_cent_amount = str_replace('.', '', $credit);
								$remainingEnhanced_cent_amount = str_replace('.', '', $credit);
								//$premium_cent_amount = str_replace('.', '', $premium_gst_amount);
								//$gst_amount = number_format($raw_gst_amount, 2, '.', '');  
						?>
							<a href='https://mybarangay.com/payment/upgradeenhancedpricing/<?=$enhanced_cent_amount.'/'.$remainingEnhanced_cent_amount.'/'.$credit.'/'.$member->id ?>'><button class="btn btn-xs btn-danger">upgrade to enhanced for <?='$'.$enhanced_gst.' CAD' ?></button></a> |
							<a href='https://mybarangay.com/payment/upgradepremiumpricing/<?=$premium_cent_amount.'/'.$remainingPremium_cent_amount.'/'.$planType.'/'.$credit.'/1/'.$member->id ?>'><button class="btn btn-xs btn-danger">upgrade to premium for <?='$'.$premium_gst.' CAD' ?></button></a>
						<?php		
							} else if ($planType == '2') {
								$premiumCredit = '1188.88' - $credit;
								//$premium_gst_amount = number_format(($premiumCredit + $credit) * '1.05', 2, '.', '');
								$premium_gst = '1259.87' - number_format($credit, 2, '.', '');
								$premium_cent_amount = str_replace('.', '', $premium_gst);
								$remainingPremium_cent_amount = str_replace('.', '', $credit);
						?>
							<a href='https://mybarangay.com/payment/upgradepremiumpricing/<?=$premium_cent_amount.'/'.$remainingPremium_cent_amount.'/'.$planType.'/'.$credit.'/2/'.$member->id ?>'><button class="btn btn-xs btn-danger">upgrade to premium for <?='$'.$premium_gst.' CAD' ?></button></a>
						<?php

							} 
						?>
						</div>
					</div>
					<?php  if ($planType == '3') {?>
					<div class="col-md-6">
						<h4> Create AD leaderboard  - size (720x200) </h4>
						<a href="<?php echo $this->url->getBaseUri().'biz/manage_ad_crop/1' ?>" class="btn btn-sm btn-primary"><i class="fa fa-star"></i> AD Leaderboard</a>
					</div>
					<?php } ?>
					<?php if ($planType == '2' || $planType == '3') {?>
					<div class="col-md-6">
						<h4> Create AD sidebar  - size (300x200) </h4>
						<a href="<?php echo $this->url->getBaseUri().'biz/manage_ad_crop/2' ?>" class="btn btn-sm btn-primary"><i class="fa fa-star"></i> AD Sidebar</a>
					</div>
					<?php } ?>

					<?php if($claimRequests){ 
							if ($planType < 4 && $planType > 0) {?>
					<div class="col-md-6">
						<h4> Create AD campaign  </h4>
						<a href="<?php echo $this->url->getBaseUri().'biz/adcampaignu/'.$claimRequests->member_id.'/'.$claimRequests->business_id ?>" class="btn btn-sm btn-primary"><i class="fa fa-star"></i> AD Campaign</a>
					</div>
					<?php }
						} ?>
					
			    </div>
			</div>
		<?php } ?>
			<?php }else{ ?>

                <div class="alert alert-info fade in" style="margin-top:20px;">
                <strong>INFO! </strong> 
   					<!--<p>You don't have any subscriptions at this time...</p>
   					<h4>for more information contact us: 1 (778) 889-INFO (4636) </h4>-->
   					<a href='https://mybarangay.com/payment/pricing/<?=$member->id ?>'><button class="btn btn-xs btn-danger">subscribe</button></a>
                </div>
				
			<?php } ?>



		<?php if ($subscription == 1) {?>

			<div class="panel panel-default">
				<div class="panel-body">
					<table id="example" class="table table-bordered display" width="100%" cellspacing="0">
					  	<thead style="border:1px solid black;">
							<tr>
								<th>Business Name</th>
								<th>Type</th>
								<th>Created</th>
								<th>Hits</th>
								<th>Impression</th>
								<th>Action</th>
							</tr>
					  	</thead>
					  	<tbody>
							<?php if ($imageAds) {?>
								<?php foreach ($imageAds as $imageAd) {?>
								<tr>
									<?php $businessName = Business::findFirst("id=". $imageAd->business_id); ?>
									<td><?php echo $businessName->name; ?></td>
									<td><?php 
										if ($imageAd->type == 1) {
										echo "Website Banner";
										} else if ($imageAd->type == 2) {
										echo "Mobile Banner";
										} else if ($imageAd->type == 3){
										echo "LeaderBoard";
										} else {
										echo "LeaderBoard w/ Text";
										}
										?>
									</td>
									<td><?php echo $imageAd->created; ?></td>
									<td><?php echo $imageAd->hit; ?></td>
									<td><?php echo $imageAd->impression; ?></td>
									<td>
									<button class="btn btn-primary btn-xs" onclick="getImage(<?=$imageAd->id?>,<?=$imageAd->type?>)">Preview</button>
									<?php if($seschecker){ ?>
									<?php echo Phalcon\Tag::linkTo('biz/delete_leaderboard/' . $imageAd->id,'<button class="btn btn-primary btn-xs">Delete</button>' );?>
									<?php } ?>
									</td>
								</tr>
								<?php } ?>
							<?php } ?>
					  	</tbody>
					</table>  
				</div>
			</div>
		<?php } ?>  

</div>

<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div id="typer" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header login_modal_header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel" style="color:#fff;padding-top:0px;margin-bottom:0px">IMAGE AD</h4>
      </div>
      <div class="modal-body">
      	<span id="previewImage"></span>
      </div>
      <div class="modal-footer">
        <button id="remover" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        
      </div>
    </div>
  </div>
</div>



<script type="text/javascript">
	function getImage(id, type) {
		$('#previewImage').html('<img src="<?php echo $this->url->getBaseUri() . 'preloaders/483.GIF'; ?>">');
		$.ajax({
			url: "<?php echo $this->url->getBaseUri() . 'biz/getImagePreview'; ?>",
			type: 'GET',
			data: {image_id:id},
			dataType: 'json',
			success: function(result){
				if (type == 3) {
					$('#typer').addClass('modal-lg');
				}
				$('#previewImage').html(result.html);
			},
				error: function(){
				alertify.error("whoops, something went wrong.");
			}
		});
		$('#myModal2').modal('show');
	}

</script>
