<?php echo $this->tag->stylesheetLink('themes3/themes/owlcarousel/nivo-lightbox.css'); ?>
<?php echo $this->tag->stylesheetLink('themes3/themes/owlcarousel/nivo-lightbox-theme/default/default.css'); ?>
<?php echo $this->tag->stylesheetLink('themes3/themes/owlcarousel/owl.carousel.css'); ?>
<?php echo $this->tag->stylesheetLink('themes3/themes/owlcarousel/owl.theme.css'); ?>

<style type="text/css">
img[class="object-fit_cover"] {
  width: 100%;
}
</style>

      <div class="col-md-12 "  >
          <ul class="breadcrumb pull-left" style="padding:5px 0px; margin:0px; text-index:1">
              <li><i class="fa fa-home"></i> MyBarangay</li>
              <li> Business</li>
              <li class="active">profile</li>
          </ul>
      </div>
      <div class="clearfix"></div>
      <!-- start col-md-9 -->
      <div class="col-md-12 boxiy" > 

        <?php if(isset($userSession['admin_access'])){
        if($userSession['admin_access'] == 1){
        ?>
        <div class="alert alert-warning fade in" style="margin-top:20px;">
        <strong>Welcome ADMIN ! </strong> 
        <p>page : business owner business page </p>
        </div>
        <?php } } ?>


      <?php
        //********************************************* 
        if($claimRequest) { 

 
        if ($claimRequest->status == "approved"){

          $reqsCount = count(Reviews::find('business_id = "'.$claimRequest->business_id.'" '));
          $lastreview = Reviews::findFirst([
            'conditions'    => 'business_id = :id:',
            'bind'          => array('id' => $claimRequest->business_id),
            'order'         => 'id desc'
            ]);
          $business = Business::findFirst($claimRequest->business_id);
          $businessCategoryLists = BusinessCategoryLists::find($claimRequest->business_id);
          $catname = '';
          ?>

        <div class="timeline-item-content">
            <div class="timeline-heading padding-bottom-0">
                <?php if($seschecker){ ?>
                <a class="btn btn-grave btn-sm" href="<?php echo $this->url->getBaseUri().'biz/update_businessu/'.$claimRequest->member_id; ?>"><i class="fa fa-edit"></i> Edit</a>
                <?php } ?>
                <a class="btn btn-grave btn-sm" href="<?php echo $this->url->getBaseUri().'business/view2/'.$claimRequest->business_id; ?>"><i class="fa fa-eye"></i> View Business</a>
                <?php if($userSession['id'] == 248 OR $userSession['id'] == 264 ){ ?>
                <a class="btn btn-grave btn-sm" href="<?php echo $this->url->getBaseUri().'biz/business_gallery/'.$claimRequest->member_id; ?>"><i class="fa fa-image"></i> Gallery</a>
                <?php } ?>
              <!-- <a class="btn btn-grave btn-sm" href="#" ><i class="fa fa-image"></i> Add Photos </a> -->
            </div> 
            <div class="clearfix"></div>         
            <div class="row">
                <div class="col-md-6">
                    <div class="timeline-body">                                                                                        
                        <!-- <img src="assets/images/gallery/nature-6.jpg" class="img-text" width="150" align="left"> --> 
                        <?php 
                            $img = 'themes3/img/empty.jpg';
                            $primaryPic = BusinessImages::findFirst([
                                'conditions'    =>  'business_id = :busid: AND primary_pic = :prime:',
                                'bind'          =>  array('busid' => $business->id, 'prime' => 'Yes' ),
                                'order'         =>  'id DESC'
                            ]);
                            if($primaryPic){
                                $img = $primaryPic->file_path.$primaryPic->filename;
                                $link = $this->url->getBaseUri().'biz/business_profile_photo/'.$claimRequest->member_id.'/'.$primaryPic->id;
                            }else{
                                $link = $this->url->getBaseUri().'biz/business_profile_photo/'.$claimRequest->member_id.'/newprime';
                            }
                            
                            echo '<a href="'.$link.'" data-toggle="tooltip" title="Business primary photo" >';
                            echo Phalcon\Tag::image(array($img, 'class' => 'img-text',  'width' => '150',  'align' => 'left'));
                            echo '</a>';
                        ?>
     
                        <h2 class="bold"><?php echo $business->name;?></h2>

                        <small>
                            <span class="fa fa-map-marker"></span> 
                            <?php echo $claimRequest->Business->street; ?>,
                            <?php echo $claimRequest->Business->city; ?>, 
                            <?php echo $claimRequest->Business->country_code_id; ?>
                        </small>
      
                        <p style=""> <?php //echo $lastreview->content; ?></p> 
                        <ul class="list-tags push-up-10">         
                            <?php 
                            foreach ($businessCategoryLists as $buslist) {
                            $bussCat = BusinessCategories::findFirst($buslist->business_category_id);
                            $catname .= '<li><a href="#" ><i class="fa fa-asterisk"></i> ';
                            $catname .= ($bussCat->main_title != '') ? $bussCat->main_title : '' ;
                            $catname .= ($bussCat->title != '') ? ' <i class="fa fa-caret-right"></i> '.$bussCat->title : '' ;
                            $catname .= ($bussCat->sub_title != '') ? ' <i class="fa fa-caret-right"></i> '.$bussCat->sub_title : '' ;
                            $catname .= '</a></li>' ;
                            echo $catname;
                            } ?>
                        </ul>
                    </div>   

                    <div class="clearfix"></div>


                </div>     
                <div class="col-md-6">
                <!--<div class="details-tab">
                        <div class="panel panel-default tabs">
                            <ul class="nav nav-tabs nav-justified">
                                <li class="active"><a href="#tab1" data-toggle="tab"><i class="fa fa-star"></i> Contact Info</a></li>
                                <li><a href="#tab2" data-toggle="tab"><i class="fa fa-star"></i> Location</a></li>
                                <li><a href="#tab3" data-toggle="tab"><i class="fa fa-star"></i>  Hours</a></li>
                                <li><a href="#tab4" data-toggle="tab"><i class="fa fa-star"></i> Reviews</a></li>
                            </ul>
                            <div class="panel-body tab-content">
                                <div class="tab-pane active" id="tab1">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dictum dolor sem, quis pharetra dui ultricies vel. Cras non pulvinar tellus, vel bibendum magna. Morbi tellus nulla, cursus non nisi sed, porttitor dignissim erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc facilisis commodo lectus. Vivamus vel tincidunt enim, non vulputate ipsum. Ut pellentesque consectetur arcu sit amet scelerisque. Fusce commodo leo eros, ut eleifend massa congue at.</p>
                                </div>
                                <div class="tab-pane" id="tab2">
                                    <p>Donec tristique eu sem et aliquam. Proin sodales elementum urna et euismod. Quisque nisl nisl, venenatis eget dignissim et, adipiscing eu tellus. Sed nulla massa, luctus id orci sed, elementum consequat est. Proin dictum odio quis diam gravida facilisis. Sed pharetra dolor a tempor tristique. Sed semper sed urna ac dignissim. Aenean fermentum leo at posuere mattis. Etiam vitae quam in magna viverra dictum. Curabitur feugiat ligula in dui luctus, sed aliquet neque posuere.</p>
                                </div>
                                <div class="tab-pane" id="tab3">
                                    <p>Vestibulum cursus augue sed leo tempor, at aliquam orci dictum. Sed mattis metus id velit aliquet, et interdum nulla porta. Etiam euismod pellentesque purus, in fermentum eros venenatis ut. Praesent vitae nibh ac augue gravida lacinia non a ipsum. Aenean vestibulum eu turpis eu posuere. Sed eget lacus lacinia, mollis urna et, interdum dui. Donec sed diam ut metus imperdiet malesuada. Maecenas tincidunt ultricies ipsum, lobortis pretium dolor sodales ut. Donec nec fringilla nulla. In mattis sapien lorem, nec tincidunt elit scelerisque tempus.</p>
                                </div>       
                                <div class="tab-pane" id="tab4">
                                    <p>pellentesque purus, in fermentum eros venenatis ut. Praesent vitae nibh ac augue gravida lacinia non a ipsum. Aenean vestibulum eu turpis eu posuere. Sed eget lacus lacinia, mollis urna et, interdum dui. Donec sed diam ut metus imperdiet malesuada. Maecenas tincidunt ultricies ipsum, lobortis pretium dolor sodales ut. Donec nec fringilla nulla. In mattis sapien lorem, nec tincidunt elit scelerisque tempus.</p>
                                </div>            
                            </div>
                        </div>                                         
            
                    </div> -->
                        <div id="owl-works" class="owl-carousel">
                        <?php
                            $businessPhoto = BusinessImages::find(array('business_id ='.$claimRequest->business_id));
                            if ($businessPhoto) { 
                                foreach ($businessPhoto as $image) {
                        ?>
                                    <div class="item">
                                        <a href="<?php echo $this->url->getBaseUri(). $image->file_path.$image->filename; ?>" title="This is an image title" data-lightbox-gallery="<?php echo  'gallery'.$image->id; ?>">
                                            <img  class="object-fit_cover" height="200" src="<?php echo $this->url->getBaseUri(). $image->file_path.$image->filename; ?>" alt="img">
                                        </a>
                                    </div>
                        <?php
                                } 
                            }  
                        ?>
                        </div>
                    
                </div> 

            </div>

        </div>
     

			<div class="timeline">
			    <!-- START TIMELINE ITEM -->
			    <div class="timeline-item timeline-main">
			        <div class="timeline-date">Business Timeline</div>
			    </div>
			    <!-- END TIMELINE ITEM -->
			    <?php
			    $busid = $claimRequest->business_id;
			    $reviews = Reviews::find([
			            'conditions' => 'business_id = :busid: AND visibility = :visible:',
			            'bind' => array('busid' => $busid, 'visible' => '0'),
			            'order' => 'id ASC'
			    ]);
			    if($reviews){
			        foreach ($reviews as $rev) 
			        	{
			    ?>  
					        <!-- START TIMELINE ITEM -->
					        <div class="timeline-item timeline-item-right">
					            <div class="timeline-item-info"><?php echo date('M d, Y ', strtotime($rev->created)); ?></div>
					            <div class="timeline-item-icon"><span class="fa fa-user"></span></div>
					            <div class="timeline-item-content">
					                <div class="timeline-heading">
					                    <?php

					                    $revPhoto =  MemberPhotos::findFirst([
					                    'conditions' => 'member_id = :id: AND primary_pic = :type:',
					                    'bind' => array('id' => $rev->member_id, 'type' => 'Yes'),
					                    'order' => 'id desc'
					                    ]);
					                    if ($revPhoto) {
					                        $profilePic = $this->url->getBaseUri() . $revPhoto->file_path . $revPhoto->filename;
					                        echo '<img class="object-fit_cover" src="'.$profilePic.'" alt="profile">';
					                    }else{
					                        echo Phalcon\Tag::image(array('img/default_large.png', 'alt' => 'Profile')); 
					                    } 
					                    ?>
					 
					                   <a href="#"><?php echo $rev->members->first_name; ?></a> 
					                </div>
					                <div class="timeline-body commentx" id="links">                                            
					                <p style="font-weight:bold"><?php echo $rev->content; ?></p>
					                </div>
					                <div class="timeline-body comments">
					                <?php
					                $reviewRespond = ReviewResponds::find([
					                    'conditions'    =>  'review_id = :revid: AND business_id = :busid:',
					                    'bind'          =>  array('revid' => $rev->id, 'busid' => $rev->business_id)
					                ]);
					                if($reviewRespond){
					                    foreach ($reviewRespond as $rresponse) {
					                ?>
					                    <div class="comment-item">
					                    
					                    <?php
					                        $resPhoto =  MemberPhotos::findFirst([
					                        'conditions' => 'member_id = :id: AND primary_pic = :type:',
					                        'bind' => array('id' => $rresponse->member_id, 'type' => 'Yes'),
					                        'order' => 'id desc'
					                        ]);
					                        if ($resPhoto) {
					                            $profilePic = $this->url->getBaseUri() . $resPhoto->file_path . $resPhoto->filename;
					                            echo '<img class="object-fit_cover" src="'.$profilePic.'" alt="profile">';
					                        }else{
					                            echo Phalcon\Tag::image(array('img/default_large.png', 'alt' => 'Profile')); 
					                        } 
					                    ?>
					 					<img src="<?php echo $this->url->getBaseUri().'themes3/img/ajaxloader.png'; ?>" class="ajaxload" style="width:20px;height:20px;display:none">
					                        <p class="comment-head">
					                        	<span style="font-size:12px;font-weight:bold;color:#333;text-transform:capitalize"><?php echo $rresponse->business->name; ?></span>
					                           
					                        </p>
                                            <?php if($seschecker){ ?>
					                        <div class="dropdown pull-right" >
					                            <button class="btn btn-grave btn-sm dropdown-toggle" type="button" id="menu1" data-toggle="dropdown"><i class="fa fa-edit"></i>
					                            <span class="caret"></span></button>
					                            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
					                              <li role="presentation"><a data-target="#myModal" data-toggle="modal"  role="menuitem" tabindex="-1" href="#"   class="responEdit" id="<?php echo $rresponse->id; ?>"><i class="fa fa-edit"></i> Edit</a></li>
					                              <li role="presentation"><a role="menuitem" tabindex="-1" href="#"  class="responseDelete" id="<?php echo 'resdel-'.$rresponse->id; ?>"><i class="fa fa-close"></i> Delete</a></li>
					                            </ul>
					                        </div>
                                            <?php } ?>


					                        <p class="respond-content"><?php echo $rresponse->content; ?></p>
					                        <small class="text-muted">@<?php echo date('M d ', strtotime($rresponse->modified)); ?></small>
					                    </div>  
					                <?php
					                    }

					                }
					                ?>

					                <div class="<?php echo 'commentReply-'.$rev->id; ?>">
											<img src="<?php echo $this->url->getBaseUri().'themes3/img/ajaxloader.png'; ?>"  style="width:20px;display:none">
					                </div>
                                    <?php if($seschecker){ ?>
    					                <div class="comment-write reply-hide">  

                                            <?php
                                                $busowner =  MemberPhotos::findFirst([
                                                'conditions' => 'member_id = :id: AND primary_pic = :type:',
                                                'bind' => array('id' => $claimRequest->member_id, 'type' => 'Yes'),
                                                'order' => 'id desc'
                                                ]);
                                                if ($busowner) {
                                                    $profilePic = $this->url->getBaseUri() . $busowner->file_path . $busowner->filename;
                                                    echo '<img class="object-fit_cover" src="'.$profilePic.'" alt="profile">';
                                                }else{
                                                    echo Phalcon\Tag::image(array('img/default_large.png', 'alt' => 'Profile')); 
                                                } 
                                            ?>

    						                <button class="responseAdd btn btn-primary btn-sm"  id="<?php echo 'resadd-'.$rev->id ?>" data-id="<?php echo $rev->id ?>" data-business="<?php echo $rev->business_id; ?>" data-member="<?php echo $busid; ?>"  >respond</button>   
    					                    <textarea class="form-control responseReply" id="<?php echo 'resrep-'.$rev->id; ?>" placeholder="Write a comment" rows="2"></textarea>    
    					                </div>    
                                    <?php } ?>           
					            
					                </div>                                                                                
					            </div>
					        </div>                                
					        <!-- END TIMELINE ITEM -->
			        <?php
			            }//end of foreach reviews as rev
			        }//end of review if true
			    ?> 
			</div>

            <!-- ********************************************* -->
          <?php } ?>
      <?php }else{ ?>
                <?php if($seschecker){ ?>
                    <p class="text-center" style="padding:40px 0px"><i class="fa fa-user"></i> You haven't claimed any business yet.</p>
                    <div class="text-center">
                    <a class="btn btn-primary " href="<?php echo $this->url->getBaseUri().'biz/biz_claimsearch' ?>">
                    find and claim business
                    </a>
                    </div>
                <?php }else{ ?>
                    <p class="text-center" style="padding:40px 0px"><i class="fa fa-user"></i> This business owner haven't claimed any business yet.</p>
                <?php } ?>
      <?php } ?>

        <div class="clearfix"></div>

  </div>
<!-- end col-md-9 -->

<!-- Modal -->
	<div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog">
		  <!-- Modal content-->
		  <div class="modal-content">
		    <div class="modal-header">
		      <button type="button" class="close" data-dismiss="modal">&times;</button>
		      <h4 class="modal-title">Edit</h4>
		    </div>
		    <div class="timeline-item-content">
		        <div class="timeline-body comments">
		            <div class="comment-item">
		                <div class="comment-write">                                                
		                    <textarea class="form-control contentEdit" name="respond"  placeholder="Write a comment" rows="3"></textarea>                                                
		                </div>
		            </div>
		        </div>
		    </div>
		    <div class="modal-footer">
		    	<img src="<?php echo $this->url->getBaseUri().'themes3/img/ajaxloader.png'; ?>" class="ajaxModal pull-left" style="width:20px;height:20px;display:none">
		        <input type="hidden" id="id-modal" value="">
		      <button type="button"  class="saveEdit btn btn-primary" id="saveEdit" >Post</button>
		      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		    </div>
		  </div>
		</div>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="myModalError" role="dialog">
		<div class="modal-dialog">
		  <!-- Modal content-->
		  <div class="modal-content">
		    <div class="modal-header">
		      <button type="button" class="close" data-dismiss="modal">&times;</button>
		      <h4 class="modal-title"><i class="fa fa-warning"></i> We're Sorry.</h4>
		    </div>
		    <div class="timeline-item-content">
		        <div class="timeline-body ">
		            <h4><div id="errnoMessage"></div></h4>
					<i class="fa fa-info-circle"></i> try to refresh your page
		        </div>
		    </div>
		    <div class="modal-footer">
		      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		    </div>
		  </div>
		</div>
	</div>


<?php echo $this->tag->javascriptInclude('themes3/themes/owlcarousel/owl.carousel.min.js'); ?>
<?php echo $this->tag->javascriptInclude('themes3/themes/owlcarousel/nivo-lightbox.min.js'); ?>


<script type="text/javascript">
$(function(){


        //owl carousel
    $('#owl-works').owlCarousel({
            items : 4,
            itemsDesktop : [1199,5],
            itemsDesktopSmall : [980,5],
            itemsTablet: [768,5],
            itemsTabletSmall: [550,2],
            itemsMobile : [480,2],
    });

    $("#myModal").on("show.bs.modal", function(e) {
            var link = $(e.relatedTarget);
            var id = link.attr('id');
            $(this).find("#id-modal").val(id);
			var content = $( '#'+id ).parents(".comment-item").find("p.respond-content").text();
			$(".contentEdit").val(content);
            // $.ajax({
            //     url: "https://mybarangay.com/biz/responseEdit",
            //     type:'GET',
            //     dataType: 'json',
            //     data: {ids: $id },
            //     success:function(data){
            //         if(data.type == 'ok'){
            //             // $( '#'+$id ).parents(".comment-item").find( ".respond-content" ).html('david heart');
            //             $(".contentEdit").val(data.html);
                    
            //         }
            //     }
            // });
    });
    
    $('#saveEdit').click(function(){
         var contentx = $(".contentEdit").val();
         var idmodal = $("#id-modal").val();
        $.ajax({
            url: "https://mybarangay.com/biz/responseSave",
            type:'POST',
            dataType: 'json',
            data: {ids: idmodal, content: contentx },
            beforeSend: function () {
				$('.ajaxModal').fadeIn();
            },
            success:function(data){
            	$('.ajaxModal').fadeOut();
                if(data.type == 'ok'){
                    $( '#'+idmodal ).parents(".comment-item").find( ".respond-content" ).html(contentx);
                    $( '#'+idmodal ).parents(".comment-item").css('background', '#a6f3a2').fadeIn();
           			var parentx = $( '#'+idmodal ).parents(".comment-item");
	                $('#myModal').modal('hide');
					setTimeout(function(){
						parentx.css('background', '#e6e6e6').fadeIn();
					}, 2000);
                }else if(data.type == 'failed'){
                	$('#myModalError').modal('show');
                	$('#errnoMessage').html(data.message);
                }else{
                	$('#myModalError').modal('show');
                	$('#errnoMessage').html('Oops! Something went wrong. please try again');
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
            	$('#myModalError').modal('show');
            	$('#errnoMessage').html('Oops! Something went wrong. please try again');
			}
        });
    });

    $('.responseAdd').click(function(){
    	var busid 		= $(this).attr('data-business');
    	var memid 		= $(this).attr('data-member');
    	var revid 		= $(this).attr('data-id');
    	var content 	= $('#resrep-'+revid).val();
 		//debug   	
    	// console.log('busid : ' + busid  + '  - memid : ' +  memid + '  - revid : ' + revid);
    	// console.log('content ' + content);
        $.ajax({
            url: "https://mybarangay.com/biz/responseAdd",
            type:'POST',
            dataType: 'json',
            data: {busid: busid, memid: memid, revid: revid, content: content },
            beforeSend: function () {
				$('.commentReply-'+revid + ' > img ').fadeIn();
            },
            success:function(data){
				$('.commentReply-'+revid + ' > img ').fadeOut();
                if(data.type == 'ok'){
    				$('.commentReply-'+revid).append(data.html).fadeIn();
    				$('#resrep-'+revid).val('');
                }else if(data.type == 'failed'){
                	$('#myModalError').modal('show');
                	$('#errnoMessage').html(data.message);
                }else{
                	$('#myModalError').modal('show');
                	$('#errnoMessage').html('Oops! Something went wrong. please try again');
                }
            },
             error: function (xhr, ajaxOptions, thrownError) {
            	$('#myModalError').modal('show');
            	$('#errnoMessage').html('Oops! Something went wrong. please try again');
			}
        });
     return false;
    });

	$(document).on("click", ".responseDelete", function() {
	    var conf = confirm("are you sure?");
	    if (conf == true) {
	        var id = $(this).attr('id');
            $.ajax({
                url: "https://mybarangay.com/biz/responseDelete",
                type:'GET',
                dataType: 'json',
                data: {ids: id },
	            beforeSend: function () {
					$( '#'+id ).parents(".comment-item").find( ".ajaxload" ).fadeIn();
	            },
                success:function(data){
                	$( '#'+id ).parents(".comment-item").find( ".ajaxload" ).fadeOut();
                    if(data.type == 'ok'){
				       $('#'+id).parents(".comment-item").fadeOut(1000,function(){
				            $(this).remove();
				       });
                    }else if(data.type == 'failed'){
	                	$('#myModalError').modal('show');
	                	$('#errnoMessage').html(data.message);
                    }else{
	                	$('#myModalError').modal('show');
	                	$('#errnoMessage').html('Oops! Something went wrong. please try again');
                    }
                },
                 error: function (xhr, ajaxOptions, thrownError) {
                	$('#myModalError').modal('show');
                	$('#errnoMessage').html('Oops! Something went wrong. please try again');
				}
            });
	    }
        return false;
	});

});
</script>