<?php
    echo $this->tag->stylesheetLink('themes3/themes/bootstrapValidator/bootstrapValidator.min.css');
    echo $this->tag->stylesheetLink("themes3/themes/cropper/cropper.css");
    echo $this->tag->javascriptInclude('themes3/themes/bootstrapValidator/bootstrapValidator.min.js');
    echo $this->tag->javascriptInclude("themes3/themes/cropper/cropper.min.js");

?>




<div class="col-md-12 "  >
    <div class="col-md-12 col-xs-12"  >
        <ul class="breadcrumb pull-left" style="padding:5px 0px; margin:0px">
            <li><i class="fa fa-home"></i> MyBarangay</li>
            <li class="active">profile</li>
        </ul>
    </div>
</div>


<!-- start col-md-12 -->
<div class="col-md-12 col-sm-12 boxiy" style="min-height:500px;"> 


<?php if(isset($userSession['admin_access'])){
        if($userSession['admin_access'] == 1){
?>
    <div class="alert alert-warning fade in" style="margin-top:20px;">
    <strong>Welcome ADMIN ! </strong> 
        <p>page : business owner profile page </p>
    </div>
<?php } } ?>




<div class="col-md-6 col-md-offset-3">
    <p><?php $this->flash->output() ?></p>
</div>
<div class="clearfix"></div>


    <div class="profile-env"><!-- start profile-env -->

        <header class="row">
        <?php

        ?>
            <div class="col-sm-2">
                <a href="#" class="profile-picture">
                    <?php
                    //if($userSession['id'] == '248'){
                    echo Phalcon\Tag::image(array('themes3/img/finalgiffer6.gif', 'style' => 'width:80px;display: none;', 'id' => 'profile-loader', 'alt' => 'Profile')); 
                    //}
                    $primaryPix =  MemberPhotos::findFirst([
                    'conditions' => 'member_id = :id: AND primary_pic = :type:',
                    'bind' => array('id' => $userid, 'type' => 'Yes'),
                    'order' => 'id desc'
                    ]);
                    // if ($primaryPix) {
                    //     $profilePic = $this->url->getBaseUri() . $primaryPix->file_path . $primaryPix->filename;
                    //     echo '<img class="object-fit_cover" src="'.$profilePic.'" alt="profile">';
                    // }else{
                    //     echo Phalcon\Tag::image(array('/img/profilepic.jpg', 'class' => 'object-fit_cover', 'alt' => 'Profile')); 
                    // }    
                    ?>
                    <div class="pro-imgc" ></div>
                </a>
            </div>
            <?php 
            //if($userSession['id'] == '248'){
            ?>

            <?php if($seschecker){ ?>
            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
            <i class="fa fa-photo"></i> Change Profile Picture
            </button>
            <?php } ?>

            <div class="col-sm-7">
                <ul class="profile-info-sections">
                    <li>
                        <div class="profile-name">
                        <strong>
                        <a href="#"><?php echo $member->first_name; ?></a>
                        <!-- <a href="#" class="user-status is-online tooltip-primary" data-toggle="tooltip" data-placement="top" data-original-title="Online"></a> -->
                        <!-- User statuses available classes "is-online", "is-offline", "is-idle", "is-busy" -->            </strong>
                        <span><a href="#">Kabarangay</a></span>
                        </div>
                    </li>

                    <li>
                        <div class="profile-stat">
                        <?php 
                        if($claimRequests){
                            echo '<h3>'.$claimRequests->business->name.'</h3>';
                        }else{
                            if($seschecker){ 
                                echo '<h3>You haven\'t claimed any business yet.</h3>';
                            }else{
                                echo '<h4>No Business</h4>';
                            }
                        }
                        ?></h3>
                        <span><a href="#">name of business</a></span>
                        </div>
                    </li>
             


                </ul>
            </div>
        </header>

        <section class="profile-info-tabs">

            <div class="row">

                <div class="col-sm-offset-2 col-sm-10">
                    <ul class="user-details">
                        <li>
                            <a href="#">
                            <i class="fa fa-map-marker"></i>
                            <?php 
                            echo ($member->city != '')? $member->city : '' ; 
                            echo (empty($member->city))? '' : ', ' ;
                            echo ($member->state != '')? $member->state : ' ' ;
                            echo (empty($member->state))? '' : ', ';
                            echo ($member->country_code_id != '')? $member->country_code_id : '' ; 
                            ?>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                            <i class="fa fa-envelope"></i>
                            Email <span><?php echo $member->email; ?></span>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                            <i class="fa fa-calendar"> </i>
                            Member since <?php echo  date("F Y ", strtotime($member->created)); ?>
                            </a>
                        </li>
                    </ul>

                    <!-- tabs for the profile links -->
                    <ul class="nav nav-tabs" id="ajaxTabs" role="tablist">
                        <li class="active" ><a href="#profile-info" role="tab" data-toggle="tab">Profile</a></li>
                    </ul>
                </div>
            </div>
        </section>


        <div class="tab-content"><!-- start of tab-content -->

            <!-- profile tab -->
            <div class="tab-pane active" id="profile-info"> 



                <div class="row">

                    <div class="col-md-6">
                      <fieldset class="sched-border">

                            <legend class="sched-border">Edit Information</legend>
                            <legend class="pull-right" style="text-align:left">General Information</legend>

                            <div class="row">
                            <?php  echo Phalcon\Tag::form(array('biz/profile/'.$member->id, 'id' => 'businfo', 'method' => 'post', 'enctype'=>'multipart/form-data')); ?>
                                <div class="col-md-8">
                                    <input type="hidden" class="form-control" name="id" id="member_id" value="<?php echo $member->id; ?>">
                                    <div class="form-group" >
                                        <label>(*) First Name </label>
                                        <input <?php if(!$seschecker){ echo 'disabled'; } ?> class="form-control" name="first_name" type="text"  value="<?php echo $member->first_name; ?>" placeholder="First Name" >
                                        <input type="hidden" name="id" value="<?php echo $member->id; ?>">
                                    </div>
                                    <div class="form-group">
                                        <label>Last name </label>
                                        <input  <?php if(!$seschecker){ echo 'disabled'; } ?> type="text" name="last_name" class="form-control"  value="<?php echo $member->last_name; ?>" placeholder="Last Name"> 
                                    </div>
                                    <div class="form-group ">
                                        <label> Mobile</label>
                                        <input <?php if(!$seschecker){ echo 'disabled'; } ?> type="text" class="form-control" name="mobile" value="<?php echo $member->mobile; ?>" placeholder="Mobile">
                                    </div>
                                    <input type="hidden" class="form-control" name="email" value="<?php echo $member->email; ?>">
                                    <div class="clearfix"></div>

                                    <div class="form-group">
                                        <label>Address </label>
                                        <input <?php if(!$seschecker){ echo 'disabled'; } ?> type="text" class="form-control" name="street" value="<?php echo $member->street; ?>" placeholder="Street">
                                    </div>



                                    <div class="form-group ">
                                        <label>(*) Country </label>
                                        <select <?php if(!$seschecker){ echo 'disabled'; } ?> id="country_id" name="country_id"   class="form-control">
                                            <option value=""> Country</option>
                                            <?php $countries = CountryCodes::find(); ?>
                                            <?php foreach ($countries as $key => $country) { ?>
                                            <?php if($country->id == $member->country_code_id){ ?>
                                            <option value="<?php echo $country->id; ?>" selected><?php echo $country->country_name; ?></option>
                                            <?php } else { ?>
                                            <option value="<?php echo $country->id; ?>"><?php echo $country->country_name; ?></option>
                                            <?php }  }?>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label>State or Province </label>
                                        <input <?php if(!$seschecker){ echo 'disabled'; } ?>  id="state" type="text" class="form-control" name="state" value="<?php echo $member->state; ?>" value="" placeholder="State/Province">
                                    </div>

                                    <div class="form-group">
                                        <label>City </label>
                                        <input  <?php if(!$seschecker){ echo 'disabled'; } ?> name="city" type="text" class="form-control" value="<?php echo $member->city; ?>" placeholder="City" >
                                    </div>

                                </div>


                                <div class="clearfix"></div>
                            <?php if($seschecker){ ?>
                                <div class="col-md-3">
                                    <input type="submit" name='profileupdate' value="Update" class="btn btn-sm btn-primary">
                                </div>
                            <?php } ?>

                            <?php  echo Phalcon\Tag::endForm(); ?>
                            </div>
                        </fieldset>
                    </div>

            <?php if($seschecker){ ?>
                    <div class="col-md-6">
                        <fieldset class="sched-border">
                            <legend class="sched-border">Edit Account</legend>

                            <legend class="pull-right" style="text-align:left">Change Password</legend>

                            <div class="row">
                              <?php  echo Phalcon\Tag::form(array('biz/change_password/'.$member->id, 'id' => 'changepass', 'method' => 'post', 'enctype'=>'multipart/form-data',)); ?>
                          
                                <div class="col-md-8">

                                    <div class="form-group ">
                                        <label>Current Password</label>
                                        <input type="hidden" name="id" value="<?php echo $member->id; ?>">
                                        <input type="password" class="form-control" name="current_password" value="" placeholder="current password">
                                    </div><div class="clearfix"></div>

                                    <div class="form-group ">
                                        <label>New Password</label>
                                        <input type="password" class="form-control" name="new_password" value="" placeholder="new password">
                                    </div><div class="clearfix"></div>

                                    <div class="form-group ">
                                        <label>Confirm New Password</label>
                                        <input type="password" class="form-control" name="confirm_password" value="" placeholder="confirm password">
                                    </div><div class="clearfix"></div>
                                    <input type="submit" name='profileupdate' value="Update" class="btn btn-sm btn-primary">
                                </div>

                            <?php  echo Phalcon\Tag::endForm(); ?>
                            </div>
                        </fieldset>
                    </div>


                    <div class="col-md-6">
                        <fieldset class="sched-border">
                            <legend class="sched-border">Edit Email</legend>

                            <legend class="pull-right" style="text-align:left">Change Email (Username)</legend>

                            <div class="row">
                              <?php  echo Phalcon\Tag::form(array('biz/update_email/'.$member->id, 'id' => 'updateEmail', 'method' => 'post')); ?>
                          
                                <div class="col-md-8">
                                    <div class="form-group ">
                                        <label>Current Email</label>
                                        <input type="hidden" name="id" value="<?php echo $member->id; ?>">
                                        <input type="email" class="form-control" name="current_email" value="<?php echo $member->email; ?>" placeholder="current email" disabled="disabled">
                                    </div><div class="clearfix"></div>
                                    <div class="form-group ">
                                        <label>New Email</label>
                                        <input type="email" class="form-control" name="new_email" placeholder="new email">
                                    </div><div class="clearfix"></div>

                                    <div class="form-group ">
                                        <label>Confirm New Email</label>
                                        <input type="email" class="form-control" name="confirm_email" placeholder="confirm email">
                                    </div><div class="clearfix"></div>
                                    <input type="submit" name='profileupdate' value="Update" class="btn btn-sm btn-primary">
                                </div>

                            <?php  echo Phalcon\Tag::endForm(); ?>
                            </div>
                        </fieldset>
                    </div>

                    <?php } ?>
                </div>
            </div>
        </div>
	</div>
</div>

<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Profile Picture</h4>
            </div>
            <div class="modal-body">
                <?php 
                $link = 'themes3/img/finalgiffer6.gif';
            echo '<div class="img-loader" style="background:url('.$this->url->getBaseUri().$link.') 
             center center; background-size:cover;"></div>';
             ?>
                <div class="cover-box"></div>
                <div class="ibox-content">
                    <div class="row">
               
                        <div class="col-md-6 col-sm-6">
             
                            <div class="image-crop">

                            <?php
                            if ($primaryPix) {
                                $profilePic = $this->url->getBaseUri() . $primaryPix->file_path . $primaryPix->filename;
                                echo '<img class="object-fit_cover" src="'.$profilePic.'" alt="profile">';
                            }else{
                                echo Phalcon\Tag::image(array('img/default_large.png')); 
                            } 
                            ?>

                           
                            </div>
                        </div>
      
                        <div class="col-md-6 col-sm-6">
                            <div class="img-preview img-preview-sm thumbnail"></div>
                            <div class="btn-group">
                                <button id="cropdownload" data="<?php echo $member->id; ?>"  class="download btn btn-primary btn-sm">
                                CROP
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
               <div class="btn-group pull-left">
                    <label title="Upload image file" for="inputImage" class="btn btn-primary btn-sm">
                        <input type="file" accept="image/*" name="file" id="inputImage" class="hide">
                        Upload new image
                    </label>
                </div>
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">
   $(function(){

        var $image = $(".image-crop > img");
        imageload();
        $($image).cropper({
            aspectRatio: 1,
            preview: ".img-preview",
            done: function(data) {
                console.log(data);
            }
        });

        var $inputImage = $("#inputImage");
        if (window.FileReader) {
            $inputImage.change(function() {
                var fileReader = new FileReader(),
                files = this.files,
                file;
                if (!files.length) {
                    return;
                }
                file = files[0];
                if (/^image\/\w+$/.test(file.type)) {
                    fileReader.readAsDataURL(file);
                    fileReader.onload = function () {
                        $inputImage.val("");
                        $image.cropper("reset", true).cropper("replace", this.result);
                    };
                } else {
                    showMessage("Please choose an image file.");
                }
            });
        } else {
            $inputImage.addClass("hide");
        }

        $("#cropdownload").click(function() {
            var xerid = $(this).attr('data');
            var image = $image.cropper("getDataURL", {width:100, height:100});
            $.ajax({
                url: "<?php echo $this->url->getBaseUri().'biz/downloadCropImage' ?>",
                type:'POST',
                dataType: 'json',
                data: {imagelinks: 'crop',imagelink: image, userid: xerid },
                beforeSend: function () {
                    $('.cover-box').fadeIn();
                    $('.img-loader').fadeIn();
                    $('.download').attr('disabled', true);
                },
                success:function(data){
                    if(data.type == 'ok'){
                        console.log(data.text);
                        imageload();
                    }else{
                        console.log('sorry ' + data.text);
                    }     
                    $('.download').attr('disabled', false);
                    $('#myModal').modal('hide');
                },

                error: function (xhr, ajaxOptions, thrownError) {
                    // $('.loader').fadeOut();
                    // $('.show-success').text('Error').css('color','red').fadeIn();
                },
                complete: function () {
                    console.log('hi dave');
                    $('.cover-box').fadeOut();
                    $('.img-loader').fadeOut();
                    $('.download').attr('disabled', false);
                }
            });
        });
        

    $('#changepass').bootstrapValidator({
      message: 'This value is not valid',
      feedbackIcons: {
          valid: 'glyphicon glyphicon-ok',
          invalid: 'glyphicon glyphicon-remove',
          validating: 'glyphicon glyphicon-refresh'
      },
      fields: {

          current_password: {
              validators: {
                  notEmpty: {
                      message: '* Required'
                  }

              }
          },
          new_password: {
            validators: {
                notEmpty: {
                    message: 'The new password is required'
                },
                callback: {
                    message: 'The new password is not valid',
                    callback: function(value, validator, $field) {
                        if (value === '') {
                            return true;
                        }

                        // Check the password strength
                        if (value.length < 6) {
                            return {
                                valid: false,
                                message: 'It must be more than 6 characters long'
                            };
                        }

                        // The password doesn't contain any uppercase character
                        if (value === value.toLowerCase()) {
                            return {
                                valid: false,
                                message: 'It must contain at least one upper case character'
                            }
                        }

                        // The password doesn't contain any uppercase character
                        if (value === value.toUpperCase()) {
                            return {
                                valid: false,
                                message: 'It must contain at least one lower case character'
                            }
                        }

                        // The password doesn't contain any digit
                        if (value.search(/[0-9]/) < 0) {
                            return {
                                valid: false,
                                message: 'It must contain at least one digit'
                            }
                        }
                        return true;
                    }
                }
              }
          },
          confirm_password: {
              validators: {
                    notEmpty: {
                        message: '* Required'
                    },
                  identical: {
                      field: 'new_password',
                      message: 'The new password and its confirm password are not the same'
                  }
              }
          }

        }
    });

    $('#updateEmail').bootstrapValidator({
          message: 'This value is not valid',
          feedbackIcons: {
              valid: 'glyphicon glyphicon-ok',
              invalid: 'glyphicon glyphicon-remove',
              validating: 'glyphicon glyphicon-refresh'
          },
          fields: {
              current_email: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      },
                      emailAddress: {
                          message: 'not a valid email address'
                      }
    
                  }
              },
              new_email: {
                validators: {
                    notEmpty: {
                        message: 'The new email is required'
                    },
                    emailAddress: {
                        message: 'not a valid email address'
                    }
                  
                  }
              },
              confirm_email: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      },
                      emailAddress: {
                          message: 'not a valid email address'
                      },
                      identical: {
                          field: 'new_email',
                          message: 'The new email and its confirm email are not the same'
                      }
                  }
              }

            }
        });


   $('#businfo').bootstrapValidator({

          message: 'This value is not valid',
          feedbackIcons: {
              valid: 'glyphicon glyphicon-ok',
              invalid: 'glyphicon glyphicon-remove',
              validating: 'glyphicon glyphicon-refresh'
          },
          fields: {

              first_name: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },
              email: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      },
                      emailAddress: {
                          message: 'not a valid email address'
                      }
                  }
              },

            }
        });
    });
    function imageload(){
        var member_id = $('#member_id').val();
        $.ajax({
            url: "<?php echo $this->url->getBaseUri().'biz/profileImage' ?>",
            type: 'POST',
            dataType: 'json',
            data: {sample:'profilepic', id: member_id},
            beforeSend: function () {
                $('#profile-loader').fadeIn();
            },
            success:function(data){
                $('.pro-imgc').hide().html(data.html).fadeIn();
            },
            complete: function () {
                $('#profile-loader').fadeOut();
            }
        });
    }


</script>