<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">



<div class="container">
  
  <div class="row">
    
    <div class="col-md-8 col-md-offset-2">
  
      <div class="panel panel-default" style="margin-top:110px;">

        <div class="panel-heading">
          <h4 class="modal-title" id="myModalLabel" style="font-family:berlin;font-weight:bold;font-size:21px;text-align:center">MyBarangay for Business</h4>
        </div>


        <div class="panel-body">
           <div class="row">

  <?php 
  $error = '';
  if ($this->session->has("errorMessage")) {
      $error = $this->session->get("errorMessage");
      ?>
    <table class="table table-bordered">
    <div class="alert alert-danger fade in">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>Error!</strong> <?=$error?>
    </div>


  <?php $this->session->remove("errorMessage"); } ?>

  <?php 
  if ($this->session->has('claimAsAUser')) {
  echo '<script>alertify.alert("Basic User account is already logged-in, Please Log it out and Register/Log-in as a Business Owner to claim some Business.");</script>';
  $this->session->remove("claimAsAUser");
  }
  $success = '';
  if ($this->session->has("successMessage")) {
     $success = $this->session->get("successMessage");
     ?>
    <div class="alert alert-success fade in">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>Success!</strong> <?=$success?>
    </div>
  <?php $this->session->remove("successMessage"); } ?>
<?php
    if ($this->session->has("signup-biz")) {
      $a = $this->session->get('signup-biz');
      echo '<script>alertify.alert("'.$this->session->get('signup-biz').'");</script>';
      $this->session->remove('signup-biz');
    }
?>


        <div class="col-md-6">
   <?php echo Phalcon\Tag::form(array("biz/signup", "method" => "post", "id" => "signupForm")); ?>
        <input type="hidden" name="biz_id" value="<?=$business_id?>">
        <div class="form-group col-lg-12 " style="padding-bottom:10px" >   
        <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input type="text" class="form-control" id="first_name" name="first_name" value="" required="" title="First Name" placeholder="First Name">                                   
        </div> 
        </div>

        <div class="form-group col-lg-12" style="padding-bottom:10px" >   
        <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input type="text" class="form-control" id="last_name" name="last_name" value="" required="" title="Last Name" placeholder="Last Name">                                   
        </div> 
        </div>



        <div class="form-group col-lg-12" style="padding-bottom:10px" >   
        <div class="input-group">
        <span class="input-group-addon">@</span>
        <input type="text" class="form-control" id="email" name="email" value="" minlength="6" required="" title="Email" 
        placeholder="Email address">                                   
        </div> 
        </div>


        <div class="form-group col-lg-12" style="padding-bottom:10px" >                
        <div class="input-group" >
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <input type="password" class="form-control" id="password" name="password" 
         value="" required="" title="Please enter your password"  placeholder="Password">
        <span class="help-block"></span>
        </div>
        </div>

        <div class="form-group col-lg-12" style="padding-bottom:10px" >                
        <div class="input-group" >
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <input type="password" class="form-control" id="confirm_password"
         name="confirm_password" value="" required="" 
        title="Please enter your password" placeholder="Repeat Password">
        <span class="help-block"></span>
        </div>
        </div>


                
                

        <div class="col-sm-6">
          <input type="checkbox"  name ="iagree" class="checkbox" />I agree to the terms
        </div>
        <div class="col-sm-6">
          <a href="<?php echo $this->url->getBaseUri().'index/info#!/terms'; ?>" target="blank_" class="pull-right" style="text-decoration:underline">terms and conditions</a>
        </div>
        <div class="clearfix"></div>
        <div class="col-sm-6">
        <button type="submit" class="btn btn-sm btn-primary">Register</button>
       </div>
      

     <?php echo Phalcon\Tag::endForm(); ?>
      </div>
    
      <div class="col-md-6">
   
        <h3 class="dark-grey " style="font-family:berlin;font-weight:bold">Already have business page and have a business owner account? </h3>
    
            <h5 ></h5>
      <?php echo Phalcon\Tag::linkTo(array('biz/login', 'Login here', 'class' => 'btn btn-xs btn-primary')); ?>

      <div class="">
        <?php
        echo Phalcon\Tag::image(array("img/house.png",'alt' => 'Logo','class' =>'img-responsive ', 'style' => 'height:200px;'));
        ?>
    </div>
      </div>

            </div>
        </div>

  <div class="panel-footer">
    
      <ul id="social-login-forms" class="clearfix horizontal">
            
<!--         <li>

          <form class="connect-button" >
         
            <button type="submit" class="aui-button google-button disabled" >
              Google
            </button>
          </form>
      </li>
        <li>

        <form class="connect-button">
          <button type="submit" class="aui-button facebook-button disabled">
            Facebook
          </button>
        </form>
      </li>
        <li> -->

<!--       <form class="connect-button" name="login" data-modules="registration/connect-account-button" method="POST" action="">
        <input name="csrfmiddlewaretoken" value="XL2LNFzXDHyNdXG75212emgvAiQCXHN1" type="hidden">
        <input name="next" value="/account/team_check/?next=/" type="hidden">
        <button type="submit" class="aui-button twitter-button">
          Twitter
        </button>
      </form>
      </li>
        <li>

      <form class="connect-button" name="login" data-modules="registration/connect-account-button" method="POST" action="">
        <input name="csrfmiddlewaretoken" value="XL2LNFzXDHyNdXG75212emgvAiQCXHN1" type="hidden">
        <input name="next" value="/account/team_check/?next=/" type="hidden">
        <button type="submit" class="aui-button github-button">
          GitHub
        </button>
      </form> -->


      </li>
      </ul>

        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function() {











   $('#signupForm').bootstrapValidator({

          message: 'This value is not valid',
          feedbackIcons: {
              valid: 'glyphicon glyphicon-ok',
              invalid: 'glyphicon glyphicon-remove',
              validating: 'glyphicon glyphicon-refresh'
          },
          fields: {

              first_name: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },
              last_name: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },
              last_name: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },
              email: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      },
                      emailAddress: {
                          message: 'not a valid email address'
                      }
                  }
              },
              iagree: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },


              // password: {
              //     validators: {
              //         notEmpty: {
              //             message: '* Required'
              //         }
              //     }
              // },
              password: {
                validators: {
                    notEmpty: {
                        message: 'The password is required'
                    },
                    callback: {
                        message: 'The password is not valid',
                        callback: function(value, validator, $field) {
                            if (value === '') {
                                return true;
                            }

                            // Check the password strength
                            if (value.length < 6) {
                                return {
                                    valid: false,
                                    message: 'It must be more than 6 characters long'
                                };
                            }

                            // The password doesn't contain any uppercase character
                            if (value === value.toLowerCase()) {
                                return {
                                    valid: false,
                                    message: 'It must contain at least one upper case character'
                                }
                            }

                            // The password doesn't contain any uppercase character
                            if (value === value.toUpperCase()) {
                                return {
                                    valid: false,
                                    message: 'It must contain at least one lower case character'
                                }
                            }

                            // The password doesn't contain any digit
                            if (value.search(/[0-9]/) < 0) {
                                return {
                                    valid: false,
                                    message: 'It must contain at least one digit'
                                }
                            }
                            return true;
                        }
                    }
                  }
              },

              confirm_password: {
                  validators: {
                        notEmpty: {
                            message: '* Required'
                        },
                      identical: {
                          field: 'password',
                          message: 'The password and its confirm are not the same'
                      }
                  }
              }

            }
        });

});


</script>



    <!-- default footer -->
    <?=$this->partial('partials/footer'); ?>
