

            <div class="col-md-12 "  >
                <ul class="breadcrumb pull-left" style="padding:5px 0px; margin:0px">
                    <li><i class="fa fa-home"></i> MyBarangay</li>
                    <li> Business</li>
                    <li class="active">Statistics</li>
                </ul>
            </div>
            <div class="clearfix"></div>


            <!-- start col-md-12 -->
            <div class="col-md-12 boxiy" style="min-height:200px;"> 

<?php if(isset($userSession['admin_access'])){
        if($userSession['admin_access'] == 1){
?>
    <div class="alert alert-warning fade in" style="margin-top:20px;">
    <strong>Welcome ADMIN ! </strong> 
        <p>page : business owner statistics page </p>
    </div>
<?php } } ?>




            <?php
  
   

// $urlz = "http://www.mybarangay.com/analytics/index.php?module=API&method=Actions.getPageUrls
// &format=JSON&idSite=1&period=day&date=last7&filter_limit=false&format_metrics=1&expanded=1
// &label=business%20%26gt%3B%20view2%20%26gt%3B%20298&token_auth=bbe67462ecdbeb62ad3c7ac077c9f6dc&filter_limit=30
// &token_auth=bbe67462ecdbeb62ad3c7ac077c9f6dc&filter_limit=30&token_auth=bbe67462ecdbeb62ad3c7ac077c9f6dc&filter_limit=30";

            // echo date('l jS \of F Y h:i:s A');
// http://www.mybarangay.com/analytics/index.php?module=API&method=Actions.getEntryPageUrls&format=JSON&idSite=1&period=day&date=2015-09-01,2015-09-08&label=&filter_limit=false&format_metrics=1&period=day&expanded=1&label=business%20%26gt%3B%20view2%20%26gt%3B%20%40%252F298&token_auth=bbe67462ecdbeb62ad3c7ac077c9f6dc&filter_limit=100
            // up and running
            // $token_auth = 'bbe67462ecdbeb62ad3c7ac077c9f6dc';
            // $urlz   = "http://mybarangay.com/analytics/index.php?module=API&method=Actions.getPageUrls";
            // $urlz  .= "&format=JSON&idSite=1&period=day&date=$last&filter_limit=false&format_metrics=1&expanded=1";
            // $urlz  .= "&label=business%20%26gt%3B%20view2%20%26gt%3B%20%40%252F$busid";
            // $urlz  .= "&token_auth=$token_auth&filter_limit=30";
            // $urlz  .= "&token_auth=$token_auth&filter_limit=30&token_auth=$token_auth&filter_limit=30";
            // $fetchedz = file_get_contents($urlz);
            // $input= json_decode($fetchedz, true); 




            // $token_auth = 'bbe67462ecdbeb62ad3c7ac077c9f6dc';
            // $urlz  = "http://www.mybarangay.com/analytics/index.php";
            // $urlz .= "?module=API&method=API.get";
            // $urlz .= "&idSite=1&period=day&date=last7";
            // $urlz .= "&segment=pageUrl==http%3A%2F%2Fwww.mybarangay.com%2Fbusiness%2Fview2%2".$busid;
            // $urlz .= "&format=JSON";
            // $urlz .= "&token_auth=$token_auth";


            // echo $busid;
            // print_r($input);

            //  foreach($input as $key => $value){ 
            //      echo $key;
            //       if(!empty($value[0])){ 
            //           echo 'nb_hits ' .$value[0]['nb_hits'] . ' - ';
            //           echo 'nb_visits ' .$value[0]['nb_visits'].'</br>';

            //        }   
            // } 



            ?>
                    <!-- START Area CHART -->

            <?php if ($subscription == 1) { ?>

            <?php
            if($claimRequests){
            $token_auth = 'bbe67462ecdbeb62ad3c7ac077c9f6dc';
            $urlz   = "http://mybarangay.com/analytics/index.php?module=API&method=Actions.getPageUrls";
            $urlz  .= "&format=JSON&idSite=1&period=day&date=$last&filter_limit=false&format_metrics=1&expanded=1";
            $urlz  .= "&label=business%20%26gt%3B%20view2%20%26gt%3B%20%40%252F$busid";
            $urlz  .= "&token_auth=$token_auth&filter_limit=30";
            $urlz  .= "&token_auth=$token_auth&filter_limit=30&token_auth=$token_auth&filter_limit=30";
            $fetchedz = file_get_contents($urlz);
            $input= json_decode($fetchedz, true); 

            ?>


                    <div class="panel panel-default" style="margin-top:20px">
                            <span class="input-group-btn ">
                               <!--  <a href="#" class="btn btn-sm btn-primary">Month</a> -->
                                <a href="<?php echo $this->url->getBaseUri().'biz/statistic/'.$claimRequests->member_id.'?type=1&last=last90'; ?>" class="<?php if($last == 'last90')   { echo 'active '; } ?>btn btn-sm btn-primary">last 90 days</a>
                                <a href="<?php echo $this->url->getBaseUri().'biz/statistic/'.$claimRequests->member_id.'?type=1&last=last30'; ?>" class="<?php if($last == 'last30')   { echo 'active '; } ?>btn btn-sm btn-primary">last 30 days</a>
                                <a href="<?php echo $this->url->getBaseUri().'biz/statistic/'.$claimRequests->member_id.'?type=1&last=last7'; ?>" class="<?php  if($last == 'last7')    { echo 'active '; } ?>btn btn-sm btn-primary">last 7 days</a>
                            </span>
                        <div class="panel-heading">

                          <tr>
                              <?php $businessName = Business::findFirst($claimRequests->business_id); ?>
                              
                            <h1 class="panel-title"><?php echo $businessName->name; ?></h1>

                        </div>

                        <div class="panel-body">
                            <div id="morris-line-example" style="height: 300px;"></div>
                        </div>
                    </div>
            <?php }else{ ?>

 

                    <p class="text-center" style="padding:20px 0px"><i class="fa fa-user"></i> You haven't claimed any business yet.</p>
                    <div class="text-center">
                    <a class="btn btn-primary " href="<?php echo $this->url->getBaseUri().'biz/biz_claimsearch' ?>">
                    find and claim business
                    </a>
                    </div>



            <?php } ?>

            <?php }else{ ?>

                <div class="alert alert-info fade in" style="margin-top:20px;">
                <strong>INFO! </strong> 
                    <p>You don't have any subscriptions at this time...</p>
                    <h4>for more information contact us: 1 (778) 889-INFO (4636) </h4>
                </div>

                
            <?php } ?>

                    <!-- END Area CHART -->    

					<!-- START BAR CHART -->
					<!-- <div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Referrer Website</h3>                                
						</div>
						<div class="panel-body">
							<div id="morris-bar-example" style="height: 300px;"></div>
						</div>
					</div> -->
					<!-- END BAR CHART -->
            </div>
            <!-- end col-md-9 -->
        </div><!-- end body wrapper row -->
    </div><!-- end body wrapper container -->
</div><!-- end body wrapper -->

<?php
            // b: '<?php echo $value['nb_uniq_visitors']; ',
            // 'Number of unique visitors', '#FEA223',
?>


 <style type="text/css">
.morris-hover{position:absolute;z-index:1000}.morris-hover.morris-default-style{border-radius:10px;padding:6px;color:#666;background:rgba(255,255,255,0.8);border:solid 2px rgba(230,230,230,0.8);font-family:sans-serif;font-size:12px;text-align:center}.morris-hover.morris-default-style .morris-hover-row-label{font-weight:bold;margin:0.25em 0}
.morris-hover.morris-default-style .morris-hover-point{white-space:nowrap;margin:0.1em 0}

 </style>
<?php echo $this->tag->javascriptInclude("themes3/themes/morris/raphael-min.js"); ?>
<?php echo $this->tag->javascriptInclude("themes3/themes/morris/morris.min.js"); ?>
<script type="text/javascript">

    Morris.Line({
        element: 'morris-line-example',
        fillOpacity: 1.0,
     data: [
    <?php foreach($input as $key => $value){ 
      if(empty($value[0])){ ?>
        {
           period: '<?php echo $key; ?>',
            a: 0,
          
            c: 0
        },
    <?php }else{ ?>
        {
            period: '<?php echo $key; ?>',
            a: '<?php echo $value[0]['nb_visits']; ?>',
            c: '<?php echo $value[0]['nb_hits']; ?>'

        },

    <?php  }   } ?>],
        xkey: 'period',
        ykeys: ['a', 'c'],
        labels: ['Number of Visits (30 min of inactivity considered a new visit)',  ' - Number of views on this page'],
        resize: true,
        lineColors: ['#3FBAE4',  '#99CC00']
    });


    // Morris.Bar({
    //     element: 'morris-bar-example',
    //     data: [
    //         { y: '2006', xc: 100},
    //         { y: '2007', xc: 75},
    //         { y: '2008', xc: 50 }
    //     ],
    //     xkey: 'y',
    //     ykeys: ['xc'],
    //     labels: ['Series A'],
    //     barColors: ['#33414E']
    // });

</script>
