

<div class="row">
        
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <!-- PRICE ITEM -->
        <div class="panel price panel-red">
            <div class="panel-heading  text-center" style="background-color:#E08B27;">
                <h4 style="color:#FFF;">
                BASIC PLAN
                </h4>
                <small style="color:white;"><b>Limited Offer</b></small>
            </div>

            <div class="panel-body text-center">
                <p class="lead" style="font-size:30px"><strong><sup><small><strike>$29.99</strike></small></sup><sub><small>$9.99<sup>*</sup></small></sub><sub> / month</sub></strong></p>
                <small>for first 6 months</small>
            </div>

            <ul class="list-group list-group-flush text-center">
                <li class="list-group-item"><i class="icon-ok text-danger"></i> Campaign ad for business</li>
                <li class="list-group-item" style="height:40.5px;"><i class="icon-ok text-danger"></i></li>
                <li class="list-group-item" style="height:40.5px;"><i class="icon-ok text-danger"></i></li>
                <li class="list-group-item" style="height:40.5px;"><i class="icon-ok text-info"></i> </li>
            </ul>
            <div class="panel-footer" style="height: 52.5px;">
            </div>
        </div>
        <!-- /PRICE ITEM -->
    </div>






    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <!-- PRICE ITEM -->
        <div class="panel price panel-blue">
            <div class="panel-heading arrow_box text-center" style="background-color:#02A5DE;">
                <h3 style="color:#FFF;">Enhanced Plan</h3>
            </div>
            <div class="panel-body text-center">
                <p class="lead" style="font-size:40px"><strong>$39.99<sup>*</sup></strong></p>
            </div>
            <ul class="list-group list-group-flush text-center">
                <li class="list-group-item"><i class="icon-ok text-info"></i> Campaign ad for business</li>
                <li class="list-group-item"><i class="icon-ok text-info"></i> Side banner ad (230px X 100px)</li>
                <li class="list-group-item"><i class="icon-ok text-info"></i> First 3 months FREE</li>
                <li class="list-group-item" style="height:40.5px;"><i class="icon-ok text-info"></i> </li>
            </ul>
        </div>
        <!-- /PRICE ITEM -->
    </div>



    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

        <!-- PRICE ITEM -->
        <div class="panel price panel-green">
            <div class="panel-heading arrow_box text-center" style="background-color:#E72510;">
                <h3 style="color:#FFF;">PREMIUM PLAN</h3>
            </div>
            <div class="panel-body text-center">
                <p class="lead" style="font-size:40px"><strong>$99.99<sup>*</sup> / month</strong></p>
            </div>
            <ul class="list-group list-group-flush text-center">
                <li class="list-group-item"><i class="icon-ok text-success"></i> Campaign ad for business</li>
                <li class="list-group-item"><i class="icon-ok text-success"></i> Side banner ad (230px X 100px)</li>
                <li class="list-group-item"><i class="icon-ok text-success"></i> Leaderboard ad (720px X 150px)</li>
                <li class="list-group-item"><i class="icon-ok text-success"></i> First 3 months FREE</li>
            </ul>
        </div>
        <!-- /PRICE ITEM -->

    </div>
















</div>