
<?php echo $this->tag->stylesheetLink("themes/mybarangay1/css/select2.min.css"); ?>
<?php echo $this->tag->javascriptInclude("themes/mybarangay1/js/select2.min.js"); ?>

<script type="text/javascript">
$(function(){
   $('.uncheckRadioBtn').click(function() {
        $(this).parents('tr.reviews-td').find('td > label > input[type="radio"]').removeAttr('checked');
   });
});
</script>
  
    <div class="col-md-12 "  >
        <div class="col-md-12 col-xs-12"  >
            <ul class="breadcrumb pull-left" style="padding:5px 0px; margin:0px">
                <li><i class="fa fa-home"></i> MyBarangay</li>
                <li> Business</li>
                <li class="active">Update</li>
            </ul>
        </div>
    </div>


    <!-- start col-md-12 -->
    <div class="col-md-12 col-sm-12 col-xs-12 boxiy" style="min-height:500px;"> 
        <div class="col-md-9" style="margin-top:10px">
            <fieldset class="sched-border" >

                <?php 
                $success = '';
                if ($this->session->has("successMess")) {
                $success = $this->session->get("successMess");
                ?>
                <div class="alert alert-success fade in">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong>Success!</strong> <?=$success?>
                <a style="text-decoration:underline;font-weight:bold" href="<?php echo $this->url->getBaseUri().'business/view2/'.$claimRequests->business->id; ?>"><i class="fa fa-view"> </i> View <?php echo $claimRequests->business->name; ?> </a>
                </div>
                <?php $this->session->remove("successMess"); } ?>
                <?php 
                $error = '';
                if ($this->session->has("errorMess")) {
                $error = $this->session->get("errorMess");
                ?>
                <div class="alert alert-danger fade in">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong>Error! </strong> <?=$error?>
                </div>


                <?php $this->session->remove("errorMess"); } ?>

                <legend class="sched-border">Update My Business</legend>
                <legend class="pull-right" style="text-align:left"><a href="<?php echo $this->url->getBaseUri().'business/view2/'.$claimRequests->business->id; ?>" ><i class="fa fa-star"></i> <?php echo $claimRequests->business->name; ?></a></legend>

                <div class="row">
                    <?php echo Phalcon\Tag::form(array("biz/update_businessu/".$claimRequests->member_id, "method" => "post")); ?>
                        <div class="form-group  col-md-4 col-sm-6">
                            <label>Business Name</label>
                            <input name="name" type="text" class="form-control" value="<?php echo $claimRequests->business->name; ?>">
                            <input name="businessId" type="hidden" value="<?php echo $claimRequests->business->id; ?>">
                        </div>
                        <div class="form-group  col-md-4 col-sm-6">
                            <label>Website Address</label>
                            <input name="website" type="text" class="form-control" value="<?php echo $claimRequests->business->website; ?>">
                        </div>
                        <div class="form-group  col-md-4 col-sm-6">
                            <label>Telephone</label>
                            <input name="telephone" type="text" class="form-control" value="<?php echo $claimRequests->business->telephone; ?>">
                        </div>
                        <div class="form-group  col-md-4 col-sm-6">
                            <label>Suite/Unit</label>
                            <input name="apt_no" type="text" class="form-control" value="<?php echo $claimRequests->business->apt_no; ?>">
                        </div>
                        <div class="form-group  col-md-4 col-sm-6">
                            <label>Street</label>
                            <input name="street" type="text" class="form-control" value="<?php echo $claimRequests->business->street; ?>">
                        </div>
                        <div class="form-group  col-md-4 col-sm-6">
                            <label>Country</label>
                            <select name="country_code"  id="country_code" type="select" class="form-control">
                                    <option value="">Select country</option>
                                <?php foreach ($countries as $key => $country) { ?>
                                    <?php if($claimRequests->business->country_code_id == $country->id){ ?>
                                        <option value="<?php echo $country->id; ?>" selected><?php echo $country->country_name; ?></option>
                                    <?php } else { ?>
                                        <option value="<?php echo $country->id; ?>"><?php echo $country->country_name; ?></option>
                                    <?php } ?>
                                <?php } ?>
                            </select>
                        </div>
                        <div class="form-group  col-md-4 col-sm-6">
                            <label>Select State/Province</label>
                            <select name="state" id="state" class="form-control">
                                <option value="">Select City</option>
                                <?php foreach ($states as $key => $state) {?>
                                    <?php if ($claimRequests->business->state == $state->state_name) { ?>
                                        <option value="<?php echo $state->id; ?>" selected><?php echo $state->state_name; ?></option>
                                    <?php } else { ?>
                                        <option value="<?php echo $state->id; ?>"><?php echo $state->state_name; ?></option>
                                    <?php } ?>
                                <?php } ?>
                            </select>
                        </div>
                        <div class="form-group  col-md-4 col-sm-6">
                            <label>City</label>
                            <select name="city" id="city"  class="form-control">
                                <option value="">Select City</option>
                                <?php foreach ($cities as $key => $city) {?>
                                    <?php if ($claimRequests->business->city == $city->city_name) { ?>
                                        <option value="<?php echo $city->id; ?>" selected><?php echo $city->city_name; ?></option>
                                    <?php } else { ?>
                                        <option value="<?php echo $city->id; ?>"><?php echo $city->city_name; ?></option>
                                    <?php } ?>
                                <?php } ?>
                            </select>
                        </div>
                        
                        <div class="form-group col-md-4 col-sm-6"  >
                            <label>Postal Code</label>
                            <input name="postal_code" type="text" class="form-control"  value="<?php echo $claimRequests->business->postal_code; ?>">
                        </div>
                        
                        <div class="form-group col-md-4 col-sm-6" >
                            <label>Category</label>
                            <small>Select up to 3 categories. The more specific the better.</small>
                            <div id="selectedCategories">
                                <?php foreach ($businessCategoryLists as $key => $businessCategoryList) { ?>
                                <div class="category_item" id="<?php echo $businessCategoryList->business_category_id; ?>">
                                    <small class="text-danger remove" data-toggle="tooltip" title="Remove">
                                        <i class="fa fa-times btn btn-xs"></i>
                                    </small>
                                     
                                    <small class="text-info"> 
                                        <?php echo $businessCategoryList->businessCategories->main_title; ?>
                                        <i class="fa fa-caret-right"></i> 
                                        <?php echo $businessCategoryList->businessCategories->title; ?> 
                                        <?php if($businessCategoryList->businessCategories->sub_title) { ?> 
                                        <i class="fa fa-caret-right"></i>
                                        <?php echo $businessCategoryList->businessCategories->sub_title; ?> 
                                        <?php } ?> 
                                    </small>
                                </div>
                                <?php } ?>
                            </div>
                            
                            <select name="business_category_id"  type="select" class="form-control js-data-example-ajax" id="businessCategories" placeholder="Select categories">
                            <?php $bizCategoryIds = ''; ?>
                                <?php foreach ($businessCategoryLists as $key => $businessCategoryList) { ?>
                                    <?php $bizCategoryIds .= $businessCategoryList->business_category_id.','; ?>
                                <?php } ?>
                            </select>
                            <input type="hidden" name="business_category_ids" id="businessCategoryIds" value="<?php echo substr($bizCategoryIds, 0, -1); ?>" >

                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group col-md-4 col-sm-6">
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" name="opened" <?php echo ($claimRequests->business->opened == 'Opened')? 'checked' : '' ; ?> > This business recently opened or is opening soon
                              </label>
                            </div>
                        </div>
                        <div class="clearfix"></div>

                        
                        <div class="col-md-3">
                            <input type="submit" name='profileupdate' value="Update" class="btn btn-sm btn-primary">
                        </div>
                    <?php  echo Phalcon\Tag::endForm(); ?>
                </div>
            </fieldset>


            <div class="clearfix"></div>
            <?php //if($userSession['id'] == '248'){ ?>
                <?php 
                $mainCat = 'all';    
                $maintitle = array();
                foreach ($businessCategoryLists as  $value) {
                    $maintitle[] = $value->businessCategories->main_title;
                } $mainCatx = array_unique($maintitle);
                ?>

                <?php echo Phalcon\Tag::form(array("biz/update_reviews/".$claimRequests->member_id.'/'.$claimRequests->business_id, "method" => "post")); ?>

                    <div class="panel panel-default">
                        <div class="panel-heading ui-draggable-handle">
                            <h2 class="panel-title"><i class="fa fa-book"></i> Business features</h2>
                        </div>
                        <div class="panel-body">
                            <table class="table table-striped">
                                <!-- REsta Review Options-->
                                    <?php 
                                    if(array_intersect($mainCatx , ['Food','Restaurants', 'all'] )){
                                    ?>
                                        <tr class="reviews-td" >
                                            <td><label><i class="fa fa-cutlery"></i>  Caters </label></td>
                                            <td >
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->caters == 'yes')?  'checked'  : '' ; } ?>  name="reviews_caters"  value="yes"  > yes
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->caters == 'no')?  'checked'  : '' ; } ?> name="reviews_caters"  value="no"  > no
                                                </label>
                                                <!-- <label class="radio-inline">
                                                  <input type="radio" <?php //if($revopt){ echo ($revopt->caters == 'not sure')?  'checked'  : '' ; } ?> name="reviews_caters"  value="not sure"  > not sure
                                                </label> -->
                                            </td>
                                            <td>
                                                <label class="radio-inline">
                                                    <a href="javascript:void(0);" class="uncheckRadioBtn">Uncheck</a>
                                                </label>
                                            </td>
                                        </tr>
                                    <?php } ?>
                                    <?php 
                                    if(array_intersect($mainCatx , ['Automotive','Education', 'Public Services & Government',
                                        'Food', 'Restaurants', 'Nightlife', 'Beauty & Spas', 'Health & Medical', 'Pets', 'Financial Services',
                                        'Professional Services', 'Hotels & Travel', 'Shopping', 'all'
                                        ] )){
                                    ?>
                                        <tr class="reviews-td" >
                                            <td><label><i class="fa fa-wifi"></i>  Wi-Fi  </label></td>
                                            <td>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->wifi == 'yes')?  'checked'  : '' ; } ?> name="reviews_wifi"  value="yes"> yes
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->wifi == 'no')?  'checked'  : '' ; } ?> name="reviews_wifi"  value="no"> no
                                                </label>
                                                <!-- <label class="radio-inline">
                                                  <input type="radio" <?php //if($revopt){ echo ($revopt->wifi == 'not sure')?  'checked'  : '' ; } ?> name="reviews_wifi"  value="not sure"> not sure
                                                </label> -->
                                            </td>
                                            <td>
                                                <label class="radio-inline">
                                                    <a href="javascript:void(0);" class="uncheckRadioBtn">Uncheck</a>
                                                </label>
                                            </td>
                                        </tr>
                                    <?php } ?>

                                    <?php 
                                    if(array_intersect($mainCatx , ['Automotive','Food', 'Restaurants',
                                        'Nightlife', 'Beauty & Spas', 'Health & Medical', 'Home Services', 'Local Services', 'Pets', 'Pets',
                                        'Hotels & Travel', 'all'
                                        ] )){
                                    ?>
                                        <tr class="reviews-td" >
                                            <td><label><i class="fa fa-television"></i> Has TV  </label></td>
                                            <td>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->hastv == 'yes')?  'checked'  : '' ; } ?> name="reviews_hastv"  value="yes"> yes
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->hastv == 'no')?  'checked'  : '' ; } ?> name="reviews_hastv"  value="no"> no
                                                </label>
                                                <!-- <label class="radio-inline">
                                                  <input type="radio" <?php //if($revopt){ echo ($revopt->hastv == 'not sure')?  'checked'  : '' ; } ?> name="reviews_hastv"  value="not sure"> not sure
                                                </label> -->
                                            </td>
                                            <td>
                                                <label class="radio-inline">
                                                    <a href="javascript:void(0);" class="uncheckRadioBtn">Uncheck</a>
                                                </label>
                                            </td>
                                        </tr>
                                    <?php } ?>

                                    <?php
                                    if(array_intersect($mainCatx , ['Active Life','Bicycles', 'Food',
                                        'Restaurants', 'Nightlife', 'Beauty & Spas', 'Home Services', 'Local Services', 'Pets', 'Pets',
                                        'Hotels & Travel', 'Shopping', 'all'
                                        ] )){
                                    ?>
                                        <tr class="reviews-td" >
                                            <td>
                                                <label><i class="fa fa-money"></i> Price Range </label>
                                            </td>
                                            <td style=" padding-top: 10px;">
                                                <div class="form-group form-group-sm">
                                                    <select name="reviews_pricerange" style="width: 220px;" class="form-control">
                                                    <?php
                                                        $option = array('inexpensive','moderate','pricey','ultra high-end');
                                                        foreach ($option as $value) {
                                                            echo '<option value="">select price range</option>';
                                                            echo '<option value="'.$value.'"';
                                                            if($revopt){ echo ($value == $revopt->pricerange)?  ' selected'  : '' ; }
                                                            echo '>'. $value . '</option>';

                                                        }
                                                    ?>
                                                    </select>
                                                </div>
                                            </td>
                                            <td></td>
                                        </tr>
                                    <?php } ?>

                                    <?php 
                                    if(array_intersect($mainCatx , ['Automotive','Active Life', 'Arts & Entertainment',
                                        'Local Flavor', 'Public Services & Government', 'Religious Organizations', 'Restaurants', 'Nightlife', 'Beauty & Spas', 'Health & Medical',
                                        'Home Services', 'Local Services', 'Pets', 'Financial Services', 'Professional Services', 'Event Planning & Services',
                                        'Hotels & Travel', 'Financial Services', 'Shopping', 'Real Estate', 'all'
                                        ] )){
                                    ?>
                                        <tr class="reviews-td" >
                                            <td><label><i class="fa fa-credit-card"></i> Accepts Credit Cards   </label></td>
                                            <td>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->creditcard == 'yes')?  'checked'  : '' ; } ?> name="reviews_creditcard"  value="yes"> yes
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->creditcard == 'no')?  'checked'  : '' ; } ?> name="reviews_creditcard"  value="no"> no
                                                </label>
                                                <!-- <label class="radio-inline">
                                                  <input type="radio" <?php //if($revopt){ echo ($revopt->creditcard == 'not sure')?  'checked'  : '' ; } ?> name="reviews_creditcard"  value="not sure"> not sure
                                                </label> -->
                                            </td>
                                            <td>
                                                <label class="radio-inline">
                                                    <a href="javascript:void(0);" class="uncheckRadioBtn">Uncheck</a>
                                                </label>
                                            </td>
                                        </tr>
                                    <?php } ?>

                                    <?php 
                                    if(array_intersect($mainCatx , ['Active Life', 'Arts & Entertainment',
                                        'Local Flavor', 'Bicycles', 'Education', 'Public Services & Government', 'Religious Organizations', 'Mass Media', 'Food',
                                        'Restaurants', 'Nightlife', 'Beauty & Spas', 'Health & Medical',
                                        'Local Services', 'Pets', 'Financial Services', 'Professional Services', 'Event Planning & Services',
                                        'Hotels & Travel', 'Shopping', 'Real Estate', 'all'
                                        ] )){
                                    ?>
                                        <tr class="reviews-td" >
                                            <td><label><i class="fa fa-car"></i> Parking    </label></td>
                                            <td>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->parking == 'yes')?  'checked'  : '' ; } ?> name="reviews_parking"  value="yes"> yes
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->parking == 'no')?  'checked'  : '' ; } ?> name="reviews_parking"  value="no"> no
                                                </label>
                                                <!-- <label class="radio-inline">
                                                  <input type="radio" <?php //if($revopt){ echo ($revopt->parking == 'not sure')?  'checked'  : '' ; } ?> name="reviews_parking"  value="not sure"> not sure
                                                </label> -->
                                            </td>
                                            <td>
                                                <label class="radio-inline">
                                                    <a href="javascript:void(0);" class="uncheckRadioBtn">Uncheck</a>
                                                </label>
                                            </td>
                                        </tr>
                                    <?php } ?>

                                    <?php 
                                    if(array_intersect($mainCatx , ['Active Life', 'Arts & Entertainment',
                                        'Local Flavor', 'Bicycles', 'Education', 'Public Services & Government', 'Religious Organizations', 'Mass Media', 'Food',
                                        'Restaurants', 'Nightlife', 'Beauty & Spas', 'Health & Medical',
                                        'Local Services', 'Pets', 'Financial Services', 'Professional Services', 'Event Planning & Services',
                                        'Hotels & Travel', 'Shopping', 'Real Estate', 'all'
                                        ] )){
                                    ?>
                                        <tr class="reviews-td" >
                                            <td><label><i class="fa fa-motorcycle"></i> Bike Parking    </label></td>
                                            <td>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->bike_parking == 'yes')?  'checked'  : '' ; } ?> name="reviews_bike_parking"  value="yes"> yes
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->bike_parking == 'no')?  'checked'  : '' ; } ?> name="reviews_bike_parking"  value="no"> no
                                                </label>
                                                <!-- <label class="radio-inline">
                                                  <input type="radio" <?php //if($revopt){ echo ($revopt->bike_parking == 'not sure')?  'checked'  : '' ; } ?> name="reviews_bike_parking"  value="not sure"> not sure
                                                </label> -->
                                            </td>
                                            <td>
                                                <label class="radio-inline">
                                                    <a href="javascript:void(0);" class="uncheckRadioBtn">Uncheck</a>
                                                </label>
                                            </td>
                                        </tr>
                                    <?php } ?>


                                    <?php 
                                    if(array_intersect($mainCatx , ['Food', 'Restaurants', 'Nightlife','all'
                                        ] )){
                                    ?>
                                        <tr class="reviews-td" >
                                            <td><label><i class="fa fa-black-tie"></i>  Attire     </label></td>
                                            <td>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->attire == 'casual')?  'checked'  : '' ; } ?>  name="reviews_attire"  value="casual"> casual
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->attire == 'dressy')?  'checked'  : '' ; } ?>  name="reviews_attire"  value="dressy"> dressy
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->attire == 'format (jacket require)')?  'checked'  : '' ; } ?>  name="reviews_attire"  value="format (jacket require)"> formal (jacket required)
                                                </label>
                                                <!-- <label class="radio-inline">
                                                  <input type="radio" <?php //if($revopt){ echo ($revopt->attire == 'not sure')?  'checked'  : '' ; } ?>  name="reviews_attire" id="inlineRadio4" value="not sure"> not sure
                                                </label> -->
                                            </td>
                                            <td>
                                                <label class="radio-inline">
                                                    <a href="javascript:void(0);" class="uncheckRadioBtn">Uncheck</a>
                                                </label>
                                            </td>
                                        </tr>
                                    <?php } ?>


                                    <?php //********************** PENDING
                                    if(array_intersect($mainCatx , ['Nightlifexxx'] )){
                                    ?>
                                        <tr class="reviews-td" >
                                            <td><label>Good for Dancing    </label></td>
                                            <td>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->attire == 'not sure')?  'checked'  : '' ; } ?> name="good_for_dance"  value="yes"> yes
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->attire == 'not sure')?  'checked'  : '' ; } ?> name="good_for_dance"  value="no"> no
                                                </label>
                                                <!-- <label class="radio-inline">
                                                  <input type="radio" <?php //if($revopt){ echo ($revopt->attire == 'not sure')?  'checked'  : '' ; } ?> name="good_for_dance"  value="not sure"> not sure
                                                </label> -->
                                            </td>
                                            <td>
                                                <label class="radio-inline">
                                                    <a href="javascript:void(0);" class="uncheckRadioBtn">Uncheck</a>
                                                </label>
                                            </td>
                                        </tr>
                                    <?php } //********************** ?>

                                    <?php 

                                    if(array_intersect($mainCatx , ['Food', 'Restaurants', 'Nightlife', 'Hotels & Travel', 'all'
                                        ] )){
                                    ?>
                                        <tr class="reviews-td" >
                                            <td><label><i class="fa fa-users"></i> Good for Groups    </label></td>
                                            <td>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->groups == 'yes')?  'checked'  : '' ; } ?> name="reviews_groups"  value="yes"> yes
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->groups == 'no')?  'checked'  : '' ; } ?> name="reviews_groups"  value="no"> no
                                                </label>
                                                <!-- <label class="radio-inline">
                                                  <input type="radio" <?php //if($revopt){ echo ($revopt->groups == 'not sure')?  'checked'  : '' ; } ?> name="reviews_groups"  value="not sure"> not sure
                                                </label> -->
                                            </td>
                                            <td>
                                                <label class="radio-inline">
                                                    <a href="javascript:void(0);" class="uncheckRadioBtn">Uncheck</a>
                                                </label>
                                            </td>
                                        </tr>
                                    <?php } ?>

                                    <?php 
                                    if(array_intersect($mainCatx , ['Active Life', 'Arts & Entertainment', 'Local Flavor',
                                     'Education', 'Food', 'Restaurants', 'Beauty & Spas', 'Hotels & Travel', 'all'
                                        ] )){
                                    ?>
                                        <tr class="reviews-td" >
                                            <td><label><i class="fa fa-child"></i> Good for Kids    </label></td>
                                            <td>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->kids == 'yes')?  'checked'  : '' ; } ?>  name="reviews_kids"  value="yes"> yes
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->kids == 'no')?  'checked'  : '' ; } ?>  name="reviews_kids"  value="no"> no
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->kids == 'not sure')?  'checked'  : '' ; } ?>  name="reviews_kids"  value="not sure"> not sure
                                                </label>
                                            </td>
                                            <td>
                                                <label class="radio-inline">
                                                    <a href="javascript:void(0);" class="uncheckRadioBtn">Uncheck</a>
                                                </label>
                                            </td>
                                        </tr>
                                    <?php } ?>

                                    <?php 
                                    if(array_intersect($mainCatx , ['Food', 'Restaurants', 'Nightlife',  'all' ] )){
                                    ?>
                                        <tr class="reviews-td" >
                                            <td><label><i class="fa fa-street-view"></i> Takes Reservations   </label></td>
                                            <td>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->reservations == 'yes')?  'checked'  : '' ; } ?> name="reviews_reservations"  value="yes"> yes
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->reservations == 'no')?  'checked'  : '' ; } ?> name="reviews_reservations"  value="no"> no
                                                </label>
                                                <!-- <label class="radio-inline">
                                                  <input type="radio" <?php //if($revopt){ echo ($revopt->reservations == 'not sure')?  'checked'  : '' ; } ?> name="reviews_reservations"  value="not sure"> not sure
                                                </label> -->
                                            </td>
                                            <td>
                                                <label class="radio-inline">
                                                    <a href="javascript:void(0);" class="uncheckRadioBtn">Uncheck</a>
                                                </label>
                                            </td>
                                        </tr>
                                    <?php } ?>
                                    <?php

                                    if(array_intersect($mainCatx , ['Food', 'Restaurants',  'all' ] )){
                                    ?>
                                        <tr class="reviews-td" >
                                            <td><label><i class="fa fa-truck"></i>  Delivery    </label></td>
                                            <td>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->delivery == 'yes')?  'checked'  : '' ; } ?> name="reviews_delivery"  value="yes"> yes
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->delivery == 'no')?  'checked'  : '' ; } ?> name="reviews_delivery"  value="no"> no
                                                </label>
                                                <!-- <label class="radio-inline">
                                                  <input type="radio" <?php //if($revopt){ echo ($revopt->delivery == 'not sure')?  'checked'  : '' ; } ?> name="reviews_delivery"  value="not sure"> not sure
                                                </label> -->
                                            </td>
                                            <td>
                                                <label class="radio-inline">
                                                    <a href="javascript:void(0);" class="uncheckRadioBtn">Uncheck</a>
                                                </label>
                                            </td>
                                        </tr>
                                    <?php } ?>
                                    <?php 
                                    if(array_intersect($mainCatx , ['Food', 'Restaurants',  'all' ] )){
                                    ?>
                                        <tr class="reviews-td" >
                                            <td><label><i class="fa fa-hand-o-right"></i> Take Away    </label></td>
                                            <td>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->takeaway == 'yes')?  'checked'  : '' ; } ?> name="reviews_takeaway"  value="yes"> yes
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->takeaway == 'no')?  'checked'  : '' ; } ?> name="reviews_takeaway"  value="no"> no
                                                </label>
                                                <!-- <label class="radio-inline">
                                                  <input type="radio" <?php //if($revopt){ echo ($revopt->takeaway == 'not sure')?  'checked'  : '' ; } ?> name="reviews_takeaway"  value="not sure"> not sure
                                                </label> -->
                                            </td>
                                            <td>
                                                <label class="radio-inline">
                                                    <a href="javascript:void(0);" class="uncheckRadioBtn">Uncheck</a>
                                                </label>
                                            </td>
                                        </tr>
                                    <?php } ?>
                                    <?php 
                                    if(array_intersect($mainCatx , ['Food', 'Restaurants',  'all' ] )){
                                    ?>
                                        <tr class="reviews-td" >
                                            <td><label><i class="fa fa-user"></i>  Waiter Service   </label></td>
                                            <td>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->waiter == 'yes')?  'checked'  : '' ; } ?> name="reviews_waiter"  value="yes"> yes
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->waiter == 'no')?  'checked'  : '' ; } ?> name="reviews_waiter"  value="no"> no
                                                </label>
                                                <!-- <label class="radio-inline">
                                                  <input type="radio" <?php //if($revopt){ echo ($revopt->waiter == 'not sure')?  'checked'  : '' ; } ?> name="reviews_waiter"  value="not sure"> not sure
                                                </label> -->
                                            </td>
                                            <td>
                                                <label class="radio-inline">
                                                    <a href="javascript:void(0);" class="uncheckRadioBtn">Uncheck</a>
                                                </label>
                                            </td>
                                        </tr>
                                    <?php } ?>
                                    <?php 
                                    if(array_intersect($mainCatx , ['Food', 'Restaurants',  'all' ] )){
                                        ?>
                                        <tr class="reviews-td" >
                                            <td><label><i class="fa fa-hand-o-right"></i> Outdoor Seating   </label></td>
                                            <td>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->outdoor == 'yes')?  'checked'  : '' ; } ?> name="reviews_outdoor"  value="yes"> yes
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->outdoor == 'no')?  'checked'  : '' ; } ?> name="reviews_outdoor"  value="no"> no
                                                </label>
                                                <!-- <label class="radio-inline">
                                                  <input type="radio" <?php //if($revopt){ echo ($revopt->outdoor == 'not sure')?  'checked'  : '' ; } ?> name="reviews_outdoor"  value="not sure"> not sure
                                                </label> -->
                                            </td>
                                            <td>
                                                <label class="radio-inline">
                                                    <a href="javascript:void(0);" class="uncheckRadioBtn">Uncheck</a>
                                                </label>
                                            </td>
                                        </tr>
                                    <?php } ?>
                                    <?php 
                                    if(array_intersect($mainCatx , ['Food', 'Restaurants',  'all' ] )){
                                    ?>
                                        <tr class="reviews-td" >
                                            <td><label><i class="fa fa-hand-o-right"></i> Good for    </label></td>
                                            <td>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->goodfor == 'breakfast')?  'checked'  : '' ; } ?> name="reviews_goodfor"  value="breakfast"> breakfast
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->goodfor == 'brunch')?  'checked'  : '' ; } ?> name="reviews_goodfor"  value="brunch"> brunch
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->goodfor == 'lunch')?  'checked'  : '' ; } ?> name="reviews_goodfor"  value="lunch"> lunch
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->goodfor == 'dinner')?  'checked'  : '' ; } ?> name="reviews_goodfor"  value="dinner"> dinner
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->goodfor == 'late_night')?  'checked'  : '' ; } ?> name="reviews_goodfor"  value="late_night"> late-night
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->goodfor == 'dessert')?  'checked'  : '' ; } ?> name="reviews_goodfor"  value="dessert"> dessert
                                                </label>
                                            </td>
                                            <td>
                                                <label class="radio-inline">
                                                    <a href="javascript:void(0);" class="uncheckRadioBtn">Uncheck</a>
                                                </label>
                                            </td>
                                        </tr>
                                    <?php } ?>
                                    <?php 
                                    if(array_intersect($mainCatx , ['Food', 'Restaurants',  'all' ] )){
                                    ?>
                                        <tr class="reviews-td" >
                                            <td><label><i class="fa fa-hand-o-right"></i> Alcohol   </label></td>
                                            <td>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->alcohol == 'beer n\' wine only')?  'checked'  : '' ; } ?> name="reviews_alcohol"  value="beer n' wine only"> beer & wine only 
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->alcohol == 'full bar')?  'checked'  : '' ; } ?> name="reviews_alcohol"  value="full bar"> full bar
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->alcohol == 'no')?  'checked'  : '' ; } ?> name="reviews_alcohol"  value="no"> no
                                                </label>
                                                <!-- <label class="radio-inline">
                                                  <input type="radio" <?php //if($revopt){ echo ($revopt->alcohol == 'not sure')?  'checked'  : '' ; } ?> name="reviews_alcohol"  value="not sure"> not sure
                                                </label> -->
                                            </td>
                                            <td>
                                                <label class="radio-inline">
                                                    <a href="javascript:void(0);" class="uncheckRadioBtn">Uncheck</a>
                                                </label>
                                            </td>
                                        </tr>
                                    <?php } ?>
                                    <?php 
                                    if(array_intersect($mainCatx , ['Food', 'Restaurants', 'Nightlife', 'Beauty & Spas',  'all' ] )){
                                    ?>
                                        <tr class="reviews-td" >
                                            <td><label><i class="fa fa-hand-o-right"></i>  Noise Level  </label></td>
                                            <td>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->noise == 'quiet')?  'checked'  : '' ; } ?> name="reviews_noise"  value="quiet"> quiet 
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->noise == 'average')?  'checked'  : '' ; } ?> name="reviews_noise"  value="average"> average
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->noise == 'loud')?  'checked'  : '' ; } ?> name="reviews_noise"  value="loud"> loud
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->noise == 'very loud')?  'checked'  : '' ; } ?> name="reviews_noise"  value="very loud"> very loud
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->noise == 'no')?  'checked'  : '' ; } ?> name="reviews_noise"  value="no"> no
                                                </label>
                                            </td>
                                            <td>
                                                <label class="radio-inline">
                                                    <a href="javascript:void(0);" class="uncheckRadioBtn">Uncheck</a>
                                                </label>
                                            </td>
                                        </tr>
                                    <?php } ?>
                                    <?php 
                                    if(array_intersect($mainCatx , ['Food', 'Restaurants', 'Nightlife', 'all' ] )){
                                    ?>
                                        <tr class="reviews-td" >
                                            <td><label><i class="fa fa-hand-o-right"></i> Ambience   </label></td>
                                            <td>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->ambience == 'hipster')?  'checked'  : '' ; } ?> name="reviews_ambience"  value="hipster"> hipster 
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->ambience == 'casual')?  'checked'  : '' ; } ?> name="reviews_ambience"  value="casual"> casual
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->ambience == 'touristy')?  'checked'  : '' ; } ?> name="reviews_ambience"  value="touristy"> touristy
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->ambience == 'trendy')?  'checked'  : '' ; } ?> name="reviews_ambience"  value="trendy"> trendy
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->ambience == 'intimate')?  'checked'  : '' ; } ?> name="reviews_ambience"  value="intimate"> intimate
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->ambience == 'romantic')?  'checked'  : '' ; } ?> name="reviews_ambience"  value="romantic"> romantic
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->ambience == 'classy')?  'checked'  : '' ; } ?> name="reviews_ambience"  value="classy"> classy
                                                </label>
                                                <label class="radio-inline">
                                                  <input type="radio" <?php if($revopt){ echo ($revopt->ambience == 'upscale')?  'checked'  : '' ; } ?> name="reviews_ambience"  value="upscale"> upscale
                                                </label>
                                            </td>
                                            <td>
                                                <label class="radio-inline">
                                                    <a href="javascript:void(0);" class="uncheckRadioBtn">Uncheck</a>
                                                </label>
                                            </td>
                                        </tr>
                                    <?php } ?>
                            </table>
                        </div>
                        <div class="panel-footer">
                                <input type="submit" name='reviewsOptions' value="Update reviews" class="btn btn-sm btn-primary">
                        </div>
                    </div>
                <?php  echo Phalcon\Tag::endForm(); ?>
            <?php // } ?>

        </div>

        <div class="col-md-3">
            <div class="well" style="margin-top:27px;padding-top:0px">
                <h2 >Negosyo</h2>
                <legend>Get your business listed in MyBarangay.</legend>
                <div class="left-image" style="width:200px;margin:0 auto">
                    <img src="<?php echo $this->url->getBaseUri().'themes/mybarangay1/img/biz/new_biz.jpg'; ?>" class="img-responsive img-rounded img-block">
                </div>
            
            </div>

        </div>
    </div>
    <!-- end col-md-12 -->


<script type="text/javascript">
    //**** Country and state code
    $('#country_code').change(function() {
        var action = '<?php echo $this->url->getBaseUri() . "review/getStates/"; ?>'; 
        var param  = $('#country_code').val();
        var link = action.concat(param);
        $.ajax({
            url: link,
            type: 'GET',
            dataType: 'json',
            success: function(data){
                var selectstate = '<option value="">Select State/Province</option>';
                $.each(data, function(i, item) {
                    selectstate += '<option value="'+data[i].id+'">'+data[i].name+'</option>';
                });
                $('#state').html('');
                $('#city').html('');
                $('#state').append(selectstate);
            },
            error: function(){
                alert("Failed please try again");
            }
        });
    });
    //**** state nd city code
    $('#state').change(function() {
        var action = '<?php echo $this->url->getBaseUri() . "review/getCities/"; ?>'; 
        var param  = $('#state').val();
        var link = action.concat(param);
        $.ajax({
            url: link,
            type: 'GET',
            dataType: 'json',
            success: function(data){
            var selectcity = '<option value="">Select City</option>';
            $.each(data, function(i, item) {
                selectcity += '<option value="'+data[i].id+'">'+data[i].name+'</option>';
                });
                $('#city').html('');
                $('#city').append(selectcity);
            },
            error: function(){
                alert("Failed please try again");
            }
        });
    });

    $(document).ready(function() {

        $('[data-toggle="tooltip"]').tooltip();
        <?php foreach ($businessCategoryLists as $key => $businessCategoryList) { ?>
            $('#businessCategories').append('<option value="<?php echo $businessCategoryList->business_category_id; ?>" id="businessOption<?php echo $key+1; ?>" ></option>');
            $('#businessOption<?php echo $key+1; ?>').text('<div class="category_item" id="<?php echo $businessCategoryList->business_category_id; ?>"><small class="text-danger remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times btn btn-xs"></i></small><small class="text-info"><?php echo $businessCategoryList->businessCategories->main_title; ?><i class="fa fa-caret-right"></i><?php echo $businessCategoryList->businessCategories->title; ?></small></div>');
            <?php if($businessCategoryList->businessCategories->sub_title) { ?>
                $('#businessOption<?php echo $key; ?>').text('<div class="category_item" id="<?php echo $businessCategoryList->business_category_id; ?>"><small class="text-danger remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times btn btn-xs"></i></small><small class="text-info"><?php echo $businessCategoryList->businessCategories->main_title; ?><i class="fa fa-caret-right"></i><?php echo $businessCategoryList->businessCategories->title; ?><i class="fa fa-caret-right"></i><?php echo $businessCategoryList->businessCategories->sub_title; ?></small></div>');
            <?php } ?>
        <?php } ?>
        
        $('#businessCategories').on('change', function(){
            var id = $(this).attr('id');
            var div = $('div.category_item #'+id);
            
            if(div.length){
                div.remove();
                $('#businessCategories option[value=' + id + ']').remove();
            }
            if($('#businessCategories option').length < 4) {
                $('#selectedCategories').html($(this).text());
                var values = $.map($('#businessCategories option'), function(e) { return e.value; });
                values.join(',');
                $('#businessCategoryIds').val(values);
            } else {
                alert('3 categories only');
            }
        });

        $(document).on('click', '.remove', function(){
            var div = $(this).closest('div.category_item');
            var id = div.attr('id');
            div.remove();
            $('#businessCategories option[value=' + id + ']').remove();
            var values = $.map($('#businessCategories option'), function(e) { return e.value; });
            values.join(',');
            $('#businessCategoryIds').val(values);
        });

        function formatRepo (category) {
            var markup = '';
            if (category.loading) return category.text;

            markup = 
            '<div class="category_item" id="'+category.id+'">' + category.main_title + ' <i class="fa fa-caret-right"></i> ' + category.title + ' <i class="fa fa-caret-right"></i> ' + category.sub_title +'</div>';
            category.text = '<div class="category_item" id="'+category.id+'"><small class="text-danger remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times btn btn-xs"></i></small> <small class="text-info">' + category.main_title + ' <i class="fa fa-caret-right"></i> ' + category.title + ' <i class="fa fa-caret-right"></i> ' + category.sub_title +'</small></div>' ;

            if (!category.sub_title) {
                markup = 
                '<div class="category_item" id="'+category.id+'">' + category.main_title + ' <i class="fa fa-caret-right"></i> ' + category.title + '</div>' ;
                category.text = '<div class="category_item" id="'+category.id+'"><small class="text-danger remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times btn btn-xs"></i></small> <small class="text-info">' + category.main_title + ' <i class="fa fa-caret-right"></i> ' + category.title + '</small></div>' ;
            }
            
            return markup;
          }

          function formatRepoSelection (category) {
            return '';
          }


        $(".js-data-example-ajax").select2({
          ajax: {
            url: "/business_category/list",
            dataType: 'json',
            delay: 250,
            data: function (params) {
              return {
                q: params.term, // search term
                page: params.page
              };
            },
            processResults: function (data, page) {
              // parse the results into the format expected by Select2.
              // since we are using custom formatting functions we do not need to
              // alter the remote JSON data
              return {
                results: data.items
              };
            },
            cache: true
          },
          escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
          minimumInputLength: 3,
          templateResult: formatRepo, // omitted for brevity, see the source of this page
          templateSelection: formatRepoSelection // omitted for brevity, see the source of this page
        });


        
    });
</script>

