<?php echo $this->tag->stylesheetLink("themes/mybarangay1/css/select2.min.css"); ?>
<?php echo $this->tag->javascriptInclude("themes/mybarangay1/js/select2.min.js"); ?>
<?php echo $this->tag->stylesheetLink("themes/customize/css/bootstrapValidator/bootstrapValidator.min.css"); ?>
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css">
<style>
      .cropit-image-preview {
        background-color: #f8f8f8;
        background-size: cover;
        border: 1px solid #ccc;
        border-radius: 3px;
        margin-top: 7px;
        margin-left: 80px;
        width: 230px;
        height: 100px;
        cursor: move;
      }

      .cropit-image-background {
        opacity: .9;
        cursor: auto;
      }

      .image-size-label {
        margin-top: 10px;
      }

      input {
        display: block;
      }

      .export {
        margin-top: 10px;
      }
   </style>
<script type="text/javascript" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>

<div class="container containerBorder" id="container" style="margin-top:110px">
<div class="col-md-12 bg-white" style="background:#fff">
  <div class="row"><!-- start row -->
     <div class="col-md-12 bg-primary container" style="margin-bottom:25px;background-color:#023283;color:white;"> 
    <h1 style="color:white;font-family:Arial;"><i class="fa fa-file-image-o"></i> Add Website Banner (230px x 100px)</h1>
    
      </div>
      <div class="col-md-12">
  <?php  echo Phalcon\Tag::form(array("biz/crop_homepagebanner/", "method" => "post", "enctype"=>"multipart/form-data", "id" => "croppedImgForm")); ?>
      <div class="image-editor">
     <div class="col-md-4 col-md-offset-4">
    <select name="business" class="form-control">
       <?php $getClaimedBusiness = ClaimRequests::find("member_id=" . $member->id . " and status='approved'"); 
            $businessList = array();

      foreach ($getClaimedBusiness as $claimed) {
        $getBizDetail = Business::findFirst("id=". $claimed->business_id);
        echo "<option value='".$getBizDetail->id."'>".$getBizDetail->name."</option>";
      }   
       ?>
    </select>   
    
     </div>

     <div class="col-md-8 col-md-offset-3"><!-- start form div -->
      
        <div style="margin-left:150px;margin-top:20px;" class="cropit-image-preview"></div>
      
    </div>  
    <div class="col-md-4 col-md-offset-4" style="margin-top:20px;">
      <input type="file" class="cropit-image-input">
    
    <div class="image-size-label">
      Resize image
    </div>
    <input type="range" class="cropit-image-zoom-input">
    <input type="hidden" name="image-data" class="hidden-image-data" />
    <input type="hidden" name="type" value="1">
    <input type="hidden" name="member" value="<?php echo $member->id; ?>">
    <button class="pull-right btn btn-primary" class="btn btn-primary" type="submit">Save</button>
    </div>
     </div><!-- end form div -->
     </form>
     </div>
  </div><!-- end row  -->
</div>
</div>

<?php echo $this->tag->javascriptInclude("themes/customize/js/bootstrapValidator/bootstrapValidator.min.js"); ?>
<?php echo $this->tag->javascriptInclude("js/crop.js"); ?>
<script type="text/javascript">
  $(document).ready(function() {
    $('.image-size-label').text('Adjust image');
    $('#newBusiness').bootstrapValidator({
            message: 'This value is not valid',
          feedbackIcons: {
              valid: 'glyphicon glyphicon-ok',
              invalid: 'glyphicon glyphicon-remove',
              validating: 'glyphicon glyphicon-refresh'
          },
          fields: {
              name: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },
              street: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },
              city: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },
              country_id: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              },
              business_category_id: {
                  validators: {
                      notEmpty: {
                          message: '* Required'
                      }
                  }
              }


            }
        });

  
      $('#example').DataTable();
    $('[data-toggle="tooltip"]').tooltip();
    $('.image-editor').cropit({height: 100, width: 230});
    $('form').submit(function() {
            // Move cropped image data to hidden input
            var imageData = $('.image-editor').cropit('export');
            $('.hidden-image-data').val(imageData);

            // Print HTTP request params
            var formValue = $(this).serialize();
            //$('#result-data').text(formValue);

            console.log(formValue);
            "<?php $encoded = "+formValue+"; ?>"
   

        });


    
  });
</script>

