
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,300);

html * {
  outline: none !important;
}
html,
body {
  min-height: 100%;
  padding: 0px;
  margin: 0px;
  background: #f5f5f5;
  position: relative;
  background: #f5f5f5;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #656d78;
  overflow-x: hidden;
}

a {
  color: #34495e;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}


#navigation-bar .navbar-default{
  height: 70px;
  border-bottom: none;
  box-shadow: 0 1px 0px #fff;
}



#navigation-bar .navbar .navbar-header{
	min-height: 70px;
}


#navigation-bar .navbar .navbar-brand{
	padding: 5px 15px;
}


#navigation-bar .navbar .navbar-toggle{
	min-height: 70px;
}


#navigation-bar .navbar .navbar-right{
	margin-right: 15px;
}

  #navigation-bar .navbar-nav {
  	margin-top: 15px;
  }

#navigation-bar .navbar-nav > li > a {
	font-weight: bold;
	font-size: 13px;
}


/* DROP DOWN */
#navigation-bar .dropdown-menu {
  font-size: 12px;
  -moz-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid #E5E5E5;
  padding: 0px;
  margin: 8px 0px 0px;
}
#navigation-bar .dropdown-menu > li > a {
  padding: 8px 15px;
  border-bottom: 1px solid #E9E9E9;
  line-height: 20px;
}
#navigation-bar .dropdown-menu > li:last-child > a {
  border-bottom: 0px;
}
#navigation-bar .dropdown-menu:after,
#navigation-bar .dropdown-menu:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
#navigation-bar .dropdown-menu:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #FFF;
  border-width: 5px;
  margin-left: -5px;
}
#navigation-bar .dropdown-menu:before {
  border-color: rgba(229, 229, 229, 0);
  border-bottom-color: #E5E5E5;
  border-width: 6px;
  margin-left: -6px;
}
#navigation-bar .dropup .dropdown-menu:after,
#navigation-bar .dropup .dropdown-menu:before {
  display: none;
}
#navigation-bar .dropdown-header {
  padding: 10px 15px;
  border-bottom: 1px solid #E5E5E5;
  color: #777;
}
#navigation-bar .dropdown-menu .fa {
  margin-right: 5px;
}
#navigation-bar .dropdown-menu .divider {
  background: #F5F5F5;
  margin: 0px;
  padding: 15px 0px 0px;
  border-bottom: 1px solid #E5E5E5;
}



.logo1{
  width: 200px;
}
