
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,300);

html * {
  outline: none !important;
}
html,
body {
  min-height: 100%;
  padding: 0px;
  margin: 0px;
  background: #f5f5f5;
  position: relative;
  background: #f5f5f5;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #656d78;
  overflow-x: hidden;
}

a {
  color: #34495e;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}


fieldset.sched-border{
  border:1px groove #ddd !important;
  padding:0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  -webkit-box-shadow: 0px 0px 0px 0px #000;
      box-shadow: 0px 0px 0px 0px #000;

}

legend.sched-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width:auto;
    padding:0px 10px;
    border-bottom: none;
}


/* gallery_photos */
.gallery-thumbnail{
    background: #f4f4f4;
    padding: 5px 5px 15px 5px;
    margin-bottom: 10px;
    box-shadow: 0px 1px 0px rgba(0,0,0, 0.2);
    -moz-box-shadow: 0px 1px 0px rgba(0,0,0, 0.2);
    -o-box-shadow: 0px 1px 0px rgba(0,0,0, 0.2);
    -webkit-box-shadow: 0px 1px 0px rgba(0,0,0, 0.2);
}




#navigation-bar .navbar{
	min-height: 70px;
	box-shadow: 0 1px 0px #fff;
}


#navigation-bar .navbar .navbar-header{
	min-height: 70px;
}


#navigation-bar .navbar .navbar-brand{
	padding: 5px 15px;
}


#navigation-bar .navbar .navbar-toggle{
	min-height: 70px;
}


#navigation-bar .navbar .navbar-right{
	margin-right: 15px;
}

  #navigation-bar .navbar-nav {
  	margin-top: 15px;
  }

#navigation-bar .navbar-nav > li > a {
	font-weight: bold;
	font-size: 13px;
}



/* DROP DOWN */
#navigation-bar .dropdown-menu {
  font-size: 12px;
  -moz-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid #E5E5E5;
  padding: 0px;
  margin: 8px 0px 0px;
}
#navigation-bar .dropdown-menu > li > a {
  padding: 8px 15px;
  border-bottom: 1px solid #E9E9E9;
  line-height: 20px;
}
#navigation-bar .dropdown-menu > li:last-child > a {
  border-bottom: 0px;
}
#navigation-bar .dropdown-menu:after,
#navigation-bar .dropdown-menu:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
#navigation-bar .dropdown-menu:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #FFF;
  border-width: 5px;
  margin-left: -5px;
}
#navigation-bar .dropdown-menu:before {
  border-color: rgba(229, 229, 229, 0);
  border-bottom-color: #E5E5E5;
  border-width: 6px;
  margin-left: -6px;
}
#navigation-bar .dropup .dropdown-menu:after,
#navigation-bar .dropup .dropdown-menu:before {
  display: none;
}
#navigation-bar .dropdown-header {
  padding: 10px 15px;
  border-bottom: 1px solid #E5E5E5;
  color: #777;
}
#navigation-bar .dropdown-menu .fa {
  margin-right: 5px;
}
#navigation-bar .dropdown-menu .divider {
  background: #F5F5F5;
  margin: 0px;
  padding: 15px 0px 0px;
  border-bottom: 1px solid #E5E5E5;
}


.logo1{
	width: 200px;
}

.boxiy {
    background-color: #ffffff;
    box-shadow: 0 1px 2px #c9cccd;
    margin-bottom: 20px;
    
}

.body-wrapper{
	margin-top:75px;
}


/* PAGINATION */
.pagination {
  width: 100%;
  margin: 10px 0px;
  padding-bottom:10px;
}
.pagination > li > a,
.pagination > li > span {
  margin-left: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #656d78;
  border-color: #E5E5E5;
}
.pagination > li > a:hover,
.pagination > li > span:hover {
  color: #fff;
}
.pagination > li.active > a,
.pagination > li.active > a:hover {
    color: #FFF;
}
.pagination.pagination-sm {
  margin: 0px;
  width: auto;
}
.pagination.pagination-sm.push-down-20 {
  margin-bottom: 20px;
}
.pagination.pagination-sm.push-up-20 {
  margin-top: 20px;
}
/* END PAGINATION */




.img-text {
  border: 3px solid #FFF;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin: 0px 10px 5px 0px;
  -moz-box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.1);
}
.timeline {
  float: left;
  width: 100%;
  position: relative;
  padding: 0px;
  margin: 0px 0px 20px;
}
.timeline:before {
  content: " ";
  position: absolute;
  width: 6px;
  background: #FFF;
  height: 100%;
  left: 15%;
  margin-left: -3px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.timeline .timeline-item {
  width: 85%;
  float: left;
  position: relative;
  clear: both;
  margin-bottom: 20px;
  z-index: 2;
}
.timeline .timeline-item.timeline-main {
  height: 40px;
  width: 15%;
}
.timeline .timeline-item .timeline-date {
  padding: 7px 10px;
  line-height: 20px;
  font-size: 14px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  position: absolute;
  right: -50px;
  top: 0px;
  font-weight: 600;
  color: #33414e;
  background: #F5F5F5;
  text-align: center;
  border: 3px solid #FFF;
  width: 200px;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2);
}
.timeline .timeline-item .timeline-date a {
  color: #33414e;
}
.timeline .timeline-item .timeline-item-content {
  float: left;
  background: #F5F5F5;
  border: 3px solid #FFF;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 95%;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.3), 
  0px -1px 0px 0px rgba(0, 0, 0, 0.3), 
  1px 0px 0px 0px rgba(0, 0, 0, 0.3), -1px 0px 0px 0px rgba(0, 0, 0, 0.2);

}
.timeline .timeline-item .timeline-item-content:before,
.timeline .timeline-item .timeline-item-content:after {
  left: 95%;
  top: 20px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.timeline .timeline-item .timeline-item-content:before {
  border-color: rgba(255, 255, 255, 0);
  border-left-color: #FFF;
  border-width: 3px;
  margin-top: -3px;
}
.timeline .timeline-item .timeline-item-content:after {
  border-color: rgba(255, 255, 255, 0);
  border-left-color: #FFF;
  border-width: 7px;
  margin-top: -7px;
}
.timeline .timeline-item .timeline-item-content .timeline-heading {
  width: 20%;
  background: #e3e3e3;
  float: left;
  padding: 10px 10px 5px;
  line-height: 30px;
}
.timeline .timeline-item .timeline-item-content .timeline-heading img {
  width: 50px;
  height: 50px;
  margin-right: 5px;
  border: 2px solid #FFF;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.timeline .timeline-item .timeline-item-content .timeline-heading a {
  color: #33414e;
  font-weight: 600;
}

.timeline .timeline-item .timeline-item-content .timeline-heading span {
  color: #33414e;
  font-weight: 600;
  text-transform: capitalize;
}
.timeline .timeline-item .timeline-item-content .timeline-body.commentx {
  width: 60%;
  float: left;
  padding: 10px;
 
  font-size: 13px;
}
.timeline .timeline-item .timeline-item-content .timeline-body.comments {
  padding: 0px;
}
.timeline .timeline-item .timeline-item-content .timeline-footer {
  width: 100%;
  float: left;
  padding: 5px 10px;
  line-height: 20px;
  background: #FFF;
}
.timeline .timeline-item .timeline-item-content .timeline-footer a {
  color: #33414e;
  font-size: 12px;
  margin-right: 10px;
  text-decoration: none;
}
.timeline .timeline-item .timeline-item-content .timeline-footer a:hover {
  color: #29343f;
}
.timeline .timeline-item .timeline-item-content .timeline-footer .pull-right > a:last-child {
  margin-right: 0px;
}
.timeline .timeline-item .timeline-item-info {
  position: absolute;
  left: 105%;
  font-size: 12px;
  padding: 7px 15px;
  line-height: 20px;
  width: 110px;
  text-align: center;
  background: #F5F5F5;
  border: 3px solid #FFF;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2);
  font-weight: 600;
}
.timeline .timeline-item .timeline-item-icon {
  position: absolute;
  right: -20px;
  width: 40px;
  height: 40px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  font-size: 20px;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2);
  line-height: 34px;
  text-align: center;
  border: 3px solid #FFF;
  background: #F5F5F5;
  color: #BBB;
}
.timeline .timeline-item:last-child {
  margin-bottom: 0px;
}
.timeline .timeline-item.timeline-item-right {
  float: right;
}
.timeline .timeline-item.timeline-item-right .timeline-item-info {
  left: auto;
  right: 105%;
}
.timeline .timeline-item.timeline-item-right .timeline-item-info:before {
  right: auto;
  left: 100%;
}
.timeline .timeline-item.timeline-item-right .timeline-item-content {
  float: right;
}
.timeline .timeline-item.timeline-item-right .timeline-item-content:before,
.timeline .timeline-item.timeline-item-right .timeline-item-content:after {
  left: auto;
  right: 95%;
  border-right-color: #FFF;
  border-left-color: transparent;
}
.timeline .timeline-item.timeline-item-right .timeline-item-icon {
  right: auto;
  left: -20px;
}
.timeline.timeline-right:before {
  left: 160px;
}
.timeline.timeline-right .timeline-item {
  width: 100%;
  padding-left: 210px;
}
.timeline.timeline-right .timeline-item.timeline-main {
  width: 160px;
  padding-left: 0px;
}
.timeline.timeline-right .timeline-item .timeline-item-content {
  width: 100%;
}
.timeline.timeline-right .timeline-item .timeline-item-content:before,
.timeline.timeline-right .timeline-item .timeline-item-content:after {
  right: auto;
  left: 196px;
}
.timeline.timeline-right .timeline-item .timeline-item-content:before {
  border-width: 0px;
}
.timeline.timeline-right .timeline-item .timeline-item-info {
  left: 0px;
  right: auto;
}
.timeline.timeline-right .timeline-item .timeline-item-icon {
  left: 140px;
}











/* START TIMELINE */
.img-text {
  border: 3px solid #FFF;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin: 0px 10px 5px 0px;
  -moz-box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.1);
}

.timeline-item-content {
  float: left;
  background: #F5F5F5;
  border: 3px solid #FFF;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin:10px 0px;
  width:100%;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2), 0px -1px 0px 0px rgba(0, 0, 0, 0.2), 1px 0px 0px 0px rgba(0, 0, 0, 0.2), -1px 0px 0px 0px rgba(0, 0, 0, 0.2);

}

.timeline-item-content .timeline-heading {
  width: 100%;
  float: left;
  padding: 10px 10px 5px;
  line-height: 30px;
}
.timeline-item-content .timeline-heading img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  border: 2px solid #FFF;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.timeline-item-content .timeline-heading a {
  color: #33414e;
  font-weight: 300;
}

.timeline-item-content .timeline-body {
  width: 100%;
  float: left;
  padding: 10px;
}
.timeline-item-content .timeline-body.comments {
  padding: 0px;
}
.timeline-item-content .timeline-footer {
  width: 100%;
  float: left;
  padding: 5px 10px;
  line-height: 20px;
  background: #FFF;
}
.timeline-item-content .timeline-footer small {
  color: #33414e;
  font-size: 12px;
  margin-right: 10px;
  text-decoration: none;
}

.timeline-item-content .timeline-footer .pull-right > small:last-child {
  margin-right: 0px;
}
/* END TIMELINE */


/* COMMENTS */
.comments {
  float: left;
  width: 100%;
  padding: 0px;
  margin: 0px;
/*  background: #eff7ff;*/
background: #e6e6e6;
}
.comments .comment-item {
  float: left;
  width: 100%;
  padding: 10px 10px 8px;
  line-height: 15px;
  /*  border-top: 1px solid #dbedff;*/
  border-bottom: 1px solid #dadada;
}
.comments .comment-item img {
  width: 50px;
  height: 50px;
  margin: 0px 10px 20px 0px;
  border: 3px solid #FFF;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  float: left;
}
.comments .comment-item p {
  margin-bottom: 0px;
  line-height: 13px;
  margin-bottom: 5px;
  font-size: 13px;
}
.comments .comment-item p.comment-head {
  font-size: 12px;
}


.comments .comment-item p.comment-head a {
  font-size: 12px;
  font-weight: 600;
  color: #333;
}
.comments .comment-item small {
  line-height: 10px;
}
.comments .comment-item:first-child {
/*  border-top: 1px solid #dbedff;*/
border-top:1px solid #dadada;
}
.comments .comment-write {
  float: left;
  width: 100%;
  padding: 5px;
}
.comments .comment-write img {
  width: 40px;
  height: 40px;
  margin: 5px 10px 20px 0px;
  border: 3px solid #FFF;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  float: left;
    
}
.comments .comment-write textarea {
  float: left;
  width: 90%;
}


.comments .comment-write .form-control {
  border-color: #dadada;
}




/* Start footer */


  #bottom {
    border-top: 5px solid #F5F5F5;
    background: #013a9b;
    width: 100%;
    color: #bdc3c7;
    padding-top:30px;
    padding-bottom: 20px;
  }
  #bottom h4 {
    color: #fff;
    margin-top: 0;
    margin-bottom: 15px;
  }
  #bottom a {
     color: #fff;
    }
  #bottom .media-heading {
    display: block;
    font-weight: 400;
  }


  #footer {
    background: rgb(0,48,130);
    padding-top: 30px;
    padding-bottom: 30px;
    color: #bdc3c7;
  }
  #footer a {
    color: #bdc3c7;
  }
  #footer a:hover {
    color: #d9534f;
  }
  #footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  #footer ul > li {
    display: inline-block;
    margin-left: 15px;
  }


/* TABS */
.tabs {
  float: left;
  width: 100%;
  position: relative;
  margin-top: -25px;
}
#navigation-bar .nav-tabs,
.nav-tabs.nav-justified {
  border-bottom: 0px;
  margin-bottom: 0px;
  margin-top: -38px;
  padding: 0px 0px;
}
.block-head .nav-tabs {
  border-bottom: 0px;
}
#navigation-bar .nav-tabs > li {
  margin-bottom: 0px;
}
.nav-tabs > li > a {
  margin-right: 5px;
  border: 0px;
  font-size: 14px;
  border-top: 1px solid transparent;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  color: #333;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  background: #F5F5F5;
  padding: 9px 10px;
}
.nav-tabs > li:first-child > a {
  -moz-border-radius: 5px 0px 0px 0px;
  -webkit-border-radius: 5px 0px 0px 0px;
  border-radius: 5px 0px 0px 0px;
}
.nav-tabs > li > a:hover {
  border-color: transparent;
  background: #FFF;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus,
.nav-tabs > .dropdown.active.open > a:hover {
  border: 0px;
  border-top: 1px solid #c3c3c3;
  background: #FFF;
  -moz-border-radius: 3px 3px 0px 0px;
  -webkit-border-radius: 3px 3px 0px 0px;
  /*border-radius: 3px 3px 0px 0px;*/
}
.nav-tabs.nav-justified > li > a {
  border: 0px;
  border-top: 1px solid transparent;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  color: #333;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.nav-tabs.nav-justified > li > a:hover {
  border-top: 1px solid #c3c3c3;
  background: transparent;
}
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
  border: 0px;
  border-top: 1px solid #c3c3c3;
  background: #FFF;
  color: #333;
  -moz-border-radius: 3px 3px 0px 0px;
  -webkit-border-radius: 3px 3px 0px 0px;
  /*border-radius: 3px 3px 0px 0px;*/
}
.nav-tabs a .caret,
.nav-tabs a:hover .caret {
  color: #33414e;
}

.details-tab{
	position: relative;
	float: left;
	padding: 10px;
	margin-top:20px;
}

.details-tab .panel-body{
	min-height: 300px;
}

.details-tab .panel-default{
  border: none;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
}


    /* Large desktop */
    @media (max-width: 1200px) {  


    }
     
    /* Portrait tablet to landscape and desktop */
    @media (min-width: 768px) and (max-width: 979px) {

      }
     

    /* Large desktop */
    @media (max-width: 1279px) {  

        .tabs {
          margin-top: 15px;
        }
    }



    /* Landscape phone to portrait tablet */
    @media (max-width: 767px) { 

		.navbar-fixed-top .navbar-collapse{
			max-height:400px;
		}

		#navigation-bar .navbar-nav > li > a {
			line-height: 20px;
			height: auto;
			padding: 10px 10px 10px 20px;
			border-bottom: 1px solid #E5E5E5;
			background: #FAFAFA;
		}
		#navigation-bar .navbar-nav > li > a:hover {
			border-bottom: 1px solid #E5E5E5;
			background: #F5F5F5;
		}


		#navigation-bar .navbar-nav .open .dropdown-menu > li > a{
			padding: 15px 20px 5px 0px;
		}

		#navigation-bar .navbar .navbar-right{
			margin-right:0px;
		}

	
		.nav-tabs.nav-justified {
		  margin-top: 5px;
		}
		.nav-tabs.nav-justified li > a {
		  text-align: left;
		}

		.nav-tabs.nav-justified > .active > a,
		.nav-tabs.nav-justified > .active > a:hover,
		.nav-tabs.nav-justified > .active > a:focus {

		  background: #E6E6E6;
		  color: #333;
		}

    }
     
    /* Landscape phones and down */
    @media (max-width: 480px) {


     }






.btn-grave {
  background-color: #F5F5F5;
  border-color: #DDD;

}
.btn-grave:hover,
.btn-grave:focus,
.btn-grave:active,
.btn-grave.active,
.open > .dropdown-toggle.btn-grave {
  border-color: none;
  background-color: #d5220f;
  color: #fff !important;
}




  #banig {
      background-image: url('../img/banig.jpg');
      overflow-x: hidden;
      margin-bottom:0;
  }
  #banig .banig-container {
      height: 200px;

  }


  #banig .banig-container .img-preview {
      width: 750px;
      height: 150px;
      margin: 50px auto 0px auto;
  }
      .custom-thumbnail {
        position: relative;
        width: 100%;
        height: 120px;
        overflow: hidden;
      }
      .custom-thumbnail img {
        position: absolute;
        left: 50%;
        top: 50%;
        height: auto;
        width: 100%;
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
      }
      .custom-thumbnail img.portrait {
        width: 100%;
        height: auto;
      }

    /* Large desktop */
/*    @media (min-width: 1200px) { 
          #banig .banig-container {
              height: 230px;

          }
   }*/
    /* Portrait tablet to landscape and desktop */
/*    @media (min-width: 768px) and (max-width: 979px) { 
          #banig .banig-container {
              height: 180px;

          }

     }*/
     
    /* Landscape phone to portrait tablet */
/*    @media (max-width: 767px) { 
          #banig .banig-container .img-preview {
              width: 90%;
            
       
          }
    }
     */
 

 .profile-env > header {
  position: relative;
  z-index: 2;
  margin-top: 30px;

}


.profile-env > .row {
  margin-right:0px;
    margin-left:0px;
}
.profile-env > header .profile-picture {

    display:block;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    overflow: hidden;
}
.profile-env > header .profile-picture img {

    
  -moz-box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.9);
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.profile-env > header .profile-picture:hover img {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.profile-env > header .profile-info-sections {
  margin: 0;
  padding: 0;
 /* margin-top: 15px;*/
  padding-left: 0;
  list-style: none;
}
.profile-env > header .profile-info-sections > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
.profile-env > header .profile-info-sections > li:first-child {
  padding-left: 0;
}
.profile-env > header .profile-info-sections .profile-name strong,
.profile-env > header .profile-info-sections .profile-name span {
  display: block;
}
.profile-env > header .profile-info-sections .profile-name strong {
  font-size: 18px;
  font-weight: normal;
}
.profile-env > header .profile-info-sections .profile-name span {
  font-size: 12px;
  color: #bbbbbb;
}
.profile-env > header .profile-info-sections .profile-name span a {
  color: #bbbbbb;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.profile-env > header .profile-info-sections .profile-name span a:hover {
  color: #888888;
}
.profile-env > header .profile-info-sections .profile-name .user-status {
  position: relative;
  display: inline-block;
  background: #575d67;
  top: -2px;
  margin-left: 5px;
  width: 6px;
  height: 6px;
  -webkit-border-radius: 6px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 6px;
  -moz-background-clip: padding;
  border-radius: 6px;
  background-clip: padding-box;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.profile-env > header .profile-info-sections .profile-name .user-status.is-online {
  background-color: #06b53c;
}
.profile-env > header .profile-info-sections .profile-name .user-status.is-offline {
  background-color: #575d67;
}
.profile-env > header .profile-info-sections .profile-name .user-status.is-idle {
  background-color: #f7d227;
}
.profile-env > header .profile-info-sections .profile-name .user-status.is-busy {
  background-color: #ee4749;
}
.profile-env > header .profile-info-sections .profile-stat h3 {
  font-size: 18px;
  margin-bottom: 5px;
}
.profile-env > header .profile-info-sections .profile-stat span {
  color: #bbbbbb;
}
.profile-env > header .profile-info-sections .profile-stat span a {
  color: #bbbbbb;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.profile-env > header .profile-info-sections .profile-stat span a:hover {
  color: #888888;
}
.profile-env > header .profile-info-sections > li {
  padding: 0 40px;
  position: relative;
}
.profile-env > header .profile-info-sections > li + li:after {
  content: '';
  display: block;
  position: absolute;
  top: 15px;
  bottom: 0;
  left: 0;
  width: 1px;
  background: #ebebeb;
  margin: 8px 0;
}
.profile-env > header .profile-info-sections > li:first-child {
  padding-left: 0;
}

.profile-env > header .profile-buttons {
  margin-top: 35px;
}
.profile-env > header .profile-buttons a {
  margin: 0 4px;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.profile-env section {
  position: relative;
  z-index: 1;
}
.profile-env section.profile-info-tabs {
  position: relative;
  background: #f1f1f1;
  margin-left: 0px;
  margin-right: 0px;
/*  padding: 20px;*/
  margin-top: -30px;
  margin-bottom: 30px;
}
.profile-env section.profile-info-tabs .user-details {
  padding-left: 0;
  list-style: none;
}
.profile-env section.profile-info-tabs .user-details li {
  margin-bottom: 10px;
}
.profile-env section.profile-info-tabs .user-details li a {
  color: #a0a0a0;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.profile-env section.profile-info-tabs .user-details li a:hover {
  color: #606060;
}
.profile-env section.profile-info-tabs .user-details li a:hover span {
  color: #e72c28;
}
.profile-env section.profile-info-tabs .user-details li a i {
  margin-right: 5px;
}
.profile-env section.profile-info-tabs .user-details li a span {
  color: #ec5956;
  font-weight: normal;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.profile-env section.profile-info-tabs .nav-tabs {
  position: relative;
  margin-bottom: -50px;
  border-bottom: 0;
}
.profile-env section.profile-info-tabs .nav-tabs > li:first-child a {
  margin-left: 0;
}
.profile-env section.profile-info-tabs .nav-tabs li {
  margin-bottom: 0;
}
.profile-env section.profile-info-tabs .nav-tabs li a {
  border: none;
  padding: 10px 35px;
  font-size: 13px;
  background: #e1e1e1;
  margin-right: 10px;
}
.profile-env section.profile-info-tabs .nav-tabs li.active a {
  background: #fff;
}


@media (max-width: 992px) {
  .profile-env > header .profile-picture img {
    width: 90%;
  }
  .profile-env > header .profile-buttons {
    margin-top: 18px;
  }
  .profile-env > header .profile-info-sections .profile-name strong,
  .profile-env > header .profile-info-sections .profile-stat h3 {
    font-size: 16px;
  }
  .profile-env > header .profile-info-sections {
    margin-top: 0;
  }
  .profile-env > header .profile-info-sections > li {
    padding: 0 20px;
  }
  .profile-env section.profile-info-tabs .nav-tabs li a {
    padding-left: 25px;
    padding-right: 25px;
  }
  .profile-env section.profile-feed .profile-stories article.story .user-thumb {
    width: 10%;
  }
  .profile-env section.profile-feed .profile-stories article.story .story-content {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .profile-env section.profile-info-tabs {
    margin-top: 30px;
  }
  .profile-env > header .profile-picture img {
    float: none;
  }
  .profile-env > header .profile-buttons a {
    margin-bottom: 5px;
  }
}
@media (max-width: 601px) {
  .profile-env > header .profile-info-sections {
    margin-bottom: 10px;
  }
  .profile-env > header .profile-info-sections li {
    padding: 15px;
  }
  .profile-env > header .profile-info-sections > li:first-child {
    padding-left: 0;
  }
  .profile-env > header .profile-buttons {
    margin-top: 0;
  }
  .profile-env > header .profile-picture {
    text-align: center;
    display: block;
  }
  .profile-env > header .profile-picture img {
    width: auto;
    float: none;
    display: inline-block;
    margin-bottom: 15px;
  }
  .profile-env section.profile-feed .profile-stories article.story .user-thumb {
    width: 18%;
  }
  .profile-env section.profile-feed .profile-stories article.story .story-content {
    width: 82%;
  }
  .profile-env section.profile-info-tabs .nav-tabs li a {
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 5px;
    font-size: 12px;
  }
  .profile-env section.profile-feed {
    padding: 0;
  }
  .profile-env .col-sm-7,
  .profile-env .col-sm-3 {
    text-align: center;
  }
  .profile-env .col-sm-7 .profile-info-sections,
  .profile-env .col-sm-3 .profile-info-sections,
  .profile-env .col-sm-7 .profile-buttons,
  .profile-env .col-sm-3 .profile-buttons {
    display: inline-block;
  }
  .profile-env > header .profile-info-sections > li + li:after {
    margin: 18px 0;
  }
}

a[class="profile-picture"] img {
  width: 100%;
}
.object-fit_cover {
  -o-object-fit: cover;
     object-fit: cover;
}


.radio-inline + .radio-inline{
        margin-left:0px;
}
.radio-inline{
    padding: 15px;
    text-transform: capitalize;
}
tr.reviews-td > td:nth-child(2){
    padding-left:15px;
}
tr.reviews-td > td:nth-child(1){
    background: #e3e3e3;
    text-align: right;
}
tr.reviews-td > td:nth-child(1) label{
    padding: 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: right;
}




/* profile page */
.help-block{
    position: absolute;
    right:20px;
}
.form-control-feedback {
    text-align: left;
}

/* Image cropper style */
.img-container,
.img-preview {
  overflow: hidden;
/*  text-align: center;*/
  width: 100%;
}
.ibox-content {
  background-color: #ffffff;
  color: inherit;

  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0px;
}
.img-preview-sm {

    height: 100px;
    width: 100px;
} 

#image-crop-box{
    background: #f4f4f4;
}
.cover-box{
    display: none;
background: #fff;
position: absolute;
height: 100%;
width: 100%;
z-index: 5;
left: 0;
opacity: 0.9;
}

.img-loader{
    display: none;
    position: absolute;
    height: 80px;
    width: 70px;
    margin: 0 auto;
    left: 43%;
    z-index: 6;
    top:40px;
}


/* MANAGE ADU*/
.loader {
  display: none;
  float: right;
  text-align: center;
  width: 100px;

}

.loader .ball {
  width: 1em;
  height: 1em;
  margin: 0 auto;
  border-radius: 1em;
  background: #e93c2a;
  -webkit-animation: load 2000ms linear infinite;
  -moz-animation: load 2000ms linear infinite;
  animation: load 2000ms linear infinite;
}
.loader span {
  padding: 5px 10px;
font-size: 12px;
line-height: 1.5;
  display: block;

  color: #e93c2a;
  text-transform: uppercase;
  font-family: 'Roboto';
  -webkit-animation: pulse 2000ms linear infinite;
  -moz-animation: pulse 2000ms linear infinite;
  animation: pulse 2000ms linear infinite;
}