<!--<!DOCTYPE html>-->
<html>
	<head>
		<title>MyBarangay | Admin</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap -->
		<?php echo $this->tag->stylesheetLink("admin-cms/library/css/bootstrap.css"); ?>
		<!-- Kuta -->		
		<?php echo $this->tag->stylesheetLink("admin-cms/library/css/styles.css"); ?>
		<?php echo $this->tag->stylesheetLink("admin-cms/library/css/datatable.css"); ?>
		
		<!-- alertify -->
		<?php
			echo $this->tag->stylesheetLink('themes3/css/alertify.core.css'); 
			echo $this->tag->stylesheetLink('themes3/css/alertify.default.css');
		?>
		<!--<link href="library/css/styles.css" rel="stylesheet" media="screen">-->
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="library/bootstrap/assets/js/html5shiv.js"></script>
		<script src="library/bootstrap/assets/js/respond.min.js"></script>
		<![endif]-->
		<?php
			echo $this->tag->javascriptInclude("admin-cms/library/js/jquery.js");
			echo $this->tag->javascriptInclude("admin-cms/library/js/jquery-migrate-1.2.1.js");
			echo $this->tag->javascriptInclude("admin-cms/library/js/bootstrap.js");

			echo $this->tag->javascriptInclude("admin-cms/library/js/fnReloadAjax.js");
			// alertify
			echo $this->tag->javascriptInclude('themes3/js/alertify.min.js');
		?>
		<script type="text/javascript" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
		<?php echo $this->tag->javascriptInclude('admin-cms/library/js/jquery.dataTables.columnFilter.js'); ?>
		<!-- addons -->
		<?php
			echo $this->tag->javascriptInclude("admin-cms/library/plugins/moment.min.js");
			echo $this->tag->javascriptInclude("admin-cms/library/plugins/chart-plugins.js");
			echo $this->tag->javascriptInclude("admin-cms/library/plugins/redactor/redactor.min.js");
			echo $this->tag->javascriptInclude("admin-cms/library/plugins/jquery.nice-file-input.js");
			echo $this->tag->javascriptInclude("admin-cms/library/plugins/selectize.min.js");
			echo $this->tag->javascriptInclude("admin-cms/library/plugins/jquery.icheck.min.js");
			echo $this->tag->javascriptInclude("admin-cms/library/plugins/ion.rangeSlider.min.js");
			echo $this->tag->javascriptInclude("admin-cms/library/plugins/pikaday.js");
			echo $this->tag->javascriptInclude("admin-cms/library/plugins/pikaday.jquery.js");
			echo $this->tag->javascriptInclude("admin-cms/library/js/loader.js");
		?>	
			<script>
			(function(w,d,s,g,js,fs){
			  g=w.gapi||(w.gapi={});g.analytics={q:[],ready:function(f){this.q.push(f);}};
			  js=d.createElement(s);fs=d.getElementsByTagName(s)[0];
			  js.src='https://apis.google.com/js/platform.js';
			  fs.parentNode.insertBefore(js,fs);js.onload=function(){g.load('analytics');};
			}(window,document,'script'));
			</script>

	</head>
	<body>
		<!-- top header navbar -->
		<nav class="navbar navbar-top-header hidden-xs" role="navigation">
			<div class="navbar-header" style="padding-left:4px;">
				<h3 style="padding-left:10px;color:white;"> MyBarangay Admin</h3>
			</div>

		</nav>
		<!-- ./ top header navbar -->
		
		<div id="main_wrapper">
			<div id="main_content">
				<!-- contents -->
				<?php echo $this->getContent() ?>			
				<!-- ./ contents -->				
			</div>
			
			<!-- sidebar -->
			<ul id="sidebar" class="nav nav-pills nav-stacked">

			</ul>
			<!-- ./ sidebar -->
		</div>
	
		<!-- base -->
	</body>
</html>