<!DOCTYPE HTML>
<html lang="en">
    <head>
    <!-- default 1-->
    <meta charset='UTF-8'>
    <meta name="keywords" content="MyBarangay, MyBarangay Official Page, MyBarangay Website, MyBarangay Official, MyBarangay Page"/>
    <meta name="description" content=""/>
    <meta name="language" content="EN">
    <meta name="robots" content="index,follow" />
    <meta name="Classification" content="Business">
    <meta name="author" content="GreenLogik">
    <meta name="designer" content="GreenLogik Team">
    <meta name="copyright" content="2015">
    <meta name="owner" content="GreenLogik Team">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="o1X_nboxjl0Qyf3Dv4NKvwDuGr13KtB3mh9EDasDvfY" />
    <title>MyBarangay Business Page</title>
    <?php
        echo $this->tag->stylesheetLink('themes3/css/reseter.css');
        echo $this->tag->stylesheetLink('themes3/themes/bootstrap/css/bootstrap-theme-simplex.css');
        echo $this->tag->stylesheetLink('themes3/themes/bootstrapSocial/assets/css/font-awesome.css'); 
        echo $this->tag->stylesheetLink('themes3/themes/bootstrapSocial/bootstrap-social.css'); 
        echo $this->tag->stylesheetLink('themes3/businessTemplate/style.css'); 
        echo $this->tag->stylesheetLink('themes3/css/alertify.core.css'); 
        echo $this->tag->stylesheetLink('themes3/css/alertify.default.css');

        echo $this->tag->javascriptInclude('themes3/js/jquery-1.11.1.min.js'); 
        echo $this->tag->javascriptInclude('themes3/js/bootstrap.min.js');  
        echo $this->tag->javascriptInclude('themes3/js/alertify.min.js');


    ?>

    </head>

    <body>

        <!-- content header -->
        <?php //echo $this->partial('partials/businessheader');?>


<div id="navigation-bar">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand"  href="<?php echo $this->url->getBaseUri(); ?>">
            <?php echo Phalcon\Tag::image(array("themes3/img/logo/logo1.png",'alt' => 'Hi KBG','class' =>'img-responsive logo1', )); ?>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">

                <?php
                $nav1 = '';
                $nav2 = '';
                $nav3 = '';
                $nav4 = '';       
                    if(isset($navact)){
                         switch ($navact) {
                             case 'profile':
                                 $nav1 = 'active';
                                 break;
                            case 'business':
                                 $nav2 = 'active';
                                 break;
                            case 'ads':
                                 $nav3 = 'active';
                                 break;
                            case 'statistic':
                                 $nav4 = 'active';
                                 break;
                         }
                    }
                ?>
    

                <li class="<?php echo $nav1; ?>" ><a href="<?php echo $this->url->getBaseUri().'biz/profile/'.$userid; ?>">My Profile</a></li> 
                <li class="<?php echo $nav2; ?>"><a href="<?php echo $this->url->getBaseUri().'biz/pageu/'.$userid; ?>">My Business</a></li>
                <li class="<?php echo $nav3; ?>"><a href="<?php echo $this->url->getBaseUri().'biz/manage_adu/'.$userid; ?>">My AD</a></li>
                <li class="<?php echo $nav4; ?>"><a href="<?php echo $this->url->getBaseUri().'biz/statistic/'.$userid; ?>">My Statistics</a></li>

                <!-- <li><a href="#">My Subscription</a></li> -->

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account 
                        
                    <?php
                    $profilePic = 'https://placehold.it/25x25&text=NO+PROFILE+PIC';
                        if( !empty($userSession) ) { 
                        $primaryPix = MemberPhotos::findFirst('member_id = "'.$userSession['id'].'" and primary_pic="Yes"');
                        if ($primaryPix) {
                            $profilePic = 'https://mybarangay.com'.$this->url->getBaseUri() . $primaryPix->file_path . $primaryPix->filename;
                        }
                    }
                    ?>
                        <img class="profile-img-circle" style="width:25px" src="<?php echo $profilePic; ?>">
                    </a>
                    <ul class="dropdown-menu">
                        <!-- <li><a href="#">Profile</a></li> -->
                        <li><a href="<?php echo $this->url->getBaseUri().'biz/logout'; ?>">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</div>


        <div class="body-wrapper" > <!-- start body wrapper -->
          <div class="container" > <!-- start body wrapper container -->
            <div class="row" > <!-- start body wrapper row -->

                <!-- content template -->
                <?=$this->getContent();?>

            </div><!-- end body wrapper row -->
          </div><!-- end body wrapper container -->
        </div><!-- end body wrapper -->


        <!-- default footer -->
        <?=$this->partial('partials/footer'); ?>


    </body>
</html>