<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="o1X_nboxjl0Qyf3Dv4NKvwDuGr13KtB3mh9EDasDvfY" />
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>MyBarangay</title>
    <!-- stepy -->
    <?php //echo $this->tag->stylesheetLink("themes/customize/stepy/application.css"); ?>
    <?php //echo $this->tag->stylesheetLink("themes/customize/stepy/jquery.stepy.css"); ?>
    <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">

    <!-- AdminLTE -->
    <?php echo $this->tag->stylesheetLink("themes/customize/css/ionicons.min.css"); ?>
    <?php echo $this->tag->stylesheetLink("themes/customize/css/AdminLTE.min.css"); ?>
    <?php echo $this->tag->stylesheetLink("themes/customize/css/skin-red.min.css"); ?>
    <!-- HoverEffect -->
    <?php echo $this->tag->stylesheetLink("themes/customize/css/normalize.css"); ?>
    <?php echo $this->tag->stylesheetLink("themes/customize/css/demo.css"); ?>
    <?php echo $this->tag->stylesheetLink("themes/customize/css/set2.css"); ?>
    <!-- Bootstrap core CSS -->
    <?php echo $this->tag->stylesheetLink("themes/customize/css/bootstrap.min.css"); ?>
    <?php echo $this->tag->stylesheetLink("themes/customize/css/slider.css"); ?>
    <!-- Custom styles for this template -->
    <?php echo $this->tag->stylesheetLink("themes/customize/css/customize.css"); ?>
    <?php echo $this->tag->stylesheetLink("themes/mybarangay1/css/font-awesome.min.css"); ?>

    <?php //echo $this->tag->stylesheetLink("themes/customize/css/ionicons.min.css"); ?>
    <?php //echo $this->tag->stylesheetLink("themes/customize/css/AdminLTE.min.css"); ?>
    <?php //echo $this->tag->stylesheetLink("themes/customize/css/skin-red.min.css"); ?>

    <?php echo $this->tag->javascriptInclude("themes/customize/js/jQuery-2.1.3.min.js"); ?>
    <?php echo $this->tag->javascriptInclude("themes/customize/stepy/jquery.min.js"); ?>
    <?php echo $this->tag->javascriptInclude("themes/customize/stepy/jquery.stepy.js"); ?>
    <?php echo $this->tag->javascriptInclude("themes/customize/stepy/jquery.validate.min.js"); ?>
<style>
  

/***********************
  Main Footer 00
***********************/

body{
  margin-bottom: 0px;
  padding-bottom:0px;
}

  /*#footer-wrapper{
    position: relative;
    bottom: 0;
border: 1px solid #ff0000;
margin-bottom: -20px;
  }

  #bottom {
    border-top: 5px solid #F5F5F5;
    background: #013a9b;
    width: 100%;
    color: #bdc3c7;
    padding-top:30px;
/*    padding-bottom: 20px;*/
/*  }*/
/*  #bottom h4 {
    margin-top: 0;

  }
  #bottom .media-heading {
    display: block;
    font-weight: 400;
  }*/
  #bottom {
    border-top: 5px solid #F5F5F5;
    background: #013a9b;
    width: 100%;
    color: #bdc3c7;
    padding-top:30px;
/*    padding-bottom: 20px;*/
  }
 #bottom h4 {
    margin-top: 0;

  }
  #bottom .media-heading {
    display: block;
    font-weight: 400;
  }
  #footer {
/*    background: #023283;*/
    padding-top: 30px;
 
    color: #bdc3c7;
  }
  #footer a {
    color: #bdc3c7;
  }
  #footer a:hover {
    color: #d9534f;
  }
  #footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  #footer ul > li {
    display: inline-block;
    margin-left: 15px;
  }

</style>


  </head>

  <body>
 	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.4";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
	</script>


    <?php $this->partial("layouts/elements/navbar") ?>
	
<!-- <div class="row">
        <div class="col-md-6 col-md-offset-3"><?php $this->flash->output(); ?></div>
      </div> -->
		  <?php echo $this->getContent() ?>

   <div class="container-fluid col-md-12" style="background-color:#013A9B;margin-bottom:-20px!important;padding:10px 0px;bottom:0;position:relative;">
      <div class="container" style="color:#fff;">

        <div class="row">
            <div class="col-md-3 col-sm-6">
                <h4>MyBarangay About</h4>
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</p>
                <p>Pellentesque habitant morbi tristique senectus.</p>
            </div><!--/.col-md-3-->

            <div class="col-md-3 col-sm-6">
                <h4>Company</h4>
                <div>
                    <ul class="arrow" >
                        <li><a style="color:#f3f3f3" href="#">Company Overview</a></li>
                        <li><a style="color:#f3f3f3" href="#">Meet The Team</a></li>
                        <li><a style="color:#f3f3f3" href="#">Our Awesome Partners</a></li>
                        <li><a style="color:#f3f3f3" href="#">Our Services</a></li>
                        <li><a style="color:#f3f3f3" href="#">Frequently Asked Questions</a></li>
                        <li><a style="color:#f3f3f3" href="#">Conatct Us</a></li>
                        <li><a style="color:#f3f3f3" href="#">Privacy Policy</a></li>
                        <li><a style="color:#f3f3f3" href="#">Terms of Use</a></li>
                        <li><a style="color:#f3f3f3" href="#">Copyright</a></li>
                    </ul>
                </div>
            </div><!--/.col-md-3-->

               <div class="col-md-3 col-sm-6">
                    <h4>Latest Blog</h4>
                    <div>
                        <div class="media">
                            <div class="pull-left">
                                <img src="https://placehold.it/50x50/bbb/fff" alt="">
                            </div>
                            <div class="media-body">
                                <span class="media-heading" ><a href="#" style="color:#f3f3f3">Pellentesque habitant morbi tristique senectus</a></span>
                                <small class="muted">Posted 17 Aug 2013</small>
                            </div>
                        </div>
                        <div class="media">
                            <div class="pull-left">
                                <img src="https://placehold.it/50x50/bbb/fff" alt="">
                            </div>
                            <div class="media-body">
                                <span class="media-heading"><a href="#"  style="color:#f3f3f3">Pellentesque habitant morbi tristique senectus</a></span>
                                <small class="muted">Posted 13 Sep 2013</small>
                            </div>
                        </div>
                        <div class="media">
                            <div class="pull-left">
                                <img src="https://placehold.it/50x50/bbb/fff" alt="">
                            </div>
                            <div class="media-body">
                                <span class="media-heading" ><a href="#" style="color:#f3f3f3">Pellentesque habitant morbi tristique senectus</a></span>
                                <small class="muted">Posted 11 Jul 2013</small>
                            </div>
                        </div>
                    </div>  
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <h4>Address</h4>
                    <address>
                        <strong>Twitter, Inc.</strong><br>
                        795 Folsom Ave, Suite 600<br>
                        San Francisco, CA 94107<br>
                        <abbr title="Phone">P:</abbr> (123) 456-7890
                    </address>
                    <h4>Newsletter</h4>
                    <form role="form">
                        <div class="input-group">
                            <input type="text" class="form-control" autocomplete="off" placeholder="Enter your email">
                            <span class="input-group-btn">
                                <button class="btn btn-danger" type="button">Go!</button>
                            </span>
                        </div>
                    </form>
                </div> <!--/.col-md-3-->




        </div>




      </div>
    
 <footer id="footer" style="position:relative;bottom:0;margin-bottom:-20px!important;">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 col-md-4">
                    &copy; 2013 <a target="_blank" href="" title="">GreenLogik</a>. All Rights Reserved.
                </div>
                <div class="col-sm-7 col-md-8">
                    <ul class="pull-right">

            <li><?php echo Phalcon\Tag::linkTo(array('#', 'About', 'class' => 'footer_link'));?></li>
            <li><?php echo Phalcon\Tag::linkTo(array('#', 'Contact Us', 'class' => 'footer_link'));?></li>
            <li><?php echo Phalcon\Tag::linkTo(array('#', 'Disclaimer', 'class' => 'footer_link'));?></li>
            <li><?php echo Phalcon\Tag::linkTo(array('biz/signup', 'MyBarangay for Business', 'class' => 'footer_link'));?></li>
            <li><?php echo Phalcon\Tag::linkTo(array('advertiser/signup', 'MyBarangay for Advertiser', 'class' => 'footer_link'));?></li>
            <li><?php echo Phalcon\Tag::linkTo(array('biz/biz_claimsearch', 'Claim Business', 'class' => 'footer_link'));?></li>

                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->


    </div> <!-- /container -->
	  

    <?php echo $this->tag->javascriptInclude("themes/customize/js/bootstrap.min.js"); ?>

  
    <?php echo $this->tag->javascriptInclude("themes/customize/js/app.js"); ?>

  </body>
</html>

<script type="text/javascript">
  var session = "<?php if($userSession){ echo true; } else { echo false; } ?>";
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
      $('.cancel').on('click', function() { 
        $('.cd-modal-close').trigger('click');
        $('.cd-modal-close')[0].click();
      });

      $('.restricted').on('click', function(e) { 
          if(session == false){
            e.preventDefault();
            $('#login').modal('show');
          }
      });

    });
    
    function googleAuth(authResult) {
        var gData = authResult;
        var y = false;
      $('#signinButton').on('click', function() { 
         y = true;
         var authResult = gData;
                  
        if (authResult['code'] && y == true) {
            // Hide the sign-in button now that the user is authorized, for example:
            $('#signinButton').attr('style', 'display: none');
            //console.log(authResult);
            // Send the code to the server
            $.ajax({
              type: 'POST',
              url: 'member/loginWithGoogle/',
              data: {code : authResult['code'], access_token : authResult['access_token']},
              //processData: true
              //contentType: 'application/octet-stream; charset=utf-8',
              success: function(result) {
                var obj = jQuery.parseJSON( result );
                // Handle or verify the server response if necessary.

                // Prints the list of people that the user has allowed the app to know
                // to the console.
                //console.log(result['status']);
                if(obj['status'] == 'OK') {
                  window.location.href = "/mybarangay/";
                }
               
              }
              
            });
        } else if (authResult['error']) {
            // There was an error.
            // Possible error codes:
            //   "access_denied" - User denied access to your app
            //   "immediate_failed" - Could not automatially log in the user
            console.log('There was an error: ' + authResult['error']);
        }
      }); 
    }
  
  </script>

<script type="text/javascript">

   $(function() {
        $('#realtyNew').stepy();

      });
  $(document).ready(function() {

    $('#realtyType').on('change', function(){ 
      var categoryId = $(this).val();
      $.getJSON("/mybarangay/realty_category/list/"+categoryId, function(data) {
          $("#realtyCategory option").remove();
          $("#realtyCategory").append('<option value=""> Select category</option>');
          $.each(data, function(){
              $("#realtyCategory").append('<option value="'+ this.id +'">'+ this.name +'</option>')
          });
      });
    });

    function readURL(input, imgNo) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#imagePrev'+imgNo).attr('src', e.target.result);
                $('#action'+imgNo).html('<button class="btn btn-danger btn-xs trash" type="button" data-img="'+imgNo+'"><span class="fa fa-trash"></span></button>');
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    $('[type="file"]').change(function(){
      var imgNo = $(this).data('image');
        readURL(this, imgNo);
    });

    $(document).on('click', '.trash', function(){
      var imgNo = $(this).data('img');
      $('input[name="image'+imgNo+'"]').val('');
        $('#imagePrev'+imgNo).attr('src', 'http://placehold.it/100&text=image+'+imgNo);
        $('#action'+imgNo).html('');
    });
    
  });
</script> 
