<!DOCTYPE HTML>
<html lang="en">
  <head>
<!-- default 1-->
    <meta charset='UTF-8'>
    <meta name="keywords" content="MyBarangay, MyBarangay Official Page, MyBarangay Website, MyBarangay Official, MyBarangay Page"/>
    <meta name="description" content=""/>
    <meta name="subject" content="">
    <meta name="copyright" content="">
    <meta name="language" content="EN">
    <meta name="robots" content="index,follow" />
    <meta name="topic" content="">
    <meta name="summary" content="">
    <meta name="Classification" content="Business">
    <meta name="author" content="GreenLogik">
    <meta name="designer" content="GreenLogik Team">
    <meta name="copyright" content="2015">
    <meta name="reply-to" content="">
    <meta name="owner" content="GreenLogik Team">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="cache-control" content="max-age=604800" />
    <!--<meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="-1" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />

    <meta http-equiv="pragma" content="no-cache" />-->
    <meta name="google-site-verification" content="o1X_nboxjl0Qyf3Dv4NKvwDuGr13KtB3mh9EDasDvfY" />
    <!--<meta property="fb:admins" content="jpprjn"/>-->
    <title>MyBarangay</title>
    <link rel="shortcut icon" href="https://mybarangay.com/favicon.ico" type="image/x-icon"/>
<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//mybarangay.cloudapp.net/analytics/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 1]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//mybarangay.cloudapp.net/analytics/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','//connect.facebook.net/en_US/fbevents.js');
fbq('init', '759439777509626');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=759439777509626&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
      <?php 
      //Css tags
      echo $this->tag->stylesheetLink('themes3/css/reseter.css');
      echo $this->tag->stylesheetLink('themes3/css/animate.css');       
      echo $this->tag->stylesheetLink('themes3/themes/bootstrap/css/bootstrap-theme-simplex.css');
      echo $this->tag->stylesheetLink('themes3/themes/bootstrapValidator/bootstrapValidator.min.css');
    //  echo $this->tag->stylesheetLink('themes3/css/css/font-awesome.min.css');
      echo $this->tag->stylesheetLink('themes3/css/main-style.css'); 
      echo $this->tag->stylesheetLink('themes3/css/customize-bootstrap.css'); 
      echo $this->tag->stylesheetLink('themes3/css/menubar.css'); 
      echo $this->tag->stylesheetLink('themes3/css/widget.css'); 
      echo $this->tag->stylesheetLink('themes3/themes/bootstrapCombobox/css/bootstrap-combobox.css');


      echo $this->tag->stylesheetLink('themes3/css/nivo-lightbox.css'); 
      echo $this->tag->stylesheetLink('themes3/css/nivo-lightbox-theme/default/default.css'); 
      echo $this->tag->stylesheetLink('themes3/css/owl.carousel.css'); 
      echo $this->tag->stylesheetLink('themes3/css/owl.theme.css'); 
      // alertify
      echo $this->tag->stylesheetLink('themes3/css/alertify.core.css'); 
      echo $this->tag->stylesheetLink('themes3/css/alertify.default.css');
      // icomoon
      echo $this->tag->stylesheetLink("admin-cms/library/css/icomoon.css"); 

      echo $this->tag->stylesheetLink('themes3/themes/bootstrapSocial/assets/css/font-awesome.css'); 
      echo $this->tag->stylesheetLink('themes3/themes/bootstrapSocial/bootstrap-social.css'); 

      // summernote text-editor
      //echo $this->tag->stylesheetLink('css/summernote.css');

      echo $this->tag->javascriptInclude('themes3/js/jquery-1.11.1.min.js'); 
      echo $this->tag->javascriptInclude('themes3/js/jquery.validate.js'); 
      echo $this->tag->javascriptInclude('themes3/js/alertify.min.js');
      //echo $this->tag->javascriptInclude('js/summernote.js');
      echo $this->tag->javascriptInclude('themes3/themes/bootstrapCombobox/js/bootstrap-combobox.js');
      echo $this->tag->javascriptInclude('themes3/js/slider.js');  
      ?>
      <script src="https://apis.google.com/js/client:platform.js" async defer></script>
    <style>
      body{ background: rgb(236,240,241); }
    </style>


  </head>
  <body>
  <div id="fb-root"></div>

<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.4";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<!-- BackToTop Button -->
    <a href="#" id="scroll" title="Scroll to Top" style="display: none;z-index:99999999">Top<span></span></a>

      <?php 
      if(isset($userSession['type'])) { 
      if ($userSession['type'] == 'Business') {
      $this->partial('partials/businessHeader');
      }
      if ($userSession['type'] == 'Member') {
      $this->partial('partials/header');
      }
      }else{
      $this->partial('partials/header');
      }
      ?>

    <!-- content template -->
    <?=$this->getContent();?>

    <!-- default footer -->
    <?=$this->partial('partials/footer'); ?>



<!-- Modal -->
<div class="modal fade" id="flagModalCar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><span style="font-family:Arial;color:red;font-weight:bold;"><span class="glyphicon glyphicon-flag" style="color: red;"></span> Flag Review</span></h4>
      </div>
      <div class="modal-body">
        <p>Please refer to our 'Terms of Use' and 'Privacy Policy' and let us know why you think the content you've reported may violate these guidelines</p>

        <br>

        <p style="font-weight:bold">Why do you want to report this review?</p>
        <form action="">
          <input id="flagId" type="hidden" class="form-control"/>
          <input id="reviewId" type="hidden" class="form-control" />
          <input id="reviewerId" type="hidden" class="form-control" />
          <input id="flaggerId" type="hidden" class="form-control" />
          <select id="flag_type" class="form-control">
            <option value="0">Select and option...</option>
            <?php $flagOptions = FlagTypes::find(); 
              foreach ($flagOptions as $option) {
            ?>
              <option value="<?= $option->id ?>"><?= $option->detail ?></option>
            <?php } ?>
          </select>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="flagifyCar" type="button" class="btn btn-primary">Flag</button>
      </div>
    </div>
  </div>
</div>


      <?php 
      //javacript
      echo $this->tag->javascriptInclude('themes3/themes/aspectcorrect/aspectcorrect.js'); 
      echo $this->tag->javascriptInclude('themes3/js/customize.js');  
      echo $this->tag->javascriptInclude('themes3/js/bootstrap.min.js');  
      echo $this->tag->javascriptInclude('themes3/js/jquery.matchHeight.js');  
      echo $this->tag->javascriptInclude('themes3/themes/bootstrapValidator/bootstrapValidator.min.js');
      // echo $this->tag->javascriptInclude("themes/customize/stepy/jquery.stepy.js");
      echo $this->tag->javascriptInclude('themes3/js/owl.carousel.min.js');  
      echo $this->tag->javascriptInclude('themes3/js/nivo-lightbox.min.js'); 
      // radactor html editor
      echo $this->tag->javascriptInclude("admin-cms/library/plugins/redactor/redactor.min.js");
      echo $this->tag->javascriptInclude('themes3/js/dhm.js');  


      ?>

<script type="text/javascript">
$(document).ready(function() {
  <?php 
    if ($this->session->has('proceed')) {
      echo "$('#restricted-modal').modal('show');";
      echo "console.log('loaded');";
      $this->session->remove('proceed');
    }
  ?>
  
});

</script>

    <!-- Match Height for Home Tabs Panel Items and Cropit or ristricted area -->
    <script type="text/javascript">
        $(document).ready(function() {

            rememberTabSelection('#rowTab', !localStorage);
     

            $('.combobox').combobox();
            // image thumbnail
            $( ".custom-thumbnail img" ).each(function() {
                var someImg = $(this);
                if (someImg.height() > someImg.width()){
                    $( this ).addClass( "portrait" );
                }
            });

            // tool user session
            var session = "<?php if($userSession){ echo true; } else { echo false; } ?>";
            $(document).ready(function(){
                $('[data-toggle="tooltip"]').tooltip();
                $('.cancel').on('click', function() { 
                $('.cd-modal-close').trigger('click');
                $('.cd-modal-close')[0].click();
                });
            });
            // restricted area
            $('.restricted').on('click', function(e) { 
                if(session == false){
                    e.preventDefault();
                    $('#login-modal').modal('show');
                }
            });
            // restricted area
            $('.restricted2').on('click', function(e) { 
                if(session == false){
                    e.preventDefault();
                    $('#restricted-modal').modal('show');
                }
            });

            // match size box
            var byRow = $('body').hasClass('test-rows');
            // apply matchHeight to each item container's items
            $('.item-match').each(function() {
                $(this).children('.matcher').matchHeight({
                byRow: byRow
                });
            });


            $(window).scroll(function(){ 
                if ($(this).scrollTop() > 100) { 
                    $('#scroll').fadeIn(); 
                } else { 
                    $('#scroll').fadeOut(); 
                } 
            }); 

            $('#scroll').click(function(){ 
                $("html, body").animate({ scrollTop: 0 }, 600); 
                return false; 
            }); 


        });
         

    function rememberTabSelection(tabPaneSelector, useHash) {
        var key = 'selectedTabFor' + tabPaneSelector;
        if(get(key)) {
            $(tabPaneSelector).find('a[href=' + get(key) + ']').tab('show');
            $(tabPaneSelector).on("click", 'a[data-toggle]', function(event) {
            set(key, this.getAttribute('href'));
            }); 
        }
        function get(key) {
            return useHash ? location.hash: localStorage.getItem(key);
        }

        function set(key, value){
            if(useHash){
                location.hash = value;
            }else{
                localStorage.setItem(key, value);
            }
        }
    }



    function flagAll(reviewer, reporter, reviewId, counter) {
      $('#reviewerId').val(reviewer);
      $('#reviewId').val(reviewId);
      $('#flaggerId').val(reporter);
      $('#flagId').val(counter);
    }


    function googleAuth(authResult) {
        var gData = authResult;
        var y = false;
      $('#signinButton').on('click', function() { 
         y = true;
         var authResult = gData;
                  
        if (authResult['code'] && y == true) {
            // Hide the sign-in button now that the user is authorized, for example:
            $('#signinButton').attr('style', 'display: none');
            //console.log(authResult);
            // Send the code to the server
            $.ajax({
              type: 'POST',
              url: 'member/loginWithGoogle/',
              data: {code : authResult['code'], access_token : authResult['access_token']},
              //processData: true
              //contentType: 'application/octet-stream; charset=utf-8',
              success: function(result) {
                var obj = jQuery.parseJSON( result );
                // Handle or verify the server response if necessary.

                // Prints the list of people that the user has allowed the app to know
                // to the console.
                //console.log(result['status']);
                if(obj['status'] == 'OK') {
                  window.location.href = "/mybarangay/";
                }
              }
              
            });
        } else if (authResult['error']) {
            // There was an error.
            // Possible error codes:
            //   "access_denied" - User denied access to your app
            //   "immediate_failed" - Could not automatially log in the user
            console.log('There was an error: ' + authResult['error']);
        }
      }); 
    }
  
  </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-56550685-1', 'auto');
      ga('send', 'pageview');

    </script>

  </body>
</html>
