<!DOCTYPE HTML>
<html lang="en">
	<head>
<!-- default 2-->
    <meta charset='UTF-8'>
    <meta name="keywords" content="MyBarangay, MyBarangay Official Page, MyBarangay Website, MyBarangay Official, MyBarangay Page"/>
    <meta name="description" content=""/>
    <meta name="subject" content="">
    <meta name="copyright" content="">
    <meta name="language" content="EN">
    <meta name="robots" content="index,follow" />
    <meta name="topic" content="">
    <meta name="summary" content="">
    <meta name="Classification" content="Business">
    <meta name="author" content="GreenLogik">
    <meta name="designer" content="GreenLogik Team">
    <meta name="copyright" content="2015">
    <meta name="reply-to" content="">
    <meta name="owner" content="GreenLogik Team">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="o1X_nboxjl0Qyf3Dv4NKvwDuGr13KtB3mh9EDasDvfY" />
    <title>MyBarangay</title>

	    <?php 
	    //Css tags
	 //Css tags
      echo $this->tag->stylesheetLink('themes3/css/reseter.css');
      echo $this->tag->stylesheetLink('themes3/css/animate.css');       
      echo $this->tag->stylesheetLink('themes3/themes/bootstrap/css/bootstrap-theme-simplex.css');
      echo $this->tag->stylesheetLink('themes3/themes/bootstrapValidator/bootstrapValidator.min.css');
    //  echo $this->tag->stylesheetLink('themes3/css/css/font-awesome.min.css');
      echo $this->tag->stylesheetLink('themes3/css/main-style.css'); 
      echo $this->tag->stylesheetLink('themes3/css/customize-bootstrap.css'); 
      echo $this->tag->stylesheetLink('themes3/css/menubar.css'); 
      echo $this->tag->stylesheetLink('themes3/css/widget.css'); 
      echo $this->tag->stylesheetLink('themes3/themes/bootstrapCombobox/css/bootstrap-combobox.css');


      echo $this->tag->stylesheetLink('themes3/css/nivo-lightbox.css'); 
      echo $this->tag->stylesheetLink('themes3/css/nivo-lightbox-theme/default/default.css'); 
      echo $this->tag->stylesheetLink('themes3/css/owl.carousel.css'); 
      echo $this->tag->stylesheetLink('themes3/css/owl.theme.css'); 
      // alertify
      echo $this->tag->stylesheetLink('themes3/css/alertify.core.css'); 
      echo $this->tag->stylesheetLink('themes3/css/alertify.default.css');

      echo $this->tag->javascriptInclude('themes3/js/jquery-1.11.1.min.js'); 
      echo $this->tag->javascriptInclude('themes3/js/jquery.validate.js'); 
      echo $this->tag->javascriptInclude('themes3/js/alertify.min.js');
      echo $this->tag->javascriptInclude('themes3/themes/bootstrapCombobox/js/bootstrap-combobox.js');
	    ?>
      <script src="https://apis.google.com/js/client:platform.js" async defer></script>
    <style>
      body{
        background: #a7a7a7;
      }
      .cropit-image-preview {
        background-color: #f8f8f8;
        background-size: cover;
        border: 1px solid #ccc;
        border-radius: 3px;
        margin-top: 7px;
        width: 250px;
        height: 250px;
        cursor: move;
      }

      .cropit-image-background {
        opacity: .2;
        cursor: auto;
      }



      .image-size-label {
        margin-top: 10px;
      }

  
      #result {
        margin-top: 10px;
        width: 900px;
      }

      #result-data {
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        word-wrap: break-word;
      }

      .ellipsisx{
        /* Fallback for non-webkit */
        display: -webkit-box;
        /* Fallback for non-webkit */
        margin: 0 auto;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }


      .ellipsis{
        /* Fallback for non-webkit */
        display: -webkit-box;
        height: 40px;
        /* Fallback for non-webkit */
        margin: 0 auto;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .ellipsis2 {
          white-space: nowrap; 
          width: 100%; 
          overflow: hidden;
          text-overflow: ellipsis; 
      }
      .ellipsis3{
        /* Fallback for non-webkit */
        display: -webkit-box;
        height: 80px;
  
        /* Fallback for non-webkit */
        margin: 0 auto;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .ellipsis4{
        /* Fallback for non-webkit */
        display: -webkit-box;
        height: 40px;

        float: left;
        /* Fallback for non-webkit */
     
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }



      .custom-thumbnail {
        position: relative;
        width: 100%;
        height: 120px;
        overflow: hidden;
      }
      .custom-thumbnail img {
        position: absolute;
        left: 50%;
        top: 50%;
        height: auto;
        width: 100%;
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
      }
      .custom-thumbnail img.portrait {
        width: 100%;
        height: auto;
      }

      .shadow {
        border:1px solid #ccc;
      } 

      .page-head-line {
        font-weight: 900;
        padding-bottom: 2px;
        border-bottom: 2px solid #F0677C;
        text-transform: uppercase;
        color: #F0677C;
        font-size: 20px; 
        margin-bottom: 40px;
      }

    .matcher-height{

      height: 280px;
 
    }



    </style>
	</head>
	<body>
		<!-- default header -->

<div style="position:fixed;z-index:99999;background:#ff0000;padding:4px 10px;right:0;top:25px;color:#fff;opacity:0.7;font-size:12px;">Beta version</div>



      <?php 
                $this->partial('partials/headerbus2');
            
         ?>


    <?php 
    // if ($userSession['type'] == 'Business') { 
    //       $this->partial('partials/headerbus');
    // }else{
         // $this->partial('partials/header');
    // }
   ?>

		<!-- content template -->
		<?=$this->getContent();?>

		<!-- default footer -->
		<?=$this->partial('partials/footer'); ?>
	    <?php 

	    //javacript
      echo $this->tag->javascriptInclude('themes3/themes/aspectcorrect/aspectcorrect.js'); 
	    echo $this->tag->javascriptInclude('themes3/js/customize.js');  
	    echo $this->tag->javascriptInclude('themes3/js/bootstrap.min.js');  
	   	echo $this->tag->javascriptInclude('themes3/js/jquery.matchHeight.js');  
	 	  echo $this->tag->javascriptInclude('themes3/themes/bootstrapValidator/bootstrapValidator.min.js');
      echo $this->tag->javascriptInclude("themes/customize/stepy/jquery.stepy.js");
	    ?>

    <?php //echo $this->tag->javascriptInclude("themes3/themes/cropit/js/jquery.cropit.min.js"); ?>
  
		<!-- Match Height for Home Tabs Panel Items and Cropit or ristricted area -->
	    <script type="text/javascript">

            (function() {

                $(function() {

                    // image thumbnail
                    $( ".custom-thumbnail img" ).each(function() {
                      var someImg = $(this);
                      if (someImg.height() > someImg.width()){
                          $( this ).addClass( "portrait" );
                      }
                    });

                    // restricted area
                    $('.restricted').on('click', function(e) { 
                        if(session == false){
                          e.preventDefault();
                          $('#login-modal').modal('show');
                        }
                    });

                    // tool user session
                    var session = "<?php if($userSession){ echo true; } else { echo false; } ?>";
                      $(document).ready(function(){
                        $('[data-toggle="tooltip"]').tooltip();
                        $('.cancel').on('click', function() { 
                          $('.cd-modal-close').trigger('click');
                          $('.cd-modal-close')[0].click();
                        });
                    });
                      

                    $('.image-editor').cropit();
                    // $('form').submit(function() {
                    //   // Move cropped image data to hidden input
                    //   var imageData = $('.image-editor').cropit('export');
                    //   $('.hidden-image-data').val(imageData);

                    //   // Print HTTP request params
                    //   var formValue = $(this).serialize();
                    //   $('#result-data').text(formValue);

                    //   // Prevent the form from actually submitting
                    //   return false;
                    // });

                  
                    // match size box
                    var byRow = $('body').hasClass('test-rows');
                    // apply matchHeight to each item container's items
                    $('.item-match').each(function() {
                        $(this).children('.matcher').matchHeight({
                            byRow: byRow
                        });
                    });



                });
            })();


    function googleAuth(authResult) {
        var gData = authResult;
        var y = false;
      $('#signinButton').on('click', function() { 
         y = true;
         var authResult = gData;
                  
        if (authResult['code'] && y == true) {
            // Hide the sign-in button now that the user is authorized, for example:
            $('#signinButton').attr('style', 'display: none');
            //console.log(authResult);
            // Send the code to the server
            $.ajax({
              type: 'POST',
              url: 'member/loginWithGoogle/',
              data: {code : authResult['code'], access_token : authResult['access_token']},
              //processData: true
              //contentType: 'application/octet-stream; charset=utf-8',
              success: function(result) {
                var obj = jQuery.parseJSON( result );
                // Handle or verify the server response if necessary.

                // Prints the list of people that the user has allowed the app to know
                // to the console.
                //console.log(result['status']);
                if(obj['status'] == 'OK') {
                  window.location.href = "/mybarangay/";
                }
               
              }
              
            });
        } else if (authResult['error']) {
            // There was an error.
            // Possible error codes:
            //   "access_denied" - User denied access to your app
            //   "immediate_failed" - Could not automatially log in the user
            console.log('There was an error: ' + authResult['error']);
        }
      }); 
    }
  
  </script>


	</body>
</html>
