<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MB Blog</title>
    <?php
  // bootstrap
  echo $this->tag->stylesheetLink('vlogtheme/css/bootstrap.min.css');
  // for fontawesome icon css file
  echo $this->tag->stylesheetLink('vlogtheme/css/font-awesome.min.css');
  // for content animate css file
  echo $this->tag->stylesheetLink('vlogtheme/css/animate.css');
    ?>
    <!-- google fonts  -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Metal+Mania' rel='stylesheet' type='text/css'> 
    <link href='http://fonts.googleapis.com/css?family=Varela' rel='stylesheet' type='text/css'>

    <?php
  // for news ticker css file
  echo $this->tag->stylesheetLink('vlogtheme/css/li-scroller.css');
  // slick slider css file
  echo $this->tag->stylesheetLink('vlogtheme/css/slick.css');

  // website theme file
  // option: css/theme-red.css or css/theme-yellow.css
  //echo $this->tag->stylesheetLink('vlogtheme/css/theme.css');
  echo $this->tag->stylesheetLink('vlogtheme/css/theme.css');
  // main site css file
  echo $this->tag->stylesheetLink('vlogtheme/css/style.css');
    ?>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
      .morefun {
        font-family:"Harabara";
      }
  
  .userpic {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
  }
    .ellipsized {
        white-space: nowrap;
        width: 25%;
        overflow: hidden;
        text-overflow: ellipsis
    }
    </style>
  </head>
<body>
  <!-- =========================
    //////////////This Theme Design and Developed //////////////////////
    //////////// by www.wpfreeware.com======================-->

  <!-- Preloader -->
  <div id="preloader">
    <div id="status">&nbsp;</div>
  </div>
  <!-- End Preloader -->
   
  <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
  
  <div class="container">
    <div class="box_wrapper">
      <!-- ==================start header=============== -->
      <header id="header">     
        <!-- start header top area -->
        <div class="header_top">
            <!-- Static navbar -->
          <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>              
              </div>
              <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav custom_nav">
                  <li class=""><a href="<?=$this->url->getBaseUri()?>">Home</a></li>          
                  <li><a href="<?=$this->url->getBaseUri() .'review/search_business'?>">Write a Review</a></li>
                  <li><a href="<?=$this->url->getBaseUri() . 'event/index'?>">Events</a></li>
                  <li><a href="<?=$this->url->getBaseUri() . 'forum/index'?>">What's Up</a></li>
                  <li><a href="<?=$this->url->getBaseUri() . 'index/knowl_center#!/service'?>">Our Services</a></li>
                </ul>           
              </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
          </nav>
         <div class="header_search">
          <button id="searchIcon"><i class="fa fa-search"></i></button>
           <!-- <a id="searchIcon" href="#"><i class="fa fa-search"></i></a> -->
          <div id="shide">
            <div id="search-hide">
              <form>
              <input type="text" size="40" placeholder="Search here ...">
              </form>
              <button class="remove"><span><i class="fa fa-times"></i></span></button>
            </div>
          </div>
         </div>
        </div>
        <!-- End header top area -->

        <!-- start header bottom area -->
        <div class="header_bottom" style="background-image: url('http://payload.cargocollective.com/1/0/5395/314685/banig_rainbow_final.png');">
          <div class="logo_area">
          <!-- for your image logo -->
          <!-- <a class="logo" href="index.html">
           <img src="img/logo.jpg" alt="logo">
          </a> -->

          <!-- for your text logo -->
            <a class="logo" href="#">
           <!-- <b>S</b>ybar Magazine
            <span>A Pro Magazine Theme</span>-->
      <?php
    echo Phalcon\Tag::image(array("themes/customize/img/logo1.png",'alt' => 'Logo','class' =>'img-responsive img-barangay',
          'style' => 'cursor:pointer:padding-top:1px;margin-top:1px;max-width:120%'));
      ?>
            </a>
          </div>
          <div class="top_addarea">
      <?php
     //echo Phalcon\Tag::image(array('img/3.jpg','alt' => 'featured_ads', 'style'=>'width:80%;vertical-align:right;padding-right:0;margin-right:0;'));
      ?>
            <a href="#"><img src="<?=$this->url->getBaseUri() . 'img/ad/paradiseleaderb.jpg'?>" style="max-width:650px;"></a>
            <!--<a href="#"><img src="vlogtheme/img/addbanner_728x90_V1.jpg" alt="img"></a>-->
          </div>
        </div>
        <!-- start header top area -->     
      </header>    
      <!-- ==================End header=============== -->
      <!-- start news sticker -->
      <div class="latest_newsarea">      
        <span>Latest News</span>
        <ul id="ticker01" class="news_sticker">
          <li><a href="#">My First News Item</a></li> 
          <li><a href="#">My Second News Item</a></li>
          <li><a href="#">My Third News Item</a></li>
          <li><a href="#">My Four News Item</a></li> 
          <li><a href="#">My Five News Item</a></li>
          <li><a href="#">My Six News Item</a></li>
          <li><a href="#">My Seven News Item</a></li> 
          <li><a href="#">My Eight News Item</a></li>
          <li><a href="#">My Nine News Item</a></li>          
        </ul>    
      </div>
    <!-- End news sticker -->

    <!-- ==================start top thumbnail slidier =============== -->

    <!-- ==================End top thumbnail slidier =============== -->

    <!-- =========================
        //////////////This Theme Design and Developed //////////////////////
        //////////// by www.wpfreeware.com======================-->

    <!-- ==================start content body section=============== -->
    <section id="contentbody">
      <div class="row">
      <!-- start left bar content -->
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
          <div class="row">
            <div class="left_bar">
            <!-- start single leftbar -->
              <div class="single_leftbar">
                <h2><span>Recent Post</span></h2>
                <div class="singleleft_inner">
                  <ul class="recentpost_nav wow fadeInDown">
                    <li>
                      <a href="single_page.html"><img src="http://lorempixel.com/150/80/" alt="img"></a>
                      <a class="recent_title" href="single_page.html"> Curabitur ac dictum nisl eu hendrerit ante</a>
                      </li>
                      <li>
                      <a href="single_page.html"><img src="http://lorempixel.com/150/80/" alt="img"></a>
                      <a class="recent_title" href="single_page.html"> Curabitur ac dictum nisl eu hendrerit ante</a>
                      </li>
                      <li>
                      <a href="single_page.html"><img src="http://lorempixel.com/150/80/" alt="img"></a>
                      <a class="recent_title" href="single_page.html"> Curabitur ac dictum nisl eu hendrerit ante</a>
                      </li>
                  </ul>
                </div>
              </div>
              <!-- start single leftbar -->
              <div class="single_leftbar wow fadeInDown">
                <h2><span>Side Add</span></h2>
                <div class="singleleft_inner">
                <a href="#" style="margin-bottom: 10px !important;"><img src="http://itsmorefuninthephilippines.com/wp-content/uploads/downloads/2012/11/DOT_avatar.jpeg" style="margin-bottom: 10px !important;"></a>

                <br>
                 <a href="#"><img src="https://lorempixel.com/150/600/" alt="img"></a>

                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- End left bar content -->

        <!-- start left middlebar content -->
        <div class="col-lg-7 col-md-7 col-sm-8 col-xs-12">
          <div class="row">
            <div class="middle_bar">
<?php
define('DISQUS_SECRET_KEY', 'kulWbBhpMUPXL5pqwVgwaYpfC2HTI0QGYQXcVvIcS0ACcVP877vd8V0MAsHK0d92');
define('DISQUS_PUBLIC_KEY', 'Qh3wJmRsMdVfgURP5rLmVEd6ux1HQIn7mA7oRFLggzVOsWvjpWmKx4lg5kS6PDGO');
 $user = array ("id" => 1, "username" => "Loki", "email" => "mybarangaydummy01@gmail.com");
$data = array(
        "id" => $user["id"],
        "username" => $user["username"],
        "email" => $user["email"]
    );
 
function dsq_hmacsha1($data, $key) {
    $blocksize=64;
    $hashfunc='sha1';
    if (strlen($key)>$blocksize)
        $key=pack('H*', $hashfunc($key));
    $key=str_pad($key,$blocksize,chr(0x00));
    $ipad=str_repeat(chr(0x36),$blocksize);
    $opad=str_repeat(chr(0x5c),$blocksize);
    $hmac = pack(
                'H*',$hashfunc(
                    ($key^$opad).pack(
                        'H*',$hashfunc(
                            ($key^$ipad).$data
                        )
                    )
                )
            );
    return bin2hex($hmac);
}
 
$message = base64_encode(json_encode($data));
$timestamp = time();
$hmac = dsq_hmacsha1($message . ' ' . $timestamp, DISQUS_SECRET_KEY);
?>
<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_config = function() {
        this.page.remote_auth_s3 = "<?php echo "$message $hmac $timestamp"; ?>";
        this.page.api_key = "<?php echo DISQUS_PUBLIC_KEY; ?>";
    }

    alert("<?php echo $hmac; ?>");
</script>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'MyBarangay'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function () {
            var dsq = document.createElement('script');
            dsq.type = 'text/javascript';
            dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>;
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
<?php echo $hmac; ?>
            <!-- start featured slider -->
              <div class="featured_sliderarea">
                <!-- Carousel
                ================================================== -->
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                  </ol>
                  <div class="carousel-inner" role="listbox">
                    <div class="item active">
                      <img src="http://lorempixel.com/668/328/" alt="First slide">          
                      <div class="carousel-caption">
                        <h1><a href="#"> Aliquam malesuada diam eget turpis varius 1</a></h1>           
                      </div>          
                    </div>
                    <div class="item">
                      <img src="http://lorempixel.com/668/328/" alt="First slide">          
                      <div class="carousel-caption">
                         <h1><a href="#"> Aliquam malesuada diam eget turpis varius 2</a></h1>              
                      </div>          
                    </div>
                    <div class="item">
                      <img src="http://lorempixel.com/668/328/" alt="First slide">          
                      <div class="carousel-caption">
                         <h1><a href="#"> Aliquam malesuada diam eget turpis varius 3</a></h1>             
                      </div>          
                    </div>
                   <div class="item">
                      <img src="http://lorempixel.com/668/328/" alt="First slide">          
                      <div class="carousel-caption">
                         <h1><a href="#"> Aliquam malesuada diam eget turpis varius 4</a></h1>             
                      </div>          
                    </div>
                   
                  </div>
                  <a class="left left_slide" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>                     
                  </a>
                  <a class="right right_slide" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>                     
                  </a>
                </div><!-- /.carousel -->
              </div><!-- End featured slider -->

              <!-- start category one [event]-->
              <?php $this->partial('partials/vlog/cat1event'); ?>
              <!-- End category one [event]-->  

              <!-- start category Two -->
              <!-- End category Two --> 

              <div class="category_three_fourarea  wow fadeInDown">
                <div class="category_three">
                      <!-- start category Three -->
                  <div class="single_category">
                    <div class="category_title">
                      <a href="single_page.html">Cars and Trucks</a>
                    </div>
                    <div class="single_category_inner">
                      <ul class="catg_nav catg_nav3">
                        <li>
                          <div class="catgimg_container">
                            <a class="catg1_img" href="single_page.html">
                              <img src="http://lorempixel.com/292/150/" alt="img">
                              </a>
                          </div>
                          <a class="catg_title" href="#"> Curabitur ac dictum nisl eu hendrerit ante</a>
                          <div class="sing_commentbox">
                            <p><i class="fa fa-calendar"></i>19 Nov 2014</p>
                            <a href="#"><i class="fa fa-comments"></i>20 Comments</a>
                          </div>
                          <p class="post-summary">Duis erat purus, tincidunt vel ullamcorper ut, consequat tempus nibh. Proin condimentum risus ligula, dignissim mollis tortor hendrerit vel. Aliquam...</p>
                        </li>                   
                      </ul>
                      <?php
                          $autos = Automotives::find(array('limit' => 4));
                      ?>
                      <!-- start category3 bottom post -->
                      <div class="catg3_bottompost wow fadeInDown">
                        <ul class="catg3_snav">
                        <?php foreach ($autos as $auto) { ?>
                          <li>
                            <div class="media">
                              <a class="media-left" href="single_page.html">
                                <img src="http://lorempixel.com/70/70/" alt="img">
                              </a>
                              <div class="media-body">
                                <a class="catg_title" href="single_page.html"> <?=$auto->name?></a>
                                 <div class="sing_commentbox">
                                  <p><i class="fa fa-calendar"></i><?=$auto->created?></p>
                                  <a href="#"><i class="fa fa-comments"></i>20 Comments</a>
                                </div>
                              </div>
                            </div>
                          </li>
                        <?php } ?>
                        </ul>
                      </div>
                    </div>
                  </div>  
                </div><!-- End category three --> 
                <div class="category_four wow fadeInDown">
                  <!-- start category Four -->
                  <div class="single_category">
                    <div class="category_title">
                      <a href="#">Jobs</a>
                    </div>
                    <div class="single_category_inner">
                      <ul class="catg_nav catg_nav3">
                        <li>
                          <div class="catgimg_container">
                            <a class="catg1_img" href="single_page.html">
                              <img src="http://lorempixel.com/292/150/" alt="img">
                              </a>
                          </div>
                          <a class="catg_title" href="single_page.html"> Curabitur ac dictum nisl eu hendrerit ante</a>
                          <div class="sing_commentbox">
                            <p><i class="fa fa-calendar"></i>19 Nov 2014</p>
                            <a href="#"><i class="fa fa-comments"></i>20 Comments</a>
                          </div>
                           <p class="post-summary">Duis erat purus, tincidunt vel ullamcorper ut, consequat tempus nibh. Proin condimentum risus ligula, dignissim mollis tortor hendrerit vel. Aliquam...</p>
                        </li>                 
                      </ul>
                      <?php
                          $jobs = Jobs::find(array('limit' => 4));
                      ?>
                      <!-- start category4 bottom post -->
                      <div class="catg3_bottompost wow fadeInDown">
                        <ul class="catg3_snav">
                        <?php foreach ($jobs as $job) {?>
                          <li>
                            <div class="media">
                              <a class="media-left" href="single_page.html">
                                <img src="http://lorempixel.com/70/70/" alt="img">
                              </a>
                              <div class="media-body">
                                <a class="catg_title" href="#"> <?=$job->position?></a>
                                 <div class="sing_commentbox">
                                  <p><i class="fa fa-calendar"></i><?=$job->created?></p>
                                  <a href="#"><i class="fa fa-comments"></i>20 Comments</a>
                                </div>
                              </div>
                            </div>
                          </li>
                        <?php } ?>
                           
                        </ul>
                      </div>
                    </div>
                  </div> 
                </div><!-- End category Four --> 
              </div>
              <!-- start category Five -->
              <div class="category_three_fourarea  wow fadeInDown">
                <div class="category_three">
                      <!-- start category Three -->
                  <div class="single_category">
                    <div class="category_title">
                      <a href="single_page.html">Real Estate</a>
                    </div>
                    <div class="single_category_inner">
                      <ul class="catg_nav catg_nav3">
                        <li>
                          <div class="catgimg_container">
                            <a class="catg1_img" href="single_page.html">
                              <img src="http://lorempixel.com/292/150/" alt="img">
                              </a>
                          </div>
                          <a class="catg_title" href="#"> Curabitur ac dictum nisl eu hendrerit ante</a>
                          <div class="sing_commentbox">
                            <p><i class="fa fa-calendar"></i>19 Nov 2014</p>
                            <a href="#"><i class="fa fa-comments"></i>20 Comments</a>
                          </div>
                          <p class="post-summary">Duis erat purus, tincidunt vel ullamcorper ut, consequat tempus nibh. Proin condimentum risus ligula, dignissim mollis tortor hendrerit vel. Aliquam...</p>
                        </li>                   
                      </ul>
                      <?php
                          $realestates = Realties::find(array('limit' => 4));
                      ?>
                      <!-- start category3 bottom post -->
                      <div class="catg3_bottompost wow fadeInDown">
                        <ul class="catg3_snav">
                        <?php foreach ($realestates as $realestate) {?>
                          <li>
                            <div class="media">
                              <a class="media-left" href="single_page.html">
                                <img src="http://lorempixel.com/70/70/" alt="img">
                              </a>
                              <div class="media-body">
                                <a class="catg_title" href="single_page.html"> <?= $realestate->name ?></a>
                                 <div class="sing_commentbox">
                                  <p><i class="fa fa-calendar"></i><?=$realestate->created?></p>
                                  <a href="#"><i class="fa fa-comments"></i>20 Comments</a>
                                </div>
                              </div>
                            </div>
                          </li>
                        <?php } ?>
                        </ul>
                      </div>
                    </div>
                  </div>  
                </div><!-- End category three --> 
                <div class="category_four wow fadeInDown">
                  <!-- start category Four -->
                  <div class="single_category">
                    <div class="category_title">
                      <a href="#">Things</a>
                    </div>
                    <div class="single_category_inner">
                      <ul class="catg_nav catg_nav3">
                        <li>
                          <div class="catgimg_container">
                            <a class="catg1_img" href="single_page.html">
                              <img src="http://lorempixel.com/292/150/" alt="img">
                              </a>
                          </div>
                          <a class="catg_title" href="single_page.html"> Curabitur ac dictum nisl eu hendrerit ante</a>
                          <div class="sing_commentbox">
                            <p><i class="fa fa-calendar"></i>19 Nov 2014</p>
                            <a href="#"><i class="fa fa-comments"></i>20 Comments</a>
                          </div>
                           <p class="post-summary">Duis erat purus, tincidunt vel ullamcorper ut, consequat tempus nibh. Proin condimentum risus ligula, dignissim mollis tortor hendrerit vel. Aliquam...</p>
                        </li>                 
                      </ul>

                      <!-- start category4 bottom post -->
                      <?php
                          $things = Things::find(array('limit' => 4));
                      ?>
                      <!-- start bottom post -->
                      <div class="catg3_bottompost wow fadeInDown">
                        <ul class="catg3_snav">
                        <?php foreach ($things as $thing) {?>
                          <li>
                            <div class="media">
                              <a class="media-left" href="single_page.html">
                                <img src="http://lorempixel.com/70/70/" alt="img">
                              </a>
                              <div class="media-body">
                                <a class="catg_title" href="#"> <?=$thing->name?></a>
                                 <div class="sing_commentbox">
                                  <p><i class="fa fa-calendar"></i><?=$thing->created?></p>
                                  <a href="#"><i class="fa fa-caret-right"></i><?=$thing->price?></a>
                                </div>
                              </div>
                            </div>
                          </li>
                        <?php } ?>
                        </ul>
                      </div>
                      <!-- end bottom post -->
                    </div>
                  </div> 
                </div><!-- End category Four --> 
              </div>
              <!-- End category Five --> 
            </div>
          </div>
        </div>
        <!-- End left middlebar content -->

        <!-- start left rightbar content -->
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
          <div class="row">
            <div class="right_bar">
            <!-- start top 5 reviewers-->
    <?php $this->partial('partials/vlog/topreviewers'); ?>
      <!-- end top 5 reviewers -->
              <!-- start recent reviews -->
              <?php $this->partial('partials/vlog/recentreviews'); ?>
              <!-- End recent reviews --> 

               <!-- start right bar add -->
              <div class="single_leftbar wow fadeInDown">
                <h2><span>Side Ad</span></h2>
                <div class="singleleft_inner">
                 <a href="#"><img alt="img" src="http://lorempixel.com/262/218/"></a>

                 <!-- Currency Converter Script - EXCHANGERATEWIDGET.COM -->
<div style="width:198px;border:1px solid #55A516;"><div style="text-align:center;background-color:#55A516;width:100%;font-size:13px;font-weight:bold;height:18px;padding-top:2px;"><a href="https://www.exchangeratewidget.com/" style="color:#FFFFFF;text-decoration:none;">Currency Converter</a></div><script type="text/javascript" src="//www.exchangeratewidget.com/converter.php?l=en&f=CAD&t=USD&a=1&d=F0F0F0&n=FFFFFF&o=000000&v=1"></script></div>
<!-- End of Currency Converter Script -->
                </div>

              </div>
               <!-- End right bar add --> 

               <!-- start Tab -->
              <?php $this->partial('partials/vlog/whatsuptab'); ?>
              <!-- End Tab --> 

              <!-- start Blog Archive -->
              <div class="single_leftbar wow fadeInDown">
                <h2><span>Blog Archive</span></h2>
                <div class="singleleft_inner">
                 <div class="blog_archive">
                   <form>
                     <select>
                       <option value="">Blog Archive</option>
                       <option value="">October(20)</option>
                     </select>
                   </form>
                 </div>
                </div>
              </div>
              <!-- End Blog Archive --> 

              <!-- start biz categories -->
              <?php $this->partial('partials/vlog/bizcategoriesleft'); ?>
              <!-- End biz categories --> 

               <!-- start Links -->
               <div class="single_leftbar wow fadeInDown">
                <h2><span>Links</span></h2>
                <div class="singleleft_inner">
                <ul class="link_nav">
                  <li><a href="#">Blog Home</a></li>
                  <li><a href="#">Blog</a></li>
                  <li><a href="#">Error Page</a></li>
                  <li><a href="#">Wpfreeware</a></li>
                  <li><a href="#">Facebook Account</a></li>                  
                </ul>
                </div>
              </div>
              <!-- End Links --> 
            </div>
          </div>
        </div>
        <!-- End left rightbar content -->
      </div>
    </section>
    <!-- ==================End content body section=============== -->
    <footer id="footer">     
        <div class="footer_top">
          <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="single_footer_top wow fadeInLeft">
              <h2>Follow By Email</h2>
              <div class="subscribe_area">
                <p>"Subscribe here to get our newsletter, it is safe just Put your Email and click subscribe"</p>
                <form>
                  <div class="subscribe_mail">
                    <input class="form-control" type="email" placeholder="Email Address">
                    <i class="fa fa-envelope"></i>
                  </div>
                  <input class="submit_btn" type="submit" value="Submit">
                </form>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="single_footer_top wow fadeInLeft">
              <h2>Recent Reviews</h2>
              <ul class="catg3_snav ppost_nav">
                <li>
                  <div class="media">
                    <a class="media-left" href="single_page.html">
                      <img src="http://lorempixel.com/70/70/" alt="img">
                    </a>
                    <div class="media-body">
                      <a class="catg_title" href="single_page.html"> Aliquam malesuada diam eget turpis varius</a>                    
                    </div>
                  </div>
                </li>
                 <li>
                  <div class="media">
                    <a class="media-left" href="single_page.html">
                      <img src="http://lorempixel.com/70/70/" alt="img">
                    </a>
                    <div class="media-body">
                      <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a>                                
                    </div>
                  </div>
                </li>
                  <li>
                  <div class="media">
                    <a class="media-left" href="#">
                      <img src="http://lorempixel.com/70/70/" alt="img">
                    </a>
                    <div class="media-body">
                      <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a>                               
                    </div>
                  </div>
                </li>                                       
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="single_footer_top wow fadeInRight">
              <h2>Labels</h2>
              <ul class="footer_labels">
                <li><a href="#">Comedy</a></li>
                <li><a href="#">Arts</a></li>
                <li><a href="#">Cinema</a></li>
                <li><a href="#">Nature</a></li>
                <li><a href="#">Sports</a></li>
                <li><a href="#">Tourism</a></li>
                <li><a href="#">Videos</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="single_footer_top wow fadeInRight">
              <h2>Contact Form</h2>
              <form class="contact_form">
                <label>Name</label>
                <input class="form-control" type="text">
                <label>Email*</label>
                <input class="form-control" type="email">
                <label>Message*</label>
                <textarea class="form-control" cols="30" rows="10"></textarea>
                <input class="send_btn" type="submit" value="Send">
              </form>
            </div>
          </div>
        </div>  
        <div class="footer_bottom">
          <div class="footer_bottom_left">
            <p>&copy; 2015 <a href="http://www.mybarangay.com/" rel="nofollow">MyBarangay Ventures, Ltd</a>. All Rights Reserved.</p>
          </div>

          <!-- =========================
          //////////////This Theme Design and Developed //////////////////////
          //////////// by www.wpfreeware.com======================-->

          <div class="footer_bottom_right">
            <ul>
              <li><a class="tootlip" data-toggle="tooltip" data-placement="top" title="Twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="tootlip" data-toggle="tooltip" data-placement="top" title="Facebook" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="tootlip" data-toggle="tooltip" data-placement="top" title="Googel+" href="#"><i class="fa fa-google-plus"></i></a></li>
              <li><a class="tootlip" data-toggle="tooltip" data-placement="top" title="Youtube" href="#"><i class="fa fa-youtube"></i></a></li>
              <li><a class="tootlip" data-toggle="tooltip" data-placement="top" title="Rss" href="#"><i class="fa fa-rss"></i></a></li>
            </ul>
          </div>
        </div>  
      </footer>
    </div><!-- /.box_wrapper -->
  </div><!-- /.container -->


  <!-- jQuery Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
  <?php
  // javascript here
  // for content animation
  echo $this->tag->javascriptInclude('vlogtheme/js/wow.min.js'); 
  // bootstrap js file
  echo $this->tag->javascriptInclude('vlogtheme/js/bootstrap.min.js'); 
  // slick slider js file
  echo $this->tag->javascriptInclude('vlogtheme/js/slick.min.js');
  // news ticker jquery file
  echo $this->tag->javascriptInclude('vlogtheme/js/jquery.li-scroller.1.0.js');
  // custom js file include
  echo $this->tag->javascriptInclude('vlogtheme/js/custom.js');
  
?> 
<script>
  //alert('SORRY FOR THE INCONVENIENCE. BLOG IS UNDER CONSTRUCTION');
</script>
  <!-- =========================
        //////////////This Theme Design and Developed //////////////////////
        //////////// by www.wpfreeware.com======================-->
    
      
  </body>
</html>
